﻿@model MASCore.Models.SolicitudesWebVMBusqueda

@using MASCore.Models

@{
    ViewBag.Title = "Módulo de Búsqueda de Solicitudes Web";
    FuncionesProcedimientos FunProc2 = new FuncionesProcedimientos();
}

<div style="text-align:center; color:Red;font-size:medium">
    @ViewBag.NoValidoPor
</div>

@using (Html.BeginForm("BuscaSolicitudesWeb", "SolicitudesWeb", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h4>Criterios de consulta</h4>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <table style="width: 100%">
                                <tr style="height: 50px;">
                                    <td style="width: 100%;">
                                        @(Html.DevExtreme().DateBoxFor(model => model.EntidadBusqueda.fechainicial)
                                            .Placeholder("Fecha inicial").Width("50%").ID("FechaInicial")
                                            .ElementAttr("class", "form-control").ShowClearButton(true)
                                            .InvalidDateMessage("Fecha no valida")
                                        )
                                        @(Html.DevExtreme().Tooltip()
                                            .Target("#FechaInicial")
                                            .ShowEvent("mouseenter")
                                            .HideEvent("mouseleave")
                                            .ContentTemplate(@<text>
                                               <b>Fecha Inicial</b>
                                            </text>)
                                        )

                                    </td>
                                </tr>
                                <tr style="height: 50px;">
                                    <td style="width: 100%;">
                                        @(Html.DevExtreme().AutocompleteFor(model => model.EntidadBusqueda.NumerodeReporte).MinSearchLength(1)
                                            .DataSource(d => d.Mvc().LoadAction("SearchResultadoGenerico_NumeroReporte"))
                                            .Placeholder("Numero de reporte").ElementAttr("class", "form-control").ShowClearButton(true)
                                            .Width("100%").ID("NumeroReporte")
                                        )
                                        

                                    </td>
                                </tr>
                                <tr style="height: 50px;">
                                    <td style="width: 100%;">
                                        @(Html.DevExtreme().AutocompleteFor(model => model.EntidadBusqueda.FoliodeMantenimiento).MinSearchLength(1)
                                            .DataSource(d => d.Mvc().LoadAction("SearchResultadoGenerico_FolioMantenimiento"))
                                            .Placeholder("Folio de mantenimiento").ElementAttr("class", "form-control").ShowClearButton(true)
                                            .Width("100%").ID("FolioMantenimiento")
                                        )
                                        

                                    </td>
                                </tr>
                                <tr style="height: 50px;">
                                    <td style="width: 100%;">
                                        @(Html.DevExtreme().AutocompleteFor(model => model.EntidadBusqueda.Barco)
                                              //.DisplayExpr("Resultado")
                                              .ValueExpr("Resultado")
                                            .Placeholder("-- Seleccione el Barco --").Width("100%").ID("Barco")
                                            .DataSource(d => d.Mvc().LoadAction("GetBarcos"))
                                            .ElementAttr("class", "form-control").ShowClearButton(true)
                                        )
                                        

                                    </td>
                                </tr>
                                <tr style="height: 50px;">
                                    <td style="width: 100%;">
                                        @(Html.DevExtreme().SelectBoxFor(model => model.EntidadBusqueda.Tipo).DisplayExpr("Resultado").ValueExpr("Resultado")
                                            .Placeholder("-- Seleccione el Tipo --").Width("100%").ID("Tipo")
                                            .DataSource(ViewBag.Tipo).DeferRendering(false)
                                            .ElementAttr("class", "form-control").ShowClearButton(true)
                                        )
                                        

                                    </td>
                                </tr>
                                <tr style="height: 50px;">
                                    <td style="width: 100%;">
                                        @(Html.DevExtreme().AutocompleteFor(model => model.EntidadBusqueda.Supervisor).MinSearchLength(1)
                                            .DataSource(d => d.Mvc().LoadAction("SearchResultadoGenerico_Supervisor"))
                                            .Placeholder("Supervisor").ElementAttr("class", "form-control").ShowClearButton(true)
                                            .Width("100%").ID("Supervisor")
                                        )
                                        

                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <table style="width: 100%">
                                <tr style="height: 50px;">
                                    <td style="width: 100%;">
                                        @(Html.DevExtreme().DateBoxFor(model => model.EntidadBusqueda.fechafinal)
                                            .Value(DateTime.Now).Placeholder("Fecha final").Width("100%").ID("FechaFinal")
                                            .ElementAttr("class", "form-control").ShowClearButton(true)
                                            .InvalidDateMessage("Fecha no valida")
                                        )
                                        @(Html.DevExtreme().Tooltip()
                                            .Target("#FechaFinal")
                                            .ShowEvent("mouseenter")
                                            .HideEvent("mouseleave")
                                            .ContentTemplate(@<text>
                                                <b>Fecha Final</b>
                                            </text>)
                                        )

                                    </td>
                                </tr>
                                <tr style="height: 50px;">
                                    <td style="width: 100%;">
                                        @(Html.DevExtreme().AutocompleteFor(model => model.EntidadBusqueda.OficioCNP).Width("100%").MinSearchLength(1)
                                            .DataSource(d => d.Mvc().LoadAction("SearchResultadoGenerico_OficioCNP"))
                                            .Placeholder("Oficio CNP").ElementAttr("class", "form-control").ShowClearButton(true).ID("OficioCNP")
                                        )
                                       

                                    </td>
                                </tr>
                                <tr style="height: 50px;">
                                    <td style="width: 100%;">
                                        @(Html.DevExtreme().SelectBoxFor(model => model.EntidadBusqueda.Estado).DisplayExpr("Resultado").ValueExpr("Resultado")
                                            .Placeholder("-- Seleccione un Estado --").Width("100%").ID("Estado")
                                            .DataSource(ViewBag.Estado).DeferRendering(false)
                                            .ElementAttr("class", "form-control").ShowClearButton(true)
                                        )
                                        

                                    </td>
                                </tr>
                                <tr style="height: 50px;">
                                    <td style="width: 100%;">
                                        @(Html.DevExtreme().SelectBoxFor(model => model.EntidadBusqueda.Localidad).DisplayExpr("Resultado").ValueExpr("Resultado")
                                            .Placeholder("-- Seleccione la Localidad --").Width("100%").ID("Localidad")
                                            .DataSource(ViewBag.Localidad)
                                            .ElementAttr("class", "form-control").ShowClearButton(true)
                                        )
                                        

                                    </td>
                                </tr>
                                <tr style="height: 50px;">
                                    <td style="width: 100%;">
                                        @(Html.DevExtreme().AutocompleteFor(model => model.EntidadBusqueda.RazonSocial)
                                              //.DisplayExpr("Resultado")
                                              .ValueExpr("Resultado")
                                            .Placeholder("-- Seleccione la Razón Social --").Width("100%").ID("RazonSocial")
                                            .DataSource(d => d.Mvc().LoadAction("GetRazonesSociales"))
                                            .ElementAttr("class", "form-control").ShowClearButton(true)
                                        )
                                        

                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div style="text-align: right">
        @(Html.DevExtreme().Button().Text("").ID("consultaSolWeb").Icon("fas fa-search").Type(ButtonType.Default).StylingMode(ButtonStylingMode.Contained).UseSubmitBehavior(true))
        @(Html.DevExtreme().Tooltip().Target("#consultaSolWeb").ShowEvent("mouseenter").HideEvent("mouseleave").ContentTemplate("Consultar Información"))
    </div>
    <br />
    <section>
        @if (Model.ListaSolicitudesWeb.Count() > 0)
        {
            <script type="text/javascript">
                    function Exportar() {
                        window.open("@Url.Action("GeneraReporteSolicitudWebExportarBusqueda", "SolicitudesWeb")", '_blank');
                    }

                    function PDF() {
                        window.open("@Url.Action("GeneratePdfSolicitudesWeb", "SolicitudesWeb")", '_blank');
                    }
            </script>
            <div style="text-align: right; margin-top:5px;margin-bottom:5px;">
                @(Html.DevExtreme().Button().Icon("fa fa-file-excel").UseSubmitBehavior(false).Type(ButtonType.Success).OnClick("Exportar"))
                @*@(Html.DevExtreme().Button().Icon("fa fa-file-pdf").UseSubmitBehavior(false).Type(ButtonType.Danger).OnClick("PDF"))*@
            </div>

            <div id="grid">
                @(Html.DevExtreme().DataGrid<MASCore.Models.SolicitudesWebEntidadResultadoBusqueda>()
                    .ID("gridContainer")
                    .DataSource(Model.ListaSolicitudesWeb, new string[] { "NumerodeReporte" })
                    .ColumnHidingEnabled(true)
                    .ShowColumnLines(true)
                    .ShowRowLines(true)
                    .RowAlternationEnabled(true)
                    .ShowBorders(true)
                    .Pager(p => p
                        .AllowedPageSizes(new int[] { 5, 8, 15, 30 })
                        .ShowInfo(true)
                        .ShowNavigationButtons(true)
                        .ShowPageSizeSelector(true)
                        .Visible(true))
                    .Paging(p => p.PageSize(5))
                    .ShowColumnHeaders(true)
                    .WordWrapEnabled(true)
                    .Columns(columns =>
                    {
                        columns.AddFor(m => m.NumerodeReporte).Caption("Reporte").CellTemplate(@<text><a href='Details/<%= value %>'><%= value %></a></text>);
                        columns.AddFor(m => m.Fecha).Caption("Fecha").Format(Format.ShortDate);
                        columns.AddFor(m => m.Hora).Caption("Hora");
                        columns.AddFor(m => m.OficioCNP).Caption("Oficio CNP");
                        columns.AddFor(m => m.FoliodeMantenimiento).Caption("Folio de Mantenimiento");
                        columns.AddFor(m => m.Barco).Caption("Barco");
                        columns.AddFor(m => m.Localidad).Caption("Localidad");
                        columns.AddFor(m => m.Tipo).Caption("Tipo");
                        columns.AddFor(m => m.RazonSocial).Caption("Razón Social");
                        columns.AddFor(m => m.Supervisor).Caption("Supervisor");
                        columns.AddFor(m => m.Estado).Caption("Estado").CellTemplate(@<text><img title="<%= value %>" height="25" src="/Images/sol_<%= value %>.svg"></text>);
                        columns.AddFor(m => m.NumerodeReporte).Caption("Oficios").CellTemplate(@<text><a title="Ver Detalle" href='ListaOficios/<%= value %>'><i class="far fa-folder tamanoIconoEnGrid"></i></a></text>);
                        })
                )
            </div>
            <br />
        }
    </section>
}
