﻿@model MASCore.Models.SolicitudesWeb_Entidad
@using Microsoft.AspNetCore.Http.Extensions

@{
    ViewBag.Title = "Nueva Solicitud Web";
}

<script type="text/javascript">
    function dateBox_valueChanged(data) {
        $("#horario").dxTextBox("instance").option({ "value": $("#myDatepicker3").dxDateBox("instance").option("text") });
    }

    function selectBox_valueChanged(data) {
        $("#datojust").hide()
        switch (data.value) {
            case "JUSTIFICACION": $("#datojust").show(); break;
            default: break;
        }
    }

    function AsignaDatosDeSolicitante() {
        var NomBarco = $("#Nombredelaembarcacion").dxAutocomplete("instance").option("value");
        if (NomBarco === null) {
            alert('Ingrese nombre de embarcación y obtendra su información.');
            return;
        }
        $("#sol-indicator").dxLoadIndicator("option", "visible", true);
        $.getJSON('@Url.Action("getinfoembarcacion", "SolicitudesWeb")', { NomBarco: NomBarco },
        function (data) {
            $("#sol-indicator").dxLoadIndicator("option", "visible", false);
            $.each(data, function (i, item) {
                $('#RazonSocial').dxAutocomplete("instance").option({ "value": item.RazonSocial });
                $('#RNP').dxAutocomplete("instance").option({ "value": item.RNP });
            });
        });
    }

    setTimeout(function () { $("#datojust").hide(); }, 600);
</script>

@using (Html.BeginForm("Create", "SolicitudesWeb", FormMethod.Post, new { @class = "form-horizontal", @id = "miforma" }))
{
    <article>
        <div class="row">
            <div class="col-5">
                <h1>Nueva Solicitud Web</h1>
            </div>
            <div class="col-7 text-right">
                <script>
                    var urlComback = '@Url.Action("Index", "SolicitudesWeb", null, UriHelper.GetDisplayUrl(Context.Request))';
                </script>
                <div class="row">
                    <div class="col-10"></div>
                    <div class="col-1" style="padding:0">
                        @(Html.DevExtreme().Button().Icon("fas fa-save").ElementAttr("class", "iconobotonedicion").ID("editarDetalle").UseSubmitBehavior(true).Type(ButtonType.Default))
                        @(Html.DevExtreme().Tooltip().Target("#editarDetalle").ShowEvent("mouseenter").HideEvent("mouseleave").ContentTemplate("Guardar"))
                    </div>
                    <div class="col-1" style="padding:0; text-align:center">
                        @(Html.DevExtreme().Button().Icon("fas fa-undo-alt").ID("regresar").UseSubmitBehavior(false).Type(ButtonType.Default).OnClick(@"function(args){comback(urlComback)}"))
                        @(Html.DevExtreme().Tooltip().Target("#regresar").ShowEvent("mouseenter").HideEvent("mouseleave").ContentTemplate("Regresar a la página anterior"))
                    </div>
                </div>
            </div>
        </div>
    </article>

    <div style="text-align:center; color:Red;font-size:medium">
        @ViewBag.NoValidoPor
        @Html.ValidationSummary(true)
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_content">
                <div class="row col-12">
                    <div class="form" style="width:100%">
                        <div class="dx-fieldset">
                            <div class="dx-field row">
                                <label class="dx-field-label col-3">Fecha y Hora:</label>
                                <div class="dx-field-value col-5">
                                    @(Html.DevExtreme().DateBoxFor(model => model.Fecha).Placeholder("Fecha").Width("100%").ElementAttr("class", "form-control").ShowClearButton(true).InvalidDateMessage("Fecha no valida"))
                                    @Html.ValidationMessageFor(model => model.Fecha)
                                </div>
                                <div class="dx-field-value col-4">
                                    @{
                                        var hora = DateTime.Now;

                                        if (Model.Hora != null)
                                        {
                                            try
                                            {
                                                hora = Model.Hora == null ? DateTime.Now : DateTime.ParseExact(Model.Hora, "HH:mm:ss", null, System.Globalization.DateTimeStyles.None);
                                            }
                                            catch (Exception)
                                            {
                                                try
                                                {
                                                    hora = Model.Hora == null ? DateTime.Now : DateTime.ParseExact(Model.Hora, "HH:mm", null, System.Globalization.DateTimeStyles.None);
                                                }
                                                catch (Exception) { }
                                            }
                                        }
                                    }
                                    @(Html.DevExtreme().DateBox().Type(DateBoxType.Time).ID("myDatepicker3").ShowAnalogClock(true).PickerType(DateBoxPickerType.Rollers).DisplayFormat("HH:mm:ss").Placeholder("Hora").Width("100%").ElementAttr("class", "form-control").ShowClearButton(true).Value(hora).OnValueChanged("dateBox_valueChanged"))
                                    @(Html.DevExtreme().TextBoxFor(m => m.Hora).Value(@hora.ToString("HH:mm:ss")).ElementAttr("style", "display:none;visibility:hidden").ID("horario"))
                                    @*@Html.ValidationMessageFor(model => model.Hora)*@
                                </div>
                            </div>
                            <div class="dx-field row">
                                <label class="dx-field-label col-3">Tipo:</label>
                                <div class="dx-field-value col-9">
                                    @(Html.DevExtreme().SelectBoxFor(model => model.Tipo).OnValueChanged("selectBox_valueChanged").Placeholder("-- Seleccione un Tipo --").DataSource(ViewBag.Tipo).DisplayExpr("Resultado").ValueExpr("Resultado").Width("100%").DeferRendering(false).ElementAttr("class", "form-control").ShowClearButton(true).AcceptCustomValue(true))
                                    @Html.ValidationMessageFor(model => model.Tipo)
                                </div>
                            </div>
                            <div class="dx-field row" id="datojust">
                                <label class="dx-field-label col-3">Dato justificación:</label>
                                <div class="dx-field-value col-9">
                                    @(Html.DevExtreme().TextBoxFor(model => model.datoJustificacion).Placeholder("Justificacion").Width("100%").ElementAttr("class", "form-control").ShowClearButton(true))
                                </div>
                            </div>
                            <div class="dx-field row">
                                <label class="dx-field-label col-3">Embarcación:</label>
                                <div class="dx-field-value col-8" style="padding-right: 0;">
                                    @(Html.DevExtreme().AutocompleteFor(model => model.Nombredelaembarcacion).ID("Nombredelaembarcacion").Width("100%").MinSearchLength(1).DataSource(d => d.RemoteController().LoadUrl(Url.Action("SearchResultadoGenerico_nombrebarco", "SolicitudDeInformacion"))).Placeholder("Embarcación").ElementAttr("class", "form-control").ShowClearButton(true))
                                    @Html.ValidationMessageFor(model => model.Nombredelaembarcacion)
                                </div>
                                <div class="col-1" style="padding-right: 0;">
                                    @(Html.DevExtreme().Button().ID("btnNombredelaembarcacion").UseSubmitBehavior(false).Type(ButtonType.Default).OnClick(@"function(args){AsignaDatosDeSolicitante()}").Template(@<text>@(Html.DevExtreme().LoadIndicator().ID("sol-indicator").Height(20).Width(20).Visible(false))<i class="fas fa-search"></i></text>))
                                    @(Html.DevExtreme().Tooltip().Target("#btnNombredelaembarcacion").ShowEvent("mouseenter").HideEvent("mouseleave").ContentTemplate("Busca información de Embarcación"))
                                </div>
                            </div>
                            <div class="dx-field row">
                                <label class="dx-field-label col-3">Oficio CNP:</label>
                                <div class="dx-field-value col-9">
                                    @(Html.DevExtreme().TextBoxFor(model => model.OficioCNP).Placeholder("Oficio CNP").Width("100%").ElementAttr("class", "form-control").ShowClearButton(true))
                                    @Html.ValidationMessageFor(model => model.OficioCNP)
                                </div>
                            </div>
                            <div class="dx-field row">
                                <label class="dx-field-label col-3">Razón Social:</label>
                                <div class="dx-field-value col-9" style="padding-right: 0;">
                                    @(Html.DevExtreme().AutocompleteFor(model => model.RazonSocial).ID("RazonSocial").DataSource(d => d.RemoteController().LoadUrl(Url.Action("SearchResultadoGenerico_razonsocial", "Cedula"))).Placeholder("Razón Social").Width("100%").MinSearchLength(1).ElementAttr("class", "form-control").ShowClearButton(true))
                                    @Html.ValidationMessageFor(model => model.RazonSocial)
                                </div>
                            </div>
                            <div class="dx-field row">
                                <label class="dx-field-label col-3">RNP:</label>
                                <div class="dx-field-value col-9" style="padding-right: 0;">
                                    @(Html.DevExtreme().AutocompleteFor(model => model.RNP).ID("RNP").DataSource(d => d.RemoteController().LoadUrl(Url.Action("SearchResultadoGenerico_rnpdelbarco", "SolicitudDeInformacion"))).Placeholder("RNP").Width("100%").MinSearchLength(1).ElementAttr("class", "form-control").ShowClearButton(true))
                                    @Html.ValidationMessageFor(model => model.RNP)
                                </div>
                            </div>
                            <div class="dx-field row">
                                <label class="dx-field-label col-3">Comentarios:</label>
                                <div class="dx-field-value col-9">
                                    @(Html.DevExtreme().TextAreaFor(model => model.Comentarios).Width("100%").Height("200px"))
                                    @Html.ValidationMessageFor(model => model.Comentarios)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Hidden("submitButton", "Guardar")
}
