﻿@model MASCore.Models.SolicitudesWeb_Entidad
@using Microsoft.AspNetCore.Http.Extensions

@{
    ViewBag.Title = "Detalle de Solicitud Web";
}

<script type="text/javascript">
    function selectBox_valueChanged(data) {
        $("#datojust").hide()
        switch (data.value) {
            case "JUSTIFICACION": $("#datojust").show(); break;
            default: break;
        }
    }

    setTimeout(function () { $("#datojust").hide(); }, 600);
</script>

@using (Html.BeginForm("Details", "SolicitudesWeb", FormMethod.Post, new { @class = "form-horizontal", @id = "miforma" }))
{
    <article>
        <div class="row">
            <div class="col-5">
                <h1>Detalle de Solicitud Web</h1>
            </div>
            <div class="col-7 text-right">
                <script>
                    var idCedula = @Model.Id_Reporte;
                    var urlComback = '@Url.Action("Index", "SolicitudesWeb", null, UriHelper.GetDisplayUrl(Context.Request))';
                    var urlEdit = '@Url.Action("Edit", "SolicitudesWeb", null, UriHelper.GetDisplayUrl(Context.Request))';
                </script>
                <div class="row">
                    <div class="col-10"></div>
                    <div class="col-1" style="padding:0">
                        @(Html.DevExtreme().Button().Icon("fas fa-edit").ElementAttr("class", "iconobotonedicion").ID("editarDetalle").UseSubmitBehavior(false).Type(ButtonType.Default).OnClick(@"function(args){edit(urlEdit,'/'+idCedula)}"))
                        @(Html.DevExtreme().Tooltip().Target("#editarDetalle").ShowEvent("mouseenter").HideEvent("mouseleave").ContentTemplate("Editar"))
                    </div>
                    <div class="col-1" style="padding:0; text-align:center">
                        @(Html.DevExtreme().Button().Icon("fas fa-undo-alt").ID("regresar").UseSubmitBehavior(false).Type(ButtonType.Default).OnClick(@"function(args){comback(urlComback)}"))
                        @(Html.DevExtreme().Tooltip().Target("#regresar").ShowEvent("mouseenter").HideEvent("mouseleave").ContentTemplate("Regresar a la página anterior"))
                    </div>
                </div>
            </div>
        </div>
    </article>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h4>
                    <div class="row">
                        <div class="col-3" style="padding: 8px 0 0 0;margin: 0;text-align: center;">
                            <b>Id Reporte:</b>
                        </div>
                        <div class="col-9" style="padding: 0;margin: 0;">
                            @(Html.DevExtreme().TextBoxFor(model => model.Id_Reporte).Disabled(true))
                        </div>
                    </div>
                </h4>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row col-12">
                    <div class="form" style="width:100%">
                        <div class="dx-fieldset">
                            <div class="dx-field row">
                                <div class="dx-field-label col-3">Fecha y Hora:</div>
                                <div class="dx-field-value col-5">
                                    @(Html.DevExtreme().DateBoxFor(model => model.Fecha).Placeholder("Fecha").Width("100%").ElementAttr("class", "form-control").ShowClearButton(true).ReadOnly(true))
                                </div>
                                <div class="dx-field-value col-4">
                                    @{
                                        var hora = DateTime.Now;

                                        if (Model.Hora != null)
                                        {
                                            try
                                            {
                                                hora = Model.Hora == null ? DateTime.Now : DateTime.ParseExact(Model.Hora, "HH:mm:ss", null, System.Globalization.DateTimeStyles.None);
                                            }
                                            catch (Exception)
                                            {
                                                try
                                                {
                                                    hora = Model.Hora == null ? DateTime.Now : DateTime.ParseExact(Model.Hora, "HH:mm", null, System.Globalization.DateTimeStyles.None);
                                                }
                                                catch (Exception) { }
                                            }
                                        }
                                    }
                                    @(Html.DevExtreme().DateBox().Type(DateBoxType.Time).ID("myDatepicker3").ShowAnalogClock(true).PickerType(DateBoxPickerType.Rollers).DisplayFormat("HH:mm:ss").Placeholder("Hora").Width("100%").ElementAttr("class", "form-control").ShowClearButton(true).Value(hora).ReadOnly(true))
                                </div>
                            </div>
                            <div class="dx-field row">
                                <div class="dx-field-label col-3">Tipo:</div>
                                <div class="dx-field-value col-9">
                                    @(Html.DevExtreme().SelectBoxFor(model => model.Tipo).OnValueChanged("selectBox_valueChanged").Placeholder("-- Seleccione un Tipo --").DataSource(ViewBag.Tipo).DisplayExpr("Resultado").ValueExpr("Resultado").Width("100%").DeferRendering(false).ElementAttr("class", "form-control").ShowClearButton(true).AcceptCustomValue(true).ReadOnly(true))
                                </div>
                            </div>
                            <div class="dx-field row" id="datojust">
                                <div class="dx-field-label col-3">Dato justificación:</div>
                                <div class="dx-field-value col-9">
                                    @(Html.DevExtreme().TextBoxFor(model => model.datoJustificacion).Placeholder("Justificacion").Width("100%").ElementAttr("class", "form-control").ShowClearButton(true).ReadOnly(true))
                                </div>
                            </div>
                            <div class="dx-field row">
                                <div class="dx-field-label col-3">Embarcación:</div>
                                <div class="dx-field-value col-9" style="padding-right: 0;">
                                    @(Html.DevExtreme().AutocompleteFor(model => model.Nombredelaembarcacion).ID("Nombredelaembarcacion").Width("100%").Placeholder("Embarcación").ElementAttr("class", "form-control").ShowClearButton(true).ReadOnly(true))
                                </div>
                            </div>
                            <div class="dx-field row">
                                <div class="dx-field-label col-3">Oficio CNP:</div>
                                <div class="dx-field-value col-9">
                                    @(Html.DevExtreme().TextBoxFor(model => model.OficioCNP).Placeholder("Oficio CNP").Width("100%").ElementAttr("class", "form-control").ShowClearButton(true).ReadOnly(true))
                                </div>
                            </div>
                            <div class="dx-field row">
                                <div class="dx-field-label col-3">Razón Social:</div>
                                <div class="dx-field-value col-9" style="padding-right: 0;">
                                    @(Html.DevExtreme().AutocompleteFor(model => model.RazonSocial).ID("RazonSocial").Placeholder("Razón Social").Width("100%").ElementAttr("class", "form-control").ShowClearButton(true).ReadOnly(true))
                                </div>
                            </div>
                            <div class="dx-field row">
                                <div class="dx-field-label col-3">RNP:</div>
                                <div class="dx-field-value col-9" style="padding-right: 0;">
                                    @(Html.DevExtreme().AutocompleteFor(model => model.RNP).ID("RNP").Placeholder("RNP").Width("100%").ElementAttr("class", "form-control").ShowClearButton(true).ReadOnly(true))
                                </div>
                            </div>
                            <div class="dx-field row">
                                <div class="dx-field-label col-3">Contacto:</div>
                                <div class="dx-field-value col-9" style="padding-right: 0;">
                                    @(Html.DevExtreme().TextBoxFor(model => model.Contacto).Placeholder("Contacto").Width("100%").ElementAttr("class", "form-control").ShowClearButton(true).ReadOnly(true))
                                </div>
                            </div>
                            <div class="dx-field row">
                                <div class="dx-field-label col-3">Solicitante:</div>
                                <div class="dx-field-value col-9" style="padding-right: 0;">
                                    @(Html.DevExtreme().TextBoxFor(model => model.Solicitante).Placeholder("Solicitante").Width("100%").ElementAttr("class", "form-control").ShowClearButton(true).ReadOnly(true))
                                </div>
                            </div>
                            <div class="dx-field row">
                                <div class="dx-field-label col-3">Teléfono:</div>
                                <div class="dx-field-value col-9" style="padding-right: 0;">
                                    @(Html.DevExtreme().TextBoxFor(model => model.Telefono).Placeholder("Telefono").Width("100%").ElementAttr("class", "form-control").ShowClearButton(true).ReadOnly(true))
                                </div>
                            </div>
                            <div class="dx-field row">
                                <div class="dx-field-label col-3">Recibio:</div>
                                <div class="dx-field-value col-9" style="padding-right: 0;">
                                    @(Html.DevExtreme().TextBoxFor(model => model.Recibio).Placeholder("Recibio").Width("100%").ElementAttr("class", "form-control").ShowClearButton(true).ReadOnly(true))
                                </div>
                            </div>
                            <div class="dx-field row">
                                <div class="dx-field-label col-3">Localidad:</div>
                                <div class="dx-field-value col-9" style="padding-right: 0;">
                                    @(Html.DevExtreme().TextBoxFor(model => model.Localidad).Placeholder("Localidad").Width("100%").ElementAttr("class", "form-control").ShowClearButton(true).ReadOnly(true))
                                </div>
                            </div>
                            <div class="dx-field row">
                                <div class="dx-field-label col-3">Supervisor:</div>
                                <div class="dx-field-value col-9" style="padding-right: 0;">
                                    @(Html.DevExtreme().TextBoxFor(model => model.Supervisor).Placeholder("Supervisor").Width("100%").ElementAttr("class", "form-control").ShowClearButton(true).ReadOnly(true))
                                </div>
                            </div>
                            <div class="dx-field row">
                                <div class="dx-field-label col-3">Comentarios:</div>
                                <div class="dx-field-value col-9">
                                    @(Html.DevExtreme().TextAreaFor(model => model.Comentarios).Width("100%").Height("200px").ReadOnly(true))
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
