﻿@model MASCore.Models.SolicitudesWeb_Entidad
@using Microsoft.AspNetCore.Http.Extensions

@{
    ViewBag.Title = "Nueva Solicitud Web";
}

<script type="text/javascript">
    function selectBox_valueChanged(data) {
        $("#datojust").hide()
        switch (data.value) {
            case "JUSTIFICACION": $("#datojust").show(); break;
            default: break;
        }
    }

    function borrar(id) {
        if (confirm("¿Desea eliminar este archivo?") == true) {
            var url = '@Url.Action("EliminarImagenVarias")'
            window.location.href = url + "?IdArchivo=" + id + "&idModel=" + @Model.Id_Reporte + "&accion=1";
        }
    }

    function reloadGrid(e) {
        if (e.request.status == 200) {
            $("#gridDocumentos").dxDataGrid("instance").option({ dataSource: JSON.parse(e.request.response).lista });
        }
    }

    setTimeout(function () { $("#datojust").hide(); }, 600);
</script>

@*@using (Html.BeginForm("DetailsCreate", "SolicitudesWeb", FormMethod.Post, new { @class = "form-horizontal", @id = "miforma", enctype = "multipart/form-data" }))
    {*@
<article>
    <div class="row">
        <div class="col-5">
            <h1>Nueva Solicitud Web</h1>
        </div>
        <div class="col-7 text-right">
            <script>
                    var idCedula = @Model.Id_Reporte;
                    var urlComback = '@Url.Action("Index", "SolicitudesWeb", null, UriHelper.GetDisplayUrl(Context.Request))';
                    var urlEdit = '@Url.Action("Edit", "SolicitudesWeb", null, UriHelper.GetDisplayUrl(Context.Request))';
            </script>
            <div class="row">
                <div class="col-10"></div>
                <div class="col-1" style="padding:0">
                    @*@(Html.DevExtreme().Button().Icon("fas fa-edit").ElementAttr("class", "iconobotonedicion").ID("editarDetalle").UseSubmitBehavior(false).Type(ButtonType.Default).OnClick(@"function(args){edit(urlEdit,'?id='+idCedula)}"))
                    @(Html.DevExtreme().Tooltip().Target("#editarDetalle").ShowEvent("mouseenter").HideEvent("mouseleave").ContentTemplate("Editar"))*@
                
                </div>
                <div class="col-1" style="padding:0; text-align:center">
                    @*@(Html.DevExtreme().Button().Icon("fas fa-undo-alt").ID("regresar").UseSubmitBehavior(false).Type(ButtonType.Default).OnClick(@"function(args){comback(urlComback)}"))
                    @(Html.DevExtreme().Tooltip().Target("#regresar").ShowEvent("mouseenter").HideEvent("mouseleave").ContentTemplate("Regresar a la página anterior"))*@
                
                </div>
            </div>
        </div>
    </div>
</article>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h4>
                <div class="row">
                    <div class="col-3" style="padding: 8px 0 0 0;margin: 0;text-align: center;">
                        <b>Id Reporte:</b>
                    </div>
                    <div class="col-9" style="padding: 0;margin: 0;">
                        @*@(Html.DevExtreme().TextBoxFor(model => model.Id_Reporte).Disabled(true))*@
                    </div>
                </div>
            </h4>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="row col-12">
                @{
                    var tabs = new object[] {
                                    new { id = "generales", text = "Datos Generales", icon = "fas fa-file-contract" },
                                    new { id = "archivos", text = "Documentos", icon = "fas fa-book" }
                                };
                }
                @(Html.DevExtreme().Tabs().DataSource(tabs).ScrollByContent(true).ShowNavButtons(true).SelectedIndex(1).OnItemClick("tabs_itemClick"))
            </div>
            <div class="row col-12 generales oculto">
                <div class="form" style="width:100%">
                    <div class="dx-fieldset">
                        <div class="dx-field row">
                            <div class="dx-field-label col-3">Fecha y Hora:</div>
                            <div class="dx-field-value col-5">
                                @*@(Html.DevExtreme().DateBoxFor(model => model.Fecha).Placeholder("Fecha").Width("100%").ElementAttr("class", "form-control").ShowClearButton(true).ReadOnly(true))*@
                            </div>
                            <div class="dx-field-value col-4">
                                @{
                                    var hora = DateTime.Now;

                                    if (Model.Hora != null)
                                    {
                                        try
                                        {
                                            hora = Model.Hora == null ? DateTime.Now : DateTime.ParseExact(Model.Hora, "HH:mm:ss", null, System.Globalization.DateTimeStyles.None);
                                        }
                                        catch (Exception)
                                        {
                                            try
                                            {
                                                hora = Model.Hora == null ? DateTime.Now : DateTime.ParseExact(Model.Hora, "HH:mm", null, System.Globalization.DateTimeStyles.None);
                                            }
                                            catch (Exception) { }
                                        }
                                    }
                                }
                                @(Html.DevExtreme().DateBox().Type(DateBoxType.Time).ID("myDatepicker3").ShowAnalogClock(true).PickerType(DateBoxPickerType.Rollers).DisplayFormat("HH:mm:ss").Placeholder("Hora").Width("100%").ElementAttr("class", "form-control").ShowClearButton(true).Value(hora).ReadOnly(true))
                            </div>
                        </div>
                        <div class="dx-field row">
                            <div class="dx-field-label col-3">Tipo:</div>
                            <div class="dx-field-value col-9">
                                @*@(Html.DevExtreme().SelectBoxFor(model => model.Tipo).OnValueChanged("selectBox_valueChanged").Placeholder("-- Seleccione un Tipo --").DataSource(ViewBag.Tipo).DisplayExpr("Resultado").ValueExpr("Resultado").Width("100%").DeferRendering(false).ElementAttr("class", "form-control").ShowClearButton(true).AcceptCustomValue(true).ReadOnly(true))*@
                            </div>
                        </div>
                        <div class="dx-field row" id="datojust">
                            <div class="dx-field-label col-3">Dato justificación:</div>
                            <div class="dx-field-value col-9">
                                @*@(Html.DevExtreme().TextBoxFor(model => model.datoJustificacion).Placeholder("Justificacion").Width("100%").ElementAttr("class", "form-control").ShowClearButton(true).ReadOnly(true))*@
                            </div>
                        </div>
                        <div class="dx-field row">
                            <div class="dx-field-label col-3">Embarcación:</div>
                            <div class="dx-field-value col-9" style="padding-right: 0;">
                                @*@(Html.DevExtreme().AutocompleteFor(model => model.Nombredelaembarcacion).ID("Nombredelaembarcacion").Width("100%").Placeholder("Embarcación").ElementAttr("class", "form-control").ShowClearButton(true).ReadOnly(true))*@
                            </div>
                        </div>
                        <div class="dx-field row">
                            <div class="dx-field-label col-3">Oficio CNP:</div>
                            <div class="dx-field-value col-9">
                                @*@(Html.DevExtreme().TextBoxFor(model => model.OficioCNP).Placeholder("Oficio CNP").Width("100%").ElementAttr("class", "form-control").ShowClearButton(true).ReadOnly(true))*@
                            </div>
                        </div>
                        <div class="dx-field row">
                            <div class="dx-field-label col-3">Razón Social:</div>
                            <div class="dx-field-value col-9" style="padding-right: 0;">
                                @*@(Html.DevExtreme().AutocompleteFor(model => model.RazonSocial).ID("RazonSocial").Placeholder("Razón Social").Width("100%").ElementAttr("class", "form-control").ShowClearButton(true).ReadOnly(true))*@
                            </div>
                        </div>
                        <div class="dx-field row">
                            <div class="dx-field-label col-3">RNP:</div>
                            <div class="dx-field-value col-9" style="padding-right: 0;">
                                @*@(Html.DevExtreme().AutocompleteFor(model => model.RNP).ID("RNP").Placeholder("RNP").Width("100%").ElementAttr("class", "form-control").ShowClearButton(true).ReadOnly(true))*@
                            </div>
                        </div>
                        <div class="dx-field row">
                            <div class="dx-field-label col-3">Contacto:</div>
                            <div class="dx-field-value col-9" style="padding-right: 0;">
                                @(Html.DevExtreme().TextBoxFor(model => model.Contacto).Placeholder("Contacto").Width("100%").ElementAttr("class", "form-control").ShowClearButton(true).ReadOnly(true))
                            </div>
                        </div>
                        <div class="dx-field row">
                            <div class="dx-field-label col-3">Solicitante:</div>
                            <div class="dx-field-value col-9" style="padding-right: 0;">
                                @(Html.DevExtreme().TextBoxFor(model => model.Solicitante).Placeholder("Solicitante").Width("100%").ElementAttr("class", "form-control").ShowClearButton(true).ReadOnly(true))
                            </div>
                        </div>
                        <div class="dx-field row">
                            <div class="dx-field-label col-3">Teléfono:</div>
                            <div class="dx-field-value col-9" style="padding-right: 0;">
                                @(Html.DevExtreme().TextBoxFor(model => model.Telefono).Placeholder("Telefono").Width("100%").ElementAttr("class", "form-control").ShowClearButton(true).ReadOnly(true))
                            </div>
                        </div>
                        <div class="dx-field row">
                            <div class="dx-field-label col-3">Recibio:</div>
                            <div class="dx-field-value col-9" style="padding-right: 0;">
                                @(Html.DevExtreme().TextBoxFor(model => model.Recibio).Placeholder("Recibio").Width("100%").ElementAttr("class", "form-control").ShowClearButton(true).ReadOnly(true))
                            </div>
                        </div>
                        <div class="dx-field row">
                            <div class="dx-field-label col-3">Localidad:</div>
                            <div class="dx-field-value col-9" style="padding-right: 0;">
                                @(Html.DevExtreme().TextBoxFor(model => model.Localidad).Placeholder("Localidad").Width("100%").ElementAttr("class", "form-control").ShowClearButton(true).ReadOnly(true))
                            </div>
                        </div>
                        <div class="dx-field row">
                            <div class="dx-field-label col-3">Supervisor:</div>
                            <div class="dx-field-value col-9" style="padding-right: 0;">
                                @(Html.DevExtreme().TextBoxFor(model => model.Supervisor).Placeholder("Supervisor").Width("100%").ElementAttr("class", "form-control").ShowClearButton(true).ReadOnly(true))
                            </div>
                        </div>
                        <div class="dx-field row">
                            <div class="dx-field-label col-3">Comentarios:</div>
                            <div class="dx-field-value col-9">
                                @(Html.DevExtreme().TextAreaFor(model => model.Comentarios).Width("100%").Height("200px").ReadOnly(true))
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row col-12 archivos oculto activo">
                <div class="dx-fieldset">
                    <div class="dx-field row">
                        <div class="dx-field-value col-12">
                            @Html.DevExtreme().FileUploader().Name("file").Accept("application/pdf").UploadMode(FileUploadMode.UseForm).Multiple(true).UploadMode(FileUploadMode.UseButtons).UploadUrl(Url.Action("Upload", "SolicitudesWeb", new { id = Model.Id_Reporte })).AllowedFileExtensions(new List<string> { ".pdf" }).OnUploaded("function(e){ reloadGrid(e) }")
                        </div>
                    </div>
                </div>
                <div>
                    @(Html.DevExtreme().DataGrid<MASCore.Models.CargaImagenesVariasSolWeb>().ID("gridDocumentos")
                                .DataSource(Model.ListaImagenesCarga).ColumnHidingEnabled(true).ShowColumnLines(true).ShowRowLines(true).RowAlternationEnabled(true).ShowBorders(true)
                                .Pager(p => p.AllowedPageSizes(new int[] { 5, 8, 15, 30 }).ShowInfo(true).ShowNavigationButtons(true).ShowPageSizeSelector(true).Visible(true))
                                .Paging(p => p.PageSize(5)).ShowColumnHeaders(true).WordWrapEnabled(true)
                                .Columns(columns =>
                                {
                                    columns.AddFor(m => m.Identificador).Caption("No Reporte");
                                    columns.AddFor(m => m.Fecha).Caption("Fecha Carga").Format(Format.ShortDate);
                                    columns.AddFor(m => m.Consecutivo).Caption("Nombre de archivo");
                                    columns.AddFor(m => m.Consecutivo).Caption("Acción para imagen").CellTemplate(@<text>
                                        &nbsp;&nbsp;
                                        <a title="Ver Imagen" href='@Url.Action("VerImagenVarias")?rutabase=<%= data.RutaBase %>&carpeta=<%= data.Carpeta %>&consecutivo=<%= value %>' target="_blank"><i class="dx-icon fas fa-image tamanoIconoEnGrid"></i></a>
                                        &nbsp;&nbsp; &nbsp;&nbsp;
                                        <a title="Descargar" href='@Url.Action("DescargarImagenVarias")?rutabase=<%= data.RutaBase %>&carpeta=<%= data.Carpeta %>&consecutivo=<%= value %>' target="_blank"><i class="dx-icon fa fa-download tamanoIconoEnGrid"></i></a>
                                        &nbsp;&nbsp; &nbsp;&nbsp;
                                        <a title="Eliminar" href='javascript:borrar(<%= data.Id %>)'><i class="fas fa-trash-alt tamanoIconoEnGrid"></i></a>
                                    </text>);
                                                        })
                    )
                </div>
            </div>
        </div>
    </div>
</div>
@*}*@
