﻿@model MASCore.Models.SolicitudesWeb_Entidad
@using Microsoft.AspNetCore.Http.Extensions

@{
    ViewBag.Title = "Modulo Editar Solicitud Web";
}


@*@Scripts.Render("~/Scripts/jquery.autocomplete.min.js")*@

<script type="text/javascript">
    //V16
    function TipoSolSeleccionado(Valor) {
        if (Valor == 'JUSTIFICACION') {
            document.getElementById('datojust_').style.display = '';
            document.getElementById('datojust__').style.display = '';
        }
        else {
            document.getElementById('datojust_').style.display = 'none';
            document.getElementById('datojust__').style.display = 'none';
        }
    }

    function Inicio() {
        var tipoJust = document.getElementById('TipoJust').value;
        TipoSolSeleccionado(tipoJust);
    }
</script>

<link href="~/Content/jquery.autocomplete.css" rel="stylesheet" type="text/css" />



<style type="text/css">
    #dob {
        width: 300px;
    }
</style>

<div id="titulo">
    <h3 style="color:#0F2C48;text-align:center"><u>-  Modulo Editar Solicitud Web  -</u></h3>
</div>

<div style="text-align:center; color:Red;font-size:medium">
    @ViewBag.NoValidoPor
</div>


@*@using (Html.BeginForm("Edit", "SolicitudesWeb", FormMethod.Post))*@
@using (Html.BeginForm("Edit", "SolicitudesWeb", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)

    @*@Html.DisplayFor(model => model.Id_Reporte)*@
    <div class="div-comentarios">
        <h4>Ingresa Datos </h4>
        <h5>Id Reporte: @Html.DisplayFor(model => model.Id_Reporte) </h5>
        <table width="100%">
            <tr>
                <td> Fecha:   </td>
                @*<td> @Html.EditorFor(model => model.Fecha, null, "dob", null)   @Html.ValidationMessageFor(model => model.Fecha)  </td>*@
                <td> @Html.EditorFor(model => model.Fecha, new { @maxlength = 10 })   @Html.ValidationMessageFor(model => model.Fecha)  </td>
                <td>  Hora: </td>
                <td>  @Html.TextBoxFor(model => model.Hora)  @Html.ValidationMessageFor(model => model.Hora) </td>
            </tr>
            <tr>
                <td>  Tipo: </td>
                <td>
                    @*@Html.DropDownList("TipoSol", ViewBag.TipoSol as SelectList, "-- Seleccione --", new { style = "width:312px" })*@
                    @*@Html.DropDownList("Tipo", (IEnumerable<SelectListItem>)ViewBag.Tipo, new { style = "width:312px" }) V16 original*@
                    @Html.DropDownList("Tipo", (IEnumerable<SelectListItem>)ViewBag.Tipo, new { @onchange = "javascript:TipoSolSeleccionado(this.value);", id = "TipoJust" })
                    @Html.HiddenFor(model => model.Tipo, new { id = "txtTipo" })
                    @*@Html.EditorFor(model => model.Tipo)*@
                    @Html.ValidationMessageFor(model => model.Tipo)
                </td>


                @*<td >  paso: </td>
                    <td >
                        @Html.TextBoxFor(model => model.Tipo)
                    </td>*@

                @*V16 se agrego*@
                <td id="datojust_">Dato justificación: </td>
                <td id="datojust__">
                    @Html.TextBoxFor(model => model.datoJustificacion)
                    @Html.ValidationMessageFor(model => model.datoJustificacion)
                </td>

                @*<tr>
                        <td>  Telefono: </td>
                        <td>  @Html.TextBoxFor(model => model.Telefono, new { id = "Telefono" })  @Html.ValidationMessageFor(model => model.Telefono) </td>
                        <td>  Contacto: </td>
                        <td>  @Html.TextBoxFor(model => model.Contacto)  @Html.ValidationMessageFor(model => model.Contacto) </td>
                    </tr>
                    <tr>
                        <td>  Solicitante: </td>
                        <td>  @Html.TextBoxFor(model => model.Solicitante)  @Html.ValidationMessageFor(model => model.Solicitante) </td>
                        <td>  Recibio: </td>
                        <td>  @Html.TextBoxFor(model => model.Recibio)  @Html.ValidationMessageFor(model => model.Recibio) </td>
                    </tr>*@
            <tr>
                <td> Embarcación:  </td>
                <td>
                    @Html.TextBoxFor(model => model.Nombredelaembarcacion, new { id = "busbarco", style = "width: 80%" })
                    <a href="javascript:AsignaDatosDeEmbarcacion();" title="Busca información de embarcación">--></a>
                    @Html.ValidationMessageFor(model => model.Nombredelaembarcacion)
                </td>
                <td>  OficioCNP: </td>
                <td>  @Html.TextBoxFor(model => model.OficioCNP)  @Html.ValidationMessageFor(model => model.OficioCNP) </td>
            </tr>
            </tr>
            <tr>
                <td> Razón Social:  </td>
                <td> @Html.TextBoxFor(model => model.RazonSocial, new { id = "RazonSocial" })   @Html.ValidationMessageFor(model => model.RazonSocial)  </td>
                <td> RNP: </td>
                <td> @Html.TextBoxFor(model => model.RNP, new { id = "RNP" })  @Html.ValidationMessageFor(model => model.RNP)  </td>
                <td> Localidad:  </td>
                <td>
                    @Html.DropDownList("Localidad", (IEnumerable<SelectListItem>)ViewBag.Localidad, new { style = "width:312px" })
                    @Html.HiddenFor(model => model.Localidad, new { id = "txtLocalidad" })
                    @Html.ValidationMessageFor(model => model.Localidad)
                </td>
            </tr>
            @*<tr>
                    <td> Supervisor: </td>
                    <td> @Html.TextBoxFor(model => model.Supervisor)  @Html.ValidationMessageFor(model => model.Supervisor)  </td>
                </tr>*@
            <tr>
                <td valign="top"> Comentarios: </td>
                <td colspan="3">
                    @Html.TextAreaFor(model => model.Comentarios, 5, 55, new { id = "Comentarios", style = "width: 95%;height:250px" })
                    @Html.ValidationMessageFor(model => model.Comentarios)
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td align="right">
                    <input type="submit" name="submitButton" id='GuardarCambios' value="Guardar Cambios" />
                </td>
            </tr>
        </table>

        @{
            if (Model.ListaImagenesCarga.Count() > 0)
            {
                <h4>Documentos de Solicitud Web </h4>
                <div id="grid" align="center">
                  @*  
                    @{
                        var grid = new WebGrid(Model.ListaImagenesCarga, rowsPerPage: 6, canSort: false, canPage: true, ajaxUpdateContainerId: "grid");
                    }
                    @grid.GetHtml(
                    fillEmptyRows: false,
                    alternatingRowStyle: "fila-alternativa", tableStyle: "griddd",
                    headerStyle: "encabezado-grid",
                    footerStyle: "pie-grid",
                    mode: WebGridPagerModes.All,
                    firstText: "<< Primera",
                    previousText: "< Anterior",
                    nextText: "Siguiente >",
                    lastText: "Última >>",
                    columns: grid.Columns(
                                //grid.Column("Id", header: "Id"),
                                //grid.Column("Identificador", header: "Identificador", style: "letrachica"),
                                    
                                    /**/
                                    grid.Column("Identificador", header: "No Reporte", style: "letrachica"),
                                    grid.Column("Fecha", "Fecha Carga", @<text><div style='width: 10em' class="letrachica">@item.Fecha.ToString().Substring(0, 10) </div></text>),
                                                           grid.Column("Consecutivo", header: "Nombre de archivo", style: "letrachica"),

                                                           grid.Column("Acción para imagen", format: @<text>
                                                            @Html.ActionLink("Ver", "VerImagenVarias", "SolicitudesWeb", new { rutabase = item.RutaBase, carpeta = item.carpeta, consecutivo = item.Consecutivo }, new { target = "_blank" })  |
                                                            @Html.ActionLink("Descargar", "DescargarImagenVarias", "SolicitudesWeb", new { rutabase = item.RutaBase, carpeta = item.carpeta, consecutivo = item.Consecutivo }, null)  |
                                                            @Html.ActionLink("Eliminar", "EliminarImagenVarias", "SolicitudesWeb", new { IdArchivo = item.Id, IdModel = Model.Id_Reporte }, new { onclick = "return confirm('Desea eliminar este archivo?');" })


                                                        </text>)*@
                                                                                            /**/
                                                                                            @* ,grid.Column("Acción", format: @<text>
                                                                                                @Html.ActionLink("Descargar", "DescargarImagen", "CargaImagenes", new { idx = item.Id, rnpx = item.Rnp, rutabasex = item.RutaBase, tipox = item.Tipo, identificadorx = item.Identificador, consecutivox = item.Consecutivo },null)
                                                                                                </text>)*@
                                                                                            /**/
                                                                                            )
                                                                                )
                </div>
            }
        }

        <h4>Agrega documentos a esta Solicitud Web</h4>

        <table width="100%">
            <tr>
                <td colspan="4" align="left">
                    <input id="files-to-upload" type="file" name="file" accept="application/pdf" style="width: 98%" />
                </td>
            </tr>
            <tr>
                <td colspan="4" align="right">
                    <input type='submit' name="submitButton" id='Cargar' value='Cargar archivo' style="font-size: small;width:150px" />
                </td>
                @*<td align="center"> <b style="font-size: large; color: #000080; text-decoration: underline ">  </b></td>*@
            </tr>
        </table>
    </div>
}

<div>
    @Html.ActionLink("Regresar a Opciones de Solicitudes Web", "Index")
</div>
@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@

<script type="text/javascript">
    //V16 se agrego
    Inicio();
</script>

<script type="text/javascript">

        $(document).ready(function () {

            //busbarco
            $("#busbarco").autocomplete('@Url.Action("SearchResultadoGenerico_nombrebarco", "SolicitudDeInformacion")', { minChars: 1, multiple: false })
            $("#busmatricula").autocomplete("../SolicitudDeInformacion/SearchResultadoGenerico_matriculabarco", { minChars: 1, multiple: false })
            $("#busrnp").autocomplete("../SolicitudDeInformacion/SearchResultadoGenerico_rnpdelbarco", { minChars: 1, multiple: false })



            $("#Telefono").keydown(function (e) {
                if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                    (e.keyCode == 65 && e.ctrlKey === true) ||
                    (e.keyCode >= 35 && e.keyCode <= 39)) {
                    return;
                }

                if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                    e.preventDefault();
                }
            });

        });

    window.onload = function () {
        asignavalores('Localidad');
        asignavalores('Tipo');
    }


    function asignavalores(Nombre) {
        var COD_ORIGEN = document.getElementById('txt' + Nombre).value;
        //alert(COD_ORIGEN)
        var ORIGEN = document.getElementById(Nombre);
        //                alert('txt= ' + COD_ORIGEN + '    ,   Dll= ' + ORIGEN.value);
        ORIGEN.value = COD_ORIGEN;
        //                alert('txt= ' + COD_ORIGEN + '    ,   Dll= ' + ORIGEN.value);
    }

    function AsignaDatosDeEmbarcacion() {

        var NomBarco = $("#busbarco").val();
        if (NomBarco.length == 0) {
            //alert(NomSolicitante);
            alert('Ingrese nombre de embarcación y obtendra su información.');
            return;
        }
        //"/SolicitudDeInformacion/getinfosolicitantes"
        $.getJSON('@Url.Action("getinfoembarcacion", "SolicitudesWeb")', { NomBarco: NomBarco },
        function (data) {
            $('#RazonSocial').val('');
            $('#RNP').val('');

            if (data.length == 0) {
                alert('No se encuentra registrado el barco : ' + NomBarco + ', verificar.');
            }
            $.each(data, function (i, item) {
                $('#RazonSocial').val(item.RazonSocial);
                $('#RNP').val(item.RNP);
            });
        });

    }

</script>