﻿@model MASCore.Models.SolicitudesWeb_Entidad
@using Microsoft.AspNetCore.Http.Extensions

@{
    ViewBag.Title = "Editar Solicitud Web";
}

<script type="text/javascript">
    function dateBox_valueChanged(data) {
        $("#horario").dxTextBox("instance").option({ "value": $("#myDatepicker3").dxDateBox("instance").option("text") });
    }

    function selectBox_valueChanged(data) {
        $("#datojust").hide()
        switch (data.value) {
            case "JUSTIFICACION": $("#datojust").show(); break;
            default: break;
        }
    }

    function AsignaDatosDeSolicitante() {
        var NomBarco = $("#Nombredelaembarcacion").dxAutocomplete("instance").option("value");
        if (NomBarco === null) {
            alert('Ingrese nombre de embarcación y obtendra su información.');
            return;
        }
        $("#sol-indicator").dxLoadIndicator("option", "visible", true);
        $.getJSON('@Url.Action("getinfoembarcacion", "SolicitudesWeb")', { NomBarco: NomBarco },
        function (data) {
            $("#sol-indicator").dxLoadIndicator("option", "visible", false);
            $.each(data, function (i, item) {
                $('#RazonSocial').dxAutocomplete("instance").option({ "value": item.RazonSocial });
                $('#RNP').dxAutocomplete("instance").option({ "value": item.RNP });
            });
        });
    }

    function borrar(id) {
        if (confirm("¿Desea eliminar este archivo?") == true) {
            var url = '@Url.Action("EliminarImagenVarias")'
            window.location.href = url + "?IdArchivo=" + id + "&idModel=" + @Model.Id_Reporte + "&accion=3";
        }
    }

    function reloadGrid(e) {
        if (e.request.status == 200) {
            $("#gridDocumentos").dxDataGrid("instance").option({ dataSource: JSON.parse(e.request.response).lista });
        }
    }

    setTimeout(function () { $("#datojust").hide(); }, 600);
</script>

@using (Html.BeginForm("Edit", "SolicitudesWeb", FormMethod.Post, new { @class = "form-horizontal", @id = "miforma", enctype = "multipart/form-data" }))
{
    <div style="text-align:center; color:Red;font-size:medium" id="divNoValidoPor">
        @ViewBag.NoValidoPor
        @Html.ValidationSummary(true)
    </div>

    <article>
        <div class="row">
            <div class="col-5">
                <h1>Editar Solicitud Web</h1>
            </div>
            <div class="col-7 text-right">
                <script>
                    var idCedula = @Model.Id_Reporte;
                    var urlComback = '@Url.Action("Index", "SolicitudesWeb", null, UriHelper.GetDisplayUrl(Context.Request))';
                    @*var urlEdit = '@Url.Action("Edit", "SolicitudesWeb", null, UriHelper.GetDisplayUrl(Context.Request))';*@
                </script>
                <div class="row">
                    <div class="col-10"></div>
                    <div class="col-1" style="padding:0">
                        @*@(Html.DevExtreme().Button().Icon("fas fa-save").ElementAttr("class", "iconobotonedicion").ID("editarDetalle").UseSubmitBehavior(true).Type(ButtonType.Default).OnClick(@"function(args){edit(urlEdit,'?id='+idCedula)}"))*@
                        @*@(Html.DevExtreme().Button().Icon("fas fa-save").ElementAttr("class", "iconobotonedicion").ID("editarDetalle").UseSubmitBehavior(true).Type(ButtonType.Default))
                            @(Html.DevExtreme().Tooltip().Target("#editarDetalle").ShowEvent("mouseenter").HideEvent("mouseleave").ContentTemplate("Guardar"))*@

                    </div>
                    <div class="col-1" style="padding:0; text-align:center">
                        @*@(Html.DevExtreme().Button().Icon("fas fa-undo-alt").ID("regresar").UseSubmitBehavior(false).Type(ButtonType.Default).OnClick(@"function(args){comback(urlComback)}"))
                            @(Html.DevExtreme().Tooltip().Target("#regresar").ShowEvent("mouseenter").HideEvent("mouseleave").ContentTemplate("Regresar a la página anterior"))*@

                    </div>
                </div>
            </div>
        </div>
    </article>


    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h4>
                    <div class="row">
                        <div class="col-3" style="padding: 8px 0 0 0;margin: 0;text-align: center;">
                            <b>Id Reporte:</b>
                        </div>
                        <div class="col-9" style="padding: 0;margin: 0;">
                            @(Html.DevExtreme().TextBoxFor(model => model.Id_Reporte).Disabled(true))
                        </div>
                    </div>
                </h4>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row col-12">
                    @{
                        var tabs = new object[] {
                                    new { id = "generales", text = "Datos Generales", icon = "fas fa-file-contract" },
                                    new { id = "archivos", text = "Documentos", icon = "fas fa-book" }
                                };
                    }
                    @(Html.DevExtreme().Tabs().DataSource(tabs).ScrollByContent(true).ShowNavButtons(true).SelectedIndex(0).OnItemClick("tabs_itemClick"))
                </div>
                <div class="row col-12 generales oculto activo">
                    <div class="form" style="width:100%">
                        <div class="dx-fieldset">
                            <div class="dx-field row">
                                <label class="dx-field-label col-3">Fecha y Hora:</label>
                                <div class="dx-field-value col-5">
                                    @(Html.DevExtreme().DateBoxFor(model => model.Fecha).Placeholder("Fecha").Width("100%").ElementAttr("class", "form-control").ShowClearButton(true).InvalidDateMessage("Fecha no valida"))
                                    @Html.ValidationMessageFor(model => model.Fecha)
                                </div>
                                <div class="dx-field-value col-4">
                                    @{
                                        var hora = DateTime.Now;

                                        if (Model.Hora != null)
                                        {
                                            try
                                            {
                                                hora = Model.Hora == null ? DateTime.Now : DateTime.ParseExact(Model.Hora, "HH:mm:ss", null, System.Globalization.DateTimeStyles.None);
                                            }
                                            catch (Exception)
                                            {
                                                try
                                                {
                                                    hora = Model.Hora == null ? DateTime.Now : DateTime.ParseExact(Model.Hora, "HH:mm", null, System.Globalization.DateTimeStyles.None);
                                                }
                                                catch (Exception) { }
                                            }
                                        }
                                    }
                                    @*@(Html.DevExtreme().DateBox().Type(DateBoxType.Time).ID("myDatepicker3").ShowAnalogClock(true).PickerType(DateBoxPickerType.Rollers).DisplayFormat("HH:mm:ss").Placeholder("Hora").Width("100%").ElementAttr("class", "form-control").ShowClearButton(true).Value(hora).OnValueChanged("dateBox_valueChanged"))
                                    @(Html.DevExtreme().TextBoxFor(m => m.Hora).Value(@hora.ToString("HH:mm:ss")).ElementAttr("style", "display:none;visibility:hidden").ID("horario"))*@
                                    @*@Html.ValidationMessageFor(model => model.Hora)*@
                                </div>
                            </div>
                            <div class="dx-field row">
                                <label class="dx-field-label col-3">Tipo:</label>
                                <div class="dx-field-value col-9">
                                    @(Html.DevExtreme().SelectBoxFor(model => model.Tipo).OnValueChanged("selectBox_valueChanged").Placeholder("-- Seleccione un Tipo --").DataSource(ViewBag.Tipo).DisplayExpr("Resultado").ValueExpr("Resultado").Width("100%").DeferRendering(false).ElementAttr("class", "form-control").ShowClearButton(true).AcceptCustomValue(true))
                                    @Html.ValidationMessageFor(model => model.Tipo)
                                </div>
                            </div>
                            <div class="dx-field row" id="datojust">
                                <label class="dx-field-label col-3">Dato justificación:</label>
                                <div class="dx-field-value col-9">
                                    @(Html.DevExtreme().TextBoxFor(model => model.datoJustificacion).Placeholder("Justificacion").Width("100%").ElementAttr("class", "form-control").ShowClearButton(true))
                                </div>
                            </div>
                            <div class="dx-field row">
                                <label class="dx-field-label col-3">Embarcación:</label>
                                <div class="dx-field-value col-8" style="padding-right: 0;">
                                    @(Html.DevExtreme().AutocompleteFor(model => model.Nombredelaembarcacion).ID("Nombredelaembarcacion").Width("100%").MinSearchLength(1).DataSource(d => d.RemoteController().LoadUrl(Url.Action("SearchResultadoGenerico_nombrebarco", "SolicitudDeInformacion"))).Placeholder("Embarcación").ElementAttr("class", "form-control").ShowClearButton(true))
                                    @Html.ValidationMessageFor(model => model.Nombredelaembarcacion)
                                </div>
                                <div class="col-1" style="padding-right: 0;">
                                    @(Html.DevExtreme().Button().ID("btnNombredelaembarcacion").UseSubmitBehavior(false).Type(ButtonType.Default).OnClick(@"function(args){AsignaDatosDeSolicitante()}").Template(@<text>@(Html.DevExtreme().LoadIndicator().ID("sol-indicator").Height(20).Width(20).Visible(false))<i class="far fa-copy"></i></text>))
                                    @(Html.DevExtreme().Tooltip().Target("#btnNombredelaembarcacion").ShowEvent("mouseenter").HideEvent("mouseleave").ContentTemplate("Busca información de Embarcación"))
                                </div>
                            </div>
                            <div class="dx-field row">
                                <label class="dx-field-label col-3">Oficio CNP:</label>
                                <div class="dx-field-value col-9">
                                    @(Html.DevExtreme().TextBoxFor(model => model.OficioCNP).Placeholder("Oficio CNP").Width("100%").ElementAttr("class", "form-control").ShowClearButton(true))
                                    @Html.ValidationMessageFor(model => model.OficioCNP)
                                </div>
                            </div>
                            <div class="dx-field row">
                                <label class="dx-field-label col-3">Razón Social:</label>
                                <div class="dx-field-value col-9" style="padding-right: 0;">
                                    @(Html.DevExtreme().AutocompleteFor(model => model.RazonSocial).ID("RazonSocial").Placeholder("Razón Social").Width("100%").ElementAttr("class", "form-control").ShowClearButton(true))
                                    @Html.ValidationMessageFor(model => model.RazonSocial)
                                </div>
                            </div>
                            <div class="dx-field row">
                                <label class="dx-field-label col-3">RNP:</label>
                                <div class="dx-field-value col-9" style="padding-right: 0;">
                                    @(Html.DevExtreme().AutocompleteFor(model => model.RNP).ID("RNP").Placeholder("RNP").Width("100%").ElementAttr("class", "form-control").ShowClearButton(true))
                                    @Html.ValidationMessageFor(model => model.RNP)
                                </div>
                            </div>
                            <div class="dx-field row">
                                <label class="dx-field-label col-3">Comentarios:</label>
                                <div class="dx-field-value col-9">
                                    @(Html.DevExtreme().TextAreaFor(model => model.Comentarios).Width("100%").Height("200px"))
                                    @Html.ValidationMessageFor(model => model.Comentarios)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row col-12 archivos oculto">
                    <div class="dx-fieldset">
                        <div class="dx-field row">
                            <div class="dx-field-value col-12">
                                @Html.DevExtreme().FileUploader().Name("file").Accept("application/pdf").UploadMode(FileUploadMode.UseForm).Multiple(true).UploadMode(FileUploadMode.UseButtons).UploadUrl(Url.Action("Upload", "SolicitudesWeb", new { id = Model.Id_Reporte })).AllowedFileExtensions(new List<string> { ".pdf" }).OnUploaded("function(e){ reloadGrid(e) }")
                            </div>
                        </div>
                    </div>
                    <div>
                        @(Html.DevExtreme().DataGrid<MASCore.Models.CargaImagenesVariasSolWeb>().ID("gridDocumentos")
                                    .DataSource(Model.ListaImagenesCarga).ColumnHidingEnabled(true).ShowColumnLines(true).ShowRowLines(true).RowAlternationEnabled(true).ShowBorders(true)
                                    .Pager(p => p.AllowedPageSizes(new int[] { 5, 8, 15, 30 }).ShowInfo(true).ShowNavigationButtons(true).ShowPageSizeSelector(true).Visible(true))
                                    .Paging(p => p.PageSize(5)).ShowColumnHeaders(true).WordWrapEnabled(true)
                                    .Columns(columns =>
                                    {
                                        columns.AddFor(m => m.Identificador).Caption("No Reporte");
                                        columns.AddFor(m => m.Fecha).Caption("Fecha Carga").Format(Format.ShortDate);
                                        columns.AddFor(m => m.Consecutivo).Caption("Nombre de archivo");
                                        columns.AddFor(m => m.Consecutivo).Caption("Acción para imagen").CellTemplate(@<text>
                                            &nbsp;&nbsp;
                                            <a title="Ver Imagen" href='@Url.Action("VerImagenVarias")?rutabase=<%= data.RutaBase %>&carpeta=<%= data.Carpeta %>&consecutivo=<%= value %>' target="_blank"><i class="dx-icon fas fa-image tamanoIconoEnGrid"></i></a>
                                            &nbsp;&nbsp; &nbsp;&nbsp;
                                            <a title="Descargar" href='@Url.Action("DescargarImagenVarias")?rutabase=<%= data.RutaBase %>&carpeta=<%= data.Carpeta %>&consecutivo=<%= value %>' target="_blank"><i class="dx-icon fa fa-download tamanoIconoEnGrid"></i></a>
                                            &nbsp;&nbsp; &nbsp;&nbsp;
                                            <a title="Eliminar" href='javascript:borrar(<%= data.Id %>)'><i class="fas fa-trash-alt tamanoIconoEnGrid"></i></a>
                                        </text>);
                                                                })
                        )
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Hidden("submitButton", "Guardar Cambios")
}
