﻿@model MASCore.Models.SolicitudesWeb_Entidad
@using Microsoft.AspNetCore.Http.Extensions

@{
    ViewBag.Title = "Documentos de Solicitud Web";
}

<script>
    function borrar(id) {
        if (confirm("¿Desea eliminar este archivo?") == true) {
            var url = '@Url.Action("EliminarImagenVarias")'
            window.location.href = url + "?IdArchivo=" + id + "&idModel=" + @Model.Id_Reporte + "&accion=2";
        }
    }

    function descargar() {
        window.location.href='@Url.Action("DescargaTodoOficios", "SolicitudesWeb", new { idSol = Model.Id_Reporte })';
    }
</script>

@using (Html.BeginForm("ListaOficios", "SolicitudesWeb"))
{
    <article>
        <div class="row">
            <div class="col-5">
                <h1>Documentos de Solicitud Web</h1>
            </div>
            <div class="col-7 text-right">
                <script>
                    var urlComback = '@Url.Action("BuscaSolicitudesWeb", "SolicitudesWeb", null, UriHelper.GetDisplayUrl(Context.Request))';
                </script>
                <div class="row">
                    <div class="col-9"></div>
                    <div class="col-2">
                        @*@if (Model.ListaImagenesCarga != null && Model.ListaImagenesCarga.Count > 0)
                            {
                                @(Html.DevExtreme().Button().Icon("fas fa-cloud-download-alt").ElementAttr("class", "iconobotonedicion").ID("editarDetalle").UseSubmitBehavior(false).Width("75%").Type(ButtonType.Default).OnClick(@"function(args){descargar()}"))
                                @(Html.DevExtreme().Tooltip().Target("#editarDetalle").ShowEvent("mouseenter").HideEvent("mouseleave").ContentTemplate("Descargar Todo"))
                            }*@
                    </div>
                    <div class="col-1" style="padding:0; text-align:center">
                        @*@(Html.DevExtreme().Button().Icon("fas fa-undo-alt").ID("regresar").UseSubmitBehavior(false).Type(ButtonType.Default).OnClick(@"function(args){comback(urlComback)}"))
                            @(Html.DevExtreme().Tooltip().Target("#regresar").ShowEvent("mouseenter").HideEvent("mouseleave").ContentTemplate("Regresar a la página anterior"))*@

                    </div>
                </div>
            </div>
        </div>
    </article>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_content">
                @*<div>
                        @if (Model.ListaImagenesCarga != null && Model.ListaImagenesCarga.Count > 0)
                        {
                            @(Html.DevExtreme().DataGrid<MASCore.Models.CargaImagenesVariasSolWeb>()
                                .DataSource(Model.ListaImagenesCarga)
                                .ColumnHidingEnabled(true)
                                .ShowColumnLines(true)
                                .ShowRowLines(true)
                                .RowAlternationEnabled(true)
                                .ShowBorders(true)
                                .Pager(p => p
                                    .AllowedPageSizes(new int[] { 5, 8, 15, 30 })
                                    .ShowInfo(true)
                                    .ShowNavigationButtons(true)
                                    .ShowPageSizeSelector(true)
                                    .Visible(true))
                                .Paging(p => p.PageSize(5))
                                .ShowColumnHeaders(true)
                                .WordWrapEnabled(true)
                                .Columns(columns =>
                                {
                                    columns.AddFor(m => m.Identificador).Caption("No Reporte");
                                    columns.AddFor(m => m.Fecha).Caption("Fecha Carga").Format(Format.ShortDate);
                                    columns.AddFor(m => m.Consecutivo).Caption("Nombre de archivo");
                                    columns.AddFor(m => m.Consecutivo).Caption("Acción para imagen").CellTemplate(@<text>
                                        &nbsp;&nbsp;
                                        <a title="Ver Imagen" href='@Url.Action("VerImagenVarias")?rutabase=<%= data.RutaBase %>&carpeta=<%= data.Carpeta %>&consecutivo=<%= value %>' target="_blank"><i class="dx-icon fas fa-image tamanoIconoEnGrid"></i></a>
                                        &nbsp;&nbsp; &nbsp;&nbsp;
                                        <a title="Descargar" href='@Url.Action("DescargarImagenVarias")?rutabase=<%= data.RutaBase %>&carpeta=<%= data.Carpeta %>&consecutivo=<%= value %>' target="_blank"><i class="dx-icon fa fa-download tamanoIconoEnGrid"></i></a>
                                        &nbsp;&nbsp; &nbsp;&nbsp;
                                        <a title="Eliminar" href='javascript:borrar(<%= data.Id %>)'><i class="fas fa-trash-alt tamanoIconoEnGrid"></i></a>
                                    </text>);
                                })
                            )
                        }
                        else {
                            <h3>Sin oficios</h3>
                        }
                    </div>*@
            </div>
        </div>
    </div>
}
