﻿@{
    ViewBag.Title = "Inicio";
    string Valida = @ViewBag.Valida7X24;
}

<script type="text/javascript">
    sessionStorage["FechaIni"] = "";
    sessionStorage["FechaFin"] = "";
</script>
<style>
    .panel {
        margin-bottom: 20px;
        background-color: #2A3F54;
        border: 1px solid transparent;
        border-radius: 4px;
        -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
        color:white;
    }
    a , a:hover{
        color: #CDA434;
    }
    
</style>

<div class="index" >
    <div style="text-align:center">
        @*<h1>Bienvenido !</h1>*@
        @*<ol class="round">
            <li class="astrum">*@
                <h3>Módulo Administrativo SISMEP</h3>
            @*</li>
        </ol>*@
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h4>Módulos del Sistema</h4>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-4 col-md-4">
                            <div class="panel ">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                            <i class="fa fa-edit fa-1x"></i>
                                        </div>
                                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 text-center">
                                            <div><h6>Cédulas </h6></div>
                                        </div>
                                    </div>
                                </div>
                                <a href='@Url.Action("Opciones", "Cedula")'>
                                    <div class="panel-footer" style="min-height: 40px; max-height: 40px;">
                                       
                                        <div class="text-right">
                                            <i id="ir12" class="fa fa-arrow-circle-right "></i>
                                            
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="panel ">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                            <i class="fa fa-truck fa-1x"></i>
                                        </div>
                                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 text-center">
                                            <div><h6>Entradas </h6></div>
                                        </div>
                                    </div>
                                </div>
                                <a href='@Url.Action("Index", "OficioEntrada")'>
                                    <div class="panel-footer" style="min-height: 40px; max-height: 40px;">
                                        @*<div class="text-right"><h6> <i class="fa fa-arrow-circle-right"></i></h6></div>*@
                                        <div class="text-right">
                                            <i id="ir13" class="fa fa-arrow-circle-right tamanoIconoEnGrid"></i>
                                            
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="panel">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                            <i class="fa fa-road fa-1x"></i>
                                        </div>
                                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 text-center">
                                            <div><h6>Salidas </h6></div>
                                        </div>
                                    </div>
                                </div>
                                <a href='@Url.Action("Index", "OficioSalida")'>
                                    <div class="panel-footer" style="min-height: 40px; max-height: 40px;">
                                        @*<div class="text-right"><h6> <i class="fa fa-arrow-circle-right"></i></h6></div>*@
                                        <div class="text-right">
                                            <i id="ir14" class="fa fa-arrow-circle-right tamanoIconoEnGrid"></i>
                                           
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4">
                            <div class="panel ">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                            <i class="fa fa-info-circle fa-1x"></i>
                                        </div>
                                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 text-center">
                                            <div><h6>Solicitud de información </h6></div>
                                        </div>
                                    </div>
                                </div>
                                <a href='@Url.Action("Index", "SolicitudDeInformacion")'>
                                    <div class="panel-footer" style="min-height: 40px; max-height: 40px;">
                                        @*<div class="text-right"><h6> <i class="fa fa-arrow-circle-right"></i></h6></div>*@
                                        <div class="text-right">
                                            <i id="ir9" class="fa fa-arrow-circle-right tamanoIconoEnGrid"></i>
                                            
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="panel ">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                            <i class="fa fa-user fa-1x"></i>
                                        </div>
                                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 text-center">
                                            <div><h6>Solicitantes </h6></div>
                                        </div>
                                    </div>
                                </div>
                                <a href='@Url.Action("Index", "Solicitantes")'>
                                    <div class="panel-footer" style="min-height: 40px; max-height: 40px;">
                                        @*<div class="text-right"><h6> <i class="fa fa-arrow-circle-right"></i></h6></div>*@
                                        <div class="text-right">
                                            <i id="ir10" class="fa fa-arrow-circle-right tamanoIconoEnGrid"></i>
                                            
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="panel ">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                            <i class="fa fa-wrench fa-1x"></i>
                                        </div>
                                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 text-center">
                                            <div><h6>Mantenimientos </h6></div>
                                        </div>
                                    </div>
                                </div>
                                <a href='@Url.Action("Index", "Mantenimiento")'>
                                    <div class="panel-footer" style="min-height: 40px; max-height: 40px;">
                                        @*<div class="text-right"><h6> <i class="fa fa-arrow-circle-right"></i></h6></div>*@
                                        <div class="text-right">
                                            <i id="ir11" class="fa fa-arrow-circle-right tamanoIconoEnGrid"></i>
                                            
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4">
                            <div class="panel ">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                            <i class="fa fa-folder-open fa-1x"></i>
                                        </div>
                                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 text-center">
                                            <div><h6>Kardex </h6></div>
                                        </div>
                                    </div>
                                </div>
                                <a href='@Url.Action("Index", "Kardex")'>
                                    <div class="panel-footer" style="min-height: 40px; max-height: 40px;">
                                        @*<div class="text-right"><h6> <i class="fa fa-arrow-circle-right"></i></h6></div>*@
                                        <div class="text-right">
                                            <i id="ir8" class="fa fa-arrow-circle-right tamanoIconoEnGrid"></i>
                                            
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="panel ">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                            <i class="fa fa-phone fa-1x"></i>
                                        </div>
                                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 text-center">
                                            <div><h6>Llamadas Telefónicas </h6></div>
                                        </div>
                                    </div>
                                </div>
                                <a href='@Url.Action("Index", "Llamadas")'>
                                    <div class="panel-footer" style="min-height: 40px; max-height: 40px;">
                                        @*<div class="text-right"><h6> <i class="fa fa-arrow-circle-right"></i></h6></div>*@
                                        <div class="text-right">
                                            <i id="ir7" class="fa fa-arrow-circle-right tamanoIconoEnGrid"></i>
                                            
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="panel ">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                            <i class="fas fa-file-alt fa-1x"></i>
                                        </div>
                                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 text-center">
                                            <div><h6>Solicitudes Web </h6></div>
                                        </div>
                                    </div>
                                </div>
                                <a href='@Url.Action("Index", "SolicitudesWeb")'>
                                    <div class="panel-footer" style="min-height: 40px; max-height: 40px;">
                                        @*<div class="text-right"><h6> <i class="fa fa-arrow-circle-right"></i></h6></div>*@
                                        <div class="text-right">
                                            <i id="ir6" class="fa fa-arrow-circle-right tamanoIconoEnGrid"></i>
                                            
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        @{
                            if (Valida == "1") //VZL_170628 cambio
                            {
                                <div class="col-lg-4 col-md-4">
                                    <div class="panel ">
                                        <div class="panel-heading">
                                            <div class="row">
                                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                                    <i class="fas fa-clock fa-1x"></i>
                                                </div>
                                                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 text-center">
                                                    <div><h6>Turnos OFP </h6></div>
                                                </div>
                                            </div>
                                        </div>
                                        <a href='@Url.Action("Index", "TurnosOFP")'>
                                            <div class="panel-footer" style="min-height: 40px; max-height: 40px;">
                                                @*<div class="text-right"><h6> <i class="fa fa-arrow-circle-right"></i></h6></div>*@
                                                <div class="text-right">
                                                    <i id="ir3" class="fa fa-arrow-circle-right tamanoIconoEnGrid"></i>
                                                    
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            }
                        }
                        <div class="col-lg-4 col-md-4">
                            <div class="panel ">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                            <i class="fa fa-table fa-1x"></i>
                                        </div>
                                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 text-center">
                                            <div><h6>Reportes Avanzados </h6></div>
                                        </div>
                                    </div>
                                </div>
                                <a href='@Url.Action("Index", "ReportesAvanzados")'>
                                    <div class="panel-footer" style="min-height: 40px; max-height: 40px;">
                                        @*<div class="text-right"><h6> <i class="fa fa-arrow-circle-right"></i></h6></div>*@
                                        <div class="text-right">
                                            <i id="ir4" class="fa fa-arrow-circle-right tamanoIconoEnGrid"></i>
                                            
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="panel ">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                            <i class="fas fa-cloud-upload-alt fa-1x"></i>
                                        </div>
                                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 text-center">
                                            <div><h6>Carga de Documentos </h6></div>
                                        </div>
                                    </div>
                                </div>
                                <a href='@Url.Action("IndexCarIma", "CargaImagenes")'>
                                    <div class="panel-footer" style="min-height: 40px; max-height: 40px;">
                                        @*<div class="text-right"><h6> <i class="fa fa-arrow-circle-right"></i></h6></div>*@
                                        <div class="text-right">
                                            <i id="ir5" class="fa fa-arrow-circle-right tamanoIconoEnGrid"></i>
                                            
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        @{
                            if (Valida == "1") //VZL_170628 cambio
                            {
                                <div class="col-lg-4 col-md-4">
                                    <div class="panel ">
                                        <div class="panel-heading">
                                            <div class="row">
                                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                                    <i class="fa fa-newspaper fa-1x"></i>
                                                </div>
                                                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 text-center">
                                                    <div><h6>Crea Noticias para Monitoreo </h6></div>
                                                </div>
                                            </div>
                                        </div>
                                        <a href='@Url.Action("IndexNotMon", "NoticiasMonitoreo")'>
                                            <div class="panel-footer" style="min-height: 40px; max-height: 40px;">
                                                @*<div class="text-right"><h6> <i class="fa fa-arrow-circle-right"></i></h6></div>*@
                                                <div class="text-right">
                                                    <i id="ir2" class="fa fa-arrow-circle-right tamanoIconoEnGrid"></i>

                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            }
                        }
                        <div class="col-lg-4 col-md-4">
                            <div class="panel ">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                            <i class="fa fa-file-word fa-1x"></i>
                                        </div>
                                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 text-center">
                                            <div><h6>Captura de actividades </h6></div>
                                        </div>
                                    </div>
                                </div>
                                <a href='@Url.Action("IndexCapturaAct", "ReportesAvanzados")'>
                                    <div class="panel-footer" style="min-height: 40px; max-height: 40px;">
                                        @*<div class="text-right"><h6> <i class="fa fa-arrow-circle-right"></i></h6></div>*@
                                        <div class="text-right">
                                            <i id="ir1" class="fa fa-arrow-circle-right tamanoIconoEnGrid"></i>

                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="panel panel">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                            <i class="fa fa-book fa-1x"></i>
                                        </div>
                                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 text-center">
                                            <div><h6>Bitácora de actividades </h6></div>
                                        </div>
                                    </div>
                                </div>
                                <a href='@Url.Action("ReporteActividadOperadores", "ReportesAvanzados")'>
                                    <div class="panel-footer" style="min-height: 40px; max-height: 40px;">
                                        @*<div class="text-right"><h6> <i class="fa fa-arrow-circle-right"></i></h6></div>*@
                                        <div class="text-right">
                                            <i id="ir1" class="fa fa-arrow-circle-right tamanoIconoEnGrid"></i>

                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
</div>