﻿@model MASCore.Models.SolicitudDeInformacionEntradaDatosBusqueda

@{
    ViewBag.Title = "Búsqueda Solicitudes de Información";
}
<head>

    <script src="~/js/SolicitudDeInformacion/BuscaSolInfot.js"></script>

</head>

<article>
    <h1>Buscar Solicitudes de Información</h1>
</article>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h4>Criterios de consulta</h4>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    <table style="width: 100%; margin-left: 15px; margin-right: 15px;">
                        <tr style="height: 50px;">
                            <td style="width: 100%;">
                                <div id="Asunto"></div>
                               
                            </td>
                        </tr>
                    </table>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <table style="width: 100%">
                            <tr style="height: 50px;">
                                <td style="width: 100%;">
                                    <div id="FechaInicial"></div>
                                    <div id="ToolTip1">Fecha Inicial</div>


                                </td>
                            </tr>
                            <tr style="height: 50px;">
                                <td style="width: 100%;">
                                    <div id="Solicitante"></div>
                                  
                                </td>
                            </tr>
                            <tr style="height: 50px;">
                                <td style="width: 100%;">
                                    <div id="OFP"></div>
                                   
                                </td>
                            </tr>
                            <tr style="height: 50px;">
                                <td style="width: 100%;">
                                    <div id="Medio"></div>
                                                                  
                                </td>
                            </tr>
                            <tr style="height: 50px;">
                                <td style="width: 100%;">
                                    <div id="Barco"></div>
                                  </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <table style="width: 100%">
                            <tr style="height: 50px;">
                                <td style="width: 100%;">
                                    <div id="FechaFinal"></div>
                                    <div id="ToolTip2">Fecha Final</div>
                                  
                                </td>
                            </tr>
                            <tr style="height: 50px;">
                                <td style="width: 100%;">
                                    <div id="Folio"></div>
                              
                                </td>
                            </tr>
                            <tr style="height: 50px;">
                                <td style="width: 100%;">
                                    <div id="Dependencia"></div>
                                 </td>
                            </tr>
                            <tr style="height: 50px;">
                                <td style="width: 100%;">
                                    <div id="Estado"></div>
                              
                                </td>
                            </tr>
                            <tr style="height: 50px;">
                                <td style="width: 100%;">
                                    <div id="Ciudad"></div>
                                    @*@(Html.DevExtreme()
                                                        .SelectBoxFor(model => model.Ciudad)
                                                        .DisplayExpr("Resultado")
                                                        .ValueExpr("Resultado")
                                                        .Placeholder("-- Seleccione la Ciudad --")
                                                        .Width("100%")
                                                        .ID("Ciudad")
                                                        //.DataSource(d => d.Mvc().LoadAction("GetCiudades"))
                                                        .ElementAttr("class", "form-control")
                                                        .ShowClearButton(true)
                                    )*@
                                
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div style="text-align: right">
    <div id="search"></div>
    @*@(Html.DevExtreme()
                        .Button()
                        .Icon("fas fa-search")
                        .Type(ButtonType.Default)
                        .StylingMode(ButtonStylingMode.Contained)
                        .UseSubmitBehavior(true)
    )*@
</div>
<br />
<section>
  
        <script type="text/javascript">
                function Exportar() {
                    window.open("@Url.Action("GeneraReporteSolicitudDeInformacionExportarBusqueda", "SolicitudDeInformacion")", '_blank');
                }

                function PDF() {
                    window.open("@Url.Action("GeneratePdfSolicitudDeInformacion", "SolicitudDeInformacion")", '_blank');
                }
        </script>

        <div style="text-align: right; margin-top:5px;margin-bottom:5px;">
            <div class="row">
                <div class="col-lg-10"></div>
                <div class="col-lg-1">
                    <div id="exportToExcel"></div>
                    <div id="ToolTip4"></div>
                    
                </div>
                <div class="col-1">
                    <div id="exportToPDF"></div>
                    <div id="ToolTip5"></div>
  
                </div>
            </div>


        </div>
        <div id="grid" style="margin-top: 10px;">
            <div id="BuscaSolicitudesDeInformacion"></div>
            @*@(Html.DevExtreme()
                                .DataGrid<MASCore.BuscaSolicitudesDeInformacion_Result>()
                                .ID("gridContainer")
                                .DataSource(Model.ResultadoListaSolInfoSP, new string[] { "Folio" })
                                .ColumnHidingEnabled(true)
                                .ShowColumnLines(true)
                                .ShowRowLines(true)
                                .RowAlternationEnabled(true)
                                .ShowBorders(true)
                                .Pager(p => p.AllowedPageSizes(new int[] { 5, 8, 15, 30 })
                                .ShowInfo(true)
                                .ShowNavigationButtons(true)
                                .ShowPageSizeSelector(true)
                                .Visible(true))
                                .Paging(p => p.PageSize(5))
                                .ShowColumnHeaders(true)
                                .WordWrapEnabled(true)
                                .Columns(columns =>
                                    {
                                        columns.AddFor(m => m.Folio).Caption("Folio").Width(125);
                                        columns.AddFor(m => m.Fecha).Caption("Fecha").Format(Format.ShortDate);
                                        columns.AddFor(m => m.Solicitante).Caption("Solicitante");
                                        columns.AddFor(m => m.Cargo).Caption("Cargo");
                                        columns.AddFor(m => m.NoTotalBarcos).Caption("NoTotalBarcos");
                                        columns.AddFor(m => m.Telefono).Caption("Teléfono");
                                        columns.AddFor(m => m.Ciudad).Caption("Ciudad");
                                        columns.AddFor(m => m.Estado).Caption("Estado");
                                        columns.AddFor(m => m.Asunto).Caption("Asunto");
                                        columns.AddFor(m => m.Dependencia).Caption("Dependencia");
                                        columns.AddFor(m => m.Medio).Caption("Medio");
                                        columns.AddFor(m => m.OFP).Caption("OFP");
                                        columns.AddFor(m => m.idInfoSol).Caption("Acción").CellTemplate(@<text><a title="Ver Detalle" href='Details/<%= value %>'><i class="dx-icon far fa-folder tamanoIconoEnGrid"></i></a></text>);
                                                                    }
                                                                                                )
            )*@
        </div>
        <br />
        <br />
    
</section>

