﻿@model MASCore.Models.SolicitudesDeInformacionModel
@using Microsoft.AspNetCore.Http.Extensions



@{
    ViewBag.Title = "Nueva Solicitud de Información";
    int identificador = 0;

}
<head>
    <script src="~/js/SolicitudDeInformacion/CreateSolinfo.js"></script>
</head>

@*<article id="divGuardar">
        <div class="row">
            <div class="col-5">
                <h1>Nueva Solicitud de Información</h1>
            </div>
            <div class="col-7 text-right">
                <script>
                    var urlComback = '@Url.Action("Index", "SolicitudDeInformacion", null, UriHelper.GetDisplayUrl(Context.Request))';
                </script>
                <div class="row">
                    <div class="col-10"></div>
                    <div class="col-1" style="padding:0">
                        <div id="editarDetalle"></div>
                        <div id="Tooltip1">Guardar</div>

                    </div>
                    <div class="col-1" style="padding:0; text-align:center">
                        <div id="regresar"></div>
                        <div id="Tooltip2">Regresar a la página anterior</div>
                    </div>
                </div>
            </div>
        </div>
    </article>*@

<div id="tabs">

    <div class="tabs-container"></div>
    <div class="content  dx-fieldset">

        <!---Seccion generales-->
        <div id="generales">

            <div class="row col-12 generales oculto activo">
                <div class="form" style="width:100%">
                    <div class="dx-fieldset">
                        <div class="dx-field row">
                            <label class="dx-field-label col-3">Fecha y Hora:</label>
                            <div class="dx-field-value col-5">
                                <div id="Fecha"></div>

                                @*@(Html.DevExtreme().DateBoxFor(model => model.fecha).DisplayFormat("dd/MM/yyyy").Placeholder("Fecha").Width("100%").ElementAttr("class", "form-control").ShowClearButton(true).InvalidDateMessage("Fecha no valida"))
                                @Html.ValidationMessageFor(model => model.fecha)*@
                            </div>
                            <div class="dx-field-value col-4">
                                <div id="myDatepicker3"></div>
                                @*@{
                                    var hora = DateTime.Now;

                                    if (Model.hora != null)
                                    {
                                        try
                                        {
                                            hora = Model.hora == null ? DateTime.Now : DateTime.ParseExact(Model.hora, "HH:mm:ss", null, System.Globalization.DateTimeStyles.None);
                                        }
                                        catch (Exception)
                                        {
                                            try
                                            {
                                                hora = Model.hora == null ? DateTime.Now : DateTime.ParseExact(Model.hora, "HH:mm", null, System.Globalization.DateTimeStyles.None);
                                            }
                                            catch (Exception) { }
                                        }
                                    }
                                }
                                @(Html.DevExtreme().DateBox().Type(DateBoxType.Time).ID("myDatepicker3").ShowAnalogClock(true).PickerType(DateBoxPickerType.Rollers).DisplayFormat("HH:mm:ss").Placeholder("Hora").Width("100%").ElementAttr("class", "form-control").ShowClearButton(true).Value(hora).OnValueChanged("dateBox_valueChanged"))
                                @(Html.DevExtreme().TextBoxFor(m => m.hora).ElementAttr("style", "display:none;visibility:hidden").ID("horario"))
                                @Html.ValidationMessageFor(model => model.hora)*@
                            </div>
                        </div>
                        <div class="dx-field row">
                            <label class="dx-field-label col-3">Solicitante:</label>
                            <div class="dx-field-value col-8" style="padding-right: 0;">
                                <div id="solicitante"></div>
                                @*@(Html.DevExtreme().AutocompleteFor(model => model.solicitante).ID("solicitante").Width("100%").MinSearchLength(1).DataSource(d => d.Mvc().LoadAction("SearchResultadoGenerico_solicitante")).Placeholder("Solicitante").ElementAttr("class", "form-control").ShowClearButton(true))
                                @Html.ValidationMessageFor(model => model.solicitante)*@
                            </div>
                            <div class="col-1" style="padding-right: 0;">
                                <div id="buscardatossolicitante"></div>
                                <div id="Tooltip1">Busca información de solicitante</div>
                                @*@(Html.DevExtreme().Button().ID("buscardatossolicitante").UseSubmitBehavior(false).Type(ButtonType.Default).OnClick(@"function(args){AsignaDatosDeSolicitante()}").Template(@<text>@(Html.DevExtreme().LoadIndicator().ID("sol-indicator").Height(20).Width(20).Visible(false))<i class="fas fa-search"></i></text>))
                                @(Html.DevExtreme().Tooltip().Target("#buscardatossolicitante").ShowEvent("mouseenter").HideEvent("mouseleave").ContentTemplate("Busca información de solicitante"))*@
                            </div>
                        </div>
                        <div class="dx-field row">
                            <label class="dx-field-label col-3">Cargo:</label>
                            <div class="dx-field-value col-9">
                                <div id="Cargo"></div>
                                @*@(Html.DevExtreme().TextBoxFor(model => model.cargo).ID("cargo").Placeholder("Cargo").Width("100%").ElementAttr("class", "form-control").ShowClearButton(true))
                                @Html.ValidationMessageFor(model => model.cargo)*@
                            </div>
                        </div>
                        <div class="dx-field row">
                            <label class="dx-field-label col-3">Teléfono:</label>
                            <div class="dx-field-value col-9">
                                <div id="telefono"></div>
                                @*@(Html.DevExtreme().TextBoxFor(model => model.telefono).ID("telefono").Placeholder("Teléfono").Width("100%").ElementAttr("class", "form-control").ShowClearButton(true).Mask("(00) 0000-0000").MaskRules(new { X = new JS("/[02-9]/") }).ShowMaskMode(ShowMaskMode.Always).UseMaskedValue(true))
                                @Html.ValidationMessageFor(model => model.telefono)*@
                            </div>
                        </div>
                        <div class="dx-field row">
                            <label class="dx-field-label col-3">Medio:</label>
                            <div class="dx-field-value col-9">
                                <div id="medio"></div>
                                @*@(Html.DevExtreme().SelectBoxFor(model => model.medio).Placeholder("-- Seleccione un Medio --").ID("medio").DataSource(ViewBag.medio).DisplayExpr("Resultado").ValueExpr("Resultado").Width("100%").DeferRendering(false).ElementAttr("class", "form-control").ShowClearButton(true).AcceptCustomValue(true))
                                @Html.ValidationMessageFor(model => model.medio)*@
                            </div>
                        </div>
                        <div class="dx-field row">
                            <label class="dx-field-label col-3">Email:</label>
                            <div class="dx-field-value col-9">
                                <div id="Email"></div>
                                @*@(Html.DevExtreme().TextBoxFor(model => model.email).ID("email").Placeholder("Email").Width("100%").ElementAttr(new Dictionary<string, object>() { { "class", "form-control" }, { "type", "email" } }).ShowClearButton(true).MaskRules(new { X = new JS("/[A-Za-z0-9._%-]+@[A-Za-z0-9.-]+.[A-Za-z]{2,4}/") }))
                                @Html.ValidationMessageFor(model => model.email)*@
                            </div>
                        </div>
                        <div class="dx-field row">
                            <label class="dx-field-label col-3">OFP:</label>
                            <div class="dx-field-value col-9">
                                <div id="ofp"></div>
                                @*@(Html.DevExtreme().SelectBoxFor(model => model.ofp).Placeholder("-- Seleccione un OFP --").ID("ofp").DataSource(ViewBag.ofp).DisplayExpr("Resultado").ValueExpr("Resultado").Width("100%").DeferRendering(false).ElementAttr("class", "form-control").ShowClearButton(true).AcceptCustomValue(true))
                                @Html.ValidationMessageFor(model => model.ofp)*@
                            </div>
                        </div>
                        <div class="dx-field row">
                            <label class="dx-field-label col-3">Estado:</label>
                            <div class="dx-field-value col-9">
                                <div id="estado"></div>
                                @*@(Html.DevExtreme().SelectBoxFor(model => model.estado).Placeholder("-- Seleccione un Estado --").ID("estado").DataSource(ViewBag.estado).DisplayExpr("Resultado").ValueExpr("Resultado").OnValueChanged("getCiudades").Width("100%").DeferRendering(false).ElementAttr("class", "form-control").ShowClearButton(true).AcceptCustomValue(true))
                                @Html.ValidationMessageFor(model => model.estado)
                                @(Html.DevExtreme().LoadIndicator().ID("estado-indicator").Height(20).Width(20).Visible(false))*@
                            </div>
                        </div>
                        <div class="dx-field row">
                            <label class="dx-field-label col-3">Ciudad:</label>
                            <div class="dx-field-value col-9">
                                <div id="ciudad"></div>
                                @*@(Html.DevExtreme().SelectBoxFor(model => model.ciudad).Placeholder("-- Seleccione una Ciudad --").ID("ciudad").DataSource(ViewBag.ciudad).DisplayExpr("Resultado").ValueExpr("Resultado").Width("100%").DeferRendering(false).ElementAttr("class", "form-control").ShowClearButton(true).AcceptCustomValue(true))
                                @Html.ValidationMessageFor(model => model.ciudad)
                                @Html.Hidden("ciudad2", Model.ciudad)*@
                                <script>
                                        @*setTimeout(function () { getCiudades({ value: "@Model.estado" }); }, 600);*@
                                </script>
                            </div>
                        </div>
                        <div class="dx-field row">
                            <label class="dx-field-label col-3">Dependencia  o  Razón Social:</label>
                            <div class="dx-field-value col-9">
                                <div id="dependencia"></div>
                                @*@(Html.DevExtreme().TextBoxFor(model => model.dependencia).ID("dependencia").ElementAttr("class", "form-control").ReadOnly(true))*@
                            </div>
                        </div>
                        <div class="dx-field row">
                            <label class="dx-field-label col-3">Folio:</label>
                            <div class="dx-field-value col-9">
                                <div id="folio"></div>
                                @*@(Html.DevExtreme().TextBoxFor(model => model.folio).ElementAttr("class", "form-control"))
                                @Html.ValidationMessageFor(model => model.folio)*@
                            </div>
                        </div>
                        <div class="dx-field row">
                            <label class="dx-field-label col-3">Asunto:</label>
                            <div class="dx-field-value col-9">
                                <div id="Asunto"></div>
                                @*@(Html.DevExtreme().SelectBoxFor(model => model.asunto).Placeholder("-- Seleccione un Asunto --").OnValueChanged("AsignaDatosDescripcion").ID("asunto").DataSource(ViewBag.asunto).DisplayExpr("Resultado").ValueExpr("Resultado").Width("100%").DeferRendering(false).ElementAttr("class", "form-control").ShowClearButton(true).AcceptCustomValue(true))*@
                            </div>
                        </div>
                        <div class="dx-field row">
                            <label class="dx-field-label col-3">Descripción de la información solicitada:</label>
                            <div class="dx-field-value col-9">
                                <div id="descripcion"></div>
                                @*@(Html.DevExtreme().TextAreaFor(model => model.descripcion).ID("descripcion").Width("100%").Height("200px"))
                                @Html.ValidationMessageFor(model => model.descripcion)*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <!---Seccion Alertas-->
        <div id="alertas">

            <div id="ErroresAgregarEmbarcacion" style="text-align:center; color:Red; background-color:White"></div>
            <div style="padding-right: 0px;margin-right: 0px;text-align: right;margin-top: auto;">
                <div id="button-indicator"></div>

            </div>
            <div class="dx-fieldset">
                <div class="dx-field row">
                    <label class="dx-field-label col-1">Barco:</label>
                    <div class="dx-field-value col-10" style="padding-right: 0;padding-left: 0;">
                        <div id="Barco"></div>

                    </div>
                    <div class="col-1" style="padding-right:0">
                        <div id="agregar"></div>
                        <div id="ToolTip3"></div>

                    </div>
                </div>
            </div>


                <div class="form" style="width:100%">

                </div>
                <div id="SolInfoRelacionInsertar"></div>
                @*@(Html.DevExtreme().DataGrid<MASCore.SolInfoRelacionInsertarTMPResult_Result>().DataSource(@Model.ResultadoListaSolInfoRelacionSPTMP)
            .ColumnHidingEnabled(true).ShowColumnLines(true).ShowRowLines(true).RowAlternationEnabled(true).ShowBorders(true).ID("gridEmbarcaciones")
            .Pager(p => p.AllowedPageSizes(new int[] { 5, 8, 15, 30 }).ShowInfo(true).ShowNavigationButtons(true).ShowPageSizeSelector(true).Visible(true))
            .Paging(p => p.PageSize(5)).ShowColumnHeaders(true).WordWrapEnabled(true)
            .Columns(columns =>
            {
                columns.AddFor(m => m.Barco).Caption("Embarcación").Width(100);
                columns.AddFor(m => m.RNP).Caption("RNP").Width(80);
                columns.AddFor(m => m.Matricula).Caption("Matricula").Width(80);
                columns.AddFor(m => m.RazonSocial).Caption("Razón Social");
                columns.AddFor(m => m.Transmitiendo).Caption("Tx");
                columns.AddFor(m => m.UltimaTx).Caption("Ultima Tx");
                columns.AddFor(m => m.EnPuerto).Caption("En Puerto");
                columns.AddFor(m => m.Permisos).Caption("Permisos").CellTemplate(@<text>@Html.Raw("<%= value %>")</text>);
                                                columns.AddFor(m => m.NombrePuerto).Caption("Puerto Base");
                                                columns.AddFor(m => m.IdEntrada).Caption("Acción").CellTemplate(@<text>
                                                    &nbsp;&nbsp;<a href="javascript:EliminaBarco(<%= value %>,'<%= data.RNP %>');" title="Eliminar"><i class="fas fa-trash-alt"></i></a>
                                                </text>);
                                                                        }))*@
                <div align="right"><br /> <b>Nota:</b> <i><u>Se marcan en rojo permisos vencidos de la embarcación.</u></i> </div>
           



        </div>




    </div>
   



</div>

