﻿@model MASCore.Models.SolicitudesDeInformacionModel

@{
    ViewBag.Title = "Nueva Solicitud de Información";

    //int identificador = (Session["Identificador"] == null
    //    ? (int)0
    //    : (int)Session["Identificador"]);      
}

<script src="~/Scripts/jquery.autocomplete.min.js" type="text/javascript"></script>
<link href="~/Content/jquery.autocomplete.css" rel="stylesheet" type="text/css" />

<div id="titulo">
    <h3 style="color:#0F2C48;text-align:center" ><u>-  Modulo Nueva Solicitud de Información  -</u></h3>        
</div>
<div style="text-align:center; color:Red;font-size:medium">
    @ViewBag.NoValidoPor
</div>

<div id="tabs">
    <div class="caption">API</div>
    <div class="tabs-container"></div>
    <div class="content  dx-fieldset">
        <div class="dx-field">
            <div class="dx-field-label">Selected index:</div>
            <div class="dx-field-value">
                <div id="selectbox">
                </div>
            </div>
        </div>
        <div class="dx-field">
            <div class="dx-field-label">Selected content:</div>
            <div class="dx-field-value-static left-aligned">
                User tab content
            </div>
        </div>
    </div>
</div>




