﻿@model MASCore.ModelReference.TMasSolInfoCedulas

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>TMasSolInfoCedulas</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Fecha)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Fecha)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Hora)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Hora)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Solicitante)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Solicitante)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Cargo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Cargo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Telefono)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Telefono)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Ciudad)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Ciudad)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Estado)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Estado)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Asunto)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Asunto)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Dependencia)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Dependencia)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Medio)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Medio)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Descripcion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Descripcion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OFP)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OFP)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Folio)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Folio)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
