﻿@model MASCore.Models.SolicitudesDeInformacionModel
@using Microsoft.AspNetCore.Http.Extensions

@{
    ViewBag.Title = "Detalle de Solicitud de Información";
    List<MASCore.DataModel.BuscaCargaImagenesTipo_Result> Lista = new List<MASCore.DataModel.BuscaCargaImagenesTipo_Result>();
    Lista = null;/* Session.GetString("SessionImagenesSolInfo") as List<MASCore.DataModel.BuscaCargaImagenesTipo_Result>;*/
}

<article id="divGuardar">
    <div class="row">
        <div class="col-5">
            <h1>Detalle de Solicitud de Información</h1>
        </div>
        <div class="col-7 text-right">
            <script>
                var idCedula = @Model.TMASSOLINFOCEDULAS.IdInfoSol;
                var urlPrint = '@Url.Action("GeneraSolicitudDeInformacionWord", "SolicitudDeInformacion", null, UriHelper.GetDisplayUrl(Context.Request))';//UriHelper.GetDisplayUrl(Context.Request))';
                var urlComback = '@Url.Action("Index", "SolicitudDeInformacion", null, UriHelper.GetDisplayUrl(Context.Request))';//UriHelper.GetDisplayUrl(Context.Request))';
                var urlEdit = '@Url.Action("Edit", "SolicitudDeInformacion", null, UriHelper.GetDisplayUrl(Context.Request))';//UriHelper.GetDisplayUrl(Context.Request))';
            </script>
            <div class="row">
                <div class="col-9"></div>
                <div class="col-1" style="padding:0">
                    @if (Model.TMASSOLINFOCEDULAS.Medio != "VIA PAGINA DE MONITOREO")
                    {
                        @(Html.DevExtreme().Button().Icon("fas fa-edit").ElementAttr("class", "iconobotonedicion").ID("editarDetalle").UseSubmitBehavior(false).Type(ButtonType.Default).OnClick(@"function(args){edit(urlEdit,'/'+idCedula)}"))
                        @(Html.DevExtreme().Tooltip().Target("#editarDetalle").ShowEvent("mouseenter").HideEvent("mouseleave").ContentTemplate("Editar"))
                    }
                </div>
                <div class="col-1" style="padding:0">
                    @(Html.DevExtreme().Button().Icon("fa fa-print").ID("imprimirDetalle").UseSubmitBehavior(false).Type(ButtonType.Default).OnClick(@"function(args){print(urlPrint,idCedula)}"))
                    @(Html.DevExtreme().Tooltip().Target("#imprimirDetalle").ShowEvent("mouseenter").HideEvent("mouseleave").ContentTemplate("Imprimir"))
                </div>
                <div class="col-1" style="padding:0">
                    @(Html.DevExtreme().Button().Icon("fas fa-undo-alt").ID("regresar").UseSubmitBehavior(false).Type(ButtonType.Default).OnClick(@"function(args){comback(urlComback)}"))
                    @(Html.DevExtreme().Tooltip().Target("#regresar").ShowEvent("mouseenter").HideEvent("mouseleave").ContentTemplate("Regresar a la página anterior"))
                </div>
            </div>
        </div>
    </div>
</article>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h4>
                <div class="row">
                    <div class="col-3" style="padding: 8px 0 0 0;margin: 0;text-align: center;">
                        <b>Identificador:</b>
                    </div>
                    <div class="col-9" style="padding: 0;margin: 0;">
                        @(Html.DevExtreme().TextBoxFor(model => model.TMASSOLINFOCEDULAS.IdInfoSol).Disabled(true))
                    </div>
                </div>
            </h4>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="row col-12">
                @{
                    var tabs = new object[] {
                        new { id = "generales", text = "Datos Generales", icon = "fab fa-wpforms" },
                        new { id = "alertas", text = "Datos de Embarcaciones", icon = "fas fa-ship" }
                        //new { id = "archivos", text = "Archivo Digital", icon = "fas fa-archive" }
                    };
                }
                @(Html.DevExtreme().Tabs().DataSource(tabs).ScrollByContent(true).ShowNavButtons(true).SelectedIndex(0).OnItemClick("tabs_ItemClick"))
            </div>
            <div class="row col-12 generales oculto activo">
                <div class="form" style="width:100%">
                    <div class="dx-fieldset">
                        <div class="dx-field row">
                            <div class="dx-field-label col-3">Fecha y Hora:</div>
                            <div class="dx-field-value col-5">
                                @{ 
                                    Model.TMASSOLINFOCEDULAS.Fecha = DateTime.Parse(Model.TMASSOLINFOCEDULAS.Fecha).ToString("dd/MM/yyyy");
                                }
                                @(Html.DevExtreme().TextBoxFor(model => model.TMASSOLINFOCEDULAS.Fecha).ReadOnly(true))
                            </div>
                            <div class="dx-field-value col-4">
                                @(Html.DevExtreme().TextBoxFor(model => model.TMASSOLINFOCEDULAS.Hora).ReadOnly(true))
                            </div>
                        </div>
                        <div class="dx-field row">
                            <div class="dx-field-label col-3">Solicitante:</div>
                            <div class="dx-field-value col-9">
                                @(Html.DevExtreme().TextBoxFor(model => model.TMASSOLINFOCEDULAS.Solicitante).ReadOnly(true))
                            </div>
                        </div>
                        <div class="dx-field row">
                            <div class="dx-field-label col-3">Cargo:</div>
                            <div class="dx-field-value col-9">
                                @(Html.DevExtreme().TextBoxFor(model => model.TMASSOLINFOCEDULAS.Cargo).ReadOnly(true))
                            </div>
                        </div>
                        <div class="dx-field row">
                            <div class="dx-field-label col-3">Teléfono:</div>
                            <div class="dx-field-value col-9">
                                @(Html.DevExtreme().TextBoxFor(model => model.TMASSOLINFOCEDULAS.Telefono).ReadOnly(true))
                            </div>
                        </div>
                        <div class="dx-field row">
                            <div class="dx-field-label col-3">Medio:</div>
                            <div class="dx-field-value col-9">
                                @(Html.DevExtreme().TextBoxFor(model => model.TMASSOLINFOCEDULAS.Medio).ReadOnly(true))
                            </div>
                        </div>
                        <div class="dx-field row">
                            <div class="dx-field-label col-3">Email:</div>
                            <div class="dx-field-value col-9">
                                @(Html.DevExtreme().TextBoxFor(model => model.TMASSOLINFOCEDULAS.Email).ReadOnly(true))
                            </div>
                        </div>
                        <div class="dx-field row">
                            <div class="dx-field-label col-3">OFP:</div>
                            <div class="dx-field-value col-9">
                                @(Html.DevExtreme().TextBoxFor(model => model.TMASSOLINFOCEDULAS.OFP).ReadOnly(true))
                            </div>
                        </div>
                        <div class="dx-field row">
                            <div class="dx-field-label col-3">Estado:</div>
                            <div class="dx-field-value col-9">
                                @(Html.DevExtreme().TextBoxFor(model => model.TMASSOLINFOCEDULAS.Estado).ReadOnly(true))
                            </div>
                        </div>
                        <div class="dx-field row">
                            <div class="dx-field-label col-3">Ciudad:</div>
                            <div class="dx-field-value col-9">
                                @(Html.DevExtreme().TextBoxFor(model => model.TMASSOLINFOCEDULAS.Ciudad).ReadOnly(true))
                            </div>
                        </div>
                        <div class="dx-field row">
                            <div class="dx-field-label col-3">Dependencia  o  RS:</div>
                            <div class="dx-field-value col-9">
                                @(Html.DevExtreme().TextBoxFor(model => model.TMASSOLINFOCEDULAS.Dependencia).ReadOnly(true))
                            </div>
                        </div>
                        <div class="dx-field row">
                            <div class="dx-field-label col-3">Folio:</div>
                            <div class="dx-field-value col-9">
                                @(Html.DevExtreme().TextBoxFor(model => model.TMASSOLINFOCEDULAS.Folio).ReadOnly(true))
                            </div>
                        </div>
                        <div class="dx-field row">
                            <div class="dx-field-label col-3">Asunto:</div>
                            <div class="dx-field-value col-9">
                                @(Html.DevExtreme().TextBoxFor(model => model.TMASSOLINFOCEDULAS.Asunto).ReadOnly(true))
                            </div>
                        </div>
                        <div class="dx-field row">
                            <div class="dx-field-label col-3">Descripción:</div>
                            <div class="dx-field-value col-9">
                                @(Html.DevExtreme().TextAreaFor(model => model.TMASSOLINFOCEDULAS.Descripcion).Width("100%").Height("200px").ReadOnly(true))
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row col-12 alertas oculto">
                @(Html.DevExtreme().DataGrid<MASCore.DataModel.SolInfoRelacionInsertarResult_Result>().ID("grdInfo").DataSource(@Model.ResultadoListaSolInfoRelacionSP)
                    .ColumnHidingEnabled(true).ShowColumnLines(true).ShowRowLines(true).RowAlternationEnabled(true).ShowBorders(true)
                    .Pager(p => p.AllowedPageSizes(new int[] { 5, 8, 15, 30 }).ShowInfo(true).ShowNavigationButtons(true).ShowPageSizeSelector(true).Visible(true))
                    .Paging(p => p.PageSize(5)).ShowColumnHeaders(true).WordWrapEnabled(true)
                    .Columns(columns =>
                    {
                        columns.AddFor(m => m.Barco).Caption("Embarcación").Width(100);
                        columns.AddFor(m => m.RNP).Caption("RNP").Width(80);
                        columns.AddFor(m => m.Matricula).Caption("Matricula").Width(80);
                        columns.AddFor(m => m.RazonSocial).Caption("Razón Social");
                        columns.AddFor(m => m.Transmitiendo).Caption("Tx");
                        columns.AddFor(m => m.UltimaTx).Caption("Ultima Tx");
                        columns.AddFor(m => m.EnPuerto).Caption("En Puerto");
                        columns.AddFor(m => m.Permisos).Caption("Permisos").CellTemplate(@<text>@Html.Raw("<%= value %>")</text>);
                        columns.AddFor(m => m.NombrePuerto).Caption("Puerto Base");
                    })
                )
            </div>
            <div class="row col-12 archivos oculto">
                @(Html.DevExtreme().DataGrid<MASCore.DataModel.BuscaCargaImagenesTipo_Result>().DataSource(Lista)
                            .ColumnHidingEnabled(true).ShowColumnLines(true).ShowRowLines(true).RowAlternationEnabled(true).ShowBorders(true)
                            .Pager(p => p.AllowedPageSizes(new int[] { 5, 8, 15, 30 }).ShowInfo(true).ShowNavigationButtons(true).ShowPageSizeSelector(true).Visible(true))
                            .Paging(p => p.PageSize(5)).ShowColumnHeaders(true).WordWrapEnabled(true)
                            .Columns(columns =>
                            {
                                columns.AddFor(m => m.Id).Caption("Id").Width(50);
                                columns.AddFor(m => m.Identificador).Caption("Identificador").Width(80);
                                columns.AddFor(m => m.Tipo).Caption("Tipo").Width(80);
                                columns.AddFor(m => m.Rnp).Caption("RNP");
                                columns.AddFor(m => m.Fecha).Caption("Fecha").Format(Format.ShortDate);
                                columns.AddFor(m => m.Consecutivo).Caption("Consecutivo");
                                columns.AddFor(m => m.Id).Caption("Acción").CellTemplate(@<text>
                                    <a title="Ver Imagen" href='../../CargaImagenes/VerImagen/<%= value %>?rnp=<%= data.Rnp %>&rutabase=<%= data.RutaBase %>&tipo=<%= data.Tipo %>&identificador=<%= data.Identificador %>&consecutivo=<%= data.Consecutivo %>' target="_blank"><i class="dx-icon fas fa-image tamanoIconoEnGrid"></i></a>
                                    &nbsp;&nbsp; | &nbsp;&nbsp;
                                    <a title="Descargar" href='../../CargaImagenes/DescargarImagen/<%= value %>?rnp=<%= data.Rnp %>&rutabase=<%= data.RutaBase %>&tipo=<%= data.Tipo %>&identificador=<%= data.Identificador %>&consecutivo=<%= data.Consecutivo %>' target="_blank"><i class="dx-icon fa fa-download tamanoIconoEnGrid"></i></a>
                                </text>);
                        })
                )
            </div>
        </div>
    </div>
</div>
<script>
    function tabs_ItemClick(e) {
        tabs_itemClick(e);
        $("#grdInfo").dxDataGrid("instance").refresh();
    }
</script>