﻿@model MASCore.Models.KardexModelBusqueda


@{
    ViewBag.Title = "Módulo de Búsqueda de Kardex";
    Model.fechainicial = Model.fechainicial.Year <= 1990 ? DateTime.Now : Model.fechainicial;
    Model.fechafinal = Model.fechafinal.Year <= 1990 ? DateTime.Now : Model.fechafinal;
    //Model.tramite = Model.tramite != "" ? Model.tramite : "TODOS";
}

<div style="text-align:center; color:Red;font-size:medium">
    @ViewBag.NoValidoPor
</div>

@using (Html.BeginForm("BuscaKardex", "Kardex", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <article>
        <h1>Buscar Kardex</h1>
    </article>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h4>Criterios de consulta</h4>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group">
                                <div class="col-12">
                                    @(Html.DevExtreme().DateBoxFor(model => model.fechainicial)
                                        .Placeholder("Fecha Inicial").Width("100%").ID("fechainicial").DisplayFormat("dd/MM/yyyy")
                                        .ElementAttr("class", "form-control").ShowClearButton(true)
                                        .InvalidDateMessage("Fecha no valida")
                                    )
                                    @(Html.DevExtreme().Tooltip()
                                                .Target("#fechainicial")
                                                .ShowEvent("mouseenter")
                                                .HideEvent("mouseleave")
                                                .ContentTemplate(@<text>
                                                    <b>Fecha Inicial</b>
                                                </text>)
                                    )
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-12">
                                    @(Html.DevExtreme().DateBoxFor(model => model.fechafinal)
                                        .Placeholder("Fecha Final").Width("100%").ID("fechafinal").DisplayFormat("dd/MM/yyyy")
                                        .ElementAttr("class", "form-control").ShowClearButton(true)
                                        .InvalidDateMessage("Fecha no valida")
                                    )
                                    @(Html.DevExtreme().Tooltip()
                                                .Target("#fechafinal")
                                                .ShowEvent("mouseenter")
                                                .HideEvent("mouseleave")
                                                .ContentTemplate(@<text>
                                                    <b>Fecha Final</b>
                                                </text>)
                                    )
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-12">
                                    @(Html.DevExtreme().TextBoxFor(model => model.barco)
                                                        .Placeholder("Embarcación").Width("100%").ID("barco")
                                                        .ElementAttr("class", "form-control").ShowClearButton(true))
                                    @*@Html.ValidationMessageFor(model => model.barco)*@
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-12">
                                    @(Html.DevExtreme().TextBoxFor(model => model.rnp)
                                                .Placeholder("RNP").Width("100%").ID("rnp")
                                                .ElementAttr("class", "form-control").ShowClearButton(true))
                                    @*@Html.ValidationMessageFor(model => model.rnp)*@
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group">
                                <div class="col-12">
                                    @(Html.DevExtreme().AutocompleteFor(model => model.puerto).Width("100%").MinSearchLength(1).ID("puerto")
                                                .DataSource(d => d.Mvc().LoadAction("SearchResultadoGenerico_puertobase"))
                                                .Placeholder("Puerto Base").ElementAttr("class", "form-control").ShowClearButton(true)
                                    )
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-12">
                                    @(Html.DevExtreme().AutocompleteFor(model => model.razon).Width("100%").MinSearchLength(1).ID("razon")
                                                .DataSource(d => d.Mvc().LoadAction("SearchResultadoGenerico_razonsocial"))
                                                .Placeholder("Razón Social").ElementAttr("class", "form-control").ShowClearButton(true)
                                    )
                                    @*@Html.ValidationMessageFor(model => model.razon)*@

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-12">

                                    @(Html.DevExtreme().SelectBoxFor(model => model.tramite).DisplayExpr("Resultado").ValueExpr("Resultado")
                                                         .Width("100%").ID("tramite")
                                                         .DataSource(ViewBag.tramite)
                                                       .Placeholder("-- Seleccione un trámite--").ElementAttr("class", "form-control").ShowClearButton(true)
                                    )


                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-12">
                                    @(Html.DevExtreme().Button().Icon("fas fa-search").ID("ver-popup").Type(ButtonType.Default).StylingMode(ButtonStylingMode.Contained).UseSubmitBehavior(false).OnClick("kardex.showPopUp"))
                                    @(Html.DevExtreme().Tooltip().Target("#ver-popup").ShowEvent("mouseenter").HideEvent("mouseleave").ContentTemplate("Obtener Información"))
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="text-align: right">
        @(Html.DevExtreme().Button().Text("").ID("consulta").Icon("fas fa-search").Type(ButtonType.Default).StylingMode(ButtonStylingMode.Contained).UseSubmitBehavior(true))
        @(Html.DevExtreme().Tooltip().Target("#consulta").ShowEvent("mouseenter").HideEvent("mouseleave").ContentTemplate("Consultar Kardex"))
    </div>

    <section>
        @if (Model.ResultadoListaKardexSP.Count() > 0)
        {
            <div style="text-align: right; margin-top:5px;margin-bottom:5px;">
                <div class="row">
                    <div class="col-10"></div>
                    <div class="col-1">
                        @(Html.DevExtreme().Button().Icon("fa fa-file-excel").ID("exportToExcel").UseSubmitBehavior(false).Type(ButtonType.Success).OnClick(@"function(args){ExportarPDF(urlXLS)}"))
                        @(Html.DevExtreme().Tooltip().Target("#exportToExcel").ShowEvent("mouseenter").HideEvent("mouseleave").ContentTemplate("Exportar a Excel"))
                    </div>
                    <div class="col-1">
                        @(Html.DevExtreme().Button().Icon("fa fa-file-pdf").ID("exportToPDF").UseSubmitBehavior(false).Type(ButtonType.Danger).OnClick(@"function(args){ExportarPDF(urlPDF)}"))
                        @(Html.DevExtreme().Tooltip().Target("#exportToPDF").ShowEvent("mouseenter").HideEvent("mouseleave").ContentTemplate("Exportar a PDF"))
                    </div>
                </div>
            </div>
            <div id="grid">
                @(Html.DevExtreme().DataGrid<MASCore.ModelReference.BuscaKardex_Result>()
                                    .ID("gridContainer")
                                    .DataSource(Model.ResultadoListaKardexSP, new string[] { "IdDoc" })
                                    .ColumnHidingEnabled(true)
                                    .ShowColumnLines(true)
                                    .ShowRowLines(true)
                                    .RowAlternationEnabled(true)
                                    .ShowBorders(true)
                                    .Pager(p => p
                                        .AllowedPageSizes(new int[] { 5, 8, 15, 30 })
                                        .ShowInfo(true)
                                        .ShowNavigationButtons(true)
                                        .ShowPageSizeSelector(true)
                                        .Visible(true))
                                    .Paging(p => p.PageSize(5))
                                    .ShowColumnHeaders(true)
                                    .WordWrapEnabled(true)
                                    .Columns(columns =>
                                    {
                                        columns.AddFor(m => m.NoId).Caption("NoId").Width(80);
                                        columns.AddFor(m => m.IdDoc).Caption("Id Doc").Width(80);
                                        columns.AddFor(m => m.Fecha).Caption("Fecha").Width(100).Format(Format.ShortDate);
                                        columns.AddFor(m => m.Embarcacion).Caption("Embarcación").Width(200);
                                        columns.AddFor(m => m.RazonSocial).Caption("Razón Social");
                                        columns.AddFor(m => m.Tramite).Caption("Trámite").Width(200);
                                        columns.AddFor(m => m.Descripcion).Caption("Descripción").Width(100).Format(Format.ShortDate);
                                        columns.AddFor(m => m.OficioCNP).Caption("Oficio CNP");
                                        columns.AddFor(m => m.OficioAstrum).Caption("Oficio Astrum");
                                        columns.AddFor(m => m.Folio).Caption("Folio");
                                        columns.AddFor(m => m.PuertoBase).Caption("Puerto Base");
                                        columns.AddFor(m => m.RNP).Caption("RNP");
                                        columns.AddFor(m => m.Tipo).Caption("Tipo");
                                        columns.AddFor(m => m.EnSISMEP).Caption("En SISMEP");
                                        columns.AddFor(m => m.Tx).Caption("Tx");
                                        columns.AddFor(m => m.UltimaTx).Caption("Ultima Tx");
                                        columns.AddFor(m => m.IdDoc).Caption("Acción").CellTemplate(@<text>
                                            <a title="Ver Detalle" href='BuscaKardex?noid=<%= data.NoId %>&iddoc=<%= value %>&Tramite=<%= data.Tramite %>&Descripcion=<%= data.Descripcion %>&Tipo=<%= data.Tipo %>'>
                                                <i class="dx-icon far fa-folder tamanoIconoEnGrid"></i>
                                            </a>
                                        </text>);
                                        })
                )
            </div>
        }
    </section>

    @Html.Hidden("submitButton", "Buscar")
}

@(Html.DevExtreme().Popup()
        .ID("popup")
        .ElementAttr("class", "popup")
        .ShowTitle(true)
        .Title("Busca Información de Embarcación")
        .Visible(false)
        .DragEnabled(false)
        .CloseOnOutsideClick(true)
)}

@using (Html.DevExtreme().NamedTemplate("popup-template"))
{
    <div class="row">
        <div class="col-6">
            <div class="row col-12" style="padding-bottom:5px">
                @(Html.DevExtreme().SelectBox().DisplayExpr("Resultado").ValueExpr("Resultado").DeferRendering(false)
                            .DataSource(d => d.Mvc().LoadAction("GetOpcionesBusqueda")).ID("embarcaciones-tipo")
                            .Placeholder("-- Seleccione la Opción de Búsqueda --").Width("100%").ElementAttr("class", "form-control").ShowClearButton(true)
                )

            </div>
        </div>
        <div class="col-6">
            <div class="row col-12" style="padding-bottom:5px">
                @(Html.DevExtreme().TextBox().ID("embarcaciones-valor").Placeholder("-- Indique la palabra a buscar --").Width("100%").ElementAttr("class", "form-control").ShowClearButton(true))

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-10"></div>
        <div class="col-1" style="padding-right: 0px;margin-right: 0px;text-align: right;margin-top: auto;">
            @(Html.DevExtreme().LoadIndicator().ID("embarcaciones-indicator").Height(20).Width(20).Visible(false))
        </div>
        <div class="col-1">
            @(Html.DevExtreme().Button().Icon("fas fa-search").ID("embarcaciones-buscar").Type(ButtonType.Default).StylingMode(ButtonStylingMode.Contained).UseSubmitBehavior(false).OnClick("kardex.ReloadGridEmbarcaciones"))
            @(Html.DevExtreme().Tooltip().Target("#embarcaciones-buscar").ShowEvent("mouseenter").HideEvent("mouseleave").ContentTemplate("Buscar Información"))
        </div>
    </div>
    
}








