﻿@model MASCore.ModelReference.KardexModelReference

@{
    ViewBag.Title = "Detalles Justificacion";
}

<div id="titulo">
    <h3 style="color:#0F2C48;text-align:center" ><u>-  Módulo Detalle Justificación -</u></h3>        
</div>
@*<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdJustificacion }) |
     <a href="#" onclick="ImprimirJustificacion(); return false;">  Imprimir  </a> |
    @Html.ActionLink("Regresar a Busqueda Kardex", "BuscaKardex")
</p>*@

<div class="div-comentarios">
    @*@Html.HiddenFor(model => model.IdJustificacion)*@
    <table  align="center" >
        <tr>
            <td align="right">Puerto Base :</td>
            <td style="background-color:White;border:1px solid #848484">
                @*@Html.DisplayFor(model => model.PuertoBase)*@
            </td>
            <td align="right">Fecha del escrito :</td>
            <td style="background-color:White;border:1px solid #848484">
            @*@Html.DisplayFor(model => model.FechaEscrito)*@
            </td>
            
        </tr>
        <tr>
            <td align="right">Embarcación :</td>
            <td style="background-color:White;border:1px solid #848484">
            @*@Html.DisplayFor(model => model.Embarcacion)*@
            </td>
            <td align="right">Fecha de registro :</td>
            <td style="background-color:White;border:1px solid #848484">
            @*@Html.DisplayFor(model => model.FechaRegistro)*@
            </td>
        </tr>
        <tr>       
            <td align="right" >Matricula:</td>
            <td style="background-color:White;border:1px solid #848484"> 
            @*@Html.DisplayFor(model => model.Matricula)*@
            </td>     
            <td align="right" >RNP :</td>
            <td style="background-color:White;border:1px solid #848484">
            @*@Html.DisplayFor(model => model.RNP)*@
            </td>            
        </tr>
        <tr>
            <td align="right">Permiso :</td>
            <td colspan="3" style="background-color:White;border:1px solid #848484">
            @*@Html.DisplayFor(model => model.Permiso)*@
            </td>          
        </tr>
        <tr>
            <td align="right">Razón Social :</td>
            <td colspan="3" style="background-color:White;border:1px solid #848484">
            @*@Html.DisplayFor(model => model.RazonSocial)*@
            </td>            
        </tr>
        
        <tr>
            <td colspan="4">
                <hr />
            </td>            
        </tr>
        <tr>            
            <td align="right">Fecha de reconexión :</td>
            <td style="background-color:White;border:1px solid #848484">
            @*@Html.DisplayFor(model => model.FechaDesconexion)*@
            </td>
            <td align="right">Estatus Justificación : </td>
            <td style="background-color:White;border:1px solid #848484"> <b>
                @*@Html.DisplayFor(model => model.Estatus)*@
                </b>
            </td>
        </tr>
        <tr>            
            <td align="right">Motivo de la desconexión :</td>
            <td colspan = "3" style="background-color:White;border:1px solid #848484">
            @*@Html.DisplayFor(model => model.Motivo)*@
            </td>            
        </tr>
        <tr>            
            <td align="right">Llamada Telefonica :</td>
            <td colspan = "1" style="background-color:White;border:1px solid #848484">
            @*@Html.DisplayFor(model => model.LlamadaTelefonica)*@
            </td>  
            <td colspan = "2" align="right"> 
                @*<a href="@Url.Action("Details", "Llamadas", new { id = Model.LlamadaTelefonica })"*@ 
   type="submit" 
   id="runReport" 
   target="_blank"
   class="button Secondary">
   Ver Llamada
</a>
            </td>           
        </tr>
    </table>
     <br />
</div>

<br /> 



<p>
    @*@Html.ActionLink("Editar", "EditJustificacion", new { id = Model.IdJustificacion }) |
    @Html.ActionLink("Imprimir", "GeneraReporteKardexJustificacionWord", "Kardex", new { id = Model.IdJustificacion }, null)  |
   
    @Html.ActionLink("Regresar a Búsqueda Kardex", "BuscaKardex")*@
</p>



<script type="text/javascript">
    function ImprimirJustificacion() {
        alert('Imprimir Justificacion........');
    }


</script>































@*


<fieldset>
    <legend>KardexJustificacionModel</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IdJustificacion)
    </div>
    <div class="display-field">
        
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FechaEscrito)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FechaEscrito)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FechaRegistro)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FechaRegistro)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Embarcacion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Embarcacion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RazonSocial)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RazonSocial)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RNP)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RNP)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Permiso)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Permiso)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PuertoBase)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PuertoBase)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FechaDesconexion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FechaDesconexion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Estatus)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Estatus)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Motivo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Motivo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LlamadaTelefonica)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LlamadaTelefonica)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Matricula)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Matricula)
    </div>
</fieldset>*@