﻿@model MASCore.ModelReference.KardexDetalleSolicitudes_Result

@{
    ViewBag.Title = "Detalle Solicitudes";
}

<div id="titulo">
    <h3 style="color:#0F2C48;text-align:center" ><u>-  Módulo Detalle Solicitudes -</u></h3>        
</div>
<br />  

<div style="border-top:0; border:3px #fff solid;text-indent:20px;border-radius: 15px 15px 15px 15px;width:70%;margin-left:10em">  @*class="div-comentarios"*@
    <div style="text-align:left">
        <br />  
        <table  align="center">
            <tr>
                <td align="right"><b>Solicitud No.</b></td>
                <td  style="background-color:White;border:1px solid #848484;width:50%">@Html.DisplayFor(model => model.Id_Reporte)</td>
            </tr>
            <tr>
                <td align="right"><b>Descripción:</b></td>
                <td style="background-color:White;border:1px solid #848484">@Html.DisplayFor(model => model.tiposol)</td>
            </tr>
        </table>        
        <hr size="1" width= "70%" align="center" color="white"/>

        <table  align="center">
            <tr>
                <td align="right" ><b>Fecha:</b></td>
                <td style="background-color:White;border:1px solid #848484;width:50%">@Html.DisplayFor(model => model.fecha)</td>
            </tr>
            <tr>
                <td align="right"><b>Embarcación:</b></td>
                <td style="background-color:White;border:1px solid #848484">@Html.DisplayFor(model => model.barco)</td>
            </tr>
            <tr>
                <td align="right"><b>RNP:</b></td>
                <td style="background-color:White;border:1px solid #848484">@Html.DisplayFor(model => model.RNP)</td>
            </tr>
            <tr>
                <td align="right"><b>Puerto Base:</b></td>
                <td style="background-color:White;border:1px solid #848484">@Html.DisplayFor(model => model.Localidad)</td>
            </tr>
            <tr>
                <td align="right"><b>Razón Social:</b></td>
                <td style="background-color:White;border:1px solid #848484">@Html.DisplayFor(model => model.razonsocial)</td>
            </tr>
            <tr>
                <td align="right"><b>Oficio CNP:</b></td>
                <td style="background-color:White;border:1px solid #848484">@Html.DisplayFor(model => model.NoOficio)</td>
            </tr>
            <tr>
                <td align="right"><b>Oficio Astrum:</b></td>
                <td style="background-color:White;border:1px solid #848484">@Html.DisplayFor(model => model.OficioPTI)</td>
            </tr>
            <tr>
                <td align="right"><b>Folio Mtto:</b></td>
                <td style="background-color:White;border:1px solid #848484">@Html.DisplayFor(model => model.Id_Mantto)</td>
            </tr>
        </table>
        <br />  
    </div>



</div>


<p>
    @Html.ActionLink("Imprimir", "GeneraReporteKardexSolicitudesWord", "Kardex", new { id = Model.Id_Reporte }, null)  |  
    @Html.ActionLink("Regresar a Búsqueda Kardex", "BuscaKardex")
</p>
