﻿@model MASCore.Models.KardexServiciosModel

@{
    ViewBag.Title = "Detalle Servicios";
}

<div id="titulo">
    <h3 style="color:#0F2C48;text-align:center" ><u>-  Módulo Detalle Servicios -</u></h3>        
</div>
<br /> 






<p>
   @* @Html.ActionLink("Imprimir", "GeneraReporteKardexSolicitudesWord", "Kardex", new { id = Model.KardexDetalleServiciosInfoGeneral.Id_Mantto }, null)  |*@
    @Html.ActionLink("Regresar a Búsqueda Kardex", "BuscaKardex")
</p>
