﻿@model MASCore.Models.KardexJustificacionModel

@{
    ViewBag.Title = "Editar Justificacion";
}

<div id="titulo">
    <h3 style="color:#0F2C48;text-align:center" ><u>-  Modulo Editar Justificación -</u></h3>        
</div>
<br />



   