﻿@model IEnumerable<MASCore.ModelReference.BuscaKardex_Result>

@{
    Layout = "~/Views/Shared/_PdfLayout.cshtml";
}

<table width="100%" cellpadding="1.0" cellspacing="1.0"   widths="1;4;1">
    <row>
        <cell>
            <img src="~/images/Logo1.jpg" />
           
        </cell>
        <cell horizontalalign="Default" verticalalign="Default">
            <paragraph style="font-size: 13;font-weight:normal;" red="60" green="60" blue="60" align="Center">
                COMISION NACIONAL DE ACUACULTURA Y PESCA <br />
                DIRECCIÓN GENERAL DE INSPECCION Y VIGILANCIA <br />
            </paragraph>
            <chunk style="font-size: 13;font-weight:normal" red="60" green="60" blue="60" align="Center">  DIRECCIÓN DE MONITOREO Y COORDINACIÓN</chunk> 
        </cell>
        <cell>
            
            <img src="~/images/Logo2.jpg" />
        </cell>
    </row>
</table>

<paragraph style="font-family: Helvetica; font-size: 16; "  align="Center">
	<chunk style="font-weight:normal;" red="60" green="60" blue="60">REPORTE - KARDEX </chunk>
</paragraph>

<table width="100%" cellpadding="1.0" cellspacing="1.0"   widths="3;3;2">
    <row>
        <cell colspan="2"> Impreso por: @*@Html.Encode(Request.Cookies["userName"].Value.ToUpper())*@ 
        </cell>
        @*<cell></cell>*@
        <cell> Fecha: @DateTime.Now.Date.ToShortDateString()  </cell>
    </row>
</table>

@if (Model != null)
{

foreach (var item in Model)
{
    <table width="100%" cellpadding="1.0" cellspacing="1.0"  border="2" widths=".7;1;1;1;1;1" red="255" green="255" blue="255" align="left">
        <row>
            <cell colspan="3" borderwidth="0.5" left="true" right="true" top="true" bottom="true" header="true" leading="18.0">            	         
                <chunk style="font-family: Helvetica; font-size: 10;font-weight:bold;text-align:center">
                    KARDEX
                </chunk>             
            </cell>
            <cell colspan="3" borderwidth="0.5" left="false" right="false" top="false" bottom="false" header="true" leading="18.0">            	         
                <chunk style="font-family: Helvetica; font-size: 10;font-weight:bold;text-align:center">
                    
                </chunk>             
            </cell>
        </row>
        @* ------------------                 PRIMER RENGLON                     ------------------------*@
        <row>
	        <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" header="true" leading="18.0">            	         
                <chunk style="font-family: Helvetica; font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                        Fecha
                </chunk>             
            </cell>	   
	        <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
                <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                        Id
                </chunk>
            </cell>
            <cell colspan="2" borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
                <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                       Tramite
                </chunk>
            </cell> 
            <cell colspan="2" borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
                <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;" red="10" green="100" blue="100">
                    Descripción
                </chunk>
            </cell>                        
        </row>
        <row>
            <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 9;">                        
                        @item.Fecha.Value.ToShortDateString()
                </chunk>
            </cell>
            <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
                <chunk style="font-family:Helvetica;font-size: 9;font-weight:bold;">
                        @item.IdDoc
                </chunk>
            </cell>
            <cell colspan="2" borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 9;">
                        @item.Tramite
                </chunk>
            </cell>
            <cell colspan="2" borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 9;">
                        @item.Descripcion
                </chunk>
            </cell>
        </row>
        @* ------------------                 SEGUNDO RENGLON                     ------------------------*@
        <row>
	        <cell colspan="2" borderwidth="0.5" left="true" right="true" top="true" bottom="true" header="true" leading="18.0">            	         
                <chunk style="font-family: Helvetica; font-size: 10;font-weight:bold;" red="10" green="100" blue="100">
                    Embarcación
                </chunk>             
            </cell>	   
	        <cell colspan="2" borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
                <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;" red="10" green="100" blue="100">
                    Razón Social
                </chunk>
            </cell>
            <cell colspan="2" borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
                <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                        Puerto Base
                </chunk>
            </cell>                                                    
        </row>
        <row>
            <cell colspan="2" borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
                <chunk style="font-family:Helvetica;font-size: 9;">
                        @item.Embarcacion
                </chunk>
            </cell>
            <cell colspan="2" borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
                <chunk style="font-family:Helvetica;font-size: 9;">
                        @item.RazonSocial
                </chunk>
            </cell>
            <cell colspan="2" borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 9;">
                        @item.PuertoBase
                </chunk>
            </cell>          
        </row>
        @* ------------------                 TERCER RENGLON                     ------------------------*@
        <row>
	        <cell colspan="2" borderwidth="0.5" left="true" right="true" top="true" bottom="true" header="true" leading="18.0">            	         
                <chunk style="font-family: Helvetica; font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                        RNP
                </chunk>             
            </cell>	   
	        <cell colspan="1" borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
                <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                        Oficio CNP
                </chunk>
            </cell>
            <cell colspan="1" borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
                <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                        Oficio Astrum
                </chunk>
            </cell>
            <cell colspan="1" borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
                <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                        Folio
                </chunk>
            </cell>
            <cell colspan="1" borderwidth="0.5" >
                <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">                        
                </chunk>
            </cell>
        </row>
        <row>
            <cell colspan="2" borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
                <chunk style="font-family:Helvetica;font-size: 9;">
                        @item.RNP
                </chunk>
            </cell>
            <cell colspan="1" borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
                <chunk style="font-family:Helvetica;font-size: 9;">
                        @item.OficioCNP
                </chunk>
            </cell>
            <cell colspan="1" borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 9;">
                        @item.OficioAstrum
                </chunk>
            </cell>
            <cell colspan="1" borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 9;">
                        @item.Folio
                </chunk>
            </cell>
            <cell colspan="1" borderwidth="0.5">
                <chunk style="font-family:Helvetica;font-size: 9;">
                </chunk>
            </cell>
        </row>
    </table>

}

}








@*
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GeneratePdfKardex</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdDoc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Embarcacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RazonSocial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tramite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OficioCNP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OficioAstrum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Folio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PuertoBase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RNP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnSISMEP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tx)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UltimaTx)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Matricula)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdDoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Embarcacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RazonSocial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tramite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OficioCNP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OficioAstrum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Folio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PuertoBase)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RNP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnSISMEP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tx)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UltimaTx)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Matricula)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>

*@
