﻿@model MASCore.Models.OficioEntradaModelBusqueda

@{
    ViewBag.Title = "Busca Oficios de Entrada";
}

<script>
    function viewDGIV(data) {
        $(".fechasDGIV").hide()
        if (data.value) {
            $(".fechasDGIV").show()
        }
    }

    function viewMon(data) {
        $(".fechasMON").hide()
        if (data.value) {
            $(".fechasMON").show()
        }
    }

    setTimeout(function () {
        viewMon({ value:@Model.FechaMon.ToString().ToLower()})
        viewDGIV({value:@Model.FechaDGIV.ToString().ToLower()})
    }, 600)
</script>

@using (Html.BeginForm("BuscaOficioEntrada", "OficioEntrada", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <article>
        <h1>Buscar Oficios de Entrada</h1>
    </article>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h4>Criterios de consulta</h4>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-2">
                                        @Html.DevExtreme().SwitchFor(m => m.FechaDGIV).Width("100%").OnValueChanged("viewDGIV")
                                    </div>
                                    <div class="col-3">
                                        <div>@Html.DisplayNameFor(model => model.FechaDGIV)</div>
                                    </div>
                                    <div class="fechasDGIV col-7">
                                        <div class="row">
                                            <div class="col-1">Del</div>
                                            <div class="col-5">
                                                @(Html.DevExtreme().DateBoxFor(model => model.FechaInicioDGIV).Placeholder("Fecha Inicio DGIV").ID("FechaInicioDGIV").InvalidDateMessage("Fecha no valida").Width("100%").ElementAttr("class", "form-control").ShowClearButton(true).DisplayFormat("dd/MM/yyyy"))
                                                @(Html.DevExtreme().Tooltip().Target("#FechaInicioDGIV").ShowEvent("mouseenter").HideEvent("mouseleave").ContentTemplate(@<text><b>Fecha Inicial DGIV</b></text>))
                                            </div>
                                            <div class="col-1">Al</div>
                                            <div class="col-5">
                                                @(Html.DevExtreme().DateBoxFor(model => model.FechaFinDGIV).Placeholder("Fecha Fin DGIV").ID("FechaFinDGIV").InvalidDateMessage("Fecha no valida").Width("100%").ElementAttr("class", "form-control").ShowClearButton(true).DisplayFormat("dd/MM/yyyy"))
                                                @(Html.DevExtreme().Tooltip().Target("#FechaFinDGIV").ShowEvent("mouseenter").HideEvent("mouseleave").ContentTemplate(@<text><b>Fecha Final DGIV</b></text>))
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-2">
                                        @Html.DevExtreme().SwitchFor(m => m.FechaMon).Width("100%").OnValueChanged("viewMon")
                                    </div>
                                    <div class="col-3">
                                        <div>@Html.DisplayNameFor(model => model.FechaMon)</div>
                                    </div>
                                    <div class="fechasMON col-7">
                                        <div class="row">
                                            <div class="col-1">Del</div>
                                            <div class="col-5">
                                                @(Html.DevExtreme().DateBoxFor(model => model.FechaInicioMon).Placeholder("Fecha Inicio Monitoreo").ID("FechaInicioMon").InvalidDateMessage("Fecha no valida").Width("100%").ElementAttr("class", "form-control").ShowClearButton(true).DisplayFormat("dd/MM/yyyy"))
                                                @(Html.DevExtreme().Tooltip().Target("#FechaInicioMon").ShowEvent("mouseenter").HideEvent("mouseleave").ContentTemplate(@<text><b>Fecha Inicial de Monitoreo</b></text>))
                                            </div>
                                            <div class="col-1">Al</div>
                                            <div class="col-5">
                                                @(Html.DevExtreme().DateBoxFor(model => model.FechaFinMon).Placeholder("Fecha Fin Monitoreo").ID("FechaFinMon").InvalidDateMessage("Fecha no valida").Width("100%").ElementAttr("class", "form-control").ShowClearButton(true).DisplayFormat("dd/MM/yyyy"))
                                                @(Html.DevExtreme().Tooltip().Target("#FechaFinMon").ShowEvent("mouseenter").HideEvent("mouseleave").ContentTemplate(@<text><b>Fecha Final de Monitoreo</b></text>))
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <div class="col-12">
                                    @(Html.DevExtreme().TextBoxFor(model => model.Volante).Placeholder("Volante").Width("100%").ID("Volante").ElementAttr("class", "form-control").ShowClearButton(true))
                                    
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-12">
                                    @(Html.DevExtreme().TextBoxFor(model => model.NoOficio).Placeholder("Número de Oficio").Width("100%").ID("NoOficio").ElementAttr("class", "form-control").ShowClearButton(true))
                                    
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-12">
                                    @(Html.DevExtreme().TextBoxFor(model => model.Minutario).Placeholder("Minutario").Width("100%").ID("Minutario").ElementAttr("class", "form-control").ShowClearButton(true))
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <div class="col-12">
                                    @(Html.DevExtreme().SelectBoxFor(model => model.Estatus).Placeholder("-- Seleccione un Estatus --").ID("Estatus").DataSource(ViewBag.estatus).Width("100%").DisplayExpr("Resultado").ValueExpr("Resultado").ElementAttr("class", "form-control").ShowClearButton(true))
                                    
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-12">
                                    @(Html.DevExtreme().TextBoxFor(model => model.Asunto).Placeholder("Asunto").Width("100%").ID("Asunto").ElementAttr("class", "form-control").ShowClearButton(true))
                                    
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-12">
                                    @(Html.DevExtreme().TextBoxFor(model => model.Barco).Placeholder("Barco").Width("100%").ID("Barco").ElementAttr("class", "form-control").ShowClearButton(true))
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <div class="col-12">
                                    @(Html.DevExtreme().SelectBoxFor(model => model.TipoOficio).Placeholder("-- Seleccione un Tipo de Oficio --").ID("tipooficio").DataSource(ViewBag.tipooficio).Width("100%").DisplayExpr("Resultado").ValueExpr("Resultado").ElementAttr("class", "form-control").ShowClearButton(true))
                                    
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-12">
                                    @(Html.DevExtreme().TextBoxFor(model => model.Origen).Placeholder("Origen").Width("100%").ID("Origen").ElementAttr("class", "form-control").ShowClearButton(true))
                                    
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-12">
                                    @(Html.DevExtreme().TextBoxFor(model => model.Turno).Placeholder("Quien Turnó").Width("100%").ID("Turno").ElementAttr("class", "form-control").ShowClearButton(true))
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="text-align: right">
        @(Html.DevExtreme().Button().Icon("fas fa-search").Text("").ID("btnConsultar").Type(ButtonType.Default).StylingMode(ButtonStylingMode.Contained).UseSubmitBehavior(true))
        @(Html.DevExtreme().Tooltip().Target("#btnConsultar").ShowEvent("mouseenter").HideEvent("mouseleave").ContentTemplate("Consultar Información"))
    </div>
    <section>
        @if (Model.ResultadoListaOficioEntradaSP.Count() > 0)
        {
            @*<script>
                var urlXLS = '@Url.Action("GeneraReporteOficioEntradaExportarBusqueda", "OficioEntrada", null, Request.Url.Scheme)';
                var urlPDF = '@Url.Action("GeneratePdfOficioEntrada", "OficioEntrada", null, Request.Url.Scheme)';
            </script>*@
            <div style="text-align: right; margin-top:5px;margin-bottom:5px;">
                <div class="row">
                    <div class="col-10">
                        <div class="row">
                            <div class="col-4">Total: @Html.Label(Model.Total.ToString())</div>
                            <div class="col-4">Concluidos: @Html.Label(Model.Concluidos.ToString())</div>
                            <div class="col-4">Pendientes: @Html.Label(Model.Pendientes.ToString())</div>
                        </div>
                    </div>
                    <div class="col-1">
                        @(Html.DevExtreme().Button().Icon("fa fa-file-excel").ID("exportToExcel").UseSubmitBehavior(false).Type(ButtonType.Success).OnClick(@"function(args){ExportarPDF(urlXLS)}"))
                        @(Html.DevExtreme().Tooltip().Target("#exportToExcel").ShowEvent("mouseenter").HideEvent("mouseleave").ContentTemplate("Exportar a Excel"))
                    </div>
                    <div class="col-1">
                        @(Html.DevExtreme().Button().Icon("fa fa-file-pdf").ID("exportToPDF").UseSubmitBehavior(false).Type(ButtonType.Danger).OnClick(@"function(args){ExportarPDF(urlPDF)}"))
                        @(Html.DevExtreme().Tooltip().Target("#exportToPDF").ShowEvent("mouseenter").HideEvent("mouseleave").ContentTemplate("Exportar a PDF"))
                    </div>
                </div>
            </div>
            <div>
                @(Html.DevExtreme().DataGrid<MASCore.ModelReference.BuscaOficioEntrada_Result>().DataSource(Model.ResultadoListaOficioEntradaSP)
                    .ColumnHidingEnabled(true).ShowColumnLines(true).ShowRowLines(true).RowAlternationEnabled(true).ShowBorders(true)
                    .Pager(p => p.AllowedPageSizes(new int[] { 5, 8, 15, 30 }).ShowInfo(true).ShowNavigationButtons(true).ShowPageSizeSelector(true).Visible(true))
                    .Paging(p => p.PageSize(5)).ShowColumnHeaders(true).WordWrapEnabled(true)
                    .Columns(columns =>
                    {
                        columns.AddFor(m => m.IdEntrada).Caption("Entrada");
                        columns.AddFor(m => m.Estatus).Caption("Estatus");
                        columns.AddFor(m => m.NoOficio).Caption("No Oficio");
                        columns.AddFor(m => m.TipoOficio).Caption("Tipo Oficio");
                        columns.AddFor(m => m.FechaDGIV).Caption("Fecha DGIV").Format(Format.ShortDate);
                        columns.AddFor(m => m.HoraDGIV).Caption("Hora DGIV");
                        columns.AddFor(m => m.FechaMon).Caption("Fecha Monitoreo");
                        columns.AddFor(m => m.HoraMon).Caption("Hora Monitoreo");
                        columns.AddFor(m => m.Volante).Caption("Volante");
                        columns.AddFor(m => m.Asunto).Caption("Asunto");
                        columns.AddFor(m => m.Turno).Caption("Turno");
                        columns.AddFor(m => m.Origen).Caption("Origen");
                        columns.AddFor(m => m.Minutario).Caption("Minutario");
                        columns.AddFor(m => m.Comentarios).Caption("Comentarios");
                        columns.AddFor(m => m.IdEntrada).Caption("Acción").CellTemplate(@<text><a title="Seleccionar" href='Details/<%= value %>'><i class="dx-icon far fa-folder tamanoIconoEnGrid"></i></a></text>);
                        }))
            </div>
        }
    </section>
    @Html.Hidden("submitButton", "Buscar")
}
