﻿@model MASCore.DataModel.TMASEntrada

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>TMasOfEntrada</legend>

    @*<div class="display-label">
         @Html.DisplayNameFor(model => model.Volante)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Volante)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NoOficio)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NoOficio)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TipoOficio)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TipoOficio)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FechaDGIV)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FechaDGIV)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HoraDGIV)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HoraDGIV)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FechaMon)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FechaMon)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HoraMon)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HoraMon)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Asunto)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Asunto)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Turno)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Turno)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Origen)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Origen)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Minutario)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Minutario)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Estatus)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Estatus)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Comentarios)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Comentarios)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Relacion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Relacion)
    </div>*@
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
