﻿@model MASCore.Models.OficioEntradaModel





<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h4>
                <div class="row">
                    <div class="col-3" style="padding: 8px 0 0 0;margin: 0;text-align: center;">
                        <b>Identificador:</b>
                    </div>
                    <div class="col-9" style="padding: 0;margin: 0;">
                       
                    </div>
                </div>
            </h4>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="row col-12">
                @{
                    var tabs = new object[] {
                                new { id = "generales", text = "Datos Generales", icon = "fab fa-wpforms" },
                                new { id = "alertas", text = "Datos de Embarcaciones", icon = "fas fa-ship" }
                                //new { id = "archivos", text = "Archivo Digital", icon = "fas fa-archive" }
                            };
                }
                @(Html.DevExtreme().Tabs().DataSource(tabs).ScrollByContent(true).ShowNavButtons(true).SelectedIndex(0).OnItemClick("tabs_ItemClick"))
            </div>
       
        </div>
    </div>
</div>
<script>
    function tabs_ItemClick(e) {
        tabs_itemClick(e);
        $("#grdInfo").dxDataGrid("instance").refresh();
    }
</script>
