﻿@model MASCore.Models.OficioEntradaModel

@{
    ViewBag.Title = "Editar Oficio De Entrada";
}


@using (Html.BeginForm("Edit", "OficioEntrada", FormMethod.Post, new { @class = "form", @id = "miforma" })) {
<div style="text-align:center; color:Red;font-size:medium">
    @ViewBag.NoValidoPor
    @Html.ValidationSummary(true)
</div>

<article>
    <div class="row">
        <div class="col-5">
            <h1>Editar de Oficios de Entrada</h1>
        </div>
        <div class="col-7 text-right">
            <script>
                var idCedula = @Model.IdEntrada;
                var urlComback = "";@*'@Url.Action("Index", "OficioEntrada", null, Request.Url.Scheme)';*@
            </script>
            <div class="row">
                <div class="col-10"></div>
                <div class="col-1" style="padding:0">
                    @(Html.DevExtreme().Button().Icon("fas fa-save").ElementAttr("class", "iconobotonedicion").ID("editarDetalle").UseSubmitBehavior(true).Type(ButtonType.Default))
                    @(Html.DevExtreme().Tooltip().Target("#editarDetalle").ShowEvent("mouseenter").HideEvent("mouseleave").ContentTemplate("Guardar"))
                </div>
                <div class="col-1" style="padding:0">
                    @(Html.DevExtreme().Button().Icon("fas fa-undo-alt").ID("regresar").UseSubmitBehavior(false).Type(ButtonType.Default).OnClick(@"function(args){comback(urlComback)}"))
                    @(Html.DevExtreme().Tooltip().Target("#regresar").ShowEvent("mouseenter").HideEvent("mouseleave").ContentTemplate("Regresar a la página anterior"))
                </div>
            </div>
        </div>
    </div>
</article>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h4>
                <div class="row">
                    <div class="col-3" style="padding: 8px 0 0 0;margin: 0;text-align: center;">
                        <b>Identificador:</b>
                    </div>
                    <div class="col-9" style="padding: 0;margin: 0;">
                        @(Html.DevExtreme().TextBox().Value(Model.IdEntrada.ToString()).ID("identificador").Disabled(true))
                        @Html.HiddenFor(model => model.IdEntrada)
                    </div>
                </div>
            </h4>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="row col-12">
                @{
                    var tabs = new object[] {
                        new { id = "generales", text = "Datos Generales", icon = "fab fa-wpforms" },
                        new { id = "alertas", text = "Datos de Embarcaciones", icon = "fas fa-ship" }
                    };
                }
                @(Html.DevExtreme().Tabs().DataSource(tabs).ScrollByContent(true).ShowNavButtons(true).SelectedIndex(0).OnItemClick("tabs_itemClick"))
            </div>
            <div class="row col-12 generales oculto activo">
                <div class="form" style="width:100%">
                    <div class="dx-fieldset">
                        <div class="dx-field row">
                            <div class="dx-field-label col-3">Estatus:</div>
                            <div class="dx-field-value col-9">
                                @(Html.DevExtreme().SelectBoxFor(model => model.Estatus).Placeholder("-- Seleccione un estatus --").ShowClearButton(true).DisplayExpr("Resultado").ValueExpr("Resultado").DataSource(ViewBag.estatus))
                            </div>
                        </div>
                        <div class="dx-field row">
                            <div class="dx-field-label col-3">Volante:</div>
                            <div class="dx-field-value col-9">
                                @(Html.DevExtreme().TextBoxFor(model => model.Volante).ShowClearButton(true).Placeholder("Volante"))
                                @Html.ValidationMessageFor(model => model.Volante, "*")
                            </div>
                        </div>
                        <div class="dx-field row">
                            <div class="dx-field-label col-3">Numero de Oficio:</div>
                            <div class="dx-field-value col-9">
                                @(Html.DevExtreme().TextBoxFor(model => model.NoOficio).ShowClearButton(true).Placeholder("Número de Oficio"))
                                @Html.ValidationMessageFor(model => model.NoOficio, "*")
                            </div>
                        </div>
                        <div class="dx-field row">
                            <div class="dx-field-label col-3">Tipo:</div>
                            <div class="dx-field-value col-9">
                                @(Html.DevExtreme().AutocompleteFor(model => model.TipoOficio).DataSource(d => d.Mvc().LoadAction("SearchResultadoGenerico_tipooficio")).Placeholder("Tipo de Oficio").Width("100%").MinSearchLength(1).ElementAttr("class", "form-control").ShowClearButton(true))
                            </div>
                        </div>
                        <h6>Recepción DGIV</h6>
                        <div class="dx-field row">
                            <div class="dx-field-label col-3">Fecha:</div>
                            <div class="dx-field-value col-9">
                                @(Html.DevExtreme().DateBoxFor(model => model.FechaDGIV).Placeholder("Fecha DGIV").Width("100%").ID("FechaDGIV").ElementAttr("class", "form-control").ShowClearButton(true).InvalidDateMessage("Fecha no valida"))
                            </div>
                        </div>
                        <div class="dx-field row">
                            <div class="dx-field-label col-3">Hora:</div>
                            <div class="dx-field-value col-9">
                                @{
                                    var hora = DateTime.Now;

                                    if (Model.HoraDGIV != null)
                                    {
                                        try
                                        {
                                            hora = Model.HoraDGIV == null ? DateTime.Now : DateTime.ParseExact(Model.HoraDGIV, "HH:mm:ss", null, System.Globalization.DateTimeStyles.None);
                                        }
                                        catch (Exception)
                                        {
                                            try
                                            {
                                                hora = Model.HoraDGIV == null ? DateTime.Now : DateTime.ParseExact(Model.HoraDGIV, "HH:mm", null, System.Globalization.DateTimeStyles.None);
                                            }
                                            catch (Exception) { }
                                        }
                                    }
                                }
                                @(Html.DevExtreme().DateBox().Type(DateBoxType.Time).ID("mirelojDGIV").ShowAnalogClock(true).PickerType(DateBoxPickerType.Rollers).DisplayFormat("HH:mm:ss").Placeholder("Hora DGIV").Width("100%").ElementAttr("class", "form-control").ShowClearButton(true).Value(hora).OnValueChanged("dateBoxDGIV_valueChanged"))
                                @(Html.DevExtreme().TextBoxFor(m => m.HoraDGIV).ElementAttr("style", "display:none;visibility:hidden").ID("horarioDGIV"))
                            </div>
                        </div>
                        <h6>Recepción Monitoreo</h6>
                        <div class="dx-field row">
                            <div class="dx-field-label col-3">Fecha:</div>
                            <div class="dx-field-value col-9">
                                @(Html.DevExtreme().DateBoxFor(model => model.FechaMon).Placeholder("Fecha Monitoreo").Width("100%").ID("FechaMon").ElementAttr("class", "form-control").ShowClearButton(true).InvalidDateMessage("Fecha no valida"))
                            </div>
                        </div>
                        <div class="dx-field row">
                            <div class="dx-field-label col-3">Hora:</div>
                            <div class="dx-field-value col-9">
                                @{
                                    hora = DateTime.Now;

                                    if (Model.HoraMon != null)
                                    {
                                        try
                                        {
                                            hora = Model.HoraMon == null ? DateTime.Now : DateTime.ParseExact(Model.HoraMon, "HH:mm:ss", null, System.Globalization.DateTimeStyles.None);
                                        }
                                        catch (Exception)
                                        {
                                            try
                                            {
                                                hora = Model.HoraMon == null ? DateTime.Now : DateTime.ParseExact(Model.HoraMon, "HH:mm", null, System.Globalization.DateTimeStyles.None);
                                            }
                                            catch (Exception) { }
                                        }
                                    }
                                }
                                @(Html.DevExtreme().DateBox().Type(DateBoxType.Time).ID("mirelojMon").ShowAnalogClock(true).PickerType(DateBoxPickerType.Rollers).DisplayFormat("HH:mm:ss").Placeholder("Hora Monitoreo").Width("100%").ElementAttr("class", "form-control").ShowClearButton(true).Value(hora).OnValueChanged("dateBoxMon_valueChanged"))
                                @(Html.DevExtreme().TextBoxFor(m => m.HoraMon).ElementAttr("style", "display:none;visibility:hidden").ID("horarioMon"))
                            </div>
                        </div>
                        <br />
                        <div class="dx-field row">
                            <div class="dx-field-label col-3">Asunto:</div>
                            <div class="dx-field-value col-9">
                                @(Html.DevExtreme().AutocompleteFor(model => model.Asunto).DataSource(d => d.Mvc().LoadAction("SearchResultadoGenerico_asunto")).Placeholder("Asunto").Width("100%").MinSearchLength(1).ElementAttr("class", "form-control").ShowClearButton(true))
                                @Html.ValidationMessageFor(model => model.Asunto, "*")
                            </div>
                        </div>
                        <div class="dx-field row">
                            <div class="dx-field-label col-3">Quien Turnó:</div>
                            <div class="dx-field-value col-9">
                                @(Html.DevExtreme().AutocompleteFor(model => model.Turno).DataSource(d => d.Mvc().LoadAction("SearchResultadoGenerico_turno")).Placeholder("Turno").Width("100%").MinSearchLength(1).ElementAttr("class", "form-control").ShowClearButton(true))
                                @Html.ValidationMessageFor(model => model.Turno, "*")
                            </div>
                        </div>
                        <div class="dx-field row">
                            <div class="dx-field-label col-3">Origen:</div>
                            <div class="dx-field-value col-9">
                                @(Html.DevExtreme().AutocompleteFor(model => model.Origen).DataSource(d => d.Mvc().LoadAction("SearchResultadoGenerico_origen")).Placeholder("Origen").Width("100%").MinSearchLength(1).ElementAttr("class", "form-control").ShowClearButton(true))
                                @Html.ValidationMessageFor(model => model.Origen, "*")
                            </div>
                        </div>
                        <div class="dx-field row">
                            <div class="dx-field-label col-3">Minutario:</div>
                            <div class="dx-field-value col-9">
                                @(Html.DevExtreme().AutocompleteFor(model => model.Minutario).DataSource(d => d.Mvc().LoadAction("SearchResultadoGenerico_minutario")).Placeholder("Minutario").Width("100%").MinSearchLength(1).ElementAttr("class", "form-control").ShowClearButton(true))
                            </div>
                        </div>
                        <div class="dx-field row">
                            <div class="dx-field-label col-3">OFP:</div>
                            <div class="dx-field-value col-9">
                                @(Html.DevExtreme().SelectBoxFor(model => model.OFP).Placeholder("-- Seleccione un OFP --").DataSource(ViewBag.ofp).ShowClearButton(true).DisplayExpr("Resultado").ValueExpr("Resultado"))
                            </div>
                        </div>
                        <div class="dx-field row">
                            <div class="dx-field-label col-3">Comentarios:</div>
                            <div class="dx-field-value col-9">
                                @(Html.DevExtreme().TextAreaFor(model => model.Comentarios).Width("100%").Height("200px"))
                                @Html.ValidationMessageFor(model => model.Comentarios, "*")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row col-12 alertas oculto">
                <div class="form" style="width:100%">
                    <div class="dx-fieldset">
                        <div class="dx-field row">
                            <div class="dx-field-label col-3">Barco:</div>
                            <div class="dx-field-value col-9">
                                @(Html.DevExtreme().TextBoxFor(model => model.embarcacion_barco).ID("embarcacion_barco").Placeholder("Barco").ShowClearButton(true))
                            </div>
                        </div>
                        <div class="dx-field row">
                            <div class="dx-field-label col-3">RNP:</div>
                            <div class="dx-field-value col-9">
                                @(Html.DevExtreme().TextBoxFor(model => model.embarcacion_rnp).ID("embarcacion_rnp").Placeholder("RNP").ShowClearButton(true))
                            </div>
                        </div>
                        <div class="dx-field row">
                            <div class="dx-field-label col-3">Razón Social:</div>
                            <div class="dx-field-value col-9">
                                @(Html.DevExtreme().TextBoxFor(model => model.embarcacion_razonsocial).ID("embarcacion_razonsocial").Placeholder("Razón Social").ShowClearButton(true))
                            </div>
                        </div>
                        <div class="dx-field row">
                            <div class="dx-field-label col-3">Matrícula:</div>
                            <div class="dx-field-value col-9">
                                @(Html.DevExtreme().TextBoxFor(model => model.embarcacion_matricula).ID("embarcacion_matricula").Placeholder("Matrícula").ShowClearButton(true))
                            </div>
                        </div>
                        <div class="dx-field row">
                            <div style="padding-right:10px">
                                @(Html.DevExtreme().Button().Icon("fas fa-plus").Type(ButtonType.Default).OnClick("AgregarLlamada").UseSubmitBehavior(false))
                            </div>
                            <div style="padding-right:10px">
                                @(Html.DevExtreme().Button().Icon("far fa-trash-alt").Type(ButtonType.Default).OnClick("BorrarLlamada").UseSubmitBehavior(false))
                            </div>
                            <div>
                                @(Html.DevExtreme().Button().Icon("fas fa-search").Type(ButtonType.Default).OnClick("ver").UseSubmitBehavior(false))
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
}

@(Html.DevExtreme().Popup().ID("popup").ElementAttr("class", "popup").ShowTitle(true).Title("Busca Información de Embarcación").Visible(false).DragEnabled(false).CloseOnOutsideClick(true))

@using (Html.DevExtreme().NamedTemplate("popup-template"))
{
    <div class="row" style="padding-top:5px">
        <div class="col-12">
           
        </div>
    </div>
}

<script type="text/javascript">
    var popup = {};
    function Init() {
        popup = $("#popup").dxPopup("instance");
        popup.option("contentTemplate", $("#popup-template"));
    }
    function dateBoxDGIV_valueChanged(data) {
        $("#horarioDGIV").dxTextBox("instance").option({ "value": $("#mirelojDGIV").dxDateBox("instance").option("text") });
    }
    function dateBoxMon_valueChanged(data) {
        $("#horarioMon").dxTextBox("instance").option({ "value": $("#mirelojMon").dxDateBox("instance").option("text") });
    }
    function RegresaValoresEmbarcacionOficioEntrada(Nombre, RazonSocial, Matricula, RNP) {
        $('#embarcacion_barco').dxTextBox("instance").option("value", Nombre);
        $('#embarcacion_razonsocial').dxTextBox("instance").option("value", RazonSocial);
        $('#embarcacion_matricula').dxTextBox("instance").option("value", Matricula);
        $('#embarcacion_rnp').dxTextBox("instance").option("value", RNP);
        popup.hide();
    }
    function ver() {
        ReloadGridEmbarcaciones();
    }
    setTimeout(function () { Init(); }, 300);
    function ReloadGridEmbarcaciones() {
        popup.show();
        @*$.ajax({
            url: '@Url.Action("BuscarEmbarcaciones", "OficioEntrada", null, Request.Url.Scheme)',
            type: "POST",
            dataType: "json",
            data: JSON.stringify({ opcionesbusqueda: "", valor: "" }),
            contentType: "application/json",
            success: function (result) {
                $("#gridInfoEmbarcaciones").dxDataGrid("instance").option({ dataSource: result });
            },
            error: function (err) {
                console.log(err);
            },
            timeout: 5000
        });*@
    }
    function BorrarLlamada() {
        @*$.ajax({
            url: '@Url.Action("EliminarEmbarcaciones", "OficioEntrada", null, Request.Url.Scheme)',
            type: "POST",
            dataType: "json",
            data: JSON.stringify({ IdEntrada: $("#identificador").dxTextBox("instance").option("value") }),
            contentType: "application/json",
            success: function (result) {
                $("#gridEmbarca").dxDataGrid("instance").option({ dataSource: result });
            },
            error: function (err) {
                console.log(err);
            },
            timeout: 5000
        });*@
    }
    function AgregarLlamada() {
        var args = {};
        args.IdEntrada = $("#identificador").dxTextBox("instance").option("value");
        args.embarcacion_rnp = $("#embarcacion_rnp").dxTextBox("instance").option("value");
        args.embarcacion_matricula = $("#embarcacion_matricula").dxTextBox("instance").option("value");
        args.embarcacion_barco = $("#embarcacion_barco").dxTextBox("instance").option("value");
        args.embarcacion_razonsocial = $("#embarcacion_razonsocial").dxTextBox("instance").option("value");

        @*$.ajax({
            url: '@Url.Action("AgregarEmbarcaciones", "OficioEntrada", null, Request.Url.Scheme)',
            type: "POST",
            dataType: "json",
            data: JSON.stringify(args),
            contentType: "application/json",
            success: function (result) {
                if (result.ErroresAgregarEmbarcacion == "") {
                    $("#gridEmbarca").dxDataGrid("instance").option({ dataSource: result.ResultadoListaRelacionEntradaSP });
                    $("#embarcacion_razonsocial").dxTextBox("instance").option("value", "");
                    $("#embarcacion_rnp").dxTextBox("instance").option("value", "");
                    $("#embarcacion_matricula").dxTextBox("instance").option("value", "");
                    $("#embarcacion_barco").dxTextBox("instance").option("value", "");
                }
            },
            error: function (err) {
                console.log(err);
            },
            timeout: 5000
        });*@
    }
</script>
