﻿@model IEnumerable<MASCore.ModelReference.BuscaOficioEntrada_Result>

@{
    Layout = "~/Views/Shared/_PdfLayout.cshtml";
}

<table width="100%" cellpadding="1.0" cellspacing="1.0"   widths="1;4;1">
    <row>
        
        <cell>
            <img src="~/images/Logo1.jpg" />
            
        </cell>
        <cell horizontalalign="Default" verticalalign="Default">
            <paragraph style="font-size: 13;font-weight:normal;" red="60" green="60" blue="60" align="Center">
                COMISION NACIONAL DE ACUACULTURA Y PESCA <br />
                DIRECCIÓN GENERAL DE INSPECCION Y VIGILANCIA <br />
            </paragraph>
            <chunk style="font-size: 13;font-weight:normal" red="60" green="60" blue="60" align="Center">  DIRECCIÓN DE MONITOREO Y COORDINACIÓN</chunk>
        </cell>
        <cell>

            <img src="~/images/Logo2.jpg" />
            
        </cell>
    </row>
</table>

<paragraph style="font-family: Helvetica; font-size: 16; "  align="Center">
	<chunk style="font-weight:normal;" red="60" green="60" blue="60">REPORTE - OFICIOS DE ENTRADA </chunk>
</paragraph>
<table width="100%" cellpadding="1.0" cellspacing="1.0"   widths="3;3;2">
    <row>
        <cell colspan="2"> Impreso por: 
        @*@Html.Encode(Request.Cookies["userName"].Value.ToUpper())*@ 
        </cell>
        @*<cell></cell>*@
        <cell> Fecha: @DateTime.Now.Date.ToShortDateString()  </cell>
    </row>
</table>


@foreach (var item in Model)
{
    <table width="100%" cellpadding="1.0" cellspacing="1.0"  border="2" widths=".7;1;1;1;1;1" red="255" green="255" blue="255" align="left">
        <row>
            <cell colspan="3" borderwidth="0.5" left="true" right="true" top="true" bottom="true" header="true" leading="18.0">            	         
                <chunk style="font-family: Helvetica; font-size: 10;font-weight:bold;text-align:center">
                    OFICIO DE ENTRADA
                </chunk>             
            </cell>
            <cell colspan="3" borderwidth="0.5" left="false" right="false" top="false" bottom="false" header="true" leading="18.0">            	         
                <chunk style="font-family: Helvetica; font-size: 10;font-weight:bold;text-align:center">
                    
                </chunk>             
            </cell>
        </row>
        @* ------------------                 PRIMER RENGLON                     ------------------------*@
        <row>
	        <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" header="true" leading="18.0">            	         
                <chunk style="font-family: Helvetica; font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                        Id
                </chunk>             
            </cell>	   
	        <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
                <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                        Estatus
                </chunk>
            </cell>
            <cell colspan="2" borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
                <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                        No Oficio
                </chunk>
            </cell>
            <cell colspan="1" borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
                <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                       Tipo Oficio
                </chunk>
            </cell> 
            <cell colspan="1" borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
                <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                       Fecha DGIV
                </chunk>
            </cell>                        
        </row>
        <row>
            <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;">                        
                        @item.IdEntrada
                </chunk>
            </cell>
            <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
                <chunk style="font-family:Helvetica;font-size: 9;">
                        @item.Estatus
                </chunk>
            </cell>
            <cell colspan="2" borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 9;">
                        @item.NoOficio
                </chunk>
            </cell>
            <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 9;">
                        @item.TipoOficio
                </chunk>
            </cell>
            <cell colspan="1" borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 9;">
                        @item.FechaDGIV.Value.ToShortDateString()
                </chunk>
            </cell>
        </row>
        @* ------------------                 SEGUNDO RENGLON                     ------------------------*@
        <row>
	        <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" header="true" leading="18.0">            	         
                <chunk style="font-family: Helvetica; font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                        Hora DGIV
                </chunk>             
            </cell>	   
	        <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
                <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                        Fecha MON
                </chunk>
            </cell>
            <cell colspan="1" borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
                <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                        Hora MON
                </chunk>
            </cell>
            <cell colspan="1" borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
                <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                       Volante
                </chunk>
            </cell> 
            <cell colspan="2" borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
                <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                       Turno
                </chunk>
            </cell>                        
        </row>
        <row>
            <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 10;">                        
                        @item.HoraDGIV
                </chunk>
            </cell>
            <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
                <chunk style="font-family:Helvetica;font-size: 9;">
                        @item.FechaMon.Value.ToShortDateString()
                </chunk>
            </cell>
            <cell colspan="1" borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 9;">
                        @item.HoraMon
                </chunk>
            </cell>
            <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 9;">
                        @item.Volante
                </chunk>
            </cell>
            <cell colspan="2" borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 9;">
                        @item.Turno
                </chunk>
            </cell>
        </row>
        @* ------------------                 TERCERO RENGLON                     ------------------------*@
        <row>
	        <cell colspan="2" borderwidth="0.5" left="true" right="true" top="true" bottom="true" header="true" leading="18.0">            	         
                <chunk style="font-family: Helvetica; font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                        Origen
                </chunk>             
            </cell>	   
	        <cell colspan="3" borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
                <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                        Minutario
                </chunk>
            </cell>
            <cell colspan="1" borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
                <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                        Respuesta
                </chunk>
            </cell>
        </row>
        <row>
            <cell colspan="2" borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
                <chunk style="font-family:Helvetica;font-size: 9;">
                        @item.Origen
                </chunk>
            </cell>
            <cell colspan="3" borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
                <chunk style="font-family:Helvetica;font-size: 9;">
                        @item.Minutario
                </chunk>
            </cell>
            <cell colspan="1" borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 8;">
                        @item.Respuesta
                </chunk>
            </cell>
        </row>
        @* ------------------                 CUARTO RENGLON                     ------------------------*@
        <row>
	        <cell colspan="6" borderwidth="0.5" left="true" right="true" top="true" bottom="true" header="true" leading="18.0">            	         
                <chunk style="font-family: Helvetica; font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                        Asunto
                </chunk>             
            </cell>	   	        
        </row>
        <row>
            <cell colspan="6" borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
                <chunk style="font-family:Helvetica;font-size: 9;">
                        @item.Asunto
                </chunk>
            </cell>
        </row>
        @* ------------------                 QUINTO RENGLON                     ------------------------*@
        <row>
	        <cell colspan="6" borderwidth="0.5" left="true" right="true" top="true" bottom="true" header="true" leading="18.0">            	         
                <chunk style="font-family: Helvetica; font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                        Comentarios
                </chunk>
            </cell>
        </row>
        <row>
            <cell colspan="6" borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
                <chunk style="font-family:Helvetica;font-size: 9;">
                        @item.Comentarios
                </chunk>
            </cell>
        </row>

    </table>
}




@*
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GeneratePdfOficioEntrada</title>
</head>
<body>
    <div>
        
    </div>
</body>
</html>

*@