﻿@model MASCore.Models.CapturaActividadesM

@{
    ViewBag.Title = "Captura de Actividades";
}

<article>
    <h1>Captura de Actividades de Operadores</h1>
</article>

@if (!string.IsNullOrEmpty(ViewBag.NoValidoPor))
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.NoValidoPor
    </div>
}



@*@using (Html.BeginForm()) *@
@using (Html.BeginForm("CapturaActividades", "ReportesAvanzados", FormMethod.Post))
{
    @Html.ValidationSummary(true)
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                @*<div class="x_title">
                        <h4>Criterios de consulta</h4>
                        <div class="clearfix"></div>
                    </div>*@
                <div class="x_content">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-3" style="padding-right: 0; padding-top: 16px;">
                                        @Html.LabelFor(model => model.Turno)
                                    </div>
                                    <div class="col-3" style="padding-right: 0; padding-top: 16px;">
                                        @(Html.DevExtreme().SelectBoxFor(o => o.Turno)
                                                      .DataSource(ViewBag.turno)
                                                      .DisplayExpr("Resultado")
                                                      .ValueExpr("Resultado")
                                                      .Width("100%")
                                                      .ElementAttr("class", "form-control")
                                                      .ShowClearButton(true))
                                    </div>
                                    <div class="col-3" style="padding-right: 0; padding-top: 16px;">
                                        @Html.LabelFor(model => model.Usuario)
                                    </div>
                                    <div class="col-3" style="padding-right: 0; padding-top: 16px;">
                                        @(Html.DevExtreme().TextBoxFor(o => o.Usuario)
                                                      .Width("100%")
                                                      .ElementAttr("class", "form-control")
                                                      .ShowClearButton(true))
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3" style="padding-right: 0; padding-top: 16px;">
                                        @Html.LabelFor(model => model.Fecha)
                                    </div>
                                    <div class="col-3" style="padding-right: 0; padding-top: 16px;">
                                        @(Html.DevExtreme().DateBoxFor(o => o.Fecha)
                                                      .Width("100%")
                                                      .ElementAttr("class", "form-control")
                                                      .ShowClearButton(true))
                                    </div>
                                    <div class="col-3" style="padding-right: 0; padding-top: 16px;">
                                        @Html.LabelFor(model => model.usuarioastrum)
                                    </div>
                                    <div class="col-3" style="padding-right: 0; padding-top: 16px;">
                                        @(Html.DevExtreme().SelectBoxFor(o => o.usuarioastrum)
                                                      .DataSource(ViewBag.usuarioastrum)
                                                      .DisplayExpr("Resultado")
                                                      .ValueExpr("Resultado")
                                                      .Width("100%")
                                                      .ElementAttr("class", "form-control")
                                                      .ShowClearButton(true))
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3" style="padding-right: 0; padding-top: 16px;">
                                        @Html.LabelFor(model => model.Hora)
                                    </div>
                                    <div class="col-3" style="padding-right: 0; padding-top: 16px;">
                                        @(Html.DevExtreme().SelectBoxFor(o => o.Hora)
                                                      .DataSource(ViewBag.Hora)
                                                      .DisplayExpr("Resultado")
                                                      .ValueExpr("Resultado")
                                                      .Width("100%")
                                                      .ElementAttr("class", "form-control")
                                                      .ShowClearButton(true))
                                    </div>
                                    <div class="col-3" style="padding-right: 0; padding-top: 16px;">
                                        @Html.LabelFor(model => model.Minutos)
                                    </div>
                                    <div class="col-3" style="padding-right: 0; padding-top: 16px;">
                                        @(Html.DevExtreme().SelectBoxFor(o => o.Minutos)
                                                      .DataSource(ViewBag.Minutos)
                                                      .DisplayExpr("Resultado")
                                                      .ValueExpr("Resultado")
                                                      .Width("100%")
                                                      .ElementAttr("class", "form-control")
                                                      .ShowClearButton(true))
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3" style="padding-right: 0; padding-top: 16px;">
                                        @Html.LabelFor(model => model.Comentarios)
                                    </div>
                                    <div class="col-9" style="padding-right: 0; padding-top: 16px;">
                                        @(Html.DevExtreme().TextAreaFor(o => o.Comentarios)
                                              .Width("100%")
                                              .ElementAttr("class", "form-control"))
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-11"></div> @*offset-10*@
                                    <div class="col-1" style="padding-right: 0; padding-top: 16px;">
                                        @(Html.DevExtreme().Button().ID("btnSubmit").Icon("fas fa-save").Text("").UseSubmitBehavior(true).Type(ButtonType.Default).Width("100%"))
                                        @(Html.DevExtreme().Tooltip().Target("#btnSubmit").ShowEvent("mouseenter").HideEvent("mouseleave").ContentTemplate("Guardar Información"))
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@*<div>
    @Html.ActionLink("Regresar a Reportes Avanzados", "Index")
</div>*@
<script type="text/javascript">
    $("#btnSubmit").attr("name", "submitButton").vañ("Guardar")
</script>
