﻿@model MASCore.Models.CapturaActividadesM

@{
    ViewBag.Title = "Editar Actividad";
}

<article>
    <h1>Editar actividades de operadores</h1>
</article>

@if (!string.IsNullOrEmpty(ViewBag.NoValidoPor))
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.NoValidoPor
    </div>
}
@using (Html.BeginForm("EditarActividad", "ReportesAvanzados", FormMethod.Post))
{
    @Html.ValidationSummary(true)
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                @*<div class="x_title">
                        <h4>Criterios de consulta</h4>
                        <div class="clearfix"></div>
                    </div>*@
                <div class="x_content">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-3" style="padding-right: 0; padding-top: 16px;">
                                        @Html.LabelFor(model => model.Turno)
                                    </div>
                                    <div class="col-3" style="padding-right: 0; padding-top: 16px;">
                                        @(Html.DevExtreme().SelectBoxFor(o => o.Turno)
                                                                      .DataSource(ViewBag.turno)
                                                                      .DisplayExpr("Resultado")
                                                                      .ValueExpr("Resultado")
                                                                      .Width("100%")
                                                                      .ElementAttr("class", "form-control")
                                                                      .ShowClearButton(true))
                                    </div>
                                    <div class="col-3" style="padding-right: 0; padding-top: 16px;">
                                        @Html.LabelFor(model => model.Usuario)
                                    </div>
                                    <div class="col-3" style="padding-right: 0; padding-top: 16px;">
                                        @(Html.DevExtreme().TextBoxFor(o => o.Usuario)
                                                                      .Width("100%")
                                                                      .ElementAttr("class", "form-control")
                                                                      .ShowClearButton(true))
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3" style="padding-right: 0; padding-top: 16px;">
                                        @Html.LabelFor(model => model.Fecha)
                                    </div>
                                    <div class="col-3" style="padding-right: 0; padding-top: 16px;">
                                        @(Html.DevExtreme().DateBoxFor(o => o.Fecha)
                                                                      .Width("100%")
                                                                      .ElementAttr("class", "form-control")
                                                                      .ShowClearButton(true))
                                    </div>
                                    <div class="col-3" style="padding-right: 0; padding-top: 16px;">
                                        @Html.LabelFor(model => model.usuarioastrum)
                                    </div>
                                    <div class="col-3" style="padding-right: 0; padding-top: 16px;">
                                        @(Html.DevExtreme().SelectBoxFor(o => o.usuarioastrum)
                                                                      .DataSource(ViewBag.usuarioastrum)
                                                                      .DisplayExpr("Resultado")
                                                                      .ValueExpr("Resultado")
                                                                      .Width("100%")
                                                                      .ElementAttr("class", "form-control")
                                                                      .ShowClearButton(true))
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3" style="padding-right: 0; padding-top: 16px;">
                                        @Html.LabelFor(model => model.Hora)
                                    </div>
                                    <div class="col-3" style="padding-right: 0; padding-top: 16px;">
                                        @(Html.DevExtreme().SelectBoxFor(o => o.Hora)
                                                                      .DataSource(ViewBag.Hora)
                                                                      .DisplayExpr("Resultado")
                                                                      .ValueExpr("Resultado")
                                                                      .Width("100%")
                                                                      .ElementAttr("class", "form-control")
                                                                      .ShowClearButton(true))
                                    </div>
                                    <div class="col-3" style="padding-right: 0; padding-top: 16px;">
                                        @Html.LabelFor(model => model.Minutos)
                                    </div>
                                    <div class="col-3" style="padding-right: 0; padding-top: 16px;">
                                        @(Html.DevExtreme().SelectBoxFor(o => o.Minutos)
                                                                      .DataSource(ViewBag.Minutos)
                                                                      .DisplayExpr("Resultado")
                                                                      .ValueExpr("Resultado")
                                                                      .Width("100%")
                                                                      .ElementAttr("class", "form-control")
                                                                      .ShowClearButton(true))
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3" style="padding-right: 0; padding-top: 16px;">
                                        @Html.LabelFor(model => model.Comentarios)
                                    </div>
                                    <div class="col-9" style="padding-right: 0; padding-top: 16px;">
                                        @(Html.DevExtreme().TextAreaFor(o => o.Comentarios)
                                                              .Width("100%")
                                                              .ElementAttr("class", "form-control"))
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-2 offset-10" style="padding-right: 0; padding-top: 16px;">
                                        @(Html.DevExtreme().Button().ID("btnSubmit").Text("Guardar")
                                                              .UseSubmitBehavior(true).Type(ButtonType.Default).Width("100%"))
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


}

<div>
    @Html.ActionLink("Regresar a Reportes Avanzados", "Index")
</div>

@if (Model.Turno != "07:00 A 15:00 HORAS")
{
    //Agregado por SZ el 28/02/2017
    ViewBag.Turno = Model.Turno;
    <script type="text/javascript">
            var txtturno = @Html.Raw(Json.Encode(ViewBag.Turno));
            //Nos Sirve para asignar el valor que ocupemos en un dropdownlist.
            $("#ddlturno option[value='" + txtturno + "']").attr("selected", "selected");
    </script>
}
@if (Model.usuarioastrum != "--Seleccione--")
{
    //Agregado por SZ el 28/02/2017
    ViewBag.usuarioastrum = Model.usuarioastrum;
    <script type="text/javascript">
        var txtusuario = @Html.Raw(Json.Encode(ViewBag.usuarioastrum));
            //Nos Sirve para asignar el valor que ocupemos en un dropdownlist.
        $("#ddlusuarioastrum option[value='" + txtusuario + "']").attr("selected", "selected");
    </script>
}
@if (Model.Hora != "00")
{
    //Agregado por SZ el 28/02/2017
    ViewBag.Hora = Model.Hora;
    <script type="text/javascript">
            var txthora = @Html.Raw(Json.Encode(ViewBag.Hora));
            //Nos Sirve para asignar el valor que ocupemos en un dropdownlist.
            $("#ddlhora option[value='" + txthora + "']").attr("selected", "selected");
    </script>
}
@if (Model.Minutos != "00")
{
    //Agregado por SZ el 28/02/2017
    ViewBag.Minutos = Model.Minutos;
    <script type="text/javascript">
            var txtminutos = @Html.Raw(Json.Encode(ViewBag.Minutos));
            //Nos Sirve para asignar el valor que ocupemos en un dropdownlist.
            $("#ddlminutos option[value='" + txtminutos + "']").attr("selected", "selected");
    </script>
}


@*
    <fieldset>
        <legend>CapturaActividadesM</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Turno)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Turno)
            @Html.ValidationMessageFor(model => model.Turno)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Usuario)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Usuario)
            @Html.ValidationMessageFor(model => model.Usuario)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Fecha)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Fecha)
            @Html.ValidationMessageFor(model => model.Fecha)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Hora)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Hora)
            @Html.ValidationMessageFor(model => model.Hora)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Minutos)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Minutos)
            @Html.ValidationMessageFor(model => model.Minutos)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Comentarios)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Comentarios)
            @Html.ValidationMessageFor(model => model.Comentarios)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>

*@

