﻿@model MASCore.Models.ReporteTxIrregularEvidenciaM

@{
    Layout = null;
    ViewBag.Title = "Evidencias de Transmision Irregular";
}

<!DOCTYPE html>

<html>
<head>
    @*<meta name="viewport" content="width=device-width" />*@


    <meta charset="utf-8" />
    <title>Evidencias De Transmision Irregular Fuera</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />


    @Styles.Render("~/Content/css")

    @Styles.Render("~/Content/themes/base/jquery.ui.core.css")
    @Styles.Render("~/Content/themes/base/jquery.ui.datepicker.css")
    @Styles.Render("~/Content/themes/base/jquery.ui.theme.css")

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/Scripts/DatePickerReady.js")

    @* @RenderSection("scripts", required: false)*@
</head>
<body>

    <div id="body">
        <br />
        <div id="titulo">
            <h3 style="color:#0F2C48;text-align:center"><u>-  Evidencias De Transmision Irregular  -</u></h3>
        </div>
        @using (Html.BeginForm("EvidenciaTxIrregular", "ReportesAvanzados", FormMethod.Post))
        {
            @* @Html.ValidationSummary(true)*@

            @* <ul id="menu2">
                    <li> @Html.ActionLink("Exportar", "GeneraReporteTxIrregular", "ReportesAvanzados") </li>
                    <li> @Html.ActionLink("PDF", "GeneraReporteTxIrregularPdf", null, new { target = "_blank" })</li>
                </ul>*@

            <table width="100%">
                @{
            if (Model.ListaEvidenciasString.Count() > 0)
            {
                <tr>
                    <td align="right">
                        <ul id="menu2">
                            @*<li> <input type="submit" name="submitButton" value="Consultar" /></li>*@
                            <li> @Html.ActionLink("Exportar", "GeneraReporteTxIrregularEvidenciaXLS", "ReportesAvanzados", new { Embarcacion = @ViewBag.Embarcacion, Matricula = @ViewBag.Matricula }, new { target = "_blank" })  </li>
                            @* <li> @Html.ActionLink("Exportar", "GeneraReporteTxIrregular", "ReportesAvanzados") </li>*@
                            <li> @Html.ActionLink("PDF", "GeneraReporteTxIrregularEvidenciaPdf", "ReportesAvanzados", new { Embarcacion = @ViewBag.Embarcacion, Matricula = @ViewBag.Matricula }, new { target = "_blank" })  </li>
                            @*<li> @Html.ActionLink("PDF", "GeneraReporteTxIrregularPdf", null, new { target = "_blank" })</li>*@
                        </ul>
                    </td>
                </tr>
                    <tr>
                        <td>
                            <div id="leyendas" align="center">
                                Cuantas horas hacia atrás para considerar en el reporte --> Actualmente de 72 horas.
                                <br />
                                Reportes mínimos necesarios para ser considerado irregular --> Actualmente de 66 reportes.
                                @*Es decir, el reporte mostraría los reportes emitidos las últimas 72 horas de dicha embarcación.
                                Encabezado del reporte mostraría:*@
                                <br />
                                Nombre del barco: @ViewBag.Embarcacion
                                <br />
                                Total de reportes: @Model.ListaEvidenciasString.Count()
                                <br />
                                @*Reportes minimos necesarios para considerar Transmision irregular: @Model.ReportesMinimosIrreg*@
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div id="gridtxirregular" align="center">
                                @{
                var gridtxirregular = new WebGrid(Model.ListaEvidenciasString, rowsPerPage: 500, ajaxUpdateContainerId: "gridtxirregular");
                                }
                                @gridtxirregular.GetHtml(
                    fillEmptyRows: false,
                    alternatingRowStyle: "fila-alternativa", tableStyle: "griddd",
                    headerStyle: "encabezado-grid",
                    footerStyle: "pie-grid",
                    mode: WebGridPagerModes.All,
                    firstText: "<< Primera",
                    previousText: "< Anterior",
                    nextText: "Siguiente >",
                    lastText: "Última >>",
                columns: gridtxirregular.Columns(
  gridtxirregular.Column("Orden", header: "Orden"),
  gridtxirregular.Column("Fecha", header: "Fecha"),
  gridtxirregular.Column("Latitud", header: "Latitud"),
  gridtxirregular.Column("Longitud", header: "Longitud"),
  gridtxirregular.Column("Rumbo", header: "Rumbo"),
  gridtxirregular.Column("Velocidad", header: "Velocidad")                      
                //gridtxirregular.Column("Acción", format: @<text> @Html.ActionLink("Seleccionar", "CreateBySismepWeb", "Cedula", new { id = item.IdMensaje }, new { target = "_blank" }) </text>)
                        )
                                    )
                            </div>
                        </td>
                    </tr>
            }
            else
            {
                <tr>
                    <td align="center">
                        No se encontraron transmisiones irregulares.
                    </td>
                </tr>
            }
                }
            </table>
        }



    </div>

    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - Astrum Satelital </p>
            </div>
        </div>
    </footer>
    @*@Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)*@
</body>
</html>
