﻿@using MASCore.Models
@{
    Layout = "~/Views/Shared/_PdfLayout.cshtml";
    List<InformacionDentroYFueraPuerto> Lista = new List<InformacionDentroYFueraPuerto>();
    Lista = Session["SessionDentroYFueraPuerto"] as List<InformacionDentroYFueraPuerto>;

    string ParametrosDeBusqueda = "";
            ParametrosDeBusqueda = Session["SessionParametrosDeBusqueda"] as string;

}

<table width="100%" cellpadding="1.0" cellspacing="1.0"   widths="1;4;1">
    <row>
        <cell >   <image url="@Context.Server.MapPath("~/Content/Logo1.jpg")"/>     </cell>
        <cell horizontalalign="Default" verticalalign="Default">
            <paragraph style="font-size: 13;font-weight:normal;" red="60" green="60" blue="60" align="Center">
                COMISION NACIONAL DE ACUACULTURA Y PESCA <br />
                DIRECCIÓN GENERAL DE INSPECCION Y VIGILANCIA <br />
            </paragraph>
            <chunk style="font-size: 13;font-weight:normal" red="60" green="60" blue="60" align="Center">  DIRECCIÓN DE MONITOREO Y COORDINACIÓN</chunk> 
        </cell>
        <cell>   <image url="@Context.Server.MapPath("~/Content/Logo2.jpg")"/>     </cell>
    </row>
    
</table>
<paragraph style="font-family: Helvetica; font-size: 16; "  align="Center">
    <chunk style="font-weight:normal;" red="60" green="60" blue="60">REPORTE - ESTADÍSTICO DE DATOS</chunk>
</paragraph>
<paragraph style="font-family: Helvetica; font-size: 16; "  align="Center">
	<chunk style="font-weight:normal;" red="60" green="60" blue="60">EMBARCACIONES DENTRO Y FUERA DE PUERTO</chunk>
</paragraph>

<table width="100%" cellpadding="1.0" cellspacing="1.0"   widths="3;3;2">
    <row>
        <cell colspan="2"> Impreso por: @Html.Encode(Request.Cookies["userName"].Value.ToUpper()) </cell>
        @*<cell></cell>*@
        <cell> Fecha: @DateTime.Now.Date.ToShortDateString()  </cell>
    </row>
    <row>
        <cell colspan="3">
            @ParametrosDeBusqueda
        </cell>
    </row>
</table>

@if (Lista != null && Lista.Count > 0)
{
    foreach (InformacionDentroYFueraPuerto item in Lista)
    {
     
<table width="100%" cellpadding="1.0" cellspacing="1.0"  border="2" widths="1;1;1;1;1;1" red="255" green="255" blue="255">
    <row>	    
        <cell colspan="2" borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
            <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;" red="10" green="100" blue="100">
                Embarcación
            </chunk>
        </cell>
	    <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
            <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                Matricula
            </chunk>
        </cell>
        <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
            <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                RNP
            </chunk>
        </cell>
        <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
            <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                Puerto
            </chunk>
        </cell>
        <cell colspan="1" borderwidth="0.5" >
            <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
            </chunk>
        </cell>               
    </row>
    <row>           
        <cell colspan="2" borderwidth="0.5" left="true" right="true" top="true" bottom="true" >    @*red="255" green="0" blue="0"*@
            <chunk style="font-family:Helvetica;font-size: 10;">
                @Html.DisplayFor(modelItem => item.embarcacion)
            </chunk>
        </cell>        	    
	    <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
            <chunk style="font-family:Helvetica;font-size: 10;">
                @Html.DisplayFor(modelItem => item.matricula)
            </chunk>
        </cell>
        <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
            <chunk style="font-family:Helvetica;font-size: 10;">
                @Html.DisplayFor(modelItem => item.RNP)
            </chunk>
        </cell>
        <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
            <chunk style="font-family:Helvetica;font-size: 10;">
                @Html.DisplayFor(modelItem => item.puerto)
            </chunk>
        </cell>
        <cell borderwidth="0.5" colspan="1">
            <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                @*Propietario*@
            </chunk>
        </cell>        
    </row>
    @*------------------------------------------------------------------------------------------------------------------------*@
    <row>	    
        <cell colspan="3" borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
            <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                Propietario
            </chunk>
        </cell>
	    <cell colspan="2" borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
            <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                Fecha
            </chunk>
        </cell>
        <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
            <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                Estatus
            </chunk>
        </cell>                    
    </row>
    <row>           
        <cell colspan="3" borderwidth="0.5" left="true" right="true" top="true" bottom="true" >    @*red="255" green="0" blue="0"*@
            <chunk style="font-family:Helvetica;font-size: 10;">
                @Html.DisplayFor(modelItem => item.propietario)
            </chunk>
        </cell>        	    
	    <cell colspan="2" borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
            <chunk style="font-family:Helvetica;font-size: 10;">
                @Html.DisplayFor(modelItem => item.fecha)
            </chunk>
        </cell>
        <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
            <chunk style="font-family:Helvetica;font-size: 10;">
                @Html.DisplayFor(modelItem => item.enpuerto)
            </chunk>
        </cell>              
    </row>
</table> 

    }   
}

<table width="100%" cellpadding="1.0" cellspacing="1.0"   widths="1">
    <row>
        <cell>
            <chunk style="font-family: Helvetica; font-size: 10;">
                @ViewBag.NotaCompleta
            </chunk>                 
        </cell>
    </row>
</table>


@*<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GeneraReporteDentroYFueraPuertoPdf</title>
</head>
<body>
    <div>
        
    </div>
</body>
</html>*@
