﻿@using MASCore.Models;
@{
    Layout = "~/Views/Shared/_PdfLayout.cshtml";
    List<TotalEmbarcacionLitoral> ListaTotalEmbarcacionLitoral = new List<TotalEmbarcacionLitoral>();
    ListaTotalEmbarcacionLitoral = Session["SessionTotalEmbarcacionLitoral"] as List<TotalEmbarcacionLitoral>;    
}
<table width="100%" cellpadding="1.0" cellspacing="1.0"   widths="1;4;1">
    <row>
        <cell >   <image url="@Context.Server.MapPath("~/Content/Logo1.jpg")"/>     </cell>
        <cell horizontalalign="Default" verticalalign="Default">
            <paragraph style="font-size: 13;font-weight:normal;" red="60" green="60" blue="60" align="Center">
                COMISION NACIONAL DE ACUACULTURA Y PESCA <br />
                DIRECCIÓN GENERAL DE INSPECCION Y VIGILANCIA <br />
            </paragraph>
            <chunk style="font-size: 13;font-weight:normal" red="60" green="60" blue="60" align="Center">  DIRECCIÓN DE MONITOREO Y COORDINACIÓN</chunk> 
        </cell>
        <cell>   <image url="@Context.Server.MapPath("~/Content/Logo2.jpg")"/>     </cell>
    </row>
    
</table>
<paragraph style="font-family: Helvetica; font-size: 16; "  align="Center">
    <chunk style="font-weight:normal;" red="60" green="60" blue="60">REPORTE - ESTADÍSTICO DE DATOS</chunk>
</paragraph>
<paragraph style="font-family: Helvetica; font-size: 16; "  align="Center">
	<chunk style="font-weight:normal;" red="60" green="60" blue="60">EMBARCACIONES POR LITORAL</chunk>
</paragraph>

<table width="100%" cellpadding="1.0" cellspacing="1.0"   widths="3;3;2">
    <row>
        <cell colspan="2"> Impreso por: @Html.Encode(Request.Cookies["userName"].Value.ToUpper()) </cell>
        @*<cell></cell>*@
        <cell> Fecha: @DateTime.Now.Date.ToShortDateString()  </cell>
    </row>
</table>

@if (ListaTotalEmbarcacionLitoral != null && ListaTotalEmbarcacionLitoral.Count > 0)
{
<table width="100%" cellpadding="1.0" cellspacing="1.0"  border="2" widths="1.8;1" red="255" green="255" blue="255">  
    <row>
	    <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" header="true" leading="18.0">            	         
             <chunk style="font-family: Helvetica; font-size: 14;font-weight:bold;"  red="10" green="100" blue="100">
                Zona
            </chunk>             
        </cell>
	    <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
            <chunk style="font-family:Helvetica;font-size: 14;font-weight:bold;"  red="10" green="100" blue="100">
                Total
            </chunk>
        </cell>	                     
    </row>      
    @foreach (TotalEmbarcacionLitoral item in ListaTotalEmbarcacionLitoral)
    {
    <row>    
	    <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" >    @*red="255" green="0" blue="0"*@
            <chunk style="font-family:Helvetica;font-size: 12;font-weight:bold;">
                @Html.DisplayFor(modelItem => item.Zona)
            </chunk>
        </cell>
	    <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
            <chunk style="font-family:Helvetica;font-size: 9;">
                @Html.DisplayFor(modelItem => item.Total)
            </chunk>
        </cell>        
    </row>
    }
</table>
}

<table width="100%" cellpadding="1.0" cellspacing="1.0"   widths="1">
    <row>
        <cell>
            <chunk style="font-family: Helvetica; font-size: 10;">
                @ViewBag.NotaCompleta
            </chunk>                 
        </cell>
    </row>
</table>