﻿@model IEnumerable<MASCore.Models.ReporteActivacionDelEquipoList>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<body>
    @*<div>
        pruebaaaaaaaaaaaaaaaa
    </div>*@
    @*<h1>HHHHHHHHHHHHHHHHHHHHHH1</h1>
    <h2>HHHHHHHHHHHHHHHHHHHHHH2</h2>
    <h3>HHHHHHHHHHHHHHHHHHHHHH3</h3>
    <h4>HHHHHHHHHHHHHHHHHHHHHH4</h4>
    <h5>HHHHHHHHHHHHHHHHHHHHHH5</h5>
    <h6>HHHHHHHHHHHHHHHHHHHHHH6</h6>
    <b style="font-size: 8px">EEEEEEEEEEEEEE</b>
    <div style="font-size: 9px">AAAAAAAAAAA</div>*@
    <table border="1" width="100%" align="center">
        <tr>
            <td width="10%"> PRUEBA </td>
            <td width="30%" bgcolor="#009900"> PRUEBA </td>
            <td width="30%" bgcolor="#009900"> PRUEBA </td>
        </tr>
    </table>





    <table border="1" bgcolor="#009900" width="50%">
        <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
        </tr>
        <tr>
            <td>4</td>
            <td>5</td>
            <td>6</td>
        </tr>
    </table>

    <table id="ident" border="1" width='100%' bordercolor="black" bgcolor="#0033CC" frame="border">
        <tr>
            <td width="15%" ></td>
            <td bgcolor="#ff0000" width="40%" >bbbbbbbbbbbbbbbbbbbbbbbbb</td>
            <td width="15%">c</td>
            <td width="15%">d</td>
            <td width="15%">e</td>
        </tr>
    </table>
    <br />
    <div></div>
    <br />

    <table border="1" width='100%'>      
        <tr>
            <td bgcolor="#CCCCFF" width="10">a</td>
            <td bgcolor="#CCCCFF" >Puerto</td>
            <td bgcolor="#CCCCFF" >RNP</td>
            <td bgcolor="#CCCCFF" >Matricula</td>
            <td bgcolor="#CCCCFF" >Fecha</td>
            <td bgcolor="#CCCCFF" >Propietario</td>
            <td bgcolor="#CCCCFF" >Litoral</td>
        </tr>
       @foreach (var item in Model)
{
    string Fecha = "";
    if (@item.Fecha != null)
    {
        Fecha = @item.Fecha.PadLeft(10, ' ').Substring(0, 10);
    }
        <tr>
            <td  width="10"><font style="font-size:9px">  a  </font> </td>
            <td ><font style="font-size:9px" >  @Html.DisplayFor(modelItem => item.Puerto)  </font></td>
            <td ><font style="font-size:9px" >  @Html.DisplayFor(modelItem => item.RNP)  </font></td>
            <td ><font style="font-size:9px" >  @Html.DisplayFor(modelItem => item.Matricula)  </font></td>
            <td ><font style="font-size:9px" >  @Fecha  </font> </td>
            <td ><font style="font-size:9px" >  @Html.DisplayFor(modelItem => item.Propietario)  </font></td>
            <td ><font style="font-size:9px" >  @Html.DisplayFor(modelItem => item.Embarcacion)   </font></td>
        </tr>
}
    </table>







</body>
</html>
