﻿@model IEnumerable<MASCore.Models.ReporteActivacionDelEquipoList>

@{
    Layout = "~/Views/Shared/_PdfLayout.cshtml";
    string ParametrosDeBusqueda = "";
            ParametrosDeBusqueda = Session["SessionParametrosDeBusqueda"] as string;

}

<table width="100%" cellpadding="1.0" cellspacing="1.0"   widths="1;4;1">
    <row>
        <cell >   <image url="@Context.Server.MapPath("~/Content/Logo1.jpg")"/>     </cell>
        <cell horizontalalign="Default" verticalalign="Default">
            <paragraph style="font-size: 13;font-weight:normal;" red="60" green="60" blue="60" align="Center">
                COMISION NACIONAL DE ACUACULTURA Y PESCA <br />
                DIRECCIÓN GENERAL DE INSPECCION Y VIGILANCIA <br />
            </paragraph>
            <chunk style="font-size: 13;font-weight:normal" red="60" green="60" blue="60" align="Center">  DIRECCIÓN DE MONITOREO Y COORDINACIÓN</chunk> 
        </cell>
        <cell>   <image url="@Context.Server.MapPath("~/Content/Logo2.jpg")"/>     </cell>
    </row>
    
</table>

<paragraph style="font-family: Helvetica; font-size: 16; "  align="Center">
	<chunk style="font-weight:normal;" red="60" green="60" blue="60">REPORTE - FECHA DE ACTIVACION DE EQUIPOS</chunk>
</paragraph>

<table width="100%" cellpadding="1.0" cellspacing="1.0"   widths="3;3;2">
    <row>
        <cell colspan="2"> Impreso por: @Html.Encode(Request.Cookies["userName"].Value.ToUpper()) </cell>
        @*<cell></cell>*@
        <cell> Fecha: @DateTime.Now.Date.ToShortDateString()  </cell>
    </row>
    <row>
        <cell colspan="3">
            @ParametrosDeBusqueda
        </cell>
    </row>
</table>

@if (Model != null )
{


<table width="100%" cellpadding="1.0" cellspacing="1.0"  border="2" widths="1.8;1;1;1;1;1;1" red="255" green="255" blue="255">  
    <row>
	    <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" header="true" leading="18.0">            	         
            <chunk style="font-family: Helvetica; font-size: 10;font-weight:bold;" red="10" green="100" blue="100">
                Embarcación
            </chunk>             
        </cell>	   
	    <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
            <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                Puerto
            </chunk>
        </cell>
	    <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
            <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                RNP
            </chunk>
        </cell>
        <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
            <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                Matricula
            </chunk>
        </cell>
        <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
            <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                Fecha
            </chunk>
        </cell>
        <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
            <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                Propietario
            </chunk>
        </cell>
        <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
            <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                Litoral
            </chunk>
        </cell>
    </row>
    @foreach (var item in Model)
    {
        string Fecha = "";
        if (@item.Fecha != null)
        {
            Fecha = @item.Fecha.PadLeft(10, ' ').Substring(0, 10);
        }
    <row>
	    
	    <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" >    @*red="255" green="0" blue="0"*@
            <chunk style="font-family:Helvetica;font-size: 9;">
                @Html.DisplayFor(modelItem => item.Embarcacion)
            </chunk>
        </cell>
	    <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
            <chunk style="font-family:Helvetica;font-size: 9;">
                @Html.DisplayFor(modelItem => item.Puerto)
            </chunk>
        </cell>
        <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
            <chunk style="font-family:Helvetica;font-size: 9;">
                @Html.DisplayFor(modelItem => item.RNP)
            </chunk>
        </cell>
        <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
            <chunk style="font-family:Helvetica;font-size: 9;">
                @Html.DisplayFor(modelItem => item.Matricula)
            </chunk>
        </cell>                
        <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
            <chunk style="font-family:Helvetica;font-size: 9;">
                @Fecha
            </chunk>
        </cell>
        <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
            <chunk style="font-family:Helvetica;font-size: 9;">
                @Html.DisplayFor(modelItem => item.Propietario)
            </chunk>
        </cell>
        <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
            <chunk style="font-family:Helvetica;font-size: 9;">
                @Html.DisplayFor(modelItem => item.Zona)
            </chunk>
        </cell>
    </row>
    }
</table>

}

<table width="100%" cellpadding="1.0" cellspacing="1.0"   widths="1">
    <row>
        <cell>
            <chunk style="font-family: Helvetica; font-size: 10;">
                @ViewBag.NotaCompleta
            </chunk>                 
        </cell>
    </row>
</table>



@*
  
<chapter numberdepth="1" depth="1" indent="0.0">
<title leading="36.0" align="Default" font="Helvetica" size="24.0" fontstyle="normal" red="255" green="255" blue="255">
<chunk font="Helvetica" size="24.0" fontstyle="normal" red="255" green="0" blue="0">This is chapter 6</chunk>
</title>
<table columns="3" width="80.0%" align="Center" cellpadding="5.0" cellspacing="5.0" widths="33.333332;33.333332;33.333332" borderwidth="1.0" left="true" right="true" top="true" bottom="true" red="0" green="0" blue="255">
<row>
<cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" horizontalalign="Default" verticalalign="Default" colspan="3" header="true" leading="18.0">
<paragraph leading="18.0" font="unknown" align="Default">header</paragraph>
</cell>
</row>
<row>
<cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" red="255" green="0" blue="0" horizontalalign="Default" verticalalign="Default" rowspan="2" leading="18.0">
<paragraph leading="18.0" font="unknown" align="Default">example cell with colspan 1 and rowspan 2</paragraph>
</cell>
<cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" horizontalalign="Default" verticalalign="Default" leading="18.0">
<phrase leading="18.0" font="unknown">1.1</phrase>
</cell>
<cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" horizontalalign="Default" verticalalign="Default" leading="18.0">
<phrase leading="18.0" font="unknown">2.1</phrase>
</cell>
</row>
<row>
<cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" horizontalalign="Default" verticalalign="Default" leading="18.0">
<phrase leading="18.0" font="unknown">1.2</phrase>
</cell>
<cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" horizontalalign="Default" verticalalign="Default" leading="18.0">
<phrase leading="18.0" font="unknown">2.2</phrase>
</cell>
</row>
<row>
<cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" horizontalalign="Default" verticalalign="Default" leading="18.0">
<phrase leading="18.0" font="unknown">cell test1</phrase>
</cell>
<cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" horizontalalign="Default" verticalalign="Default" colspan="2" rowspan="2" leading="18.0">
<paragraph leading="18.0" font="unknown" align="Default">big cell</paragraph>
</cell>
</row>
<row>
<cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" horizontalalign="Default" verticalalign="Default" leading="18.0">
<phrase leading="18.0" font="unknown">cell test2</phrase>
</cell>
</row>
</table>
<section numberdepth="1" depth="2" indent="0.0">
<title leading="30.0" align="Default" font="Helvetica" size="20.0" fontstyle="normal" red="0" green="0" blue="255">
<chunk font="Helvetica" size="20.0" fontstyle="normal" red="0" green="0" blue="255">This is section 1 in chapter 6</chunk>
</title>
<section numberdepth="3" depth="3" indent="0.0">
<title leading="27.0" align="Default" font="Helvetica" size="18.0" fontstyle="normal" red="0" green="64" blue="64">
<chunk font="Helvetica" size="18.0" fontstyle="normal" red="0" green="64" blue="64">This is subsection 1 of section 1</chunk>
</title>
<paragraph leading="18.0" font="unknown" align="Justify">
blah blah blah blah blah blah blaah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
</paragraph>
</section>
<section numberdepth="3" depth="3" indent="0.0">
<title leading="27.0" align="Default" font="Helvetica" size="18.0" fontstyle="normal" red="0" green="64" blue="64">
<chunk font="Helvetica" size="18.0" fontstyle="normal" red="0" green="64" blue="64">This is subsection 2 of section 1</chunk>
</title>
<paragraph leading="18.0" font="unknown" align="Justify">
blah blah blah blah blah blah blaah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
</paragraph>
</section>
<section numberdepth="3" depth="3" indent="0.0">
<title leading="27.0" align="Default" font="Helvetica" size="18.0" fontstyle="normal" red="0" green="64" blue="64">
<chunk font="Helvetica" size="18.0" fontstyle="normal" red="0" green="64" blue="64">This is subsection 3 of section 1</chunk>
</title>
<paragraph leading="18.0" font="unknown" align="Justify">
blah blah blah blah blah blah blaah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
</paragraph>
</section>
</section>
<section numberdepth="1" depth="2" indent="0.0">
<title leading="30.0" align="Default" font="Helvetica" size="20.0" fontstyle="normal" red="0" green="0" blue="255">
<chunk font="Helvetica" size="20.0" fontstyle="normal" red="0" green="0" blue="255">This is section 2 in chapter 6</chunk>
</title>
<section numberdepth="3" depth="3" indent="0.0">
<title leading="27.0" align="Default" font="Helvetica" size="18.0" fontstyle="normal" red="0" green="64" blue="64">
<chunk font="Helvetica" size="18.0" fontstyle="normal" red="0" green="64" blue="64">This is subsection 1 of section 2</chunk>
</title>
<paragraph leading="18.0" font="unknown" align="Justify">
blah blah blah blah blah blah blaah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
</paragraph>
</section>
<section numberdepth="3" depth="3" indent="0.0">
<title leading="27.0" align="Default" font="Helvetica" size="18.0" fontstyle="normal" red="0" green="64" blue="64">
<chunk font="Helvetica" size="18.0" fontstyle="normal" red="0" green="64" blue="64">This is subsection 2 of section 2</chunk>
</title>
<paragraph leading="18.0" font="unknown" align="Justify">
blah blah blah blah blah blah blaah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
</paragraph>
</section>
<section numberdepth="3" depth="3" indent="0.0">
<title leading="27.0" align="Default" font="Helvetica" size="18.0" fontstyle="normal" red="0" green="64" blue="64">
<chunk font="Helvetica" size="18.0" fontstyle="normal" red="0" green="64" blue="64">This is subsection 3 of section 2</chunk>
</title>
<paragraph leading="18.0" font="unknown" align="Justify">
blah blah blah blah blah blah blaah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
</paragraph>
</section>
<paragraph leading="18.0" font="unknown" align="Center">
blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blaah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
</paragraph>
<table columns="3" width="80.0%" align="Center" cellpadding="5.0" cellspacing="5.0" widths="33.333332;33.333332;33.333332" borderwidth="1.0" left="true" right="true" top="true" bottom="true" red="0" green="0" blue="255">
<row>
<cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" horizontalalign="Default" verticalalign="Default" colspan="3" header="true" leading="18.0">
<paragraph leading="18.0" font="unknown" align="Default">header</paragraph>
</cell>
</row>
<row>
<cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" red="255" green="0" blue="0" horizontalalign="Default" verticalalign="Default" rowspan="2" leading="18.0">
<paragraph leading="18.0" font="unknown" align="Default">example cell with colspan 1 and rowspan 2</paragraph>
</cell>
<cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" horizontalalign="Default" verticalalign="Default" leading="18.0">
<phrase leading="18.0" font="unknown">1.1</phrase>
</cell>
<cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" horizontalalign="Default" verticalalign="Default" leading="18.0">
<phrase leading="18.0" font="unknown">2.1</phrase>
</cell>
</row>
<row>
<cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" horizontalalign="Default" verticalalign="Default" leading="18.0">
<phrase leading="18.0" font="unknown">1.2</phrase>
</cell>
<cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" horizontalalign="Default" verticalalign="Default" leading="18.0">
<phrase leading="18.0" font="unknown">2.2</phrase>
</cell>
</row>
<row>
<cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" horizontalalign="Default" verticalalign="Default" leading="18.0">
<phrase leading="18.0" font="unknown">cell test1</phrase>
</cell>
<cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" horizontalalign="Default" verticalalign="Default" colspan="2" rowspan="2" leading="18.0">
<paragraph leading="18.0" font="unknown" align="Default">big cell</paragraph>
</cell>
</row>
<row>
<cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" horizontalalign="Default" verticalalign="Default" leading="18.0">
<phrase leading="18.0" font="unknown">cell test2</phrase>
</cell>
</row>
</table>
</section>
<section numberdepth="1" depth="2" indent="0.0">
<title leading="30.0" align="Default" font="Helvetica" size="20.0" fontstyle="normal" red="0" green="0" blue="255">
<chunk font="Helvetica" size="20.0" fontstyle="normal" red="0" green="0" blue="255">This is section 3 in chapter 6</chunk>
</title>
<paragraph leading="18.0" font="unknown" align="Justify">
blah blah blah blah blah blah blaah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
</paragraph>
<section numberdepth="3" depth="3" indent="0.0">
<title leading="27.0" align="Default" font="Helvetica" size="18.0" fontstyle="normal" red="0" green="64" blue="64">
<chunk font="Helvetica" size="18.0" fontstyle="normal" red="0" green="64" blue="64">This is subsection 1 of section 3</chunk>
</title>
<paragraph leading="18.0" font="unknown" align="Center">
blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blaah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
</paragraph>
<table columns="3" width="80.0%" align="Center" cellpadding="5.0" cellspacing="5.0" widths="33.333332;33.333332;33.333332" borderwidth="1.0" left="true" right="true" top="true" bottom="true" red="0" green="0" blue="255">
<row>
<cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" horizontalalign="Default" verticalalign="Default" colspan="3" header="true" leading="18.0">
<paragraph leading="18.0" font="unknown" align="Default">header</paragraph>
</cell>
</row>
<row>
<cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" red="255" green="0" blue="0" horizontalalign="Default" verticalalign="Default" rowspan="2" leading="18.0">
<paragraph leading="18.0" font="unknown" align="Default">example cell with colspan 1 and rowspan 2</paragraph>
</cell>
<cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" horizontalalign="Default" verticalalign="Default" leading="18.0">
<phrase leading="18.0" font="unknown">1.1</phrase>
</cell>
<cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" horizontalalign="Default" verticalalign="Default" leading="18.0">
<phrase leading="18.0" font="unknown">2.1</phrase>
</cell>
</row>
<row>
<cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" horizontalalign="Default" verticalalign="Default" leading="18.0">
<phrase leading="18.0" font="unknown">1.2</phrase>
</cell>
<cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" horizontalalign="Default" verticalalign="Default" leading="18.0">
<phrase leading="18.0" font="unknown">2.2</phrase>
</cell>
</row>
<row>
<cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" horizontalalign="Default" verticalalign="Default" leading="18.0">
<phrase leading="18.0" font="unknown">cell test1</phrase>
</cell>
<cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" horizontalalign="Default" verticalalign="Default" colspan="2" rowspan="2" leading="18.0">
<paragraph leading="18.0" font="unknown" align="Default">big cell</paragraph>
</cell>
</row>
<row>
<cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" horizontalalign="Default" verticalalign="Default" leading="18.0">
<phrase leading="18.0" font="unknown">cell test2</phrase>
</cell>
</row>
</table>
<paragraph leading="18.0" font="unknown" align="Justify">
blah blah blah blah blah blah blaah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
</paragraph>
</section>
<section numberdepth="3" depth="3" indent="0.0">
<title leading="27.0" align="Default" font="Helvetica" size="18.0" fontstyle="normal" red="0" green="64" blue="64">
<chunk font="Helvetica" size="18.0" fontstyle="normal" red="0" green="64" blue="64">This is subsection 2 of section 3</chunk>
</title>
<paragraph leading="18.0" font="unknown" align="Justify">
blah blah blah blah blah blah blaah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
</paragraph>
</section>
<section numberdepth="3" depth="3" indent="0.0">
<title leading="27.0" align="Default" font="Helvetica" size="18.0" fontstyle="normal" red="0" green="64" blue="64">
<chunk font="Helvetica" size="18.0" fontstyle="normal" red="0" green="64" blue="64">This is subsection 3 of section 3</chunk>
</title>
<paragraph leading="18.0" font="unknown" align="Justify">
blah blah blah blah blah blah blaah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
</paragraph>
</section>
</section>
</chapter>
<chapter numberdepth="1" depth="1" indent="0.0">
<title leading="36.0" align="Default" font="Helvetica" size="24.0" fontstyle="normal" red="255" green="0" blue="0">
<chunk font="Helvetica" size="24.0" fontstyle="normal" red="255" green="0" blue="0">This is chapter 7</chunk>
</title>
<section numberdepth="1" depth="2" indent="0.0">
<title leading="30.0" align="Default" font="Helvetica" size="20.0" fontstyle="normal" red="0" green="0" blue="255">
<chunk font="Helvetica" size="20.0" fontstyle="normal" red="0" green="0" blue="255">This is section 1 in chapter 7</chunk>
</title>
<section numberdepth="3" depth="3" indent="0.0">
<title leading="27.0" align="Default" font="Helvetica" size="18.0" fontstyle="normal" red="0" green="64" blue="64">
<chunk font="Helvetica" size="18.0" fontstyle="normal" red="0" green="64" blue="64">This is subsection 1 of section 1</chunk>
</title>
<paragraph leading="18.0" font="unknown" align="Justify">
blah blah blah blah blah blah blaah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
</paragraph>
</section>
<section numberdepth="3" depth="3" indent="0.0">
<title leading="27.0" align="Default" font="Helvetica" size="18.0" fontstyle="normal" red="0" green="64" blue="64">
<chunk font="Helvetica" size="18.0" fontstyle="normal" red="0" green="64" blue="64">This is subsection 2 of section 1</chunk>
</title>
<paragraph leading="18.0" font="unknown" align="Justify">
blah blah blah blah blah blah blaah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
</paragraph>
</section>
<section numberdepth="3" depth="3" indent="0.0">
<title leading="27.0" align="Default" font="Helvetica" size="18.0" fontstyle="normal" red="0" green="64" blue="64">
<chunk font="Helvetica" size="18.0" fontstyle="normal" red="0" green="64" blue="64">This is subsection 3 of section 1</chunk>
</title>
<paragraph leading="18.0" font="unknown" align="Justify">
blah blah blah blah blah blah blaah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
</paragraph>
</section>
</section>
<section numberdepth="1" depth="2" indent="0.0">
<title leading="30.0" align="Default" font="Helvetica" size="20.0" fontstyle="normal" red="0" green="0" blue="255">
<chunk font="Helvetica" size="20.0" fontstyle="normal" red="0" green="0" blue="255">This is section 2 in chapter 7</chunk>
</title>
<section numberdepth="3" depth="3" indent="0.0">
<title leading="27.0" align="Default" font="Helvetica" size="18.0" fontstyle="normal" red="0" green="64" blue="64">
<chunk font="Helvetica" size="18.0" fontstyle="normal" red="0" green="64" blue="64">This is subsection 1 of section 2</chunk>
</title>
<paragraph leading="18.0" font="unknown" align="Justify">
blah blah blah blah blah blah blaah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
</paragraph>
</section>
<section numberdepth="3" depth="3" indent="0.0">
<title leading="27.0" align="Default" font="Helvetica" size="18.0" fontstyle="normal" red="0" green="64" blue="64">
<chunk font="Helvetica" size="18.0" fontstyle="normal" red="0" green="64" blue="64">This is subsection 2 of section 2</chunk>
</title>
<paragraph leading="18.0" font="unknown" align="Justify">
blah blah blah blah blah blah blaah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
</paragraph>
</section>
<section numberdepth="3" depth="3" indent="0.0">
<title leading="27.0" align="Default" font="Helvetica" size="18.0" fontstyle="normal" red="0" green="64" blue="64">
<chunk font="Helvetica" size="18.0" fontstyle="normal" red="0" green="64" blue="64">This is subsection 3 of section 2</chunk>
</title>
<paragraph leading="18.0" font="unknown" align="Justify">
blah blah blah blah blah blah blaah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
</paragraph>
</section>
<paragraph leading="18.0" font="unknown" align="Center">
blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blaah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
</paragraph>
<table columns="3" width="80.0%" align="Center" cellpadding="5.0" cellspacing="5.0" widths="33.333332;33.333332;33.333332" borderwidth="1.0" left="true" right="true" top="true" bottom="true" red="0" green="0" blue="255">
<row>
<cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" horizontalalign="Default" verticalalign="Default" colspan="3" header="true" leading="18.0">
<paragraph leading="18.0" font="unknown" align="Default">header</paragraph>
</cell>
</row>
<row>
<cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" red="255" green="0" blue="0" horizontalalign="Default" verticalalign="Default" rowspan="2" leading="18.0">
<paragraph leading="18.0" font="unknown" align="Default">example cell with colspan 1 and rowspan 2</paragraph>
</cell>
<cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" horizontalalign="Default" verticalalign="Default" leading="18.0">
<phrase leading="18.0" font="unknown">1.1</phrase>
</cell>
<cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" horizontalalign="Default" verticalalign="Default" leading="18.0">
<phrase leading="18.0" font="unknown">2.1</phrase>
</cell>
</row>
<row>
<cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" horizontalalign="Default" verticalalign="Default" leading="18.0">
<phrase leading="18.0" font="unknown">1.2</phrase>
</cell>
<cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" horizontalalign="Default" verticalalign="Default" leading="18.0">
<phrase leading="18.0" font="unknown">2.2</phrase>
</cell>
</row>
<row>
<cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" horizontalalign="Default" verticalalign="Default" leading="18.0">
<phrase leading="18.0" font="unknown">cell test1</phrase>
</cell>
<cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" horizontalalign="Default" verticalalign="Default" colspan="2" rowspan="2" leading="18.0">
<paragraph leading="18.0" font="unknown" align="Default">big cell</paragraph>
</cell>
</row>
<row>
<cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" horizontalalign="Default" verticalalign="Default" leading="18.0">
<phrase leading="18.0" font="unknown">cell test2</phrase>
</cell>
</row>
</table>
</section>
<section numberdepth="1" depth="2" indent="0.0">
<title leading="30.0" align="Default" font="Helvetica" size="20.0" fontstyle="normal" red="0" green="0" blue="255">
<chunk font="Helvetica" size="20.0" fontstyle="normal" red="0" green="0" blue="255">This is section 3 in chapter 7</chunk>
</title>
<paragraph leading="18.0" font="unknown" align="Justify">
blah blah blah blah blah blah blaah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
</paragraph>
<section numberdepth="3" depth="3" indent="0.0">
<title leading="27.0" align="Default" font="Helvetica" size="18.0" fontstyle="normal" red="0" green="64" blue="64">
<chunk font="Helvetica" size="18.0" fontstyle="normal" red="0" green="64" blue="64">This is subsection 1 of section 3</chunk>
</title>
<paragraph leading="18.0" font="unknown" align="Center">
blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blaah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
</paragraph>
<table columns="3" width="80.0%" align="Center" cellpadding="5.0" cellspacing="5.0" widths="33.333332;33.333332;33.333332" borderwidth="1.0" left="true" right="true" top="true" bottom="true" red="0" green="0" blue="255">
<row>
<cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" horizontalalign="Default" verticalalign="Default" colspan="3" header="true" leading="18.0">
<paragraph leading="18.0" font="unknown" align="Default">header</paragraph>
</cell>
</row>
<row>
<cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" red="255" green="0" blue="0" horizontalalign="Default" verticalalign="Default" rowspan="2" leading="18.0">
<paragraph leading="18.0" font="unknown" align="Default">example cell with colspan 1 and rowspan 2</paragraph>
</cell>
<cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" horizontalalign="Default" verticalalign="Default" leading="18.0">
<phrase leading="18.0" font="unknown">1.1</phrase>
</cell>
<cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" horizontalalign="Default" verticalalign="Default" leading="18.0">
<phrase leading="18.0" font="unknown">2.1</phrase>
</cell>
</row>
<row>
<cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" horizontalalign="Default" verticalalign="Default" leading="18.0">
<phrase leading="18.0" font="unknown">1.2</phrase>
</cell>
<cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" horizontalalign="Default" verticalalign="Default" leading="18.0">
<phrase leading="18.0" font="unknown">2.2</phrase>
</cell>
</row>
<row>
<cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" horizontalalign="Default" verticalalign="Default" leading="18.0">
<phrase leading="18.0" font="unknown">cell test1</phrase>
</cell>
<cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" horizontalalign="Default" verticalalign="Default" colspan="2" rowspan="2" leading="18.0">
<paragraph leading="18.0" font="unknown" align="Default">big cell</paragraph>
</cell>
</row>
<row>
<cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" horizontalalign="Default" verticalalign="Default" leading="18.0">
<phrase leading="18.0" font="unknown">cell test2</phrase>
</cell>
</row>
</table>
<paragraph leading="18.0" font="unknown" align="Justify">
blah blah blah blah blah blah blaah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
</paragraph>
</section>
<section numberdepth="3" depth="3" indent="0.0">
<title leading="27.0" align="Default" font="Helvetica" size="18.0" fontstyle="normal" red="0" green="64" blue="64">
<chunk font="Helvetica" size="18.0" fontstyle="normal" red="0" green="64" blue="64">This is subsection 2 of section 3</chunk>
</title>
<paragraph leading="18.0" font="unknown" align="Justify">
blah blah blah blah blah blah blaah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
</paragraph>
</section>
<section numberdepth="3" depth="3" indent="0.0">
<title leading="27.0" align="Default" font="Helvetica" size="18.0" fontstyle="normal" red="0" green="64" blue="64">
<chunk font="Helvetica" size="18.0" fontstyle="normal" red="0" green="64" blue="64">This is subsection 3 of section 3</chunk>
</title>
<paragraph leading="18.0" font="unknown" align="Justify">
blah blah blah blah blah blah blaah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
</paragraph>
</section>
</section>
</chapter>


*@


