﻿
        @using MASCore.Models
        @{
            Layout = "~/Views/Shared/_PdfLayout.cshtml";
            //List<ReporteTxIrregularModelo> Lista = new List<ReporteTxIrregularModelo>();
            List<Evidencias > Lista = new List<Evidencias>();
            Lista = Session["SessionTxIrregularEvidencia"] as List<Evidencias>;

            string ParametrosDeBusqueda = "";

        }
        <table width="100%" cellpadding="1.0" cellspacing="1.0" widths="1;4;1">
            <row>
                <cell>   <image url="@Context.Server.MapPath("~/Content/Logo1.jpg")" />     </cell>
                <cell horizontalalign="Default" verticalalign="Default">
                    <paragraph style="font-size: 13;font-weight:normal;" red="60" green="60" blue="60" align="Center">
                        COMISION NACIONAL DE ACUACULTURA Y PESCA <br />
                        DIRECCIÓN GENERAL DE INSPECCION Y VIGILANCIA <br />
                    </paragraph>
                    <chunk style="font-size: 13;font-weight:normal" red="60" green="60" blue="60" align="Center">  DIRECCIÓN DE MONITOREO Y COORDINACIÓN</chunk>
                </cell>
                <cell>   <image url="@Context.Server.MapPath("~/Content/Logo2.jpg")" />     </cell>
            </row>

        </table>

        <paragraph style="font-family: Helvetica; font-size: 16; " align="Center">
            <chunk style="font-weight:normal;" red="60" green="60" blue="60">EVIDENCIAS DE REPORTE DE TRANSMISION IRREGULAR</chunk>
        </paragraph>

        @if (Lista != null && Lista.Count > 0)
        {
            foreach (Evidencias item in Lista)
            {
                <table width="100%" cellpadding="1.0" cellspacing="1.0" border="2" widths=".5;1.5;1;1;1;1" red="255" green="255" blue="255">
                    <row>
                        <cell colspan="1" borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                            <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;" red="10" green="100" blue="100">
                                Orden
                            </chunk>
                        </cell>
                        <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                            <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;" red="10" green="100" blue="100">
                                Fecha
                            </chunk>
                        </cell>
                        <cell colspan="1" borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                            <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;" red="10" green="100" blue="100">
                                Latitud
                            </chunk>
                        </cell>
                        <cell colspan="1" borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                            <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;" red="10" green="100" blue="100">
                                Longitud
                            </chunk>
                        </cell>
                        <cell colspan="1" borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                            <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;" red="10" green="100" blue="100">
                                Rumbo
                            </chunk>
                        </cell>
                        <cell colspan="1" borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                            <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;" red="10" green="100" blue="100">
                                Velocidad
                            </chunk>
                        </cell>
                    </row>                    
                    <row>
                        <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                            <chunk style="font-family:Helvetica;font-size: 10;">
                                @Html.DisplayFor(modelItem => item.Orden)
                            </chunk>
                        </cell>
                        <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                            <chunk style="font-family:Helvetica;font-size: 10;">
                                @Html.DisplayFor(modelItem => item.Fecha)
                            </chunk>
                        </cell>
                        <cell colspan="1" borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                            <chunk style="font-family:Helvetica;font-size: 10;">
                                @Html.DisplayFor(modelItem => item.Latitud)
                            </chunk>
                        </cell>
                        <cell colspan="1" borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                            <chunk style="font-family:Helvetica;font-size: 10;">
                                @Html.DisplayFor(modelItem => item.Longitud)
                            </chunk>
                        </cell>
                        <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                            <chunk style="font-family:Helvetica;font-size: 10;">
                                @Html.DisplayFor(modelItem => item.Rumbo)
                            </chunk>
                        </cell>
                        <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                            <chunk style="font-family:Helvetica;font-size: 10;">
                                @Html.DisplayFor(modelItem => item.Velocidad)
                            </chunk>
                        </cell>
                    </row>
                    @*------------------------------------------------------------------------------------------------------------------------*@
                </table>
            }
        }


        <table width="100%" cellpadding="1.0" cellspacing="1.0" widths="1">
            <row>
                <cell>
                    <chunk style="font-family: Helvetica; font-size: 10;">
                        @ViewBag.NotaCompleta
                    </chunk>
                </cell>
            </row>
        </table>
