﻿@model List< MASCore.Models.ReporteActividadOperadoresList>

@{
    Layout = "~/Views/Shared/_PdfLayout.cshtml";
    string ParametrosDeBusqueda = "";
    ParametrosDeBusqueda = Session["SessionParametrosDeBusqueda"] as string;

}


<table width="100%" cellpadding="1.0" cellspacing="1.0"   widths="1;4;1">
    <row>
        <cell >   <image url="@Context.Server.MapPath("~/Content/Logo1.jpg")"/>     </cell>
        <cell horizontalalign="Default" verticalalign="Default">
            <paragraph style="font-size: 13;font-weight:normal;" red="60" green="60" blue="60" align="Center">
                COMISION NACIONAL DE ACUACULTURA Y PESCA <br />
                DIRECCIÓN GENERAL DE INSPECCION Y VIGILANCIA <br />
            </paragraph>
            <chunk style="font-size: 13;font-weight:normal" red="60" green="60" blue="60" align="Center">  DIRECCIÓN DE MONITOREO Y COORDINACIÓN</chunk> 
        </cell>
        <cell>   <image url="@Context.Server.MapPath("~/Content/Logo2.jpg")"/>     </cell>
    </row>
    
</table>

<paragraph style="font-family: Helvetica; font-size: 16; "  align="Center">
	<chunk style="font-weight:normal;" red="60" green="60" blue="60">REPORTE - BITACORA DE ACTIVIDADES</chunk>
</paragraph>

<table width="100%" cellpadding="1.0" cellspacing="1.0"   widths="3;3;2">
    <row>
        <cell colspan="2"> Impreso por: @Html.Encode(Request.Cookies["userName"].Value.ToUpper()) </cell>
        @*<cell></cell>*@
        <cell> Fecha: @DateTime.Now.Date.ToShortDateString()  </cell>
    </row>
    <row>
        <cell colspan="3">
            @ParametrosDeBusqueda
        </cell>
    </row>
</table>

@if (Model != null && Model.Count > 0)
{



<table width="100%" cellpadding="1.0" cellspacing="1.0"  border="2" widths="2.3;1;1;1;.7" red="255" green="255" blue="255">  
    <row>
	    <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" header="true" leading="18.0">            	         
             <chunk style="font-family: Helvetica; font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                Operador
            </chunk>             
        </cell>	   
	    <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
            <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                Fecha
            </chunk>
        </cell>
	    <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
            <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                Actividad
            </chunk>
        </cell>
        <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
            <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                Tipo
            </chunk>
        </cell>
        <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
            <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                Id
            </chunk>
        </cell>     
    </row>
    @foreach (var item in Model)
    {
        string Fecha = "";
        if (@item.Fecha != null)
        {
            Fecha = @item.Fecha.PadLeft(10, ' ').Substring(0, 10);
        }
    <row>
	    
	    <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" >    @*red="255" green="0" blue="0"*@
            <chunk style="font-family:Helvetica;font-size: 9;">
                @Html.DisplayFor(modelItem => item.Operador)
            </chunk>
        </cell>
	    <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
            <chunk style="font-family:Helvetica;font-size: 9;">
                @Fecha
            </chunk>
        </cell>
        <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
            <chunk style="font-family:Helvetica;font-size: 9;">
                @Html.DisplayFor(modelItem => item.Actividad)
            </chunk>
        </cell>
        <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
            <chunk style="font-family:Helvetica;font-size: 9;">
                @Html.DisplayFor(modelItem => item.Tipo)
            </chunk>
        </cell>                       
        <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
            <chunk style="font-family:Helvetica;font-size: 9;">
                @Html.DisplayFor(modelItem => item.Id)
            </chunk>
        </cell>        
    </row>
    }
</table>

}