﻿@model MASCore.Models.ReporteActividadPescaM

@{
    Layout = "~/Views/Shared/_PdfLayout.cshtml";
    string ParametrosDeBusqueda = "";
    ParametrosDeBusqueda = Session["SessionParametrosDeBusqueda"] as string;

}


<table width="100%" cellpadding="1.0" cellspacing="1.0"   widths="1;4;1">
    <row>
        <cell >   <image url="@Context.Server.MapPath("~/Content/Logo1.jpg")"/>     </cell>
        <cell horizontalalign="Default" verticalalign="Default">
            <paragraph style="font-size: 13;font-weight:normal;" red="60" green="60" blue="60" align="Center">
                COMISION NACIONAL DE ACUACULTURA Y PESCA <br />
                DIRECCIÓN GENERAL DE INSPECCION Y VIGILANCIA <br />
            </paragraph>
            <chunk style="font-size: 13;font-weight:normal" red="60" green="60" blue="60" align="Center">  DIRECCIÓN DE MONITOREO Y COORDINACIÓN</chunk> 
        </cell>
        <cell>   <image url="@Context.Server.MapPath("~/Content/Logo2.jpg")"/>     </cell>
    </row>
</table>

<paragraph style="font-family: Helvetica; font-size: 16; "  align="Center">
	<chunk style="font-weight:normal;" red="60" green="60" blue="60">REPORTE - ACTIVIDAD DE PESCA </chunk>
</paragraph>

<table width="100%" cellpadding="1.0" cellspacing="1.0"   widths="3;3;2">
    <row>
        <cell colspan="2"> Impreso por: @Html.Encode(Request.Cookies["userName"].Value.ToUpper()) </cell>
        @*<cell></cell>*@
        <cell> Fecha: @DateTime.Now.Date.ToShortDateString()  </cell>
    </row>
    <row>
        <cell colspan="3">
            @ParametrosDeBusqueda
        </cell>
    </row>
</table>


@if (Model != null && Model.InfoActividadPescaLista.Count() > 0)
{
  <paragraph>
    @foreach (MASCore.Models.InformacionActividadPesca item in Model.InfoActividadPescaLista)
    {
        <newline />
        <paragraph><chunk style="font-size: 13;font-weight:normal" red="60" green="60" blue="60" align="Center">  -Embarcacion> @item.embarcacion</chunk> </paragraph>
        <paragraph><chunk style="font-size: 13;font-weight:normal" red="60" green="60" blue="60" align="Center">  -RNP> @item.rnp</chunk> </paragraph>
        <paragraph><chunk style="font-size: 13;font-weight:normal" red="60" green="60" blue="60" align="Center">  -RazonSocial> @item.razonsocial</chunk> </paragraph>
        <paragraph><chunk style="font-size: 13;font-weight:normal" red="60" green="60" blue="60" align="Center">  -Puerto Base> @item.puertobase</chunk> </paragraph>
        <paragraph><chunk style="font-size: 13;font-weight:normal" red="60" green="60" blue="60" align="Center">  -Instalacion VMS anterior generacion> @item.fechainstanteriorgen</chunk> </paragraph>
        <paragraph><chunk style="font-size: 13;font-weight:normal" red="60" green="60" blue="60" align="Center">  -Instalacion VMS nueva generacion> @item.fechainstnuevagen</chunk> </paragraph>
        <paragraph><chunk style="font-size: 13;font-weight:normal" red="60" green="60" blue="60" align="Center">  -Ultimo mantenimiento al ETR> @item.ultimomantenimiento</chunk> </paragraph>
        <paragraph><chunk style="font-size: 13;font-weight:normal" red="60" green="60" blue="60" align="Center">  -UltimaTx> @item.ultimatx</chunk> </paragraph>
        
        if (item.ViajesLista.Count > 0)
        {
        <table width="100%" cellpadding="1.0" cellspacing="1.0"  border="2" widths=".5;1;1;1" red="255" green="255" blue="255">  
            <row>
	            <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" header="true" leading="18.0">            	         
                     <chunk style="font-family: Helvetica; font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                        Viaje
                    </chunk>             
                </cell>	   
	            <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
                    <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                        Fecha Inicial
                    </chunk>
                </cell>
                <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
                    <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                        Fecha Final
                    </chunk>
                </cell>	
                <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
                    <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                        Resultado
                    </chunk>
                </cell>		    
            </row>
    @foreach (var Viajes in item.ViajesLista)
    {
            <row>    
	            <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
                    <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;">
                        @*@Html.Display(Viajes.viaje)*@
                        @Viajes.viaje
                    </chunk>
                </cell>
	            <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
                    <chunk style="font-family:Helvetica;font-size: 10;">
                       @* @Html.Display(@Viajes.fechainicialviaje)*@
                        @Viajes.fechainicialviaje
                    </chunk>
                </cell> 
                <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
                    <chunk style="font-family:Helvetica;font-size: 10;">
                        @*@Html.Display(Viajes.fechafinalviaje)*@
                        @Viajes.fechafinalviaje
                    </chunk>
                </cell>
                <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
                    <chunk style="font-family:Helvetica;font-size: 10;">
                        @*@Html.Display(Viajes.resultado)*@
                        @Viajes.resultado
                    </chunk>
                </cell>                   
            </row>
         }
    </table>
        }
    }    

</paragraph>
}
  
<table width="100%" cellpadding="1.0" cellspacing="1.0"   widths="1">
    <row>
        <cell>
            <chunk style="font-family: Helvetica; font-size: 10;">
                @ViewBag.NotaCompleta
            </chunk>                 
        </cell>
    </row>
</table>


@*
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GeneraReporteActividadPescaPdf</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.embarcacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rnp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.razonsocial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.puertobase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechainstanteriorgen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechainstnuevagen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ultimomantenimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ultimatx)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.embarcacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rnp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.razonsocial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.puertobase)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechainstanteriorgen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechainstnuevagen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ultimomantenimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ultimatx)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
*@