﻿@using MASCore.Models
@{
    Layout = "~/Views/Shared/_PdfLayout.cshtml";
    List<DistanciasList> Lista = new List<DistanciasList>();
    Lista = Session["SessionDistancias"] as List<DistanciasList>;

    string ParametrosDeBusqueda = "";
    ParametrosDeBusqueda = Session["SessionParametrosDeBusqueda"] as string;
}

<table width="100%" cellpadding="1.0" cellspacing="1.0"   widths="1;4;1">
    <row>
        <cell >   <image url="@Context.Server.MapPath("~/Content/Logo1.jpg")"/>     </cell>
        <cell horizontalalign="Default" verticalalign="Default">
            <paragraph style="font-size: 13;font-weight:normal;" red="60" green="60" blue="60" align="Center">
                COMISION NACIONAL DE ACUACULTURA Y PESCA <br />
                DIRECCIÓN GENERAL DE INSPECCION Y VIGILANCIA <br />
            </paragraph>
            <chunk style="font-size: 13;font-weight:normal" red="60" green="60" blue="60" align="Center">  DIRECCIÓN DE MONITOREO Y COORDINACIÓN</chunk> 
        </cell>
        <cell>   <image url="@Context.Server.MapPath("~/Content/Logo2.jpg")"/>     </cell>
    </row>
    
</table>

<paragraph style="font-family: Helvetica; font-size: 16; "  align="Center">
	<chunk style="font-weight:normal;" red="60" green="60" blue="60">REPORTE DE DISTANCIA RECORRIDA</chunk>
</paragraph>

<table width="100%" cellpadding="1.0" cellspacing="1.0"   widths="3;3;2">
    <row>
        <cell colspan="2"> Impreso por: @Html.Encode(Request.Cookies["userName"].Value.ToUpper()) </cell>
        @*<cell></cell>*@
        <cell> Fecha: @DateTime.Now.Date.ToShortDateString()  </cell>
    </row>
    <row>
        <cell colspan="3">
            @ParametrosDeBusqueda
        </cell>
    </row>
</table>

@if (Lista != null && Lista.Count > 0)
{
    foreach (DistanciasList item in Lista)
    {
        <table width="100%" cellpadding="1.0" cellspacing="1.0"  border="2" widths="1;1;1;1;1;1" red="255" green="255" blue="255">
            <row>
                 <cell colspan="1" borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
                    <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                        Orden
                    </chunk>
                </cell>
	            <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
                    <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;">
                        @Html.DisplayFor(modelItem => item.RowId)
                    </chunk>
                </cell>
                <cell colspan="1" borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
                    <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;" red="10" green="100" blue="100">
                        Embarcación
                    </chunk>
                </cell>
                <cell colspan="2" borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
                    <chunk style="font-family:Helvetica;font-size: 10;">
                        @Html.DisplayFor(modelItem => item.Embarcacion)
                    </chunk>
                </cell>
                <cell colspan="1" borderwidth="0.5" >
                    <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;" >
                        
                    </chunk>
                </cell>
            </row>
            <row>	                    	         
                <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
                    <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                        Latitud 
                    </chunk>
                </cell>
                <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
                    <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                        Longitud
                    </chunk>
                </cell>
                <cell colspan="2" borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                    <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                        Fecha
                    </chunk>
                </cell>
                <cell colspan="1" borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
                    <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                        Velocidad
                    </chunk>
                </cell>
	            <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
                    <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                        Rumbo
                    </chunk>
                </cell>                           
            </row>       
            <row>	                    	           
                <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
                    <chunk style="font-family:Helvetica;font-size: 10;" >
                        @Html.DisplayFor(modelItem => item.LatitudFormato) 
                    </chunk>
                </cell>
                <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
                    <chunk style="font-family:Helvetica;font-size: 10;">
                        @Html.DisplayFor(modelItem => item.LongitudFormato)
                    </chunk>
                </cell>
                <cell colspan="2" borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                    <chunk style="font-family:Helvetica;font-size: 10;">
                        @Html.DisplayFor(modelItem => item.FechaRecepcionUnitracFormato)
                    </chunk>
                </cell>
                <cell colspan="1" borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
                    <chunk style="font-family:Helvetica;font-size: 10;">
                        @Html.DisplayFor(modelItem => item.Velocidad)
                    </chunk>
                </cell>
	            <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
                    <chunk style="font-family:Helvetica;font-size: 10;">
                        @Html.DisplayFor(modelItem => item.Rumbo)
                    </chunk>
                </cell> 
                          
            </row>       
            @*------------------------------------------------------------------------------------------------------------------------*@
            <row>	    
                <cell colspan="2" borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
                    <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                        Zona 
                    </chunk>
                </cell>
                <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
                    <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                        Pescando
                    </chunk>
                </cell>
                <cell colspan="1" borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                    <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                        Distancia
                    </chunk>
                </cell>
                <cell colspan="2" borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
                    <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                        Distancia Calculada
                    </chunk>
                </cell>                            
            </row>       
            <row>	    
                <cell colspan="2" borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
                    <chunk style="font-family:Helvetica;font-size: 10;" >
                        @Html.DisplayFor(modelItem => item.ZonasDescripcion) 
                    </chunk>
                </cell>
                <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
                    <chunk style="font-family:Helvetica;font-size: 10;">
                        @Html.DisplayFor(modelItem => item.EstatusEnZona)
                    </chunk>
                </cell>
                <cell colspan="1" borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                    <chunk style="font-family:Helvetica;font-size: 10;">
                        @Html.DisplayFor(modelItem => item.Distancia)
                    </chunk>
                </cell>
                <cell colspan="2" borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
                    <chunk style="font-family:Helvetica;font-size: 10;" >
                        @Html.DisplayFor(modelItem => item.DistanciaCalculada) 
                    </chunk>
                </cell>             
            </row>       


        </table>
    }

}