﻿@using MASCore.Models
@{
    Layout = "~/Views/Shared/_PdfLayout.cshtml";
    List<ReporteTransmisionesResultadoM> Lista = new List<ReporteTransmisionesResultadoM>();
    Lista = Session["SessionTransmisiones"] as List<ReporteTransmisionesResultadoM>;
    string ParametrosDeBusqueda = "";
    ParametrosDeBusqueda = Session["SessionParametrosDeBusqueda"] as string;
}

<table width="100%" cellpadding="1.0" cellspacing="1.0"   widths="1;4;1">
    <row>
        <cell >   <image url="@Context.Server.MapPath("~/Content/Logo1.jpg")"/>     </cell>
        <cell horizontalalign="Default" verticalalign="Default">
            <paragraph style="font-size: 13;font-weight:normal;" red="60" green="60" blue="60" align="Center">
            COMISION NACIONAL DE ACUACULTURA Y PESCA <br />
            DIRECCIÓN GENERAL DE INSPECCION Y VIGILANCIA <br />
            </paragraph>
            <chunk style="font-size: 13;font-weight:normal" red="60" green="60" blue="60" align="Center">  DIRECCIÓN DE MONITOREO Y COORDINACIÓN</chunk> 
        </cell>
        <cell>   <image url="@Context.Server.MapPath("~/Content/Logo2.jpg")"/>     </cell>
    </row>
    
</table>

<paragraph style="font-family: Helvetica; font-size: 16; "  align="Center">
	<chunk style="font-weight:normal;" red="60" green="60" blue="60">REPORTE DE ACTIVIDAD DE TRANSMISION</chunk>
</paragraph>

<table width="100%" cellpadding="1.0" cellspacing="1.0"   widths="3;3;2">
    <row>
        <cell colspan="2"> Impreso por: @Html.Encode(Request.Cookies["userName"].Value.ToUpper()) </cell>
        @*<cell></cell>*@
        <cell> Fecha: @DateTime.Now.Date.ToShortDateString()  </cell>
    </row>
    <row>
        <cell colspan="3">
            @ParametrosDeBusqueda
        </cell>
    </row>
</table>

@if (Lista != null && Lista.Count > 0)
{
    <table width="100%" cellpadding="1.0" cellspacing="1.0"  border="2" widths="2;1" red="255" green="255" blue="255">  
        <row>
	        <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" header="true" leading="18.0">            	         
                 <chunk style="font-family: Helvetica; font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                    EMBARCACIÓN / RAZÓN SOCIAL
                </chunk>             
            </cell>	   
	        <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
                <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                    RNP
                </chunk>
            </cell>	    
        </row>
        @foreach (MASCore.Models.ReporteTransmisionesResultadoM item in Lista)
        {
        <row>    
	        <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" >    @*red="255" green="0" blue="0"*@
                <chunk style="font-family:Helvetica;font-size: 9;">
                    @Html.DisplayFor(modelItem => item.Columna1)
                </chunk>
            </cell>
	        <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
                <chunk style="font-family:Helvetica;font-size: 9;">
                    @Html.DisplayFor(modelItem => item.Columna2)
                </chunk>
            </cell>                    
        </row>
        }
    </table>
}


<table width="100%" cellpadding="1.0" cellspacing="1.0"   widths="1">
    <row>
        <cell>
            <chunk style="font-family: Helvetica; font-size: 10;">
                @ViewBag.NotaCompleta
            </chunk>                 
        </cell>
    </row>
</table>