﻿@using MASCore.Models;
@{
    Layout = "~/Views/Shared/_PdfLayout.cshtml";
    List<EmbPorEdoPermisoM> ListaEmbPorEdoPermiso = new List<EmbPorEdoPermisoM>();
    ListaEmbPorEdoPermiso = Session["SessionEmbPorEdoPermiso"] as List<EmbPorEdoPermisoM>;
}
<table width="100%" cellpadding="1.0" cellspacing="1.0"   widths="1;4;1">
    <row>
        <cell >   <image url="@Context.Server.MapPath("~/Content/Logo1.jpg")"/>     </cell>
        <cell horizontalalign="Default" verticalalign="Default">
            <paragraph style="font-size: 13;font-weight:normal;" red="60" green="60" blue="60" align="Center">
                COMISION NACIONAL DE ACUACULTURA Y PESCA <br />
                DIRECCIÓN GENERAL DE INSPECCION Y VIGILANCIA <br />
            </paragraph>
            <chunk style="font-size: 13;font-weight:normal" red="60" green="60" blue="60" align="Center">  DIRECCIÓN DE MONITOREO Y COORDINACIÓN</chunk> 
        </cell>
        <cell>   <image url="@Context.Server.MapPath("~/Content/Logo2.jpg")"/>     </cell>
    </row>
    
</table>
<paragraph style="font-family: Helvetica; font-size: 16; "  align="Center">
    <chunk style="font-weight:normal;" red="60" green="60" blue="60">REPORTE - ESTADÍSTICO DE DATOS</chunk>
</paragraph>
<paragraph style="font-family: Helvetica; font-size: 16; "  align="Center">
	<chunk style="font-weight:normal;" red="60" green="60" blue="60">EMBARCACIONES POR ESTADO Y PERMISO</chunk>
</paragraph>

<table width="100%" cellpadding="1.0" cellspacing="1.0"   widths="3;3;2">
    <row>
        <cell colspan="2"> Impreso por: @Html.Encode(Request.Cookies["userName"].Value.ToUpper()) </cell>
        @*<cell></cell>*@
        <cell> Fecha: @DateTime.Now.Date.ToShortDateString()  </cell>
    </row>
</table>

@if (ListaEmbPorEdoPermiso != null && ListaEmbPorEdoPermiso.Count > 0)
{
<table width="100%" cellpadding="1.0" cellspacing="1.0"  border="2" widths="2;1;1;1;1;1;1;1;1;1;1" red="255" green="255" blue="255">  
    <row>
	    <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" header="true" leading="18.0">            	         
             <chunk style="font-family: Helvetica; font-size: 9;font-weight:bold;"  red="10" green="100" blue="100">
                Estado
            </chunk>             
        </cell>
	    <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
            <chunk style="font-family:Helvetica;font-size: 9;font-weight:bold;"  red="10" green="100" blue="100">
                Atún Vig
            </chunk>
        </cell>
        <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true">
            <chunk style="font-family:Helvetica;font-size: 9;font-weight:bold;" red="10" green="100" blue="100">
                Atún Ven
            </chunk>
        </cell>
	    <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
            <chunk style="font-family:Helvetica;font-size: 9;font-weight:bold;"  red="10" green="100" blue="100">
                Camarón Vig
            </chunk>
        </cell>
        <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true">
            <chunk style="font-family:Helvetica;font-size: 9;font-weight:bold;" red="10" green="100" blue="100">
                Camarón Ven
            </chunk>
        </cell>
        <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
            <chunk style="font-family:Helvetica;font-size: 9;font-weight:bold;"  red="10" green="100" blue="100">
                Escama Vig
            </chunk>
        </cell>  
        <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true">
            <chunk style="font-family:Helvetica;font-size: 9;font-weight:bold;" red="10" green="100" blue="100">
                Escama Ven
            </chunk>
        </cell>
        <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
            <chunk style="font-family:Helvetica;font-size: 9;font-weight:bold;"  red="10" green="100" blue="100">
                Sardina/Pel Vig
            </chunk>
        </cell> 
        <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true">
            <chunk style="font-family:Helvetica;font-size: 9;font-weight:bold;" red="10" green="100" blue="100">
                Sardina/Pel Ven
            </chunk>
        </cell>
        <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true">
            <chunk style="font-family:Helvetica;font-size: 9;font-weight:bold;" red="10" green="100" blue="100">
                Tiburón Vig
            </chunk>
        </cell> 
        <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true">
            <chunk style="font-family:Helvetica;font-size: 9;font-weight:bold;" red="10" green="100" blue="100">
                Tiburón Ven
            </chunk>
        </cell> 
        
    </row>
    @foreach (EmbPorEdoPermisoM item in ListaEmbPorEdoPermiso)
    {
    <row>    
	    <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" >    @*red="255" green="0" blue="0"*@
            <chunk style="font-family:Helvetica;font-size: 8;font-weight:bold;">
                @Html.DisplayFor(modelItem => item.Estado)
            </chunk>
        </cell>
	    <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
            <chunk style="font-family:Helvetica;font-size: 7;">
                @Html.DisplayFor(modelItem => item.atunVig)
            </chunk>
        </cell>
        <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true">
            <chunk style="font-family:Helvetica;font-size: 7;">
                @Html.DisplayFor(modelItem => item.atunVen)
            </chunk>
        </cell>
        <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true">
            <chunk style="font-family:Helvetica;font-size: 7;">
                @Html.DisplayFor(modelItem => item.camaronVig )
            </chunk>
        </cell>
        <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
            <chunk style="font-family:Helvetica;font-size: 7;">
                @Html.DisplayFor(modelItem => item.camaronVen)
            </chunk>
        </cell>
        <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
            <chunk style="font-family:Helvetica;font-size: 7;">
                @Html.DisplayFor(modelItem => item.escamaVig )
            </chunk>
        </cell>  
        <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true">
            <chunk style="font-family:Helvetica;font-size: 7;">
                @Html.DisplayFor(modelItem => item.escamaVen)
            </chunk>
        </cell>
        <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true">
            <chunk style="font-family:Helvetica;font-size: 7;">
                @Html.DisplayFor(modelItem => item.sardinapelagicosVig)
            </chunk>
        </cell>
        <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true">
            <chunk style="font-family:Helvetica;font-size: 7;">
                @Html.DisplayFor(modelItem => item.sardinapelagicosVen)
            </chunk>
        </cell>
        <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
            <chunk style="font-family:Helvetica;font-size: 7;">
                @Html.DisplayFor(modelItem => item.tiburonVig )
            </chunk>
        </cell>
        <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true">
            <chunk style="font-family:Helvetica;font-size: 7;">
                @Html.DisplayFor(modelItem => item.tiburonVen)
            </chunk>
        </cell>
    </row>
    }
</table>
    
    
    
<table width="100%" cellpadding="1.0" cellspacing="1.0"  border="2" widths="2;1;1;1;1;1;1;1;1;1;1" red="255" green="255" blue="255">  
    <row>
	    <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" header="true" leading="18.0">            	         
             <chunk style="font-family: Helvetica; font-size: 9;font-weight:bold;"  red="10" green="100" blue="100">
                Estado
            </chunk>             
        </cell>
	    <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
            <chunk style="font-family:Helvetica;font-size: 9;font-weight:bold;"  red="10" green="100" blue="100">
                Calamar Vig
            </chunk>
        </cell>
        <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true">
            <chunk style="font-family:Helvetica;font-size: 9;font-weight:bold;" red="10" green="100" blue="100">
                Calamar Ven
            </chunk>
        </cell>
	    <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
            <chunk style="font-family:Helvetica;font-size: 8.5;font-weight:bold;"  red="10" green="100" blue="100">
                Langosta Vig
            </chunk>
        </cell>
        <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true">
            <chunk style="font-family:Helvetica;font-size: 8.5;font-weight:bold;" red="10" green="100" blue="100">
                Langosta Ven
            </chunk>
        </cell>
        <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
            <chunk style="font-family:Helvetica;font-size: 9;font-weight:bold;"  red="10" green="100" blue="100">
                Pulpo Vig
            </chunk>
        </cell>  
        <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true">
            <chunk style="font-family:Helvetica;font-size: 9;font-weight:bold;" red="10" green="100" blue="100">
                Pulpo Ven
            </chunk>
        </cell>
        <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
            <chunk style="font-family:Helvetica;font-size: 9;font-weight:bold;"  red="10" green="100" blue="100">
                Fomento Vig
            </chunk>
        </cell> 
        <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true">
            <chunk style="font-family:Helvetica;font-size: 9;font-weight:bold;" red="10" green="100" blue="100">
                Fomento Ven
            </chunk>
        </cell>
        <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true">
            <chunk style="font-family:Helvetica;font-size: 9;font-weight:bold;" red="10" green="100" blue="100">
                Otros Vig
            </chunk>
        </cell> 
        <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true">
            <chunk style="font-family:Helvetica;font-size: 9;font-weight:bold;" red="10" green="100" blue="100">
                Otros Ven
            </chunk>
        </cell> 
        
    </row>
    @foreach (EmbPorEdoPermisoM item in ListaEmbPorEdoPermiso)
    {
    <row>    
	    <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" >    @*red="255" green="0" blue="0"*@
            <chunk style="font-family:Helvetica;font-size: 8;font-weight:bold;">
                @Html.DisplayFor(modelItem => item.Estado)
            </chunk>
        </cell>
	    <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
            <chunk style="font-family:Helvetica;font-size: 7;">
                @Html.DisplayFor(modelItem => item.calamarVig)
            </chunk>
        </cell>
        <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true">
            <chunk style="font-family:Helvetica;font-size: 7;">
                @Html.DisplayFor(modelItem => item.calamarVen)
            </chunk>
        </cell>
        <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true">
            <chunk style="font-family:Helvetica;font-size: 7;">
                @Html.DisplayFor(modelItem => item.langostaVig )
            </chunk>
        </cell>
        <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
            <chunk style="font-family:Helvetica;font-size: 7;">
                @Html.DisplayFor(modelItem => item.langostaVen)
            </chunk>
        </cell>
        <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
            <chunk style="font-family:Helvetica;font-size: 7;">
                @Html.DisplayFor(modelItem => item.pulpoVig )
            </chunk>
        </cell>  
        <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true">
            <chunk style="font-family:Helvetica;font-size: 7;">
                @Html.DisplayFor(modelItem => item.pulpoVen)
            </chunk>
        </cell>
        <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true">
            <chunk style="font-family:Helvetica;font-size: 7;">
                @Html.DisplayFor(modelItem => item.fomentoVig)
            </chunk>
        </cell>
        <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true">
            <chunk style="font-family:Helvetica;font-size: 7;">
                @Html.DisplayFor(modelItem => item.fomentoVen)
            </chunk>
        </cell>
        <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
            <chunk style="font-family:Helvetica;font-size: 7;">
                @Html.DisplayFor(modelItem => item.otrosVig )
            </chunk>
        </cell>
        <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true">
            <chunk style="font-family:Helvetica;font-size: 7;">
                @Html.DisplayFor(modelItem => item.otrosVen)
            </chunk>
        </cell>
    </row>
    }
</table>

    //PermisosPangasE ini
    <table width="100%" cellpadding="1.0" cellspacing="1.0" border="2" widths="2;1;1;1;1;1;1;1;1" red="255" green="255" blue="255">
        <row>
            <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" header="true" leading="18.0">
                <chunk style="font-family: Helvetica; font-size: 9;font-weight:bold;" red="10" green="100" blue="100">
                    Estado
                </chunk>
            </cell>
            <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 9;font-weight:bold;" red="10" green="100" blue="100">
                    Tiburón Menores Vig
                </chunk>
            </cell>
            <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 9;font-weight:bold;" red="10" green="100" blue="100">
                    Tiburón Menores Ven
                </chunk>
            </cell>
            <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 8.5;font-weight:bold;" red="10" green="100" blue="100">
                    Jaiba Menores Vig
                </chunk>
            </cell>
            <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 8.5;font-weight:bold;" red="10" green="100" blue="100">
                    Jaiba Menores Ven
                </chunk>
            </cell>
            <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 9;font-weight:bold;" red="10" green="100" blue="100">
                    Escama Menores Vig
                </chunk>
            </cell>
            <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 9;font-weight:bold;" red="10" green="100" blue="100">
                    Escama Menores Ven
                </chunk>
            </cell>
            <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 9;font-weight:bold;" red="10" green="100" blue="100">
                    Camarón Menores Vig
                </chunk>
            </cell>
            <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 9;font-weight:bold;" red="10" green="100" blue="100">
                    Camarón Menores Ven
                </chunk>
            </cell>


        </row>
        @foreach (EmbPorEdoPermisoM item in ListaEmbPorEdoPermiso)
        {
            <row>
                <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                    @*red="255" green="0" blue="0"*@
                    <chunk style="font-family:Helvetica;font-size: 8;font-weight:bold;">
                        @Html.DisplayFor(modelItem => item.Estado)
                    </chunk>
                </cell>
                <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                    <chunk style="font-family:Helvetica;font-size: 7;">
                        @Html.DisplayFor(modelItem => item.tiburonMVig)
                    </chunk>
                </cell>
                <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                    <chunk style="font-family:Helvetica;font-size: 7;">
                        @Html.DisplayFor(modelItem => item.tiburonMVen)
                    </chunk>
                </cell>
                <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                    <chunk style="font-family:Helvetica;font-size: 7;">
                        @Html.DisplayFor(modelItem => item.jaibaMVig)
                    </chunk>
                </cell>
                <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                    <chunk style="font-family:Helvetica;font-size: 7;">
                        @Html.DisplayFor(modelItem => item.jaibaMVen)
                    </chunk>
                </cell>
                <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                    <chunk style="font-family:Helvetica;font-size: 7;">
                        @Html.DisplayFor(modelItem => item.escamaMVig)
                    </chunk>
                </cell>
                <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                    <chunk style="font-family:Helvetica;font-size: 7;">
                        @Html.DisplayFor(modelItem => item.escamaMVen)
                    </chunk>
                </cell>
                <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                    <chunk style="font-family:Helvetica;font-size: 7;">
                        @Html.DisplayFor(modelItem => item.camaronMVig)
                    </chunk>
                </cell>
                <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                    <chunk style="font-family:Helvetica;font-size: 7;">
                        @Html.DisplayFor(modelItem => item.camaronMVen)
                    </chunk>
                </cell>

            </row>
        }
    </table>
    //PermisosPangasE fin


}

<table width="100%" cellpadding="1.0" cellspacing="1.0"   widths="1">
    <row>
        <cell>
            <chunk style="font-family: Helvetica; font-size: 10;">
                @ViewBag.NotaCompleta
            </chunk>                 
        </cell>
    </row>
</table>