﻿@{
    ViewBag.Title = "REPORTES AVANZADOS";
    string Valida = @ViewBag.Valida7X24; //VZL_170628 agregar
}
<style>
    .panel {
        margin-bottom: 20px;
        background-color: #2A3F54;
        border: 1px solid transparent;
        border-radius: 4px;
        -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
        color: white;
    }

    a, a:hover {
        color: #CDA434;
    }
</style>
<div class="index">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h4>REPORTES AVANZADOS</h4>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-4 col-md-4">
                            <div class="panel ">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                            <i class="far fa-chart-bar fa-1x"></i>
                                        </div>
                                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 text-center">
                                            <div><h6>Reporte diario de situación de la flota pesquera </h6></div>
                                        </div>
                                    </div>
                                </div>
                                <a href='@Url.Action("ReporteDiarioSituacionFlotaPesqueraPermisoPorBarco", "ReportesAvanzados")'>
                                    <div class="panel-footer" style="min-height: 40px; max-height: 40px;">
                                        <div class="text-right">
                                            <i id="ir12" class="fa fa-arrow-circle-right tamanoIconoEnGrid"></i>
                                           
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="panel ">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                            <i class="far fa-chart-bar fa-1x"></i>
                                        </div>
                                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 text-center">
                                            <div><h6>Reporte estadístico de datos </h6></div>
                                        </div>
                                    </div>
                                </div>
                                <a href='@Url.Action("ReporteEstadisticoDeDatos2", "ReportesAvanzados")'>
                                    <div class="panel-footer" style="min-height: 40px; max-height: 40px;">
                                        <div class="text-right">
                                            <i id="ir13" class="fa fa-arrow-circle-right tamanoIconoEnGrid"></i>
                                            
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="panel ">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                            <i class="far fa-chart-bar fa-1x"></i>
                                        </div>
                                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 text-center">
                                            <div><h6>Reporte de fecha de activación del equipo </h6></div>
                                        </div>
                                    </div>
                                </div>
                                <a href='@Url.Action("ReporteActivacionDelEquipo", "ReportesAvanzados")'>
                                    <div class="panel-footer" style="min-height: 40px; max-height: 40px;">
                                        <div class="text-right">
                                            <i id="ir14" class="fa fa-arrow-circle-right tamanoIconoEnGrid"></i>
                                           
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4">
                            <div class="panel ">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                            <i class="far fa-chart-bar fa-1x"></i>
                                        </div>
                                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 text-center">
                                            <div><h6>Reporte de actividad de pesca </h6></div>
                                        </div>
                                    </div>
                                </div>
                                <a href='@Url.Action("ReporteActividadPesca", "ReportesAvanzados")'>
                                    <div class="panel-footer" style="min-height: 40px; max-height: 40px;">
                                        <div class="text-right">
                                            <i id="ir12" class="fa fa-arrow-circle-right tamanoIconoEnGrid"></i>
                                           
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="panel ">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                            <i class="far fa-chart-bar fa-1x"></i>
                                        </div>
                                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 text-center">
                                            <div><h6>Reporte de embarcaciones pesqueras dentro y fuera de puerto </h6></div>
                                        </div>
                                    </div>
                                </div>
                                <a href='@Url.Action("ReporteDentroYFueraPuerto", "ReportesAvanzados")'>
                                    <div class="panel-footer" style="min-height: 40px; max-height: 40px;">
                                        <div class="text-right">
                                            <i id="ir13" class="fa fa-arrow-circle-right tamanoIconoEnGrid"></i>
                                            
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="panel ">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                            <i class="far fa-chart-bar fa-1x"></i>
                                        </div>
                                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 text-center">
                                            <div><h6>Reporte de entrada y salida de puerto </h6></div>
                                        </div>
                                    </div>
                                </div>
                                <a href='@Url.Action("ReporteEntradaSalidaPuerto", "ReportesAvanzados")'>
                                    <div class="panel-footer" style="min-height: 40px; max-height: 40px;">
                                        <div class="text-right">
                                            <i id="ir14" class="fa fa-arrow-circle-right tamanoIconoEnGrid"></i>
                                            
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4">
                            <div class="panel ">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                            <i class="far fa-chart-bar fa-1x"></i>
                                        </div>
                                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 text-center">
                                            <div><h6>Reporte de actividad de transmisiones </h6></div>
                                        </div>
                                    </div>
                                </div>
                                <a href='@Url.Action("ReporteTransmisiones", "ReportesAvanzados")'>
                                    <div class="panel-footer" style="min-height: 40px; max-height: 40px;">
                                        <div class="text-right">
                                            <i id="ir12" class="fa fa-arrow-circle-right tamanoIconoEnGrid"></i>
                                            
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="panel ">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                            <i class="far fa-chart-bar fa-1x"></i>
                                        </div>
                                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 text-center">
                                            <div><h6>Reporte de ruta Tx-No Tx </h6></div>
                                        </div>
                                    </div>
                                </div>
                                <a href='@Url.Action("ReporteRumbos", "ReportesAvanzados")'>
                                    <div class="panel-footer" style="min-height: 40px; max-height: 40px;">
                                        <div class="text-right">
                                            <i id="ir13" class="fa fa-arrow-circle-right tamanoIconoEnGrid"></i>
                                            
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="panel ">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                            <i class="far fa-chart-bar fa-1x"></i>
                                        </div>
                                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 text-center">
                                            <div><h6>Reporte consolidado de transmisiones </h6></div>
                                        </div>
                                    </div>
                                </div>
                                <a href='@Url.Action("ReporteTransmisionesReporteador", "ReportesAvanzados")' target="_blank">
                                    <div class="panel-footer" style="min-height: 40px; max-height: 40px;">
                                        <div class="text-right">
                                            <i id="ir14" class="fa fa-arrow-circle-right tamanoIconoEnGrid"></i>
                                            
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4">
                            <div class="panel ">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                            <i class="far fa-chart-bar fa-1x"></i>
                                        </div>
                                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 text-center">
                                            <div><h6>Reporte relación de llamadas de seguimiento, oficinas de pesca </h6></div>
                                        </div>
                                    </div>
                                </div>
                                <a href='@Url.Action("ReporteLlamadasOficinaPesca", "ReportesAvanzados")'>
                                    <div class="panel-footer" style="min-height: 40px; max-height: 40px;">
                                        <div class="text-right">
                                            <i id="ir12" class="fa fa-arrow-circle-right tamanoIconoEnGrid"></i>
                                            
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="panel ">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                            <i class="far fa-chart-bar fa-1x"></i>
                                        </div>
                                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 text-center">
                                            <div><h6>Primer listado de instalaciones autorizado </h6></div>
                                        </div>
                                    </div>
                                </div>
                                <a href='@Url.Action("PrimerListadoInstalacionesPdf", "ReportesAvanzados")' target="_blank">
                                    <div class="panel-footer" style="min-height: 40px; max-height: 40px;">
                                        <div class="text-right">
                                            <i id="ir13" class="fa fa-arrow-circle-right tamanoIconoEnGrid"></i>
                                            
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="panel ">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                            <i class="far fa-chart-bar fa-1x"></i>
                                        </div>
                                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 text-center">
                                            <div><h6>Segundo listado de instalaciones autorizado </h6></div>
                                        </div>
                                    </div>
                                </div>
                                <a href='@Url.Action("SegundoListadoInstalacionesPdf", "ReportesAvanzados")' target="_blank">
                                    <div class="panel-footer" style="min-height: 40px; max-height: 40px;">
                                        <div class="text-right">
                                            <i id="ir14" class="fa fa-arrow-circle-right tamanoIconoEnGrid"></i>
                                            
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4">
                            <div class="panel ">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                            <i class="far fa-chart-bar fa-1x"></i>
                                        </div>
                                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 text-center">
                                            <div><h6>Tercer listado de instalaciones autorizado </h6></div>
                                        </div>
                                    </div>
                                </div>
                                <a href='@Url.Action("TercerlistadoinstalacionesPdf", "ReportesAvanzados")' target="_blank">
                                    <div class="panel-footer" style="min-height: 40px; max-height: 40px;">
                                        <div class="text-right">
                                            <i id="ir12" class="fa fa-arrow-circle-right tamanoIconoEnGrid"></i>
                                            
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="panel ">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                            <i class="far fa-chart-bar fa-1x"></i>
                                        </div>
                                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 text-center">
                                            <div><h6>Cuarto listado de instalaciones autorizado </h6></div>
                                        </div>
                                    </div>
                                </div>
                                <a href='@Url.Action("CuartolistadoinstalacionesPdf", "ReportesAvanzados")' target="_blank">
                                    <div class="panel-footer" style="min-height: 40px; max-height: 40px;">
                                        <div class="text-right">
                                            <i id="ir13" class="fa fa-arrow-circle-right tamanoIconoEnGrid"></i>
                                            
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="panel ">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                            <i class="far fa-chart-bar fa-1x"></i>
                                        </div>
                                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 text-center">
                                            <div><h6>Bajas equipo transreceptor sismep </h6></div>
                                        </div>
                                    </div>
                                </div>
                                <a href='@Url.Action("BajasEquipoTransreceptorPdf", "ReportesAvanzados")' target="_blank">
                                    <div class="panel-footer" style="min-height: 40px; max-height: 40px;">
                                        <div class="text-right">
                                            <i id="ir14" class="fa fa-arrow-circle-right tamanoIconoEnGrid"></i>
                                            
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    @if (Valida == "1") //VZL_170628 cambiar
                    {
                        <div class="row">
                            <div class="col-lg-4 col-md-4">
                                <div class="panel ">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                                <i class="far fa-chart-bar fa-1x"></i>
                                            </div>
                                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 text-center">
                                                <div><h6>Reporte ejecutivo de alertas de pesca prohibida y zona prohibida </h6></div>
                                            </div>
                                        </div>
                                    </div>
                                    <a href='@Url.Action("ReportePescaZonaProhibida", "ReportesAvanzados")'>
                                        <div class="panel-footer" style="min-height: 40px; max-height: 40px;">
                                            <div class="text-right">
                                                <i id="ir12" class="fa fa-arrow-circle-right tamanoIconoEnGrid"></i>
                                               
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <br />
</div>