﻿@model MASCore.Models.MarcadoresEarthModelRepEstadistico

@{
    Layout = "~/Views/Shared/_LayoutSimple.cshtml";
    ViewBag.Title = "Detalle Reporte Diario";
}

<h4>Distribución de cedulas por situación</h4>

<div class="row col-12">
    <div class="col-6">
        <div class="dx-field row">
            <div class="dx-field-label col-5">Fecha:</div>
            <div class="dx-field-label col-7">
                @DateTime.Now.ToShortDateString()
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="dx-field row">
            @{
                if (Model.Reporte.Equals("EMERGENCIA"))
                {
                    <div class="dx-field-label col-5">Situación:</div>
                    <div class="dx-field-label col-7">EMERGENCIA</div>
                }
                else
                {
                    <div class="dx-field-label col-5">Litoral:</div>
                    <div class="dx-field-label col-7">@Model.Litoral</div>
                }
            }
        </div>
    </div>
</div>
<div class="row col-12">
    <div class="col-6">
        <div class="dx-field row">
            @{
                if (Model.Reporte.Equals("EMERGENCIA"))
                {
                    <div class="dx-field-label col-5">Causa:</div>
                    <div class="dx-field-label col-7">@Model.Litoral</div>
                }
                else
                {
                    <div class="dx-field-label col-5">Situación:</div>
                    <div class="dx-field-label col-7">@Model.Reporte</div>
                }
            }
        </div>
    </div>
    <div class="col-6">
        <div class="row">
            <div class="col-1">
                <script type="text/javascript">
                    var url = '@Url.Action("GeneraReporteMarcadoresEarthPageTabularRepEstadistico", "ReportesAvanzados")';
                    function download() {
                        window.open(url, "_blank");
                    }
                </script>
                <a href='javascript:download();' class="btn btn-outline-secondary"><i class="fas fa-cloud-download-alt fa-2x"></i></a>
            </div>
            <div class="col-1">
                <a href="javascript:window.print();" class="btn btn-outline-secondary"><i class="fas fa-print fa-2x"></i></a>
            </div>
            <div class="col-10"></div>
        </div>
    </div>
</div>

@(Html.DevExtreme().DataGrid<MASCore.ObtieneMarcadoresDetalleAlertasCedulas_Result>()
        .DataSource(Model.ListaMarcadoresTabular)
        .ShowColumnLines(true)
        .ShowRowLines(true)
        .RowAlternationEnabled(true)
        .ShowBorders(true)
        .ShowColumnHeaders(true)
        .WordWrapEnabled(true)
        .Columns(columns =>
        {
            columns.AddFor(m => m.Matricula).Caption("Matricula").AllowSorting(false);
            columns.AddFor(m => m.Embarcacion).Caption("Embarcación").AllowSorting(false);
            columns.AddFor(m => m.RNP).Caption("RNP").AllowSorting(false);
            columns.AddFor(m => m.RazonSocial).Caption("Razón Social").AllowSorting(false);
            columns.AddFor(m => m.PuertoBase).Caption("Puerto Base").AllowSorting(false);
            columns.AddFor(m => m.Estado).Caption("Estado").AllowSorting(false);
            columns.AddFor(m => m.Causas).Caption("Causa").AllowSorting(false);
            columns.AddFor(m => m.Fecha).Caption("Fecha Evento").AllowSorting(false).Format("dd/MM/yyyy");
        })
)
