﻿@model MASCore.Models.MarcadoresEarthModel

@{
    Layout = "~/Views/Shared/_LayoutSimple.cshtml";
    ViewBag.Title = "MarcadoresEarthPage";
}

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?client=gme-astrumsatelitalsa&v=3.22&libraries=places,drawing,geometry"></script>

<script type="text/javascript">
    var globo;
    var Lat;
    var Long;

    $(function () {
        inicializar();
    });

    function inicializar() {
        google.maps.visualRefresh = true;

        var canvas = $("#map3d");

        var latitude = 24.0722829;
        var longitude = -101.8156351;
        var litoralX = $("#Litoral").val();

        var latlng = new google.maps.LatLng(latitude, longitude);
        var options = {
            zoom: 5,
            center: latlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(canvas[0], options);

        var litoral = $("#Litoral").val();
        var reporte = $("#Reporte").val();
        var permiso = $("#Permiso").val();
        var idzona = $("#idZona").val();

        $.getJSON('@Url.Action("ObtieneMarcadoresEarthAsyncJsonRepEstadistico", "ReportesAvanzados")', { Litoral: litoral, Reporte: reporte, Permiso: permiso, idZona: idzona },
            function (data) {
                if (data[0].ZonasPuntos == null) {
                    $.each(data, function (i, ltem) {
                        var info = '<p>Situación : ' + ltem.s + ' | Causa :' + ltem.c + '</p>'
                                + '<p>Fecha: ' + ltem.f + '</p>'
                                + '<p>Latitud: ' + ltem.lt + '</p>'
                                + '<p>Longitud: ' + ltem.ln + '</p>'
                                + '<p>RNP: ' + ltem.rnp + '</p>'
                                + '<p>Matricula: ' + ltem.mt + '</p>'
                                + '<p>Estatus: ' + ltem.ec + '</p>'
                                + '<p>#Cedula: ' + ltem.nc + '</p>'
                            + '<p>TipoAlertaCedula: ' + ltem.ta + '</p>';

                        var contentString = '<div id="content">' +
                                            '<div id="siteNotice">' +
                                            '</div>' +
                                            '<h1 id="firstHeading" class="firstHeading">' + ltem.ns + '</h1>' +
                                            '<div id="bodyContent">' +
                                            '<p> ' + info + ' </p>' +
                                            '</div>' +
                                            '</div>';
                        var infowindow = new google.maps.InfoWindow({ content: contentString });
                        var pinIcon = new google.maps.MarkerImage(
                            "/Images/Markers/" + ltem.icn,
                            null, /* el tamaño es determinado al runtime*/
                            null, /* origen es 0,0 */
                            null, /* ancho */
                            new google.maps.Size(32, 32)
                        );
                        var marker = new google.maps.Marker({
                            'position': new google.maps.LatLng(ltem.lt, ltem.ln),
                            'map': map,
                            animation: google.maps.Animation.DROP,
                            'title': ltem.ns,
                            'icon': pinIcon
                        });
                        marker.addListener('click', function () { infowindow.open(map, marker); });
                    });
                }
                else {
                    var polyoptions = [];
                    $.each(data[0].ZonasPuntos, function (i, item) {
                        polyoptions.push({ lat: item.lt, lng: item.ln });
                    });
                    var polyarea = new google.maps.Polygon({ paths: polyoptions });

                    $.each(data[0].Marcadores, function (i, ltem) {
                        var myPosition = new google.maps.LatLng(ltem.lt, ltem.ln);
                        var info = '<p>Situación : ' + ltem.s + ' | Causa :' + ltem.c + '</p>'
                                + '<p>Fecha: ' + ltem.f + '</p>'
                                + '<p>Latitud: ' + ltem.lt + '</p>'
                                + '<p>Longitud: ' + ltem.ln + '</p>'
                                + '<p>RNP: ' + ltem.rnp + '</p>'
                                + '<p>Matricula: ' + ltem.mt + '</p>'
                                + '<p>Estatus: ' + ltem.ec + '</p>'
                                + '<p>#Cedula: ' + ltem.nc + '</p>'
                                + '<p>TipoAlertaCedula: ' + ltem.ta + '</p>';
                        if (google.maps.geometry.poly.containsLocation(myPosition, polyarea) == true) {
                            var contentString = '<div id="content">' +
                                            '<div id="siteNotice">' +
                                            '</div>' +
                                            '<h1 id="firstHeading" class="firstHeading">' + ltem.ns + '</h1>' +
                                            '<div id="bodyContent">' +
                                            '<p> ' + info + ' </p>' +
                                            '</div>' +
                                            '</div>';
                            var infowindow = new google.maps.InfoWindow({ content: contentString });
                            var pinIcon = new google.maps.MarkerImage(
                                "/Images/Markers/" + ltem.icn,
                                null, /* el tamaño es determinado al runtime*/
                                null, /* origen es 0,0 */
                                null, /* ancho */
                                new google.maps.Size(32, 32)
                            );
                            var marker = new google.maps.Marker({
                                'position': new google.maps.LatLng(ltem.lt, ltem.ln),
                                'map': map,
                                animation: google.maps.Animation.DROP,
                                'title': ltem.ns,
                                'icon': pinIcon
                            });
                            marker.addListener('click', function () { infowindow.open(map, marker); });
                        }
                    });
                }
            });
        AbreDetalleTabular();
    }

    function AbreDetalleTabular() {
        var litoral = $("#Litoral").val();
        var reporte = $("#Reporte").val();
        var permiso = $("#Permiso").val();
        if (permiso != "PACIFICO" && permiso != "GOLFO") {
            window.open("../ReportesAvanzados/MarcadoresEarthPageTabularRepEstadistico?Litoral=" + litoral + "&Reporte=" + reporte + "&Permiso=" + permiso, "ventana1", "width=1180,height=300,scrollbars=YES");
        }
    }

    function ObtieneMarcadores2() {
        alert('entra en ObtieneMarcadores2')
        var litoral = $("#Litoral").val();
        var reporte = $("#Reporte").val();
        var permiso = $("#Permiso").val();
        $.getJSON("/ReportesAvanzados/ObtieneMarcadoresEarthAsyncJsonRepEstadistico",
            { Litoral: litoral, Reporte: reporte, Permiso: permiso },
            function (data) {
                $.each(data, function (i, ltem) {
                    var marker = new google.maps.Marker({
                        'position': new google.maps.LatLng(ltem.Latitud, ltem.Longitud),
                        'map': map,
                        'title': ltem.NombreSitio
                    });
                });
            });
    }

    function AgregaMarcadores(ge) {
        alert('Entra a la funcion de agregar marcadores');
        // Create the placemark.
        var placemark = ge.createPlacemark('');
        placemark.setName("placemark");

        // Define a custom icon.
        var icon = ge.createIcon('');
        icon.setHref('http://maps.google.com/mapfiles/kml/paddle/red-circle.png');
        var style = ge.createStyle(''); //create a new style
        style.getIconStyle().setIcon(icon); //apply the icon to the style
        style.getIconStyle().setScale(5.0); //Se cambia el tamaño del marcador
        placemark.setStyleSelector(style); //apply the style to the placemark

        // Set the placemark's location.
        var point = ge.createPoint('');
        point.setLatitude(23.18);
        point.setLongitude(-106.27);
        placemark.setGeometry(point);

        // Add the placemark to Earth.
        ge.getFeatures().appendChild(placemark);
    }

    function buscarLocalizacion(direccion, Rango) {
        var geocoder = new google.maps.Geocoder();
        geocoder.geocode({ 'address': direccion }, function (destino, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                modificarVista(destino[0].geometry.location.lat(), destino[0].geometry.location.lng(), Rango);
            } else {
                alert("Wrong direction");
            }
        });
    }

    /*
    1. Recibiendo latitud y longitud del WS de Google se crea el objeto lookAt (range es el zoom que deseamos que haga nuestro mapa).
    2. Cuando tenemos el objeto construido, se le pasa al globo y, en este instante, se produce la redirección.
    */
    function modificarVista(latitud, longitud, Rango) {
        var lookAt = globo.createLookAt('');
        lookAt.setLatitude(latitud);
        lookAt.setLongitude(longitud);
        lookAt.setRange(Rango);
        globo.getView().setAbstractView(lookAt);
    }

    function terminacion(codigoDeError) { return alert(codigoDeError); }
</script>

@Html.HiddenFor(model => model.Litoral)
@Html.HiddenFor(model => model.Permiso)
@Html.HiddenFor(model => model.Reporte)
@Html.HiddenFor(model => model.idZona)

<h4>Distribución de cedulas por situación</h4>

<div class="row col-12">
    <div class="col-6">
        <div class="dx-field row">
            <div class="dx-field-label col-5">Fecha:</div>
            <div class="dx-field-label col-7">
                @DateTime.Now.ToShortDateString()
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="dx-field row">
            @{
                if (Model.Reporte.Equals("EMERGENCIA"))
                {
                    <div class="dx-field-label col-5">Situación:</div>
                    <div class="dx-field-label col-7">EMERGENCIA</div>
                }
                else
                {
                    <div class="dx-field-label col-5">Litoral:</div>
                    <div class="dx-field-label col-7">@Model.Litoral</div>
                }
            }
        </div>
    </div>
</div>
<div class="row col-12">
    <div class="col-6">
        <div class="dx-field row">
            @{
                if (Model.Reporte.Equals("EMERGENCIA"))
                {
                    <div class="dx-field-label col-5">Causa:</div>
                    <div class="dx-field-label col-7">@Model.Litoral</div>
                }
                else
                {
                    <div class="dx-field-label col-5">Situación:</div>
                    <div class="dx-field-label col-7">@Model.Reporte</div>
                }
            }
        </div>
    </div>
    <div class="col-6">
    </div>
</div>

<div id="map3d" style="height: 550px; width: 78%; margin-left: 10%" align="center"></div>
