﻿@model MASCore.Models.MarcadoresEarthModel

@{
    Layout = "~/Views/Shared/_LayoutSimple.cshtml";
    ViewBag.Title = "MarcadoresEarthPage";
}

@{
    string TipoReporte = "";
    string Permiso = "Pesqueria";
    string Litoral = "Litoral";
    if (Model != null)
    {
        if (Model.Reporte == "TX")
        {
            TipoReporte = "Transmitiendo";
        }
        if (Model.Reporte == "TXFUERAPUERTO")
        {
            TipoReporte = "Transmitiendo fuera de puerto";
        }
        if (Model.Reporte == "TXENPUERTO")
        {
            TipoReporte = "Transmitiendo dentro de puerto";
        }
        if (Model.Reporte == "PORESTADO")
        {
            TipoReporte = "Transmitiendo fuera de puerto por estado";
        }
    }

    if (Model.Litoral == "PORESTADO")
    {
        Permiso = "Estado";
    }

    if (Model.Permiso == "GOLFO" || Model.Permiso == "PACIFICO") // USADO PARA EL REPORTE POR ESTADOS, AL SELECCIONAR _ LA PESQUERIA ES IGUAL A GOLFO O PACIFICO
    {
        TipoReporte = "";
        Litoral = "";
        Permiso = "";
    }
}

<h4>Detalle Reporte Diario De Situación De Flota Pesquera</h4>

<div class="row col-12">
    <div class="col-6">
        <div class="dx-field row">
            <div class="dx-field-label col-5">Fecha:</div>
            <div class="dx-field-label col-7">
                @DateTime.Now.ToShortDateString()
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="dx-field row">
            <div class="dx-field-label col-5">Situación:</div>
            <div class="dx-field-label col-7">
                @TipoReporte
            </div>
        </div>
    </div>
</div>
<div class="row col-12">
    <div class="col-6">
        <div class="dx-field row">
            <div class="dx-field-label col-5">Cantidad:</div>
            <div class="dx-field-label col-7">
                @Model.ListaMarcadores.Count
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="dx-field row">
            <div class="dx-field-label col-5">@Litoral:</div>
            <div class="dx-field-label col-7">
                @Model.Litoral
            </div>
        </div>
    </div>
</div>
<div class="row col-12">
    <div class="col-6">
        <div class="dx-field row">
            <div class="dx-field-label col-5">@Permiso:</div>
            <div class="dx-field-label col-7">
                @Model.Permiso
            </div>
        </div>
    </div>
    <div class="col-6">
    </div>
</div>

<div id="map" style="height: 550px; width: 78%; margin-left: 10%" align="center"></div>

<input type="text" hidden="hidden" id="cadenaTexto" value="@ViewBag.Cadenita" />
<input type="text" hidden="hidden" id="infoMarker" value="@ViewBag.Datos" />
@Html.HiddenFor(model => model.Litoral, new { id = "Litoral" })
@Html.HiddenFor(model => model.Permiso, new { id = "Permiso" })
@Html.HiddenFor(model => model.Reporte, new { id = "Reporte" })

<script type="text/javascript" src="https://www.google.com/jsapi"></script>

<script type="text/javascript">
    var map;

    //Inicializa la carga del Mapa
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: new google.maps.LatLng(25.3638823, -101.0083008),
            zoom: 4
        });

        AbreDetalleTabular();
        var cadena = $('#cadenaTexto').val();
        var cadenaSplit = (cadena.split(","));

        var cadenaDatos = $('#infoMarker').val();
        var cadenaDatosSplit = (cadenaDatos.split(","));

        try {
            for (i = 0; i < cadenaSplit.length; i++) {
                //Declaramos los arreglos que ocuparemos.
                var strArr = [];
                var strArr2 = [];
                var strArr2Datos = [];

                //-Damos Formato a las coordenadas que recibimos desde el controlador.
                strArr = cadenaSplit[i].split("|", 1);
                strArr2 = cadenaSplit[i].replace(strArr, '');
                strArr2 = strArr2.replace("|", "");

                var myLatLng = { lat: parseFloat(strArr), lng: parseFloat(strArr2) };

                //Creamos el marcador
                //-Damos Formato a las coordenadas que recibimos desde el controlador.
                strArrDatosMarcador = cadenaDatosSplit[i].split("|", 1);
                strArr2Datos = cadenaDatosSplit[i].replace(strArrDatosMarcador, '');
                strArr2DatosMarcador = strArr2Datos.replace("|", "");
                tituloMarcador = strArrDatosMarcador.toString();

                var marker = new google.maps.Marker({
                    position: myLatLng,
                    map: map,
                    title: tituloMarcador
                });
                marker.setMap(map);
            }
        }
        catch (ex) {
            alert("Ha ocurrido un error al cargar los marcadores.");
        }
    }

    //Nos permite lanzar el reporte Tabular.
    function AbreDetalleTabular() {
        var litoral = $("#Litoral").val();
        var reporte = $("#Reporte").val();
        var permiso = $("#Permiso").val();
        if (permiso != "PACIFICO" && permiso != "GOLFO") {
            var str = window.location.pathname;
            str = str.replace("/MarcadoresEarthPage", "");
            window.open(str + "/MarcadoresEarthPageTabular?Litoral=" + litoral + "&Reporte=" + reporte + "&Permiso=" + permiso, "ventana1", "width=1180,height=300,scrollbars=YES");
        }
    }
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5NwKKBLs2gwU3cVyjLaEvQlYO9w0cQ_k&callback=initMap"></script>
