﻿@model MASCore.Models.MarcadoresEarthModelTipoEmergencia

@{
    Layout = null;
    ViewBag.Title = "MarcadoresEarthPage";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Detalle Estadístico de Datos</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />

    @Styles.Render("~/Content/css")

    @Styles.Render("~/Content/themes/base/jquery.ui.core.css")
    @Styles.Render("~/Content/themes/base/jquery.ui.datepicker.css")
    @Styles.Render("~/Content/themes/base/jquery.ui.theme.css")

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/Scripts/DatePickerReady.js")

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?client=gme-astrumsatelitalsa&v=3.22"></script>
    <script src="../../Scripts/jquery-1.7.1.js" type="text/javascript"></script>
    <script src="../../Scripts/jquery-ui-1.8.20.js" type="text/javascript"></script>

    <script src="~/Scripts/jquery.autocomplete.min.js" type="text/javascript"></script>
    <link href="~/Content/jquery.autocomplete.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/Site.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript">
        var globo;
        var Lat;
        var Long;
        $(function () { 
            inicializar();
        });

        function inicializar() {
            google.maps.visualRefresh = true;

            var canvas = $("#map3d");

            var latitude = 23.3849692;
            var longitude = -111.5760343;
            var litoralX = $("#Litoral").val();

            var latlng = new google.maps.LatLng(latitude, longitude);
            var options = {
                zoom: 5,
                center: latlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(canvas[0], options);

            var litoral = $("#Litoral").val();
            var reporte = $("#Reporte").val();
            var permiso = $("#Permiso").val();

            $.getJSON('@Url.Action("ObtieneMarcadoresEarthAsyncJsonRepEstadistico", "ReportesAvanzados")', { Litoral: litoral, Reporte: reporte, Permiso: permiso },
             function (data) {
                 $.each(data, function (i, ltem) {
                     var contentString = '<div id="content">' +
                      '<div id="siteNotice">' +
                      '</div>' +
                      '<h1 id="firstHeading" class="firstHeading">' + ltem.NombreSitio + '</h1>' +
                      '<div id="bodyContent">' +
                      '<p> ' + ltem.Info + ' </p>' +
                      '</div>' +
                         '</div>';

                     var infowindow = new google.maps.InfoWindow({
                         content: contentString
                     });

                     var marker = new google.maps.Marker({
                         'position': new google.maps.LatLng(ltem.Latitud, ltem.Longitud),
                         'map': map,
                         animation: google.maps.Animation.DROP,
                         'title': ltem.NombreSitio
                     });

                     marker.addListener('click', function () {
                         infowindow.open(map, marker);
                     });
                 });
             });

            AbreDetalleTabular();
        }

        function AbreDetalleTabular() {
            var litoral = $("#Litoral").val();
            var reporte = $("#Reporte").val();
            var permiso = $("#Permiso").val();

            if (permiso != "PACIFICO" && permiso != "GOLFO") {
                window.open("../ReportesAvanzados/MarcadoresEarthPageTabularRepEstadistico?Litoral=" + litoral + "&Reporte=" + reporte + "&Permiso=" + permiso, "ventana1", "width=1180,height=300,scrollbars=YES");
            }
        }

        function ObtieneMarcadores2() {
            alert('entra en ObtieneMarcadores2')
            var litoral = $("#Litoral").val();
            var reporte = $("#Reporte").val();
            var permiso = $("#Permiso").val();

            $.getJSON("/ReportesAvanzados/ObtieneMarcadoresEarthAsyncJsonRepEstadistico",
                { Litoral: litoral, Reporte: reporte, Permiso: permiso },
             function (data) {
                 $.each(data, function (i, ltem) {
                     var marker = new google.maps.Marker({
                         'position': new google.maps.LatLng(ltem.Latitud, ltem.Longitud),
                         'map': map,
                         'title': ltem.NombreSitio
                     });
                 });
             });
        }

        function AgregaMarcadores(ge) {
            alert('Entra a la funcion de agregar marcadores');
            // Create the placemark.
            var placemark = ge.createPlacemark('');
            placemark.setName("placemark");

            // Define a custom icon.
            var icon = ge.createIcon('');
            icon.setHref('http://maps.google.com/mapfiles/kml/paddle/red-circle.png');
            var style = ge.createStyle(''); //create a new style
            style.getIconStyle().setIcon(icon); //apply the icon to the style
            style.getIconStyle().setScale(5.0); //Se cambia el tamaño del marcador
            placemark.setStyleSelector(style); //apply the style to the placemark

            // Set the placemark's location.
            var point = ge.createPoint('');
            point.setLatitude(23.18);
            point.setLongitude(-106.27);
            placemark.setGeometry(point);

            // Add the placemark to Earth.
            ge.getFeatures().appendChild(placemark);
        }

        function buscarLocalizacion(direccion, Rango) {
            var geocoder = new google.maps.Geocoder();
            geocoder.geocode({ 'address': direccion }, function (destino, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    modificarVista(destino[0].geometry.location.lat(), destino[0].geometry.location.lng(), Rango);
                } else {
                    alert("Wrong direction");
                }
            });
        }

        /*
        1. Recibiendo latitud y longitud del WS de Google se crea el objeto lookAt (range es el zoom que deseamos que haga nuestro mapa).
        2. Cuando tenemos el objeto construido, se le pasa al globo y, en este instante, se produce la redirección.
        */
        function modificarVista(latitud, longitud, Rango) {
            var lookAt = globo.createLookAt('');
            lookAt.setLatitude(latitud);
            lookAt.setLongitude(longitud);
            lookAt.setRange(Rango);
            globo.getView().setAbstractView(lookAt);
        }

        function terminacion(codigoDeError) { return alert(codigoDeError); }
    </script>
</head>
<body>
    <div id="body">
        <div id="bodystyle" style="width:78%; text-align:center;margin-left:10%;min-width:950px;" align="center">
            @{
                string TipoReporte = "";
                if (Model != null)
                {
                    if (Model.Reporte == "TX")
                    {
                        TipoReporte = "Situación : Transmitiendo | Cantidad : " + Model.ListaMarcadores.Count + " | ";
                    }
                    if (Model.Reporte == "TXFUERAPUERTO")
                    {
                        TipoReporte = "Situación : Transmitiendo fuera de puerto | Cantidad : " + Model.ListaMarcadores.Count + " | ";
                    }
                    if (Model.Reporte == "TXENPUERTO")
                    {
                        TipoReporte = "Situación : Transmitiendo dentro de puerto | Cantidad : " + Model.ListaMarcadores.Count + " | ";
                    }

                    if (Model.Reporte == "PORESTADO")
                    {
                        TipoReporte = "Situación : Transmitiendo fuera de puerto por estado | Cantidad : " + Model.ListaMarcadores.Count + " | ";
                    }

                }
                string Fecha = "Fecha : " + DateTime.Now.ToShortDateString() + " | ";
                string Litoral = "Litoral : " + Model.Litoral + " | ";
                string Permiso = "Situación : " + Model.Reporte;
                if (Litoral == "PORESTADO")
                {
                    Permiso = "Estado : " + Model.Permiso;
                }
                if (Model.Permiso == "GOLFO" || Model.Permiso == "PACIFICO")   // USADO PARA EL REPORTE POR ESTADOS, AL SELECCIONAR _  LA PESQUERIA ES IGUAL A GOLFO O PACIFICO
                {
                    TipoReporte = "";
                    Litoral = "";
                    Permiso = "";
                }

            }

            <div id="titulo">
                <h3 style="color:#0F2C48;text-align:center"><u>-  Distribución de cedulas por situación  -</u></h3>
            </div>
            <table width="100%" style="font-weight:bold">
                <tr>
                    <td style="background-color:White;text-align:center">
                        @Fecha
                        @TipoReporte
                        @if (Litoral != "PORESTADO")
                        {
                            @Litoral
                        }
                        @Permiso
                    </td>
                </tr>
                <tr>
                    <td style="display:none">
                        Litoral : @Html.TextBoxFor(model => model.Litoral, new { style = "width:150px", @readonly = true })
                        Permiso : @Html.TextBoxFor(model => model.Permiso, new { style = "width:auto", @readonly = true })
                        Reporte : @Html.TextBoxFor(model => model.Reporte, new { style = "width:auto", @readonly = true })
                    </td>
                </tr>
            </table>
        </div>
        <div id="map3d" style="height: 550px; width: 78%; margin-left: 10%" align="center"></div>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - Astrum Satelital </p>
            </div>
        </div>
    </footer>
</body>
</html>