﻿@model MASCore.Models.MarcadoresEarthModel

@{
    Layout = "~/Views/Shared/_LayoutSimple.cshtml";
    ViewBag.Title = "Detalle Reporte Diario";
}

@{
    string TipoReporte = "";
    if (Model != null)
    {
        if (Model.Reporte == "TX")
        {
            TipoReporte = "Transmitiendo";
        }
        if (Model.Reporte == "TXFUERAPUERTO")
        {
            TipoReporte = "Transmitiendo fuera de puerto";
        }
        if (Model.Reporte == "TXENPUERTO")
        {
            TipoReporte = "Transmitiendo dentro de puerto";
        }
        if (Model.Reporte == "PORESTADO")
        {
            TipoReporte = "Transmitiendo fuera de puerto por estado";
        }
    }
}

<h4>Detalle Reporte Diario De Situación De Flota Pesquera</h4>

<div class="row col-12">
    <div class="col-6">
        <div class="dx-field row">
            <div class="dx-field-label col-5">Fecha:</div>
            <div class="dx-field-label col-7">
                @DateTime.Now.ToShortDateString()
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="dx-field row">
            <div class="dx-field-label col-5">Situación:</div>
            <div class="dx-field-label col-7">
                @TipoReporte
            </div>
        </div>
    </div>
</div>
<div class="row col-12">
    <div class="col-6">
        <div class="dx-field row">
            <div class="dx-field-label col-5">Cantidad:</div>
            <div class="dx-field-label col-7">
                @Model.ListaMarcadoresTabular.Count
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="dx-field row">
            <div class="dx-field-label col-5">Litoral:</div>
            <div class="dx-field-label col-7">
                @Model.Litoral
            </div>
        </div>
    </div>
</div>
<div class="row col-12">
    <div class="col-6">
        <div class="dx-field row">
            <div class="dx-field-label col-5">Pesquería:</div>
            <div class="dx-field-label col-7">
                @Model.Permiso
            </div>
        </div>
    </div>
    <div class="col-6">
        <a href="javascript:window.print();" class="btn btn-outline-secondary"><i class="fas fa-print fa-2x"></i></a>
    </div>
</div>

@(Html.DevExtreme().DataGrid<MASCore.ObtieneMarcadoresDetalle_Result>()
    .DataSource(Model.ListaMarcadoresTabular)
    .ShowColumnLines(true)
    .ShowRowLines(true)
    .RowAlternationEnabled(true)
    .ShowBorders(true)
    .ShowColumnHeaders(true)
    .WordWrapEnabled(true)
    .Columns(columns =>
    {
        columns.AddFor(m => m.Matricula).Caption("Matricula").AllowSorting(false).Alignment(HorizontalAlignment.Center);
        columns.AddFor(m => m.Embarcacion).Caption("Embarcación").AllowSorting(false).Alignment(HorizontalAlignment.Center);
        columns.AddFor(m => m.RNP).Caption("RNP").AllowSorting(false).Alignment(HorizontalAlignment.Center);
        columns.AddFor(m => m.RazonSocial).Caption("Razón Social").AllowSorting(false).Alignment(HorizontalAlignment.Center);
        columns.AddFor(m => m.PuertoBase).Caption("Puerto Base").AllowSorting(false).Alignment(HorizontalAlignment.Center);
        columns.AddFor(m => m.Estado).Caption("Estado").AllowSorting(false).Alignment(HorizontalAlignment.Center);
    })
)