﻿@{
    Layout = "~/Views/Shared/_PdfLayout.cshtml";
}
<paragraph style="font-family: Helvetica; font-size: 18; font-style: italic;">
	<chunk red="255" green="0" blue="0">@ViewBag.Title</chunk>
</paragraph>
<paragraph>
    <chunk style="font-family:Times;font-weight:bold;">Report Date: </chunk>
    <chunk style="font-family:Times;">@DateTime.Now.ToString("MM/dd/yyyy")</chunk>
</paragraph>
<paragraph>
    <chunk style="font-family:Times;font-weight:bold;">Report Time: </chunk>
    <chunk style="font-family:Times;">@DateTime.Now.ToString("hh:mm tt")</chunk>
</paragraph>
<table width="100%" cellpadding="1.0" cellspacing="1.0" widths="2;8;4;4" border="2" >
    <row>
	    <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true">
            <paragraph style="font-family: Helvetica; font-size: 14; font-style: italic;font-weight:bold;">
	            User Name
            </paragraph>                
        </cell>	   
        <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true">Description</cell>
	    <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" horizontalalign="right">Lucky Number</cell>
	    <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" horizontalalign="right">Doubled</cell>
    </row>
    <row>
	    <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true"  />
	    <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" colspan="2">Count</cell>
	    <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" horizontalalign="right">1</cell>
    </row>
</table>
<newline />
<paragraph leading="14.0" font="unknown" align="Default">
    You can also add images.
</paragraph>
<image url="@Context.Server.MapPath("~/Content/findHosting.png")"/>
<paragraph leading="14.0" font="unknown" align="Default">
    and do lists.
</paragraph>
<newline />
<list numbered="true" symbolindent="15" font="unknown">
    <listitem leading="18.0" font="Times" size="12.0" align="Default" indentationleft="15.0">
        <chunk font="Times" size="12.0">First item</chunk>
    </listitem>
    <listitem leading="18.0" font="Times" size="12.0" align="Default" indentationleft="15.0">
        <chunk font="Times" size="12.0">Second item</chunk>
    </listitem>
    <listitem leading="18.0" font="Times" size="12.0" align="Default" indentationleft="15.0">
        <chunk font="Times" size="12.0">Last item</chunk>
    </listitem>
</list>
