﻿@model MASCore.Models.ReporteEntradaSalidaPuerto

@{
    ViewBag.Title = "Reporte De Entrada y Salida del Puerto";
}

@{
    var litorales = new List<MASCore.Models.ResultadoDropDown> {
new MASCore.Models.ResultadoDropDown { Resultado = "Todos", ResultadoId = "" },
new MASCore.Models.ResultadoDropDown { Resultado = "Golfo", ResultadoId = "golfo" },
new MASCore.Models.ResultadoDropDown { Resultado = "Pacifico", ResultadoId = "pacifico" }
};
    Model.HoraFin = Model.HoraFin ?? "23:59";
    Model.HoraInicio = Model.HoraInicio ?? "00:00";
    Model.FechaInicio = new DateTime(Model.FechaInicio.Year, Model.FechaInicio.Month, Model.FechaInicio.Day, int.Parse(Model.HoraInicio.Split(':')[0]), int.Parse(Model.HoraInicio.Split(':')[1]), 0);
    Model.FechaFin = new DateTime(Model.FechaFin.Year, Model.FechaFin.Month, Model.FechaFin.Day, int.Parse(Model.HoraFin.Split(':')[0]), int.Parse(Model.HoraFin.Split(':')[1]), 0);
}

<script>
    function dateEndChanged(data) {
        var hour = "23:59"
        if (data.value != null) hour = data.value.toTimeString().split(' ')[0].substring(0, 5)
        $("#HoraFin").val(hour)
    }

    function dateStarChanged(data) {
        var hour = "00:00"
        if (data.value != null) hour = data.value.toTimeString().split(' ')[0].substring(0, 5)
        $("#HoraInicio").val(hour)
    }

    function validar() {
        $("#divErrorMessage").html("")
        var msg = ""

        if ($("#FechaInicio").dxDateBox("instance").option("value") == null || $("#FechaFin").dxDateBox("instance").option("value") == null) {
            msg += "El rango de fechas es obligatorio, deben indicarse ambas fechas, Inicial y Final<br/>"
        } else {
            if ($("#FechaInicio").dxDateBox("instance").option("value") > $("#FechaFin").dxDateBox("instance").option("value")) {
                msg += "La Fecha Inicial no debe ser mayor a la Fecha Final<br/>"
            }

            if (($("#FechaFin").dxDateBox("instance").option("value") - $("#FechaInicio").dxDateBox("instance").option("value")) >= 1728000000) {
                msg += "Seleccione un rango de fechas menor a 20 dias<br/>"
            }
        }

        if ($("#Litoral").dxSelectBox("instance").option("value") == null && $("#Embarcacion").dxAutocomplete("instance").option("value") == null && $("#RazonSocial").dxAutocomplete("instance").option("value") == null) {
            msg += "Seleccione uno de los siguientes filtros:<br/>Embarcación,<br/>Litoral,<br/>Razón Social"
        }

        if (msg.length == 0) $("#miforma").submit()
        else $("#divErrorMessage").html(msg)
    }
</script>

@using (Html.BeginForm("ReporteEntradaSalidaPuerto", "ReportesAvanzados", FormMethod.Post, new { @id = "miforma", @class= "form" }))
{
    <div style="text-align:center; color:Red;font-size:medium" id="divErrorMessage">
        @ViewBag.NoValidoPor
    </div>
    @Html.ValidationSummary(true)

    <article>
        <h1>Reporte De Entrada y Salida Del Puerto</h1>
    </article>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h4>Criterios de consulta</h4>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group">
                                <div class="row">
                                    <divc class="col-12">
                                        @(Html.DevExtreme().DateBoxFor(model => model.FechaInicio).Placeholder("Fecha Inicial").OnValueChanged("dateStarChanged").ShowAnalogClock(true).DisplayFormat("dd/MM/yyyy HH:mm").Type(DateBoxType.DateTime).PickerType(DateBoxPickerType.Calendar).Width("100%").ID("FechaInicio").ElementAttr("class", "form-control").ShowClearButton(true).InvalidDateMessage("Fecha no valida"))
                                        
                                    </divc>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-12">
                                        @(Html.DevExtreme().AutocompleteFor(model => model.Embarcacion).MinSearchLength(1).DataSource(d => d.Mvc().LoadAction("SearchResultadoGenerico_matriculanombrernp2")).Placeholder("Embarcacion").Width("100%").ID("Embarcacion").ElementAttr("class", "form-control").ShowClearButton(true))
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-12">
                                        @(Html.DevExtreme().SelectBoxFor(model => model.Litoral).Placeholder("-- Seleccione el litoral --").DisplayExpr("Resultado").ValueExpr("ResultadoId").DataSource(litorales).Width("100%").ID("Litoral").ElementAttr("class", "form-control").ShowClearButton(true))
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-12">
                                        @(Html.DevExtreme().DateBoxFor(model => model.FechaFin).Placeholder("Fecha Final").OnValueChanged("dateEndChanged").ShowAnalogClock(true).Type(DateBoxType.DateTime).PickerType(DateBoxPickerType.Calendar).Width("100%").ID("FechaFin").DisplayFormat("dd/MM/yyyy HH:mm").ElementAttr("class", "form-control").ShowClearButton(true).InvalidDateMessage("Fecha no valida"))
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-12">
                                        @(Html.DevExtreme().AutocompleteFor(model => model.RazonSocial).MinSearchLength(1).DataSource(d => d.Mvc().LoadAction("SearchResultadoGenerico_razonsocial")).Placeholder("Razón Social").Width("100%").ID("RazonSocial").ElementAttr("class", "form-control").ShowClearButton(true))
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-12">
                                        @(Html.DevExtreme().AutocompleteFor(model => model.Puerto).MinSearchLength(1).DataSource(d => d.Mvc().LoadAction("SearchResultadoGenerico_puertobase")).Placeholder("Puerto Base").Width("100%").ID("Puerto").ElementAttr("class", "form-control").ShowClearButton(true))
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.HiddenFor(m => m.HoraInicio)
    @Html.HiddenFor(m => m.HoraFin)

    <div class="row" style="text-align: right">
        <script>
            var urlComback = '@Url.Action("Index", "ReportesAvanzados")';
        </script>
        <div class="col-10"></div>
        <div class="col-1" style="padding-right:0">
            @(Html.DevExtreme().Button().Icon("fas fa-search").ID("btnConsultar").Type(ButtonType.Default).StylingMode(ButtonStylingMode.Contained).UseSubmitBehavior(false).OnClick(@"function(args){validar()}"))
            @(Html.DevExtreme().Tooltip().Target("#btnConsultar").ShowEvent("mouseenter").HideEvent("mouseleave").ContentTemplate("Consultar Información"))
        </div>
        <div class="col-1" style="padding-left:0;text-align:center">
            @(Html.DevExtreme().Button().Icon("fas fa-undo-alt").ID("btnAtras").Type(ButtonType.Default).StylingMode(ButtonStylingMode.Contained).UseSubmitBehavior(false).OnClick(@"function(args){comback(urlComback)}"))
            @(Html.DevExtreme().Tooltip().Target("#btnAtras").ShowEvent("mouseenter").HideEvent("mouseleave").ContentTemplate("Regresar a la página anterior"))
        </div>
    </div>

    <div>
        @if (Model.InfoReporteEntradaSalidaPuertoLista != null && Model.InfoReporteEntradaSalidaPuertoLista.Count() > 0)
        {
        <div class="x_panel">
            <div class="row">
                <div class="col-6" style="padding-right:0">
                    <div class="dx-fieldset">
                        <div class="row form-group">
                            <label class="col-5">Total Entradas</label>
                            <div class="col-7">
                                @Model.InfoReporteEntradaSalidaPuertoLista.Where(n => n.ENPUERTO == "ENTRADA").ToList().Count()
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6" style="padding-right:0">
                    <div class="dx-fieldset">
                        <div class="row form-group">
                            <label class="col-5">Total Salidas</label>
                            <div class="col-7">
                                @Model.InfoReporteEntradaSalidaPuertoLista.Where(n => n.ENPUERTO == "SALIDA").ToList().Count()
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @(Html.DevExtreme().DataGrid<MASCore.SPMasReportesAObtieneEntradasSalidas_Result>()
                .DataSource(Model.InfoReporteEntradaSalidaPuertoLista).ColumnHidingEnabled(true)
                .ShowColumnLines(true).ShowRowLines(true).RowAlternationEnabled(true).ShowBorders(true)
                .Pager(p => p.AllowedPageSizes(new int[] { 5, 8, 15, 30 }).ShowInfo(true)
                    .ShowNavigationButtons(true).ShowPageSizeSelector(true).Visible(true))
                .Paging(p => p.PageSize(5)).ShowColumnHeaders(true).WordWrapEnabled(true)
                .Columns(columns =>
                {
                    columns.AddFor(m => m.Nombre).Caption("Embarcación");
                    columns.AddFor(m => m.RNP).Caption("RNP");
                    columns.AddFor(m => m.DescripcionCorta).Caption("Litoral");
                    columns.AddFor(m => m.PuertoBase).Caption("Puerto");
                    columns.AddFor(m => m.FechaRecepcionUnitrac).Caption("Fecha E/S").Format("dd/MM/yyyy HH:mm");
                    columns.AddFor(m => m.ENPUERTO).Caption("Estatus E/S");
                })
            )
        </div>
        }
    </div>
}
