﻿@model MASCore.Models.ReporteSituacionFlotaPesquera

@{
    ViewBag.Title = "Reporte Diario de Situacion de Flota Pesquera";
}


<script type="text/javascript">
    $(function (){
        $('a.dialog').click(function() {
            var url = $(this).attr('href');
            var dialog = $('<div style="display:none"></div>').appendTo('body');
                dialog.load(url, {},
                function (responseText, textStatus, XMLHttpRequest) {
                    dialog.dialog({
                        close: function(event, ui) {
                            dialog.remove();
                        }
                    });
                });
            return false;
        });
    })
</script> 

<div id="titulo">
    <h3 style="color:#0F2C48;text-align:center"><u>-  Reporte Diario De Situación De Flota Pesquera  -</u></h3>
</div>


@using (Html.BeginForm("ReporteDiarioSituacionFlotaPesqueraTodosLosPermisos", "ReportesAvanzados", FormMethod.Post))
{
    @Html.ValidationSummary(true)

    <table style="border:0.08em solid black;border-collapse:collapse;width:100%">
        <tr>
            <td colspan="2" style="background-color:White;text-align:center;border:1px solid black;"> <b>SELECCIÓN DE PESQUERIAS</b>   </td>
        </tr>
        <tr>
            <td style="background-color:White;text-align:center;border:1px solid black;"> <b>PACIFICO  </b>   </td>
            <td style="text-align:center;border:1px solid black;">
                @Html.EditorFor(model => model.CamaronPacifico)  @Html.DisplayNameFor(model => model.CamaronPacifico) &nbsp &nbsp &nbsp
                @Html.EditorFor(model => model.CalamarPacifico)  @Html.DisplayNameFor(model => model.CalamarPacifico) &nbsp &nbsp &nbsp
                @Html.EditorFor(model => model.EscamaPacifico)  @Html.DisplayNameFor(model => model.EscamaPacifico) &nbsp &nbsp &nbsp
                @Html.EditorFor(model => model.LangostaPacifico)  @Html.DisplayNameFor(model => model.LangostaPacifico) &nbsp &nbsp &nbsp
                @Html.EditorFor(model => model.PulpoPacifico)  @Html.DisplayNameFor(model => model.PulpoPacifico) &nbsp &nbsp &nbsp
                @Html.EditorFor(model => model.TiburonPacifico)  @Html.DisplayNameFor(model => model.TiburonPacifico) &nbsp &nbsp &nbsp
                @Html.EditorFor(model => model.TunidosPacifico)  @Html.DisplayNameFor(model => model.TunidosPacifico) &nbsp &nbsp &nbsp
                <br />
                @Html.EditorFor(model => model.FomentoPacifico)  @Html.DisplayNameFor(model => model.FomentoPacifico) &nbsp &nbsp &nbsp
                @Html.EditorFor(model => model.AnchovetaPacifico)  @Html.DisplayNameFor(model => model.AnchovetaPacifico) &nbsp &nbsp &nbsp
                @Html.EditorFor(model => model.CangrejoPacifico)  @Html.DisplayNameFor(model => model.CangrejoPacifico) &nbsp &nbsp &nbsp
                @Html.EditorFor(model => model.JaibaPacifico)  @Html.DisplayNameFor(model => model.JaibaPacifico) &nbsp &nbsp &nbsp
                @Html.EditorFor(model => model.PezEspadaPacifico)  @Html.DisplayNameFor(model => model.PezEspadaPacifico) &nbsp &nbsp &nbsp
                @Html.EditorFor(model => model.PelagicosPacifico)  @Html.DisplayNameFor(model => model.PelagicosPacifico) &nbsp &nbsp &nbsp
                @Html.EditorFor(model => model.SardinaPacifico)  @Html.DisplayNameFor(model => model.SardinaPacifico) &nbsp &nbsp &nbsp


            </td>
        </tr>
        <tr>
            <td style="background-color:White;text-align:center;border:1px solid black;"> <b>GOLFO  </b>   </td>
            <td style="text-align:center;border:1px solid black;">
                @Html.EditorFor(model => model.CamaronGolfo)  @Html.DisplayNameFor(model => model.CamaronGolfo) &nbsp &nbsp &nbsp
                @Html.EditorFor(model => model.CalamarGolfo)  @Html.DisplayNameFor(model => model.CalamarGolfo) &nbsp &nbsp &nbsp
                @Html.EditorFor(model => model.EscamaGolfo)  @Html.DisplayNameFor(model => model.EscamaGolfo) &nbsp &nbsp &nbsp
                @Html.EditorFor(model => model.LangostaGolfo)  @Html.DisplayNameFor(model => model.LangostaGolfo) &nbsp &nbsp &nbsp
                @Html.EditorFor(model => model.PulpoGolfo)  @Html.DisplayNameFor(model => model.PulpoGolfo) &nbsp &nbsp &nbsp
                @Html.EditorFor(model => model.TiburonGolfo)  @Html.DisplayNameFor(model => model.TiburonGolfo) &nbsp &nbsp &nbsp
                @Html.EditorFor(model => model.TunidosGolfo)  @Html.DisplayNameFor(model => model.TunidosGolfo) &nbsp &nbsp &nbsp
                <br />
                @Html.EditorFor(model => model.FomentoGolfo)  @Html.DisplayNameFor(model => model.FomentoGolfo) &nbsp &nbsp &nbsp
                @Html.EditorFor(model => model.AnchovetaGolfo)  @Html.DisplayNameFor(model => model.AnchovetaGolfo) &nbsp &nbsp &nbsp
                @Html.EditorFor(model => model.CangrejoGolfo)  @Html.DisplayNameFor(model => model.CangrejoGolfo) &nbsp &nbsp &nbsp
                @Html.EditorFor(model => model.JaibaGolfo)  @Html.DisplayNameFor(model => model.JaibaGolfo) &nbsp &nbsp &nbsp
                @Html.EditorFor(model => model.PezEspadaGolfo)  @Html.DisplayNameFor(model => model.PezEspadaGolfo) &nbsp &nbsp &nbsp
                @Html.EditorFor(model => model.PelagicosGolfo)  @Html.DisplayNameFor(model => model.PelagicosGolfo) &nbsp &nbsp &nbsp
                @Html.EditorFor(model => model.SardinaGolfo)  @Html.DisplayNameFor(model => model.SardinaGolfo) &nbsp &nbsp &nbsp
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <table width="100%">
                    <tr>
                        <td style="font-size:small">
                            <b>
                                Criterios a considerar sobre el cálculo:
        </b>
        <br />
        1.	Solo se cuentan permisos vigentes.
        <br />
        2.	Anchoveta y Sardina se contabilizan en la fila Pelágicos Menores.
        <br />
        3.	Cangrejo y Jaiba se contabilizan en la  fila otros.
        <br />
        4.	Solo se contabilizan embarcaciones en estado transmitiendo.
    </td>

    <td align="right">
        <ul id="menu2">
            <li> <input type="submit" name="submitButton" value="Consultar" /></li>
            <li> @Html.ActionLink("Exportar", "GeneraReporteSituacionFlotaPesquera", "ReportesAvanzados") </li>
        </ul>
    </td>
</tr>
<tr>
    <td style="font-size:small">
        <b>
            Criterios a considerar en base a operación:
        </b>
        <br />
        1.	Solo se cuentan permisos vigentes.
        <br />
        2.	Se contabiliza un permiso por embarcación (En base a @Html.ActionLink("tabla de prioridades", "TabladePrioridades", "ReportesAvanzados", new { @class = "dialog", width = "600px" })).
        <br />
        3.	Anchoveta y Sardina se contabilizan en la fila Pelágicos Menores.
        <br />
        4.	Cangrejo y Jaiba se contabilizan en la fila otros.
    </td>
    <td></td>
</tr>
</table>
@*<td colspan="2" align="right">
                        <ul id="menu2">
                            <li> <input type="submit" name="submitButton" value="Consultar" /></li>
                            <li> @Html.ActionLink("Exportar", "GeneraReporteSituacionFlotaPesquera", "ReportesAvanzados") </li>
                        </ul>
                    </td>*@
</td>
</tr>
<tr align="center">
    <td colspan="2" style="background-color:darkgray;text-align:center; border:1px solid black;"><b>CÁLCULO EN BASE A PERMISOS</b></td>
</tr>

<tr align="center">
    @*<td colspan="2" style="background-color:White;text-align:center;border:1px solid black;"><b>REGISTRO DE PERMISOS Y EMBARCACIONES TRANSMITIENDO EN AMBOS LITORALES</b></td>*@
    <td colspan="2" style="background-color:White;text-align:center;border:1px solid black;"><b>REGISTRO DE EMBARCACIONES ASIGNADA POR PERMISOS EN AMBOS LITORALES</b></td>
</tr>
<tr align="center">
    <td colspan="2" style="text-align:center;border:1px solid black;">
        @{
    if (Model.TransmitiendoLista.Count() > 0)
    {
        <div style="margin-bottom: -300px; margin-left: 5%; width: 90%; height: 300px; background-image: url(../Images/marcadeagua.png); background-repeat: no-repeat; background-position: center; filter: alpha(opacity=10); -moz-opacity: .10; opacity: .10; ">

</div>
                    <div id="gridTransmitiendo" align="center" style=" position: relative">
                @{
        var gridTransmitiendo = new WebGrid(Model.TransmitiendoLista, rowsPerPage: 500, ajaxUpdateContainerId: "gridTransmitiendo");
                        }
                @gridTransmitiendo.GetHtml(
                    fillEmptyRows: false,
                    alternatingRowStyle: "fila-alternativa", tableStyle: "griddd",
                     headerStyle: "header",
                    footerStyle: "pie-grid",
                    mode: WebGridPagerModes.All,
                    firstText: "<< Primera",
                    previousText: "< Anterior",
                    nextText: "Siguiente >",
                    lastText: "Última >>",
                columns: gridTransmitiendo.Columns(
            //gridTransmitiendo.Column("Flota", header: " Flota | "),
              gridTransmitiendo.Column("Flota", header: " Flota | ", format: item => new HtmlString((string)item.Flota.ToString())),
            //gridTransmitiendo.Column("Pacifico", header: "Océano Pacífico"),
            gridTransmitiendo.Column("Pacifico", header: " Océano Pacífico |", format: @<text>@Html.ActionLink((string)item.Pacifico, "MarcadoresEarthPage", "ReportesAvanzados", new { Litoral = "PACIFICO", Reporte = "TX", Permiso = item.Flota.ToString().Replace("<b>", "").Replace("</b>", "") }, new { target = "_blank" })</text>),
            //gridTransmitiendo.Column("Golfo", header: "Golfo de México"),
            gridTransmitiendo.Column("Golfo", header: " Golfo de México |", format: @<text>@Html.ActionLink((string)item.Golfo, "MarcadoresEarthPage", "ReportesAvanzados", new { Litoral = "GOLFO", Reporte = "TX", Permiso = item.Flota.ToString().Replace("<b>", "").Replace("</b>", "") }, new { target = "_blank" })</text>),
                                                                             gridTransmitiendo.Column("Total", header: " Total")
            //gridTransmitiendo.Column("Total", format: @<text>@Html.ActionLink((string)item.Total, "Details", "ReportesAvanzados", new { id = item.Total }, new { target = "_blank" })</text>)
                                                                                                 )
                                                                                             )
                <ul id="menu2" style="display:inline;vertical-align:top;text-align:left">
                    <li> @Html.ActionLink("Imprimir Detalle Consolidado", "GeneraReporteDetalleTransmitiendo", "ReportesAvanzados")  </li>
                    <li> @Html.ActionLink("PDF", "GeneraReporteDetalleTransmitiendoPdf", "ReportesAvanzados", null, new { target = "_blank" }) </li>
                    <li>
                        &nbsp; <a href="@Url.Action("GenGrafTransmitiendoPacPastel", "ReportesAvanzados")" target="_blank">
                            @*<img src="../../Images/chart_pie.png" /> Pacífico *@
                            <img src="../../Images/chart_pie.png" /> Pacífico
                        </a>
                    </li>
                    <li>
                        &nbsp; <a href="@Url.Action("GenGrafTransmitiendoPacLineas", "ReportesAvanzados")" target="_blank">
                            <img src="../../Images/chart_line.png" style="height:22px;width:22px" />  Pacífico
                        </a>
                    </li>
                    <li>
                        &nbsp; <a href="@Url.Action("GenGrafTransmitiendoGolPastel", "ReportesAvanzados")" target="_blank">
                            <img src="../../Images/chart_pie.png" /> Golfo
                        </a>
                    </li>
                    <li>
                        &nbsp; <a href="@Url.Action("GenGrafTransmitiendoGolLineas", "ReportesAvanzados")" target="_blank">
                            <img src="../../Images/chart_line.png" style="height:22px;width:22px" />  Golfo
                        </a>
                    </li>
                </ul>
            </div>

    }
                }
    </td>
</tr>
<tr align="center">
    @*<td colspan="2" style="background-color:White;text-align:center;border:1px solid black;"><b>REGISTRO DE PERMISOS Y EMBARCACIONES EN LA MAR Y TRANSMITIENDO EN AMBOS LITORALES</b></td>*@
    <td colspan="2" style="background-color:White;text-align:center;border:1px solid black;"><b>REGISTRO DE PERMISOS Y EMBARCACIONES TRANSMITIENDO EN LA MAR EN AMBOS LITORALES</b></td>
</tr>
<tr align="center">
    <td colspan="2" align="center" style="text-align:center;border:1px solid black;">
        @{
    if (Model.OperandoyTransmitiendoLista.Count() > 0)
    {
        <div style="margin-bottom: -300px; margin-left: 5%; width: 90%; height: 300px; background-image: url(../Images/marcadeagua.png); background-repeat: no-repeat; background-position: center; filter: alpha(opacity=10); -moz-opacity: .10; opacity: .10; ">

</div>
                    <div id="gridOperandoyTransmitiendo" align="center" style=" position: relative">
                @{
        var gridOperandoyTransmitiendo = new WebGrid(Model.OperandoyTransmitiendoLista, rowsPerPage: 500, ajaxUpdateContainerId: "gridOperandoyTransmitiendo");
                        }
                @gridOperandoyTransmitiendo.GetHtml(
                    fillEmptyRows: false,
                    alternatingRowStyle: "fila-alternativa", tableStyle: "griddd",
                     headerStyle: "header",
                    footerStyle: "pie-grid",
                    mode: WebGridPagerModes.All,
                    firstText: "<< Primera",
                    previousText: "< Anterior",
                    nextText: "Siguiente >",
                    lastText: "Última >>",
                columns: gridOperandoyTransmitiendo.Columns(
            //gridOperandoyTransmitiendo.Column("Flota", header: " Flota | "),
                        gridOperandoyTransmitiendo.Column("Flota", header: " Flota | ", format: item => new HtmlString((string)item.Flota.ToString())),
            //gridOperandoyTransmitiendo.Column("Pacifico", header: "Océano Pacífico "),
            //gridOperandoyTransmitiendo.Column("Golfo", header: "Golfo de México "),
                        gridOperandoyTransmitiendo.Column("Pacifico", header: " Océano Pacífico |", format: @<text>@Html.ActionLink((string)item.Pacifico, "MarcadoresEarthPage", "ReportesAvanzados", new { Litoral = "PACIFICO", Reporte = "TXFUERAPUERTO", Permiso = item.Flota.ToString().Replace("<b>", "").Replace("</b>", "") }, new { target = "_blank" })</text>),
                        gridOperandoyTransmitiendo.Column("Golfo",header: " Golfo de México |", format: @<text>@Html.ActionLink((string)item.Golfo, "MarcadoresEarthPage", "ReportesAvanzados", new { Litoral = "GOLFO", Reporte = "TXFUERAPUERTO", Permiso = item.Flota.ToString().Replace("<b>", "").Replace("</b>", "") }, new { target = "_blank" })</text>),
                                                                                      gridOperandoyTransmitiendo.Column("Total", header: " Total")
                                                                              )
                                                                          )
                <ul id="menu2" style="display:inline;vertical-align:top;text-align:left">
                    <li> @Html.ActionLink("Imprimir Detalle Consolidado", "GeneraReporteDetalleOperandoyTransmitiendo", "ReportesAvanzados")  </li>
                    <li> @Html.ActionLink("PDF", "GeneraReporteDetalleOperandoyTransmitiendoPdf", "ReportesAvanzados", null, new { target = "_blank" }) </li>
                    <li>
                        &nbsp; <a href="@Url.Action("GenGrafOperandoTransmitiendoPacPastel", "ReportesAvanzados")" target="_blank">
                            <img src="../../Images/chart_pie.png" /> Pacífico
                        </a>
                    </li>
                    <li>
                        &nbsp; <a href="@Url.Action("GenGrafOperandoTransmitiendoPacLineas", "ReportesAvanzados")" target="_blank">
                            <img src="../../Images/chart_line.png" style="height:22px;width:22px" />  Pacífico
                        </a>
                    </li>
                    <li>
                        &nbsp; <a href="@Url.Action("GenGrafOperandoTransmitiendoGolPastel", "ReportesAvanzados")" target="_blank">
                            <img src="../../Images/chart_pie.png" /> Golfo
                        </a>
                    </li>
                    <li>
                        &nbsp; <a href="@Url.Action("GenGrafOperandoTransmitiendoGolLineas", "ReportesAvanzados")" target="_blank">
                            <img src="../../Images/chart_line.png" style="height:22px;width:22px" />  Golfo
                        </a>
                    </li>
                </ul>
            </div>
    }
                }

    </td>
</tr>
<tr align="center">
    @*<td colspan="2" style="background-color:White;text-align:center;border:1px solid black;"><b>REGISTRO DE PERMISOS Y EMBARCACIONES EN PUERTO Y TRANSMITIENDO EN AMBOS LITORALES</b></td>*@
    <td colspan="2" style="background-color:White;text-align:center;border:1px solid black;"><b>REGISTRO DE PERMISOS Y EMBARCACIONES TRANSMITIENDO EN PUERTO EN AMBOS LITORALES</b></td>
</tr>
<tr align="center">
    <td colspan="2" style="text-align:center;border:1px solid black;">
        @{
    if (Model.EnPuertoyTransmitiendoLista.Count() > 0)
    {
        <div style="margin-bottom: -300px; margin-left: 5%; width: 90%; height: 300px; background-image: url(../Images/marcadeagua.png); background-repeat: no-repeat; background-position: center; filter: alpha(opacity=10); -moz-opacity: .10; opacity: .10; ">

</div>
                    <div id="gridEnPuertoyTransmitiendo" align="center" style=" position: relative">
                @{
        var gridEnPuertoyTransmitiendo = new WebGrid(Model.EnPuertoyTransmitiendoLista, rowsPerPage: 500, ajaxUpdateContainerId: "gridEnPuertoyTransmitiendo");
                        }
                @gridEnPuertoyTransmitiendo.GetHtml(
                    fillEmptyRows: false,
                    alternatingRowStyle: "fila-alternativa", tableStyle: "griddd",
                     headerStyle: "header",
                    footerStyle: "pie-grid",
                    mode: WebGridPagerModes.All,
                    firstText: "<< Primera",
                    previousText: "< Anterior",
                    nextText: "Siguiente >",
                    lastText: "Última >>",
                columns: gridEnPuertoyTransmitiendo.Columns(
            //gridEnPuertoyTransmitiendo.Column("Flota", header: "Flota | "),
                          gridEnPuertoyTransmitiendo.Column("Flota", header: " Flota | ", format: item => new HtmlString((string)item.Flota.ToString())),
            //gridEnPuertoyTransmitiendo.Column("Pacifico", header: "Océano Pacífico"),
            //gridEnPuertoyTransmitiendo.Column("Golfo", header: "Golfo de México"),
                         gridEnPuertoyTransmitiendo.Column("Pacifico", header: " Océano Pacífico |", format: @<text>@Html.ActionLink((string)item.Pacifico, "MarcadoresEarthPage", "ReportesAvanzados", new { Litoral = "PACIFICO", Reporte = "TXENPUERTO", Permiso = item.Flota.ToString().Replace("<b>", "").Replace("</b>", "") }, new { target = "_blank" })</text> ),
                         gridEnPuertoyTransmitiendo.Column("Golfo", header: " Golfo de México |", format:@<text>@Html.ActionLink((string)item.Golfo, "MarcadoresEarthPage", "ReportesAvanzados", new { Litoral = "GOLFO", Reporte = "TXENPUERTO", Permiso = item.Flota.ToString().Replace("<b>", "").Replace("</b>", "") }, new { target = "_blank" })</text>),
                                                                                        gridEnPuertoyTransmitiendo.Column("Total", header: "Total")
                                                                                )
                                                                            )
                <ul id="menu2" style="display:inline;vertical-align:top;text-align:left">
                    <li> @Html.ActionLink("Imprimir Detalle Consolidado", "GeneraReporteDetalleEnPuertoyTransmitiendo", "ReportesAvanzados")  </li>
                    <li> @Html.ActionLink("PDF", "GeneraReporteDetalleEnPuertoyTransmitiendoPdf", "ReportesAvanzados", null, new { target = "_blank" }) </li>
                    <li>
                        &nbsp; <a href="@Url.Action("GenGrafPuertoTransmitiendoPacPastel", "ReportesAvanzados")" target="_blank">
                            <img src="../../Images/chart_pie.png" /> Pacífico
                        </a>
                    </li>
                    <li>
                        &nbsp; <a href="@Url.Action("GenGrafPuertoTransmitiendoPacLineas", "ReportesAvanzados")" target="_blank">
                            <img src="../../Images/chart_line.png" style="height:22px;width:22px" />  Pacífico
                        </a>
                    </li>
                    <li>
                        &nbsp; <a href="@Url.Action("GenGrafPuertoTransmitiendoGolPastel", "ReportesAvanzados")" target="_blank">
                            <img src="../../Images/chart_pie.png" /> Golfo
                        </a>
                    </li>
                    <li>
                        &nbsp; <a href="@Url.Action("GenGrafPuertoTransmitiendoGolLineas", "ReportesAvanzados")" target="_blank">
                            <img src="../../Images/chart_line.png" style="height:22px;width:22px" />  Golfo
                        </a>
                    </li>
                </ul>
            </div>

                    @*@Html.ActionLink("Imprimir Detalle", "GeneraReporteDetalleEnPuertoyTransmitiendo", "ReportesAvanzados")  *@
    }
    }
</td>
</tr>
            <tr align="center">
                @*<td colspan="2" style="background-color:White;text-align:center;border:1px solid black;"><b>REGISTRO DE PERMISOS Y EMBARCACIONES EN LA MAR Y TRANSMITIENDO POR ESTADO</b></td>*@
                <td colspan="2" style="background-color:White;text-align:center;border:1px solid black;"><b>REGISTRO DE PERMISOS DE EMBARCACIONES OPERANDO POR ESTADO</b></td>
            </tr>
            <tr align="center">
                <td colspan="2" style="text-align:center;border:1px solid black;">
                    @{
    if (Model.PorEstado.Count() > 0)
    {
        <div style="margin-bottom: -420px; margin-left: 5%; width: 90%; height: 420px; background-image: url(../Images/marcadeagua.png); background-repeat: no-repeat; background-position: center; filter: alpha(opacity=10); -moz-opacity: .10; opacity: .10; ">

</div>
                                <div id="gridPorEstado" align="center" style=" position: relative">
                            @{
        var gridPorEstado = new WebGrid(Model.PorEstado, rowsPerPage: 500, ajaxUpdateContainerId: "gridPorEstado");
                                    }
                            @gridPorEstado.GetHtml(
                    fillEmptyRows: false,
                    alternatingRowStyle: "fila-alternativa", tableStyle: "griddd",
                     headerStyle: "header",
                    footerStyle: "pie-grid",
                    mode: WebGridPagerModes.All,
                    firstText: "<< Primera",
                    previousText: "< Anterior",
                    nextText: "Siguiente >",
                    lastText: "Última >>",
                columns: gridPorEstado.Columns(
                        gridPorEstado.Column("Estado", header: "Estado"),
            //gridPorEstado.Column("Dispositivos", header: "Dispositivos")
                        gridPorEstado.Column("Dispositivos", header: " | Dispositivos ", format: @<text>@Html.ActionLink((string)item.Dispositivos, "MarcadoresEarthPage", "ReportesAvanzados", new { Litoral = "PACIFICO", Reporte = "PORESTADO", Permiso = item.Estado }, new { target = "_blank" })</text>)
            //gridOperandoyTransmitiendo.Column("Golfo", header: "Golfo"),
            //gridOperandoyTransmitiendo.Column("Total", header: "Total")
                                                                              )
                                                                          )
                            <ul id="menu2" style="display:inline;vertical-align:top;text-align:left">
                                <li> @Html.ActionLink("Imprimir Detalle Consolodado", "GeneraReporteDetalleOperandoyTransmitiendoPorEstado", "ReportesAvanzados")</li>
                                <li> @Html.ActionLink("PDF", "GeneraReporteDetalleOperandoyTransmitiendoPorEstadoPdf", "ReportesAvanzados", null, new { target = "_blank" }) </li>
                                <li>
                                    &nbsp; <a href="@Url.Action("GenGrafPorEdoPacPastel", "ReportesAvanzados")" target="_blank">
                                        <img src="../../Images/chart_pie.png" /> Pacífico
                                    </a>
                                </li>
                                <li>
                                    &nbsp; <a href="@Url.Action("GenGrafPorEdoPacLineas", "ReportesAvanzados")" target="_blank">
                                        <img src="../../Images/chart_line.png" style="height:22px;width:22px" />  Pacífico
                                    </a>
                                </li>
                                <li>
                                    &nbsp; <a href="@Url.Action("GenGrafPorEdoGolPastel", "ReportesAvanzados")" target="_blank">
                                        <img src="../../Images/chart_pie.png" /> Golfo
                                    </a>
                                </li>
                                <li>
                                    &nbsp; <a href="@Url.Action("GenGrafPorEdoGolLineas", "ReportesAvanzados")" target="_blank">
                                        <img src="../../Images/chart_line.png" style="height:22px;width:22px" />  Golfo
                                    </a>
                                </li>
                            </ul>
                        </div>

                                @* @Html.ActionLink("Imprimir Detalle", "GeneraReporteDetalleOperandoyTransmitiendoPorEstado", "ReportesAvanzados")*@
    }

<tr align="center">

@* Inician los calculos con los SP_Prioridad modificados*@
<td colspan="2" style="background-color:darkgray;text-align:center; border:1px solid black;"><b>CÁLCULO EN BASE A OPERACIÓN</b></td>
</tr>
                                <tr align="center">
                                @*<td colspan="2" style="background-color:White;text-align:center;border:1px solid black;"><b>REGISTRO DE PERMISOS Y EMBARCACIONES TRANSMITIENDO EN AMBOS LITORALES</b></td>*@
                                <td colspan="2" style="background-color:White;text-align:center;border:1px solid black;"><b>REGISTRO POR EMBARCACIÓN TRANSMITIENDO EN AMBOS LITORALES</b></td>
                            </tr>
                                <tr align="center">
                                <td colspan="2" style="text-align:center;border:1px solid black;">
                                    @{

   try
   {
    if (Model.TransmitiendoListaPrioridad.Count() > 0)
    {
        <div style="margin-bottom: -300px; margin-left: 5%; width: 90%; height: 300px; background-image: url(../Images/marcadeagua.png); background-repeat: no-repeat; background-position: center; filter: alpha(opacity=10); -moz-opacity: .10; opacity: .10; ">

    </div>
    <div id="gridTransmitiendoP" align="center" style=" position: relative">
    @{
        var gridTransmitiendoP = new WebGrid(Model.TransmitiendoListaPrioridad, rowsPerPage: 500, ajaxUpdateContainerId: "gridTransmitiendoP");
        }
    @gridTransmitiendoP.GetHtml(
                    fillEmptyRows: false,
                    alternatingRowStyle: "fila-alternativa", tableStyle: "griddd",
                     headerStyle: "header",
                    footerStyle: "pie-grid",
                    mode: WebGridPagerModes.All,
                    firstText: "<< Primera",
                    previousText: "< Anterior",
                    nextText: "Siguiente >",
                    lastText: "Última >>",
columns: gridTransmitiendoP.Columns(
            //gridTransmitiendo.Column("Flota", header: " Flota | "),
gridTransmitiendoP.Column("Flota", header: " Flota | ", format: item => new HtmlString((string)item.Flota.ToString())),
            //gridTransmitiendo.Column("Pacifico", header: "Océano Pacífico"),
gridTransmitiendoP.Column("Pacifico", header: " Océano Pacífico |", format: @<text>@Html.ActionLink((string)item.Pacifico, "MarcadoresEarthPage", "ReportesAvanzados", new { Litoral = "PACIFICO", Reporte = "TXP", Permiso = item.Flota.ToString().Replace("<b>", "").Replace("</b>", "") }, new { target = "_blank" })</text>),
            //gridTransmitiendo.Column("Golfo", header: "Golfo de México"),
gridTransmitiendoP.Column("Golfo", header: " Golfo de México |", format: @<text>@Html.ActionLink((string)item.Golfo, "MarcadoresEarthPage", "ReportesAvanzados", new { Litoral = "GOLFO", Reporte = "TXP", Permiso = item.Flota.ToString().Replace("<b>", "").Replace("</b>", "") }, new { target = "_blank" })</text>),
gridTransmitiendoP.Column("Total", header: " Total")
            //gridTransmitiendo.Column("Total", format: @<text>@Html.ActionLink((string)item.Total, "Details", "ReportesAvanzados", new { id = item.Total }, new { target = "_blank" })</text>)
                                                       )
                                                   )
    <ul id="menu2" style="display:inline;vertical-align:top;text-align:left">
        <li> @Html.ActionLink("Imprimir Detalle Consolidado", "GeneraReporteDetalleTransmitiendoPrioridad", "ReportesAvanzados")  </li>
        <li> @Html.ActionLink("PDF", "GeneraReporteDetalleTransmitiendoPrioridadPdf", "ReportesAvanzados", null, new { target = "_blank" }) </li>
        <li>
            &nbsp; <a href="@Url.Action("GenGrafTransmitiendoPacPastelPrioridad", "ReportesAvanzados")" target="_blank">
                <img src="../../Images/chart_pie.png" /> Pacífico
            </a>
        </li>
        <li>
            &nbsp; <a href="@Url.Action("GenGrafTransmitiendoPacLineasPrioridad", "ReportesAvanzados")" target="_blank">
                <img src="../../Images/chart_line.png" style="height:22px;width:22px" />  Pacífico
            </a>
        </li>
        <li>
            &nbsp; <a href="@Url.Action("GenGrafTransmitiendoGolPastelPrioridad", "ReportesAvanzados")" target="_blank">
                <img src="../../Images/chart_pie.png" /> Golfo
            </a>
        </li>
        <li>
            &nbsp; <a href="@Url.Action("GenGrafTransmitiendoGolLineasPrioridad", "ReportesAvanzados")" target="_blank">
                <img src="../../Images/chart_line.png" style="height:22px;width:22px" />  Golfo
            </a>
        </li>
    </ul>
</div>

    }
   }
   catch (Exception ex)
   { }
}
                                </td>
                            </tr>
                                <tr align="center">
                                @*<td colspan="2" style="background-color:White;text-align:center;border:1px solid black;"><b>REGISTRO DE PERMISOS Y EMBARCACIONES EN LA MAR Y TRANSMITIENDO EN AMBOS LITORALES</b></td>*@
                                <td colspan="2" style="background-color:White;text-align:center;border:1px solid black;"><b>REGISTRO POR EMBARCACIÓN TRANSMITIENDO EN LA MAR EN AMBOS LITORALES</b></td>
                            </tr>
                                <tr align="center">
                                <td colspan="2" align="center" style="text-align:center;border:1px solid black;">
                                    @{
    if (Model.OperandoyTransmitiendoPrioridad.Count() > 0)
    {
        <div style="margin-bottom: -300px; margin-left: 5%; width: 90%; height: 300px; background-image: url(../Images/marcadeagua.png); background-repeat: no-repeat; background-position: center; filter: alpha(opacity=10); -moz-opacity: .10; opacity: .10; ">

    </div>
                                            <div id="gridOperandoyTransmitiendo" align="center" style=" position: relative">
                                            @{
        var gridOperandoyTransmitiendoPrioridad = new WebGrid(Model.OperandoyTransmitiendoPrioridad, rowsPerPage: 500, ajaxUpdateContainerId: "gridOperandoyTransmitiendoPrioridad");
                                                }
                                            @gridOperandoyTransmitiendoPrioridad.GetHtml(
                    fillEmptyRows: false,
                    alternatingRowStyle: "fila-alternativa", tableStyle: "griddd",
                     headerStyle: "header",
                    footerStyle: "pie-grid",
                    mode: WebGridPagerModes.All,
                    firstText: "<< Primera",
                    previousText: "< Anterior",
                    nextText: "Siguiente >",
                    lastText: "Última >>",
columns: gridOperandoyTransmitiendoPrioridad.Columns(
            //gridOperandoyTransmitiendo.Column("Flota", header: " Flota | "),
gridOperandoyTransmitiendoPrioridad.Column("Flota", header: " Flota | ", format: item => new HtmlString((string)item.Flota.ToString())),
            //gridOperandoyTransmitiendo.Column("Pacifico", header: "Océano Pacífico "),
            //gridOperandoyTransmitiendo.Column("Golfo", header: "Golfo de México "),
gridOperandoyTransmitiendoPrioridad.Column("Pacifico", header: " Océano Pacífico |", format: @<text>@Html.ActionLink((string)item.Pacifico, "MarcadoresEarthPage", "ReportesAvanzados", new { Litoral = "PACIFICO", Reporte = "TXFUERAPUERTOP", Permiso = item.Flota.ToString().Replace("<b>", "").Replace("</b>", "") }, new { target = "_blank" })</text>),
gridOperandoyTransmitiendoPrioridad.Column("Golfo", header: " Golfo de México |", format: @<text>@Html.ActionLink((string)item.Golfo, "MarcadoresEarthPage", "ReportesAvanzados", new { Litoral = "GOLFO", Reporte = "TXFUERAPUERTOP", Permiso = item.Flota.ToString().Replace("<b>", "").Replace("</b>", "") }, new { target = "_blank" })</text>),
                                                        gridOperandoyTransmitiendoPrioridad.Column("Total", header: " Total")
                                                                                       )
                                                                                   )
                                            <ul id="menu2" style="display:inline;vertical-align:top;text-align:left">
                                                <li> @Html.ActionLink("Imprimir Detalle Consolidado", "GeneraReporteDetalleOperandoyTransmitiendoPrioridad", "ReportesAvanzados")  </li>
                                                <li> @Html.ActionLink("PDF", "GeneraReporteDetalleOperandoyTransmitiendoPrioridadPdf", "ReportesAvanzados", null, new { target = "_blank" }) </li>
                                                <li>
                                                    &nbsp; <a href="@Url.Action("GenGrafOperandoTransmitiendoPacPastel", "ReportesAvanzados")" target="_blank">
                                                        <img src="../../Images/chart_pie.png" /> Pacífico
                                                    </a>
                                                </li>
                                                <li>
                                                    &nbsp; <a href="@Url.Action("GenGrafOperandoTransmitiendoPacLineas", "ReportesAvanzados")" target="_blank">
                                                        <img src="../../Images/chart_line.png" style="height:22px;width:22px" />  Pacífico
                                                    </a>
                                                </li>
                                                <li>
                                                    &nbsp; <a href="@Url.Action("GenGrafOperandoTransmitiendoGolPastel", "ReportesAvanzados")" target="_blank">
                                                        <img src="../../Images/chart_pie.png" /> Golfo
                                                    </a>
                                                </li>
                                                <li>
                                                    &nbsp; <a href="@Url.Action("GenGrafOperandoTransmitiendoGolLineas", "ReportesAvanzados")" target="_blank">
                                                        <img src="../../Images/chart_line.png" style="height:22px;width:22px" />  Golfo
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
    }
                                        }

                                </td>
                            </tr>
                                <tr align="center">
                                @*<td colspan="2" style="background-color:White;text-align:center;border:1px solid black;"><b>REGISTRO DE PERMISOS Y EMBARCACIONES EN PUERTO Y TRANSMITIENDO EN AMBOS LITORALES</b></td>*@
                                <td colspan="2" style="background-color:White;text-align:center;border:1px solid black;"><b>REGISTRO POR EMBARCACIÓN TRANSMITIENDO EN PUERTO EN AMBOS LITORALES</b></td>
                            </tr>
                                <tr align="center">
                                <td colspan="2" style="text-align:center;border:1px solid black;">
                                    @{
    if (Model.EnPuertoyTransmitiendoListaPrioridad.Count() > 0)
    {
        <div style="margin-bottom: -300px; margin-left: 5%; width: 90%; height: 300px; background-image: url(../Images/marcadeagua.png); background-repeat: no-repeat; background-position: center; filter: alpha(opacity=10); -moz-opacity: .10; opacity: .10; ">

    </div>
        try
        {
            <div id="gridEnPuertoyTransmitiendoP" align="center" style=" position: relative">
            @{

            var gridEnPuertoyTransmitiendoP = new WebGrid(Model.EnPuertoyTransmitiendoListaPrioridad, rowsPerPage: 500, ajaxUpdateContainerId: "gridEnPuertoyTransmitiendoP");
                }
            @gridEnPuertoyTransmitiendoP.GetHtml(
                    fillEmptyRows: false,
                    alternatingRowStyle: "fila-alternativa", tableStyle: "griddd",
                     headerStyle: "header",
                    footerStyle: "pie-grid",
                    mode: WebGridPagerModes.All,
                    firstText: "<< Primera",
                    previousText: "< Anterior",
                    nextText: "Siguiente >",
                    lastText: "Última >>",
                 columns: gridEnPuertoyTransmitiendoP.Columns(
                //gridEnPuertoyTransmitiendo.Column("Flota", header: "Flota | "),
                           gridEnPuertoyTransmitiendoP.Column("Flota", header: " Flota | ", format: item => new HtmlString((string)item.Flota.ToString())),
                //gridEnPuertoyTransmitiendo.Column("Pacifico", header: "Océano Pacífico"),
                //gridEnPuertoyTransmitiendo.Column("Golfo", header: "Golfo de México"),
                          gridEnPuertoyTransmitiendoP.Column("Pacifico", header: " Océano Pacífico |", format: @<text>@Html.ActionLink((string)item.Pacifico, "MarcadoresEarthPage", "ReportesAvanzados", new { Litoral = "PACIFICO", Reporte = "TXENPUERTOP", Permiso = item.Flota.ToString().Replace("<b>", "").Replace("</b>", "") }, new { target = "_blank" })</text> ),
                                            gridEnPuertoyTransmitiendoP.Column("Golfo", header: " Golfo de México |", format: @<text>@Html.ActionLink((string)item.Golfo, "MarcadoresEarthPage", "ReportesAvanzados", new { Litoral = "GOLFO", Reporte = "TXENPUERTOP", Permiso = item.Flota.ToString().Replace("<b>", "").Replace("</b>", "") }, new { target = "_blank" })</text>),
                                                                                                                         gridEnPuertoyTransmitiendoP.Column("Total", header: "Total")
                                                                            )
                                                                        )
            <ul id="menu2" style="display:inline;vertical-align:top;text-align:left">
                <li> @Html.ActionLink("Imprimir Detalle Consolidado", "GeneraReporteDetalleEnPuertoyTransmitiendoPrioridad", "ReportesAvanzados")  </li>
                <li> @Html.ActionLink("PDF", "GeneraReporteDetalleEnPuertoyTransmitiendoPrioridadPdf", "ReportesAvanzados", null, new { target = "_blank" }) </li>
                <li>
                    &nbsp; <a href="@Url.Action("GenGrafPuertoTransmitiendoPacPastelPrioridad", "ReportesAvanzados")" target="_blank">
                        <img src="../../Images/chart_pie.png" /> Pacífico
                    </a>
                </li>
                <li>
                    &nbsp; <a href="@Url.Action("GenGrafPuertoTransmitiendoPacLineasPrioridad", "ReportesAvanzados")" target="_blank">
                        <img src="../../Images/chart_line.png" style="height:22px;width:22px" />  Pacífico
                    </a>
                </li>
                <li>
                    &nbsp; <a href="@Url.Action("GenGrafPuertoTransmitiendoGolPastelPrioridad", "ReportesAvanzados")" target="_blank">
                        <img src="../../Images/chart_pie.png" /> Golfo
                    </a>
                </li>
                <li>
                    &nbsp; <a href="@Url.Action("GenGrafPuertoTransmitiendoGolLineasPrioridad", "ReportesAvanzados")" target="_blank">
                        <img src="../../Images/chart_line.png" style="height:22px;width:22px" />  Golfo
                    </a>
                </li>
            </ul>
        </div>
        }
        catch (Exception)
        {

        }
                                            @*@Html.ActionLink("Imprimir Detalle", "GeneraReporteDetalleEnPuertoyTransmitiendo", "ReportesAvanzados")  *@
    }
                                        }
                                </td>
                            </tr>
                                @*Inicia*@


                                <tr align="center">
                                <td colspan="2" style="background-color:White;text-align:center;border:1px solid black;"><b>EMBARCACIONES QUE DEJARON DE TRANSMITIR EN LA MAR,  EN AMBOS LITORALES</b></td>
                            </tr>
                                <tr align="center">
                                <td colspan="2" align="center" style="text-align:center;border:1px solid black;">
                                    @{
    try
    {
    if (Model.DejaronTransmitir.Count() > 0)
    {
        <div style="margin-bottom: -300px; margin-left: 5%; width: 90%; height: 300px; background-image: url(../Images/marcadeagua.png); background-repeat: no-repeat; background-position: center; filter: alpha(opacity=10); -moz-opacity: .10; opacity: .10; ">

    </div>

                                            <div id="gridDejaronTransmitir" align="center" style=" position: relative">
                                            @{
    var gridDejaronTransmitir = new WebGrid(Model.DejaronTransmitir, rowsPerPage: 500, ajaxUpdateContainerId: "gridDejaronTransmitir");
                                                }
                                            @gridDejaronTransmitir.GetHtml(
                    fillEmptyRows: false,
                    alternatingRowStyle: "fila-alternativa", tableStyle: "griddd",
                     headerStyle: "header",
                    footerStyle: "pie-grid",
                    mode: WebGridPagerModes.All,
                    firstText: "<< Primera",
                    previousText: "< Anterior",
                    nextText: "Siguiente >",
                    lastText: "Última >>",
                            columns: gridDejaronTransmitir.Columns(
                               gridDejaronTransmitir.Column("Pacifico", header: " Océano Pacifico | ", format: item => new HtmlString((string)item.pacifico.ToString())),
                               gridDejaronTransmitir.Column("Golfo", header: " Golfo de México | ", format: item => new HtmlString((string)item.golfo.ToString())),
                               gridDejaronTransmitir.Column("Total", header: " Total ", format: item => new HtmlString((string)item.Total.ToString()))

                                                                                                      )
                                                                                                      )

                                            <ul id="menu2" style="display:inline;vertical-align:top;text-align:left">
                                                <li> @Html.ActionLink("Imprimir Detalle Consolidado", "GeneraReporteDetalleDejarondeTransmitir", "ReportesAvanzados")  </li>
                                                <li> @Html.ActionLink("PDF", "GeneraReporteDetalleDejarondeTransmitirPdf", "ReportesAvanzados", null, new { target = "_blank" }) </li>
                                                <li>
                                                    &nbsp; <a href="@Url.Action("GenGrafDejarondeTransmitirPacPastel", "ReportesAvanzados")" target="_blank">
                                                        <img src="../../Images/chart_pie.png" /> Pacífico
                                                    </a>
                                                </li>
                                                <li>
                                                    &nbsp; <a href="@Url.Action("GenGrafDejarondeTransmitirPacLineas", "ReportesAvanzados")" target="_blank">
                                                        <img src="../../Images/chart_line.png" style="height:22px;width:22px" />  Pacífico
                                                    </a>
                                                </li>
                                                <li>
                                                    &nbsp; <a href="@Url.Action("GenGrafDejarondeTransmitirGolPastel", "ReportesAvanzados")" target="_blank">
                                                        <img src="../../Images/chart_pie.png" /> Golfo
                                                    </a>
                                                </li>
                                                <li>
                                                    &nbsp; <a href="@Url.Action("GenGrafDejarondeTransmitirGolLineas", "ReportesAvanzados")" target="_blank">
                                                        <img src="../../Images/chart_line.png" style="height:22px;width:22px" />  Golfo
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
    }
    }
    catch(Exception e)
    { }
                                        }

                                </td>
                            </tr>
    @*Termina*@

                                            @*Inicia*@

                                    <tr align="center">
                                    <td colspan="2" style="background-color:White;text-align:center;border:1px solid black;"><b>EMBARCACIONES QUE DEJARON DE TRANSMITIR EN PUERTO, EN AMBOS LITORALES</b></td>
                                </tr>
                                            <tr align="center">
                                            <td colspan="2" align="center" style="text-align:center;border:1px solid black;">
                                                @{
    try {
    if (Model.DejaronTransmitirPuerto.Count() != null)
    {
        <div style="margin-bottom: -300px; margin-left: 5%; width: 90%; height: 300px; background-image: url(../Images/marcadeagua.png); background-repeat: no-repeat; background-position: center; filter: alpha(opacity=10); -moz-opacity: .10; opacity: .10; ">

    </div>
                                                        <div id="gridDejaronTransmitirPuerto" align="center" style=" position: relative">
                                                        @{
        var gridDejaronTransmitirPuerto = new WebGrid(Model.DejaronTransmitirPuerto, rowsPerPage: 500, ajaxUpdateContainerId: "gridDejaronTransmitirPuerto");
                                                            }
                                                        @gridDejaronTransmitirPuerto.GetHtml(
                    fillEmptyRows: false,
                    alternatingRowStyle: "fila-alternativa", tableStyle: "griddd",
                     headerStyle: "header",
                    footerStyle: "pie-grid",
                    mode: WebGridPagerModes.All,
                    firstText: "<< Primera",
                    previousText: "< Anterior",
                    nextText: "Siguiente >",
                    lastText: "Última >>",
                                 columns: gridDejaronTransmitirPuerto.Columns(
                                    gridDejaronTransmitirPuerto.Column("Pacifico", header: " Océano Pacifico | ", format: item => new HtmlString((string)item.pacifico.ToString())),
                                    gridDejaronTransmitirPuerto.Column("Golfo", header: " Golfo de México | ", format: item => new HtmlString((string)item.golfo.ToString())),
                                    gridDejaronTransmitirPuerto.Column("Total", header: " Total ", format: item => new HtmlString((string)item.Total.ToString()))

                                                                                                      )
                                                                                                      )

                                                        <ul id="menu2" style="display:inline;vertical-align:top;text-align:left">
                                                            <li> @Html.ActionLink("Imprimir Detalle Consolidado", "GeneraReporteDetalleDejarondeTransmitirPuerto", "ReportesAvanzados")  </li>
                                                            <li> @Html.ActionLink("PDF", "GeneraReporteDetalleDejarondeTransmitirPuertoPdf", "ReportesAvanzados", null, new { target = "_blank" }) </li>
                                                            <li>
                                                                &nbsp; <a href="@Url.Action("GenGrafDejarondeTransmitirPacPuertoPastel", "ReportesAvanzados")" target="_blank">
                                                                    <img src="../../Images/chart_pie.png" /> Pacífico
                                                                </a>
                                                            </li>
                                                            <li>
                                                                &nbsp; <a href="@Url.Action("GenGrafDejarondeTransmitirPacPuertoLineas", "ReportesAvanzados")" target="_blank">
                                                                    <img src="../../Images/chart_line.png" style="height:22px;width:22px" />  Pacífico
                                                                </a>
                                                            </li>
                                                            <li>
                                                                &nbsp; <a href="@Url.Action("GenGrafDejarondeTransmitirGolPuertoPastel", "ReportesAvanzados")" target="_blank">
                                                                    <img src="../../Images/chart_pie.png" /> Golfo
                                                                </a>
                                                            </li>
                                                            <li>
                                                                &nbsp; <a href="@Url.Action("GenGrafDejarondeTransmitirGolPuertoLineas", "ReportesAvanzados")" target="_blank">
                                                                    <img src="../../Images/chart_line.png" style="height:22px;width:22px" />  Golfo
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
    }
    }
    catch(Exception ex)
    {

    }
                                                    }

                                            </td>
                                        </tr>


                                            @*Termina*@

    @*Inicia*@

    <tr align="center">
        <td colspan="2" style="background-color:White;text-align:center;border:1px solid black;"><b>TOTAL DE EMBARCACIONES TRANSMITIENDO Y SIN TRANSMITIR</b></td>
    </tr>
    <tr align="center">
        <td colspan="2" align="center" style="text-align:center;border:1px solid black;">
            @{
    try
    {
        if (Model.Totales.Count() != null)
        {
            <div style="margin-bottom: -300px; margin-left: 5%; width: 90%; height: 300px; background-image: url(../Images/marcadeagua.png); background-repeat: no-repeat; background-position: center; filter: alpha(opacity=10); -moz-opacity: .10; opacity: .10; ">

            </div>
                <div id="gridTotales" align="center" style=" position: relative">
                    @{
            var gridTotales = new WebGrid(Model.Totales, ajaxUpdateContainerId: "gridTotales");
                    }
                    @gridTotales.GetHtml(fillEmptyRows: false, alternatingRowStyle: "fila-alternativa", tableStyle: "griddd", headerStyle: "header",
                    footerStyle: "pie-grid", mode: WebGridPagerModes.All, firstText: "<< Primera", previousText: "< Anterior", nextText: "Siguiente >", 
                    lastText: "Última >>",
                    columns: gridTotales.Columns(
                    gridTotales.Column("Transmitiendo", header: " Transmitiendo | ", format: item => new HtmlString((string)item.Transmitiendo.ToString())),
                                 gridTotales.Column("SinTransmision", header: " Sin Transmicion | ", format: item => new HtmlString((string)item.SinTransmision.ToString())),
                                 gridTotales.Column("Total", header: " Total ", format: item => new HtmlString((string)item.Total.ToString()))

                                                                                                      )
                                                                                                      )

                    @*<ul id="menu2" style="display:inline;vertical-align:top;text-align:left">
                        <li> @Html.ActionLink("Imprimir Detalle Consolidado", "GeneraReporteDetalleDejarondeTransmitirPuerto", "ReportesAvanzados")  </li>
                        <li> @Html.ActionLink("PDF", "GeneraReporteDetalleDejarondeTransmitirPuertoPdf", "ReportesAvanzados", null, new { target = "_blank" }) </li>
                        <li>
                            &nbsp; <a href="@Url.Action("GenGrafDejarondeTransmitirPacPuertoPastel", "ReportesAvanzados")" target="_blank">
                                <img src="../../Images/chart_pie.png" /> Pacífico
                            </a>
                        </li>
                        <li>
                            &nbsp; <a href="@Url.Action("GenGrafDejarondeTransmitirPacPuertoLineas", "ReportesAvanzados")" target="_blank">
                                <img src="../../Images/chart_line.png" style="height:22px;width:22px" />  Pacífico
                            </a>
                        </li>
                        <li>
                            &nbsp; <a href="@Url.Action("GenGrafDejarondeTransmitirGolPuertoPastel", "ReportesAvanzados")" target="_blank">
                                <img src="../../Images/chart_pie.png" /> Golfo
                            </a>
                        </li>
                        <li>
                            &nbsp; <a href="@Url.Action("GenGrafDejarondeTransmitirGolPuertoLineas", "ReportesAvanzados")" target="_blank">
                                <img src="../../Images/chart_line.png" style="height:22px;width:22px" />  Golfo
                            </a>
                        </li>
                    </ul>*@
                </div>
        }
    }
    catch (Exception ex)
    {

    }
            }

        </td>
    </tr>


    @*Termina*@
}


                                    @*</td>
                                            </tr>*@

                                </table>


    @* <p>
            <input type="submit" value="Create" />
        </p>*@

}


<div>
@Html.ActionLink("Opciones Reportes Avanzados", "Index", "ReportesAvanzados")
</div>

@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@








<script type="text/javascript">


    //$(document).ready(function () {
    //    $("#content tbody tr").each(function (i, row) {
    //        var $actualRow = $(row);
    //        if ($actualRow.find('td').indexOf("Total") > -1) {
    //            $actualRow.css('background-color', '#EAF2D3');
    //        }
    //        else {
    //            $actualRow.css('background-color', '#FF9E9E');
    //        }
    //    });
    //});

    window.onload = function(){
        //alert('aaaaa');
        //$("#content tbody tr").each(function (i, row) {
        //    var $actualRow = $(row);
        //    if ($actualRow.find('td').indexOf("Total") > -1) {
        //        $actualRow.css('background-color', '#EAF2D3');
        //    }
        //    else {
        //        $actualRow.css('background-color', '#FF9E9E');
        //    }
        //});

        //$(".webGrid").find("table").find("tr").each(function () {
        //    alert('entro en un webgrid');
        //    if ($(this).find("td").text().indexOf("Total") > -1 ) {
        //        //change font color
        //        $(this).css("color", "red");
        //    }
        //});

        $('tr').each(function (index) { //iterate over all table rows
            if (index > 0) {     //skip header
                //alert($(this).children('td:nth-child(2)').text());
                //if ($(this).find("td").text().indexOf("Total") > -1 ) {
                //            //change font color
                //            $(this).css("color", "red");
                //}

                if ($(this).children('td:nth-child(1)').text().toUpperCase().indexOf("TOTAL") > -1)  //look for the 3rd td in each row. thats where your age is.
                {
                    //$(this).children('td:nth-child(1)').css("font-weight", "bold");
                    $(this).children('td:nth-child(2)').css("font-weight", "bold");
                    $(this).children('td:nth-child(3)').css("font-weight", "bold");
                    $(this).children('td:nth-child(4)').css("font-weight", "bold");
                }

                //if ($(this).children('td:nth-child(3)').text() < 31)  //look for the 3rd td in each row. thats where your age is.
                //{
                //    $(this).children('td:nth-child(3)').css("background-color","green");
                //}
                //else if ($(this).children('td:nth-child(3)').text() < 41)
                //{
                //    $(this).children('td:nth-child(3)').css("background-color", "yellow");
                //}
                //else
                //{
                //    $(this).children('td:nth-child(3)').css("background-color", "red");
                //}
            }
        });



    }

</script>