﻿@model MASCore.Models.ReporteDentroYFueraPuertoM

@{
    /**/

    ViewBag.Title = "Reporte Embarcaciones dentro y fuera de puerto";
}

@using (Html.BeginForm("ReporteDentroYFueraPuerto", "ReportesAvanzados", FormMethod.Post))
{
    @Html.ValidationSummary(true)
    <article>
        <h1>Reporte Embarcaciones dentro y fuera de puerto</h1>
    </article>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h4>Criterios de consulta</h4>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-6" style="padding-right: 0;padding-top: 5px;">
                                        @(Html.DevExtreme().SwitchFor(model => model.TodosBol).ID("TodosBol").OnValueChanged("sumarizacion_checked").Width("40%").ElementAttr("class", "form-control"))
                                    </div>
                                    <div class="col-6" style="padding-top:8px">
                                        @Html.LabelFor(model => model.TodosBol)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-5" style="padding-right: 0;padding-top: 5px;">
                                        @(Html.DevExtreme().SwitchFor(model => model.DentroPuerto).ID("DentroPuerto").Width("50%").ElementAttr("class", "form-control"))
                                    </div>
                                    <div class="col-7" style="padding-top:8px">
                                        @Html.Label("Dentro de Puerto")
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-5" style="padding-right: 0;padding-top: 5px;">
                                        @(Html.DevExtreme().SwitchFor(model => model.FueraPuerto).ID("FueraPuerto").Width("50%").ElementAttr("class", "form-control"))
                                    </div>
                                    <div class="col-7" style="padding-top:8px">
                                        @Html.Label("Fuera de Puerto")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="row">
                                <div class="col-3" style="padding-right:0;padding-top:7px">
                                    @(Html.DevExtreme().SwitchFor(model => model.EmbarcacionBol).ID("swEmbarcacion").OnValueChanged("sumarizacion_checked").Width("50%").ElementAttr("class", "form-control"))
                                </div>
                                <div class="col-9" style="padding-left:2px;padding-right:0">
                                    @(Html.DevExtreme().AutocompleteFor(model => model.Embarcacion).MinSearchLength(1).DataSource(d => d.Mvc().LoadAction("SearchResultadoGenerico_matriculanombrernp2")).Placeholder("Embarcación").Width("100%").ID("MatriculaEmbarcacionRNP").ElementAttr("class", "form-control").ShowClearButton(true))
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="col-3" style="padding-right:0;padding-top:7px">
                                    @(Html.DevExtreme().SwitchFor(model => model.GrupoBol).ID("swGrupo").Width("50%").OnValueChanged("sumarizacion_checked").ElementAttr("class", "form-control"))
                                </div>
                                <div class="col-9" style="padding-left:2px;padding-right:0">
                                    @(Html.DevExtreme().SelectBoxFor(model => model.Grupo).DataSource(ViewBag.Grupo).Placeholder("-- Seleccione un Grupo --").DisplayExpr("Resultado").ValueExpr("Resultado").Width("100%").ID("Grupo").ElementAttr("class", "form-control").ShowClearButton(true))
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="text-align: right">
        <script>
            var pdf = '@Url.Action("GeneraReporteDentroYFueraPuertoPdf", "ReportesAvanzados")';
            var xls = '@Url.Action("GeneraReporteDentroYFueraPuerto", "ReportesAvanzados")';
            var urlComback = '@Url.Action("Index", "ReportesAvanzados")';
        </script>
        <div class="col-10"></div>
        <div class="col-1" style="padding-right:0">
            @(Html.DevExtreme().Button().ID("btnConsulta").Icon("fas fa-search").Type(ButtonType.Default).StylingMode(ButtonStylingMode.Contained).UseSubmitBehavior(true))
            @(Html.DevExtreme().Tooltip().Target("#btnConsulta").ContentTemplate(@<text>Consultar información</text>).ShowEvent("mouseenter").HideEvent("mouseleave"))
        </div>
        <div class="col-1" style="padding-left:0;text-align: center;">
            @(Html.DevExtreme().Button().ID("btnAtras").Icon("fas fa-undo-alt").Type(ButtonType.Default).StylingMode(ButtonStylingMode.Contained).UseSubmitBehavior(false).OnClick(@"function(args){comback(urlComback)}"))
            @(Html.DevExtreme().Tooltip().Target("#btnAtras").ContentTemplate(@<text>Regresar a la página anterior</text>).ShowEvent("mouseenter").HideEvent("mouseleave"))

        </div>
    </div>
    <div>
        @if (Model.InfoDentroYFueraPuertoLista.Count() > 0)
        {
            <div class="row" style="text-align: right;padding-top: 5px;padding-bottom: 5px;">
                <div class="col-10"></div>
                <div class="col-1" style="padding-right: 0;">
                    @(Html.DevExtreme().Button().Icon("fas fa-file-excel").Type(ButtonType.Default).StylingMode(ButtonStylingMode.Contained).UseSubmitBehavior(false).OnClick(@"function(args){comback(xls)}"))
                </div>
                <div class="col-1" style="padding-left:0;text-align:center;">
                    @(Html.DevExtreme().Button().Icon("fa fa-file-pdf").Type(ButtonType.Default).StylingMode(ButtonStylingMode.Contained).UseSubmitBehavior(false).OnClick(@"function(args){ExportarPDF(pdf)}"))
                </div>
            </div>

            @(Html.DevExtreme().DataGrid<MASCore.Models.InformacionDentroYFueraPuerto>()
                .DataSource(Model.InfoDentroYFueraPuertoLista).ColumnHidingEnabled(true)
                .ShowColumnLines(true).ShowRowLines(true).RowAlternationEnabled(true).ShowBorders(true)
                .Pager(p => p.AllowedPageSizes(new int[] { 5, 8, 15, 30 })
                    .ShowInfo(true).ShowNavigationButtons(true).ShowPageSizeSelector(true).Visible(true))
                .Paging(p => p.PageSize(10)).ShowColumnHeaders(true).WordWrapEnabled(true)
                .Columns(columns => {
                    columns.AddFor(m => m.embarcacion).Caption("Embarcación");
                    columns.AddFor(m => m.puerto).Caption("Puerto");
                    columns.AddFor(m => m.propietario).Caption("Propietario");
                    columns.AddFor(m => m.matricula).Caption("Matricula");
                    columns.AddFor(m => m.RNP).Caption("RNP");
                    columns.AddFor(m => m.fecha).Caption("Fecha");
                    columns.AddFor(m => m.enpuerto).Caption("Estatus");
                })
            )
        }
    </div>

    <script>
        function sumarizacion_checked(data) {
            console.log(data)
            switch (data.element[0].id) {
                default: break;
                case "TodosBol":
                    if ($("#TodosBol").dxSwitch("instance").option("value")) {
                        $("#swEmbarcacion").dxSwitch("instance").option({ "value": false });
                        $("#swGrupo").dxSwitch("instance").option({ "value": false });
                    }
                    break;
                case "swEmbarcacion":
                    if ($("#swEmbarcacion").dxSwitch("instance").option("value")) {
                        $("#TodosBol").dxSwitch("instance").option({ "value": false });
                        $("#swGrupo").dxSwitch("instance").option({ "value": false });
                    }
                    break;
                case "swGrupo":
                    if ($("#swGrupo").dxSwitch("instance").option("value")) {
                        $("#swEmbarcacion").dxSwitch("instance").option({ "value": false });
                        $("#TodosBol").dxSwitch("instance").option({ "value": false });
                    }
                    break;
            }
        }
    </script>
}
