﻿@*VZ1611_RZPP agregar todo el archivo*@

@using MASCore
@model  MASCore.Models.RepAlertaPescaZonaProhibidaModel



@{
    ViewBag.Title = "Reporte Ejecutivo de Alertas de Pesca Prohibida y Zona Prohibida";
    string Valida = @ViewBag.Valida7X24; //VZL_170628 agregar
}
<script src="~/Scripts/jquery-ui-1.8.20.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.autocomplete.min.js" type="text/javascript"></script>
<link href="~/Content/jquery.autocomplete.css" rel="stylesheet" type="text/css" />
@*VZL_170628 agregar todo el siguiente if hasta el } *if valida*@
@{






    if (Valida != "1" || Valida == null)
    {
        <article>
            No cuenta con permisos para realizar dicha acción
        </article>
    }
    else
    {
        //VZL_170628 esto ya estaba, hay que meterlo dentro del else
        <article>
            <h1>Reporte Ejecutivo de Alertas de Pesca Prohibida y Zona Prohibida</h1>
        </article>
        if (!string.IsNullOrEmpty(ViewBag.NoValidoPor))
        {
            <div class="alert alert-danger" role="alert">
                @ViewBag.NoValidoPor
            </div>
        }

    } //if valida
} @*if valida*@




@using (Html.BeginForm("ReportePescaZonaProhibida", "ReportesAvanzados", FormMethod.Post))
{
    if (Valida == "1")
    {
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h4>Criterios de consulta</h4>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-3" style="padding-right: 0; padding-top: 14px;">
                                            <label>Fecha Inicio</label>
                                        </div>
                                        <div class="col-3" style="padding-right: 0; padding-top: 5px;">
                                            @Html.DevExtreme().DateBoxFor(model => model.fechaIni).Width("100%")
                                        </div>
                                        <div class="col-3" style="padding-right: 0; padding-top: 14px;">
                                            <label>Fecha Fin</label>
                                        </div>
                                        <div class="col-3" style="padding-right: 0; padding-top: 5px;">
                                            @Html.DevExtreme().DateBoxFor(model => model.fechaFin).Width("100%")
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-3" style="padding-right: 0; padding-top: 14px;">
                                            <label>Tipo Alerta</label>
                                        </div>
                                        <div class="col-3" style="padding-right: 0; padding-top: 5px;">
                                            @Html.DevExtreme().SelectBoxFor(o => o.tipoAlerta).Placeholder("-- Seleccione --").DataSource(@ViewBag.tipoAlerta.Items).DisplayExpr("Resultado").ValueExpr("Resultado").Width("100%").ElementAttr("class", "form-control").ShowClearButton(true)
                                        </div>
                                        <div class="col-2" style="padding-right: 0; padding-top: 5px;">
                                            @*@Html.DevExtreme().Button().Text("Buscar").Width("100%").UseSubmitBehavior(true)*@
                                            @(Html.DevExtreme().Button().ID("btnConsultar").Icon("fas fa-search").Type(ButtonType.Default).StylingMode(ButtonStylingMode.Contained).UseSubmitBehavior(true))
                                            @(Html.DevExtreme().Tooltip().Target("#btnConsultar").ContentTemplate(@<text>Consultar Información</text>).ShowEvent("mouseenter").HideEvent("mouseleave"))
                                        </div>
                                        @if (Model.ResultadoListaRepAlertaPescaZonaProhibida.Any())
                                        {
                                            <div class="col-2" style="padding-right: 0; padding-top: 5px;">
                                                @Html.DevExtreme().Button().Text("PDF").Width("100%").OnClick(@<text>  function(){ window.open("@Url.Action("GeneraReportePescaZonaProhibidaPDF", "ReportesAvanzados")"); } </text>)
                                            </div>
                                            <div class="col-2" style="padding-right: 0; padding-top: 5px;">
                                                @Html.DevExtreme().Button().Text("Exportar").Width("100%").OnClick(@<text>  function(){ window.location = "@Url.Action("GeneraReportePescaZonaProhibida", "ReportesAvanzados")"; } </text>)
                                            </div>
                                        }

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    }//if valida

    <section>
        <div id="grid">
            <div id="grid">
                @(Html.DevExtreme().DataGrid<SPMasReportePescaZonaProhibida_Result>().DataSource(Model.ResultadoListaRepAlertaPescaZonaProhibida)
                      .ShowColumnLines(true).ColumnAutoWidth(true).ShowRowLines(true).RowAlternationEnabled(true).ShowBorders(true).ColumnHidingEnabled(true)
                      .Columns(columns =>
                      {
                          columns.AddFor(o => o.FechaRecepcionUnitrac).Caption("Fecha");
                          columns.AddFor(o => o.RNP).Caption("RNP");
                          columns.AddFor(o => o.Nombre).Caption("Embarcación");
                          columns.AddFor(o => o.RazonSocial).Caption("Razón Social");
                          columns.AddFor(o => o.PuertoBase).Caption("Puerto Base");
                          columns.AddFor(o => o.Zona).Caption("Zona");
                          columns.AddFor(o => o.OFP).Caption("OFP");
                          columns.AddFor(o => o.Cedula).Caption("Cedula");
                      }))
                @*@{
                    var grid = new WebGrid(Model.ResultadoListaRepAlertaPescaZonaProhibida, rowsPerPage: 5, ajaxUpdateContainerId: "grid", canPage: false, canSort: false);
                }
                @grid.GetHtml(
                    fillEmptyRows: false,
                    alternatingRowStyle: "fila-alternativa", tableStyle: "griddd",
                    headerStyle: "encabezado-grid",
                    footerStyle: "pie-grid",
                    mode: WebGridPagerModes.All,
                    firstText: "<< Primera",
                    previousText: "< Anterior",
                    nextText: "Siguiente >",
                    lastText: "Última >>",
                    columns: grid.Columns(
                        grid.Column("FechaRecepcionUnitrac", header: "Fecha"), // format: p => p.FechaRecepcionUnitracToShortDateString()),
                        grid.Column("RNP", header: "RNP"),
                        grid.Column("Nombre", header: "Embarcación"),
                        grid.Column("RazonSocial", header: "Razón Social"),
                        grid.Column("PuertoBase", header: "Puerto Base"),
                        grid.Column("Zona", header: "Zona"),
                        grid.Column("OFP", header: "OFP"),
                        grid.Column("Cedula", header: "Cedula")
                        ) 
                        ) *@

            </div>
                </div>
            </section>
        } @*using*@

<div class="modal" id="noInfoModal" tabindex="-1" role="dialog" >
    <div class="modal-dialog modal-dialog-centered" style="width: 300px;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="text-align: center;">
                <h4 class="modal-title">Alerta</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>No se encontro información</p>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function showNoInfoModal() {
        $('#noInfoModal').modal('show');
    }

    function closeNoInfoModal() {
        $('#noInfoModal').modal('hide');
    }

    function Muestra(div) {
        MiDiv = document.getElementById(div);
        MiDiv.style.display = 'block';
    }
    function Oculta(div) {
        MiDiv = document.getElementById(div);
        MiDiv.style.display = 'none';
    }
</script>





        @{
            if (Model.ResultadoListaRepAlertaPescaZonaProhibida.Count() > 0)
            {
                <script type="text/javascript">
                    Muestra('grid');
                    closeNoInfoModal();
                </script>
            }
            if (Model.ResultadoListaRepAlertaPescaZonaProhibida.Count() <= 0)
            {
                <script type="text/javascript">
                    Oculta('grid');
                    @if (Request.HttpMethod == "POST")
                    {
                       @Html.Raw("showNoInfoModal();")
                    }
                    //;
                </script>
            }
        }

