﻿@model MASCore.Models.ReporteActivacionDelEquipoM

@{
    ViewBag.Title = "Reporte De Activacion Del Equipo";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@using (Html.BeginForm("ReporteActivacionDelEquipo", "ReportesAvanzados", FormMethod.Post))
{
    <h2 style="font-weight: bold;">Reporte de fecha de activación del equipo</h2>
    <br />
    <fieldset>
        <legend style="font-weight: bold;">Parámetros de generación</legend>
        <div>
            <br />
            <table class="defaulttable" style="width:100%;">
                <tr>
                    <td style="width: 175px;">
                        @(Html.DevExtreme().CheckBoxFor(model => model.RangoDeFechas).ID("chkFiltroRangoFechas"))
                        <label id="lblFiltroRangoFechas" for="RangoFechas" style="display: unset; padding: unset; font-weight: normal;">&nbsp;Rango de fechas</label>
                    </td>
                    <td style="width: 50px; text-align: center;">
                        <label id="lblFiltroFechaInicial" style="font-weight: normal; margin-bottom: 0px;">Del:</label>
                    </td>
                    <td style="width: 150px;">
                        @Html.DevExtreme().DateBoxFor(model => model.FechaInicio).ID("datFiltroFechaInicial")
                    </td>
                    <td style="width: 50px; text-align: center;">
                        <label id="lblFiltroFechaFinal" style="font-weight: normal; margin-bottom: 0px;">Al:</label>
                    </td>
                    <td style="width: 150px;">
                        @Html.DevExtreme().DateBoxFor(model => model.FechaFin).ID("datFiltroFechaFinal")
                    </td>
                    <td></td>
                </tr>
            </table>
            <br />
            <table class="defaulttable" style="width:100%;">
                <tr>
                    <td style="width: 50%;">
                        <table class="defaulttable" style="width: 100%;">
                            <tr style="height: 40px;">
                                <td style="width: 100px;">
                                    <label id="lblFiltroEmbarcacion" style="font-weight: normal; margin-bottom: 0px;">Embarcación:</label>
                                </td>
                                <td>
                                    @(Html.DevExtreme().AutocompleteFor(model => model.Embarcacion)
                                                          //.DisplayExpr("Resultado")
                                                          .ValueExpr("Resultado")
                                                          .Placeholder("-- Seleccione el Barco --").Width("100%").ID("Barco")
                                                          .DataSource(d => d.Mvc().LoadAction("GetBarcos"))
                                                          .ElementAttr("class", "form-control").ShowClearButton(true)
                                    )

                                </td>

                            </tr>
                            <tr style="height: 40px;">
                                <td style="width: 100px;">
                                    <label id="lblFiltroRNP" style="font-weight: normal; margin-bottom: 0px;">RNP:</label>
                                </td>
                                <td>
                                    @Html.DevExtreme().TextBoxFor(model => model.RNP)
                                </td>
                            </tr>
                            <tr style="height: 40px;">
                                <td style="width: 100px;">
                                    <label id="lblFiltroPropietario" style="font-weight: normal; margin-bottom: 0px;">Propietario:</label>
                                </td>
                                <td>
                                    @Html.DevExtreme().TextBoxFor(model => model.Propietario)
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td style="width: 50%;">
                        <table class="defaulttable" style="width: 100%;">
                            <tr style="height: 40px;">
                                <td style="width: 100px;">
                                    <label id="lblFiltroPuerto" style="font-weight: normal; margin-bottom: 0px; margin-left: 20px;">Puerto:</label>
                                </td>
                                <td>
                                    @(Html.DevExtreme().AutocompleteFor(model => model.Puerto)
                                                          //.DisplayExpr("Resultado")
                                                          .ValueExpr("Resultado")
                                                        .Placeholder("-- Seleccione la Localidad --").Width("100%").ID("Localidad")
                                                        .DataSource(d => d.Mvc().LoadAction("GetLocalidades"))
                                                        .ElementAttr("class", "form-control").ShowClearButton(true)
                                    )

                                </td>
                            </tr>
                            <tr style="height: 40px;">
                                <td style="width: 100px;">
                                    <label id="lblFiltroMatricula" style="font-weight: normal; margin-bottom: 0px; margin-left: 20px;">Matricula:</label>
                                </td>
                                <td>
                                    @Html.DevExtreme().TextBoxFor(model => model.Matricula)
                                </td>
                            </tr>
                            <tr style="height: 40px;">
                                <td style="width: 100px;"></td>
                                <td></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </fieldset>
    <table class="defaulttable" style="width:100%;">
        <tr style="height: 40px;">
            <td style="width: 100%; text-align: right; padding-right: 5px;">
                @(Html.DevExtreme().Button().Text("").ID("btnConsultar").Type(ButtonType.Default).Icon("fas fa-search").StylingMode(ButtonStylingMode.Contained).UseSubmitBehavior(true)
                )
                @(Html.DevExtreme().Tooltip().Target("#btnConsultar").ShowEvent("mouseenter").HideEvent("mouseleave").ContentTemplate("Consultar Información"))
            </td>
        </tr>
    </table>
    <br />
    <section>
        @if (Model.ActivacionDelEquipoLista.Any())
        {<div style="text-align: right; margin-top:5px;margin-bottom:5px;">
             <div class="row">
                 <div class="col-lg-10"></div>
                 <div class="col-lg-1">
                     @Html.DevExtreme().Button().ID("btnExcel").Icon("fa fa-file-excel").Type(ButtonType.Success).OnClick(@<text>  function(){ window.location = "@Url.Action("GeneraReporteActivacionEquipo", "ReportesAvanzados")"; } </text>)

                     @(Html.DevExtreme().Tooltip()
                                   .Target("#btnExcel")
                                   .ShowEvent("mouseenter")
                                   .HideEvent("mouseleave")
                                   .ContentTemplate("Exportar a Excel")

                     )
                 </div>
                 <div class="col-1">
                     @Html.DevExtreme().Button().ID("btnPdf").Icon("fa fa-file-pdf").Type(ButtonType.Danger).OnClick(@<text>  function(){ window.open("@Url.Action("GeneraReporteActivacionEquipoPdf", "ReportesAvanzados")"); } </text>)

                     @(Html.DevExtreme().Tooltip()
                                   .Target("#btnPdf")
                                   .ShowEvent("mouseenter")
                                   .HideEvent("mouseleave")
                                   .ContentTemplate("Exportar a PDF")

                     )
                 </div>
             </div>
                
                
         </div>
            <div id="grid" style="margin-top: 10px;">
                @(Html.DevExtreme()
                                    .DataGrid<MASCore.Models.ReporteActivacionDelEquipoList>()
                                    .ID("gridContainer")
                                    .DataSource(Model.ActivacionDelEquipoLista)
                                    .ColumnHidingEnabled(true)
                                    .ShowColumnLines(true)
                                    .ShowRowLines(true)
                                    .RowAlternationEnabled(true)
                                    .ShowBorders(true)
                                    .Pager(p => p.AllowedPageSizes(new int[] { 5, 8, 15, 30 })
                                    .ShowInfo(true)
                                    .ShowNavigationButtons(true)
                                    .ShowPageSizeSelector(true)
                                    .Visible(true))
                                    .Paging(p => p.PageSize(5))
                                    .ShowColumnHeaders(true)
                                    .WordWrapEnabled(true)
                                    .Columns(columns =>
                                        {
                                            columns.AddFor(m => m.Embarcacion).Caption("Embarcación");
                                            columns.AddFor(m => m.Puerto).Caption("Puerto");
                                            columns.AddFor(m => m.RNP).Caption("RNP");
                                            columns.AddFor(m => m.Matricula).Caption("Matrícula");
                                            columns.AddFor(m => m.Fecha).Caption("Fecha");
                                            columns.AddFor(m => m.Propietario).Caption("Propietario");
                                            columns.AddFor(m => m.Zona).Caption("Litoral");
                                        }
                                            )
                )
            </div>
            <br />
            <br />
        }
    </section>
}
