﻿@model MASCore.Models.ReporteSituacionFlotaPesquera

@{
    ViewBag.Title = "Reporte Diario de Situacion de Flota Pesquera";
}

<div id="titulo">
    <h3 style="color:#0F2C48;text-align:center" ><u>-  Reporte Diario De Situación De Flota Pesquera  -</u></h3>        
</div>

@*@using (Html.BeginForm())*@
@using (Html.BeginForm("ReporteDiarioSituacionFlotaPesquera", "ReportesAvanzados", FormMethod.Post))
{
    @Html.ValidationSummary(true)

    <table style="border:0.08em solid black;border-collapse:collapse;width:100%">
        <tr>
            <td colspan = "2" style="background-color:White;text-align:center;border:1px solid black;"> <b>VEDAS</b>   </td>
        </tr>
        <tr>
            <td style="background-color:White;text-align:center;border:1px solid black;"> <b>PACIFICO  </b>   </td>
            <td style="text-align:center;border:1px solid black;">
                @Html.EditorFor(model => model.CamaronPacifico)  @Html.DisplayNameFor(model => model.CamaronPacifico) &nbsp &nbsp &nbsp
                @Html.EditorFor(model => model.CalamarPacifico)  @Html.DisplayNameFor(model => model.CalamarPacifico) &nbsp &nbsp &nbsp
                @Html.EditorFor(model => model.EscamaPacifico)  @Html.DisplayNameFor(model => model.EscamaPacifico) &nbsp &nbsp &nbsp
                @Html.EditorFor(model => model.LangostaPacifico)  @Html.DisplayNameFor(model => model.LangostaPacifico) &nbsp &nbsp &nbsp
                @Html.EditorFor(model => model.PulpoPacifico)  @Html.DisplayNameFor(model => model.PulpoPacifico) &nbsp &nbsp &nbsp
                @Html.EditorFor(model => model.TiburonPacifico)  @Html.DisplayNameFor(model => model.TiburonPacifico) &nbsp &nbsp &nbsp
                @Html.EditorFor(model => model.TunidosPacifico)  @Html.DisplayNameFor(model => model.TunidosPacifico) &nbsp &nbsp &nbsp
            </td>
        </tr>
        <tr>
            <td style="background-color:White;text-align:center;border:1px solid black;"> <b>GOLFO  </b>   </td>
            <td style="text-align:center;border:1px solid black;">
                @Html.EditorFor(model => model.CamaronGolfo)  @Html.DisplayNameFor(model => model.CamaronGolfo) &nbsp &nbsp &nbsp
                @Html.EditorFor(model => model.CalamarGolfo)  @Html.DisplayNameFor(model => model.CalamarGolfo) &nbsp &nbsp &nbsp
                @Html.EditorFor(model => model.EscamaGolfo)  @Html.DisplayNameFor(model => model.EscamaGolfo) &nbsp &nbsp &nbsp
                @Html.EditorFor(model => model.LangostaGolfo)  @Html.DisplayNameFor(model => model.LangostaGolfo) &nbsp &nbsp &nbsp
                @Html.EditorFor(model => model.PulpoGolfo)  @Html.DisplayNameFor(model => model.PulpoGolfo) &nbsp &nbsp &nbsp
                @Html.EditorFor(model => model.TiburonGolfo)  @Html.DisplayNameFor(model => model.TiburonGolfo) &nbsp &nbsp &nbsp
                @Html.EditorFor(model => model.TunidosGolfo)  @Html.DisplayNameFor(model => model.TunidosGolfo) &nbsp &nbsp &nbsp
            </td>
        </tr>
        <tr>
            <td colspan="2" align="right">
                @*<input type="submit" name="submitButton" value="Consultar" />*@
                @*<input type="submit" name="submitButton" value="Exportar" /> *@
                <ul id="menu2">
                    <li> <input type="submit" name="submitButton" value="Consultar" /></li>
                    <li> @Html.ActionLink("Exportar", "GeneraReporteSituacionFlotaPesquera", "ReportesAvanzados") </li>                     
                </ul>               
            </td>
        </tr>
        <tr align="center"   >
            <td colspan="2" style="background-color:White;text-align:center;border:1px solid black;">Transmitiendo</td>        
        </tr>
        <tr align="center"   >
            <td colspan="2" style="text-align:center;border:1px solid black;">
@{ 
    if (Model.TransmitiendoLista.Count() > 0)
    {

<div id="gridTransmitiendo" align="center" >
            @{          
        var gridTransmitiendo = new WebGrid(Model.TransmitiendoLista, rowsPerPage: 500, ajaxUpdateContainerId: "gridTransmitiendo");     
            }
                 @gridTransmitiendo.GetHtml(
                    fillEmptyRows: false,
                    alternatingRowStyle: "fila-alternativa", tableStyle: "griddd",
                    headerStyle: "encabezado-grid",
                    footerStyle: "pie-grid",
                    mode: WebGridPagerModes.All,
                    firstText: "<< Primera",
                    previousText: "< Anterior",
                    nextText: "Siguiente >",
                    lastText: "Última >>",
                    columns: gridTransmitiendo.Columns(
                        gridTransmitiendo.Column("Flota", header: " Flota | "),
                        //gridTransmitiendo.Column("Pacifico", header: "Océano Pacífico"),
                        gridTransmitiendo.Column("Pacifico", header: " Océano Pacífico |", format: @<text>@Html.ActionLink((string)item.Pacifico, "MarcadoresEarthPage", "ReportesAvanzados", new { Litoral = "PACIFICO", Reporte = "TX", Permiso = item.Flota }, new { target = "_blank" })</text>),       
                        //gridTransmitiendo.Column("Golfo", header: "Golfo de México"),            
                        gridTransmitiendo.Column("Golfo", header: " Golfo de México |", format: @<text>@Html.ActionLink((string)item.Golfo, "MarcadoresEarthPage", "ReportesAvanzados", new { Litoral = "GOLFO", Reporte = "TX", Permiso = item.Flota }, new { target = "_blank" })</text>),
                        gridTransmitiendo.Column("Total", header: " Total")
                        //gridTransmitiendo.Column("Total", format: @<text>@Html.ActionLink((string)item.Total, "Details", "ReportesAvanzados", new { id = item.Total }, new { target = "_blank" })</text>)
                                )
                            )      
<ul id="menu2" style="display:inline;vertical-align:top;text-align:left">         
        <li> @Html.ActionLink("Imprimir Detalle Consolidado", "GeneraReporteDetalleTransmitiendo", "ReportesAvanzados")  </li>           
        <li> @Html.ActionLink("PDF", "GeneraReporteDetalleTransmitiendoPdf", "ReportesAvanzados", null, new { target = "_blank" }) </li>      

</ul> 
</div>                   
      
    }
}                                               
            </td>        
        </tr>
        <tr align="center"   >
            <td colspan="2" style="background-color:White;text-align:center;border:1px solid black;">Fuera de puerto y transmitiendo</td>        
        </tr>
        <tr align="center"   >
            <td colspan="2" align="center" style="text-align:center;border:1px solid black;">
@{ 
    if (Model.OperandoyTransmitiendoLista.Count() > 0)
    {

<div id="gridOperandoyTransmitiendo" align="center">
            @{          
        var gridOperandoyTransmitiendo = new WebGrid(Model.OperandoyTransmitiendoLista, rowsPerPage: 500, ajaxUpdateContainerId: "gridOperandoyTransmitiendo");     
            }
                 @gridOperandoyTransmitiendo.GetHtml(
                    fillEmptyRows: false,
                    alternatingRowStyle: "fila-alternativa", tableStyle: "griddd",
                    headerStyle: "encabezado-grid",
                    footerStyle: "pie-grid",
                    mode: WebGridPagerModes.All,
                    firstText: "<< Primera",
                    previousText: "< Anterior",
                    nextText: "Siguiente >",
                    lastText: "Última >>",
                columns: gridOperandoyTransmitiendo.Columns(
                        gridOperandoyTransmitiendo.Column("Flota", header: " Flota | "),
                        //gridOperandoyTransmitiendo.Column("Pacifico", header: "Océano Pacífico "),
                        //gridOperandoyTransmitiendo.Column("Golfo", header: "Golfo de México "),
                        gridOperandoyTransmitiendo.Column("Pacifico", header: " Océano Pacífico |", format: @<text>@Html.ActionLink((string)item.Pacifico, "MarcadoresEarthPage", "ReportesAvanzados", new { Litoral = "PACIFICO", Reporte = "TXFUERAPUERTO", Permiso = item.Flota }, new { target = "_blank" })</text>),       
                        gridOperandoyTransmitiendo.Column("Golfo",header: " Golfo de México |", format: @<text>@Html.ActionLink((string)item.Golfo, "MarcadoresEarthPage", "ReportesAvanzados", new { Litoral = "GOLFO", Reporte = "TXFUERAPUERTO", Permiso = item.Flota }, new { target = "_blank" })</text>),
                        gridOperandoyTransmitiendo.Column("Total", header: " Total")
                )
            )
<ul id="menu2" style="display:inline;vertical-align:top;text-align:left">         
        <li> @Html.ActionLink("Imprimir Detalle Consolidado", "GeneraReporteDetalleOperandoyTransmitiendo", "ReportesAvanzados")  </li>           
        <li> @Html.ActionLink("PDF", "GeneraReporteDetalleOperandoyTransmitiendoPdf", "ReportesAvanzados", null, new { target = "_blank" }) </li>                     
</ul>                
</div>                           
    }
}
            </td>
        </tr>
        <tr align="center"   >
            <td colspan="2" style="background-color:White;text-align:center;border:1px solid black;">En puerto y transmitiendo</td>        
        </tr>
        <tr align="center"   >
            <td colspan="2" style="text-align:center;border:1px solid black;">
@{ 
    if (Model.EnPuertoyTransmitiendoLista.Count() > 0)
    {

<div id="gridEnPuertoyTransmitiendo" align="center">
            @{          
        var gridEnPuertoyTransmitiendo = new WebGrid(Model.EnPuertoyTransmitiendoLista, rowsPerPage: 500, ajaxUpdateContainerId: "gridEnPuertoyTransmitiendo");     
            }
                 @gridEnPuertoyTransmitiendo.GetHtml(
                    fillEmptyRows: false,
                    alternatingRowStyle: "fila-alternativa", tableStyle: "griddd",
                    headerStyle: "encabezado-grid",
                    footerStyle: "pie-grid",
                    mode: WebGridPagerModes.All,
                    firstText: "<< Primera",
                    previousText: "< Anterior",
                    nextText: "Siguiente >",
                    lastText: "Última >>",
                columns: gridEnPuertoyTransmitiendo.Columns(
                        gridEnPuertoyTransmitiendo.Column("Flota", header: "Flota | "),
                        //gridEnPuertoyTransmitiendo.Column("Pacifico", header: "Océano Pacífico"),
                        //gridEnPuertoyTransmitiendo.Column("Golfo", header: "Golfo de México"),
                        gridEnPuertoyTransmitiendo.Column("Pacifico", header: " Océano Pacífico |", format: @<text>@Html.ActionLink((string)item.Pacifico, "MarcadoresEarthPage", "ReportesAvanzados", new { Litoral = "PACIFICO", Reporte = "TXENPUERTO", Permiso = item.Flota }, new { target = "_blank" })</text>),       
                        gridEnPuertoyTransmitiendo.Column("Golfo",header: " Golfo de México |", format: @<text>@Html.ActionLink((string)item.Golfo, "MarcadoresEarthPage", "ReportesAvanzados", new { Litoral = "GOLFO", Reporte = "TXENPUERTO", Permiso = item.Flota }, new { target = "_blank" })</text>),
                        gridEnPuertoyTransmitiendo.Column("Total", header: "Total")
                )
            )      
<ul id="menu2" style="display:inline;vertical-align:top;text-align:left">         
        <li> @Html.ActionLink("Imprimir Detalle Consolidado", "GeneraReporteDetalleEnPuertoyTransmitiendo", "ReportesAvanzados")  </li>           
        <li> @Html.ActionLink("PDF", "GeneraReporteDetalleEnPuertoyTransmitiendoPdf", "ReportesAvanzados", null, new { target = "_blank" }) </li>                     
</ul>
</div> 
    
    @*@Html.ActionLink("Imprimir Detalle", "GeneraReporteDetalleEnPuertoyTransmitiendo", "ReportesAvanzados")  *@             
    }
}                        
            </td>        
        </tr>
        <tr align="center"   >
            <td colspan="2" style="background-color:White;text-align:center;border:1px solid black;">Fuera de puerto y transmitiendo por estado</td>        
        </tr>
        <tr align="center"   >
            <td colspan="2" style="text-align:center;border:1px solid black;">
@{ 
    if (Model.PorEstado.Count() > 0)
    {

<div id="gridPorEstado" align="center">
            @{          
        var gridPorEstado = new WebGrid(Model.PorEstado, rowsPerPage: 500, ajaxUpdateContainerId: "gridPorEstado");     
            }
                 @gridPorEstado.GetHtml(
                    fillEmptyRows: false,
                    alternatingRowStyle: "fila-alternativa", tableStyle: "griddd",
                    headerStyle: "encabezado-grid",
                    footerStyle: "pie-grid",
                    mode: WebGridPagerModes.All,
                    firstText: "<< Primera",
                    previousText: "< Anterior",
                    nextText: "Siguiente >",
                    lastText: "Última >>",
                columns: gridPorEstado.Columns(
                        gridPorEstado.Column("Estado", header: "Estado"),
                        //gridPorEstado.Column("Dispositivos", header: "Dispositivos")
                        gridPorEstado.Column("Dispositivos", header: " | Dispositivos ", format: @<text>@Html.ActionLink((string)item.Dispositivos, "MarcadoresEarthPage", "ReportesAvanzados", new { Litoral = "PACIFICO", Reporte = "PORESTADO", Permiso = item.Estado }, new { target = "_blank" })</text>)                        
                                //gridOperandoyTransmitiendo.Column("Golfo", header: "Golfo"),
                                //gridOperandoyTransmitiendo.Column("Total", header: "Total")
                )
            ) 
<ul id="menu2" style="display:inline;vertical-align:top;text-align:left">                    
        <li> @Html.ActionLink("Imprimir Detalle Consolodado", "GeneraReporteDetalleOperandoyTransmitiendoPorEstado", "ReportesAvanzados")</li>
        <li> @Html.ActionLink("PDF", "GeneraReporteDetalleOperandoyTransmitiendoPorEstadoPdf", "ReportesAvanzados", null, new { target = "_blank" }) </li>                     
</ul>                 
</div>               

   @* @Html.ActionLink("Imprimir Detalle", "GeneraReporteDetalleOperandoyTransmitiendoPorEstado", "ReportesAvanzados")*@
    }
}
             



            </td>        
        </tr>
    </table>   
    
    
   @* <p>
        <input type="submit" value="Create" />
    </p>*@
    
}

<div>
    @Html.ActionLink("Opciones Reportes Avanzados", "Index", "ReportesAvanzados")
</div>

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@








