﻿@model MASCore.Models.ReporteActividadPescaM

@{
    ViewBag.Title = "Reporte De Actividad De Pesca";
}

<div style="text-align:center; color:Red;font-size:medium">
    @ViewBag.NoValidoPor
</div>

@using (Html.BeginForm("ReporteActividadPesca", "ReportesAvanzados", FormMethod.Post, new { @class = "form" }))
{
    <article>
        <h1>Reporte De Actividad De Pesca</h1>
    </article>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h4>Criterios de consulta</h4>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group">
                                <div class="row">
                                    <divc class="col-12">
                                        @(Html.DevExtreme().DateBoxFor(model => model.FechaInicio).Placeholder("Fecha Inicial").Width("100%").ID("FechaInicio").ElementAttr("class", "form-control").ShowClearButton(true).InvalidDateMessage("Fecha no valida"))
                                        @(Html.DevExtreme().Tooltip().Target("#FechaInicio").ContentTemplate(@<text><b>Fecha Inicial</b></text>).ShowEvent("mouseenter").HideEvent("mouseleave"))
                                        @Html.ValidationMessageFor(model => model.FechaInicio)
                                    </divc>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-4" style="padding-right: 0;padding-top: 5px;">
                                        @(Html.DevExtreme().SwitchFor(model => model.EmbarcacionBol).Width("50%").ElementAttr("class", "form-control"))
                                    </div>
                                    <div class="col-8">
                                        @(Html.DevExtreme().AutocompleteFor(model => model.NombreBarco).MinSearchLength(1).DataSource(d => d.Mvc().LoadAction("SearchResultadoGenerico_NombreEmbarcacionRnp")).Placeholder("Embarcación").Width("100%").ID("Embarcacion").ElementAttr("class", "form-control").ShowClearButton(true))
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-12">
                                        @(Html.DevExtreme().NumberBoxFor(model => model.HorasMinimas).Placeholder("Horas Mínimas de pesca continua").Width("100%").ID("HorasMinimas").ElementAttr("class", "form-control").ShowClearButton(true).Min(1.0).Max(100.0))
                                        
                                        @Html.ValidationMessageFor(model => model.HorasMinimas)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-12">
                                        @(Html.DevExtreme().DateBoxFor(model => model.FechaFin).Placeholder("Fecha Final").Width("100%").ID("FechaFin").ElementAttr("class", "form-control").ShowClearButton(true).InvalidDateMessage("Fecha no valida"))
                                        @(Html.DevExtreme().Tooltip().Target("#FechaFin").ContentTemplate(@<text><b>Fecha Final</b></text>).ShowEvent("mouseenter").HideEvent("mouseleave"))
                                        @Html.ValidationMessageFor(model => model.FechaFin)
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-4" style="padding-right: 0;padding-top: 5px;">
                                        @(Html.DevExtreme().SwitchFor(model => model.GrupoBol).Width("50%"))
                                    </div>
                                    <div class="col-8">
                                        @(Html.DevExtreme().SelectBoxFor(model => model.GrupoActP)
                                              .DisplayExpr("Resultado")
                                              .ValueExpr("Resultado")
                                              .DataSource(ViewBag.Grupos)
                                              //.DataSource(d => d.Mvc().LoadAction("GetGrupos"))
                                              .ID("GrupoActP")
                                              .Placeholder("-- Seleccione un Grupo --")
                                              .Width("100%").DeferRendering(false)
                                              .ElementAttr("class", "form-control")
                                              .ShowClearButton(true))
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-4">
                                        @(Html.DevExtreme().SwitchFor(model => model.OcultarViajesSinActividadPesca).Width("50%"))
                                    </div>
                                    <div class="col-8">
                                        @Html.DisplayNameFor(m => m.OcultarViajesSinActividadPesca)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">Valores de Velocidad de pesca:</div>
                        <div class="3">
                            @Html.DevExtreme().NumberBoxFor(m => m.velminpesca).ID("velminpesca").Min(1.0).Max(100.0).Placeholder("Velocidad Mínima").ShowClearButton(true).Width("100%").ElementAttr("class", "form-control")
                            
                        </div>
                        <div class="col-1"></div>
                        <div class="3">
                            @Html.DevExtreme().NumberBoxFor(m => m.velmaxpesca).ID("velmaxpesca").Min(1.0).Max(100.0).Placeholder("Velocidad Máxima").ShowClearButton(true).Width("100%").ElementAttr("class", "form-control")
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="text-align: right">
        <script>
            var pdf = '@Url.Action("GeneraReporteActividadPescaPdf", "ReportesAvanzados")';
            var urlComback = '@Url.Action("Index", "ReportesAvanzados")';
        </script>
        <div class="col-9"></div>
        <div class="col-1" style="padding-right:0">
            @(Html.DevExtreme().Button().ID("btnSearch").Icon("fas fa-search").Type(ButtonType.Default).StylingMode(ButtonStylingMode.Contained).UseSubmitBehavior(true))
            @(Html.DevExtreme().Tooltip().Target("#btnSearch").ContentTemplate(@<text>Consultar Información</text>).ShowEvent("mouseenter").HideEvent("mouseleave"))
        </div>
        <div class="col-1" style="padding-right:0;padding-left:0;text-align:center">
            @if (Model.InfoActividadPescaLista.Count() > 0)
            {
                @(Html.DevExtreme().Button().ID("btnPDF").Icon("fa fa-file-pdf").Type(ButtonType.Default).StylingMode(ButtonStylingMode.Contained).UseSubmitBehavior(false).OnClick(@"function(args){ExportarPDF(pdf)}"))
                @(Html.DevExtreme().Tooltip().Target("#btnPDF").ContentTemplate(@<text>Exportar PDF</text>).ShowEvent("mouseenter").HideEvent("mouseleave"))
            }
        </div>
        <div class="col-1" style="padding-left:0;text-align:left">
            @(Html.DevExtreme().Button().ID("btnAtras").Icon("fas fa-undo-alt").Type(ButtonType.Default).StylingMode(ButtonStylingMode.Contained).UseSubmitBehavior(false).OnClick(@"function(args){comback(urlComback)}"))
            @(Html.DevExtreme().Tooltip().Target("#btnAtras").ContentTemplate(@<text>Regresar a la página anterior.</text>).ShowEvent("mouseenter").HideEvent("mouseleave"))
        </div>
    </div>

    <div>
        @using (Html.DevExtreme().NamedTemplate("multiviewtemplate"))
        {
            <div class="row">
                <div class="col-6" style="padding-right:0">
                    <div class="dx-fieldset">
                        <div class="row form-group">
                            <label class="col-5">Embarcación</label>
                            <div class="col-7">
                                <%= embarcacion %>
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-5">RNP</label>
                            <div class="col-7">
                                <%= rnp %>
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-5">Razón Social</label>
                            <div class="col-7">
                                <%= razonsocial %>
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-5">Puerto Base</label>
                            <div class="col-7">
                                <%= puertobase %>
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-5">Instalacion VMS anterior generación</label>
                            <div class="col-7">
                                <%= fechainstanteriorgen %>
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-5">Instalacion VMS nueva generación</label>
                            <div class="col-7">
                                <%= fechainstnuevagen %>
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-5">Ultimo mantenimiento al ETR</label>
                            <div class="col-7">
                                <%= ultimomantenimiento %>
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-5">Última TX</label>
                            <div class="col-7">
                                <%= ultimatx %>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6" style="padding-left:0">
                    <div data-id="[<%= embarcacion %><%= rnp %>]"></div>
                </div>
            </div>
        }
        @if (Model.InfoActividadPescaLista.Count() > 0)
        {
            <div class="x_panel">
                <div>
                    Actividad de Pesca <span class="selected-index">1</span> de <span class="item-count">@Model.InfoActividadPescaLista.Count</span>
                    <hr/>
                </div>
                @Html.DevExtreme().MultiView().DataSource(Model.InfoActividadPescaLista).Loop(false).AnimationEnabled(true).OnSelectionChanged("multiView_selectionChanged").ItemTemplate(new TemplateName("multiviewtemplate"));
                <script type="text/javascript">
                    var items = @Html.Raw(Json.Encode(Model.InfoActividadPescaLista));
                    function renderMultiView() {
                        items.map(function (o, i) {
                            $("[data-id='[" + o.embarcacion + o.rnp + "]']").dxDataGrid({
                                dataSource: o.ViajesLista,
                                paging: {
                                    pageSize: 5
                                },
                                pager: {
                                    showPageSizeSelector: true,
                                    allowedPageSizes: [5, 10, 25],
                                    showInfo: true,
                                    showNavigationButtons: true,
                                    showPageSizeSelector: true,
                                    visible: true
                                },
                                columnHidingEnabled: true,
                                showColumnLines: true,
                                showRowLines: true,
                                remoteOperations: false,
                                allowColumnReordering: true,
                                rowAlternationEnabled: true,
                                showBorders: true,
                                wordWrapEnabled: true,
                                columns: [
                                    {
                                        dataField: "viaje",
                                        caption: "Viaje",
                                        width: 60
                                    },
                                    {
                                        dataField: "fechainicialviaje",
                                        caption: "Fecha Inicial",
                                        width: 100
                                    },
                                    {
                                        dataField: "fechafinalviaje",
                                        caption: "Fecha Final",
                                        width: 100
                                    },
                                    {
                                        dataField: "resultado",
                                        caption: "Resultado"
                                    }
                                ]
                            });
                        });
                    }
                    setTimeout(function () { renderMultiView(); }, 500)
                    function multiView_selectionChanged(e) {
                        $(".selected-index").text(e.component.option("selectedIndex") + 1);
                    }
                </script>
            </div>
        }
    </div>
}
