﻿@model MASCore.Models.ReporteEstadisticoDeDatosM

@{
    ViewBag.Title = "Reporte Estadístico De Datos";
}

<div style="text-align:center; color:Red;font-size:medium">
    @ViewBag.NoValidoPor
</div>

<script>
    var urlComback = '@Url.Action("Index", "ReportesAvanzados", null, Request.Url.Scheme)';
    var urlPie = '@Url.Action("GeneraReporteEstadisticoDatosPastel", "ReportesAvanzados", null, Request.Url.Scheme)';
    var urlLine = '@Url.Action("GeneraReporteEstadisticoDatosLineas", "ReportesAvanzados", null, Request.Url.Scheme)';
    /* Situación */
    var urlsituacion1 = '@Url.Action("GeneraReporteTiposDeAlertaPdf", "ReportesAvanzados", null, Request.Url.Scheme)';
    var urlsituacion2 = '@Url.Action("GeneraGraficaTiposDeAlertaPastelTotal", "ReportesAvanzados", null, Request.Url.Scheme)';
    var urlsituacion3 = '@Url.Action("GeneraGraficaTiposDeAlertaLineasTotal", "ReportesAvanzados", null, Request.Url.Scheme)';
    /* Emergencias */
    var urlemergencia1 = '@Url.Action("GeneraReporteEmergenciasPdf", "ReportesAvanzados", null, Request.Url.Scheme)';
    var urlemergencia2 = '@Url.Action("GeneraGraficaTiposDeEmergenciasPastel", "ReportesAvanzados", null, Request.Url.Scheme)';
    var urlemergencia3 = '@Url.Action("GeneraGraficaTiposDeEmergenciasLineas", "ReportesAvanzados", null, Request.Url.Scheme)';
    /* Tipo */
    var urltipo1 = '@Url.Action("GeneraReporteEmergenciasPdf", "ReportesAvanzados", null, Request.Url.Scheme)';
    var urltipo2 = '@Url.Action("GeneraGraficaTiposDeEmergenciasPastel", "ReportesAvanzados", null, Request.Url.Scheme)';
    var urltipo3 = '@Url.Action("GeneraGraficaTiposDeEmergenciasLineas", "ReportesAvanzados", null, Request.Url.Scheme)';
    /* Permisos */
    var urlpermisos1 = '@Url.Action("GeneraReporteEmbEdoPermisoPdf", "ReportesAvanzados", null, Request.Url.Scheme)';
    var urlpermisos2 = '@Url.Action("GeneraGraficaEquiposPorPesqueriaPastel", "ReportesAvanzados", null, Request.Url.Scheme)';
    var urlpermisos3 = '@Url.Action("GeneraGraficaEquiposPorPesqueriaLineas", "ReportesAvanzados", null, Request.Url.Scheme)';
    /* Transreceptores */
    var urltransreceptores1 = '@Url.Action("GeneraReporteEmbLitoralPdf", "ReportesAvanzados", null, Request.Url.Scheme)';
    var urltransreceptores2 = '@Url.Action("GeneraGraficaEquiposPorLitoralPastel", "ReportesAvanzados", null, Request.Url.Scheme)';
    var urltransreceptores3 = '@Url.Action("GeneraGraficaEquiposPorLitoralLineas", "ReportesAvanzados", null, Request.Url.Scheme)';
    /* Por Estado */
    var urlporestado1 = '@Url.Action("GeneraReporteDispEstadosPdf", "ReportesAvanzados", null, Request.Url.Scheme)';
    var urlporestado2 = '@Url.Action("GeneraGraficaEquiposPorEstadoPacificoPastel", "ReportesAvanzados", null, Request.Url.Scheme)';
    var urlporestado3 = '@Url.Action("GeneraGraficaEquiposPorEstadoPacificoLineas", "ReportesAvanzados", null, Request.Url.Scheme)';
    var urlporestado4 = '@Url.Action("GeneraGraficaEquiposPorEstadoGolfoPastel", "ReportesAvanzados", null, Request.Url.Scheme)';
    var urlporestado5 = '@Url.Action("GeneraGraficaEquiposPorEstadoGolfoLineas", "ReportesAvanzados", null, Request.Url.Scheme)';
    /* Flota */
    var urlflota1 = '@Url.Action("GeneraReporteDispTiposZonasPdf", "ReportesAvanzados", null, Request.Url.Scheme)';
    var urlflota2 = '@Url.Action("GeneraGraficaTiposZonasPacificoPastel", "ReportesAvanzados", null, Request.Url.Scheme)';
    var urlflota3 = '@Url.Action("GeneraGraficaTiposZonasPacificoLineas", "ReportesAvanzados", null, Request.Url.Scheme)';
    var urlflota4 = '@Url.Action("GeneraGraficaTiposZonasGolfoPastel", "ReportesAvanzados", null, Request.Url.Scheme)';
    var urlflota5 = '@Url.Action("GeneraGraficaTiposZonasGolfoLineas", "ReportesAvanzados", null, Request.Url.Scheme)';
    /* En Puerto */
    var urlenpuerto1 = '@Url.Action("GeneraReporteOperandoyTransmitiendoPdf", "ReportesAvanzados", null, Request.Url.Scheme)';
    var urlenpuerto2 = '@Url.Action("GeneraGraficaOyTPacificoPastel", "ReportesAvanzados", null, Request.Url.Scheme)';
    var urlenpuerto3 = '@Url.Action("GeneraGraficaOyTPacificoLineas", "ReportesAvanzados", null, Request.Url.Scheme)';
    var urlenpuerto4 = '@Url.Action("GeneraGraficaOyTGolfoPastel", "ReportesAvanzados", null, Request.Url.Scheme)';
    var urlenpuerto5 = '@Url.Action("GeneraGraficaOyTGolfoLineas", "ReportesAvanzados", null, Request.Url.Scheme)';
    /* En Puerto A */
    var urlenpuertoA1 = '@Url.Action("GeneraReporteOperandoyTransmitiendoEnPuertoPdf", "ReportesAvanzados", null, Request.Url.Scheme)';
    var urlenpuertoA2 = '@Url.Action("GeneraGraficaEnPuertoPacificoPastel", "ReportesAvanzados", null, Request.Url.Scheme)';
    var urlenpuertoA3 = '@Url.Action("GeneraGraficaEnPuertoPacificoLineas", "ReportesAvanzados", null, Request.Url.Scheme)';
    var urlenpuertoA4 = '@Url.Action("GeneraGraficaEnPuertoGolfoPastel", "ReportesAvanzados", null, Request.Url.Scheme)';
    var urlenpuertoA5 = '@Url.Action("GeneraGraficaEnPuertoGolfoLineas", "ReportesAvanzados", null, Request.Url.Scheme)';
</script>

@{
    List<SelectListItem> listItems = new List<SelectListItem>();
    listItems.Add(new SelectListItem
    {
        Text = "Barco",
        Value = "1"
    });
    listItems.Add(new SelectListItem
    {
        Text = "Panga",
        Value = "2" 
    });
}

@using (Html.BeginForm("ReporteEstadisticoDeDatos2", "ReportesAvanzados", FormMethod.Post))
{

@Html.ValidationSummary(true)

<article>
    <h1>Reporte Estadístico De Datos</h1>
</article>

<div class="row">
    <div class="col-12">
        <div class="x_panel">
            <div class="x_title">
                <div class="row">
                    <div class="col-11">
                        <h4>Criterios de Consulta</h4>
                    </div>
                    <div class="col-1">
                        <button type="button" class="btn btn-info" id="colapsar" data-toggle="collapse" data-target=".contenidoreporte"><i class="fas fa-angle-double-up"></i></button>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="contenidoreporte collapse show">
                    <div class="dx-fieldset" style="margin-bottom:0;margin-top: 5px;">
                        <div class="row">
                            <div class="col-12">
                                <h4><i>Estadística de Embarcaciones</i></h4>
                                <hr />
                                <h5><b><i>Reportes MAS</i></b></h5>
                                <hr />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="dx-field row">
                                            <div class="dx-field-value col-1">
                                                @(Html.DevExtreme().CheckBoxFor(m => m.RangoDeFechas).OnValueChanged("checkBox_embar_valueChanged").Width("100%"))
                                            </div>
                                            <div class="dx-field-label col-3">
                                                @Html.DisplayNameFor(model => model.RangoDeFechas)
                                            </div>
                                            <div class="dx-field-label col-1">
                                                @(Html.DisplayNameFor(m => m.FechaInicio))
                                            </div>
                                            <div class="dx-field-value col-3">
                                                @(Html.DevExtreme().DateBoxFor(m => m.FechaInicio).ID("FechaInicio").Placeholder("Fecha Inicial").Width("100%").ShowClearButton(true).InvalidDateMessage("Fecha no valida"))
                                            </div>
                                            <div class="dx-field-label col-1">
                                                @(Html.DisplayNameFor(m => m.FechaFin))
                                            </div>
                                            <div class="dx-field-value col-3">
                                                @(Html.DevExtreme().DateBoxFor(m => m.FechaFin).ID("FechaFin").Placeholder("Fecha Final").Width("100%").ShowClearButton(true).InvalidDateMessage("Fecha no valida"))
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-top: 5px;">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="dx-field row">
                                            <div class="dx-field-label col-4">
                                                Tipo de Vehículo
                                            </div>
                                            <div class="dx-field-value col-8">
                                                @(Html.DevExtreme().SelectBoxFor(m => m.tipoVehiculo).DisplayExpr("Text").ShowClearButton(true).Value(listItems[0].Value).ValueExpr("Value").ID("DdlTipoVehiculo").DataSource(listItems).Width("100%"))
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="dx-field row">
                                            <div class="dx-field-label col-4">
                                                @(Html.DevExtreme().SwitchFor(m => m.PescaProhibida).Width("35%"))
                                                @Html.DisplayNameFor(model => model.PescaProhibida)
                                            </div>
                                            <div class="dx-field-label col-4">
                                                @(Html.DevExtreme().SwitchFor(m => m.AreaNaturalProtegida).Width("35%"))
                                                @Html.DisplayNameFor(model => model.AreaNaturalProtegida)
                                            </div>
                                            <div class="dx-field-label col-4">
                                                @(Html.DevExtreme().SwitchFor(m => m.Emergencias).Width("35%"))
                                                @Html.DisplayNameFor(model => model.Emergencias)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="dx-field row">
                                            <div class="dx-field-label col-3" style="padding-right: 0;">
                                                @(Html.DevExtreme().SwitchFor(m => m.ZonaDecreto).Width("45%"))
                                                @Html.DisplayNameFor(model => model.ZonaDecreto)
                                            </div>
                                            <div class="dx-field-label col-3" style="padding-right: 0;">
                                                @(Html.DevExtreme().SwitchFor(m => m.SinTransmision).Width("40%"))
                                                @Html.DisplayNameFor(model => model.SinTransmision)
                                            </div>
                                            <div class="dx-field-label col-6" style="padding-right: 0;">
                                                @(Html.DevExtreme().SwitchFor(m => m.SolInformacion).Width("25%"))
                                                @Html.DisplayNameFor(model => model.SolInformacion)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="dx-field row">
                                            <div class="dx-field-label col-1" style="padding-right: 0;">
                                                Zona
                                            </div>
                                            <div class="dx-field-value col-11" style="padding-right: 0;padding-left: 0;">
                                                @(Html.DevExtreme().SelectBoxFor(m => m.tipoVehiculo).DisplayExpr("Descripcion").ShowClearButton(true).Placeholder("-- Seleccionar Zona --").ValueExpr("idZona").DataSource(d => d.Mvc().LoadAction("GetZonas")).DeferRendering(false).Width("100%"))
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dx-fieldset" style="margin-bottom:0;margin-top: 10px;">
                        <div class="row">
                            <div class="col-12">
                                <h5><b><i>Estadística de Embarcación</i></b></h5>
                                <hr />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-6" style="padding:0">
                                        <div class="dx-field row">
                                            <div class="dx-field-value col-4">
                                                @(Html.DevExtreme().SwitchFor(m => m.PorLitoral).Width("100%"))
                                            </div>
                                            <div class="dx-field-label col-8">
                                                @Html.DisplayNameFor(model => model.PorLitoral)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6" style="padding:0">
                                        <div class="dx-field row">
                                            <div class="dx-field-value col-4">
                                                @(Html.DevExtreme().SwitchFor(m => m.PorPesqueria).Width("100%"))
                                            </div>
                                            <div class="dx-field-label col-8">
                                                @Html.DisplayNameFor(model => model.PorPesqueria)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-6" style="padding:0">
                                        <div class="dx-field row">
                                            <div class="dx-field-value col-4">
                                                @(Html.DevExtreme().SwitchFor(m => m.PorEstado).Width("100%"))
                                            </div>
                                            <div class="dx-field-label col-8">
                                                @Html.DisplayNameFor(model => model.PorEstado)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6" style="padding:0">
                                        <div class="dx-field row">
                                            <div class="dx-field-value col-4">
                                                @(Html.DevExtreme().SwitchFor(m => m.PorTipoZona).Width("100%"))
                                            </div>
                                            <div class="dx-field-label col-8">
                                                @Html.DisplayNameFor(model => model.PorTipoZona)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dx-fieldset" style="margin-bottom:0;margin-top: 5px;">
                        <div class="row">
                            <div class="col-12">
                                <h4><i>Estadística Administrativa</i></h4>
                                <hr />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="dx-field row">
                                            <div class="dx-field-value col-1">
                                                @(Html.DevExtreme().CheckBoxFor(m => m.FechaLimiteBol).OnValueChanged("checkBox_admin_valueChanged").Width("100%"))
                                            </div>
                                            <div class="dx-field-label col-2">
                                                @Html.DisplayNameFor(model => model.FechaLimiteBol)
                                            </div>
                                            <div class="dx-field-value col-9">
                                                @(Html.DevExtreme().DateBoxFor(m => m.FechaLimite).Placeholder("Fecha Limite").Width("100%").ShowClearButton(true).ID("FechaLimite").Disabled(true).InvalidDateMessage("Fecha no valida"))
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-top: 5px;">
                            <div class="col-12">
                                <h5><b><i>Flota Pesquera</i></b></h5>
                                <hr />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-6" style="padding:0">
                                        <div class="dx-field row">
                                            <div class="dx-field-value col-4">
                                                @(Html.DevExtreme().SwitchFor(m => m.FlotaOperandoyTransmitiendo).Width("100%"))
                                            </div>
                                            <div class="dx-field-label col-8">
                                                @Html.DisplayNameFor(model => model.FlotaOperandoyTransmitiendo)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6" style="padding:0">
                                        <div class="dx-field row">
                                            <div class="dx-field-value col-4">
                                                @(Html.DevExtreme().SwitchFor(m => m.FlotaEnPuertoyTransmitiendo).Width("100%"))
                                            </div>
                                            <div class="dx-field-label col-8">
                                                @Html.DisplayNameFor(model => model.FlotaEnPuertoyTransmitiendo)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="text-align: right">
                    <div class="row">
                        <div class="col-lg-8">

                        </div>
                        <div class="col-lg-1">
                            @(Html.DevExtreme().Button().Text("").ID("btnConsultar").Icon("fas fa-search").Type(ButtonType.Default).StylingMode(ButtonStylingMode.Contained).UseSubmitBehavior(true))
                            @(Html.DevExtreme().Tooltip().Target("#btnConsultar").ContentTemplate(@<text>Consultar Información</text>).ShowEvent("mouseenter").HideEvent("mouseleave"))
                        </div>
                        <div class="col-lg-1">
                            @(Html.DevExtreme().Button().Text("").ID("btnExportar1").Icon("fas fa-chart-pie").Type(ButtonType.Default).StylingMode(ButtonStylingMode.Contained).UseSubmitBehavior(false).OnClick(@"function(args){ExportarPDF(urlPie)}"))
                            @(Html.DevExtreme().Tooltip().Target("#btnExportar1").ContentTemplate(@<text>Exportar</text>).ShowEvent("mouseenter").HideEvent("mouseleave"))
                        </div>
                        <div class="col-lg-1">
                            @(Html.DevExtreme().Button().Text("").ID("btnExportar2").Icon("fas fa-chart-line").Type(ButtonType.Default).StylingMode(ButtonStylingMode.Contained).UseSubmitBehavior(false).OnClick(@"function(args){ExportarPDF(urlLine)}"))
                            @(Html.DevExtreme().Tooltip().Target("#btnExportar2").ContentTemplate(@<text>Exportar</text>).ShowEvent("mouseenter").HideEvent("mouseleave"))
                        </div>
                        <div class="col-lg-1">
                            @(Html.DevExtreme().Button().Text("").ID("btnAtras").Icon("fas fa-undo-alt").Type(ButtonType.Default).StylingMode(ButtonStylingMode.Contained).UseSubmitBehavior(false).OnClick(@"function(args){comback(urlComback)}"))
                            @(Html.DevExtreme().Tooltip().Target("#btnAtras").ContentTemplate(@<text>Regresar a la pantalla anterior</text>).ShowEvent("mouseenter").HideEvent("mouseleave"))
                        </div>
                    </div>
                   

                   

                   

                    
                </div>
                <div class="row col-12" style="margin-top:5px">
                    @{
                        var tabs = new object[] {
                            new { id = "situacion", text = "Distribución de cedulas por situación" },
                            new { id = "emergencia", text = "Distribución de cedulas por Tipo de Emergencia" },
                            new { id = "tipo", text = "Distribución de cedulas por Tipo" },
                            new { id = "permisos", text = "Distribución de permisos por estado y pesquería" },
                            new { id = "transreceptores", text = "Distribución de equipos transreceptores por litoral" },
                            new { id = "porestado", text = "Distribucioón de equipos transreceptores por estado" },
                            new { id = "flota", text = "Flota Operando y Transmitiendo" },
                            new { id = "enpuerto", text = "Flota Operando y Transmitiendo Fuera" },
                            new { id = "enpuertoA", text = "Flota Operando y Transmitiendo En Puerto" }
                        };
                    }
                    @(Html.DevExtreme().Tabs().DataSource(tabs).ScrollByContent(true).ShowNavButtons(true).SelectedIndex(0).OnItemClick("tabs_itemClick"))
                </div>
                <div class="row col-12 situacion oculto activo">
                    @(Html.DevExtreme().Toolbar().Height("40px")
                        .Items(items => {
                            items.Add()
                                .Widget(w => w
                                    .Button().Icon("fas fa-file-pdf")
                                    .Text("PDF")
                                    .UseSubmitBehavior(false)
                                    .OnClick(@"function(args){ExportarPDF(urlsituacion1)}")
                            ).LocateInMenu(ToolbarItemLocateInMenuMode.Always);
                            items.Add()
                                .Widget(w => w
                                    .Button().Icon("fas fa-chart-pie")
                                    .Text("Gráfica Pastel")
                                    .UseSubmitBehavior(false)
                                    .OnClick(@"function(args){ExportarPDF(urlsituacion2)}")
                            ).LocateInMenu(ToolbarItemLocateInMenuMode.Always);
                            items.Add()
                                .Widget(w => w
                                    .Button().Icon("fas fa-chart-line")
                                    .Text("Gráfica Lineal")
                                    .UseSubmitBehavior(false)
                                    .OnClick(@"function(args){ExportarPDF(urlsituacion3)}")
                            ).LocateInMenu(ToolbarItemLocateInMenuMode.Always);
                        })
                    )
                    @(Html.DevExtreme().DataGrid<MASCore.Models.TiposDeAlertasModel>()
                        .DataSource(Model.TiposDeAlertaLista, new string[] { "Titulo" })
                        .ShowColumnLines(true)
                        .ShowRowLines(true)
                        .RowAlternationEnabled(true)
                        .ShowBorders(true)
                        .ShowColumnHeaders(true)
                        .Columns(columns =>
                        {
                            columns.AddFor(m => m.Titulo).Caption("Titulo").AllowSorting(false);
                            columns.AddFor(m => m.PescaProhibida).Caption("Pesca Prohibida").CellTemplate(@<text>
                                <a href='@Url.Action("MarcadoresEarthPageRepEstadistico", "ReportesAvanzados", null, Request.Url.Scheme)?Litoral=<%= data.Titulo %>&Alarmas=PESCA PROHIBIDA&RangoDeFechas=@Model.RangoDeFechas.ToString().ToLower()&FechaInicio=@Model.FechaInicio.ToString("MM/dd/yyyy HH:mm:ss")&FechaFin=@Model.FechaFin.ToString("MM/dd/yyyy HH:mm:ss")' target="_blank"><%= value %></a>
                            </text>).AllowSorting(false).Alignment(HorizontalAlignment.Center);
                            columns.AddFor(m => m.AreaNaturalProtegida).Caption("Area Natural").CellTemplate(@<text>
                                <a href='@Url.Action("MarcadoresEarthPageRepEstadistico", "ReportesAvanzados", null, Request.Url.Scheme)?Litoral=<%= data.Titulo %>&Alarmas=AREA NATURAL PROTEGIDA&RangoDeFechas=@Model.RangoDeFechas.ToString().ToLower()&FechaInicio=@Model.FechaInicio.ToString("MM/dd/yyyy HH:mm:ss")&FechaFin=@Model.FechaFin.ToString("MM/dd/yyyy HH:mm:ss")' target="_blank"><%= value %></a>
                            </text>).AllowSorting(false).Alignment(HorizontalAlignment.Center);
                            columns.AddFor(m => m.Emergencias).Caption("Emergencias").CellTemplate(@<text>
                                <a href='@Url.Action("MarcadoresEarthPageRepEstadistico", "ReportesAvanzados", null, Request.Url.Scheme)?Litoral=<%= data.Titulo %>&Alarmas=EMERGENCIA&RangoDeFechas=@Model.RangoDeFechas.ToString().ToLower()&FechaInicio=@Model.FechaInicio.ToString("MM/dd/yyyy HH:mm:ss")&FechaFin=@Model.FechaFin.ToString("MM/dd/yyyy HH:mm:ss")' target="_blank"><%= value %></a>
                            </text>).AllowSorting(false).Alignment(HorizontalAlignment.Center);
                            columns.AddFor(m => m.ZonaDecreto).Caption("Zona Decreto").CellTemplate(@<text>
                                <a href='@Url.Action("MarcadoresEarthPageRepEstadistico", "ReportesAvanzados", null, Request.Url.Scheme)?Litoral=<%= data.Titulo %>&Alarmas=ZONA DECRETO&RangoDeFechas=@Model.RangoDeFechas.ToString().ToLower()&FechaInicio=@Model.FechaInicio.ToString("MM/dd/yyyy HH:mm:ss")&FechaFin=@Model.FechaFin.ToString("MM/dd/yyyy HH:mm:ss")' target="_blank"><%= value %></a>
                            </text>).AllowSorting(false).Alignment(HorizontalAlignment.Center);
                            columns.AddFor(m => m.SinTransmision).Caption("Sin Tx.").CellTemplate(@<text>
                                <a href='@Url.Action("MarcadoresEarthPageRepEstadistico", "ReportesAvanzados", null, Request.Url.Scheme)?Litoral=<%= data.Titulo %>&Alarmas=SIN TRANSMISION&RangoDeFechas=@Model.RangoDeFechas.ToString().ToLower()&FechaInicio=@Model.FechaInicio.ToString("MM/dd/yyyy HH:mm:ss")&FechaFin=@Model.FechaFin.ToString("MM/dd/yyyy HH:mm:ss")' target="_blank"><%= value %></a>
                            </text>).AllowSorting(false).Alignment(HorizontalAlignment.Center);
                        })
                    )
                </div>
                <div class="row col-12 emergencia oculto">
                    @(Html.DevExtreme().Toolbar().Height("40px")
                        .Items(items => {
                            items.Add()
                                .Widget(w => w
                                    .Button().Icon("fas fa-file-pdf")
                                    .Text("PDF")
                                    .UseSubmitBehavior(false)
                                    .OnClick(@"function(args){ExportarPDF(urlemergencia1)}")
                            ).LocateInMenu(ToolbarItemLocateInMenuMode.Always);
                            items.Add()
                                .Widget(w => w
                                    .Button().Icon("fas fa-chart-pie")
                                    .Text("Gráfica Pastel")
                                    .UseSubmitBehavior(false)
                                    .OnClick(@"function(args){ExportarPDF(urlemergencia2)}")
                            ).LocateInMenu(ToolbarItemLocateInMenuMode.Always);
                            items.Add()
                                .Widget(w => w
                                    .Button().Icon("fas fa-chart-line")
                                    .Text("Gráfica Lineal")
                                    .UseSubmitBehavior(false)
                                    .OnClick(@"function(args){ExportarPDF(urlemergencia3)}")
                            ).LocateInMenu(ToolbarItemLocateInMenuMode.Always);
                        })
                    )
                    @(Html.DevExtreme().DataGrid<MASCore.Models.TiposDeEmergencias>()
                        .DataSource(Model.TiposDeEmergenciaLista, new string[] { "TipoEmergencia" })
                        .ShowColumnLines(true)
                        .ShowRowLines(true)
                        .RowAlternationEnabled(true)
                        .ShowBorders(true)
                        .ShowColumnHeaders(true)
                        .Columns(columns =>
                        {
                            columns.AddFor(m => m.TipoEmergencia).Caption("Tipo Emergencia").AllowSorting(false);
                            columns.AddFor(m => m.Cantidad).Caption("Cantidad").CellTemplate(@<text>
                                <a href='@Url.Action("MarcadoresEarthPageRepEstadistico", "ReportesAvanzados", null, Request.Url.Scheme)?Litoral=<%= data.TipoEmergencia %>&Alarmas=EMERGENCIACAUSAS&RangoDeFechas=@Model.RangoDeFechas.ToString().ToLower()&FechaInicio=@Model.FechaInicio.ToString("MM/dd/yyyy HH:mm:ss")&FechaFin=@Model.FechaFin.ToString("MM/dd/yyyy HH:mm:ss")' target="_blank"><%= value %></a>
                            </text>).AllowSorting(false).Alignment(HorizontalAlignment.Center);
                        })
                    )
                </div>
                <div class="row col-12 tipo oculto">
                    @(Html.DevExtreme().Toolbar().Height("40px")
                        .Items(items => {
                            items.Add()
                                .Widget(w => w
                                    .Button().Icon("fas fa-file-pdf")
                                    .Text("PDF")
                                    .UseSubmitBehavior(false)
                                    .OnClick(@"function(args){ExportarPDF(urltipo1)}")
                            ).LocateInMenu(ToolbarItemLocateInMenuMode.Always);
                            items.Add()
                                .Widget(w => w
                                    .Button().Icon("fas fa-chart-pie")
                                    .Text("Gráfica Pastel")
                                    .UseSubmitBehavior(false)
                                    .OnClick(@"function(args){ExportarPDF(urltipo2)}")
                            ).LocateInMenu(ToolbarItemLocateInMenuMode.Always);
                            items.Add()
                                .Widget(w => w
                                    .Button().Icon("fas fa-chart-line")
                                    .Text("Gráfica Lineal")
                                    .UseSubmitBehavior(false)
                                    .OnClick(@"function(args){ExportarPDF(urltipo3)}")
                            ).LocateInMenu(ToolbarItemLocateInMenuMode.Always);
                        })
                    )
                    @(Html.DevExtreme().DataGrid<MASCore.Models.CantidadSolLlamadas>()
                        .DataSource(Model.CantidadSolLlamadasLista, new string[] { "Tipo" })
                        .ShowColumnLines(true)
                        .ShowRowLines(true)
                        .RowAlternationEnabled(true)
                        .ShowBorders(true)
                        .ShowColumnHeaders(true)
                        .Columns(columns =>
                        {
                            columns.AddFor(m => m.Tipo).Caption("Tipo").AllowSorting(false);
                            columns.AddFor(m => m.Cantidad).Caption("Cantidad").AllowSorting(false).Alignment(HorizontalAlignment.Center);
                        })
                    )
                </div>
                <div class="row col-12 permisos oculto">
                    @(Html.DevExtreme().Toolbar().Height("40px")
                        .Items(items => {
                            items.Add()
                                .Widget(w => w
                                    .Button().Icon("fas fa-file-pdf")
                                    .Text("PDF")
                                    .UseSubmitBehavior(false)
                                    .OnClick(@"function(args){ExportarPDF(urltipo1)}")
                            ).LocateInMenu(ToolbarItemLocateInMenuMode.Always);
                            items.Add()
                                .Widget(w => w
                                    .Button().Icon("fas fa-chart-pie")
                                    .Text("Gráfica Pastel")
                                    .UseSubmitBehavior(false)
                                    .OnClick(@"function(args){ExportarPDF(urltipo2)}")
                            ).LocateInMenu(ToolbarItemLocateInMenuMode.Always);
                            items.Add()
                                .Widget(w => w
                                    .Button().Icon("fas fa-chart-line")
                                    .Text("Gráfica Lineal")
                                    .UseSubmitBehavior(false)
                                    .OnClick(@"function(args){ExportarPDF(urltipo3)}")
                            ).LocateInMenu(ToolbarItemLocateInMenuMode.Always);
                        })
                    )
                    @(Html.DevExtreme().DataGrid<MASCore.Models.EmbPorEdoPermisoM>()
                        .DataSource(Model.EmbPorEdoPermisoLista, new string[] { "Estado" })
                        .ShowColumnLines(true)
                        .ColumnHidingEnabled(true)
                        .ShowRowLines(true)
                        .RowAlternationEnabled(true)
                        .ShowBorders(true)
                        .ShowColumnHeaders(true)
                        .WordWrapEnabled(true)
                        .Columns(columns =>
                        {
                            columns.AddFor(m => m.Estado).Caption("Estado").AllowSorting(false).Width(200);
                            columns.AddFor(m => m.atunVig).Caption("Atún Vig").AllowSorting(false).Width(100);
                            columns.AddFor(m => m.atunVen).Caption("Atún Ven").AllowSorting(false).Width(100);
                            columns.AddFor(m => m.camaronVig).Caption("Camarón Vig").AllowSorting(false).Width(100);
                            columns.AddFor(m => m.camaronVen).Caption("Camarón Ven").AllowSorting(false).Width(100);
                            columns.AddFor(m => m.escamaVig).Caption("Escama Vig").AllowSorting(false);
                            columns.AddFor(m => m.escamaVen).Caption("Escama Ven").AllowSorting(false);
                            columns.AddFor(m => m.sardinapelagicosVig).Caption("Sardina/Pel Vig").AllowSorting(false);
                            columns.AddFor(m => m.sardinapelagicosVen).Caption("Sardina/Pel Ven").AllowSorting(false);
                            columns.AddFor(m => m.tiburonVig).Caption("Tiburón Vig").AllowSorting(false);
                            columns.AddFor(m => m.tiburonVen).Caption("Tiburón Ven").AllowSorting(false);
                            columns.AddFor(m => m.calamarVig).Caption("Calamar Vig").AllowSorting(false);
                            columns.AddFor(m => m.calamarVen).Caption("Calamar Ven").AllowSorting(false);
                            columns.AddFor(m => m.langostaVig).Caption("Langosta Vig").AllowSorting(false);
                            columns.AddFor(m => m.langostaVen).Caption("Langosta Ven").AllowSorting(false);
                            columns.AddFor(m => m.pulpoVig).Caption("Pulpo Vig").AllowSorting(false);
                            columns.AddFor(m => m.pulpoVen).Caption("Pulpo Ven").AllowSorting(false);
                            columns.AddFor(m => m.fomentoVig).Caption("Fomento Vig").AllowSorting(false);
                            columns.AddFor(m => m.fomentoVen).Caption("Fomento Ven").AllowSorting(false);
                            columns.AddFor(m => m.otrosVig).Caption("Otros Vig").AllowSorting(false);
                            columns.AddFor(m => m.otrosVen).Caption("Otros Ven").AllowSorting(false);
                            columns.AddFor(m => m.tiburonMVig).Caption("Tiburón M Vig").AllowSorting(false);
                            columns.AddFor(m => m.tiburonMVen).Caption("Tiburón M Ven").AllowSorting(false);
                            columns.AddFor(m => m.jaibaMVig).Caption("Jaiba M Vig").AllowSorting(false);
                            columns.AddFor(m => m.jaibaMVen).Caption("Jaiba M Ven").AllowSorting(false);
                            columns.AddFor(m => m.escamaMVig).Caption("Escama M Vig").AllowSorting(false);
                            columns.AddFor(m => m.escamaMVen).Caption("Escama M Ven").AllowSorting(false);
                            columns.AddFor(m => m.camaronMVig).Caption("Camarón M Vig").AllowSorting(false);
                            columns.AddFor(m => m.camaronMVen).Caption("Camarón M Ven").AllowSorting(false);
                            columns.AddFor(m => m.total).Caption("Total").AllowSorting(false);
                        })
                    )
                </div>
                <div class="row col-12 transreceptores oculto">
                    @(Html.DevExtreme().Toolbar().Height("40px")
                        .Items(items => {
                            items.Add()
                                .Widget(w => w
                                    .Button().Icon("fas fa-file-pdf")
                                    .Text("PDF")
                                    .UseSubmitBehavior(false)
                                    .OnClick(@"function(args){ExportarPDF(urltransreceptores1)}")
                            ).LocateInMenu(ToolbarItemLocateInMenuMode.Always);
                            items.Add()
                                .Widget(w => w
                                    .Button().Icon("fas fa-chart-pie")
                                    .Text("Gráfica Pastel")
                                    .UseSubmitBehavior(false)
                                    .OnClick(@"function(args){ExportarPDF(urltransreceptores2)}")
                            ).LocateInMenu(ToolbarItemLocateInMenuMode.Always);
                            items.Add()
                                .Widget(w => w
                                    .Button().Icon("fas fa-chart-line")
                                    .Text("Gráfica Lineal")
                                    .UseSubmitBehavior(false)
                                    .OnClick(@"function(args){ExportarPDF(urltransreceptores3)}")
                            ).LocateInMenu(ToolbarItemLocateInMenuMode.Always);
                        })
                    )
                    @(Html.DevExtreme().DataGrid<MASCore.Models.TotalEmbarcacionLitoral>()
                        .DataSource(Model.TotalEmbarcacionLitoralLista, new string[] { "Zona" })
                        .ShowColumnLines(true)
                        .ShowRowLines(true)
                        .RowAlternationEnabled(true)
                        .ShowBorders(true)
                        .ShowColumnHeaders(true)
                        .Columns(columns =>
                        {
                            columns.AddFor(m => m.Zona).Caption("Zona").AllowSorting(false);
                            columns.AddFor(m => m.Total).Caption("Total").AllowSorting(false).Alignment(HorizontalAlignment.Center);
                        })
                    )
                </div>
                <div class="row col-12 porestado oculto">
                    @(Html.DevExtreme().Toolbar().Height("40px")
                        .Items(items => {
                            items.Add()
                                .Widget(w => w
                                    .Button().Icon("fas fa-file-pdf")
                                    .Text("PDF")
                                    .UseSubmitBehavior(false)
                                    .OnClick(@"function(args){ExportarPDF(urlporestado1)}")
                            ).LocateInMenu(ToolbarItemLocateInMenuMode.Always);
                            items.Add()
                                .Widget(w => w
                                    .Button().Icon("fas fa-chart-pie")
                                    .Text("Pacífico - Gráfica Pastel")
                                    .UseSubmitBehavior(false)
                                    .OnClick(@"function(args){ExportarPDF(urlporestado2)}")
                            ).LocateInMenu(ToolbarItemLocateInMenuMode.Always);
                            items.Add()
                                .Widget(w => w
                                    .Button().Icon("fas fa-chart-line")
                                    .Text("Pacífico - Gráfica Lineal")
                                    .UseSubmitBehavior(false)
                                    .OnClick(@"function(args){ExportarPDF(urlporestado3)}")
                            ).LocateInMenu(ToolbarItemLocateInMenuMode.Always);
                            items.Add()
                                .Widget(w => w
                                    .Button().Icon("fas fa-chart-pie")
                                    .Text("Golfo - Gráfica Pastel")
                                    .UseSubmitBehavior(false)
                                    .OnClick(@"function(args){ExportarPDF(urlporestado4)}")
                            ).LocateInMenu(ToolbarItemLocateInMenuMode.Always);
                            items.Add()
                                .Widget(w => w
                                    .Button().Icon("fas fa-chart-line")
                                    .Text("Golfo - Gráfica Lineal")
                                    .UseSubmitBehavior(false)
                                    .OnClick(@"function(args){ExportarPDF(urlporestado5)}")
                            ).LocateInMenu(ToolbarItemLocateInMenuMode.Always);
                        })
                    )
                    @(Html.DevExtreme().DataGrid<MASCore.Models.DispositivosEstados>()
                        .DataSource(Model.DispositivosEstadosLista, new string[] { "Estado" })
                        .ShowColumnLines(true)
                        .ShowRowLines(true)
                        .RowAlternationEnabled(true)
                        .ShowBorders(true)
                        .ShowColumnHeaders(true)
                        .DataSourceOptions(o => o.Paginate(false))
                        .Columns(columns =>
                        {
                            columns.AddFor(m => m.Estado).Caption("Estado").AllowSorting(false);
                            columns.AddFor(m => m.Dispositivos).Caption("Dispositivos").AllowSorting(false).Alignment(HorizontalAlignment.Center);
                        })
                    )
                </div>
                <div class="row col-12 flota oculto">
                    @(Html.DevExtreme().Toolbar().Height("40px")
                        .Items(items => {
                            items.Add()
                                .Widget(w => w
                                    .Button().Icon("fas fa-file-pdf")
                                    .Text("PDF")
                                    .UseSubmitBehavior(false)
                                    .OnClick(@"function(args){ExportarPDF(urlflota1)}")
                            ).LocateInMenu(ToolbarItemLocateInMenuMode.Always);
                            items.Add()
                                .Widget(w => w
                                    .Button().Icon("fas fa-chart-pie")
                                    .Text("Pacífico - Gráfica Pastel")
                                    .UseSubmitBehavior(false)
                                    .OnClick(@"function(args){ExportarPDF(urlflota2)}")
                            ).LocateInMenu(ToolbarItemLocateInMenuMode.Always);
                            items.Add()
                                .Widget(w => w
                                    .Button().Icon("fas fa-chart-line")
                                    .Text("Pacífico - Gráfica Lineal")
                                    .UseSubmitBehavior(false)
                                    .OnClick(@"function(args){ExportarPDF(urlflota3)}")
                            ).LocateInMenu(ToolbarItemLocateInMenuMode.Always);
                            items.Add()
                                .Widget(w => w
                                    .Button().Icon("fas fa-chart-pie")
                                    .Text("Golfo - Gráfica Pastel")
                                    .UseSubmitBehavior(false)
                                    .OnClick(@"function(args){ExportarPDF(urlflota4)}")
                            ).LocateInMenu(ToolbarItemLocateInMenuMode.Always);
                            items.Add()
                                .Widget(w => w
                                    .Button().Icon("fas fa-chart-line")
                                    .Text("Golfo - Gráfica Lineal")
                                    .UseSubmitBehavior(false)
                                    .OnClick(@"function(args){ExportarPDF(urlflota5)}")
                            ).LocateInMenu(ToolbarItemLocateInMenuMode.Always);
                        })
                    )
                    @(Html.DevExtreme().DataGrid<MASCore.Models.TiposZonasPorLitoral>()
                        .DataSource(Model.DispositivosTiposZonasLista, new string[] { "Zona" })
                        .ShowColumnLines(true)
                        .ShowRowLines(true)
                        .RowAlternationEnabled(true)
                        .ShowBorders(true)
                        .ShowColumnHeaders(true)
                        .Columns(columns =>
                        {
                            columns.AddFor(m => m.Zona).Caption("Zona").AllowSorting(false).Width(300);
                            columns.AddFor(m => m.Pacifico).Caption("Pacífico").AllowSorting(false).Alignment(HorizontalAlignment.Center);
                            columns.AddFor(m => m.Golfo).Caption("Golfo").AllowSorting(false).Alignment(HorizontalAlignment.Center);
                            columns.AddFor(m => m.Total).Caption("Total").AllowSorting(false).Alignment(HorizontalAlignment.Center);
                        })
                    )
                </div>
                <div class="row col-12 enpuerto oculto">
                    @(Html.DevExtreme().Toolbar().Height("40px")
                        .Items(items => {
                            items.Add()
                                .Widget(w => w
                                    .Button().Icon("fas fa-file-pdf")
                                    .Text("PDF")
                                    .UseSubmitBehavior(false)
                                    .OnClick(@"function(args){ExportarPDF(urlenpuerto1)}")
                            ).LocateInMenu(ToolbarItemLocateInMenuMode.Always);
                            items.Add()
                                .Widget(w => w
                                    .Button().Icon("fas fa-chart-pie")
                                    .Text("Pacífico - Gráfica Pastel")
                                    .UseSubmitBehavior(false)
                                    .OnClick(@"function(args){ExportarPDF(urlenpuerto2)}")
                            ).LocateInMenu(ToolbarItemLocateInMenuMode.Always);
                            items.Add()
                                .Widget(w => w
                                    .Button().Icon("fas fa-chart-line")
                                    .Text("Pacífico - Gráfica Lineal")
                                    .UseSubmitBehavior(false)
                                    .OnClick(@"function(args){ExportarPDF(urlenpuerto3)}")
                            ).LocateInMenu(ToolbarItemLocateInMenuMode.Always);
                            items.Add()
                                .Widget(w => w
                                    .Button().Icon("fas fa-chart-pie")
                                    .Text("Golfo - Gráfica Pastel")
                                    .UseSubmitBehavior(false)
                                    .OnClick(@"function(args){ExportarPDF(urlenpuerto4)}")
                            ).LocateInMenu(ToolbarItemLocateInMenuMode.Always);
                            items.Add()
                                .Widget(w => w
                                    .Button().Icon("fas fa-chart-line")
                                    .Text("Golfo - Gráfica Lineal")
                                    .UseSubmitBehavior(false)
                                    .OnClick(@"function(args){ExportarPDF(urlenpuerto5)}")
                            ).LocateInMenu(ToolbarItemLocateInMenuMode.Always);
                        })
                    )
                    @(Html.DevExtreme().DataGrid<MASCore.Models.OperandoyTransmitiendoModel>()
                        .DataSource(Model.FlotaOperandoyTransmitiendoLista, new string[] { "Flota" })
                        .ShowColumnLines(true)
                        .ShowRowLines(true)
                        .RowAlternationEnabled(true)
                        .ShowBorders(true)
                        .ShowColumnHeaders(true)
                        .Columns(columns =>
                        {
                            columns.AddFor(m => m.Flota).Caption("Pesquería").AllowSorting(false).Width(300);
                            columns.AddFor(m => m.Pacifico).Caption("Pacífico").AllowSorting(false).Alignment(HorizontalAlignment.Center);
                            columns.AddFor(m => m.Golfo).Caption("Golfo").AllowSorting(false).Alignment(HorizontalAlignment.Center);
                            columns.AddFor(m => m.Total).Caption("Total").AllowSorting(false).Alignment(HorizontalAlignment.Center);
                        })
                    )
                </div>
                <div class="row col-12 enpuertoA oculto">
                    @(Html.DevExtreme().Toolbar().Height("40px")
                        .Items(items => {
                            items.Add()
                                .Widget(w => w
                                    .Button().Icon("fas fa-file-pdf")
                                    .Text("PDF")
                                    .UseSubmitBehavior(false)
                                    .OnClick(@"function(args){ExportarPDF(urlenpuertoA1)}")
                            ).LocateInMenu(ToolbarItemLocateInMenuMode.Always);
                            items.Add()
                                .Widget(w => w
                                    .Button().Icon("fas fa-chart-pie")
                                    .Text("Pacífico - Gráfica Pastel")
                                    .UseSubmitBehavior(false)
                                    .OnClick(@"function(args){ExportarPDF(urlenpuertoA2)}")
                            ).LocateInMenu(ToolbarItemLocateInMenuMode.Always);
                            items.Add()
                                .Widget(w => w
                                    .Button().Icon("fas fa-chart-line")
                                    .Text("Pacífico - Gráfica Lineal")
                                    .UseSubmitBehavior(false)
                                    .OnClick(@"function(args){ExportarPDF(urlenpuertoA3)}")
                            ).LocateInMenu(ToolbarItemLocateInMenuMode.Always);
                            items.Add()
                                .Widget(w => w
                                    .Button().Icon("fas fa-chart-pie")
                                    .Text("Golfo - Gráfica Pastel")
                                    .UseSubmitBehavior(false)
                                    .OnClick(@"function(args){ExportarPDF(urlenpuertoA4)}")
                            ).LocateInMenu(ToolbarItemLocateInMenuMode.Always);
                            items.Add()
                                .Widget(w => w
                                    .Button().Icon("fas fa-chart-line")
                                    .Text("Golfo - Gráfica Lineal")
                                    .UseSubmitBehavior(false)
                                    .OnClick(@"function(args){ExportarPDF(urlenpuertoA5)}")
                            ).LocateInMenu(ToolbarItemLocateInMenuMode.Always);
                        })
                    )
                    @(Html.DevExtreme().DataGrid<MASCore.Models.OperandoyTransmitiendoModel>()
                        .DataSource(Model.FlotaOperandoyTransmitiendoEnPuertoLista, new string[] { "Flota" })
                        .ShowColumnLines(true)
                        .ShowRowLines(true)
                        .RowAlternationEnabled(true)
                        .ShowBorders(true)
                        .ShowColumnHeaders(true)
                        .Columns(columns =>
                        {
                            columns.AddFor(m => m.Flota).Caption("Pesquería").AllowSorting(false).Width(300);
                            columns.AddFor(m => m.Pacifico).Caption("Pacífico").AllowSorting(false).Alignment(HorizontalAlignment.Center);
                            columns.AddFor(m => m.Golfo).Caption("Golfo").AllowSorting(false).Alignment(HorizontalAlignment.Center);
                            columns.AddFor(m => m.Total).Caption("Total").AllowSorting(false).Alignment(HorizontalAlignment.Center);
                        })
                    )
                </div>
            </div>
        </div>
    </div>
</div>
}

<script type="text/javascript">
    function checkBox_admin_valueChanged(data) {
        $("#FechaLimite").dxDateBox("instance").option({ "disabled": !data.value });
    }

    function checkBox_embar_valueChanged(data) {
        $("#FechaInicio").dxDateBox("instance").option({ "disabled": !data.value });
        $("#FechaFin").dxDateBox("instance").option({ "disabled": !data.value });
    }

    $(document).ready(function () {
        $("#colapsar").click(function () {
            if ($(".contenidoreporte").hasClass("show") === true) {
                $("#colapsar").find("i.fas").removeClass("fa-angle-double-up").addClass("fa-angle-double-down")
            } else {
                $("#colapsar").find("i.fas").removeClass("fa-angle-double-down").addClass("fa-angle-double-up")
            }
        });
    });
</script>

<style>
    td[role=columnheader] {
        text-align: center !important
    }

    .totalembtransysintrans {
        text-align: center;
        height: 35px;
        font-family: 'Helvetica Neue','Segoe UI',Helvetica,Verdana,sans-serif;
    }

    .dx-tab {
        width: auto;
    }
</style>