﻿@using MASCore.Models
@model MASCore.Models.ReporteRumbosM

@{
    ViewBag.Title = "Reporte de Ruta Tx-No Tx";
}

<script src="~/Scripts/jquery.autocomplete.min.js" type="text/javascript"></script>
<link href="~/Content/jquery.autocomplete.css" rel="stylesheet" type="text/css" />


@using (Html.BeginForm("ReporteRumbos", "ReportesAvanzados", FormMethod.Post))
{
    @Html.ValidationSummary(true)

    <div id="div-buscainformacionembarcacion" style="display:none;padding-left:-100px">
        @*<div class="div-comentarios">*@
        <div><h4 style="color:#DF9448">Busca Información de Embarcación</h4></div>
        <div>
            Opciones de Búsqueda : @Html.DropDownList("opcionesbusqueda")
            Valor: @Html.TextBox("txtvalor")
            @*<input type="submit" name="submitButton" value="Buscar Información" />*@
            @Html.DevExtreme().Button().ID("submitButton").Icon("fas fa-search").Text("").Type(ButtonType.Default).ID("btnConsultar").Width("100%")
            @(Html.DevExtreme().Tooltip().Target("#submitButton").ShowEvent("mouseenter").HideEvent("mouseleave").ContentTemplate("Consultar Información"))
        </div>
        @{
            if (Model.InformacionDeEmbarcacion.Count > 0)
            {
                <div id="gridbuscainformacionembarcacion" style="padding-left:-100px">
                    @{
                        var gridbuscainfoembarcacion = new WebGrid(Model.InformacionDeEmbarcacion, rowsPerPage: 500, ajaxUpdateContainerId: "gridbuscainformacionembarcacion");
                    }
                    @gridbuscainfoembarcacion.GetHtml(
                            fillEmptyRows: false,
                            alternatingRowStyle: "fila-alternativa", tableStyle: "griddd",
                            headerStyle: "encabezado-grid",
                            footerStyle: "pie-grid",
                            mode: WebGridPagerModes.All,
                            firstText: "<< Primera",
                            previousText: "< Anterior",
                            nextText: "Siguiente >",
                            lastText: "Última >>",
                            columns: gridbuscainfoembarcacion.Columns(
                                    gridbuscainfoembarcacion.Column("Matricula", header: "Matricula", style: "w100"),
                                            gridbuscainfoembarcacion.Column("Nombre", header: "Nombre Barco"),
                                            gridbuscainfoembarcacion.Column("SerieAntena", header: "SerieAntena"),
                                            gridbuscainfoembarcacion.Column("Localidad", header: "Localidad"),
                                            gridbuscainfoembarcacion.Column("RNP", header: "RNP"),
                                            gridbuscainfoembarcacion.Column("Permiso", header: "Permiso"),
                                            gridbuscainfoembarcacion.Column("TipoPermiso", header: "TipoPermiso"),
                                            gridbuscainfoembarcacion.Column("RazonSocial", header: "RazonSocial"),
                                            gridbuscainfoembarcacion.Column("RepLegal", header: "RepLegal"),
                                            gridbuscainfoembarcacion.Column("RNPTitular", header: "RNPTitular"),
                                            gridbuscainfoembarcacion.Column("Acción", format: @<text>    <a href="javascript:RegresaValoresEmbarcacionReporteRumbos('@item.Nombre','@item.RazonSocial','@item.Matricula','@item.RNP','@item.SerieAntena');">Seleccionar</a> </text>, style: "letrachica")
                              )
                          )
                </div>
            }
        }
        @* </div>*@
    </div>


    <article>
        <h1>Reporte De Actividad De Transmisión</h1>
    </article>

    if (!string.IsNullOrEmpty(ViewBag.NoValidoPor))
    {
        <div class="alert alert-danger" role="alert">
            @ViewBag.NoValidoPor
        </div>
    }

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h4>Criterios de consulta</h4>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-3" style="padding-right: 0; padding-top: 16px;">
                                        @Html.LabelFor(model => model.FechaInicio)
                                    </div>
                                    <div class="col-3" style="padding-right: 0; padding-top: 5px;">
                                        @Html.DevExtreme().DateBoxFor(model => model.FechaInicio).Width("100%")
                                    </div>
                                    <div class="col-3" style="padding-right: 0; padding-top: 16px;">
                                        @Html.LabelFor(model => model.FechaInicio)
                                    </div>
                                    <div class="col-3" style="padding-right: 0; padding-top: 5px;">
                                        @Html.DevExtreme().DateBoxFor(model => model.FechaFin).Width("100%")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-3" style="padding-right: 0; padding-top: 16px;">
                                        @Html.LabelFor(model => model.Vehiculo)
                                    </div>
                                    <div class="col-3" style="padding-right: 0; padding-top: 5px;">
                                        @Html.DevExtreme().AutocompleteFor(model => model.Vehiculo).MinSearchLength(1).DataSource(d => d.Mvc().LoadAction("../ReportesAvanzados/SearchResultadoGenerico_matriculanombrernp"))
                                    </div>
                                    <div class="col-3">

                                    </div>
                                    <div class="col-1" style="padding-right: 0; padding-top: 5px;">
                                        @Html.DevExtreme().Button().Icon("fas fa-search").Width("100%").UseSubmitBehavior(true).ID("btnBuscar").Type(ButtonType.Default).ElementAttr("value", "Buscar")
                                        @(Html.DevExtreme().Tooltip().Target("#btnBuscar").ShowEvent("mouseenter").HideEvent("mouseleave").ContentTemplate("Consultar Información"))
                                    </div>
                                    @if (Model.InfoRumbosLista.Any())
                                    {
                                    <div class="col-1" style="padding-right: 0; padding-top: 5px;">
                                        @Html.DevExtreme().Button().ID("btnExportar").Icon("far fa-file-pdf").Width("100%").Type(ButtonType.Success).OnClick(@<text>  function(){ window.open("@Url.Action("GeneraReporteRumbosPdf", "ReportesAvanzados")"); } </text>)
                                        @(Html.DevExtreme().Tooltip().Target("#btnExportar").ShowEvent("mouseenter").HideEvent("mouseleave").ContentTemplate("Consultar Información"))
                                    </div>
                                        <div class="col-1" style="padding-right: 0; padding-top: 5px;">
                                            @Html.DevExtreme().Button().ID("btnPDF").Icon("far fa-file-excel").Type(ButtonType.Danger).Width("100%").OnClick(@<text>  function(){ window.location = "@Url.Action("GeneraReporteRumbos", "ReportesAvanzados")"; } </text>)
                                            @(Html.DevExtreme().Tooltip().Target("#btnPDF").ShowEvent("mouseenter").HideEvent("mouseleave").ContentTemplate("Consultar Información"))
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="datosgenerales">


        @{
            if (Model.InfoRumbosLista.Any())
            {
                <tr>
                    <td colspan="6" align="center">

                        <div id="divMarcadeagua" style="margin-bottom: -100px; margin-left: 5%; width: 90%; height: 100px; background-image: url(../Images/marcadeagua.png); background-repeat: space; background-position: center; filter: alpha(opacity=10); -moz-opacity: .10; opacity: .10; ">

                        </div>
                        <div id="gridrumbos" style="padding-left:-100px">
                            @(Html.DevExtreme().DataGrid<RumbosList>().DataSource(Model.InfoRumbosLista)
                                          .ShowColumnLines(true).ColumnAutoWidth(true).ColumnHidingEnabled(true).ShowRowLines(true).RowAlternationEnabled(true).ShowBorders(true)
                                          .Columns(columns =>
                                          {
                                              columns.AddFor(o => o.Embarcacion).Caption("Embarcación");
                                              columns.AddFor(o => o.RowId).Caption("Orden");
                                              columns.AddFor(o => o.LatitudFormato).Caption("Latitud");
                                              columns.AddFor(o => o.LongitudFormato).Caption("Longitud");
                                              columns.AddFor(o => o.FechaRecepcionUnitracFormato).Caption("Fecha");
                                              columns.AddFor(o => o.VelocidadFormato).Caption("Velocidad");
                                              columns.AddFor(o => o.Rumbo).Caption("Rumbo");
                                              columns.AddFor(o => o.ZonasDescripcion).Caption("Zona");
                                              columns.AddFor(o => o.Distancia).Caption("Distancia");
                                              columns.AddFor(o => o.EstatusEnZona).Caption("Pescando");
                                          }))
                            @*@{
            var gridrumbos = new WebGrid(Model.InfoRumbosLista, rowsPerPage: 500, ajaxUpdateContainerId: "gridrumbos", canPage: false);
        }
        @gridrumbos.GetHtml(
        fillEmptyRows: false,
        alternatingRowStyle: "fila-alternativa", tableStyle: "griddd",
        headerStyle: "encabezado-grid",
        footerStyle: "pie-grid",
        mode: WebGridPagerModes.All,
        firstText: "<< Primera",
        previousText: "< Anterior",
        nextText: "Siguiente >",
        lastText: "Última >>",
        columns: gridrumbos.Columns(
                gridrumbos.Column("Embarcacion", header: "Embarcacion", style: "w100"),
                gridrumbos.Column("RowId", header: "Orden"),
                gridrumbos.Column("LatitudFormato", header: "Latitud"),
                gridrumbos.Column("LongitudFormato", header: "Longitud"),
                gridrumbos.Column("FechaRecepcionUnitracFormato", header: "Fecha"),
                gridrumbos.Column("VelocidadFormato", header: "Velocidad"),
                gridrumbos.Column("Rumbo", header: "Rumbo"),
                gridrumbos.Column("ZonasDescripcion", header: "Zona"),
                gridrumbos.Column("Distancia", header: "Distancia"),
                //gridrumbos.Column("DistanciaCalculada", header: "Distancia Calculada"),
                gridrumbos.Column("EstatusEnZona", header: "Pescando")

                ))*@
                        </div>

                    </td>
                </tr>
            }
        }
    </div>


}

<div>
    @Html.ActionLink("Opciones Reportes Avanzados", "Index", "ReportesAvanzados")
</div>

@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@




<script type="text/javascript">


    function Muestra(Div) {
        MiDiv = document.getElementById(Div);
        MiDiv.style.display = 'block';
    }
    function Oculta(Div) {

        MiDiv = document.getElementById(Div);
        MiDiv.style.display = 'none';
    }

    function MuestraBuscaInformacion() {
        Muestra('div-buscainformacionembarcacion');
        Oculta('datosgenerales');
    }

    function OcultaBuscaInformacion() {
        Oculta('div-buscainformacionembarcacion');
        Muestra('datosgenerales');
    }


    function RegresaValoresEmbarcacionReporteRumbos(Nombre, RazonSocial, Matricula, RNP, Antena) {
        //        $('#barco').val(Nombre);
        //        $('#razonsocial').val(RazonSocial);
        //        $('#matricula').val(Matricula);
        $('#Vehiculo').val(RNP);
        //        $('#antena').val(Antena);
        OcultaBuscaInformacion();
    }



</script>



@{
    if (Model.MostrandoBusquedaInformacionEmbarcacion == true)
    {
        <script type="text/javascript">
            MuestraBuscaInformacion();
        </script>
    }
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#btnBuscar").find(".dx-button-submit-input").attr("name", "submitButton").attr("value", "Buscar");
        //$("#MatriculaEmbarcacionRNP").autocomplete("../ReportesAvanzados/SearchResultadoGenerico_matriculanombrernp", { minChars: 1, multiple: false, max: 100 });
    });
    //var offsetHeight = document.getElementById('myDiv').offsetHeight;
    //window.onload = function () {
    //    var offsetHeight = document.getElementById('gridrumbos').offsetHeight;
    //    //alert(offsetHeight.toString() + "px");
    //    document.getElementById("divMarcadeagua").style.height = offsetHeight.toString() + "px";
    //    document.getElementById("divMarcadeagua").style.marginBottom = "-" + offsetHeight.toString() + "px";
    //}
</script>
