﻿@model MASCore.Models.ReporteDistanciaRecorridaM

@{
    ViewBag.Title = "Reporte de Distancia Recorrida";
}

<div id="titulo">
    <h3 style="color:#0F2C48;text-align:center" ><u>-  Reporte de Distancia Recorrida  -</u></h3>        
</div>
<div style="text-align:center; color:Red;font-size:medium">
@ViewBag.NoValidoPor
</div>


@*@using (Html.BeginForm()) *@
@using (Html.BeginForm("ReporteDistanciaRecorrida", "ReportesAvanzados", FormMethod.Post))
{
    @Html.ValidationSummary(true)

    <div id="div-buscainformacionembarcacion" style="display:none;padding-left:-100px">    
        @*<div class="div-comentarios">*@
            <div><h4 style="color:#DF9448">Busca Información de Embarcación</h4></div>
            <div>
                Opciones de Búsqueda : @Html.DropDownList("opcionesbusqueda")    
                Valor: @Html.TextBox("txtvalor")
                <input type="submit" name="submitButton" value="Buscar Información" /> 
            </div> 
@{
    if (Model.InformacionDeEmbarcacion.Count > 0)
    {
            <div id="gridbuscainformacionembarcacion" style="padding-left:-100px">
            @{          
        var gridbuscainfoembarcacion = new WebGrid(Model.InformacionDeEmbarcacion, rowsPerPage: 500, ajaxUpdateContainerId: "gridbuscainformacionembarcacion");     
            }
                 @gridbuscainfoembarcacion.GetHtml(
                    fillEmptyRows: false,
                    alternatingRowStyle: "fila-alternativa", tableStyle: "griddd",
                    headerStyle: "encabezado-grid",
                    footerStyle: "pie-grid",
                    mode: WebGridPagerModes.All,
                    firstText: "<< Primera",
                    previousText: "< Anterior",
                    nextText: "Siguiente >",
                    lastText: "Última >>",
                    columns: gridbuscainfoembarcacion.Columns(
                            gridbuscainfoembarcacion.Column("Matricula", header: "Matricula", style: "w100"),
                                    gridbuscainfoembarcacion.Column("Nombre", header: "Nombre Barco"),
                                    gridbuscainfoembarcacion.Column("SerieAntena", header: "SerieAntena"),
                                    gridbuscainfoembarcacion.Column("Localidad", header: "Localidad"),
                                    gridbuscainfoembarcacion.Column("RNP", header: "RNP"),
                                    gridbuscainfoembarcacion.Column("Permiso", header: "Permiso"),
                                    gridbuscainfoembarcacion.Column("TipoPermiso", header: "TipoPermiso"),
                                    gridbuscainfoembarcacion.Column("RazonSocial", header: "RazonSocial"),
                                    gridbuscainfoembarcacion.Column("RepLegal", header: "RepLegal"),
                                    gridbuscainfoembarcacion.Column("RNPTitular", header: "RNPTitular"),
                                    gridbuscainfoembarcacion.Column("Acción", format: @<text>    <a href="javascript:RegresaValoresEmbarcacionReporteRumbos('@item.Nombre','@item.RazonSocial','@item.Matricula','@item.RNP','@item.SerieAntena');">Seleccionar</a> </text>, style: "letrachica")
                )
            )      
            </div>       
    }    
}                                                          
       @* </div>*@
    </div>  
    
    <div id = "datosgenerales">
    

    <table width="100%">
        <tr>
            <td colspan="2" width="100px">  @Html.LabelFor(model => model.FechaInicio)   </td>
            <td>  @Html.EditorFor(model => model.FechaInicio)  </td>
            <td colspan="2">  @Html.LabelFor(model => model.FechaFin)   </td>
            <td>  @Html.EditorFor(model => model.FechaFin) </td>
        </tr>   
        <tr>
            <td colspan="2">  @Html.LabelFor(model => model.Vehiculo)   </td>
            <td colspan="1">  @Html.EditorFor(model => model.Vehiculo, new { id = "Vehiculo" })  @Html.ValidationMessageFor(model => model.Vehiculo, "Vehiculo es obligatorio.")  </td>
            <td colspan="3">
                <ul id="menu2">
                    <li> <input type="submit" name="submitButton" value="Buscar" /></li>
                    <li> <input type="submit" name="submitButton" value="Buscar Embarcación" /></li>                    
                    @if (Model.InfoDistanciasLista.Count > 0)
                    {
                        <li> @Html.ActionLink("Exportar", "GeneraReporteDistancia", "ReportesAvanzados") </li>
                        <li> @Html.ActionLink("PDF", "GeneraReporteDistanciaPdf", null, new { target = "_blank" })</li>
                    }
                </ul>                
            </td>
        </tr>
        
@{
                    if (Model.InfoDistanciasLista.Count > 0)
                    {       
        <tr>
            <td colspan="6" align="center">
            <div id="griddistancias" style="padding-left:-100px">
            @{          
                        var griddistancias = new WebGrid(Model.InfoDistanciasLista, rowsPerPage: 500, ajaxUpdateContainerId: "griddistancias", canPage: false);     
            }
                 @griddistancias.GetHtml(
                    fillEmptyRows: false,
                    alternatingRowStyle: "fila-alternativa", tableStyle: "griddd",
                    headerStyle: "encabezado-grid",
                    footerStyle: "pie-grid",
                    mode: WebGridPagerModes.All,
                    firstText: "<< Primera",
                    previousText: "< Anterior",
                    nextText: "Siguiente >",
                    lastText: "Última >>",
                    columns: griddistancias.Columns(
                            griddistancias.Column("Embarcacion", header: "Embarcación", style: "w100"),
                            griddistancias.Column("RowId", header: "Orden"),
                            griddistancias.Column("LatitudFormato", header: "Latitud"),
                            griddistancias.Column("LongitudFormato", header: "Longitud"),
                            griddistancias.Column("FechaRecepcionUnitracFormato", header: "Fecha"),
                            griddistancias.Column("VelocidadFormato", header: "Velocidad"),
                            griddistancias.Column("Rumbo", header: "Rumbo"),
                            griddistancias.Column("ZonasDescripcion", header: "Zona"),
                            griddistancias.Column("EstatusEnZona", header: "Pescando"),
                            griddistancias.Column("Distancia", header: "Distancia"),
                            griddistancias.Column("DistanciaCalculada", header: "Distancia Calculada")
)
            )      
            </div> 
            
            </td>
        </tr>
                    }
}     
    </table>
    
    
    


</div>
    
     

}

<div>
    @Html.ActionLink("Opciones Reportes Avanzados", "Index", "ReportesAvanzados")
</div>

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@





<script type="text/javascript">


    function Muestra(Div) {
        MiDiv = document.getElementById(Div);
        MiDiv.style.display = 'block';
    }
    function Oculta(Div) {

        MiDiv = document.getElementById(Div);
        MiDiv.style.display = 'none';
    }

    function MuestraBuscaInformacion() {
        Muestra('div-buscainformacionembarcacion');
        Oculta('datosgenerales');
    }

    function OcultaBuscaInformacion() {
        Oculta('div-buscainformacionembarcacion');
        Muestra('datosgenerales');
    }


    function RegresaValoresEmbarcacionReporteRumbos(Nombre, RazonSocial, Matricula, RNP, Antena) {
        //        $('#barco').val(Nombre);
        //        $('#razonsocial').val(RazonSocial);
        //        $('#matricula').val(Matricula);
        $('#Vehiculo').val(RNP);
        //        $('#antena').val(Antena);
        OcultaBuscaInformacion();
    }



</script>



@{    
    if (Model.MostrandoBusquedaInformacionEmbarcacion == true)
    {
        <script type="text/javascript">
            MuestraBuscaInformacion();
        </script>
    }
}
