﻿@using MASCore.Models
@model MASCore.Models.ReporteActividadOperadoresM

@{
    ViewBag.Title = "Reporte Bitácora De Actividades";
}
<script src="../../Scripts/jquery-ui-1.8.20.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.autocomplete.min.js" type="text/javascript"></script>
<link href="~/Content/jquery.autocomplete.css" rel="stylesheet" type="text/css" />

<article>
    <h1>Reporte Bitácora de Actividades</h1>
</article>

<div style="text-align:center; color:Red;font-size:medium">
    @ViewBag.NoValidoPor
</div>

@using (Html.BeginForm("ReporteActividadOperadores", "ReportesAvanzados", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h4>Criterios de consulta</h4>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-3" style="padding-right: 0; padding-top: 5px;">
                                        @Html.LabelFor(model => model.RangoDeFechas)
                                    </div>
                                    <div class="col-3" style="padding-right: 0; padding-top: 5px;">
                                        @(Html.DevExtreme().SwitchFor(model => model.RangoDeFechas).Width("30%").ElementAttr("class", "form-control"))
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-3" style="padding-right: 0; padding-top: 14px;">
                                        @Html.LabelFor(model => model.FechaInicio)
                                    </div>
                                    <div class="col-3" style="padding-right: 0; padding-top: 5px;">
                                        @Html.DevExtreme().DateBoxFor(model => model.FechaInicio).Width("100%")
                                    </div>

                                    <div class="col-3" style="padding-right: 0; padding-top: 14px;">
                                        @Html.LabelFor(model => model.FechaFin)
                                    </div>
                                    <div class="col-3" style="padding-right: 0; padding-top: 5px;">
                                        @Html.DevExtreme().DateBoxFor(model => model.FechaFin).Width("100%")
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-3" style="padding-right: 0; padding-top: 14px;">
                                        @Html.LabelFor(model => model.Operadores)
                                    </div>
                                    <div class="col-3" style="padding-right: 0; padding-top: 5px;">
                                        @(Html.DevExtreme().SelectBoxFor(model => model.Operadores).DataSource(ViewBag.Operadores.Items).Placeholder("-- Seleccione --").DisplayExpr("Resultado").ValueExpr("Resultado").Width("100%").ElementAttr("class", "form-control").ShowClearButton(true))
                                    </div>

                                    <div class="col-3" style="padding-right: 0; padding-top: 14px;">
                                        @Html.Label("Actividad")
                                    </div>
                                    <div class="col-3" style="padding-right: 0; padding-top: 5px;">
                                        @(Html.DevExtreme().SelectBoxFor(o=> o.Actividad).DataSource(ViewBag.actividad.Items).Placeholder("-- Seleccione --").DisplayExpr("Resultado").ValueExpr("Resultado").Width("100%").ElementAttr("class", "form-control").ShowClearButton(true))
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-3" style="padding-right: 0; padding-top: 14px;">
                                        @Html.LabelFor(model => model.turnos)
                                    </div>
                                    <div class="col-3" style="padding-right: 0; padding-top: 5px;">
                                        @(Html.DevExtreme().SelectBoxFor(model => model.turnos).DataSource(ViewBag.turnos.Items).Placeholder("-- Seleccione --").DisplayExpr("Resultado").ValueExpr("Resultado").Width("100%").ElementAttr("class", "form-control").ShowClearButton(true))
                                    </div>

                                    <div class="col-3" style="padding-right: 0; padding-top: 14px;">
                                        @Html.LabelFor(model => model.usuarioastrum)
                                    </div>
                                    <div class="col-3" style="padding-right: 0; padding-top: 5px;">
                                        @(Html.DevExtreme().SelectBoxFor(o => o.usuarioastrum).DataSource(ViewBag.usuarioastrum.Items).Placeholder("-- Seleccione --").DisplayExpr("Resultado").ValueExpr("Resultado").Width("100%").ElementAttr("class", "form-control").ShowClearButton(true))
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-9" style="padding-right: 0; padding-top: 5px;">

                                    </div>
                                    <div class="col-1" style="padding-right: 0; padding-top: 5px;">
                                        @Html.DevExtreme().Button().Text("").ID("btnConsultar").Icon("fas fa-search").Type(ButtonType.Default).Width("100%").UseSubmitBehavior(true).ID("btnConsultar")
                                        @(Html.DevExtreme().Tooltip().Target("#btnConsultar").ShowEvent("mouseenter").HideEvent("mouseleave").ContentTemplate("Consultar Información"))
                                    </div>
                                    <div class="col-1" style="padding-right: 0; padding-top: 5px;">
                                        @Html.DevExtreme().Button().Text("").ID("btnExpPDF").Icon("far fa-file-pdf").Type(ButtonType.Danger).Width("100%").OnClick(@<text>  function(){ window.open("@Url.Action("GeneraReporteActividadOperadoresPdf", "ReportesAvanzados")"); } </text>)
                                        @(Html.DevExtreme().Tooltip().Target("#btnExpPDF").ShowEvent("mouseenter").HideEvent("mouseleave").ContentTemplate("Exportar PDF"))
                                    </div>
                                    <div class="col-1" style="padding-right: 0; padding-top: 5px;">
                                        @Html.DevExtreme().Button().Text("").ID("btnExpExcel").Icon("fa fa-file-excel").Type(ButtonType.Success).Width("100%").OnClick(@<text>  function(){ window.location = "@Url.Action("GeneraReporteActividadOperadores", "ReportesAvanzados")"; } </text>)
                                        @(Html.DevExtreme().Tooltip().Target("#btnExpExcel").ShowEvent("mouseenter").HideEvent("mouseleave").ContentTemplate("Exportar Excel"))
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    if (Model.ActividadOperadoresLista.Count() > 0)
    {

    <div id="gridActividadOperadores" align="center">
        @(Html.DevExtreme().DataGrid<ReporteActividadOperadoresList>().DataSource(Model.ActividadOperadoresLista)
                                              .ShowColumnLines(true).ShowRowLines(true).RowAlternationEnabled(true).ShowBorders(true).ColumnAutoWidth(true).ColumnHidingEnabled(true)
                                              .Columns(columns =>
                                              {
                                              columns.AddFor(o => o.Operador);
                                              columns.AddFor(o => o.Fecha);
                                              columns.AddFor(o => o.Actividad);
                                              columns.AddFor(o => o.Tipo);
                                              columns.AddFor(o => o.Id);
                                              //columns.Add().Caption("Acción  para imagen")
                                              //    .CellTemplate(Html.ActionLink("Seleccionar", "ReporteActividadOperadores", "ReportesAvanzados", new { id = "ItemId", act = "ItemActividad", tipo = "tipo" }, new { target = "_blank" })
                                              //        .ToHtmlString()
                                              //        .Replace("ItemId", "<%= data.Id.trim() %>")
                                              //        .Replace("ItemActividad", "<%= data.Actividad %>").Trim());

                                              columns.Add().Caption("Acción").CellTemplate(@<text>
                                                    <a title="Ver Detalle" href='ReporteActividadOperadores?Id=<%= data.Id.trim() %>&act=<%= data.Actividad %>&tipo="tipo"'>
                                                        <i class="dx-icon far fa-folder tamanoIconoEnGrid"></i>
                                                    </a>
                                                </text>);
                                                    }))
        @*@{

        var gridActividadOperadores = new WebGrid(Model.ActividadOperadoresLista, rowsPerPage: 500, canSort: false, canPage: false, ajaxUpdateContainerId: "gridActividadOperadores");
            }
                 @gridActividadOperadores.GetHtml(
                    fillEmptyRows: false,
                    alternatingRowStyle: "fila-alternativa", tableStyle: "griddd",
                    headerStyle: "encabezado-grid",
                    footerStyle: "pie-grid",
                    mode: WebGridPagerModes.All,
                    firstText: "<< Primera",
                    previousText: "< Anterior",
                    nextText: "Siguiente >",
                    lastText: "Última >>",
                columns: gridActividadOperadores.Columns(
                        gridActividadOperadores.Column("Operador", header: "Operador"),
                        gridActividadOperadores.Column("Fecha", header: "Fecha"),
                        gridActividadOperadores.Column("Actividad", header: "Actividad"),
                        gridActividadOperadores.Column("Tipo", header: "Tipo"),
                        gridActividadOperadores.Column("Id", header: "Id"),
                        gridActividadOperadores.Column("Acción", format: @<text> @Html.ActionLink("Seleccionar", "ReporteActividadOperadores", new { id = item.Id.ToString().Trim(), act = item.Actividad, tipo = "tipo" }, new { target="_blank"}) </text>)
                )
            )*@
    </div>


    }
}






@*<div>
    @Html.ActionLink("Opciones Reportes Avanzados", "Index", "ReportesAvanzados")
</div>*@

@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
*@









@*  <fieldset>
        <legend>ReporteActividadOperadoresM</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.RangoDeFechas)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RangoDeFechas)
            @Html.ValidationMessageFor(model => model.RangoDeFechas)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FechaInicio)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FechaInicio)
            @Html.ValidationMessageFor(model => model.FechaInicio)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FechaFin)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FechaFin)
            @Html.ValidationMessageFor(model => model.FechaFin)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Operadores)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Operadores)
            @Html.ValidationMessageFor(model => model.Operadores)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
*@