﻿@model MASCore.Models.ReporteTxIrregularM

@{
    Layout = null;
    ViewBag.Title = "Reporte Transmision Irregular";
}

<!DOCTYPE html>

<html>
<head>
    @*<meta name="viewport" content="width=device-width" />*@
   

        <meta charset="utf-8" />
        <title>Reporte De Transmision Irregular Fuera</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
         
        
        @Styles.Render("~/Content/css")

        @Styles.Render("~/Content/themes/base/jquery.ui.core.css") 
        @Styles.Render("~/Content/themes/base/jquery.ui.datepicker.css") 
        @Styles.Render("~/Content/themes/base/jquery.ui.theme.css")
      
        @Scripts.Render("~/bundles/modernizr")
         @Scripts.Render("~/bundles/jquery") 
        @Scripts.Render("~/bundles/jqueryui") 
        @Scripts.Render("~/Scripts/DatePickerReady.js") 
         
       @* @RenderSection("scripts", required: false)*@
</head>
<body>
   
    <div id="body">
    <br />
        <div id="titulo">
            <h3 style="color:#0F2C48;text-align:center" ><u>-  Reporte De Transmision Irregular  -</u></h3>        
        </div>
@using (Html.BeginForm("ReporteTransmisionIrregularFuera", "ReportesAvanzados", FormMethod.Post))
{
@* @Html.ValidationSummary(true)*@

   @* <ul id="menu2">
        <li> @Html.ActionLink("Exportar", "GeneraReporteTxIrregular", "ReportesAvanzados") </li> 
        <li> @Html.ActionLink("PDF", "GeneraReporteTxIrregularPdf", null, new { target = "_blank" })</li>                            
    </ul>*@
   
 <table width = "100%">
  @{ 
    if (Model.ListaTxIrregularModelo.Count() > 0)
    {
    <tr>
        <td align="right">
             <ul id="menu2">
                    @*<li> <input type="submit" name="submitButton" value="Consultar" /></li>*@       
                    <li> @Html.ActionLink("Exportar", "GeneraReporteTxIrregular", "ReportesAvanzados", new { id = @ViewBag.id }, new { target = "_blank" })  </li>
                   @* <li> @Html.ActionLink("Exportar", "GeneraReporteTxIrregular", "ReportesAvanzados") </li>*@
                    <li> @Html.ActionLink("PDF", "GeneraReporteTxIrregularPdf", "ReportesAvanzados", new { id = @ViewBag.id }, new { target = "_blank" })  </li>
                    @*<li> @Html.ActionLink("PDF", "GeneraReporteTxIrregularPdf", null, new { target = "_blank" })</li>*@
                </ul>
        </td>
    </tr>
    <tr>
        <td>    
        <div id="gridtxirregular" align="center">
            @{          
        var gridtxirregular = new WebGrid(Model.ListaTxIrregularModelo, rowsPerPage: 500, ajaxUpdateContainerId: "gridtxirregular");     
            }
                 @gridtxirregular.GetHtml(
                    fillEmptyRows: false,
                    alternatingRowStyle: "fila-alternativa", tableStyle: "griddd",
                    headerStyle: "encabezado-grid",
                    footerStyle: "pie-grid",
                    mode: WebGridPagerModes.All,
                    firstText: "<< Primera",
                    previousText: "< Anterior",
                    nextText: "Siguiente >",
                    lastText: "Última >>",
                columns: gridtxirregular.Columns(
                        gridtxirregular.Column("RNP", header: "RNP"),
                        //gridtxirregular.Column("Matricula", header: "Matricula"),
                        gridtxirregular.Column("Embarcacion", header: "Embarcación"),
                        gridtxirregular.Column("NoSerie", header: "NoSerie"),
                        gridtxirregular.Column("RazonSocial", header: "RazonSocial"),
                        gridtxirregular.Column("Localidad", header: "Localidad"),
                        //gridtxirregular.Column("Zona", header: "Zona"),
                        gridtxirregular.Column("UltimoReporte", header: "UltimoReporte"),
                gridtxirregular.Column("Acción", format: @<text> @Html.ActionLink("Seleccionar", "CreateBySismepWeb", "Cedula", new { id = item.IdMensaje }, new { target = "_blank" }) </text>),
                 gridtxirregular.Column("Evidencia", format: @<text> @Html.ActionLink("Mostrar", "EvidenciaTxIrregular", "ReportesAvanzados", new { Embarcacion = item.Embarcacion, Matricula = item.Matricula }, new { target = "_blank" }) </text>)
                )
                            )      
            </div>  
        </td>
    </tr>
    }
    else
    {
    <tr>
        <td align="center">
             No se encontraron transmisiones irregulares.
        </td>
    </tr>
    }
  }
</table>
}



    </div>

    <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Astrum Satelital </p>
                </div>
            </div>
    </footer>
      @*@Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)*@
</body>
</html>







