﻿@model MASCore.Models.ReporteEstadisticoDeDatosM

@{
    ViewBag.Title = "Reporte Estadístico De Datos";
}

@*<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.9.1.js"></script>
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>*@



<div id="titulo">
    <h3 style="color:#0F2C48;text-align:center" ><u>-  Reporte Estadístico De Datos  -</u></h3>        
</div>
<div style="text-align:center; color:Red;font-size:medium">
@ViewBag.NoValidoPor
</div>


@*@using (Html.BeginForm()) *@
@using (Html.BeginForm("ReporteEstadisticoDeDatos", "ReportesAvanzados", FormMethod.Post))
{
    @Html.ValidationSummary(true)
    <table style="border:0.08em solid black;border-collapse:collapse;width:100%">
        <tr>
            <td style="background-color:White;text-align:center;border:1px solid black;"> <b>Estadística de Embarcaciones</b>   </td>
        </tr>
        <tr>            
            <td style="text-align:center;border:1px solid black;">
            <b>Reportes MAS  </b> <br />
                @Html.EditorFor(model => model.RangoDeFechas)  @Html.DisplayNameFor(model => model.RangoDeFechas) &nbsp &nbsp
                @Html.DisplayNameFor(model => model.FechaInicio) @Html.EditorFor(model => model.FechaInicio)  
                @Html.DisplayNameFor(model => model.FechaFin) @Html.EditorFor(model => model.FechaFin) <br />
                @Html.EditorFor(model => model.PescaProhibida)  @Html.DisplayNameFor(model => model.PescaProhibida) &nbsp &nbsp 
                @Html.EditorFor(model => model.AreaNaturalProtegida)  @Html.DisplayNameFor(model => model.AreaNaturalProtegida) &nbsp &nbsp 
                @Html.EditorFor(model => model.Emergencias)  @Html.DisplayNameFor(model => model.Emergencias) &nbsp &nbsp 
                @Html.EditorFor(model => model.SinTransmision)  @Html.DisplayNameFor(model => model.SinTransmision) &nbsp &nbsp |&nbsp &nbsp 
                @Html.EditorFor(model => model.SolInformacion)  @Html.DisplayNameFor(model => model.SolInformacion) &nbsp &nbsp  
               @* @Html.EditorFor(model => model.LlamadasTelefonicas)  @Html.DisplayNameFor(model => model.LlamadasTelefonicas)*@ <br />
             
             
             <b>Estadística de Embarcación </b>   <br />             
                @Html.EditorFor(model => model.PorLitoral)  @Html.DisplayNameFor(model => model.PorLitoral) &nbsp &nbsp 
                @Html.EditorFor(model => model.PorPesqueria)  @Html.DisplayNameFor(model => model.PorPesqueria) &nbsp &nbsp 
                @Html.EditorFor(model => model.PorEstado)  @Html.DisplayNameFor(model => model.PorEstado) &nbsp &nbsp     
                
            </td>
        </tr>
        <tr>
            <td align="center" style="text-align:center;border:1px solid black;">

@{ 
    if (Model.TiposDeAlertaLista.Count() > 0)
    {

<div id="gridTiposDeAlerta" align="left" style="display:inline-block;vertical-align:top">
            @{         
        var gridTiposDeAlerta = new WebGrid(Model.TiposDeAlertaLista, rowsPerPage: 500, ajaxUpdateContainerId: "gridTiposDeAlerta");     
            }
                 @gridTiposDeAlerta.GetHtml(
                    fillEmptyRows: false,
                    alternatingRowStyle: "fila-alternativa", tableStyle: "griddd",
                    headerStyle: "encabezado-grid",
                    footerStyle: "pie-grid",
                    mode: WebGridPagerModes.All,
                    firstText: "<< Primera",
                    previousText: "< Anterior",
                    nextText: "Siguiente >",
                    lastText: "Última >>",
                columns: gridTiposDeAlerta.Columns(
                        gridTiposDeAlerta.Column("Titulo", header: ""),
                        gridTiposDeAlerta.Column("PescaProhibida", header: "Pesca Prohibida "),
                        gridTiposDeAlerta.Column("AreaNaturalProtegida", header: "Área Natural P. "),
                        gridTiposDeAlerta.Column("Emergencias", header: "Emergencias "),
                        gridTiposDeAlerta.Column("SinTransmision", header: "Sin Tx. ")
                )
            )   
<br />
<br />
<ul id="menu2" style="display:inline;vertical-align:top;text-align:left">                    
        <li> @Html.ActionLink("PDF", "GeneraReporteTiposDeAlertaPdf", "ReportesAvanzados", null, new { target = "_blank" }) </li>         
        @*<li> @Html.ActionLink("Grafica", "GeneraGraficaTiposDeAlerta", new { test = "aaaa" }, new { target = "_blank" }) </li>*@
        @*<li> <a href="javascript:openGraficaTiposDeAlertaBarra();">Grafica <img src="../../Images/chart_bar.png" alt="Grafica de Barras" /></a></li>
        <li> <a href="javascript:openGraficaTiposDeAlertaPastel();">Grafica <img src="../../Images/chart_pie.png" alt="Grafica de Pastel" /></a></li>*@
       
        @*<img src="@Url.Action("DrawChart", new { ModeloTmp = @Model, test = @Model.Antena })" />                         *@
</ul>   
</div>      
 @*<button id="opener">Open Dialog</button>*@
 
<script>
    function openGraficaTiposDeAlertaBarra() {

        $("#GraficaTiposDeAlerta").dialog("open");
    }
    $(function () {
        $("#GraficaTiposDeAlerta").dialog({
            autoOpen: false, title: 'Reporte Estadístico De Datos', width: 650, height: 'auto', modal: false, closeText: "Cerrar"
            //           , dialogClass: "no-close", buttons: {Cancel: function () { $(this).dialog("close")}, show: "slow" , resizable: false, hide: "explode", draggable: true
            //            width: 650, autoOpen: false, show: { effect: "blind", duration: 1000 }, hide: { effect: "explode", duration: 1000 }
        });
    });

    function openGraficaTiposDeAlertaPastel() {
        $("#GraficaTiposDeAlertaPastel").dialog("open");
    }
    $(function () {
        $("#GraficaTiposDeAlertaPastel").dialog({
            autoOpen: false, title: 'Reporte Estadístico De Datos', width: 650, height: 'auto', modal: false, closeText: "Cerrar"            
        });
    });
  </script>    
    
    
 <div id="GraficaTiposDeAlerta" style="display:none">
 <img src="@Url.Action("GeneraGraficaTiposDeAlerta", new { test = "aaaa" }) " /> 
 </div>
<div id="GraficaTiposDeAlertaPastel" style="display:none">
@* <img src="@Url.Action("GeneraGraficaTiposDeAlertaPastel", new { test = "aaaa" }) " /> *@
 <img src="@Url.Action("GeneraGraficaTiposDeAlertaPastelGolfo", new { test = "aaaa" }) " /> 
 <img src="@Url.Action("GeneraGraficaTiposDeAlertaPastelPacifico", new { test = "aaaa" }) " /> 
 </div>           

@*<div  align="left" style="display:inline;vertical-align:top;border-bottom: 5px #0F2C48 solid;background-color: #e8eef4;"></div>    *@
    }
}
                

@{ 
    if (Model.TiposDeEmergenciaLista.Count() > 0)
    {

<div id="gridEmergencias" align="left" style="display:inline-block">
            @{          
        var gridEmergencias = new WebGrid(Model.TiposDeEmergenciaLista, rowsPerPage: 500, ajaxUpdateContainerId: "gridEmergencias");     
            }
                 @gridEmergencias.GetHtml(
                    fillEmptyRows: false,
                    alternatingRowStyle: "fila-alternativa", tableStyle: "griddd",
                    headerStyle: "encabezado-grid",
                    footerStyle: "pie-grid",
                    mode: WebGridPagerModes.All,
                    firstText: "<< Primera",
                    previousText: "< Anterior",
                    nextText: "Siguiente >",
                    lastText: "Última >>",
                columns: gridEmergencias.Columns(
                        gridEmergencias.Column("TipoEmergencia", header: "Tipo Emergencia "),
                    gridEmergencias.Column("Cantidad", header: "Cantidad")
                )
            )      
<ul id="menu2" style="display:inline;vertical-align:top;text-align:left">                    
        <li> @Html.ActionLink("PDF", "GeneraReporteEmergenciasPdf", "ReportesAvanzados", null, new { target = "_blank" }) </li>                     
</ul> 
</div>               
    }
}                
            @*</td>
        </tr>
        <tr>
            <td align="center" style="text-align:center;border:1px solid white;">*@
@{ 
    if (Model.CantidadSolLlamadasLista.Count() > 0)
    {

<div id="gridCantidadSolLlamadas" align="left" style="display:inline-block;vertical-align:top">
            @{          
        var gridCantidadSolLlamadas = new WebGrid(Model.CantidadSolLlamadasLista, rowsPerPage: 500, ajaxUpdateContainerId: "gridCantidadSolLlamadas");     
            }
                 @gridCantidadSolLlamadas.GetHtml(
                    fillEmptyRows: false,
                    alternatingRowStyle: "fila-alternativa", tableStyle: "griddd",
                    headerStyle: "encabezado-grid",
                    footerStyle: "pie-grid",
                    mode: WebGridPagerModes.All,
                    firstText: "<< Primera",
                    previousText: "< Anterior",
                    nextText: "Siguiente >",
                    lastText: "Última >>",
                columns: gridCantidadSolLlamadas.Columns(
                        gridCantidadSolLlamadas.Column("Tipo", header: "Tipo"),
                        gridCantidadSolLlamadas.Column("Cantidad", header: "Cantidad")
                )
            )
<br />
<br />
<br />
<ul id="menu2" style="display:inline;vertical-align:top;text-align:left">                    
        <li> @Html.ActionLink("PDF", "GeneraReporteLlamadasPdf", "ReportesAvanzados", null, new { target = "_blank" }) </li>                     
</ul>  
</div>         
    }
}
                
            </td>
        </tr>
        <tr>
            <td align="center" style="text-align:center;border:1px solid black;">
@{ 
    if (Model.EmbPorEdoPermisoLista.Count() > 0)
    {

<div id="gridEmbEdoPermiso" align="left" style="display:inline-block;vertical-align:top">
            @{          
        var gridEmbEdoPermiso = new WebGrid(Model.EmbPorEdoPermisoLista, rowsPerPage: 500, ajaxUpdateContainerId: "gridEmbEdoPermiso");     
            }
                 @gridEmbEdoPermiso.GetHtml(
                    fillEmptyRows: false,
                    alternatingRowStyle: "fila-alternativa", tableStyle: "griddd",
                    headerStyle: "encabezado-grid",
                    footerStyle: "pie-grid",
                    mode: WebGridPagerModes.All,
                    firstText: "<< Primera",
                    previousText: "< Anterior",
                    nextText: "Siguiente >",
                    lastText: "Última >>",
                columns: gridEmbEdoPermiso.Columns(
                        gridEmbEdoPermiso.Column("Estado", header: "Estado"),
                        gridEmbEdoPermiso.Column("atun", header: "Atún"),
                        gridEmbEdoPermiso.Column("camaron", header: "Camarón"),
                        gridEmbEdoPermiso.Column("escamasardina", header: "Escama/Sardina"),
                        gridEmbEdoPermiso.Column("tiburon", header: "Tiburón"),
                        gridEmbEdoPermiso.Column("calamar", header: "Calamar"),
                        gridEmbEdoPermiso.Column("langosta", header: "Langosta"),
                        gridEmbEdoPermiso.Column("pulpo", header: "Pulpo"),
                        gridEmbEdoPermiso.Column("otros", header: "Otros"),
                        gridEmbEdoPermiso.Column("total", header: "Total")
                )
            )      
<ul id="menu2" style="display:inline;vertical-align:top;text-align:left">                    
        <li> @Html.ActionLink("PDF", "GeneraReporteEmbEdoPermisoPdf", "ReportesAvanzados", null, new { target = "_blank" }) </li>                     
</ul>
</div>    
    }
}

@{ 
    if (Model.TotalEmbarcacionLitoralLista.Count() > 0)
    {

<div id="gridEmbLitoral" align="left" style="display:inline-block;vertical-align:top">
            @{          
        var gridEmbLitoral = new WebGrid(Model.TotalEmbarcacionLitoralLista, rowsPerPage: 500, ajaxUpdateContainerId: "gridEmbLitoral");     
            }
                 @gridEmbLitoral.GetHtml(
                    fillEmptyRows: false,
                    alternatingRowStyle: "fila-alternativa", tableStyle: "griddd",
                    headerStyle: "encabezado-grid",
                    footerStyle: "pie-grid",
                    mode: WebGridPagerModes.All,
                    firstText: "<< Primera",
                    previousText: "< Anterior",
                    nextText: "Siguiente >",
                    lastText: "Última >>",
                columns: gridEmbLitoral.Columns(
                        gridEmbLitoral.Column("Zona", header: "Zona"),
                        gridEmbLitoral.Column("Total", header: "Total")
                )
            )    
<ul id="menu2" style="display:inline;vertical-align:top;text-align:left">                    
        <li> @Html.ActionLink("PDF", "GeneraReporteEmbLitoralPdf", "ReportesAvanzados", null, new { target = "_blank" }) </li>                     
</ul>              
</div>
    }
}
                

@{ 
    if (Model.DispositivosEstadosLista.Count() > 0)
    {

<div id="gridDispEstados" align="center">
            @{          
        var gridDispEstados = new WebGrid(Model.DispositivosEstadosLista, rowsPerPage: 500, ajaxUpdateContainerId: "gridDispEstados");     
            }
                 @gridDispEstados.GetHtml(
                    fillEmptyRows: false,
                    alternatingRowStyle: "fila-alternativa", tableStyle: "griddd",
                    headerStyle: "encabezado-grid",
                    footerStyle: "pie-grid",
                    mode: WebGridPagerModes.All,
                    firstText: "<< Primera",
                    previousText: "< Anterior",
                    nextText: "Siguiente >",
                    lastText: "Última >>",
                columns: gridDispEstados.Columns(
                        gridDispEstados.Column("Estado", header: "Estado"),
                        gridDispEstados.Column("Dispositivos", header: "Dispositivos")
                )
            )      
<ul id="menu2" style="display:inline;vertical-align:top;text-align:left">                    
        <li> @Html.ActionLink("PDF", "GeneraReporteDispEstadosPdf", "ReportesAvanzados", null, new { target = "_blank" }) </li>                     
</ul>  
</div>      
    }
}
                

                
            </td>
        </tr>
        <tr>
            <td style="background-color:White;text-align:center;border:1px solid black;"> <b>Estadística Administrativa</b>   </td>
        </tr>
        <tr>
            <td  style="text-align:center;border:1px solid black;"> 
                <b>Fecha Limite </b>   <br />             
                @Html.EditorFor(model => model.FechaLimiteBol)  @Html.DisplayNameFor(model => model.FechaLimiteBol)  @Html.EditorFor(model => model.FechaLimite)
                <br /> <b> Flota Pesquera</b> <br />
                @Html.EditorFor(model => model.FlotaOperandoyTransmitiendo)  @Html.DisplayNameFor(model => model.FlotaOperandoyTransmitiendo) &nbsp &nbsp
                @Html.EditorFor(model => model.FlotaEnPuertoyTransmitiendo)  @Html.DisplayNameFor(model => model.FlotaEnPuertoyTransmitiendo)
                
            </td>
        </tr>
        <tr>
            <td align="center" style="text-align:center;border:1px solid black;">

@{ 
    if (Model.FlotaOperandoyTransmitiendoLista.Count() > 0)
    {

<div id="gridOperandoyTransmitiendo" align="left" style="display:inline-block;vertical-align:top">
            @{          
        var gridOperandoyTransmitiendo = new WebGrid(Model.FlotaOperandoyTransmitiendoLista, rowsPerPage: 500, ajaxUpdateContainerId: "gridOperandoyTransmitiendo");     
            }
                 @gridOperandoyTransmitiendo.GetHtml(
                    fillEmptyRows: false,
                    alternatingRowStyle: "fila-alternativa", tableStyle: "griddd",
                    headerStyle: "encabezado-grid",
                    footerStyle: "pie-grid",
                    mode: WebGridPagerModes.All,
                    firstText: "<< Primera",
                    previousText: "< Anterior",
                    nextText: "Siguiente >",
                    lastText: "Última >>",
                columns: gridOperandoyTransmitiendo.Columns(
                        gridOperandoyTransmitiendo.Column("Flota", header: "Pesquería"),
                        gridOperandoyTransmitiendo.Column("Pacifico", header: "Pacífico"),
                        gridOperandoyTransmitiendo.Column("Golfo", header: "Golfo"),
                        gridOperandoyTransmitiendo.Column("Total", header: "Total")
                )
            )      
<ul id="menu2" style="display:inline;vertical-align:top;text-align:left">                    
        <li> @Html.ActionLink("PDF", "GeneraReporteOperandoyTransmitiendoPdf", "ReportesAvanzados", null, new { target = "_blank" }) </li>                     
</ul>
</div>    
    }
}
                                

@{ 
    if (Model.FlotaOperandoyTransmitiendoEnPuertoLista.Count() > 0)
    {

<div id="gridOperandoyTransmitiendoEnPuerto" align="left" style="display:inline-block;vertical-align:top">
            @{          
        var gridOperandoyTransmitiendoEnPuerto = new WebGrid(Model.FlotaOperandoyTransmitiendoEnPuertoLista, rowsPerPage: 500, ajaxUpdateContainerId: "gridOperandoyTransmitiendoEnPuerto");     
            }
                 @gridOperandoyTransmitiendoEnPuerto.GetHtml(
                    fillEmptyRows: false,
                    alternatingRowStyle: "fila-alternativa", tableStyle: "griddd",
                    headerStyle: "encabezado-grid",
                    footerStyle: "pie-grid",
                    mode: WebGridPagerModes.All,
                    firstText: "<< Primera",
                    previousText: "< Anterior",
                    nextText: "Siguiente >",
                    lastText: "Última >>",
                columns: gridOperandoyTransmitiendoEnPuerto.Columns(
                        gridOperandoyTransmitiendoEnPuerto.Column("Flota", header: "Pesquería"),
                        gridOperandoyTransmitiendoEnPuerto.Column("Pacifico", header: "Pacífico"),
                        gridOperandoyTransmitiendoEnPuerto.Column("Golfo", header: "Golfo"),
                        gridOperandoyTransmitiendoEnPuerto.Column("Total", header: "Total")
                )
            )      
<ul id="menu2" style="display:inline;vertical-align:top;text-align:left">                    
        <li> @Html.ActionLink("PDF", "GeneraReporteOperandoyTransmitiendoEnPuertoPdf", "ReportesAvanzados", null, new { target = "_blank" }) </li>                     
</ul>
</div>    
    }
}                

            </td>
        </tr>
        <tr>
            <td align="right">
                <ul id="menu2">
                    <li> <input type="submit" name="submitButton" value="Consultar" /></li>
                    <li> @Html.ActionLink("Exportar", "GeneraReporteEstadisticoDatos", "ReportesAvanzados") </li>                     
                </ul>   
               @* <input type="submit" name="submitButton" value="Consultar" />
                <input type="submit" name="submitButton" value="Exportar" />  *@              
            </td>
        </tr>
    </table>
        
    
}

<div>
    @Html.ActionLink("Opciones Reportes Avanzados", "Index", "ReportesAvanzados")
</div>

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
















@*<fieldset>
        <legend>ReporteEstadisticoDeDatosM</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.RangoDeFechas)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RangoDeFechas)
            @Html.ValidationMessageFor(model => model.RangoDeFechas)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FechaInicio)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FechaInicio)
            @Html.ValidationMessageFor(model => model.FechaInicio)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FechaFin)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FechaFin)
            @Html.ValidationMessageFor(model => model.FechaFin)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PescaProhibida)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PescaProhibida)
            @Html.ValidationMessageFor(model => model.PescaProhibida)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AreaNaturalProtegida)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AreaNaturalProtegida)
            @Html.ValidationMessageFor(model => model.AreaNaturalProtegida)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Emergencias)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Emergencias)
            @Html.ValidationMessageFor(model => model.Emergencias)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SinTransmision)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SinTransmision)
            @Html.ValidationMessageFor(model => model.SinTransmision)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SolInformacion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SolInformacion)
            @Html.ValidationMessageFor(model => model.SolInformacion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LlamadasTelefonicas)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LlamadasTelefonicas)
            @Html.ValidationMessageFor(model => model.LlamadasTelefonicas)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PorLitoral)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PorLitoral)
            @Html.ValidationMessageFor(model => model.PorLitoral)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PorPesqueria)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PorPesqueria)
            @Html.ValidationMessageFor(model => model.PorPesqueria)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PorEstado)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PorEstado)
            @Html.ValidationMessageFor(model => model.PorEstado)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FechaLimite)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FechaLimite)
            @Html.ValidationMessageFor(model => model.FechaLimite)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FlotaOperandoyTransmitiendo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FlotaOperandoyTransmitiendo)
            @Html.ValidationMessageFor(model => model.FlotaOperandoyTransmitiendo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FlotaEnPuertoyTransmitiendo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FlotaEnPuertoyTransmitiendo)
            @Html.ValidationMessageFor(model => model.FlotaEnPuertoyTransmitiendo)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
    *@