﻿@model MASCore.Models.ReporteTxIrregularM

@{
    ViewBag.Title = "Reporte Transmision Irregular";
}

<div id="titulo">
    <h3 style="color:#0F2C48;text-align:center" ><u>-  Reporte De Transmision Irregular  -</u></h3>        
</div>

@using (Html.BeginForm("ReporteTransmisionIrregular", "ReportesAvanzados", FormMethod.Post))
{
 @Html.ValidationSummary(true)

    @*<ul id="menu2">
        <li> @Html.ActionLink("Exportar", "GeneraReporteTxIrregular", "ReportesAvanzados") </li> 
        <li> @Html.ActionLink("PDF", "GeneraReporteTxIrregularPdf", null, new { target = "_blank" })</li>                            
    </ul>*@
    
    
 <table width = "100%">
 @{ 
    if (Model.ListaTxIrregularModelo.Count() > 0)
    {
    <tr>
        <td align="right">
             <ul id="menu2">
                    @*<li> <input type="submit" name="submitButton" value="Consultar" /></li>*@
                    <li> @Html.ActionLink("Exportar", "GeneraReporteTxIrregular", "ReportesAvanzados") </li> 
                    <li> @Html.ActionLink("PDF", "GeneraReporteTxIrregularPdf", null, new { target = "_blank" })</li>                            
                </ul>
        </td>
    </tr>
    <tr>
        <td>    
        <div id="gridtxirregular" align="center">
            @{          
        var gridtxirregular = new WebGrid(Model.ListaTxIrregularModelo, rowsPerPage: 500, ajaxUpdateContainerId: "gridtxirregular");     
            }
                 @gridtxirregular.GetHtml(
                    fillEmptyRows: false,
                    alternatingRowStyle: "fila-alternativa", tableStyle: "griddd",
                    headerStyle: "encabezado-grid",
                    footerStyle: "pie-grid",
                    mode: WebGridPagerModes.All,
                    firstText: "<< Primera",
                    previousText: "< Anterior",
                    nextText: "Siguiente >",
                    lastText: "Última >>",
                columns: gridtxirregular.Columns(
                        gridtxirregular.Column("RNP", header: "RNP"),
                        //gridtxirregular.Column("Matricula", header: "Matricula"),
                        gridtxirregular.Column("Embarcacion", header: "Embarcación"),
                        gridtxirregular.Column("NoSerie", header: "NoSerie"),
                        gridtxirregular.Column("RazonSocial", header: "RazonSocial"),
                        gridtxirregular.Column("Localidad", header: "Localidad"),
                        //gridtxirregular.Column("Zona", header: "Zona"),
                        gridtxirregular.Column("UltimoReporte", header: "UltimoReporte"),
                        //gridtxirregular.Column("IdMensaje", header: "Id Mensaje"),
                        gridtxirregular.Column("Acción", format: @<text> @Html.ActionLink("Seleccionar", "CreateBySismepWeb", "Cedula", new { id = item.IdMensaje }, new { target = "_blank" }) </text>),
                                 gridtxirregular.Column("Evidencia", format: @<text> @Html.ActionLink("Mostrar", "EvidenciaTxIrregular", "ReportesAvanzados", new { Embarcacion = item.Embarcacion, Matricula = item.Matricula }, new { target = "_blank" }) </text>)
        //CreateBySismepWeb
                                        )
                            )
            </div>
        </td>
    </tr>
    }
    else
    {
    <tr>
        <td align="center">
             No se encontraron transmisiones irregulares.
        </td>
    </tr>
    }
}
 </table>
}
