﻿@using MASCore.Models
@model MASCore.Models.ReporteTransmisionesM

@{
    /**/

    ViewBag.Title = "Reporte De Transmisiones";
}

@*<script src="~/Scripts/jquery-3.3.1.min.js"></script>*@
<script src="~/Scripts/jquery.autocomplete.min.js" type="text/javascript"></script>
<link href="~/Content/jquery.autocomplete.css" rel="stylesheet" type="text/css" />

@using (Html.BeginForm("ReporteTransmisiones", "ReportesAvanzados", FormMethod.Post))
{
    <article>
        <h1>Reporte De Actividad De Transmisión</h1>
    </article>


    if (!string.IsNullOrEmpty(ViewBag.NoValidoPor))
    {
        <div class="alert alert-danger" role="alert">
            @ViewBag.NoValidoPor
        </div>
    }



    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h4>Criterios de consulta</h4>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-3" style="padding-right: 0; padding-top: 5px;">
                                        @Html.LabelFor(model => model.FechaInicio)
                                    </div>
                                    <div class="col-3" style="padding-right: 0; padding-top: 5px;">
                                        @Html.DevExtreme().DateBoxFor(model => model.FechaInicio).Width("100%")
                                    </div>

                                    <div class="col-3" style="padding-right: 0; padding-top: 5px;">
                                        @Html.LabelFor(model => model.FechaFin)
                                    </div>
                                    <div class="col-3" style="padding-right: 0; padding-top: 5px;">
                                        @Html.DevExtreme().DateBoxFor(model => model.FechaFin).Width("100%")
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-3" style="padding-right: 0; padding-top: 14px;">
                                        @(Html.DevExtreme().SwitchFor(model => model.EmbarcacionBol).OnValueChanged("switch_valueChanged").ID("EmbarcacionBol").Width("30%").ElementAttr("class", "form-control"))
                                    </div>
                                    <div class="col-3" style="padding-right: 0; padding-top: 5px;">
                                        @Html.DevExtreme().AutocompleteFor(model => model.Embarcacion).MinSearchLength(1).Placeholder("Embarcación").DataSource(d => d.Mvc().LoadAction("SearchResultadoGenerico_EmbarcacionActP"))
                                    </div>
                                    <div class="col-3" style="padding-right: 0; padding-top: 14px;">
                                        @(Html.DevExtreme().SwitchFor(model => model.GrupoBol).OnValueChanged("switch_valueChanged").ID("GrupoBol").Width("30%").ElementAttr("class", "form-control"))
                                    </div>
                                    <div class="col-3" style="padding-right: 0; padding-top: 5px;">
                                        @(Html.DevExtreme().SelectBoxFor(model => model.Grupo).DataSource(ViewBag.Grupo).Placeholder("-- Seleccione un Grupo --").DisplayExpr("Resultado").ValueExpr("Resultado").Width("100%").ID("Grupo").ElementAttr("class", "form-control").ShowClearButton(true))
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-3" style="padding-right: 0; padding-top: 14px;">
                                        @(Html.DevExtreme().SwitchFor(model => model.RnpBol).OnValueChanged("switch_valueChanged").ID("RnpBol").Width("30%").ElementAttr("class", "form-control"))
                                    </div>
                                    <div class="col-3" style="padding-right: 0; padding-top: 5px;">
                                        @Html.DevExtreme().AutocompleteFor(model => model.RNP).MinSearchLength(1).Placeholder("RNP").DataSource(d => d.Mvc().LoadAction("../Cedula/SearchResultadoGenerico_rnpdelbarco"))
                                    </div>
                                    <div class="col-3" style="padding-right: 0; padding-top: 14px;">
                                        @(Html.DevExtreme().SwitchFor(model => model.MatriculaBol).OnValueChanged("switch_valueChanged").ID("MatriculaBol").Width("30%").ElementAttr("class", "form-control"))
                                    </div>
                                    <div class="col-3" style="padding-right: 0; padding-top: 5px;">
                                        @Html.DevExtreme().AutocompleteFor(model => model.Matricula).MinSearchLength(1).Placeholder("Matricula").DataSource(d => d.Mvc().LoadAction("../Cedula/SearchResultadoGenerico_matriculabarco"))
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-3" style="padding-right: 0; padding-top: 14px;">
                                        @(Html.DevExtreme().SwitchFor(model => model.RazonSocialBol).OnValueChanged("switch_valueChanged").ID("RazonSocialBol").Width("30%").ElementAttr("class", "form-control"))
                                    </div>
                                    <div class="col-3" style="padding-right: 0; padding-top: 5px;">
                                        @Html.DevExtreme().AutocompleteFor(model => model.RazonSocial).MinSearchLength(1).Placeholder("Razón Social").DataSource(d => d.Mvc().LoadAction("../Cedula/SearchResultadoGenerico_razonsocial"))
                                    </div>
                                    <div class="col-3" style="padding-right: 0; padding-top: 14px;">
                                        @(Html.DevExtreme().SwitchFor(model => model.PuertoBol).OnValueChanged("switch_valueChanged").ID("PuertoBol").Width("30%").ElementAttr("class", "form-control"))
                                    </div>
                                    <div class="col-3" style="padding-right: 0; padding-top: 5px;">
                                        @Html.DevExtreme().AutocompleteFor(model => model.Puerto).MinSearchLength(1).Placeholder("Puerto").DataSource(d => d.Mvc().LoadAction("../Cedula/SearchResultadoGenerico_puertobase"))
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-3" style="padding-right: 0; padding-top: 14px;">
                                        @(Html.DevExtreme().SwitchFor(model => model.PermisosBol).OnValueChanged("switch_valueChanged").ID("PermisosBol").Width("30%").ElementAttr("class", "form-control"))
                                    </div>
                                    <div class="col-3" style="padding-right: 0; padding-top: 5px;">
                                        @(Html.DevExtreme().SelectBoxFor(model => model.Permisos).DataSource(ViewBag.Permisos).Placeholder("-- Seleccione un Permiso --").DisplayExpr("Resultado").ValueExpr("Resultado").Width("100%").ElementAttr("class", "form-control").ShowClearButton(true))
                                    </div>
                                    <div class="col-3">

                                    </div>
                                    <div class="col-1" style="padding-right: 0; padding-top: 5px;">
                                        @Html.DevExtreme().Button().Icon("fas fa-search").ID("btnConsultar").Type(ButtonType.Default).Text("").Width("50%").UseSubmitBehavior(true)
                                        @(Html.DevExtreme().Tooltip().Target("#btnConsultar").ShowEvent("mouseenter").HideEvent("mouseleave").ContentTemplate("Consultar Información"))
                                    </div>
                                    @if (Model.InfoReporteTransmisiones.Any())
                                    {
                                    <div class="col-1" style="padding-right: 0; padding-top: 5px;">
                                        @Html.DevExtreme().Button().Icon("fas fa-file-pdf").ID("btnPDF").Text("").Type(ButtonType.Danger).Width("50%").OnClick(@<text>  function(){ window.open("@Url.Action("GeneraReporteTransmisionesPdf", "ReportesAvanzados")"); } </text>)
                                        @(Html.DevExtreme().Tooltip().Target("#btnPDF").ShowEvent("mouseenter").HideEvent("mouseleave").ContentTemplate("Exportar PDF"))
                                    </div>
                                    <div class="col-1" style="padding-right: 0; padding-top: 5px;">
                                        @Html.DevExtreme().Button().ID("btnExcel").Icon("fas fa-file-excel").Text("").Type(ButtonType.Success).Width("50%").OnClick(@<text>  function(){ window.location = "@Url.Action("GeneraReporteTransmisiones", "ReportesAvanzados")"; } </text>)
                                        @(Html.DevExtreme().Tooltip().Target("#btnExcel").ShowEvent("mouseenter").HideEvent("mouseleave").ContentTemplate("Exportar Excel"))
                                    </div>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    if (Model.InfoReporteTransmisiones.Any())
    {
        <div id="divMarcadeagua" style="margin-bottom: -100px; margin-left: 5%; width: 90%; height: 100px; background-image: url(../Images/marcadeagua.png); background-repeat: space; background-position: center; filter: alpha(opacity=10); -moz-opacity: .10; opacity: .10; ">

        </div>
        <div id="gridEmergencias" align="center">
            @(Html.DevExtreme().DataGrid<ReporteTransmisionesResultadoM>().DataSource(Model.InfoReporteTransmisiones)
                          .ShowColumnLines(true).ShowRowLines(true).RowAlternationEnabled(true).ShowBorders(true)
                          .Columns(columns =>
                          {
                              columns.AddFor(o => o.Columna1).Caption("EMBARCACIÓN / RAZÓN SOCIAL");
                              columns.AddFor(o => o.Columna2).Caption("RNP");
                          }))
            @*@{
                    var gridEmergencias = new WebGrid(Model.InfoReporteTransmisiones, rowsPerPage: 500, ajaxUpdateContainerId: "gridEmergencias");
                }
                @gridEmergencias.GetHtml(
                    fillEmptyRows: false,
                    alternatingRowStyle: "fila-alternativa", tableStyle: "griddd",
                    headerStyle: "encabezado-grid",
                    footerStyle: "pie-grid",
                    mode: WebGridPagerModes.All,
                    firstText: "<< Primera",
                    previousText: "< Anterior",
                    nextText: "Siguiente >",
                    lastText: "Última >>",
                    columns: gridEmergencias.Columns(
                        gridEmergencias.Column("Columna1", header: "EMBARCACIÓN / RAZÓN SOCIAL"),
                        gridEmergencias.Column("Columna2", header: "RNP")
                        )
                    )*@
        </div>
    }
}


<div>
    @Html.ActionLink("Opciones Reportes Avanzados", "Index", "ReportesAvanzados")
</div>


<script type="text/javascript">

    function switch_valueChanged(data) {
        //alert("data: " + data.element[0].id);
        if (data.value === true) {
            $(".dx-switch").each(function (index, value) {
                if (value.id !== data.element[0].id) {
                    $(value).dxSwitch("instance").option("value", !data.value);
                }
            });

        }
    }


    $(document).ready(function () {
        //$("#EmbarcacionActP").autocomplete("../ReportesAvanzados/SearchResultadoGenerico_EmbarcacionActP", { minChars: 1, multiple: false });

        //$("#RNP").autocomplete("../Cedula/SearchResultadoGenerico_rnpdelbarco", { minChars: 1, multiple: false });
        //$("#RazonSocial").autocomplete("../Cedula/SearchResultadoGenerico_razonsocial", { minChars: 1, multiple: false });
        //$("#Matricula").autocomplete("../Cedula/SearchResultadoGenerico_matriculabarco", { minChars: 1, multiple: false });
        //$("#Puerto").autocomplete("../Cedula/SearchResultadoGenerico_puertobase", { minChars: 1, multiple: false });

    });

    //var offsetHeight = document.getElementById('myDiv').offsetHeight;
    //window.onload = function () {
    //    var offsetHeight = document.getElementById('gridEmergencias').offsetHeight;
    //    //alert(offsetHeight.toString() + "px");
    //    document.getElementById("divMarcadeagua").style.height = offsetHeight.toString() + "px";
    //    document.getElementById("divMarcadeagua").style.marginBottom = "-" + offsetHeight.toString() + "px";
    //}
</script>





