﻿<ol>
    <li>CAMARON DE ALTAMAR</li>
    <li>TIBURON</li>
    <li>TUNIDOS</li>
    <li>PELAGICOS MENORES</li>
    <li>SARDINA</li>
    <li>ANCHOVETA</li>
    <li>ESCAMA MARINA</li>
    <li>PULPO</li>
    <li>LANGOSTA</li>
    <li>CANGREJO</li>
    <li>JAIBA</li>
    <li>CARNADA VIVA</li>
    <li>FOMENTO</li>
</ol>