﻿@model MASCore.Models.CapturaActividadesM

@{
    ViewBag.Title = "Ver Actividad";
}
<article>
    <h1>Detalle Actividad</h1>
</article>

@if (!string.IsNullOrEmpty(ViewBag.NoValidoPor))
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.NoValidoPor
    </div>
}

@Html.ActionLink("Editar Actividad", "EditarActividad", new { id = @ViewBag.id })

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            @*<div class="x_title">
                    <h4>Criterios de consulta</h4>
                    <div class="clearfix"></div>
                </div>*@
            <div class="x_content">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-3" style="padding-right: 0; padding-top: 16px;">
                                    @Html.LabelFor(model => model.Turno)
                                </div>
                                <div class="col-3" style="padding-right: 0; padding-top: 16px;">
                                    @(Html.DevExtreme().TextBoxFor(o => o.Turno)
                                          .Width("100%")
                                          .ElementAttr("class", "form-control")
                                          .Disabled(true).ReadOnly(true))
                                        
                                </div>
                                <div class="col-3" style="padding-right: 0; padding-top: 16px;">
                                    @Html.LabelFor(model => model.Usuario)
                                </div>
                                <div class="col-3" style="padding-right: 0; padding-top: 16px;">
                                    @(Html.DevExtreme().TextBoxFor(o => o.Usuario)
                                                  .Width("100%")
                                                  .ElementAttr("class", "form-control")
                                                  .Disabled(true).ReadOnly(true))
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3" style="padding-right: 0; padding-top: 16px;">
                                    @Html.LabelFor(model => model.Fecha)
                                </div>
                                <div class="col-3" style="padding-right: 0; padding-top: 16px;">
                                    @(Html.DevExtreme().DateBoxFor(o => o.Fecha)
                                                                  .Width("100%")
                                                                  .ElementAttr("class", "form-control")
                                                                  .ShowClearButton(true).Disabled(true).ReadOnly(true))
                                </div>
                                <div class="col-3" style="padding-right: 0; padding-top: 16px;">
                                    @Html.LabelFor(model => model.usuarioastrum)
                                </div>
                                <div class="col-3" style="padding-right: 0; padding-top: 16px;">
                                    @(Html.DevExtreme().TextBoxFor(o => o.usuarioastrum)
                                          .Width("100%")
                                          .ElementAttr("class", "form-control")
                                          .Disabled(true).ReadOnly(true))
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3" style="padding-right: 0; padding-top: 16px;">
                                    @Html.LabelFor(model => model.Hora)
                                </div>
                                <div class="col-3" style="padding-right: 0; padding-top: 16px;">
                                    @(Html.DevExtreme().TextBoxFor(o => o.Hora)
                                          .Width("100%")
                                          .ElementAttr("class", "form-control")
                                          .Disabled(true).ReadOnly(true))
                                </div>
                                <div class="col-3" style="padding-right: 0; padding-top: 16px;">
                                    @Html.LabelFor(model => model.Minutos)
                                </div>
                                <div class="col-3" style="padding-right: 0; padding-top: 16px;">
                                    @(Html.DevExtreme().TextBoxFor(o => o.Minutos)
                                          .Width("100%")
                                          .ElementAttr("class", "form-control")
                                          .Disabled(true).ReadOnly(true))
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3" style="padding-right: 0; padding-top: 16px;">
                                    @Html.LabelFor(model => model.Comentarios)
                                </div>
                                <div class="col-9" style="padding-right: 0; padding-top: 16px;">
                                    @(Html.DevExtreme().TextAreaFor(o => o.Comentarios)
                                                          .Width("100%")
                                                          .ElementAttr("class", "form-control")
                                          .Disabled(true).ReadOnly(true))
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
