﻿
@model MASCore.Models.CargaImagenesModel


@{
    ViewBag.Title = "Módulo Carga De Documentos";
    string Tipo = @ViewBag.nombreidentificador;

    string ruta = "C:\\CARGA IMAGENES\\15003\\SOLICITUDES DE INFORMACION\\SIT-003-2012\\0001.jpg";
}

@using (Html.BeginForm("Index", "CargaImagenes", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.EXISTE)
    <article>
        <h1>Módulo Carga De Documentos</h1>
    </article>

    if (!string.IsNullOrEmpty(ViewBag.NoValidoPor))
    {
        <div class="alert alert-danger" role="alert">
            @ViewBag.NoValidoPor
        </div>
    }

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h4>Valida RNP y Carga Documentos</h4>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-3" style="padding-right: 0; padding-top: 14px;">
                                        @Html.LabelFor(model => model.Fecha)
                                    </div>
                                    <div class="col-3" style="padding-right: 0; padding-top: 5px;">
                                        @Html.DevExtreme().DateBoxFor(model => model.Fecha).Width("100%").DisplayFormat("dd/MM/yyyy")
                                    </div>
                                    <div class="col-3" style="padding-right: 0; padding-top: 14px;">
                                        @Html.LabelFor(model => model.tipo)
                                    </div>
                                    <div class="col-3" style="padding-right: 0; padding-top: 5px;">
                                        @(Html.DevExtreme().SelectBoxFor(model => model.tipo).ID("sbxTipo").OnValueChanged("tipo_ValueChanged").DataSource(ViewBag.tipo.Items).Placeholder("-- Seleccione --").DisplayExpr("Resultado").ValueExpr("Resultado").Width("100%").ElementAttr("class", "form-control").ShowClearButton(true))
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-3" style="padding-right: 0; padding-top: 14px;">
                                        @Html.LabelFor(model => model.subtipo1)
                                    </div>
                                    <div class="col-3" style="padding-right: 0; padding-top: 5px;">
                                        @(Html.DevExtreme().SelectBoxFor(model => model.subtipo1).OnValueChanged("subTipo_ValueChanged").ID("sbxSubTipo1").DataSource(ViewBag.subtipo1.Items).Placeholder("-- Seleccione --").DisplayExpr("Resultado").ValueExpr("Resultado").Width("100%").ElementAttr("class", "form-control").ShowClearButton(true))
                                    </div>
                                    <div class="col-3" style="padding-right: 0; padding-top: 14px;">
                                        @Html.LabelFor(model => model.subtipo2)
                                    </div>
                                    <div class="col-3" style="padding-right: 0; padding-top: 5px;">
                                        @(Html.DevExtreme().SelectBoxFor(model => model.subtipo2).ID("sbxSubTipo2").DataSource(ViewBag.subtipo2.Items).Placeholder("-- Seleccione --").DisplayExpr("Resultado").ValueExpr("Resultado").Width("100%").ElementAttr("class", "form-control").ShowClearButton(true))
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-3" style="padding-right: 0; padding-top: 14px;">
                                        @Html.Label(Tipo)
                                    </div>
                                    <div class="col-3" style="padding-right: 0; padding-top: 5px;">
                                        @Html.DevExtreme().TextBoxFor(model => model.NumeroIdentificador).Width("100%")
                                    </div>
                                    <div class="col-3" style="padding-right: 0; padding-top: 5px;">
                                        @if (!string.IsNullOrEmpty(ViewBag.Message) && Model.EXISTE == 1)
                                        {
                                            <div class="alert alert-success alert-dismissible show" role="alert">
                                                @ViewBag.Message
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                        }
                                    </div>
                                    <div class="col-2">

                                    </div>
                                    <div class="col-1" style="padding-right: 0; padding-top: 5px;">
                                        @Html.DevExtreme().Button().Text("").Icon("fas fa-search").Type(ButtonType.Default).UseSubmitBehavior(true).ID("btnBuscar")
                                        @(Html.DevExtreme().Tooltip().Target("#btnBuscar").ShowEvent("mouseenter").HideEvent("mouseleave").ContentTemplate("Buscar"))
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @if (Model.EXISTE == 1)
                    {
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-11" style="padding-right: 0; padding-top: 14px;">
                                            @Html.DevExtreme().FileUploader().ID("files-to-upload").Name("file").Width("100%")
                                        </div>
                                        <div class="col-1" style="padding-right: 0; padding-top: 5px; display: flex; -ms-align-items: center; -o-align-items: center; -webkit-align-items: center; align-items: center">
                                            @Html.DevExtreme().Button().Text("").Icon("fas fa-save").Type(ButtonType.Default).UseSubmitBehavior(true).ID("btnCargar")
                                            @(Html.DevExtreme().Tooltip().Target("#btnCargar").ShowEvent("mouseenter").HideEvent("mouseleave").ContentTemplate("Cargar Documentos"))
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h4>Búsqueda de Documentos</h4>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-3" style="padding-right: 0; padding-top: 14px;">
                                        @Html.LabelFor(model => model.UsaFechas)
                                    </div>
                                    <div class="col-3" style="padding-right: 0; padding-top: 5px;">
                                        @(Html.DevExtreme().SwitchFor(model => model.UsaFechas).Width("30%").ElementAttr("class", "form-control"))
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-3" style="padding-right: 0; padding-top: 14px;">
                                        @Html.LabelFor(model => model.FechaInicio)
                                    </div>
                                    <div class="col-3" style="padding-right: 0; padding-top: 5px;">
                                        @Html.DevExtreme().DateBoxFor(model => model.FechaInicio).Width("100%").DisplayFormat("dd/MM/yyyy")
                                    </div>
                                    <div class="col-3" style="padding-right: 0; padding-top: 14px;">
                                        @Html.LabelFor(model => model.FechaFin)
                                    </div>
                                    <div class="col-3" style="padding-right: 0; padding-top: 5px;">
                                        @Html.DevExtreme().DateBoxFor(model => model.FechaFin).Width("100%").DisplayFormat("dd/MM/yyyy")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-3" style="padding-right: 0; padding-top: 14px;">
                                        @Html.LabelFor(model => model.RNP)
                                    </div>
                                    <div class="col-3" style="padding-right: 0; padding-top: 5px;">
                                        @Html.DevExtreme().TextBoxFor(model => model.RNP).Width("100%")
                                    </div>
                                    <div class="col-3" style="padding-right: 0; padding-top: 14px;">
                                        @Html.LabelFor(model => model.tipobus)
                                    </div>
                                    <div class="col-3" style="padding-right: 0; padding-top: 5px;">
                                        @(Html.DevExtreme().SelectBoxFor(model => model.tipobus).OnValueChanged("tipoBus_ValueChanged").ID("sbxTipoBus").DataSource(ViewBag.tipobus.Items).Placeholder("-- Seleccione --").DisplayExpr("Resultado").ValueExpr("Resultado").Width("100%").ElementAttr("class", "form-control").ShowClearButton(true))
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-3" style="padding-right: 0; padding-top: 14px;">
                                        @Html.LabelFor(model => model.subtipo1bus)
                                    </div>
                                    <div class="col-3" style="padding-right: 0; padding-top: 5px;">
                                        @(Html.DevExtreme().SelectBoxFor(model => model.subtipo1bus).ID("sbxSubTipoBus1").OnValueChanged("subTipoBus_ValueChanged").DataSource(ViewBag.subtipo1bus.Items).Placeholder("-- Seleccione --").DisplayExpr("Resultado").ValueExpr("Resultado").Width("100%").ElementAttr("class", "form-control").ShowClearButton(true))
                                    </div>
                                    <div class="col-3" style="padding-right: 0; padding-top: 14px;">
                                        @Html.LabelFor(model => model.subtipo2bus)
                                    </div>
                                    <div class="col-3" style="padding-right: 0; padding-top: 5px;">
                                        @(Html.DevExtreme().SelectBoxFor(model => model.subtipo2bus).ID("sbxSubTipoBus2").DataSource(ViewBag.subtipo2bus.Items).Placeholder("-- Seleccione --").DisplayExpr("Resultado").ValueExpr("Resultado").Width("100%").ElementAttr("class", "form-control").ShowClearButton(true))
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-12 col-xs-push-11" style="padding-right: 0; padding-top: 5px;">
                                        @Html.DevExtreme().Button().Text("").Icon("fas fa-search").Type(ButtonType.Default).UseSubmitBehavior(true).ID("btnBuscarDocumentos")
                                        @(Html.DevExtreme().Tooltip().Target("#btnBuscarDocumentos").ShowEvent("mouseenter").HideEvent("mouseleave").ContentTemplate("Buscar Documentos"))
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="Busqueda">
        <div class="div-comentarios">
            <table width="100%">
                <tr>
                    <td colspan="4" align="center">
                        @{
                            if (Model.ListaImagenes.Count > 0)
                            {
                                @*@(Html.DevExtreme().DataGrid<BuscaCargaImagenes_Result>().DataSource(Model.ListaImagenes)
                                                      .ShowColumnLines(true).ShowRowLines(true).RowAlternationEnabled(true).ShowBorders(true).ColumnHidingEnabled(true).ColumnAutoWidth(true)
                                                      .Columns(columns =>
                                                      {
                                                          columns.AddFor(o => o.Rnp);
                                                          columns.AddFor(o => o.Tipo);
                                                          columns.AddFor(o => o.Subtipo1);
                                                          columns.AddFor(o => o.Subtipo2);
                                                          columns.AddFor(o => o.Fecha);
                                                          columns.AddFor(o => o.Consecutivo);
                                                          columns.Add().Caption("Acción  para imagen")
                                                              .CellTemplate(@Html.ActionLink("Ver", "VerImagen", "CargaImagenes", new { id = "ItemId", rnp = "ItemRnp", rutabase = "ItemRutaBase", tipo = "ItemTipo", subtipo1 = "ItemSubTipo1", subtipo2 = "ItemSubTipo2", identificador = "ItemIdentificador", consecutivo = "ItemConsecutivo" }, new { target = "_blank" })
                                                                  .ToHtmlString()
                                                                  .Replace("ItemId", "<%= data.id %>")
                                                                  .Replace("ItemRnp", "<%= data.Rnp %>")
                                                                  .Replace("ItemRutaBase", "<%= data.RutaBase %>")
                                                                  .Replace("ItemTipo", "<%= data.Tipo %>")
                                                                  .Replace("ItemSubtipo1", "<%= data.Subtipo1 %>")
                                                                  .Replace("ItemSubtipo2", "<%= data.Subtipo2 %>")
                                                                  .Replace("ItemIdentificador", "<%= data.Identificador %>")
                                                                  .Replace("ItemConsecutivo", "<%= data.Consecutivo %>") + " | " +

                                                                            @Html.ActionLink("Descargar", "DescargarImagen", "CargaImagenes", new { id = "ItemId", rnp = "ItemRnp", rutabase = "ItemRutaBase", tipo = "ItemTipo", subtipo1 = "ItemSubTipo1", subtipo2 = "ItemSubTipo2", identificador = "ItemIdentificador", consecutivo = "ItemConsecutivo" }, null)
                                                                                .ToHtmlString()
                                                                                .Replace("ItemId", "<%= data.id %>")
                                                                                .Replace("ItemRnp", "<%= data.Rnp %>")
                                                                                .Replace("ItemRutaBase", "<%= data.RutaBase %>")
                                                                                .Replace("ItemTipo", "<%= data.Tipo %>")
                                                                                .Replace("ItemSubtipo1", "<%= data.Subtipo1 %>")
                                                                                .Replace("ItemSubtipo2", "<%= data.Subtipo2 %>")
                                                                                .Replace("ItemIdentificador", "<%= data.Identificador %>")
                                                                                .Replace("ItemConsecutivo", "<%= data.Consecutivo %>")
                                                          );

                                                      }))*@

                                @*<div id="grid">
                                                                        @{
                                                                            var grid = new WebGrid(Model.ListaImagenes, rowsPerPage: 6, canSort: false, canPage: false, ajaxUpdateContainerId: "grid");
                                                                        }
                                                                        @grid.GetHtml(
                                                                              tableStyle: "webgrid",
                                                                                 fillEmptyRows: false,
                                                                                 alternatingRowStyle: "fila-alternativa",
                                                                                 headerStyle: "encabezado-grid",
                                                                                 footerStyle: "pie-grid",
                                                                                 mode: WebGridPagerModes.All,
                                                                                 firstText: "<< Primera",
                                                                                 previousText: "< Anterior",
                                                                                 nextText: "Siguiente >",
                                                                                 lastText: "Última >>",

                                                                            columns: grid.Columns(

                                                                                                        grid.Column("Rnp", header: "Rnp", style: "letrachica"),
                                                                                                        grid.Column("Tipo", header: "Tipo", style: "letrachica"),
                                                                                                        grid.Column("Subtipo1", header: "Subtipo", style: "letrachica"),
                                                                                                        grid.Column("Subtipo2", header: "Subtipo 2", style: "letrachica"),
                                                                                                        //grid.Column("RutaBase", header: "RutaBase", style: "letrachica"),
                                                                                                        grid.Column("Fecha", "Fecha", @<text><div style='width: 10em' class="letrachica">@item.Fecha.ToString().Substring(0, 10) </div></text>),
                                                                        grid.Column("Consecutivo", header: "Nombre de archivo", style: "letrachica"),

                                                                        grid.Column("Acción para imagen", format: @<text>
                                                                            @Html.ActionLink("Ver", "VerImagen", "CargaImagenes", new { id = item.Id, rnp = item.Rnp, rutabase = item.RutaBase, tipo = item.Tipo, subtipo1 = item.Subtipo1, subtipo2 = item.Subtipo2, identificador = item.Identificador, consecutivo = item.Consecutivo }, new { target = "_blank" })  |
                                                                            @Html.ActionLink("Descargar", "DescargarImagen", "CargaImagenes", new { id = item.Id, rnp = item.Rnp, rutabase = item.RutaBase, tipo = item.Tipo, subtipo1 = item.Subtipo1, subtipo2 = item.Subtipo2, identificador = item.Identificador, consecutivo = item.Consecutivo }, null)
                                                                        </text>)

                                    )
                                    )
                                                                    </div>*@
                            }
                        }
                    </td>
                </tr>
            </table>

        </div>
    </div>
}


@*<img src="@Url.Action("Preview", new {file=ruta})" />*@

@*@using (Html.BeginForm("Index", "CargaImagenes",
    FormMethod.Post, new { enctype = "multipart/form-data" })) {
    <input id="files-to-upload" type="file" name="file" accept="image/jpeg"/>

    <input type='submit' name="submitButton" id='cargar' value='Cargar archivo' style="font-size: small;width:200px"/>

    }*@




<div>
    @Html.ActionLink("Regresar a Inicio", "Index", "Home")
</div>




<script type="text/javascript">

    function tipo_ValueChanged(selectBox) {
        var tipo = selectBox.value;
        getSubtipo(tipo);
    }

    function subTipo_ValueChanged(selectBox) {
        var subtipo = selectBox.value;
        var tipo = $("#sbxTipo").dxSelectBox("instance").option("value");
        getSubtipo2(tipo, subtipo);
    }

    function tipoBus_ValueChanged(selectBox) {
        var tipoBus = selectBox.value;
        getSubtipobus(tipoBus);
    }

    function subTipoBus_ValueChanged(selectBox) {
        var subtipoBus = selectBox.value;
        var tipoBus = $("#sbxTipoBus").dxSelectBox("instance").option("value");
        getSubtipo2bus(tipoBus, subtipoBus);
    }

    function getSubtipo(nomtipo) {
        $.ajax({
            url: '@Url.Action("SUBTIPOS", "CargaImagenes")',
            data: { nomtipo: nomtipo },
            dataType: "json",
            type: "POST",
            error: function () {
                alert("Ha ocurrido un error.");
            },
            success: function (data) {
                $("#sbxSubTipo1").dxSelectBox("instance").option({ "dataSource": data, valueExpr: "Value", displayExpr: "Text" });
                $("#sbxSubTipo2").dxSelectBox("instance").reset();
            }
        });
        }

    function getSubtipo2(nomtipo,nomsubtipo) {
        $.ajax({
            url: '@Url.Action("SUBTIPOS2", "CargaImagenes")',
            data: { nomtipo: nomtipo, nomsubtipo: nomsubtipo },
            dataType: "json",
            type: "POST",
            error: function () {
                alert("Ha ocurrido un error.");
            },
            success: function (data) {
                $("#sbxSubTipo2").dxSelectBox("instance").option({ "dataSource": data, valueExpr: "Value", displayExpr: "Text" });
            }
        });
    }

    function getSubtipobus(nomtipo) {
        $.ajax({
            url: '@Url.Action("SUBTIPOSBUS", "CargaImagenes")',
            data: { nomtipo: nomtipo },
            dataType: "json",
            type: "POST",
            error: function () {
                alert("Ha ocurrido un error.");
            },
            success: function (data) {
                $("#sbxSubTipoBus1").dxSelectBox("instance").option({ "dataSource": data, valueExpr: "Value", displayExpr: "Text" });
                $("#sbxSubTipoBus2").dxSelectBox("instance").reset();
            }
        });
    }

    function getSubtipo2bus(nomtipo, nomsubtipo) {
        $.ajax({
            url: '@Url.Action("SUBTIPOS2BUS", "CargaImagenes")',
            data: { nomtipo: nomtipo, nomsubtipo: nomsubtipo },
            dataType: "json",
            type: "POST",
            error: function () {
                alert("Ha ocurrido un error.");
            },
            success: function (data) {
                $("#sbxSubTipoBus2").dxSelectBox("instance").option({ "dataSource": data, valueExpr: "Value", displayExpr: "Text" });
            }
        });
    }

    $(document).ready(function () {
        $("#btnBuscar").find(".dx-button-submit-input").attr("name", "submitButton").attr("value", "Buscar");
        $("#btnCargar").find(".dx-button-submit-input").attr("name", "submitButton").attr("value", "Cargar archivo");
        $("#btnBuscarDocumentos").find(".dx-button-submit-input").attr("name", "submitButton").attr("value", "Buscar Documentos");
    });

</script>







@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@




@*
    <fieldset>
        <legend>CargaImagenesModel</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.TiposDoc)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TiposDoc)
            @Html.ValidationMessageFor(model => model.TiposDoc)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NumeroIdentificador)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NumeroIdentificador)
            @Html.ValidationMessageFor(model => model.NumeroIdentificador)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
*@

