﻿@model MASCore.Models.MonitoreoEmbarcPesqModel
@{
    ViewBag.Title = "MonitoreoEmbarcPesq";
}

<div id="titulo">
    <h3 style="color: #0F2C48; text-align: center"><u>-  Módulo Monitoreo Satelital de Embarcaciones Pesqueras  -</u></h3>
</div>
<div style="text-align: center; color: Red; font-size: medium">
    @ViewBag.NoValidoPor
</div>
<br />
<div class="div-comentarios">
    <h4 style="color: #DF9448">Carga Archivos</h4>
    @using (Html.BeginForm("MonitoreoEmbarcPesq", "CargaImagenes", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <table style="width: 100%;">
            <tr>
                <td>
                    @Html.LabelFor(model => model.Tipo)
                </td>
                <td>@Html.DropDownList("tipo",null, "- Seleccione -", new { @style = "width: 190px;" })

                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.nArchivo)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.nArchivo, new { @style = "width: 190px;" })
                </td>

                <td>
                    @Html.LabelFor(model => model.fRegistro)
                </td>
                <td>
                    @Html.EditorFor(model => model.fRegistro, new { @style = "width: 190px;" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.sArchivo)
                </td>
                <td colspan="2">
                    <input id="files-to-upload" type="file" name="file" accept="application/pdf" style="width: 100%" />
                </td>
            </tr>
            <tr>
                <td colspan="4" style="text-align: right;">
                    <input type='submit' name="submitButton" id='Cargar' value='Guardar' style="font-size: small; width: 150px" />
                </td>
            </tr>
        </table>
    }
</div>

