﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>VerImagen</title>
</head>
<body>
    <div>
@if (!string.IsNullOrEmpty(ViewBag.ImageUploaded))
{
    <img src="@Url.Action("Preview", new { file = ViewBag.ImageUploaded })" />
}
    </div>
</body>
</html>
