﻿@model MASCore.Models.NoticiasMonitoreo

@{
    ViewBag.Title = "Noticias Monitoreo";
}
<article>
    <h1>Módulo Carga de Noticias Monitoreo</h1>
</article>
<br />

@using (Html.BeginForm("Index", "NoticiasMonitoreo", FormMethod.Post))
{
    @Html.ValidationSummary(true)

<div class="div-comentarios" >    
@{
    if (Model.guardado == true)
    {
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h4> Noticia cargada con exito - modo solo lectura</h4>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-3" style="padding-right: 0; padding-top: 5px;">
                                        @Html.LabelFor(model => model.titulo)
                                    </div>
                                    <div class="col-9" style="padding-right: 0; padding-top: 5px;">
                                        @Html.DevExtreme().TextBoxFor(model => model.titulo).Disabled(true).ReadOnly(true)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-3" style="padding-right: 0; padding-top: 5px;">
                                        @Html.LabelFor(model => model.vineta1)
                                    </div>
                                    <div class="col-9" style="padding-right: 0; padding-top: 5px;">
                                        @Html.DevExtreme().TextBoxFor(model => model.vineta1).Disabled(true).ReadOnly(true)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-3" style="padding-right: 0; padding-top: 5px;">
                                        @Html.LabelFor(model => model.vineta2)
                                    </div>
                                    <div class="col-9" style="padding-right: 0; padding-top: 5px;">
                                        @Html.DevExtreme().TextBoxFor(model => model.vineta2).Disabled(true).ReadOnly(true)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-3" style="padding-right: 0; padding-top: 5px;">
                                        @Html.LabelFor(model => model.fechadelanoticia)
                                    </div>
                                    <div class="col-9" style="padding-right: 0; padding-top: 5px;">
                                        @Html.DevExtreme().DateBoxFor(model => model.fechadelanoticia).Disabled(true).ReadOnly(true).DisplayFormat("dd/MM/yyyy")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-3" style="padding-right: 0; padding-top: 5px;">
                                        @Html.LabelFor(model => model.fecha)
                                    </div>
                                    <div class="col-9" style="padding-right: 0; padding-top: 5px;">
                                        @Html.DevExtreme().DateBoxFor(model => model.fecha).Disabled(true).ReadOnly(true).DisplayFormat("dd/MM/yyyy")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-3" style="padding-right: 0; padding-top: 5px;">
                                        @Html.LabelFor(model => model.cuerpo)
                                    </div>
                                    <div class="col-9" style="padding-right: 0; padding-top: 5px;">
                                        @Html.DevExtreme().TextAreaFor(model => model.cuerpo).Disabled(true).ReadOnly(true)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }
    else
    {
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-3" style="padding-right: 0; padding-top: 5px;">
                                        @Html.LabelFor(model => model.titulo)
                                    </div>
                                    <div class="col-9" style="padding-right: 0; padding-top: 5px;">
                                        @Html.DevExtreme().TextBoxFor(model => model.titulo)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-3" style="padding-right: 0; padding-top: 5px;">
                                        @Html.LabelFor(model => model.vineta1)
                                    </div>
                                    <div class="col-9" style="padding-right: 0; padding-top: 5px;">
                                        @Html.DevExtreme().TextBoxFor(model => model.vineta1)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-3" style="padding-right: 0; padding-top: 5px;">
                                        @Html.LabelFor(model => model.vineta2)
                                    </div>
                                    <div class="col-9" style="padding-right: 0; padding-top: 5px;">
                                        @Html.DevExtreme().TextBoxFor(model => model.vineta2)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-3" style="padding-right: 0; padding-top: 5px;">
                                        @Html.LabelFor(model => model.fechadelanoticia)
                                    </div>
                                    <div class="col-9" style="padding-right: 0; padding-top: 5px;">
                                        @Html.DevExtreme().DateBoxFor(model => model.fechadelanoticia).DisplayFormat("dd/MM/yyyy")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-3" style="padding-right: 0; padding-top: 5px;">
                                        @Html.LabelFor(model => model.fecha)
                                    </div>
                                    <div class="col-9" style="padding-right: 0; padding-top: 5px;">
                                        @Html.DevExtreme().DateBoxFor(model => model.fecha).DisplayFormat("dd/MM/yyyy")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-3" style="padding-right: 0; padding-top: 5px;">
                                        @Html.LabelFor(model => model.cuerpo)
                                    </div>
                                    <div class="col-9" style="padding-right: 0; padding-top: 5px;">
                                        @Html.DevExtreme().TextAreaFor(model => model.cuerpo)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-3 col-xs-push-9" style="padding-right: 0; padding-top: 5px;">
                                        @Html.DevExtreme().Button().Text("Guardar").ID("btnGuardar").UseSubmitBehavior(true).ElementAttr("class","float-right")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    }   
}


</div>
    
    
    
}
<script>
    $(document).ready(function() {
        $("#btnGuardar").find(".dx-button-submit-input").attr("name", "submitButton").attr("value", "Guardar");
    });
</script>
<div>
    @Html.ActionLink("Nueva Noticia", "Index")
</div>

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
