﻿@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using MASCore.AppCode


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    @Html.Raw(PageSources.LayOut())
    <link href="~/css/devextreme/dx.common.css" rel="stylesheet" />
    <link href="~/css/devextreme/dx.light.css" rel="stylesheet" />

    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/Scripts/custom.js"></script>
    <script src="~/Scripts/dx.all.js"></script>
    <script src="~/js/devextreme/aspnet/dx.aspnet.data.js"></script>
    <script src="~/js/devextreme/aspnet/dx.aspnet.mvc.js"></script>
    <!---Manejador de controles Dev por js-->
    <script src="~/js/DevControles.js"></script>

</head>

@inject IViewLocalizer Localizer

@{
    var cultura = Context.Features.Get<IRequestCultureFeature>();

}

<body>



  
    @Html.Hidden("cultura", cultura)

    <script type="text/javascript">
        $(document).ready(function () {
            //var culture = $("#cultura").val();
            //Globalize.locale(culture);    
        })

    </script>



    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="row" style="margin-bottom:5px">
                <div class="col-3 left_col encabezado">
                    <div class="row col-12">
                        <div style="margin-top: 5vh;">
                            <ul style="padding-bottom:0;padding-top:0;">
                                <li>
                                    <a href='https://www.astrum.com.mx/' class="site_title">
                                        <img src="~/Images/Astrum_logo_small.png" width="40" alt="...">
                                        <span class="esconder" style="font-size: 22px;">MAS</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row col-12 esconder">
                        <div class="nav side-menu" style="padding-bottom: 15px; margin-left:15px;">
                            <a href='@Url.Action("Index", "Home")' class="abajoEngrande"><i class="fa fa-home "></i> Inicio </a>
                        </div>
                    </div>
                    <div id="sidebar-menu" class="row col-12 main_menu nomargenpadding">
                        <div class="row col-12 nomargenpadding">
                            <div class="menu_section nomargenpadding">
                                <h3 class="esconder">Administración</h3>
                                <ul class="nav side-menu nomargenpadding" style="padding: 0;margin-bottom: 4vh;margin-top: 1vh;">
                                    <li>
                                        <a><i class="fas fa-edit agrandarEnChico"></i><span aria-valor='cedula' class="abajoEngrande"> Cédulas </span><span class="fas fa-chevron-down esconder" style="float:right"></span></a>
                                        <ul class="nav child_menu aunladosubmenubase">
                                            <li><a href='@Url.Action("Create", "Cedula")'>Crear</a></li>
                                            <li><a href='@Url.Action("BuscaCedula", "Cedula")'>Buscar</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a><i class="fas fa-truck agrandarEnChico"></i><span aria-valor='info' class="abajoEngrande"> Entradas </span><span class="fas fa-chevron-down esconder" style="float:right"></span></a>
                                        <ul class="nav child_menu aunladosubmenubase">
                                            <li><a href='@Url.Action("Create", "OficioEntrada")'>Crear</a></li>
                                            <li><a href='@Url.Action("BuscaOficioEntrada", "OficioEntrada")'>Buscar</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a> <i class="fas fa-road agrandarEnChico"></i><span aria-valor='info' class="abajoEngrande"> Salidas </span><span class="fas fa-chevron-down esconder" style="float:right"></span></a>
                                        <ul class="nav child_menu aunladosubmenubase">
                                            <li><a href='@Url.Action("Create", "OficioSalida")'>Crear</a></li>
                                            <li><a href='@Url.Action("BuscaOficioSalida", "OficioSalida")'>Buscar</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a><i class="fas fa-info-circle agrandarEnChico"></i><span aria-valor='info' class="abajoEngrande"> Solicitud de información </span><span class="fas fa-chevron-down esconder" style="float:right"></span></a>
                                        <ul class="nav child_menu aunladosubmenubase">
                                            <li><a href='@Url.Action("Create", "SolicitudDeInformacion")'>Crear</a></li>
                                            <li><a href='@Url.Action("BuscaSolInfo", "SolicitudDeInformacion")'>Buscar</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a><i class="fas fa-user agrandarEnChico"></i><span class="abajoEngrande"> Solicitantes </span><span class="fas fa-chevron-down esconder" style="float:right"></span></a>
                                        <ul class="nav child_menu aunladosubmenubase">
                                            <li><a href='@Url.Action("Create", "Solicitantes")'>Crear</a></li>
                                            <li><a href='@Url.Action("BuscaSolicitantes", "Solicitantes")'>Buscar</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a><i class="fas fa-wrench agrandarEnChico"></i><span aria-valor='mtto' class="abajoEngrande"> Mantenimientos </span><span class="fas fa-chevron-down esconder" style="float:right"></span></a>
                                        <ul class="nav child_menu aunladosubmenubase">
                                            <li><a href='@Url.Action("BuscaMantenimiento", "Mantenimiento")'>Buscar</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a><i class="fas fa-folder-open agrandarEnChico"></i><span aria-valor='kardex' class="abajoEngrande"> Kardex </span><span class="fas fa-chevron-down esconder" style="float:right"></span></a>
                                        <ul class="nav child_menu aunladosubmenubase">
                                            <li><a href='@Url.Action("BuscaKardex", "Kardex")'>Buscar</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a><i class="fas fa-file-signature agrandarEnChico"></i>&nbsp;&nbsp;<span aria-valor='SolicitudesWeb' class="abajoEngrande"> Solicitudes Web </span><span class="fas fa-chevron-down esconder" style="float:right"></span></a>
                                        <ul class="nav child_menu aunladosubmenubase">
                                            <li><a href='@Url.Action("Create", "SolicitudesWeb")'>Crear</a></li>
                                            <li><a href='@Url.Action("BuscaSolicitudesWeb", "SolicitudesWeb")'>Buscar</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a><i class="fas fa-cloud-upload-alt agrandarEnChico"></i><span aria-valor='Docs' class="abajoEngrande"> Carga de Documentos </span><span class="fas fa-chevron-down esconder" style="float:right"></span></a>
                                        <ul class="nav child_menu aunladosubmenubase">
                                            <li><a href='@Url.Action("Index", "CargaImagenes")'>Buscar</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a><i class="fas fa-phone agrandarEnChico"></i><span class="abajoEngrande"> Llamadas Telefónicas </span><span class="fas fa-chevron-down esconder" style="float:right"></span></a>
                                        <ul class="nav child_menu aunladosubmenubase">
                                            <li><a href='@Url.Action("Create", "Llamadas")'>Crear</a></li>
                                            <li><a href='@Url.Action("BuscaLlamada", "Llamadas")'>Buscar</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a><i class="fas fa-clock agrandarEnChico"></i><span aria-valor='OFP' class="abajoEngrande"> Turnos OFP </span><span class="fas fa-chevron-down esconder" style="float:right"></span></a>
                                        <ul class="nav child_menu aunladosubmenubase">
                                            <li><a href='@Url.Action("Create", "TurnosOFP")'>Crear</a></li>
                                            <li><a href='@Url.Action("Buscar", "TurnosOFP")'>Buscar</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row col-12">
                            <div class="menu_section">
                                <h3 class="esconder">Reportes</h3>
                                <ul>
                                    <li style="margin-left: -0.8vw;"><a href='@Url.Action("Index", "ReportesAvanzados")'><i class="fas fa-table agrandarEnChico"></i><span class="abajoEngrande"> Reportes Avanzados </span></a></li>
                                    <li style="margin-left: -0.8vw;padding-top: 3vh;"><a href='@Url.Action("CapturaActividades", "ReportesAvanzados")'><i class="fas fa-file-word agrandarEnChico"></i><span class="abajoEngrande"> Captura de Actividades </span></a></li>
                                    <li style="margin-left: -0.8vw;padding-top: 3vh;"><a href='@Url.Action("ReporteActividadOperadores", "ReportesAvanzados")'><i class="fas fa-book agrandarEnChico"></i><span class="abajoEngrande"> Bitácora de Actividades </span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-9 con contenedor agrandar">
                    <div class="row nav_header_menu">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-1">
                                    <div class="toggle">
                                        <a id="menu_toggle"><i class="fa fa-bars fa-2x"></i></a>
                                    </div>
                                </div>
                                <div class="col-11">

                                    <ul class="nav navbar-top-links navbar-right">
                                        <li class="dropdown">
                                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                                <i class="far fa-user"></i>&nbsp;&nbsp;
                                                @*<label><b>@Html.Encode(Context.Request.Cookies["userName"].ToString().ToUpper())</b></label>*@
                                            </a>
                                            <ul class="dropdown-menu dropdown-user">
                                                @*<li>
                                                        <a href="#"><i class="fa fa-user fa-fw"></i>Informacion usuario</a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fas fa-cog fa-fw"></i>Configuración</a>
                                                    </li>
                                                    <li class="divider"></li>*@
                                                <li>
                                                    <a href='@Url.Action("Logout", "User")'><i class="fas fa-sign-out-alt fa-fw"></i>Salir</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>


                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row_main">
                        <div class="col-12">
                            @RenderBody()
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-12 text-center">
                            <div>
                                <p>Copyright © 2019 by Astrum Satelital, S.A. de C.V.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Optional JavaScript -->

    </div>





</body>



</html>
