﻿@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using MASCore.AppCode


<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - MAS Web - Astrum Satelital</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />

    @inject IViewLocalizer Localizer

 

</head>
<body>
    
    @RenderSection("scripts", required: false)
    @{
        var cultura = Context.Features.Get<IRequestCultureFeature>();
    }
    <div class="row col-12">
        @RenderBody()
    </div>
    <div class="row col-12">
        <p style="width: 100%;text-align: right;margin-top: 10px;">Copyright &copy; @DateTime.Now.Year by Astrum Satelital, S.A. de C.V.</p>
    </div>
    @Html.Hidden("cultura", cultura)
    <script>
        $(document).ready(function () {
            $(document.body).css("background", "#F7F7F7")
            $(document.body).css("margin", "20px")
            var culture = $("#cultura").val();
            Globalize.locale(culture);
        })
    </script>
</body>
</html>
