﻿@using MASCore.AppCode
<html lang="en">

@*<head>
    <meta charset="utf-8">
    <title>Astrum Satelital - MAS Web - Astrum Satelital</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon">


    <meta name="viewport" content="width=device-width">



    <link href="~/css/devextreme/dx.common.css" rel="stylesheet" />
    <link href="~/css/devextreme/dx.light.css" rel="stylesheet" />

    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/Scripts/custom.js"></script>
    <script src="~/Scripts/dx.all.js"></script>
    <script src="~/js/devextreme/aspnet/dx.aspnet.data.js"></script>
    <script src="~/js/devextreme/aspnet/dx.aspnet.mvc.js"></script>

    <script src="~/js/DevControles.js"></script>
    <script src="~/js/Login.js"></script>
    

    <script>
        var hdnURL = i.ActionLink("Home", "Index");
    </script>

</head>*@

<head>
    <meta charset="utf-8" />
    <title>Astrum Satelital - MAS Web - Astrum Satelital</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <meta name="viewport" content="width=device-width" />
    @Html.Raw(PageSources.StyleSheetsCss())

    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/Scripts/custom.js"></script>
    <script src="~/Scripts/dx.all.js"></script>
    <script src="~/js/devextreme/aspnet/dx.aspnet.data.js"></script>
    <script src="~/js/devextreme/aspnet/dx.aspnet.mvc.js"></script>


    <script src="~/js/DevControles.js"></script>
    <script src="~/js/Login.js"></script>
    <style type="text/css">
        .dx-button-content {
            height: 7%;
            max-height: 100%;
        }
    </style>
</head>


<body class="login">
    

    <div class="login_wrapper">
        <form action="" method="post">
            <center>
                <div>
                    <img src="~/images/Astrum_logo_small.png" alt="..." width="50px;" style="margin-right:20px;" />
                    <span style="margin-top:40px;font-size:42px; color:darkslategray">MAS</span>
                </div>

            </center>
            <br />

            <center>
                <p style="font-family:Rockwell,Consolas,'Courier New',Courier,monospace; font-size:1.3em;"><b>Módulo Administrativo SISMEP Web</b></p>
            </center>
            <br />
            <div class="input-group">
                <span class="input-group-addon"><i class="fas fa-user"></i></span>

                <div id="NombreCorto"></div>
                <script>jQuery(function ($) {
                        $("#NombreCorto").dxTextBox({
                            "name": "NombreCorto",
                            "value": null,
                            "placeholder": "Usuario",
                            "showClearButton": true,
                            "inputAttr": { "id": "NombreCorto" }
                        }).dxValidator({ "validationRules": [{ "type": "stringLength", "message": "The field Usuario :  must be a string with a maximum length of 20.", "max": 20 }, { "type": "required", "message": "The Usuario :  field is required." }] });
                    });</script>
                <span class="field-validation-valid" data-valmsg-for="NombreCorto" data-valmsg-replace="true"></span>
            </div>
            <br />
            <div class="input-group">
                <span class="input-group-addon"><i class="fas fa-lock"></i></span>
                <div id="Contrase&#241;a"></div>
                <script>jQuery(function ($) { $("#Contraseña").dxTextBox({ "name": "Contraseña", "value": null, "mode": "password", "placeholder": "Contraseña", "showClearButton": true, "inputAttr": { "id": "Contrase_a" } }).dxValidator({ "validationRules": [{ "type": "stringLength", "message": "The field Contraseña  :  must be a string with a maximum length of 10.", "max": 10 }, { "type": "required", "message": "The Contraseña  :  field is required." }] }); });</script>
                <span class="field-validation-valid" data-valmsg-for="Contraseña" data-valmsg-replace="true"></span>
            </div>
            <br />
            <div class="dx-field text-center">
                <div id="devextreme2"></div>
                <script>jQuery(function ($) { $("#devextreme2").dxButton({ "icon": "fas fa-sign-in-alt", "text": "Entrar", "type": "success", "stylingMode": "outlined", "useSubmitBehavior": true }); });</script>

            </div>

            <div class="demo-container">
                <div class="buttons-demo">
                    <div class="header">

                    </div>
                    <div class="types">
                        <div id="devextreme2"></div>
                        <script>jQuery(function ($) { $("#devextreme2").dxButton({ "icon": "fas fa-sign-in-alt", "text": "Entrar", "type": "success", "stylingMode": "outlined", "useSubmitBehavior": true }); });</script>

                    </div>
                    <div class="buttons"></div>
                </div>
            </div>



            <div class="clearfix"></div>


            <div class="separator">
                <div class="clearfix"></div>
                <br />
                <div style="text-align:center">
                    <p>Copyright &#169; 2019 by Astrum Satelital, S.A. de C.V.</p>
                </div>
            </div>
        </form>
    </div>





</body>
</html>