﻿@model MASCore.Models.OficioSalidaModelBusqueda

@{
    ViewBag.Title = "Busca Oficios De Salida";
}
<style>
    #btnConsultarOfSalida {
        margin-right: 10px;
        float: right;
    }
</style>
<div style="text-align:center; color:Red;font-size:medium">
    @ViewBag.NoValidoPor
</div>

@*<script>
    var urlXLS = '@Url.Action("GeneraReporteOficioSalidaExportarBusqueda", "OficioSalida", null, Request.Url.Scheme)';
    var urlPDF = '@Url.Action("GeneratePdfOficioSalida", "OficioSalida", null, Request.Url.Scheme)';
</script>*@

@using (Html.BeginForm("BuscaOficioSalida", "OficioSalida", FormMethod.Post))
{
    <article>
        <h1>Buscar Oficios de Salida</h1>
    </article>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <div class="row col-12">
                    @{
                        var tabs = new object[] {
                                            new { id = "generales", text = "Datos", icon = "fas fa-file-invoice" },
                                            new { id = "alertas", text = "Resumen", icon = "fas fa-clipboard-list" }
                                        };
                    }
                    @(Html.DevExtreme().Tabs().DataSource(tabs).ScrollByContent(true).ShowNavButtons(true).SelectedIndex(0).OnItemClick("tabs_itemClick"))
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    <div class="col-11">
                        @if (Model.ResultadoListaOficioSalidaSP.Count() > 0 || Model.ResultadoListaOficioSalidaResumenSP.Count > 0)
                        {
                            <div style="margin-right:10px; float:right;">
                                @(Html.DevExtreme().Button().Icon("fa fa-file-excel").ID("exportToExcel").UseSubmitBehavior(false).Type(ButtonType.Success).OnClick(@"function(args){ExportarPDF(urlXLS)}"))
                                @(Html.DevExtreme().Tooltip().Target("#exportToExcel").ShowEvent("mouseenter").HideEvent("mouseleave").ContentTemplate("Exportar a Excel"))
                            </div>
                            <div style="margin-right:10px; float:right;">
                                @(Html.DevExtreme().Button().Icon("fa fa-file-pdf").ID("exportToPDF").UseSubmitBehavior(false).Type(ButtonType.Danger).OnClick(@"function(args){ExportarPDF(urlPDF)}"))
                                @(Html.DevExtreme().Tooltip().Target("#exportToPDF").ShowEvent("mouseenter").HideEvent("mouseleave").ContentTemplate("Exportar a PDF"))
                            </div>
                        }
                        @(Html.DevExtreme().Button().Icon("fas fa-search").ID("btnConsultarOfSalida").Type(ButtonType.Default).StylingMode(ButtonStylingMode.Contained).UseSubmitBehavior(true))
                        @(Html.DevExtreme().Tooltip().Target("#btnConsultarOfSalida").ShowEvent("mouseenter").HideEvent("mouseleave").ContentTemplate("Consultar Información"))

                    </div>
                </div>
                <div class="row col-12 generales oculto activo">
                    <div class="form" style="width:100%">
                        <div class="dx-fieldset">
                            <div class="dx-field row">
                                <div class="dx-field-value col-6">
                                    @(Html.DevExtreme().DateBoxFor(model => model.FechaInicio).ID("FechaInicio").ShowClearButton(true).Placeholder("Fecha inicial"))
                                    @Html.DevExtreme().Tooltip().Target("#FechaInicio").ShowEvent("mouseenter").HideEvent("mouseleave").ContentTemplate(@<text><b>Fecha Inicial</b></text>)
                                </div>
                                <div class="dx-field-value col-6">
                                    @(Html.DevExtreme().DateBoxFor(model => model.FechaFin).ID("FechaFin").ShowClearButton(true).Placeholder("Fecha final"))
                                    @Html.DevExtreme().Tooltip().Target("#FechaFin").ShowEvent("mouseenter").HideEvent("mouseleave").ContentTemplate(@<text><b>Fecha Final</b></text>)
                                </div>
                            </div>
                            <div class="dx-field row">
                                <div class="dx-field-value col-6">
                                    @(Html.DevExtreme().TextBoxFor(model => model.NoOficio).ID("NoOficio").ShowClearButton(true).Placeholder("Nuevo Oficio de Entrada"))
                                    @*@Html.DevExtreme().Tooltip().Target("#NoOficio").ShowEvent("mouseenter").HideEvent("mouseleave").ContentTemplate(@<text>Escribir en este campo el <b>Número de Oficio</b></text>)*@
                                </div>
                                <div class="dx-field-value col-6">
                                    @(Html.DevExtreme().SelectBoxFor(model => model.Tipo).ID("Tipo").ShowClearButton(true).Placeholder("-- Seleccione un Tipo --").DisplayExpr("Resultado").ValueExpr("Resultado").DataSource(ViewBag.Tipo))
                                    @*@Html.DevExtreme().Tooltip().Target("#Tipo").ShowEvent("mouseenter").HideEvent("mouseleave").ContentTemplate(@<text>Seleccionar en este campo un <b>Tipo</b></text>)*@
                                </div>
                            </div>
                            <div class="dx-field row">
                                <div class="dx-field-value col-6">
                                    @(Html.DevExtreme().TextBoxFor(model => model.DirigidoA).ID("DirigidoA").ShowClearButton(true).Placeholder("Dirigido a"))
                                    @*@Html.DevExtreme().Tooltip().Target("#DirigidoA").ShowEvent("mouseenter").HideEvent("mouseleave").ContentTemplate(@<text>Escribir en este campo <b>a quien va Dirigido</b> el oficio</text>)*@
                                </div>
                                <div class="dx-field-value col-6">
                                    @(Html.DevExtreme().TextBoxFor(model => model.Contestacion).ID("Contestacion").ShowClearButton(true).Placeholder("Contestación"))
                                    @*@Html.DevExtreme().Tooltip().Target("#Contestacion").ShowEvent("mouseenter").HideEvent("mouseleave").ContentTemplate(@<text>Escribir en este campo la <b>Contestación</b></text>)*@
                                </div>
                            </div>
                            <div class="dx-field row">
                                <div class="dx-field-value col-6">
                                    @(Html.DevExtreme().TextBoxFor(model => model.Minutario).ID("Minutario").ShowClearButton(true).Placeholder("Minutario"))
                                    @*@Html.DevExtreme().Tooltip().Target("#Minutario").ShowEvent("mouseenter").HideEvent("mouseleave").ContentTemplate(@<text>Escribir en este campo el <b>Minutario</b></text>)*@
                                </div>
                                <div class="dx-field-value col-6">
                                    @(Html.DevExtreme().SelectBoxFor(model => model.Estatus).ID("Estatus").ShowClearButton(true).Placeholder("-- Seleccione un Estatus --").DisplayExpr("Resultado").ValueExpr("Resultado").DataSource(ViewBag.estatussalida))
                                    @*@Html.DevExtreme().Tooltip().Target("#Estatus").ShowEvent("mouseenter").HideEvent("mouseleave").ContentTemplate(@<text>Seleccionar en este campo un <b>Estatus</b></text>)*@
                                </div>
                            </div>
                            <div class="dx-field row">
                                <div class="dx-field-value col-6">
                                    @(Html.DevExtreme().TextBoxFor(model => model.EnviadoPor).ID("EnviadoPor").ShowClearButton(true).Placeholder("Enviado por"))
                                    @*@Html.DevExtreme().Tooltip().Target("#EnviadoPor").ShowEvent("mouseenter").HideEvent("mouseleave").ContentTemplate(@<text>Escribir en este campo <b>quien Envió</b> el oficio</text>)*@
                                </div>
                                <div class="dx-field-value col-6">
                                    @(Html.DevExtreme().TextBoxFor(model => model.Barco).ID("Barco").ShowClearButton(true).Placeholder("Barco"))
                                    @*@Html.DevExtreme().Tooltip().Target("#Barco").ShowEvent("mouseenter").HideEvent("mouseleave").ContentTemplate(@<text>Seleccionar en este campo el <b>Barco</b></text>)*@
                                </div>
                            </div>
                            <div class="dx-field row">
                                <div class="dx-field-label col-3">¿Mostrar Barcos?</div>
                                <div class="dx-field-value col-1">
                                    @Html.DevExtreme().SwitchFor(m => m.NoMostrarBarcos).SwitchedOffText("No").SwitchedOnText("Si")
                                </div>
                                <div class="col-8"></div>
                            </div>
                        </div>
                    </div>
                    @if (Model.ResultadoListaOficioSalidaSP.Count > 0)
                    {
                        <div>
                            @(Html.DevExtreme().DataGrid<MASCore.ModelReference.BuscaOficioSalida_Result>().DataSource(Model.ResultadoListaOficioSalidaSP)
                                                .ColumnHidingEnabled(true).ShowColumnLines(true).ShowRowLines(true).RowAlternationEnabled(true).ShowBorders(true)
                                                .Pager(p => p.AllowedPageSizes(new int[] { 5, 8, 15, 30 }).ShowInfo(true).ShowNavigationButtons(true).ShowPageSizeSelector(true).Visible(true))
                                                .Paging(p => p.PageSize(5)).ShowColumnHeaders(true).WordWrapEnabled(true)
                                                .Columns(columns =>
                                                {
                                                    columns.AddFor(m => m.IdSalida).Caption("Id Salida");
                                                    columns.AddFor(m => m.NoOficio).Caption("No Oficio");
                                                    columns.AddFor(m => m.Fecha).Caption("Fecha").Format(Format.ShortDate);
                                                    columns.AddFor(m => m.TipoSalida).Caption("Tipo Salida");
                                                    columns.AddFor(m => m.Asunto).Caption("Asunto");
                                                    columns.AddFor(m => m.Barco).Caption("Barco");
                                                    columns.AddFor(m => m.RazonSocial).Caption("Razón Social");
                                                    columns.AddFor(m => m.Dirigido).Caption("Dirigido");
                                                    columns.AddFor(m => m.Envia).Caption("Envia");
                                                    columns.AddFor(m => m.Minutario).Caption("Minutario");
                                                    columns.AddFor(m => m.Estatus).Caption("Estatus");
                                                    columns.AddFor(m => m.IdSalida).Caption("Acción").CellTemplate(@<text><a title="Seleccionar" href='Details/<%= value %>'><i class="dx-icon far fa-folder tamanoIconoEnGrid"></i></a></text>);
                                        }))
                        </div>
                    }
                </div>
                <div class="row col-12 alertas oculto">
                    <div class="form" style="width:100%">
                        <div class="dx-fieldset">
                            <div class="dx-field row">
                                <div class="dx-field-label col-2">@Html.DisplayNameFor(model => model.TipoSalidaSel)</div>
                                <div class="dx-field-value col-2">
                                    @Html.DevExtreme().SwitchFor(m => m.TipoSalidaSel).SwitchedOffText("No").SwitchedOnText("Si")
                                </div>
                                <div class="dx-field-label col-2">@Html.DisplayNameFor(model => model.RazonSocialSel)</div>
                                <div class="dx-field-value col-2">
                                    @Html.DevExtreme().SwitchFor(m => m.RazonSocialSel).SwitchedOffText("No").SwitchedOnText("Si")
                                </div>
                                <div class="dx-field-label col-2">@Html.DisplayNameFor(model => model.BarcoSel)</div>
                                <div class="dx-field-value col-2">
                                    @Html.DevExtreme().SwitchFor(m => m.BarcoSel).SwitchedOffText("No").SwitchedOnText("Si")
                                </div>
                            </div>
                            <div class="dx-field row">
                                <div class="dx-field-label col-2">@Html.DisplayNameFor(model => model.MinutarioSel)</div>
                                <div class="dx-field-value col-2">
                                    @Html.DevExtreme().SwitchFor(m => m.MinutarioSel).SwitchedOffText("No").SwitchedOnText("Si")
                                </div>
                                <div class="dx-field-label col-2">@Html.DisplayNameFor(model => model.EstatusSel)</div>
                                <div class="dx-field-value col-2">
                                    @Html.DevExtreme().SwitchFor(m => m.EstatusSel).SwitchedOffText("No").SwitchedOnText("Si")
                                </div>
                                <div class="dx-field-label col-2">@Html.DisplayNameFor(model => model.MesSel)</div>
                                <div class="dx-field-value col-2">
                                    @Html.DevExtreme().SwitchFor(m => m.MesSel).SwitchedOffText("No").SwitchedOnText("Si")
                                </div>
                            </div>
                        </div>
                    </div>
                    @if (Model.ResultadoListaOficioSalidaResumenSP.Count > 0)
                    {
                        <div>
                            @{
                                var columnas = "";
                                //ViewBag.Columns as List<WebGridColumn>;
                            }
                            @(Html.DevExtreme().DataGrid<MASCore.Models.OficioSalidaResumen>().DataSource(Model.ResultadoListaOficioSalidaResumenSP)
                                                .ColumnHidingEnabled(true).ShowColumnLines(true).ShowRowLines(true).RowAlternationEnabled(true).ShowBorders(true)
                                                .Pager(p => p.AllowedPageSizes(new int[] { 5, 8, 15, 30 }).ShowInfo(true).ShowNavigationButtons(true).ShowPageSizeSelector(true).Visible(true))
                                                .Paging(p => p.PageSize(5)).ShowColumnHeaders(true).WordWrapEnabled(true)
                                                .Columns(columns =>
                                                {
                                                    //columnas.ForEach(e =>
                                                    //{
                                                    //    columns.Add().DataField(e.ColumnName).Caption(e.Header);
                                                    //});
                                                }))
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    @Html.ActionLink("Regresar a Opciones de Oficios De Salida", "Index")
}
