﻿@model MASCore.Models.OficioSalidaModel

@{
    ViewBag.Title = "Nuevo Oficio De Salida";
}

<style>
    .form-group {
        margin-left: 1rem;
    }

    input {
        padding-left: 10px;
    }
</style>

@*<div id="titulo">
    <h3 style="color:#0F2C48;text-align:center"><u>-  Módulo Nuevo Oficio De Salida  -</u></h3>
</div>*@
<div style="text-align:center; color:Red;font-size:medium">
    @ViewBag.NoValidoPor
</div>


@using (Html.BeginForm())
{
    <article id="divGuardar">
        <div class="row">
            <div class="col-5">
                <h1>Nuevo Oficio de Salida</h1>
            </div>
            <div class="col-7">
                <script>
                @*var urlComback = '@Url.Action("BuscaOficioSalida", "OficioSalida", null, Request.Url.Scheme)';*@
                </script>
                <div class="row">
                    <div class="col-10"></div>
                    <div class="col-1" style="padding:0">
                        @(Html.DevExtreme().Button().Icon("fas fa-save").ElementAttr("name", "Guardar").ID("Guardar").UseSubmitBehavior(true).Type(ButtonType.Default).OnContentReady("OnContentReady"))
                        @(Html.DevExtreme().Tooltip().Target("#editarDetalle").ShowEvent("mouseenter").HideEvent("mouseleave").ContentTemplate("Guardar"))
                    </div>
                    <div class="col-1" style="padding:0">
                        @(Html.DevExtreme().Button().Icon("fas fa-undo-alt").ID("regresar").UseSubmitBehavior(false).Type(ButtonType.Default).OnClick(@"function(args){comback(urlComback)}"))
                        @(Html.DevExtreme().Tooltip().Target("#regresar").ShowEvent("mouseenter").HideEvent("mouseleave").ContentTemplate("Regresar a la página anterior"))
                    </div>
                </div>

            </div>
        </div>
    </article>

    @Html.ValidationSummary(true)

    <div style="display:none">
        @Html.HiddenFor(model => model.IdSalida)
        @Html.DisplayFor(model => model.IdSalida)
        <br />ID TEMPORAL EMBARCACIONES :<input type="text" id="IdSalidaEmbarcacionTmp" name="IdSalidaEmbarcacionTmp" value="@Model.IdSalidaEmbarcacionTmp" />
        <br />ID TEMPORAL LLAMADAS/ OFICIOS :<input type="text" id="IdSalidaOficiosLlamadasTmp" name="IdSalidaOficiosLlamadasTmp" value="@Model.IdSalidaOficiosLlamadasTmp" />
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
        <div class="x_panel">
            <div class="x_content">
                <div id="div-buscainformacionembarcacion" style="display:none;padding-left:-100px">
                    <div class="form-group row">
                        <h4 style="color:#DF9448">Busca Informacion de Embarcación</h4>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-4">
                            @(Html.DevExtreme().SelectBox().ID("opcionesbusqueda").Name("opcionesbusqueda").ShowClearButton(true).Placeholder("Opciones de Búsqueda").DisplayExpr("Resultado").ValueExpr("Resultado").DataSource(ViewBag.opcionesbusqueda))
                        </div>
                        <div class="col-sm-8">
                            <div class="row">
                                <div class="col-sm-8">
                                    @(Html.DevExtreme().TextBox().ID("txtvalor").Name("txtvalor").ShowClearButton(true).Placeholder("Ingrese un Valor"))
                                </div>
                                <div class="col-sm-4">
                                    <button type="submit" name="submitButton" class="btn-default form-control mas-btn" id="BtnConsulta" style=" height:35px" data-toggle="tooltip" data-placement="top" title="Buscar Información" value="Buscar Información">
                                        <i class="fas fa-search" style=""></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                 
                </div>

                <div id="embarcaciones" style="border:2px solid; border-color:white;">

                    <div class="div-comentarios">
                        <h4 style="color:#DF9448">Embarcaciones Relacionadas</h4>
                        <div style="text-align:center; color:Red; background-color:White">
                            @Html.Label(Model.ErroresAgregarEmbarcacion)
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6">
                                @(Html.DevExtreme().TextBoxFor(model => model.embarcacion_barco).ID("embarcacion_barco").ShowClearButton(true).Placeholder("Ingrese un Barco"))
                                @*@Html.EditorFor(model => model.embarcacion_barco, new { id = "embarcacion_barco", @class = "form-control",
                        htmlAttributes = new { placeholder = "Ingrese un Barco", style = "width:100%" } })*@
                            </div>
                            <div class="col-sm-6">
                                @(Html.DevExtreme().TextBoxFor(model => model.embarcacion_rnp).ID("embarcacion_rnp").ShowClearButton(true).Placeholder("Ingrese el RNP"))
                                @*@Html.EditorFor(model => model.embarcacion_rnp, new { id = "rnp", @class = "form-control",
                        htmlAttributes = new { placeholder = "Ingrese el RNP", style = "width:100%" } })*@
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6">
                                @(Html.DevExtreme().TextBoxFor(model => model.embarcacion_razonsocial).ID("embarcacion_razonsocial").ShowClearButton(true).Placeholder("Ingrese la Razón Social"))
                                @*@Html.EditorFor(model => model.embarcacion_razonsocial, new { id = "razonsocial", @class = "form-control",
                        htmlAttributes = new { placeholder = "Ingrese la Razón Social", style = "width:100%" } })*@
                            </div>
                            <div class="col-sm-6">
                                @(Html.DevExtreme().TextBoxFor(model => model.embarcacion_matricula).ID("embarcacion_matricula").ShowClearButton(true).Placeholder("Ingrese la Matrícula"))
                                @*@Html.EditorFor(model => model.embarcacion_matricula, new { id = "matricula", @class = "form-control",
                        htmlAttributes = new { placeholder = "Ingrese la Matrícula", style = "width:100%" } })*@
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6">
                                @(Html.DevExtreme().TextBoxFor(model => model.embarcacion_replegal).ID("embarcacion_replegal").ShowClearButton(true).Placeholder("Ingrese el Representante Legal"))
                                @*@Html.EditorFor(model => model.embarcacion_replegal, new { id = "replegal", @class = "form-control",
                        htmlAttributes = new { placeholder = "Ingrese el Representante Legal", style = "width:100%" } })*@
                            </div>
                            <div class="col-sm-6">
                                <button type="submit" class="btn-danger form-control mas-btn" name="submitButton" onclick="return confirmaEliminar()" id="BtnEliminar" value="Borrar" style=" margin-right:10px; float:right;" data-toggle="tooltip" data-placement="top" title="Eliminar">
                                    <i class="fas fa-trash" style=""></i>
                                </button>
                                <button type="submit" class="btn-default form-control mas-btn" name="submitButton" id="BtnAgregar" value="Agregar" style=" margin-right:10px; float:right;" data-toggle="tooltip" data-placement="top" title="Agregar">
                                    <i class="fas fa-plus-circle" style=""></i>
                                </button>
                                <button type="submit" class="btn-default form-control mas-btn" name="submitButton" id="BtnConsulta" value="Módulo Buscar" style=" margin-right:10px; float:right;" data-toggle="tooltip" data-placement="top" title="Módulo Buscar">
                                    <i class="fas fa-search" style=""></i>
                                </button>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6">
                                @*@Html.TextAreaFor(model => model.Copias, new { @id = "copia", @class = "form-control", @placeholder = "Copias", @style = "width:100%;font-size:small" })*@
                                @(Html.DevExtreme().TextBoxFor(model => model.Copias).ID("Copias").ShowClearButton(true).Placeholder("Copias"))
                            </div>
                            <div class="col-sm-6">
                                @*@Html.TextAreaFor(model => model.Comentarios, 5, 55, new { @id = "comentarios", @class = "form-control", @placeholder = "Comentarios", @style = "width:100%;font-size:small" })*@
                                @(Html.DevExtreme().TextBoxFor(model => model.Comentarios).ID("Comentarios").ShowClearButton(true).Placeholder("Comentarios"))
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-12">
                                <div id="divEmbarcacionesSeleccionadas">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="datosgenerales" style="border:2px solid; border-color:white;">
                    <div class="div-generales">

                        <div class="form-group row">
                            <h4 style="color:#DF9448">Datos Generales </h4>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6">
                                @*@Html.EditorFor(model => model.NoOficio, new { id = "NoOficio", @class = "form-control", htmlAttributes = new { placeholder = "Ingrese un Número de Oficio", style = "width:100%" } })*@
                                @(Html.DevExtreme().TextBoxFor(model => model.NoOficio).ID("NoOficio").ShowClearButton(true).Placeholder("Ingrese un Número de Oficio"))
                                @Html.ValidationMessageFor(model => model.NoOficio, "*")
                            </div>
                            <div class="col-sm-6">
                                @*@Html.EditorFor(model => model.Fecha, new { id = "Fecha", @class = "form-control", htmlAttributes = new { placeholder = "Ingrese una Fecha", style = "width:100%; heigth:40px;" } })*@
                                @(Html.DevExtreme().DateBoxFor(model => model.Fecha).ID("Fecha").ShowClearButton(true).Placeholder("Ingrese una Fecha").MaxLength(10).Width("100%"))
                                @Html.ValidationMessageFor(model => model.Fecha, "*")
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6">
                                @(Html.DevExtreme().SelectBoxFor(model => model.Estatus).Placeholder("-- Seleccione un Estatus --").ShowClearButton(true).DisplayExpr("Resultado").ValueExpr("Resultado").DataSource(ViewBag.estatus))
                            </div>
                            <div class="col-sm-6">
                                @(Html.DevExtreme().SelectBoxFor(model => model.TipoSalida).ShowClearButton(true).Placeholder("-- Seleccione un Tipo --").DisplayExpr("Resultado").ValueExpr("Resultado").DataSource(ViewBag.tiposalida))
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6">
                                @*@Html.TextBoxFor(model => model.Asunto, new { @id = "Asunto", @class = "form-control", @placeholder = "Ingrese un Asunto", @style = "width:100%;font-size:small" })*@
                                @(Html.DevExtreme().TextBoxFor(model => model.Asunto).ID("Asunto").ShowClearButton(true).Placeholder("Ingrese un Asunto"))
                                @Html.ValidationMessageFor(model => model.Asunto, "*")
                            </div>
                            <div class="col-sm-6">
                                @*@Html.TextBoxFor(model => model.Minutario, new { @id = "Minutario", @class = "form-control", @placeholder = "Ingrese un Minutario", @style = "width:100%;font-size:small" })*@
                                @(Html.DevExtreme().TextBoxFor(model => model.Minutario).ID("Minutario").ShowClearButton(true).Placeholder("Ingrese un Minutario"))
                                @Html.ValidationMessageFor(model => model.Minutario, "*")
                            </div>
                        </div>
                        <div class="form-group row">
                            <h5 style="text-align:center"><b>- Quien envia el oficio -</b></h5>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6">
                                @*@Html.EditorFor(model => model.Envia, new { id = "Envia", @class = "form-control", htmlAttributes = new { placeholder = "Ingrese el Nombre", style = "width:100%" } })*@
                                @(Html.DevExtreme().TextBoxFor(model => model.Envia).ID("Envia").ShowClearButton(true).Placeholder("Ingrese el Nombre"))
                                @Html.ValidationMessageFor(model => model.Envia, "*")
                            </div>
                            <div class="col-sm-6">
                                @*@Html.EditorFor(model => model.eEmpresa, new { id = "eEmpresa", @class = "form-control", htmlAttributes = new { placeholder = "Ingrese la Empresa", style = "width:100%" } })*@
                                @(Html.DevExtreme().TextBoxFor(model => model.eEmpresa).ID("eEmpresa").ShowClearButton(true).Placeholder("Ingrese la Empresa"))
                                @Html.ValidationMessageFor(model => model.eEmpresa, "*")
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6">
                                @*@Html.TextBoxFor(model => model.eCargo, new { @id = "eCargo", @class = "form-control", @placeholder = "Ingrese un Puesto", @style = "width:100%;font-size:small" })*@
                                @(Html.DevExtreme().TextBoxFor(model => model.eCargo).ID("eCargo").ShowClearButton(true).Placeholder("Ingrese un Puesto"))
                                @Html.ValidationMessageFor(model => model.eCargo, "*")
                            </div>
                            <div class="col-sm-6"></div>
                        </div>
                        <div class="form-group row">
                            <h5 align="center"><b> - A quien va dirigido el oficio -</b></h5>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6">
                                @*@Html.EditorFor(model => model.Dirigido, new { id = "Dirigido", @class = "form-control", htmlAttributes = new { placeholder = "Ingrese el Nombre", style = "width:100%" } })*@
                                @(Html.DevExtreme().TextBoxFor(model => model.Dirigido).ID("Dirigido").ShowClearButton(true).Placeholder("Ingrese el Nombre"))
                                @Html.ValidationMessageFor(model => model.Dirigido, "*")
                            </div>
                            <div class="col-sm-6">
                                @*@Html.EditorFor(model => model.dEmpresa, new { id = "dEmpresa", @class = "form-control", htmlAttributes = new { placeholder = "Ingrese la Empresa", style = "width:100%" } })*@
                                @(Html.DevExtreme().TextBoxFor(model => model.dEmpresa).ID("dEmpresa").ShowClearButton(true).Placeholder("Ingrese la Empresa"))
                                @Html.ValidationMessageFor(model => model.dEmpresa, "*")
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6">
                                @*@Html.TextBoxFor(model => model.dCargo, new { @id = "dCargo", @class = "form-control", @placeholder = "Ingrese un Puesto", @style = "width:100%;font-size:small" })*@
                                @(Html.DevExtreme().TextBoxFor(model => model.dCargo).ID("dCargo").ShowClearButton(true).Placeholder("Ingrese un Puesto"))
                                @Html.ValidationMessageFor(model => model.dCargo, "*")
                            </div>
                            <div class="col-sm-6"></div>
                        </div>
                        <div class="form-group row">
                            <h4 style="color:#DF9448">Relaciones Oficios y Llamadas </h4>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <h4 style="color:#DF9448">Relacionar Oficios: </h4>
                                @(Html.DevExtreme().List().ID("oficios").DataSource(ViewBag.oficios))
                                @*@Html.DevExtreme().Tooltip().Target("#oficios").ShowEvent("mouseenter").HideEvent("mouseleave").ContentTemplate(@<text>Seleccionar en este campo un <b>Oficio</b></text>)*@

                            </div>
                            <div class="col-sm-6">
                                <h4 style="color:#DF9448">Relacionar Llamadas: </h4>
                                @(Html.DevExtreme().List().ID("llamadas").DataSource(ViewBag.llamadas))
                                @*@Html.DevExtreme().Tooltip().Target("#llamadas").ShowEvent("mouseenter").HideEvent("mouseleave").ContentTemplate(@<text>Seleccionar en este campo una <b>Llamada</b></text>)*@
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <div class="col-lg-4 col-xs-4">
                                    <button type="submit" class="btn-default form-control mas-btn" id="BtnAgregar" value="Buscar Oficio" name="submitButton" style=" margin-left:-15px;" data-toggle="tooltip" data-placement="top" title="Buscar Oficio">
                                        <i class="fas fa-search" style=""></i>
                                    </button>
                                </div>
                                <div class="col-lg-4 col-xs-4">
                                    <button type="submit" class="btn-danger form-control mas-btn" id="BtnEliminar" value="Borrar Oficio" name="submitButton" style="" data-toggle="tooltip" data-placement="top" title="Borrar Oficios">
                                        <i class="fas fa-trash" style=""></i>
                                    </button>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="col-lg-4 col-xs-4">
                                    <button type="submit" class="btn-default form-control mas-btn" id="BtnAgregar" name="submitButton" value="Buscar Llamada" style=" margin-left:-15px;" data-toggle="tooltip" data-placement="top" title="Buscar Llamadas">
                                        <i class="fas fa-search" style=""></i>
                                    </button>
                                </div>
                                <div class="col-lg-4 col-xs-4">
                                    <button type="submit" class="btn-danger form-control mas-btn" id="BtnEliminar" name="submitButton" value="Borrar Llamadas" style="" data-toggle="tooltip" data-placement="top" title="Borrar Llamadas">
                                        <i class="fas fa-trash" style=""></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="dx-field-label col-3">@Html.DisplayNameFor(model => model.ofp2)</div>
                            <div class="dx-field-value col-9">
                                @(Html.DevExtreme().SelectBoxFor(model => model.ofp2).ID("ofp2").Name("ofp2").ShowClearButton(true).Placeholder("-- Seleccione  OFP--").DisplayExpr("Resultado").ValueExpr("Resultado").DataSource(ViewBag.ofp2))
                            </div>
                        </div>
                    </div>


                </div>

                <div id="busquedaoficios" style="display:none">

                    <div><h4 style="color:#DF9448">Busca Oficios</h4></div>
                    <div class="form-group row">
                        <div class="col-sm-4">
                            <span>Recibido DGIV:</span>
                            @Html.DevExtreme().SwitchFor(m => m.ModeloOficiosDeEntrada.FechaDGIV).SwitchedOffText("No").SwitchedOnText("Si").Value(true).Name("ModeloOficiosDeEntrada.FechaDGIV").OnValueChanged("viewDGIV").ElementAttr("class", "lbl200")
                        </div>
                        <div class="col-sm-4">
                            <div class="row">
                                <div class="col-sm-2 fechasDGIV"> Del</div>
                                <div class="col-sm-10 fechas-ocultas" id="InicioDGIV">
                                    @(Html.DevExtreme().DateBoxFor(model => model.ModeloOficiosDeEntrada.FechaInicioDGIV).ElementAttr("class", "fechasDGIV").ID("FechaInicioDGIV").ShowClearButton(true).Placeholder("Fecha inicial").MaxLength(10))
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="row">
                                <div class="col-sm-2 fechasDGIV">Al</div>
                                <div class="col-sm-10">
                                    @(Html.DevExtreme().DateBoxFor(model => model.ModeloOficiosDeEntrada.FechaFinDGIV).ElementAttr("class", "fechasDGIV").ID("FechaFinDGIV").ShowClearButton(true).Placeholder("Fecha final").MaxLength(10))
                                </div>
                            </div>
                        </div>
                        @*<div class="col-sm-3">

                </div>*@
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-4">
                            <span>Recibido Monitoreo:</span>
                            @Html.DevExtreme().SwitchFor(m => m.ModeloOficiosDeEntrada.FechaMon).SwitchedOffText("No").SwitchedOnText("Si").Value(false).Name("ModeloOficiosDeEntrada.FechaMon").OnValueChanged("viewMon")
                        </div>
                        <div class="col-sm-4">
                            <div class="row">
                                <div class="col-sm-2 fechasMON"> Del</div>
                                <div class="col-sm-10 fechas-ocultas" id="InicioDGIV">
                                    @(Html.DevExtreme().DateBoxFor(model => model.ModeloOficiosDeEntrada.FechaInicioMon).ElementAttr("class", "fechasMON").ID("FechaInicioMON").ShowClearButton(true).Placeholder("Fecha inicial").MaxLength(10))
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="row">
                                <div class="col-sm-2 fechasMON">Al</div>
                                <div class="col-sm-10">
                                    @(Html.DevExtreme().DateBoxFor(model => model.ModeloOficiosDeEntrada.FechaFinMon).ElementAttr("class", "fechasMON").ID("FechaFinMON").ShowClearButton(true).Placeholder("Fecha final").MaxLength(10))
                                </div>
                            </div>
                        </div>
                        @*<div class="col-sm-3">

                </div>*@
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-4">
                            @(Html.DevExtreme().TextBoxFor(model => model.ModeloOficiosDeEntrada.Volante).ID("Volante").ShowClearButton(true).Placeholder("Volante"))
                        </div>
                        <div class="col-sm-4">
                            @(Html.DevExtreme().SelectBox().ID("estatus2").ShowClearButton(true).Placeholder("-- Seleccione un Estatus --").DisplayExpr("Resultado").ValueExpr("Resultado").DataSource(ViewBag.estatus))
                        </div>
                        <div class="col-sm-4">
                            @(Html.DevExtreme().SelectBox().ID("tipooficio").ShowClearButton(true).Placeholder("-- Seleccione un tipo oficio --").DisplayExpr("Resultado").ValueExpr("Resultado").DataSource(ViewBag.tipooficio))
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-4">
                            @(Html.DevExtreme().TextBoxFor(model => model.ModeloOficiosDeEntrada.NoOficio).ID("NoOficio2").ShowClearButton(true).Placeholder("NoOficio"))
                        </div>
                        <div class="col-sm-4">
                            @(Html.DevExtreme().TextBoxFor(model => model.ModeloOficiosDeEntrada.Asunto).ID("Asunto2").ShowClearButton(true).Placeholder("Asunto"))
                        </div>
                        <div class="col-sm-4">
                            @(Html.DevExtreme().TextBoxFor(model => model.ModeloOficiosDeEntrada.Barco).ID("Barco").ShowClearButton(true).Placeholder("Barco"))
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-4">
                            @(Html.DevExtreme().TextBoxFor(model => model.ModeloOficiosDeEntrada.Minutario).ID("Minutario2").ShowClearButton(true).Placeholder("Minutario"))
                        </div>
                        <div class="col-sm-4">
                            @(Html.DevExtreme().TextBoxFor(model => model.ModeloOficiosDeEntrada.Origen).ID("Origen").ShowClearButton(true).Placeholder("Origen"))
                        </div>
                        <div class="col-sm-4">
                            @(Html.DevExtreme().TextBoxFor(model => model.ModeloOficiosDeEntrada.Turno).ID("Turno").ShowClearButton(true).Placeholder("Turno"))
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-4">
                            Total:  @Html.HiddenFor(model => model.ModeloOficiosDeEntrada.Total)  @Html.Label(Model.ModeloOficiosDeEntrada.Total.ToString())
                        </div>
                        <div class="col-sm-4">
                            Concluidos: @Html.HiddenFor(model => model.ModeloOficiosDeEntrada.Concluidos) @Html.Label(Model.ModeloOficiosDeEntrada.Concluidos.ToString())
                        </div>
                        <div class="col-sm-4">
                            Pendientes: @Html.HiddenFor(model => model.ModeloOficiosDeEntrada.Pendientes) @Html.Label(Model.ModeloOficiosDeEntrada.Pendientes.ToString())
                        </div>
                        <div class="col-sm-4">
                            <button type="submit" class="btn-default form-control mas-btn" id="BntBuscar" name="submitButton" value="Buscar Oficios" style="" data-toggle="tooltip" data-placement="top" title="Buscar Oficios">
                                <i class="fas fa-search" style=""></i>
                            </button>
                        </div>
                    </div>

                    <br />
                    <br />

                    

                    <div style="display:none">
                        <div> <input id="Of_IdOficio" name="Of_IdOficio" type="text" value="377"></div>
                        <div> <input id="Of_NoOficio" name="Of_NoOficio" type="text" value="AAA1"></div>
                        <div> <input id="Of_Tipo" name="Of_Tipo" type="text" value="0"></div>
                        <input type="submit" name="submitButton" value="Seleccionar Oficios" class="btn-oficios">
                    </div>

                </div>

                <div id="div-llamadas" style="display:none; ">
                    <div class="div-extra">
                        <div class="form-group row">
                            <h4 style="color:#DF9448">Criterios de consulta</h4>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-4" data-toggle="tooltip" data-placement="top" title="Fecha Inicial">
                                @(Html.DevExtreme().DateBoxFor(model => model.ModeloDeLLamada.FechaInicial).ID("FechaInicial").Placeholder("Fecha inicial").MaxLength(10))
                            </div>
                            <div class="col-sm-4" data-toggle="tooltip" data-placement="top" title="Fecha Final">
                                @(Html.DevExtreme().DateBoxFor(model => model.ModeloDeLLamada.FechaFinal).ID("FechaFinal").ShowClearButton(true).Placeholder("Fecha final").MaxLength(10))
                            </div>
                            <div class="col-sm-4">
                                @(Html.DevExtreme().SelectBox().ID("actividad").ShowClearButton(true).Placeholder("-- Seleccione una Actividad --").DisplayExpr("Resultado").ValueExpr("Resultado").DataSource(ViewBag.actividad))
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-4">
                                @(Html.DevExtreme().SelectBox().ID("ofp").ShowClearButton(true).Placeholder("-- Seleccione un OFP --").DisplayExpr("Resultado").ValueExpr("Resultado").DataSource(ViewBag.ofp))
                            </div>
                            <div class="col-sm-4">
                                @(Html.DevExtreme().TextBoxFor(model => model.embarcacion_barco).ID("embarcacion").ShowClearButton(true).Placeholder("Embarcacion"))
                            </div>
                            <div class="col-sm-4">
                                @(Html.DevExtreme().SelectBoxFor(model => model.Estatus).ID("filtro").DisplayExpr("Resultado").ValueExpr("Resultado").DataSource(ViewBag.filtro).Value("LLAMADAS"))
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-4" style="margin-left:15px;">
                                <button type="submit" class="btn-default form-control mas-btn" id="BtnAgregar" name="submitButton" value="Buscar Llamada" style=" margin-left:-15px;" data-toggle="tooltip" data-placement="top" title="Buscar Llamada">
                                    <i class="fas fa-search" style=""></i>
                                </button>
                            </div>
                            <div class="col-sm-4"></div>
                            <div class="col-sm-4"></div>
                        </div>

                       

                    </div>
                </div>
            </div>
        </div>
    </div>

    @*<div id="botonguardar">
        <button type="submit" class="btn-primary form-control" name="submitButton" id="Guardar" value="Guardar" style="width:60px;" data-toggle="tooltip" data-placement="top" title="Guardar">
            <i class="fas fa-save" style="width:32px"></i>
        </button>
        <div>
            @Html.ActionLink("Regresar a Opciones de Oficios De Salida", "Index")
        </div>
    </div>*@

}



<script type="text/javascript">
    function getasunto(Tipo) {
        $.ajax({
            async: false,
            url: '/OficioSalida/RetornaAsunto', 
            dataType: 'json',
            data: { Tipo: Tipo },
            type: "POST",
            cache: false,
            success: function (data) {
                if (data.ok) {
                    //alert(data.mensaje);
                    $('#Asunto').val(data.mensaje);
                }
                else {
                    alert(data.mensaje);
                }
            }
        });
    }
    $(document).ready(function () {
        $("#tiposalida").change(function () {
            var Tipo = $("#tiposalida").val();
            getasunto(Tipo);
            // $('#Asunto').val(Ciu);
        });
    });

    function RegresaValoresLlamadas(idbitacel, rnp) {
        $('#idbitacel').val(idbitacel);
        $('.btn-llamadas').click();
    }

    function AsignaValoresOficios(identrada, nooficio, tipo) {
        $('#Of_IdOficio').val(identrada);
        $('#Of_NoOficio').val(nooficio);
        $('#Of_Tipo').val(tipo);
        $('.btn-oficios').click();
    }

    function Muestra(Div) {
        MiDiv = document.getElementById(Div);
        MiDiv.style.display = 'block';
    }
    function Oculta(Div) {

        MiDiv = document.getElementById(Div);
        MiDiv.style.display = 'none';
    }
    function MuestraBuscaLlamadas() {
        Muestra('div-llamadas');
        Oculta('busquedaoficios');
        Oculta('div-buscainformacionembarcacion');
        Oculta('embarcaciones');
        Oculta('datosgenerales');
        Oculta('botonguardar');
    }
    function MuestraBuscaOficios() {
        Muestra('busquedaoficios');
        Oculta('div-buscainformacionembarcacion');
        Oculta('embarcaciones');
        Oculta('datosgenerales');
        Oculta('botonguardar');
    }
    function MuestraBuscaInformacion() {
        Muestra('div-buscainformacionembarcacion');
        Oculta('embarcaciones');
        Oculta('datosgenerales');
        Oculta('div-llamadas');
        Oculta('botonguardar');
    }
    function OcultaBuscaInformacion() {
        Oculta('div-buscainformacionembarcacion');
        Muestra('embarcaciones');
        Muestra('datosgenerales');
        Muestra('botonguardar');
    }
    function RegresaValoresEmbarcacionOficioSalida(Nombre, RazonSocial, Matricula, RNP, RepLegal) {
        $("#embarcacion_barco").dxTextBox({ value: Nombre });
        $("#embarcacion_razonsocial").dxTextBox({ value: RazonSocial });
        $("#embarcacion_matricula").dxTextBox({ value: Matricula });
        $("#embarcacion_rnp").dxTextBox({ value: RNP });
        $("#embarcacion_replegal").dxTextBox({ value: RepLegal });
        OcultaBuscaInformacion();
    }


    $("#ModeloOficiosDeEntrada_FechaInicioDGIV").datepicker();
    $("#ModeloOficiosDeEntrada_FechaFinDGIV").datepicker();
    $("#ModeloOficiosDeEntrada_FechaInicioMon").datepicker();
    $("#ModeloOficiosDeEntrada_FechaFinMon").datepicker();
    $('#ModeloOficiosDeEntrada_FechaDGIV').on('click', function () {

        //var isChecked = $(this).attr("checked");
        //if (isChecked) {
        //    $("#InicioDGIV").fadeIn();
        //    $("#FinDGIV").fadeIn();
        //}
        //else {
        //    $("#InicioDGIV").fadeOut();
        //    $("#FinDGIV").fadeOut();
        //}
    });
    $('#ModeloOficiosDeEntrada_FechaMon').on('click', function () {

        var isChecked = $(this).attr("checked");
        //if (isChecked) {
        //    $("#InicioMon").fadeIn();
        //    $("#FinMon").fadeIn();
        //}
        //else {
        //    $("#InicioMon").fadeOut();
        //    $("#FinMon").fadeOut();
        //}
    });


    window.onload = function () {
        // Al terminar de cargar la pagina
        //Pone visibles o no las fechas DGIV dependiendo si se eligieron o no
        //var isChecked = $('#ModeloOficiosDeEntrada_FechaDGIV').attr("checked");
        //if (isChecked) {
        //    $("#InicioDGIV").fadeIn();
        //    $("#FinDGIV").fadeIn();
        //}
        //else {
        //    $("#InicioDGIV").fadeOut();
        //    $("#FinDGIV").fadeOut();
        //}
        ////Pone visibles o no las fechas Mon dependiendo si se eligieron o no
        //var isChecked = $('#ModeloOficiosDeEntrada_FechaMon').attr("checked");
        //if (isChecked) {
        //    $("#InicioMon").fadeIn();
        //    $("#MFinMon").fadeIn();
        //}
        //else {
        //    $("#InicioMon").fadeOut();
        //    $("#FinMon").fadeOut();
        //}
        //Obtiene el asunto dependiendo el tipo de salida
        var Tipo = $("#tiposalida").val();
        getasunto(Tipo);
    }


    var AsignaEmbarcacion = function (e) {
        debugger;
        return e.row.data.Position;
    }
    function OnContentReady(e) {
        e.element.find("input").attr({ name: 'submitButton' });
        e.element.find("input").attr({ value: 'Guardar' });
    }
</script>



@{
    if (Model.MostrandoBusquedaInformacionEmbarcacion == true)
    {
        <script type="text/javascript">
            MuestraBuscaInformacion();
        </script>
    }

    if (Model.MostrandoBusquedaOficios == true)
    {
        <script type="text/javascript">
            MuestraBuscaOficios();
        </script>
    }

    if (Model.MostrandoBusquedaLlamadas == true)
    {
        <script type="text/javascript">
            MuestraBuscaLlamadas();
        </script>
    }

}

<script>
    function viewDGIV(data) {
        $(".fechasDGIV").hide()
        if (data.value) {
            $(".fechasDGIV").show()
        }
    }

    function viewMon(data) {
        $(".fechasMON").hide()
        if (data.value) {
            $(".fechasMON").show()
        }
    }

    setTimeout(function () {
        viewMon({ value:@Model.ModeloOficiosDeEntrada.FechaMon.ToString().ToLower()})
        viewDGIV({value:@Model.ModeloOficiosDeEntrada.FechaDGIV.ToString().ToLower()})
    }, 600)


    function SeleccionaEmbarcacionGrid(e) {
        var data = e.row.data;

        $("#IdSalidaEmbarcacionTmp").val(data.IdSalida)
        $("#embarcacion_barco").dxTextBox({ value: data.Barco });
        $("#embarcacion_razonsocial").dxTextBox({ value: data.RazonSocial });
        $("#embarcacion_matricula").dxTextBox({ value: data.Matricula });
        $("#embarcacion_rnp").dxTextBox({ value: data.RNP });
        $("#embarcacion_replegal").dxTextBox({ value: data.RepLegal });
    }


    function confirmaEliminar() {
        //var result = DevExpress.ui.dialog.confirm("¿Desea eliminar la embarcación de la lista?" , "Eliminar");
        //result.done(function (dialogResult) {
        //    return dialogResult == "Confirmed" ? true : false;

        //});
    }
</script>