﻿@model MASCore.DataModel.TMasOfSalida

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>TMasOfSalida</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NoOficio)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NoOficio)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Fecha)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Fecha)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Asunto)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Asunto)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Dirigido)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Dirigido)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.dCargo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dCargo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.dEmpresa)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dEmpresa)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Envia)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Envia)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.eCargo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.eCargo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.eEmpresa)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.eEmpresa)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Copias)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Copias)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Comentarios)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Comentarios)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TipoSalida)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TipoSalida)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Contesta)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Contesta)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Minutario)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Minutario)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Estatus)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Estatus)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TipoRel)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TipoRel)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
