﻿@model MASCore.Models.OficioSalidaModel

@{
    ViewBag.Title = "Detalle de Oficios De Salida";

}
<style>
    .rbutton {
        margin-right: 20px;
        margin-bottom: 5px;
    }
</style>
<article>
    <div class="row">
        <div class="col-5">
            <h1 style="margin-left:15px;">Detalle de Oficios de Salida</h1>
        </div>
        <div class="col-7 text-right">                                        <script>
                var idCedula = @Model.IdSalida;
                @*var urlComback = '@Url.Action("Index", "OficioSalida", null, Request.Url.Scheme)';
                var urlEdit = '@Url.Action("Edit", "OficioSalida", null, Request.Url.Scheme)';*@
            </script>
            <div class="row rbutton">
                <div class="col-10"></div>
                <div class="col-1" style="padding:0">
                    @(Html.DevExtreme().Button().Icon("fas fa-edit").ElementAttr("class", "iconobotonedicion").ID("editarDetalle").UseSubmitBehavior(false).Type(ButtonType.Default).OnClick(@"function(args){edit(urlEdit,'/'+idCedula)}"))
                    @(Html.DevExtreme().Tooltip().Target("#editarDetalle").ShowEvent("mouseenter").HideEvent("mouseleave").ContentTemplate("Editar"))
                </div>
                <div class="col-1" style="padding:0">
                    @(Html.DevExtreme().Button().Icon("fas fa-undo-alt").ID("regresar").UseSubmitBehavior(false).Type(ButtonType.Default).OnClick(@"function(args){comback(urlComback)}"))
                    @(Html.DevExtreme().Tooltip().Target("#regresar").ShowEvent("mouseenter").HideEvent("mouseleave").ContentTemplate("Regresar a la página anterior"))
                </div>
            </div>
        </div>
    </div>
</article>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h4>
                <div class="row">
                    <div class="col-3" style="padding: 8px 0 0 0;margin: 0;text-align: center;">
                        <b>@Html.DisplayNameFor(model => model.NoOficio)</b>
                    </div>
                    <div class="col-9" style="padding: 0;margin: 0;">
                        @(Html.DevExtreme().TextBoxFor(model => model.NoOficio).Disabled(true))
                        @Html.HiddenFor(m => m.IdSalida)
                    </div>
                </div>
            </h4>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="row col-12">
                @{
                    var tabs = new object[] {
                        new { id = "generales", text = "Datos Generales", icon = "fab fa-wpforms" },
                        new { id = "alertas", text = "Embarcaciones Relacionadas", icon = "fas fa-ship" }
                        //new { id = "archivos", text = "Archivo Digital", icon = "fas fa-archive" }
                    };
                }
                @(Html.DevExtreme().Tabs().DataSource(tabs).ScrollByContent(true).ShowNavButtons(true).SelectedIndex(0).OnItemClick("tabs_itemClick"))
            </div>
            <div class="row col-12 generales oculto activo">
                <div class="form" style="width:100%">
                    <div class="dx-fieldset">
                        <div class="dx-field row">
                            <div class="dx-field-label col-3">@Html.DisplayNameFor(model => model.Fecha)</div>
                            <div class="dx-field-value col-9">
                                @*@(Html.DevExtreme().TextBoxFor(model => model.Fecha).ReadOnly(true))*@
                                @(Html.DevExtreme().DateBoxFor(model => model.Fecha).ID("Fecha").ShowClearButton(true).Placeholder("Ingrese una Fecha").MaxLength(10).Width("100%"))
                            </div>
                        </div>
                        <div class="dx-field row">
                            <div class="dx-field-label col-3">@Html.DisplayNameFor(model => model.Estatus)</div>
                            <div class="dx-field-value col-9">
                                @(Html.DevExtreme().TextBoxFor(model => model.Estatus).ReadOnly(true))
                            </div>
                        </div>
                        <div class="dx-field row">
                            <div class="dx-field-label col-3">@Html.DisplayNameFor(model => model.TipoSalida)</div>
                            <div class="dx-field-value col-9">
                                @(Html.DevExtreme().TextBoxFor(model => model.TipoSalida).ReadOnly(true))
                            </div>
                        </div>
                        <div class="dx-field row">
                            <div class="dx-field-label col-3">@Html.DisplayNameFor(model => model.Asunto)</div>
                            <div class="dx-field-value col-9">
                                @(Html.DevExtreme().TextBoxFor(model => model.Asunto).ReadOnly(true))
                            </div>
                        </div>
                        <div class="dx-field row">
                            <div class="dx-field-label col-3">@Html.DisplayNameFor(model => model.Minutario)</div>
                            <div class="dx-field-value col-9">
                                @(Html.DevExtreme().TextBoxFor(model => model.Minutario).ReadOnly(true))
                            </div>
                        </div>
                        <h6><b>- Quien envía el oficio -</b></h6>
                        <div class="dx-field row">
                            <div class="dx-field-label col-3">@Html.DisplayNameFor(model => model.Envia)</div>
                            <div class="dx-field-value col-9">
                                @(Html.DevExtreme().TextBoxFor(model => model.Envia).ReadOnly(true))
                            </div>
                        </div>
                        <div class="dx-field row">
                            <div class="dx-field-label col-3">@Html.DisplayNameFor(model => model.eEmpresa)</div>
                            <div class="dx-field-value col-9">
                                @(Html.DevExtreme().TextBoxFor(model => model.eEmpresa).ReadOnly(true))
                            </div>
                        </div>
                        <div class="dx-field row">
                            <div class="dx-field-label col-3">@Html.DisplayNameFor(model => model.eCargo)</div>
                            <div class="dx-field-value col-9">
                                @(Html.DevExtreme().TextBoxFor(model => model.eCargo).ReadOnly(true))
                            </div>
                        </div>
                        <h6><b>- A quien va dirigido el oficio -</b></h6>
                        <div class="dx-field row">
                            <div class="dx-field-label col-3">@Html.DisplayNameFor(model => model.Dirigido)</div>
                            <div class="dx-field-value col-9">
                                @(Html.DevExtreme().TextBoxFor(model => model.Dirigido).ReadOnly(true))
                            </div>
                        </div>
                        <div class="dx-field row">
                            <div class="dx-field-label col-3">@Html.DisplayNameFor(model => model.dEmpresa)</div>
                            <div class="dx-field-value col-9">
                                @(Html.DevExtreme().TextBoxFor(model => model.dEmpresa).ReadOnly(true))
                            </div>
                        </div>
                        <div class="dx-field row">
                            <div class="dx-field-label col-3">@Html.DisplayNameFor(model => model.dCargo)</div>
                            <div class="dx-field-value col-9">
                                @(Html.DevExtreme().TextBoxFor(model => model.dCargo).ReadOnly(true))
                            </div>
                        </div>
                        <br/>
                        <div class="dx-field row">
                            <div class="dx-field-label col-3">Relacionar Oficios:</div>
                            <div class="dx-field-value col-9">
                                @(Html.DevExtreme().List().ItemTemplate(@<text><%= NoOficio %></text>).DataSource(ViewBag.oficios))
                            </div>
                        </div>
                        <div class="dx-field row">
                            <div class="dx-field-label col-3">Relacionar Llamadas:</div>
                            <div class="dx-field-value col-9">
                                @(Html.DevExtreme().List().ItemTemplate(@<text><%= NoOficio %></text>).DataSource(ViewBag.llamadas))
                            </div>
                        </div>
                        <div class="dx-field row">
                            <div class="dx-field-label col-3">@Html.DisplayNameFor(model => model.ofp2)</div>
                            <div class="dx-field-value col-9">
                                @(Html.DevExtreme().TextBoxFor(model => model.ofp2).ReadOnly(true))
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row col-12 alertas oculto">
                <div class="form" style="width:100%">
                    <div class="dx-fieldset">
                        <div class="dx-field row">
                            <div class="dx-field-label col-3">Copias:</div>
                            <div class="dx-field-value col-9">
                                @(Html.DevExtreme().TextBoxFor(model => model.Copias).ReadOnly(true))
                            </div>
                        </div>
                        <div class="dx-field row">
                            <div class="dx-field-label col-3">Comentarios:</div>
                            <div class="dx-field-value col-9">
                                @(Html.DevExtreme().TextAreaFor(model => model.Comentarios).ReadOnly(true))
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="row col-12 archivos oculto">
                
            </div>
        </div>
    </div>
</div>
