﻿@model IEnumerable<MASCore.ModelReference.BuscaOficioSalida_Result>

@{
    Layout = "~/Views/Shared/_PdfLayout.cshtml";
}


<table width="100%" cellpadding="1.0" cellspacing="1.0"   widths="1;4;1">
    <row>
        <cell >   @*<image url="@Context.Server.MapPath("~/Content/Logo1.jpg")"/>*@     </cell>
        <cell horizontalalign="Default" verticalalign="Default">
            <paragraph style="font-size: 13;font-weight:normal;" red="60" green="60" blue="60" align="Center">
                COMISION NACIONAL DE ACUACULTURA Y PESCA <br />
                DIRECCIÓN GENERAL DE INSPECCION Y VIGILANCIA <br />
            </paragraph>
            <chunk style="font-size: 13;font-weight:normal" red="60" green="60" blue="60" align="Center">  DIRECCIÓN DE MONITOREO Y COORDINACIÓN</chunk> 
        </cell>
        <cell>   
        
        @*<image url="@Context.Server.MapPath("~/Content/Logo2.jpg")"/>*@     </cell>
    </row>
</table>

<paragraph style="font-family: Helvetica; font-size: 16; "  align="Center">
	<chunk style="font-weight:normal;" red="60" green="60" blue="60">REPORTE - OFICIOS DE SALIDA </chunk>
</paragraph>

@foreach (var item in Model)
{
    <table width="100%" cellpadding="1.0" cellspacing="1.0"  border="2" widths=".7;1;1;1;1;1" red="255" green="255" blue="255" align="left">
        <row>
            <cell colspan="3" borderwidth="0.5" left="true" right="true" top="true" bottom="true" header="true" leading="18.0">            	         
                <chunk style="font-family: Helvetica; font-size: 10;font-weight:bold;text-align:center">
                    OFICIO DE SALIDA
                </chunk>             
            </cell>
            <cell colspan="3" borderwidth="0.5" left="false" right="false" top="false" bottom="false" header="true" leading="18.0">            	         
                <chunk style="font-family: Helvetica; font-size: 10;font-weight:bold;text-align:center">
                    
                </chunk>             
            </cell>
        </row>
        @* ------------------                 PRIMER RENGLON                     ------------------------*@
        <row>
	        <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" header="true" leading="18.0">            	         
                <chunk style="font-family: Helvetica; font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                        Id
                </chunk>             
            </cell>	   
	        <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
                <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                        Estatus
                </chunk>
            </cell>
            <cell colspan="1" borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
                <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                        No Oficio
                </chunk>
            </cell>
            <cell colspan="2" borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
                <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                       Tipo Salida
                </chunk>
            </cell> 
            <cell colspan="1" borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
                <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                       Fecha
                </chunk>
            </cell>                        
        </row>
        <row>
            <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;">                        
                        @item.IdSalida
                </chunk>
            </cell>
            <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
                <chunk style="font-family:Helvetica;font-size: 9;">
                        @item.Estatus
                </chunk>
            </cell>
            <cell colspan="1" borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 9;">
                        @item.NoOficio
                </chunk>
            </cell>
            <cell colspan="2" borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 9;">
                        @item.TipoSalida
                </chunk>
            </cell>
            <cell colspan="1" borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 9;">
                        @item.Fecha.Value.ToShortDateString()
                </chunk>
            </cell>
        </row>
        @* ------------------                 SEGUNDO RENGLON                     ------------------------*@
        <row>
	        <cell colspan="2" borderwidth="0.5" left="true" right="true" top="true" bottom="true" header="true" leading="18.0">            	         
                <chunk style="font-family: Helvetica; font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                        Barco
                </chunk>             
            </cell>	   
	        <cell colspan="2" borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
                <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;" red="10" green="100" blue="100">
                    Razón Social
                </chunk>
            </cell>
            <cell colspan="2" borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
                <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                        Dirigido
                </chunk>
            </cell>                                
        </row>
        <row>
            <cell colspan="2" borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
                <chunk style="font-family:Helvetica;font-size: 9;">
                        @item.Barco
                </chunk>
            </cell>
            <cell colspan="2" borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
                <chunk style="font-family:Helvetica;font-size: 9;">
                        @item.RazonSocial
                </chunk>
            </cell>
            <cell colspan="2" borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 9;">
                        @item.Dirigido
                </chunk>
            </cell>            
        </row>
        @* ------------------                 TERCERO RENGLON                     ------------------------*@
        <row>
	        <cell colspan="2" borderwidth="0.5" left="true" right="true" top="true" bottom="true" header="true" leading="18.0">            	         
                <chunk style="font-family: Helvetica; font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                        Envia
                </chunk>             
            </cell>	   
	        <cell colspan="3" borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
                <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                        Minutario
                </chunk>
            </cell>
            <cell colspan="1" borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
                <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                        Contesta
                </chunk>
            </cell>
        </row>
        <row>
            <cell colspan="2" borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
                <chunk style="font-family:Helvetica;font-size: 9;">
                        @item.Envia
                </chunk>
            </cell>
            <cell colspan="3" borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
                <chunk style="font-family:Helvetica;font-size: 9;">
                        @item.Minutario
                </chunk>
            </cell>
            <cell colspan="1" borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 9;">
                        @item.Contesta
                </chunk>
            </cell>            
        </row>
        @* ------------------                 CUARTO RENGLON                     ------------------------*@
        <row>        
            <cell colspan="6" borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                    Asunto
                </chunk>
            </cell>
        </row>
        <row>
            <cell colspan="6" borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size:9;">
                    @item.Asunto
                </chunk>
            </cell>
        </row>

    </table>
}













@*
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GeneratePdfOficioSalida</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdSalida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoOficio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoSalida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Asunto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Barco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RazonSocial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dirigido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Envia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Minutario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estatus)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdSalida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoOficio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoSalida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Asunto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Barco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RazonSocial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dirigido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Envia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Minutario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estatus)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>


*@