﻿@model MASCore.Models.LlamadaBusquedaModel
@using Microsoft.AspNetCore.Http.Extensions

@using MASCore.Models

@{
    ViewBag.Title = "Módulo de Búsqueda de Llamada";
   
}
<head>
   
    <script src="~/js/Llamadas/BuscaLlamadas.js"></script>
</head>

<div style="text-align:center; color:Red;font-size:medium">
    @ViewBag.NoValidoPor
</div>

@using (Html.BeginForm("BuscaLlamada", "Llamadas", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <article>
        <h1>Buscar Llamadas</h1>
    </article>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h4>Criterios de consulta</h4>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group">
                                <div class="col-12">
                                    <div id="FechaInicial"></div>
                                    <div id="ToolTip1">Fecha Inicial</div>
                                    @*@(Html.DevExtreme().DateBoxFor(model => model.FechaInicial).DisplayFormat("dd/MM/yyyy")
                                                .Placeholder("Fecha Inicial").Width("100%").ID("FechaInicial")
                                                .ElementAttr("class", "form-control").ShowClearButton(true)
                                                .InvalidDateMessage("Fecha no valida")
                                    )
                                    @(Html.DevExtreme().Tooltip()
                                                .Target("#FechaInicial")
                                                .ShowEvent("mouseenter")
                                                .HideEvent("mouseleave")
                                                .ContentTemplate(@<text>
                                                    <b>Fecha Inicial</b>
                                                </text>)
                                    )*@
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-12">
                                    <div id="FechaFinal"></div>
                                    <div id="ToolTip2">Fecha Final</div>
                                    @*@(Html.DevExtreme().DateBoxFor(model => model.FechaFinal).DisplayFormat("dd/MM/yyyy")
                            .Placeholder("Fecha Final").ID("FechaFinal")
                            .ElementAttr("class", "form-control")
                            .ElementAttr("style", "width: 95%;margin-left: 15px;").ShowClearButton(true)
                            .InvalidDateMessage("Fecha no valida")
        )
        @(Html.DevExtreme().Tooltip()
                            .Target("#FechaFinal")
                            .ShowEvent("mouseenter")
                            .HideEvent("mouseleave")
                            .ContentTemplate(@<text>
                                <b>Fecha Final</b>
                            </text>)
        )*@
                                </div>
                            </div>
                                <div class="form-group">
                                    <div class="col-12">
                                        <div id="actividades"></div>
                                        @*@(Html.DevExtreme().SelectBoxFor(o => o.Actividad).DisplayExpr("Resultado").ValueExpr("Resultado")
                                    .Placeholder("-- Seleccione un Tipo de Cédula --").Width("100%").ID("actividades")
                                      .DataSource(ViewBag.actividad)
                                    //.DataSource(d => d.Mvc().LoadAction("GetActividades")).DeferRendering(false)
                                    .ElementAttr("class", "form-control").ShowClearButton(true).SearchEnabled(true)
                )*@

                                    </div>
                                </div>
                            </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group">
                                <div class="col-12">
                                    <div id="responsableofp"></div>
                                    @*@(Html.DevExtreme().SelectBoxFor(o => o.Ofp).DisplayExpr("Resultado").ValueExpr("Resultado")
                                                          //.DataSource(d => d.Mvc().LoadAction("GetResponsablesOFP"))
                                                          .Width("100%").DeferRendering(false).ID("responsableofp")
                                                          .DataSource(ViewBag.ofp)
                                                        .Placeholder("-- Seleccione un Responsable de OFP--").ElementAttr("class", "form-control").ShowClearButton(true)
                                    )*@

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-12">
                                    <div id="embarcacion"></div>
                                    @*@(Html.DevExtreme().AutocompleteFor(o => o.Embarcacion).Width("100%").MinSearchLength(1).ID("embarcacion")
                                                        .DataSource(d => d.Mvc().LoadAction("SearchResultadoGenerico_nombrebarco"))
                                                        //.DataSource(ViewBag.filtro)
                                                        .Placeholder("Nombre del Barco").ElementAttr("class", "form-control").ShowClearButton(true)
                                    )*@

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-12">
                                    <div id="filtro"></div>
                                    @*@(Html.DevExtreme().SelectBoxFor(o => o.Filtro).DisplayExpr("Resultado").ValueExpr("Resultado")
                                                        //.Value("CEDULAS")
                                                        .Placeholder("-- Seleccione un Filtro --")
                                                        .Width("100%").ID("filtro")
                                                        .DataSource(ViewBag.filtro)
                                                        //.DataSource(d => d.Mvc().LoadAction("GetFiltros")).DeferRendering(false)
                                                        .ElementAttr("class", "form-control").ShowClearButton(true).SearchEnabled(true)
                                    )*@

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="text-align: right">
        <div id="btnBuscaLlamada"></div>
        <div id="ToolTip3">Consultar Llamadas</div>
        @*@(Html.DevExtreme().Button().Text("").ID("btnBuscaLlamada").Icon("fas fa-search").Type(ButtonType.Default).StylingMode(ButtonStylingMode.Contained).UseSubmitBehavior(true))
        @(Html.DevExtreme().Tooltip().Target("#btnBuscaLlamada").ShowEvent("mouseenter").HideEvent("mouseleave").ContentTemplate("Consultar Llamadas"))*@
    </div>

   <section>
     
        <script>
                var urlXLS = '@Url.Action("GeneraReporteLlamadasExportarBusqueda", "Llamadas", null, UriHelper.GetDisplayUrl(Context.Request))';
                var urlPDF = '@Url.Action("GeneratePdfLlamadas", "Llamadas", null, UriHelper.GetDisplayUrl(Context.Request))';
        </script>
            <div style="text-align: right; margin-top:5px;margin-bottom:5px;">
                <div class="row">
                    <div class="col-10"></div>
                    <div class="col-1">
                        <div id="exportToExcel"></div>
                        <div id="ToolTip4">Exportar a Excel</div>
                        @*@(Html.DevExtreme().Button().Icon("fa fa-file-excel").ID("exportToExcel").UseSubmitBehavior(false).Type(ButtonType.Success).OnClick(@"function(args){ExportarPDF(urlXLS)}"))
                        @(Html.DevExtreme().Tooltip()
                                            .Target("#exportToExcel")
                                            .ShowEvent("mouseenter")
                                            .HideEvent("mouseleave")
                                            .ContentTemplate("Exportar a Excel")
                        )*@
                    </div>
                    <div class="col-1">
                        <div id="exportToPDF"></div>
                        <div id="ToolTip5">Exportar a PDF</div>
                        @*@(Html.DevExtreme().Button().Icon("fa fa-file-pdf").ID("exportToPDF").UseSubmitBehavior(false).Type(ButtonType.Danger).OnClick(@"function(args){ExportarPDF(urlPDF)}"))
                        @(Html.DevExtreme().Tooltip()
                                            .Target("#exportToPDF")
                                            .ShowEvent("mouseenter")
                                            .HideEvent("mouseleave")
                                            .ContentTemplate("Exportar a PDF")
                        )*@
                    </div>
                </div>
            </div>
            <div id="grid">
                <div id="gridContainer"></div>
                @*@(Html.DevExtreme().DataGrid<MASCore.ModelReference.BuscaLlamadas_Result>()
                            .ID("gridContainer")
                            .DataSource(Model.ResultadoListaLlamadasSP, new string[] { "IdBitaCel" })
                            .ColumnHidingEnabled(true)
                            .ShowColumnLines(true)
                            .ShowRowLines(true)
                            .RowAlternationEnabled(true)
                            .ShowBorders(true)
                            .Pager(p => p
                                .AllowedPageSizes(new int[] { 5, 8, 15, 30 })
                                .ShowInfo(true)
                                .ShowNavigationButtons(true)
                                .ShowPageSizeSelector(true)
                                .Visible(true))
                            .Paging(p => p.PageSize(5))
                            .ShowColumnHeaders(true)
                            .WordWrapEnabled(true)
                            .Columns(columns =>
                            {
                                columns.AddFor(m => m.Fecha).Caption("Fecha").Width(100).Format(Format.ShortDate);
                                columns.AddFor(m => m.Hora).Caption("Hora").Format(Format.ShortTime);
                                columns.AddFor(m => m.Respuesta).Caption("Respuesta");
                                columns.AddFor(m => m.Barco).Caption("Barco");
                                columns.AddFor(m => m.RNP).Caption("RNP");
                                columns.AddFor(m => m.Matricula).Caption("Matrícula");
                                columns.AddFor(m => m.RazonSocial).Caption("Razón Social");
                                columns.AddFor(m => m.OFP).Caption("OFP").Width(200);
                                columns.AddFor(m => m.IdBitaCel).Caption("Acción").CellTemplate(@<text>
                                    <a title="Ver Detalle" id="detalle<%= value %>" href='Details/<%= value %>'>
                                        <i class="dx-icon far fa-folder tamanoIconoEnGrid"></i>
                                    </a>
                                </text>);
                                                    })
                )*@
            </div>
        
    </section>
}
