﻿@model MASCore.Models.LlamadaModel
@using Microsoft.AspNetCore.Http.Extensions

@{
    ViewBag.Title = "Nueva Llamada";
}
<head>

    <script src="~/js/Llamadas/CreateLlamada.js"></script>
</head>

<div style="text-align:center; color:Red;font-size:medium">
    @ViewBag.NoValidoPor
</div>

@using (Html.BeginForm("Create", "Llamadas", FormMethod.Post))
{
    @Html.ValidationSummary(true)

    <article>
        <div class="row">
            <div class="col-4">
                <h1>Nueva Llamada</h1>
            </div>
            <div class="col-8 text-right">
                <script>
                    var urlComback = '@Url.Action("Index", "Llamadas", null, UriHelper.GetDisplayUrl(Context.Request));'//
                    var buscarembarcaciones = '@Url.Action("BuscarEmbarcaciones", "Llamadas", null, UriHelper.GetDisplayUrl(Context.Request));'//
                    var agregarllamada = '@Url.Action("AgregarLlamadaTmp", "Llamadas", null, UriHelper.GetDisplayUrl(Context.Request));'//
                </script>
                <div class="row" >
                    <div class="col-9"></div>
                    <div class="col-1" style="padding:0; display: table-row">
                        <div id="save" style="display: table-cell"></div>
                        <div id="ToolTip1">Guardar</div>
                    
                    </div>
                    <div class="col-1" style="padding:0">
                        <div id="regresar" style="display: table-cell"></div>
                        <div id="ToolTip2">Regresar a la página anterior</div>
             </div>
                </div>
            </div>
        </div>
    </article>

    @Html.Hidden("IdentificadorFinal", 0)
    <input type="hidden" value="Guardar" name="submitButton" />
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <div class="dx-fieldset">
                    <div class="dx-field row">
                        <label class="dx-field-label col-4">Fecha de la Cédula:</label>
                        <div class="dx-field-value col-8">

                            <div id="FechaCedula"></div>

                        </div>
                    </div>
                    <div class="dx-field row">
                        <label class="dx-field-label col-4">Seleccione el tipo de actividad que corresponda:</label>
                        <div class="dx-field-value col-8">
                            <div id="Actividad"></div>

                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="demo-container">
                <div id="tabs">
                    <div class="tabs-container"></div>
                    <div class="content  dx-fieldset">
                    </div>
                </div>
                <div id="generales">
                    <div class="dx-fieldset">
                        <div class="dx-field row">
                            <label class="dx-field-label col-3">Embarcación:</label>
                            <div class="dx-field-value">
                                <div id="Barco"></div>

                            </div>
                        </div>
                        <div class="dx-field row">
                            <label class="dx-field-label col-3">Razón Social:</label>
                            <div class="dx-field-value">
                                <div id="RazonSocial"></div>

                            </div>
                        </div>
                        <div class="dx-field row">
                            <label class="dx-field-label col-3">Matrícula:</label>
                            <div class="dx-field-value">
                                <div id="Matricula"></div>

                            </div>
                        </div>
                        <div class="dx-field row">
                            <label class="dx-field-label col-3">RNP:</label>
                            <div class="dx-field-value">
                                <div id="RNP"></div>

                            </div>
                        </div>
                        <div class="dx-field row">
                            <label class="dx-field-label col-3">Puerto Base:</label>
                            <div class="dx-field-value">
                                <div id="PuertoBase"></div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div id="buscarembarcaciones"></div>
                                <div id="toolTip3">Buscar embarcaciones</div>

                            </div>
                        </div>
                    </div>
                </div>
                <div id="alertas">
                    <div class="dx-fieldset">
                        <div class="dx-field row">
                            <label class="dx-field-label col-4">Persona, Empresa o Dependencia a quien se realizó la llamada:</label>
                            <div class="dx-field-value col-8">
                                <div id="Empresa"></div>

                            </div>
                        </div>
                        <div class="dx-field row">
                            <label class="dx-field-label col-4">Nombre de la persona que atendió la llamada:</label>
                            <div class="dx-field-value col-8">
                                <div id="Atendio"></div>

                            </div>
                        </div>
                        <div class="dx-field row">
                            <label class="dx-field-label col-4">Lugar que se hizo la llamada:</label>
                            <div class="dx-field-value col-8">
                                <div id="Lugar"></div>

                            </div>
                        </div>
                        <div class="dx-field row">
                            <label class="dx-field-label col-4">OFP que realizó la llamada:</label>
                            <div class="dx-field-value col-8">
                                <div id="OFP"></div>

                            </div>
                        </div>
                    </div>
                </div>
                <div id="comentarios">
                    <div class="dx-fieldset">
                        <div class="dx-field row">
                            <label class="dx-field-label col-3">Descripción de la actividad:</label>
                            <div class="dx-field-value col-9">
                                <div id="Descripcion"></div>

                            </div>
                        </div>
                        <div class="dx-field row">
                            <label class="dx-field-label col-3">Fecha</label>
                            <div class="dx-field-value col-9">
                                <div id="Fecha"></div>

                            </div>
                        </div>
                        <div class="dx-field row">
                            <label class="dx-field-label col-3">Hora (HH:MM:SS)</label>                            
                            <div class="dx-field-value col-9">
                                <div id="Hora"></div>
                            </div>
                        </div>
                        <div class="dx-field row">
                            <label class="dx-field-label col-3">*Tipo</label>
                            <div class="dx-field-value col-9">
                                <div id="Tipo"></div>
                            </div>
                        </div>
                        <div class="dx-field row">
                            <label class="dx-field-label col-3">*Número</label>
                            <div class="dx-field-value col-9">
                                <div id="Numero"></div>
                            </div>
                        </div>
                        <div class="dx-field row">
                            <label class="dx-field-label col-3">*Respuesta</label>
                            <div class="dx-field-value col-9">
                                <div id="Respuesta"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-10"></div>
                            <div class="col-1" style="padding-right: 0px;margin-right: 0px;text-align: right;margin-top: auto;">
                                <div id="small-indicator"></div>
                            </div>
                            <div class="col-1" style="padding:0">
                                
                                <div id="button"></div>
                            </div>
                        </div>
                        <div class="row col-12">
                            <div class="alert alert-danger" id="alerta">
                                <button type="button" class="close" data-dismiss="alert">x</button>
                                <strong>Favor de llenar los Campos requeridos. </strong><br />
                                <span id="mensaje"></span>
                            </div>
                        </div>
                        <div style="text-align:center; color:Red;font-size:medium">
                            @ViewBag.NoValidoPor
                        </div>
                        <div class="dx-field row">
                            <div id="grid" class="col-12">
                                <div id="gridContainer"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

                  @*<div class="x_content">
                <div class="row col-12">

                    <div id="TabsContain"></div>
                </div>
                <div class="row col-12 generales oculto activo">
                    <div class="form" style="width:100%">
                        <
                    </div>
                </div>
                <div class="row col-12 alertas oculto">
                    <div class="form" style="width:100%">
                        
                    </div>
                </div>
                <div class="row col-12 comentarios oculto" style="padding-top:20px">
                    <div class="form" style="width:100%">
                        
                    </div>
                </div>
            </div>*@ 
            </div>
      

}

@(Html.DevExtreme().Popup()
        .ID("popup")
        .ElementAttr("class", "popup")
        .ShowTitle(true)
        .Title("Busca Información de Embarcación")
        .Visible(false)
        .DragEnabled(false)
        .CloseOnOutsideClick(true)
)

@using (Html.DevExtreme().NamedTemplate("popup-template"))
{
    <div class="row">
        <div class="col-6">
            <div class="row col-12" style="padding-bottom:5px">
                @(Html.DevExtreme().SelectBox().DisplayExpr("Resultado").ValueExpr("Resultado").DeferRendering(false)
                            .DataSource(d => d.Mvc().LoadAction("GetOpcionesBusqueda")).ID("embarcaciones-tipo")
                            .Placeholder("-- Seleccione el Tipo de Alerta --").Width("100%").ElementAttr("class", "form-control").ShowClearButton(true)
                )
                @(Html.DevExtreme().Tooltip().Target("#embarcaciones-tipo").ShowEvent("mouseenter").HideEvent("mouseleave")
                            .ContentTemplate(@<text>Seleccionar en este campo el <b>Tipo de Atributo de la embarcación</b>, dicha información se usuará para realizar la búsqueda de embarcaciones</text>))
            </div>
        </div>
        <div class="col-6">
            <div class="row col-12" style="padding-bottom:5px">
                @(Html.DevExtreme().TextBox().ID("embarcaciones-valor").Placeholder("-- Indique la palabra a buscar --").Width("100%").ElementAttr("class", "form-control").ShowClearButton(true))
                @(Html.DevExtreme().Tooltip().Target("#embarcaciones-valor").ShowEvent("mouseenter").HideEvent("mouseleave").ContentTemplate(@<text>Indicar en este campo la <b>Palabra a buscar del tipo seleccionado</b>, dicha información se usuará para realizar la búsqueda de embarcaciones</text>))
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-10"></div>
        <div class="col-1" style="padding-right: 0px;margin-right: 0px;text-align: right;margin-top: auto;">
            @(Html.DevExtreme().LoadIndicator().ID("embarcaciones-indicator").Height(20).Width(20).Visible(false))
        </div>
        <div class="col-1">
            @(Html.DevExtreme().Button().Icon("fas fa-search").ID("embarcaciones-buscar").Type(ButtonType.Default).StylingMode(ButtonStylingMode.Contained).UseSubmitBehavior(false).OnClick("llamdastelefonicas.ReloadGridEmbarcaciones"))
            @(Html.DevExtreme().Tooltip().Target("#embarcaciones-buscar").ShowEvent("mouseenter").HideEvent("mouseleave").ContentTemplate("Buscar Información"))
        </div>
    </div>
    <div class="row" style="padding-top:5px">

        <div class="col-12">
            @(Html.DevExtreme().DataGrid<MASCore.ModelReference.SPMASBuscaInformacionDeEmbarcacionyPangas_Result>()
                        .ID("gridEmbarcaciones")
                        .DataSource(Model.InformacionDeEmbarcacion, new string[] { "Matricula" })
                        .ColumnHidingEnabled(true)
                        .ShowColumnLines(true)
                        .ShowRowLines(true)
                        .RowAlternationEnabled(true)
                        .ShowBorders(true)
                        .Pager(p => p
                            .AllowedPageSizes(new int[] { 3, 5 })
                            .ShowInfo(true)
                            .ShowNavigationButtons(true)
                            .ShowPageSizeSelector(true)
                            .Visible(true))
                        .Paging(p => p.PageSize(5))
                        .ShowColumnHeaders(true)
                        .WordWrapEnabled(true)
                        .Columns(columns =>
                        {
                            columns.AddFor(m => m.Matricula).Caption("Matrícula");
                            columns.AddFor(m => m.Nombre).Caption("Nombre Barco");
                            columns.AddFor(m => m.SerieAntena).Caption("Serie Antena");
                            columns.AddFor(m => m.Localidad).Caption("Localidad");
                            columns.AddFor(m => m.RNP).Caption("RNP");
                            columns.AddFor(m => m.Permiso).Caption("Permiso");
                            columns.AddFor(m => m.TipoPermiso).Caption("Tipo Permiso");
                            columns.AddFor(m => m.RazonSocial).Caption("Razón Social");
                            columns.AddFor(m => m.RepLegal).Caption("Representante Legal");
                            columns.AddFor(m => m.RNPTitular).Caption("RNP Titular");
                            columns.AddFor(m => m.Matricula).Caption("Acción").CellTemplate(@<text>
                                <a title="Seleccionar" href="javascript:llamdastelefonicas.RegresaValoresEmbarcacion('<%= data.Nombre %>','<%= data.RazonSocial %>','<%= value %>','<%= data.RNP %>','<%= data.PuertoBASe %>')">
                                    <i class="dx-icon fa fa-hand-pointer tamanoIconoEnGrid"></i>
                                </a>
                            </text>);
                                            })
            )
        </div>
    </div>
}

    <script src="~/Scripts/MAS/LlamadasTelefonicas.js"></script>