﻿@model MASCore.ModelReference.TMasBTBitaCel

@{
    ViewBag.Title = "Borrar";
}

<h2>Borrar</h2>

<h3>Esta Seguro de Borar ?</h3>
<fieldset>
    <legend>TMasBTBitaCel</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Actividad)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Actividad)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Barco)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Barco)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RNP)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RNP)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Matricula)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Matricula)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RazonSocial)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RazonSocial)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PuertoBase)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PuertoBase)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Fecha)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Fecha)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Empresa)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Empresa)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Atendio)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Atendio)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Lugar)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Lugar)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Descripcion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Descripcion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OFP)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OFP)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Borrar" /> |
        @Html.ActionLink("Regresar a Opciones de LLamada", "Index")
    </p>
}
