﻿@model List<MASCore.ModelReference.SPMasBuscaLlamadasDesdeSismep_Result>
@using WebGrease.Activities


@{
    Layout = null;
    ViewBag.Title = "Detalle Llamada";
    List<MASCore.ModelReference.SPMasBuscaLlamadasDesdeSismep_Result> Lista = new List<MASCore.ModelReference.SPMasBuscaLlamadasDesdeSismep_Result>();
    Lista = null;// Session["ModeloTMPBuscaLLamadasSismep"] as List<MASCore.ModelReference.SPMasBuscaLlamadasDesdeSismep_Result>;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - MAS Web - Astrum Satelital</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />


    @*@Styles.Render("~/Content/css")*@
    <link href="~/css/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    @*@Styles.Render("~/Content/themes/base/jquery.ui.core.css")
    @Styles.Render("~/Content/themes/base/jquery.ui.datepicker.css")
    @Styles.Render("~/Content/themes/base/jquery.ui.theme.css")*@

    @*@Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/Scripts/DatePickerReady.js")*@
    <script src="~/Scripts/DatePickerReady.js"></script>
    @* @RenderSection("scripts", required: false)*@

    @*<script src="~/Scripts/jquery-1.7.1.js" type="text/javascript"></script>  
    <script src="~/Scripts/jquery-ui-1.8.20.js" type="text/javascript"></script>

    <script src="~/Scripts/jquery.autocomplete.min.js" type="text/javascript"></script>
    <link href="~/Content/jquery.autocomplete.css" rel="stylesheet" type="text/css" />*@
    @*<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />*@
    <link href="~/css/Content/Site.css" rel="stylesheet" />


</head>
<body>
    <div id="body">
        <div id="body" style="width:100%;text-align:center;margin-left:1%;min-width:995px;" align="center">
            <div id="titulo">
                <h3 style="color:#0F2C48;text-align:center"><u>-Modulo Detalle Llamada-</u></h3>
            </div>
           
            @if (Lista != null && Lista.Count > 0)
            {
                <div id="ArchivoDigital">
                        <h4>@ViewBag.Title</h4>
                        <table width="100%" border="1">
                            <tr>
                                <td align="center">
                                    <div id="gridImagenes">
                                        @*@{
                                            var gridImagenes = new WebGrid(Lista, rowsPerPage: 10, canSort: false, canPage: false, ajaxUpdateContainerId: "gridImagenes");
                                        }
                                        @gridImagenes.GetHtml(
                                          tableStyle: "webgrid",
                                             fillEmptyRows: false,
                                             alternatingRowStyle: "fila-alternativa",
                                             headerStyle: "encabezado-grid",
                                             footerStyle: "pie-grid",
                                             mode: WebGridPagerModes.All,
                                             firstText: "<< Primera",
                                             previousText: "< Anterior",
                                             nextText: "Siguiente >",
                                             lastText: "Última >>",

                                            columns: gridImagenes.Columns(
                                                        gridImagenes.Column("RealizoLlamada", header: "Realizó Llamada",style: "letrachica; width:80px;"),
                                                        gridImagenes.Column("AtendioLLamada", header: "Atendió LLamada", style: "letrachica; width:80px;"),
                                                        gridImagenes.Column("Lugar", header: "Lugar", style: "letrachica; width:80px;"),
                                                        gridImagenes.Column("OFP", "OFP", style: "letrachica; width:80px;"),
                                                        //gridImagenes.Column("OFP", "OFP", @<text><div style='width: 10em' class="letrachica">@item.Fecha.ToString().Substring(0, 10) </div></text>),
                                                        gridImagenes.Column("Descripcion", header: "Descripción", style: "letrachica; width:80px;"),
                                                        gridImagenes.Column("Tipo", header: "Tipo", style: "letrachica; width:80px;"),
                                                        gridImagenes.Column("Numero", "Número", style: "letrachica; width:80px;"),
                                                        gridImagenes.Column("Fecha", "Fecha", @<text><div style='width:80px'>@item.Fecha.ToString().Substring(0, 10)</div></text>),
                                                        gridImagenes.Column("Hora", "Hora", style: "letrachica; width:80px;"),
                                                        gridImagenes.Column("Respuesta", header: "Respuesta", style: "letrachica; width:80px;")
                                                        )
                                            )*@
                                    </div>
                                </td>
                            </tr>
                        </table>
                    
                </div>
                }
          
        </div>
    </div>
</body>
</html>