﻿@model MASCore.Models.LlamadaModel
@using Microsoft.AspNetCore.Http.Extensions

@{
    ViewBag.Title = "Detalle Llamada";
    List<MASCore.DataModel.BuscaCargaImagenesTipo_Result> Lista = new List<MASCore.DataModel.BuscaCargaImagenesTipo_Result>();
    Lista = null;// Session["SessionImagenesLlamadas"] as List<MASCore.BuscaCargaImagenesTipo_Result>;
}

<article>
    <div class="row">
        <div class="col-4">
            <h1>Detalle de Llamada</h1>
        </div>
        <div class="col-8 text-right">
            <script>
                var idCedula = '@Model.TMASBTBITACEL.IdBitaCel';
                var urlPrint = '@Url.Action("GeneraReporteLlamadaWord", "Llamadas", null, UriHelper.GetDisplayUrl(Context.Request));
                var urlComback = '@Url.Action("Index", "Llamadas", null, UriHelper.GetDisplayUrl(Context.Request));
                var urlEdit = '@Url.Action("Edit", "Llamadas", null, UriHelper.GetDisplayUrl(Context.Request));
            </script>
            <div class="row">
                <div class="col-9"></div>
                <div class="col-1" style="padding:0">
                    @(Html.DevExtreme().Button().Icon("fas fa-edit").ElementAttr("class", "iconobotonedicion").ID("editarDetalle").UseSubmitBehavior(false).Type(ButtonType.Default).OnClick(@"function(args){edit(urlEdit,'/'+idCedula)}"))
                    @(Html.DevExtreme().Tooltip()
                                .Target("#editarDetalle")
                                .ShowEvent("mouseenter")
                                .HideEvent("mouseleave")
                                .ContentTemplate("Editar")
                    )
                </div>
                <div class="col-1" style="padding:0">
                    @(Html.DevExtreme().Button().Icon("fa fa-print").ID("imprimirDetalle").UseSubmitBehavior(false).Type(ButtonType.Default).OnClick(@"function(args){print(urlPrint,idCedula)}"))
                    @(Html.DevExtreme().Tooltip()
                                .Target("#imprimirDetalle")
                                .ShowEvent("mouseenter")
                                .HideEvent("mouseleave")
                                .ContentTemplate("Imprimir")
                    )
                </div>
                <div class="col-1" style="padding:0">
                    @(Html.DevExtreme().Button().Icon("fas fa-undo-alt").ID("regresar").UseSubmitBehavior(false).Type(ButtonType.Default).OnClick(@"function(args){comback(urlComback)}"))
                    @(Html.DevExtreme().Tooltip()
                                .Target("#regresar")
                                .ShowEvent("mouseenter")
                                .HideEvent("mouseleave")
                                .ContentTemplate("Regresar a la página anterior")
                    )
                </div>
            </div>
        </div>
    </div>
</article>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h4>
                <div class="row">
                    <div class="col-3" style="padding: 8px 0 0 0;margin: 0;text-align: center;">
                        <b>IdBitaCel:</b>
                    </div>
                    <div class="col-9" style="padding: 0;margin: 0;">
                        @(Html.DevExtreme().TextBoxFor(model => model.TMASBTBITACEL.IdBitaCel).Placeholder("IdBitaCel").Disabled(true))
                    </div>
                </div>
            </h4>
            <div class="dx-fieldset">
                <div class="dx-field row">
                    <div class="dx-field-label col-5">Fecha de la Cedula:</div>
                    <div class="dx-field-value col-7">
                        @(Html.DevExtreme().DateBoxFor(model => model.TMASBTBITACEL.Fecha).ReadOnly(true).DisplayFormat("dd/MM/yyyy"))
                    </div>
                </div>
                <div class="dx-field row">
                    <div class="dx-field-label col-5">Seleccione el tipo de actividad que corresponda:</div>
                    <div class="dx-field-value col-7">
                        @(Html.DevExtreme().TextAreaFor(model => model.TMASBTBITACEL.Actividad).ReadOnly(true))
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="row col-12">
                @{
                    var tabs = new object[] {
                                    new { id = "generales", text = "Datos de la Embarcación", icon = "fa fa-ship" },
                                    new { id = "alertas", text = "Datos de la Persona", icon = "fas fa-user" },
                                    new { id = "comentarios", text = "Datos de Llamadas", icon = "fas fa-phone" }
                                    //new { id = "archivos", text = "Archivo Digital", icon = "fa fa-archive" }
                                };
                }
                @(Html.DevExtreme().Tabs().DataSource(tabs).ScrollByContent(true).ShowNavButtons(true).SelectedIndex(0).OnItemClick("tabs_itemClick"))
            </div>
            <div class="row col-12 generales oculto activo">
                <div class="form" style="width:100%">
                    <div class="dx-fieldset">
                        <div class="dx-field row">
                            <div class="dx-field-label col-3">Embarcación:</div>
                            <div class="dx-field-value">
                                @(Html.DevExtreme().TextBoxFor(model => model.TMASBTBITACEL.Barco).ReadOnly(true))
                            </div>
                        </div>
                        <div class="dx-field row">
                            <div class="dx-field-label col-3">Razón Social:</div>
                            <div class="dx-field-value">
                                @(Html.DevExtreme().TextBoxFor(model => model.TMASBTBITACEL.RazonSocial).ReadOnly(true))
                            </div>
                        </div>
                        <div class="dx-field row">
                            <div class="dx-field-label col-3">Matricula:</div>
                            <div class="dx-field-value">
                                @(Html.DevExtreme().TextBoxFor(model => model.TMASBTBITACEL.Matricula).ReadOnly(true))
                            </div>
                        </div>
                        <div class="dx-field row">
                            <div class="dx-field-label col-3">RNP:</div>
                            <div class="dx-field-value">
                                @(Html.DevExtreme().TextBoxFor(model => model.TMASBTBITACEL.RNP).ReadOnly(true))
                            </div>
                        </div>
                        <div class="dx-field row">
                            <div class="dx-field-label col-3">Puerto Base:</div>
                            <div class="dx-field-value">
                                @(Html.DevExtreme().TextBoxFor(model => model.TMASBTBITACEL.PuertoBase).ReadOnly(true))
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row col-12 alertas oculto">
                <div class="form" style="width:100%">
                    <div class="dx-fieldset">
                        <div class="dx-field row">
                            <div class="dx-field-label col-6">Persona, Empresa o Dependencia a quien se realizo la llamada:</div>
                            <div class="dx-field-value col-6">
                                @(Html.DevExtreme().TextBoxFor(model => model.TMASBTBITACEL.Empresa).ReadOnly(true))
                            </div>
                        </div>
                        <div class="dx-field row">
                            <div class="dx-field-label col-6">Nombre de la persona que atendio la llamada:</div>
                            <div class="dx-field-value col-6">
                                @(Html.DevExtreme().TextBoxFor(model => model.TMASBTBITACEL.Atendio).ReadOnly(true))
                            </div>
                        </div>
                        <div class="dx-field row">
                            <div class="dx-field-label col-6">Lugar que se hizo la llamada:</div>
                            <div class="dx-field-value col-6">
                                @(Html.DevExtreme().TextBoxFor(model => model.TMASBTBITACEL.Lugar).ReadOnly(true))
                            </div>
                        </div>
                        <div class="dx-field row">
                            <div class="dx-field-label col-6">OFP que realizo la llamada:</div>
                            <div class="dx-field-value col-6">
                                @(Html.DevExtreme().TextBoxFor(model => model.TMASBTBITACEL.OFP).ReadOnly(true))
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row col-12 comentarios oculto" style="padding-top:20px">
                <div class="form" style="width:100%">
                    <div class="dx-fieldset">
                        <div class="dx-field row">
                            <div class="dx-field-label col-4">Descripción de la actividad:</div>
                            <div class="dx-field-value col-8">
                                @(Html.DevExtreme().TextAreaFor(model => model.TMASBTBITACEL.Descripcion).Height(200).ReadOnly(true))
                            </div>
                        </div>
                        <div class="dx-field row">
                            <div id="grid" class="col-12">
                                @(Html.DevExtreme().DataGrid<MASCore.ModelReference.TMasBTControlTelefonos>()
                                            .ID("gridContainer")
                                            .DataSource(Model.TMASBTCONTROLTELEFONOS_LISTA, new string[] { "IdBitaCel" })
                                            .ShowColumnLines(true)
                                            .ShowRowLines(true)
                                            .RowAlternationEnabled(true)
                                            .ShowBorders(true)
                                            .Pager(p => p
                                                .AllowedPageSizes(new int[] { 5, 8, 15, 30 })
                                                .ShowInfo(true)
                                                .ShowNavigationButtons(true)
                                                .ShowPageSizeSelector(true)
                                                .Visible(true))
                                            .Paging(p => p.PageSize(5))
                                            .ShowColumnHeaders(true)
                                            .WordWrapEnabled(true)
                                            .Columns(columns =>
                                            {
                                                columns.AddFor(m => m.Tipo).Caption("Tipo").Width(100);
                                                columns.AddFor(m => m.Numero).Caption("Numero").Width(100);
                                                columns.AddFor(m => m.Fecha).Caption("Fecha").Format(Format.ShortDate).Width(100);
                                                columns.AddFor(m => m.Hora).Caption("Hora").Format(Format.ShortTime).Width(50);
                                                columns.AddFor(m => m.Respuesta).Caption("Respuesta").Width(50).CellTemplate(@<text>
                                                    <% if (value === true) { %>
                                                    SI
                                                    <% } else { %>
                                                    NO
                                                    <% } %>
                                                </text>);
                                                                    })
                                )
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row col-12 archivos oculto">
                <div style="padding-top:20px">
                    @(Html.DevExtreme().DataGrid<MASCore.DataModel.BuscaCargaImagenesTipo_Result>().ID("gridImagenes").DataSource(Lista, new string[] { "Id" })
                                .ColumnHidingEnabled(true).ShowColumnLines(true).ShowRowLines(true).RowAlternationEnabled(true).ShowBorders(true)
                                .Pager(p => p.AllowedPageSizes(new int[] { 5, 8, 15, 30 }).ShowInfo(true).ShowNavigationButtons(true).ShowPageSizeSelector(true).Visible(true))
                                .Paging(p => p.PageSize(5)).ShowColumnHeaders(true).WordWrapEnabled(true)
                                .Columns(columns =>
                                {
                                    columns.AddFor(m => m.Id).Caption("Id").Width(50);
                                    columns.AddFor(m => m.Identificador).Caption("Identificador").Width(200);
                                    columns.AddFor(m => m.Tipo).Caption("Tipo").Width(200);
                                    columns.AddFor(m => m.Rnp).Caption("Rnp").Width(150);
                                    columns.AddFor(m => m.Fecha).Caption("Fecha").Width(100).Format(Format.ShortDate);
                                    columns.AddFor(m => m.Consecutivo).Caption("Consecutivo").Width(200);
                                    columns.AddFor(m => m.Id).Caption("Acción para imagen").Width(200).CellTemplate(
                                    @<text>
                                        &nbsp;&nbsp;
                                        <a title="Ver Imagen" href='../../CargaImagenes/VerImagen/<%= value %>?rnp=<%= data.Rnp %>&rutabase=<%= data.RutaBase %>&tipo=<%= data.Tipo %>&identificador=<%= data.Identificador %>&consecutivo=<%= data.Consecutivo %>' target="_blank"><i class="dx-icon fas fa-image tamanoIconoEnGrid"></i></a>
                                        &nbsp;&nbsp; | &nbsp;&nbsp;
                                        <a title="Descargar" href='../../CargaImagenes/DescargarImagen/<%= value %>?rnp=<%= data.Rnp %>&rutabase=<%= data.RutaBase %>&tipo=<%= data.Tipo %>&identificador=<%= data.Identificador %>&consecutivo=<%= data.Consecutivo %>' target="_blank"><i class="dx-icon fa fa-download tamanoIconoEnGrid"></i></a>
                                    </text>
                                                        );
                                                        }))
                </div>
            </div>
        </div>
    </div>
</div>
