﻿@model MASCore.Models.LlamadaModel
@using Microsoft.AspNetCore.Http.Extensions

@{
    ViewBag.Title = "Edición de Llamada";
}

<div style="text-align:center; color:Red;font-size:medium">
    @ViewBag.NoValidoPor
</div>

@using (Html.BeginForm("Edit", "Llamadas", FormMethod.Post))
{
    @Html.ValidationSummary(true)

    <article>
        <div class="row">
            <div class="col-4">
                <h1>Editar Llamada</h1>
            </div>
            <div class="col-8 text-right">
                <script>
                    var idCedula = '@Model.TMASBTBITACEL.IdBitaCel';
                    var urlComback = '@Url.Action("Index", "Llamadas", null, UriHelper.GetDisplayUrl(Context.Request));
                    var buscarembarcaciones = '@Url.Action("BuscarEmbarcaciones", "Llamadas", null, UriHelper.GetDisplayUrl(Context.Request));
                    var agregarllamada = '@Url.Action("AgregarLlamada", "Llamadas", null, UriHelper.GetDisplayUrl(Context.Request));
                    var borrarllamada = '@Url.Action("BorrarLlamada", "Llamadas", null, UriHelper.GetDisplayUrl(Context.Request));
                </script>
                <div class="row">
                    <div class="col-9"></div>
                    <div class="col-1" style="padding:0">
                        @(Html.DevExtreme().Button().ID("save").Icon("fa fa-save").UseSubmitBehavior(true).Type(ButtonType.Default))
                        @(Html.DevExtreme().Tooltip().Target("#save").ShowEvent("mouseenter").HideEvent("mouseleave").ContentTemplate("Guardar"))
                    </div>
                    <div class="col-1" style="padding:0">
                        @(Html.DevExtreme().Button().Icon("fas fa-undo-alt").ID("regresar").UseSubmitBehavior(false).Type(ButtonType.Default).OnClick(@"function(args){comback(urlComback)}"))
                        @(Html.DevExtreme().Tooltip()
                                                    .Target("#regresar")
                                                    .ShowEvent("mouseenter")
                                                    .HideEvent("mouseleave")
                                                    .ContentTemplate("Regresar a la página anterior")
                        )
                    </div>
                </div>
            </div>
        </div>
    </article>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h4>
                    <div class="row">
                        <div class="col-3" style="padding: 8px 0 0 0;margin: 0;text-align: center;">
                            <b>IdBitaCel:</b>
                        </div>
                        <div class="col-9" style="padding: 0;margin: 0;">
                            @Html.HiddenFor(model => model.TMASBTBITACEL.IdBitaCel)
                            <input type="hidden" value="Guardar" name="submitButton" />
                            @(Html.DevExtreme().TextBoxFor(model => model.TMASBTBITACEL.IdBitaCel).Placeholder("IdBitaCel").ID("titIdBitaCel").Disabled(true))
                        </div>
                    </div>
                </h4>
                <div class="dx-fieldset">
                    <div class="dx-field row">
                        <label class="dx-field-label col-4">Fecha de la Cedula:</label>
                        <div class="dx-field-value col-8">
                            @(Html.DevExtreme().DateBoxFor(model => model.TMASBTBITACEL.Fecha).DisplayFormat("dd/MM/yyyy"))
                            @Html.ValidationMessageFor(model => model.TMASBTBITACEL.Fecha)
                        </div>
                    </div>
                    <div class="dx-field row">
                        <label class="dx-field-label col-4">Seleccione el tipo de actividad que corresponda:</label>
                        <div class="dx-field-value col-8">
                            @(Html.DevExtreme().SelectBoxFor(model => model.TMASBTBITACEL.Actividad).DisplayExpr("Resultado").ValueExpr("Resultado")
                                                .Placeholder("-- Seleccione un Tipo de Actividad --").Width("100%").DeferRendering(false)
                                                .DataSource(d => d.Mvc().LoadAction("GetActividades"))
                                                .ElementAttr("class", "form-control").ShowClearButton(true).AcceptCustomValue(true)
                            )
                            @Html.ValidationMessageFor(model => model.TMASBTBITACEL.Actividad)
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row col-12">
                    @{
                        var tabs = new object[] {
                                                    new { id = "generales", text = "Datos de la Embarcación", icon = "fa fa-ship" },
                                                    new { id = "alertas", text = "Datos de la Persona", icon = "fas fa-user" },
                                                    new { id = "comentarios", text = "Datos de Llamadas", icon = "fas fa-phone" }
                                                };
                    }
                    @(Html.DevExtreme().Tabs().DataSource(tabs).ScrollByContent(true).ShowNavButtons(true).SelectedIndex(0).OnItemClick("tabs_itemClick"))
                </div>
                <div class="row col-12 generales oculto activo">
                    <div class="form" style="width:100%">
                        <div class="dx-fieldset">
                            <div class="dx-field row">
                                <label class="dx-field-label col-3">Embarcación:</label>
                                <div class="dx-field-value">
                                    @(Html.DevExtreme().TextBoxFor(model => model.TMASBTBITACEL.Barco).ID("Barco"))
                                </div>
                            </div>
                            <div class="dx-field row">
                                <label class="dx-field-label col-3">Razón Social:</label>
                                <div class="dx-field-value">
                                    @(Html.DevExtreme().TextBoxFor(model => model.TMASBTBITACEL.RazonSocial).ID("RazonSocial"))
                                </div>
                            </div>
                            <div class="dx-field row">
                                <label class="dx-field-label col-3">Matricula:</label>
                                <div class="dx-field-value">
                                    @(Html.DevExtreme().TextBoxFor(model => model.TMASBTBITACEL.Matricula).ID("Matricula"))
                                </div>
                            </div>
                            <div class="dx-field row">
                                <label class="dx-field-label col-3">RNP:</label>
                                <div class="dx-field-value">
                                    @(Html.DevExtreme().TextBoxFor(model => model.TMASBTBITACEL.RNP).ID("RNP"))
                                </div>
                            </div>
                            <div class="dx-field row">
                                <label class="dx-field-label col-3">Puerto Base:</label>
                                <div class="dx-field-value">
                                    @(Html.DevExtreme().TextBoxFor(model => model.TMASBTBITACEL.PuertoBase).ID("PuertoBase"))
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    @(Html.DevExtreme().Button().Icon("fas fa-search").ID("buscarembarcaciones").UseSubmitBehavior(false).Type(ButtonType.Default).OnClick("llamdastelefonicas.showPopUp"))
                                    @(Html.DevExtreme().Tooltip().Target("#buscarembarcaciones").ShowEvent("mouseenter").HideEvent("mouseleave").ContentTemplate("Buscar embarcaciones"))
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row col-12 alertas oculto">
                    <div class="form" style="width:100%">
                        <div class="dx-fieldset">
                            <div class="dx-field row">
                                <label class="dx-field-label col-4">Persona, Empresa o Dependencia a quien se realizo la llamada:</label>
                                <div class="dx-field-value col-8">
                                    @(Html.DevExtreme().TextBoxFor(model => model.TMASBTBITACEL.Empresa))
                                </div>
                            </div>
                            <div class="dx-field row">
                                <label class="dx-field-label col-4">Nombre de la persona que atendio la llamada:</label>
                                <div class="dx-field-value col-8">
                                    @(Html.DevExtreme().TextBoxFor(model => model.TMASBTBITACEL.Atendio))
                                </div>
                            </div>
                            <div class="dx-field row">
                                <label class="dx-field-label col-4">Lugar que se hizo la llamada:</label>
                                <div class="dx-field-value col-8">
                                    @(Html.DevExtreme().TextBoxFor(model => model.TMASBTBITACEL.Lugar))
                                </div>
                            </div>
                            <div class="dx-field row">
                                <label class="dx-field-label col-4">OFP que realizo la llamada:</label>
                                <div class="dx-field-value col-8">
                                    @(Html.DevExtreme().SelectBoxFor(model => model.TMASBTBITACEL.OFP).DisplayExpr("Resultado").ValueExpr("Resultado")
                                                        .Placeholder("-- Seleccione un Responsable OFP --").Width("100%").DeferRendering(false)
                                                        .DataSource(d => d.Mvc().LoadAction("GetResponsablesOFP"))
                                                        .ElementAttr("class", "form-control").ShowClearButton(true).AcceptCustomValue(true)
                                    )
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row col-12 comentarios oculto" style="padding-top:20px">
                    <div class="form" style="width:100%">
                        <div class="dx-fieldset">
                            <div class="dx-field row">
                                <label class="dx-field-label col-3">Descripción de la actividad:</label>
                                <div class="dx-field-value col-9">
                                    @(Html.DevExtreme().TextAreaFor(model => model.TMASBTBITACEL.Descripcion).Height(200))
                                </div>
                            </div>
                            <div class="dx-field row">
                                <label class="dx-field-label col-3">Fecha</label>
                                <div class="dx-field-value col-9">
                                    @(Html.DevExtreme().DateBoxFor(model => model.TMASBTCONTROLTELEFONOS.Fecha).ID("fechaLlamada").Type(DateBoxType.Date).DisplayFormat("dd/MM/yyyy")
                                                       .Placeholder("Fecha").Width("100%").ElementAttr("class", "form-control").ShowClearButton(true))
                                </div>
                            </div>
                            <div class="dx-field row">
                                <label class="dx-field-label col-3">Hora (HH:MM:SS)</label>
                                <div class="dx-field-value col-9">
                                    @{
                                        var hora = DateTime.Now;

                                        if (Model.TMASBTCONTROLTELEFONOS != null)
                                        {
                                            try
                                            {
                                                hora = Model.TMASBTCONTROLTELEFONOS.Hora == null ? DateTime.Now : DateTime.ParseExact(Model.TMASBTCONTROLTELEFONOS.Hora, "HH:mm:ss", null, System.Globalization.DateTimeStyles.None);
                                            }
                                            catch (Exception)
                                            {
                                                try
                                                {
                                                    hora = Model.TMASBTCONTROLTELEFONOS.Hora == null ? DateTime.Now : DateTime.ParseExact(Model.TMASBTCONTROLTELEFONOS.Hora, "HH:mm", null, System.Globalization.DateTimeStyles.None);
                                                }
                                                catch (Exception) { }
                                            }
                                        }
                                    }
                                    @(Html.DevExtreme().DateBox().Type(DateBoxType.Time).ID("mireloj").ShowAnalogClock(true).PickerType(DateBoxPickerType.Rollers).DisplayFormat("HH:mm:ss")
                                                        .Placeholder("Hora").Width("100%").ElementAttr("class", "form-control").ShowClearButton(true).Value(hora).OnValueChanged("llamdastelefonicas.dateBox_valueChanged")
                                    )
                                    @(Html.DevExtreme().TextBoxFor(m => m.TMASBTCONTROLTELEFONOS.Hora).ElementAttr("style", "display:none;visibility:hidden").ID("horario"))
                                </div>
                            </div>
                            <div class="dx-field row">
                                <label class="dx-field-label col-3">Tipo</label>
                                <div class="dx-field-value col-9">
                                    @(Html.DevExtreme().SelectBox().DisplayExpr("Resultado").ValueExpr("Resultado")
                                                        .Placeholder("-- Seleccione un Tipo --").Width("100%").DeferRendering(false)
                                                        .DataSource(d => d.Mvc().LoadAction("GetBTTipos")).Name("bttipos").ID("tipoLlamada")
                                                        .ElementAttr("class", "form-control").ShowClearButton(true).AcceptCustomValue(true)
                                    )
                                </div>
                            </div>
                            <div class="dx-field row">
                                <label class="dx-field-label col-3">Numero</label>
                                <div class="dx-field-value col-9">
                                    @(Html.DevExtreme().TextBoxFor(model => model.TMASBTCONTROLTELEFONOS.Numero).Placeholder("Teléfono").ID("telefonoLlamada")
                                                        .ElementAttr("class", "form-control").ShowClearButton(true).Mask("(00) 0000-0000").MaskRules(new { X = new JS("/[02-9]/") })
                                                        .ShowMaskMode(ShowMaskMode.Always).UseMaskedValue(true))
                                </div>
                            </div>
                            <div class="dx-field row">
                                <label class="dx-field-label col-3">Respuesta</label>
                                <div class="dx-field-value col-9">
                                    @(Html.DevExtreme().SelectBox().DisplayExpr("Resultado").ValueExpr("Resultado")
                                                        .Placeholder("-- Seleccione una Respuesta --").Width("100%").DeferRendering(false)
                                                        .DataSource(d => d.Mvc().LoadAction("GetRespuestas")).Name("respuestallamada").ID("respuestallamada")
                                                        .ElementAttr("class", "form-control").ShowClearButton(true).AcceptCustomValue(true)
                                    )
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-10"></div>
                                <div class="col-1" style="padding-right: 0px;margin-right: 0px;text-align: right;margin-top: auto;">
                                    @(Html.DevExtreme().LoadIndicator().ID("button-indicator").Height(20).Width(20).Visible(false))
                                </div>
                                <div class="col-1" style="padding:0">
                                    @(Html.DevExtreme().Button().Icon("fas fa-plus-circle").ID("agregarllamada").Type(ButtonType.Default).StylingMode(ButtonStylingMode.Contained).UseSubmitBehavior(false).OnClick("llamdastelefonicas.AgregarLlamada"))
                                    @(Html.DevExtreme().Tooltip().Target("#agregarllamada").ShowEvent("mouseenter").HideEvent("mouseleave").ContentTemplate("Agregar Llamadas"))
                                </div>
                            </div>
                            <div class="row col-12">
                                <div class="alert alert-warning" id="alerta">
                                    <button type="button" class="close" data-dismiss="alert">x</button>
                                    <strong>¡ Atención ! </strong><br />
                                    <span id="mensaje"></span>
                                </div>
                            </div>
                            <div class="dx-field row">
                                <div id="grid" class="col-12">
                                    @(Html.DevExtreme().DataGrid<MASCore.ModelReference.TMasBTControlTelefonos>()
                                                        .ID("gridTelefonos")
                                                        .DataSource(Model.TMASBTCONTROLTELEFONOS_LISTA, new string[] { "IdControl" })
                                                        .ShowColumnLines(true)
                                                        .ShowRowLines(true)
                                                        .RowAlternationEnabled(true)
                                                        .ShowBorders(true)
                                                        .Pager(p => p
                                                            .AllowedPageSizes(new int[] { 5, 8, 15, 30 })
                                                            .ShowInfo(true)
                                                            .ShowNavigationButtons(true)
                                                            .ShowPageSizeSelector(true)
                                                            .Visible(true))
                                                        .Paging(p => p.PageSize(5))
                                                        .ShowColumnHeaders(true)
                                                        .WordWrapEnabled(true)
                                                        .Columns(columns =>
                                                        {
                                                            columns.AddFor(m => m.Tipo).Caption("Tipo").Width(100);
                                                            columns.AddFor(m => m.Numero).Caption("Numero").Width(100);
                                                            columns.AddFor(m => m.Fecha).Caption("Fecha").Format(Format.ShortDate).Width(100);
                                                            columns.AddFor(m => m.Hora).Caption("Hora").Format(Format.ShortTime).Width(100);
                                                            columns.AddFor(m => m.Respuesta).Caption("Respuesta").Width(50).CellTemplate(@<text>
                                                                <% if (value === true) { %>
                                                                SI
                                                                <% } else { %>
                                                                NO
                                                                <% } %>
                                                            </text>);
                                                                                                columns.AddFor(m => m.IdControl).Caption("Acción").Width(50).CellTemplate(@<text>
                                                                                                    <a title="Borrar" href="javascript:llamdastelefonicas.BorrarLlamada('<%= value %>')">
                                                                                                        <i class="dx-icon fas fa-trash-alt tamanoIconoEnGrid"></i>
                                                                                                    </a>
                                                                                                </text>);
                                                                                                                })
                                    )
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}

@(Html.DevExtreme().Popup()
            .ID("popup")
            .ElementAttr("class", "popup")
            .ShowTitle(true)
            .Title("Busca Información de Embarcación")
            .Visible(false)
            .DragEnabled(false)
            .CloseOnOutsideClick(true)
)

@using (Html.DevExtreme().NamedTemplate("popup-template"))
{
    <div class="row">
        <div class="col-6">
            <div class="row col-12" style="padding-bottom:5px">
                @(Html.DevExtreme().SelectBox().DisplayExpr("Resultado").ValueExpr("Resultado").DeferRendering(false)
                                    .DataSource(d => d.Mvc().LoadAction("GetOpcionesBusqueda")).ID("embarcaciones-tipo")
                                    .Placeholder("-- Seleccione el Tipo de Alerta --").Width("100%").ElementAttr("class", "form-control").ShowClearButton(true)
                )
                @(Html.DevExtreme().Tooltip().Target("#embarcaciones-tipo").ShowEvent("mouseenter").HideEvent("mouseleave")
                                    .ContentTemplate(@<text>Seleccionar en este campo el <b>Tipo de Atributo de la embarcación</b>, dicha información se usuará para realizar la búsqueda de embarcaciones</text>))
            </div>
        </div>
        <div class="col-6">
            <div class="row col-12" style="padding-bottom:5px">
                @(Html.DevExtreme().TextBox().ID("embarcaciones-valor").Placeholder("-- Indique la palabra a buscar --").Width("100%").ElementAttr("class", "form-control").ShowClearButton(true))
                @(Html.DevExtreme().Tooltip().Target("#embarcaciones-valor").ShowEvent("mouseenter").HideEvent("mouseleave").ContentTemplate(@<text>Indicar en este campo la <b>Palabra a buscar del tipo seleccionado</b>, dicha información se usuará para realizar la búsqueda de embarcaciones</text>))
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-10"></div>
        <div class="col-1" style="padding-right: 0px;margin-right: 0px;text-align: right;margin-top: auto;">
            @(Html.DevExtreme().LoadIndicator().ID("embarcaciones-indicator").Height(20).Width(20).Visible(false))
        </div>
        <div class="col-1">
            @(Html.DevExtreme().Button().Icon("fas fa-search").ID("embarcaciones-buscar").Type(ButtonType.Default).StylingMode(ButtonStylingMode.Contained).UseSubmitBehavior(false).OnClick("llamdastelefonicas.ReloadGridEmbarcaciones"))
            @(Html.DevExtreme().Tooltip().Target("#embarcaciones-buscar").ShowEvent("mouseenter").HideEvent("mouseleave").ContentTemplate("Buscar Información"))
        </div>
    </div>
    <div class="row" style="padding-top:5px">
        <div class="col-12">
            @(Html.DevExtreme().DataGrid<MASCore.ModelReference.SPMASBuscaInformacionDeEmbarcacionyPangas_Result>()
                                .ID("gridEmbarcaciones")
                                .DataSource(Model.InformacionDeEmbarcacion, new string[] { "Matricula" })
                                .ColumnHidingEnabled(true)
                                .ShowColumnLines(true)
                                .ShowRowLines(true)
                                .RowAlternationEnabled(true)
                                .ShowBorders(true)
                                .Pager(p => p
                                    .AllowedPageSizes(new int[] { 3, 5 })
                                    .ShowInfo(true)
                                    .ShowNavigationButtons(true)
                                    .ShowPageSizeSelector(true)
                                    .Visible(true))
                                .Paging(p => p.PageSize(5))
                                .ShowColumnHeaders(true)
                                .WordWrapEnabled(true)
                                .Columns(columns =>
                                {
                                    columns.AddFor(m => m.Matricula).Caption("Matricula");
                                    columns.AddFor(m => m.Nombre).Caption("Nombre Barco");
                                    columns.AddFor(m => m.SerieAntena).Caption("Serie Antena");
                                    columns.AddFor(m => m.Localidad).Caption("Localidad");
                                    columns.AddFor(m => m.RNP).Caption("RNP");
                                    columns.AddFor(m => m.Permiso).Caption("Permiso");
                                    columns.AddFor(m => m.TipoPermiso).Caption("Tipo Permiso");
                                    columns.AddFor(m => m.RazonSocial).Caption("Razón Social");
                                    columns.AddFor(m => m.RepLegal).Caption("Representante Legal");
                                    columns.AddFor(m => m.RNPTitular).Caption("RNP Titular");
                                    columns.AddFor(m => m.Matricula).Caption("Acción").CellTemplate(@<text>
                                        <a title="Seleccionar" href="javascript:llamdastelefonicas.RegresaValoresEmbarcacion('<%= data.Nombre %>','<%= data.RazonSocial %>','<%= value %>','<%= data.RNP %>','<%= data.PuertoBASe %>')">
                                            <i class="dx-icon fa fa-hand-pointer tamanoIconoEnGrid"></i>
                                        </a>
                                    </text>);
                                                            })
            )
        </div>
    </div>
}
    <script src="~/Scripts/MAS/LlamadasTelefonicas.js"></script>

