﻿@model IEnumerable<MASCore.DataModel.BuscaLlamadas_Result>

@{
    Layout = "~/Views/Shared/_PdfLayout.cshtml";
}

<table width="100%" cellpadding="1.0" cellspacing="1.0"   widths="1;4;1">
    <row>
        <cell>
            <img src="~/images/Logo1.jpg" /> />
        </cell>
        <cell horizontalalign="Default" verticalalign="Default">
            <paragraph style="font-size: 13;font-weight:normal;" red="60" green="60" blue="60" align="Center">
                COMISION NACIONAL DE ACUACULTURA Y PESCA <br />
                DIRECCIÓN GENERAL DE INSPECCION Y VIGILANCIA <br />
            </paragraph>
            <chunk style="font-size: 13;font-weight:normal" red="60" green="60" blue="60" align="Center">  DIRECCIÓN DE MONITOREO Y COORDINACIÓN</chunk> 
        </cell>
        <cell>
            <img src="~/images/Logo2.jpg" /> 
        </cell>
    </row>
</table>

<paragraph style="font-family: Helvetica; font-size: 16; "  align="Center">
	<chunk style="font-weight:normal;" red="60" green="60" blue="60">REPORTE - LLAMADAS </chunk>
</paragraph>

<table width="100%" cellpadding="1.0" cellspacing="1.0"   widths="3;3;2">
    <row>
        <cell colspan="2"> Impreso por: @Html.Encode(Context.Request.Cookies["userName"].ToString().ToUpper()) </cell>
        @*<cell></cell>*@
        <cell> Fecha: @DateTime.Now.Date.ToShortDateString()  </cell>
    </row>
</table>

@if (Model != null)
{


foreach (var item in Model) 
{
    <table width="100%" cellpadding="1.0" cellspacing="1.0"  border="2" widths=".7;1;1;.7;.7;1;1" red="255" green="255" blue="255" align="left">
        <row>
            <cell colspan="3" borderwidth="0.5" left="true" right="true" top="true" bottom="true" header="true" leading="18.0">            	         
                <chunk style="font-family: Helvetica; font-size: 10;font-weight:bold;text-align:center">
                    LLAMADA
                </chunk>             
            </cell>
            @*3*@
            <cell colspan="4" borderwidth="0.5" left="false" right="false" top="false" bottom="false" header="true" leading="18.0">            	         
                <chunk style="font-family: Helvetica; font-size: 10;font-weight:bold;text-align:center">
                    
                </chunk>             
            </cell>
        </row>
        @* ------------------                 PRIMER RENGLON                     ------------------------*@
        <row>
	        <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" header="true" leading="18.0">            	         
                <chunk style="font-family: Helvetica; font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                        Id
                </chunk>             
            </cell>	   
	        <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
                <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                        Fecha
                </chunk>
            </cell>
            <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
                <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                        Hora
                </chunk>
            </cell>
            <cell  borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;" red="10" green="100" blue="100">
                    Respuesta
                </chunk>
            </cell>  
            <cell colspan="3" borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
                <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                       Barco
                </chunk>
            </cell>                         
        </row>
        <row>
            <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;">                        
                        @item.IdBitaCel
                </chunk>
            </cell>	        
            <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
                <chunk style="font-family:Helvetica;font-size: 9;">
                        @item.Fecha.Value.ToShortDateString()
                </chunk>
            </cell> 
            <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 9;">
                        @item.Hora
                </chunk>
            </cell> 
            <cell  borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 9;">
                    @item.Respuesta
                </chunk>
            </cell> 
            <cell colspan="3" borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 9;">
                        @item.Barco
                </chunk>
            </cell>                                  
        </row>
        @* ------------------                 SEGUNDO RENGLON                     ------------------------*@
        <row>
	        <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" header="true" leading="18.0">            	         
                <chunk style="font-family: Helvetica; font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                        RNP
                </chunk>             
            </cell>	   
	        <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
                <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                        Matricula
                </chunk>
            </cell>
            <cell colspan="3" borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
                <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;" red="10" green="100" blue="100">
                    Razón Social
                </chunk>
            </cell>
            <cell colspan="2" borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
                <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                       OFP
                </chunk>
            </cell>                         
        </row>
        <row>
            <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 9;">                        
                        @item.RNP
                </chunk>
            </cell>	        
            <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
                <chunk style="font-family:Helvetica;font-size: 9;">
                        @item.Matricula
                </chunk>
            </cell> 
            <cell colspan="3" borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 9;">
                        @item.RazonSocial
                </chunk>
            </cell> 
            <cell colspan="2" borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 9;">
                        @item.OFP
                </chunk>
            </cell>                                  
        </row>


    </table>   
}

}






@*
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GeneratePdfLlamadas</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Barco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RNP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Matricula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RazonSocial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OFP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdBitaCel)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Barco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RNP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Matricula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RazonSocial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OFP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdBitaCel)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>

*@