﻿
@model IEnumerable<MASCore.TMasCedula>
@*@model MASCore.Models.AlarmasTipoModel*@




@{
    ViewBag.Title = "Index";
}
@{ DateTime miVariable = DateTime.Now; }



@*
     <div class="editor-label">Tipo</div>
            <div class="editor-field">
                @Html.DropDownList("Estatus", new SelectList(new[] { "","MANTENIMIENTO", "INSTALACION DE EQUIPO" }))
            </div>

     @DateTime.Now

    @Html.Label("DOB")
    @Html.TextBox("DOB", miVariable)
    <h2>Index</h2>
*@
@*<p>
        @Html.ActionLink("Nueva Cedula", "Create")
    </p>*@

@Html.ActionLink("Regresar a Opciones de Cedula", "Opciones")


@using (Html.BeginForm())
{
    <fieldset>
        <legend>Criterios de consulta</legend>

        <div class="div-left">
            <table>
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.CheckBox("rangofechas", false) Rango de Fechas
                        </div>
                    </td>
                    <td>
                        <div class="editor-label">Fecha Inicial</div>
                        <div class="editor-field">
                            @Html.TextBox("fechainicial", @DateTime.Now)
                            @* @Html.TextBox(@ViewBag.fechainicial)*@
                            @* @Html.TextBox(model => model.datetime, @DateTime.Now)*@
                        </div>
                        <div class="editor-label">Fecha Final</div>
                        <div class="editor-field">
                            @Html.TextBox("fechafinal", @DateTime.Now)
                        </div>
                    </td>

                </tr>
                <tr>
                    <td>
                        @Html.CheckBox("tipodecedula", false) Tipo De Cedula
                    </td>
                    <td>
                        <div class="editor-field">
                            @*@Html.DropDownList("alarmas_", ViewData["alarmas"] as SelectList, "(none)") *@
                            @*   DropDownList takes IEnumerable<SelectListItem>*@
                            @*  My favorite pet:*@









                            @Html.DropDownList("alarmas", ViewData["alarmas"] as SelectList)
                            @*  @Html.DropDownList("IdTipoAlarma", @ViewBag.IdTipoAlarma as SelectList )    @*     string.Empty     *@
                            @*@Html.DropDownList("AlarmasTipo","-- Seleccionar  --")*@
                            @* @Html.DropDownList("AlarmasTipoSeleccionada", ViewBag.AlarmasTipo as IEnumerable<SelectListItem>)*@
                            @Html.DropDownList("tipodecedula", new SelectList(new[] { "", "SIN TRANSMISION", "PESCA PROHIBIDA" }))
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.CheckBox("causasdelaemergencia", false) Causas de la Emergencia
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.DropDownList("causasdelaemergencia", new SelectList(new[] { "", "EMBARCACIÓN CON FALLA MECANICA/ELECTRICA", "FALSA ALARMA" }))
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        Numero de Cedula
                    </td>
                    <td>
                        @Html.TextBox("numerodecedula")
                    </td>
                </tr>
                <tr>
                    <td>
                        Responsable
                    </td>
                    <td>
                        @*<div class="editor-field">*@
                        @Html.TextBox("Responsable")
                        @* </div>*@
                    </td>
                </tr>

            </table>


            @*        <div class="editor-label">Numero de Reporte</div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Id_Reporte)
                </div>

                <div class="editor-label">Oficio Astrum</div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.NoOficio)
                </div>

                <div class="editor-label">Tipo</div>
                <div class="editor-field">
                    @Html.DropDownList("Estatus", new SelectList(new[] { "","MANTENIMIENTO", "INSTALACION DE EQUIPO" }))
                </div>

                <div class="editor-label">Estatus</div>
                <div class="editor-field">
                    @Html.DropDownList("Estatus",new SelectList(new[]{"","ABIERTO","CERRADO"}))
                </div>

            *@
        </div>

        <div class="div-rigth">
            <table>
                <tr>
                    <td>
                        Tipo Permiso
                    </td>
                    <td>
                        @Html.TextBox("tipopermiso")
                    </td>
                </tr>
                <tr>
                    <td>
                        Nombre del Barco
                    </td>
                    <td>
                        @Html.TextBox("nombredelbarco")
                    </td>
                </tr>
                <tr>
                    <td>
                        RNP del Barco
                    </td>
                    <td>
                        @Html.TextBox("rnpdelbarco")
                    </td>
                </tr>
                <tr>
                    <td>
                        Razón Social
                    </td>
                    <td>
                        @Html.TextBox("razonsocial")
                    </td>
                </tr>
                <tr>
                    <td>
                        Puerto Base
                    </td>
                    <td>
                        @*<div class="editor-field">*@
                        @Html.TextBox("puertobase")
                        @* </div>*@
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.CheckBox("litoral", false) Litoral
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.DropDownList("litoral", new SelectList(new[] { "", "PACIFICO", "GOLFO DE MEXICO" }))
                        </div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <div class="editor-field">
                            <input type="submit" value="BUSCAR" />
                        </div>
                    </td>
                </tr>

            </table>
        </div>

        @*---------------------------------------------*@

        @*
            <div class="div-rigth">
                <div class="editor-label">Embarcacion</div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Barco)
                </div>

                <div class="editor-label">Localidad</div>
                <div class="editor-field">
                    @Html.DropDownList("RazonSocial",new SelectList(new[]{"","TOPOLOBAMPO", "MAZATLAN"}))
                </div>

                <div class="editor-label">Supervisor</div>
                <div class="editor-field">
                    @Html.DropDownList("RazonSocial",new SelectList(new[]{"","GUILLERMO PAEZ", "HECTOR CASTAÑEDA"}))
                </div>

                <div class="editor-label">Razon Social</div>
                <div class="editor-field">
                    @Html.DropDownList("RazonSocial",new SelectList(new[]{"","PESCA AZTECA S.A.", "COOPERATIVA 16 DE SEPTIEMBRE"}))
                </div>

                <div class="editor-label">Folio</div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Id_Mantto)
                </div>

            </div>*@
    </fieldset>
}



</br>
</br>
</br>
</br>
<table>
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.NoCedula)*@
            @Html.DisplayNameFor(model => model.NoCedula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoAlerta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaCedula)

        </th>
        <th>
            @Html.DisplayNameFor(model => model.Latitud)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Longitud)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Velocidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Profundidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DistanciaCosta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zona)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Referencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Causas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UltimaTx)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaAlerta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoraAlerta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MatriculaBarco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreBarco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RNP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoPermiso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PuertoBase)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RazonSocial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Litoral)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Domicilio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contacto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Puesto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comentarios)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Anexos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OFP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Turno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreContactada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PuestoContactada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TelefonoContactada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Llamada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vigencias)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Periodo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NoCedula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoAlerta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCedula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latitud)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Longitud)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Velocidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Profundidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DistanciaCosta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zona)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Referencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Causas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UltimaTx)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaAlerta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraAlerta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatriculaBarco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreBarco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RNP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoPermiso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PuertoBase)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RazonSocial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Litoral)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Domicilio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contacto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Puesto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comentarios)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Anexos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OFP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Turno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreContactada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PuestoContactada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelefonoContactada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Llamada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vigencias)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Periodo)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IdCedula }) |
                @Html.ActionLink("Details", "Details", new { id = item.IdCedula }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IdCedula })
            </td>
        </tr>
    }

</table>

@*<input type="submit" value= "frrruu" />*@
