﻿@model MASCore.Models.CedulaBusquedaModel
@using Microsoft.AspNetCore.Http.Extensions


@{
    ViewBag.Title = "Módulo de Búsqueda de Cedula";

    
}
<head>
   
    
    <script src="~/js/Cedulas/Cedulas.js"></script>

</head>

<div style="text-align:center; color:Red;font-size:medium">
    @ViewBag.NoValidoPor
</div>


<article>
    <h1>Buscar Cédulas</h1>
</article>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h4>Criterios de consulta</h4>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <div class="form-group">
                            <div class="col-12">
                                <div id="FechaInicial" class="form-control"></div>
                                <div id="tooltip1">FechaInicial</div>

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-12">
                                <div id="FechaFinal" class="form-control"></div>
                                <div id="tooltip2">FechaFinal</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-12">
                                <div id="TipoCedula"></div>


                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-12">
                                <div id="TipoEmergencia"></div>


                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-12">
                                <div id="numerocedula"></div>


                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-12">
                                <div id="responsableofp"></div>


                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <div class="form-group">
                            <div class="col-12">
                                <div id="tipopermiso"></div>


                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-12">
                                <div id="nombredelbarco"></div>


                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-12">
                                <div id="rnpdelbarco"></div>


                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-12">
                                <div id="razonsocial"></div>


                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-12">
                                <div id="puertobase"></div>


                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-12">
                                <div id="litorales"></div>

                                <div id="p"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="text-align: right">
    <div id="searchRows"></div>
    <div id="tooltip3">Buscar Cédulas</div>

</div>
<br />
<section>
  
        <script>
                var urlXLS = '@Url.Action("GenerateExcel", "Cedula", null, UriHelper.GetDisplayUrl(Context.Request))';
                var urlPDF = '@Url.Action("GeneratePdfCedulas", "Cedula", null, UriHelper.GetDisplayUrl(Context.Request))';
        </script>
        <div style="text-align: right; margin-top:5px;margin-bottom:5px;">
            <div class="row">
                <div class="col-lg-10"></div>
                <div class="col-lg-1">
                    <div id="exportToExcel"></div>
                    <div id="tooltip4">Exportar a Excel</div>

                    @*@(Html.DevExtreme().Button().Icon("fa fa-file-excel").ID("exportToExcel").UseSubmitBehavior(false).Type(ButtonType.Success).OnClick(@"function(args){ExportarPDF(urlXLS)}"))
                    @(Html.DevExtreme().Tooltip()
                                                                .Target("#exportToExcel")
                                                                .ShowEvent("mouseenter")
                                                                .HideEvent("mouseleave")
                                                                .ContentTemplate("Exportar a Excel")

                    )*@
                </div>
                <div class="col-1">
                    <div id="exportToPDF"></div>
                    <div id="tooltip5">Exportar a PDF</div>
                    @*@(Html.DevExtreme().Button().Icon("fa fa-file-pdf").ID("exportToPDF").UseSubmitBehavior(false).Type(ButtonType.Danger).OnClick(@"function(args){ExportarPDF(urlPDF)}"))
                    @(Html.DevExtreme().Tooltip()
                                                                .Target("#exportToPDF")
                                                                .ShowEvent("mouseenter")
                                                                .HideEvent("mouseleave")
                                                                .ContentTemplate("Exportar a PDF")

                    )*@
                </div>
            </div>
        </div>
        <br />
        <div id="gridContainer">
            
        </div>
   
</section>
