﻿@{
    Layout = null;
    ViewBag.Title = "CedulaGuardada";
}
<!DOCTYPE html>
<html>
<head>
    <title>Cedula Nueva</title>
     @*@Styles.Render("~/Content/css")

        @Styles.Render("~/Content/themes/base/jquery.ui.core.css") 
        @Styles.Render("~/Content/themes/base/jquery.ui.datepicker.css") 
        @Styles.Render("~/Content/themes/base/jquery.ui.theme.css")
      
        @Scripts.Render("~/bundles/modernizr")
         @Scripts.Render("~/bundles/jquery") 
        @Scripts.Render("~/bundles/jqueryui") 
        @Scripts.Render("~/Scripts/DatePickerReady.js")*@ 
</head>
<body>
<div id="body" style="text-align:center">
<br />
<h2>Cedula Generada Desde SISMEP</h2>
<h4> @ViewBag.mensaje  </h4>
</div>
<footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Astrum Satelital </p>
                </div>
            </div>
</footer>

</body>
</html>




