﻿@model MASCore.Models.InfoMensajesEmbarcacionesModel

@{
    Layout = null;
    ViewBag.Title = "Nueva Cedula";
}

<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8" />
        <title>Cedula Nueva</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
         
        
        @*@Styles.Render("~/Content/css")

        @Styles.Render("~/Content/themes/base/jquery.ui.core.css") 
        @Styles.Render("~/Content/themes/base/jquery.ui.datepicker.css") 
        @Styles.Render("~/Content/themes/base/jquery.ui.theme.css")
      
        @Scripts.Render("~/bundles/modernizr")
         @Scripts.Render("~/bundles/jquery") 
        @Scripts.Render("~/bundles/jqueryui") 
        @Scripts.Render("~/Scripts/DatePickerReady.js")*@ 
         
       @* @RenderSection("scripts", required: false)*@
        <script src="~/Scripts/jquery-1.7.1.js" type="text/javascript"></script>       @*<script src="../../Scripts/jquery-1.7.1.js" type="text/javascript"></script>*@
        <script src="~/Scripts/jquery-ui-1.8.20.js" type="text/javascript"></script>

        <script src="~/Scripts/jquery.autocomplete.min.js" type="text/javascript"></script>
        <link href="~/Content/jquery.autocomplete.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
</head>
<body>

<div id="body">
<div id="body" style="width:78%;text-align:center;margin-left:10%;min-width:950px;" align="center">
<br />
<div id="titulo">
<h3 style="color:#0F2C48;text-align:center" ><u>-  Módulo Nueva Cedula  -</u></h3>        
</div>

<div style="text-align:center; color:Red;font-size:medium">
    @ViewBag.NoValidoPor
</div>
<div style="text-align:center; color:Red;">
    @Html.Label(Model.NoValidoPor_)
</div>
<nav>
    <ul id="menu2" style="display:none"> 
        <li> <a href="#" onclick="ocultar_mostrar('ObtieneInformacion'); return false;">  Obtener Datos Disponibles   Mostrar/Ocultar</a></li>    
    </ul>
</nav>
        

<!--- Creamos un div oculto con la información /--->
@*<input type="text" name="fechaNacimiento2" id="fechaNacimiento2" /> 
<input type="submit" id="btnCalc" value="Calcular Edad" />   
<input type="submit" id="btnCalc" value="Buscar"  />*@

@using (Html.BeginForm("CreateBySismepWeb", "Cedula", FormMethod.Post))
{
@*}
@using (Html.BeginForm())
{*@ 
    @Html.ValidationSummary(true)
    
   

    <div id="div-llamadas" style="background:White; display:none; ">    
         <div class="div-extra">          
            <fieldset>
                <legend>Criterios de consulta</legend>
                <div class="div-left">                
                    <table>        
                    <tr>
                        <td> Fecha Inicial </td>
                        <td> @Html.EditorFor(model => model.ModeloDeLLamada.FechaInicial)</td>
                    </tr>
                    <tr>
                        <td> Fecha Final  </td>
                        <td> @Html.EditorFor(model => model.ModeloDeLLamada.FechaFinal) </td>
                    </tr>
                    <tr>
                        <td colspan="2"> Actividad </td>                        
                    </tr>
                    <tr>
                        <td colspan="2"> @Html.DropDownList("actividad", "-- Seleccione --") </td>                        
                    </tr>                            
                    </table>
                </div>
                <div class="div-rigth">
                    <table>        
                    <tr>
                        <td> OFP en Turno </td>
                        <td> @Html.DropDownList("ofp", "-- Seleccione --")  </td>
                    </tr>
                    <tr>
                        <td> Nombre del Barco </td>
                        <td> @Html.TextBox("embarcacion2", "", new { id = "embarcacion2" }) </td>
                    </tr>
                    <tr>
                        <td> Filtro </td>
                        <td>  @Html.DropDownList("filtro") </td>
                    </tr> 
                    <tr><td></td><td  style="text-align:left"> <input type="submit" name="submitButton" value="Buscar Llamada" /> </td></tr>
                    </table>
                </div>                                                                          
            </fieldset>

@{ 
    @*if (Model.ModeloDeLLamada.ResultadoListaLlamadasSP.Count() > 0)
    {
         <div id="gridllamadas" style="display:block;float:left;position:static;width:99%;min-height:10em;">
                    @{
        var gridllamadas = new WebGrid(Model.ModeloDeLLamada.ResultadoListaLlamadasSP, rowsPerPage: 10000, canPage: false, canSort: false, ajaxUpdateContainerId: "gridllamadas");
                    }
                    @gridllamadas.GetHtml(
                        fillEmptyRows: false,
                        alternatingRowStyle: "fila-alternativa", tableStyle: "griddd",
                        headerStyle: "encabezado-grid",
                        footerStyle: "pie-grid",
                        mode: WebGridPagerModes.All,
                        firstText: "<< Primera",
                        previousText: "< Anterior",
                        nextText: "Siguiente >",
                        lastText: "Última >>",
                        columns: gridllamadas.Columns(
                            gridllamadas.Column("Fecha", header: "Fecha", format: p => p.fecha.ToShortDateString()),
                            gridllamadas.Column("Hora", header: "Hora", style: "w100"),
                            gridllamadas.Column("Barco", header: "Barco"),
                            gridllamadas.Column("RNP", header: "RNP"),
                            gridllamadas.Column("Matricula", header: "Matricula"),
                            gridllamadas.Column("RazonSocial", header: "Razón Social"),
                            gridllamadas.Column("OFP", header: "OFP", style: "a-la-izquierda"),
                            gridllamadas.Column("Acción", format: @<text>    <a href="javascript:RegresaValoresLlamadas('@item.IdBitaCel','@item.RNP');">Seleccionar</a>        </text>)
                                                    )
                                            )
         </div>     
    }*@    
}

         </div>
    </div>    

    <div id="ObtieneInformacion" style="display:none; ">
      
        <div id="BuscaEmbarcacion" style="display:none; ">
            <div class="div-comentarios">
                <div class="div-left" style="background:White;">
                    Búsqueda de Embarcaciones NO IMPLEMENTADOOOOOOOOOOO
                </div>
            </div>
        </div>

    <div class="div-obtieneinformacion" >
    <h3 style="color:#0F2C48;text-align:left" >  <u>Obtener información de una Embarcación</u>  </h3>   
            <div class="div-left" >
                <div><b>Tipo de Alerta:</b></div>
                <div> @Html.DropDownList("alarmas")</div>
                <div><b>Fecha Inicial</b></div>
                <div>@Html.EditorFor(model => model.FechaInicial)</div>
            </div>
            <div class="div-rigth" >  @*style="background:White;"*@
                 <div class="div-left" >
                    <div><b>Mostrar</b></div>
                    <div>@Html.DropDownList("modobusqueda")</div>
                    <div><b>Fecha Final</b></div>
                    <div>@Html.EditorFor(model => model.FechaFinal)</div>  
                 </div>            
                <div class="div-rigth" >
                    <div><b>Criterio de Desconexión</b></div>
                    <div> @Html.DropDownList("criteriodedesconexion", "-- Seleccione --") 
                   @* @Html.TextBox("criteriodedesconexion", "72", new { style = "width: 8em; " }) *@
                    </div>
                </div>                
            </div>
           @* <div style="background:White;"> --------Datos del Barco   ------------------------------------------------------------------------------</div>*@
            <div class="div-left" > @* style="background:White;"*@
                <div><b>Matricula de Embarcación:</b></div>
                <div> @Html.TextBox("MatriculaBarcob", "", new { id = "MatriculaBarcob" })</div>
                <div><b>Puerto Base:</b></div>
                <div> @Html.TextBox("PuertoBaseb", "", new { id = "PuertoBaseb" })</div>
                <div></div>
               @* <div > @Html.Label("Encontrados", "     Encontrados:" + Model.ResultadoMensajesEmbarcacionesSeleccionar.Count())</div>*@
            </div>
            <div class="div-rigth" >      @*style="background:White;"*@
                <div><b>Razón Social:</b></div>
                <div> @Html.TextBox("RazonSocialb", "", new { id = "RazonSocialb" })</div>
                
                <div><b>Tipo Permiso:</b></div>
                <div> @Html.TextBox("TipoPermisob", "", new { id = "TipoPermisob" })</div>
                <div>
                <input type="submit" name="submitButton" value="Buscar Informacion" style="font-size: small"/>
                   @* <input type="submit" id="BuscarMensajeEmbarcacion" value="Buscar"  />*@
                   @* @Html.ActionLink("Buscar", "Create", new { EVENTO = "BUSCAR" })*@
                </div>
                
               @* @Html.ActionLink("Seleccionar", "Create", new { id = item.IdMensajeM })*@
            </div>            
            <br />


@{ 
    var AlertaSelecc = "";
    if (Model.alarmasb != null)
    {
        AlertaSelecc = Model.alarmasb;
    }
  

}                  
    </div>
    
</div> 
    
    <div id="IngresaDatos" style="display:block; ">
    
     
    <div class="div-datosgenerales">
        <h4>Datos Generales</h4>
        <br />
        <div style="display:none"><b>Numero de Cedula :</b></div>  
        <div style="display:none"> @Html.EditorFor(model => model.TMASCEDULA.NoCedula, new { id = "NoCedula" })     @Html.ValidationMessageFor(model => model.TMASCEDULA.NoCedula) </div>

        <div><b>Responsable (OFP):</b></div>
        <div>
            @Html.DropDownList("responsableofp")  @*@Html.HiddenFor(model => model.TMASCEDULA.OFP, new { id = "txtofp" })*@
            @*@Html.EditorFor(model => model.OFP)   *@  
            @Html.ValidationMessageFor(model => model.TMASCEDULA.OFP)  
        </div>

        <div> <b>Turno:</b> </div>
        <div> 
            @Html.DropDownList("turnos")  @*@Html.HiddenFor(model => model.TMASCEDULA.Turno, new { id = "txtturnos" })*@
            @*@Html.EditorFor(model => model.Turno)     *@
            @Html.ValidationMessageFor(model => model.TMASCEDULA.Turno) 
        </div>
        
        <div><b>Usuario (ASTRUM):</b></div>
        <div>        
            @Html.DropDownList("usuarioastrum")   
            @*@Html.EditorFor(model => model.OFP)   *@  
            @Html.ValidationMessageFor(model => model.TMASCEDULA.UsuarioAstrum)  
        </div>

        <div><b>Fecha de Cedula:</b></div>
        <div> @Html.EditorFor(model => model.TMASCEDULA.FechaCedula)     @Html.ValidationMessageFor(model => model.TMASCEDULA.FechaCedula) </div>

        <div> <b>Nombre del Barco:</b></div>
        <div>@Html.TextBoxFor(model => model.TMASCEDULA.NombreBarco, new { id = "NombreBarco" })     @Html.ValidationMessageFor(model => model.TMASCEDULA.NombreBarco) </div>
        
        <div> <b>Matricula del Barco:</b> </div>
        <div> @Html.TextBoxFor(model => model.TMASCEDULA.MatriculaBarco, new { id = "MatriculaBarco" })     @Html.ValidationMessageFor(model => model.TMASCEDULA.MatriculaBarco) </div>

        <div> <b>RNP:</b> </div>
        <div> @Html.TextBoxFor(model => model.TMASCEDULA.RNP, new { id = "RNP" })     @Html.ValidationMessageFor(model => model.TMASCEDULA.RNP) </div>

        <div> <b>Puerto Base:</b> </div>
        <div> 
            @Html.TextBoxFor(model => model.TMASCEDULA.PuertoBase, new { id = "PuertoBase" })      
            @Html.ValidationMessageFor(model => model.TMASCEDULA.PuertoBase) 
            @*<a href="javascript:OpenDialog();">Buscar</a>    *@      
        </div>
      @*  <div id="Div-PuertoBase" style="display:none;">
            <div>
                Nombre Puerto:
                <input type="text" id="NombrePuerto" />
            </div>            
            <div>
                <button onclick="RegresaValores()"> Buscar </button>
                <button onclick="RegresaValores()"> Aceptar (Regresa Valores)</button>
            </div>
            
        </div>       *@
         
        <div> <b>Tipo de permiso:</b> </div>
        <div> @Html.TextBoxFor(model => model.TMASCEDULA.TipoPermiso, new { id = "TipoPermisoMultiple" })     @Html.ValidationMessageFor(model => model.TMASCEDULA.TipoPermiso) </div>

        <div> <b>Razón Social:</b> </div>
        <div> @Html.TextBoxFor(model => model.TMASCEDULA.RazonSocial, new { id = "RazonSocial" })     @Html.ValidationMessageFor(model => model.TMASCEDULA.RazonSocial) </div>
        <div> <b>Domicilio:</b> </div>
        <div> @Html.EditorFor(model => model.TMASCEDULA.Domicilio)     @Html.ValidationMessageFor(model => model.TMASCEDULA.Domicilio) </div>

        <div> <b>Contacto:</b> </div>
        <div> @Html.EditorFor(model => model.TMASCEDULA.Contacto)     @Html.ValidationMessageFor(model => model.TMASCEDULA.Contacto) </div>

        <div> <b>Puesto:</b> </div>
        <div> @Html.EditorFor(model => model.TMASCEDULA.Puesto)     @Html.ValidationMessageFor(model => model.TMASCEDULA.Puesto) </div>

        <div> <b>Teléfono:</b> </div>
        <div> @Html.EditorFor(model => model.TMASCEDULA.Telefono)     @Html.ValidationMessageFor(model => model.TMASCEDULA.Telefono) </div>

    </div>
    
    <div class="div-datosalerta">
        <h4>Datos de la Alerta</h4> 
        
        <table class="table-editar">

@{ 
    var Llamada = "0";
    var Alertaaaaaa = "Seleccioneeeeeeee";
    if (Model.TMASCEDULA != null)
    {
        Llamada = Model.TMASCEDULA.Llamada.ToString();

        if (Model.TMASCEDULA.TipoAlerta != null)
        {
            Alertaaaaaa = Model.TMASCEDULA.TipoAlerta;
        }
    }    
    
}  
            <tr id="tipo_">
          
                    <td class="td-left" >  <b>Tipo :</b>  </td>               
                    <td class="td-right" >  
                    <h3> @Html.DisplayFor(model => model.TMASCEDULA.TipoAlerta, new { id = "alertaseleccionada" })</h3>                                  
                   @* @Html.DropDownList("alarmas", null, new { @onchange = "javascript:ElementoSeleccionado(this.value);", id = "TipoAlertaX",@readonly = true })*@
                    @Html.HiddenFor(model => model.TMASCEDULA.TipoAlerta, new { id = "txttipoalerta" })
                    @*@Html.DropDownList("ddlalarmas", (IEnumerable<SelectListItem>)ViewBag.alarmas, Alertaaaaaa, new { @onchange = "javascript:ElementoSeleccionado(this.value);" })*@
                    @Html.ValidationMessageFor(model => model.TMASCEDULA.TipoAlerta) 
                    </td>
            </tr>
            <tr id="fechaalerta_" >                             
                    <td class="td-left" ><b>Fecha :</b>    </td>
                    <td class="td-right" >   
                    @Html.EditorFor(model => model.TMASCEDULA.FechaAlerta)     @Html.ValidationMessageFor(model => model.TMASCEDULA.FechaAlerta)
                    
                    </td>                                
            </tr>
            <tr id="horaalerta_">
                    <td class="td-left" > <b>Hora :</b>   </td>
                    <td class="td-right" > 
                    @Html.EditorFor(model => model.TMASCEDULA.HoraAlerta)     @Html.ValidationMessageFor(model => model.TMASCEDULA.HoraAlerta)                               
                    </td>
            </tr>
            <tr id ="latitud_">
                <td class="td-left" > <b>Latitud:</b>   </td>
                <td class="td-right" >  @Html.EditorFor(model => model.TMASCEDULA.Latitud)     @Html.ValidationMessageFor(model => model.TMASCEDULA.Latitud)  </td>
            </tr>
            <tr id="longitud_">
                <td class="td-left" > <b>Longitud:</b>   </td>
                <td class="td-right" >  @Html.EditorFor(model => model.TMASCEDULA.Longitud)     @Html.ValidationMessageFor(model => model.TMASCEDULA.Longitud)  </td>
            </tr>
            <tr id="velocidad_">
                <td class="td-left" > <b>Velocidad:</b>   </td>
                <td class="td-right" >  @Html.EditorFor(model => model.TMASCEDULA.Velocidad)     @Html.ValidationMessageFor(model => model.TMASCEDULA.Velocidad)  </td>
            </tr>
            <tr id="estatus_">
                <td class="td-left" > <b>Estatus:</b>   </td>
                <td class="td-right" >  @Html.EditorFor(model => model.TMASCEDULA.Estatus)     @Html.ValidationMessageFor(model => model.TMASCEDULA.Estatus)  </td>
            </tr>
            <tr id="ultimatx_">
                <td class="td-left" > <b>UltimaTx:</b>   </td>
                <td class="td-right" >  @Html.EditorFor(model => model.TMASCEDULA.UltimaTx)     @Html.ValidationMessageFor(model => model.TMASCEDULA.UltimaTx)  </td>
            </tr>
            <tr id="profundidad_">
                <td class="td-left" > <b>Profundidad:</b>   </td>
                <td class="td-right" >  @Html.EditorFor(model => model.TMASCEDULA.Profundidad)     @Html.ValidationMessageFor(model => model.TMASCEDULA.Profundidad)  </td>
            </tr>
            <tr id="distanciadelacosta_">
                <td class="td-left" > <b>Distancia de la Costa:</b>   </td>
                <td class="td-right" >  @Html.EditorFor(model => model.TMASCEDULA.DistanciaCosta)     @Html.ValidationMessageFor(model => model.TMASCEDULA.DistanciaCosta)  </td>
            </tr>
            <tr id = "zona_">
                <td class="td-left" > <b>Zona:</b>   </td>
                <td class="td-right" >  @Html.EditorFor(model => model.TMASCEDULA.Zona)     @Html.ValidationMessageFor(model => model.TMASCEDULA.Zona)  </td>
            </tr>
            <tr id="cuentaconllamadas_">
                <td colspan="3"> <b> ¿Cuenta con reporte de llamadas preventivas de transmisión irregular de equipo transreceptor?</b></td>
            </tr>
            <tr id="llamadas_">
                <td class="td-left" >  </td> @*@Html.LabelFor  *@
                <td class="td-right"> @Html.TextBox("lblLlamada", Llamada)   <a href="javascript:MuestraTelefonos();">Busca</a>  </td>          @*<a href="javascript:OpenDialogLlamadas();">Buscar</a>   *@             
            </tr>
            <tr id="llamadasRNP" style="display:none">
                <td colspan="3" style="color:Red">
                    @Html.Label("mensajeadvertenciaRNP", "ADVERTENCIA: El RNP no coincide en ambas cédulas.")
                </td>
            </tr>
            <tr id="llamadasRNP_" style="display:none">
                <td colspan="3" style="color:Red">
                    @Html.Label("mensajeadvertenciaRNP2", "Favor de revisar.")
                </td>
            </tr>
            <tr id="ubicacionoreferencia_">
                <td class="td-left" > <b>Ubicacion o Referencia:</b>  </td>
                <td class="td-right" >   @Html.EditorFor(model => model.TMASCEDULA.Referencia)     @Html.ValidationMessageFor(model => model.TMASCEDULA.Referencia)  </td>
            </tr>
            <tr id= "causas_"><td colspan="2">   <b>Causas de la alarma:</b>     </td></tr>
            <tr id= "causas__">
                <td colspan="2">
                    @Html.DropDownList("causas", "-- Seleccione --")            @Html.HiddenFor(model => model.TMASCEDULA.Causas, new { id = "txtcausas" })      @* @Html.EditorFor(model => model.Causas)     *@
                    @Html.ValidationMessageFor(model => model.TMASCEDULA.Causas)
                </td>
            </tr>
            <tr id="datospersonacontactada_">
                <td colspan="2"> <b> Datos de la persona contactada</b></td>
            </tr>
            <tr id="nombre_">
                <td class="td-left" > <b>Nombre:</b>   </td>
                <td class="td-right" >  @Html.EditorFor(model => model.TMASCEDULA.NombreContactada)     @Html.ValidationMessageFor(model => model.TMASCEDULA.NombreContactada)  </td>                
            </tr>
            <tr id="puesto_">
                <td class="td-left" > <b>Puesto:</b>   </td>
                <td class="td-right" >  @Html.EditorFor(model => model.TMASCEDULA.PuestoContactada)     @Html.ValidationMessageFor(model => model.TMASCEDULA.PuestoContactada)  </td>
            </tr>
            <tr id= "telefono_">
                <td class="td-left" > <b>Teléfono:</b>   </td>
                <td class="td-right" >  @Html.EditorFor(model => model.TMASCEDULA.TelefonoContactada)     @Html.ValidationMessageFor(model => model.TMASCEDULA.TelefonoContactada)  </td>
            </tr>
        </table>
    </div>
    
   
    <div class="div-comentarios">
        <div><h4>Comentarios</h4></div>
        <div> @Html.TextAreaFor(model => model.TMASCEDULA.Comentarios, 10, 55, new { style = "width: 95%; height:10%; " })     @Html.ValidationMessageFor(model => model.TMASCEDULA.Comentarios) </div>
        <br />
        <div>  <h4>Anexos:</h4> </div>
       @* <div> @Html.EditorFor(model => model.Anexos, new { id = "PuertoBase" }) </div>*@
        @*<div>    @Html.DropDownList("anexos","-- Seleccione --")   </div>*@
        <div> @Html.TextAreaFor(model => model.TMASCEDULA.Anexos, 5, 55, new { id = "Anexos", style = "width: 95%" })     @Html.ValidationMessageFor(model => model.TMASCEDULA.Anexos) </div>
        
@*@if (Model.TMASCEDULA != null)
  {    
        <div>Seleccione Rango de Fechas</div>
        <div> 
            @Html.DisplayNameFor(model => model.FechaInicioRep) @Html.EditorFor(model => model.FechaInicioRep) 
            @Html.DisplayNameFor(model => model.FechaFinRep) @Html.EditorFor(model => model.FechaFinRep) 
            <b>@Html.ActionLink("Tabular de Ruta", "GeneraReporteCedulaHTML", "Cedula", new { Embarcacion = Model.TMASCEDULA.NombreBarco, Matricula = Model.TMASCEDULA.MatriculaBarco, FechaInicioRep = Model.FechaInicioRep, FechaFinRep = Model.FechaFinRep }, null)</b>
        </div>
  }  *@      
        <br />
    </div>
    <div style="display:none">
        <div><h4>No sera Visible</h4></div>
        <div> @Html.EditorFor(model => model.TMASCEDULA.Estado)</div>
        <div> @Html.EditorFor(model => model.TMASCEDULA.Litoral)</div>
        <div> @Html.EditorFor(model => model.TMASCEDULA.Vigencias)</div>
    </div>
    
    <br />
    <p>
    <div>
        <input type="submit" name="submitButton" value="Guardar" /> 
        @*<input type="submit" value="Guardar" />*@
    </div>
    </p>
    </div>
    

}

<br />

</div>
</div>

<footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Astrum Satelital </p>
                </div>
            </div>
</footer>

</body>
</html>
@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    

     @Styles.Render("~/Content/css")

        @Styles.Render("~/Content/themes/base/jquery.ui.core.css") 
        @Styles.Render("~/Content/themes/base/jquery.ui.datepicker.css") 
        @Styles.Render("~/Content/themes/base/jquery.ui.theme.css")
      
        @Scripts.Render("~/bundles/modernizr")
         @Scripts.Render("~/bundles/jquery") 
        @Scripts.Render("~/bundles/jqueryui") 
        @Scripts.Render("~/Scripts/DatePickerReady.js") 


}*@
@*@Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)*@


  <script type="text/javascript">

      function Muestra(Div) {
          //          alert('Muestra');
          MiDiv = document.getElementById(Div);
          MiDiv.style.display = 'block';
      }
      function Oculta(Div) {
          //          alert('Oculta');
          MiDiv = document.getElementById(Div);
          MiDiv.style.display = 'none';
      }
      //      function MuestraGrid() {
      //          MiDiv = document.getElementById('grid');
      //          MiDiv.style.display = 'block';
      //      }
      //      function OcultaGrid() {
      //          MiDiv = document.getElementById('grid');
      //          MiDiv.style.display = 'none';
      //      }

      function MuestraIngresaDatos() {
          MiDiv = document.getElementById('IngresaDatos');
          MiDiv.style.display = 'block';
          //Oculta los otros
          MiDiv = document.getElementById('ObtieneInformacion');
          MiDiv.style.display = 'none';
          MiDiv = document.getElementById('div-llamadas');
          MiDiv.style.display = 'none';
      }
      function MuestraObtieneInformacion() {
          MiDiv = document.getElementById('ObtieneInformacion');
          MiDiv.style.display = 'block';
          //Oculta los otros
          MiDiv = document.getElementById('IngresaDatos');
          MiDiv.style.display = 'none';
          MiDiv = document.getElementById('div-llamadas');
          MiDiv.style.display = 'none';
      }
      function MuestraTelefonos() {
          MiDiv = document.getElementById('div-llamadas');
          MiDiv.style.display = 'block';
          //Oculta los otros
          MiDiv = document.getElementById('IngresaDatos');
          MiDiv.style.display = 'none';
          MiDiv = document.getElementById('ObtieneInformacion');
          MiDiv.style.display = 'none';
      }
      //      function MuestraNoValidos(valor) {
      //          alert(valor);
      //      }















      

      

  </script>
  

 @* @if (Model.NoValidoPor_ != "")
  {     
        <script type="text/javascript">
         var Fechhhhhhh =  ;
        
            MuestraNoValidos(Fechhhhhhh);
        </script>
  }*@
  @if (Model.MostrarObtieneInformacion == "NO")
  {
        <script type="text/javascript">
            MuestraIngresaDatos();
        </script>
  }
  @if (Model.MostrarLlamadas == "SI")
  {
        <script type="text/javascript">
            MuestraTelefonos();
        </script>
  }
  @*@if (Model.ResultadoMensajesEmbarcacionesSeleccionar.Count() > 0)
  {
        <script type="text/javascript">
            Muestra('grid');
        </script>
  }
    
@if (Model.ResultadoMensajesEmbarcacionesSeleccionar.Count() == 0)
{
     <script type="text/javascript">
         Oculta('grid');
        </script>
}*@

<script type="text/javascript">








    function ElementoSeleccionado(Valor) {
        //               alert(Valor);
        //        alert('Entra Oculta y muestra controles dependiendo de la alarma');

        if (Valor == 'SIN TRANSMISIÓN' || Valor == 'TRANSMISION IRREGULAR' || Valor == 'MÚLTIPLES PERMISOS' || Valor == 'PERMISO VENCIDO' || Valor == 'TÉCNICAMENTE PESCANDO' || Valor == 'DESCONECTADO') {
            document.getElementById('fechaalerta_').style.display = 'none';
            document.getElementById('horaalerta_').style.display = 'none';
            document.getElementById('latitud_').style.display = '';
            document.getElementById('longitud_').style.display = '';
            document.getElementById('velocidad_').style.display = 'none';

            document.getElementById('estatus_').style.display = '';
            document.getElementById('ultimatx_').style.display = '';
            document.getElementById('profundidad_').style.display = 'none';
            document.getElementById('distanciadelacosta_').style.display = 'none'
            document.getElementById('zona_').style.display = 'none'
            document.getElementById('cuentaconllamadas_').style.display = ''
            document.getElementById('llamadas_').style.display = ''
            document.getElementById('ubicacionoreferencia_').style.display = 'none'
            document.getElementById('causas_').style.display = 'none'
            document.getElementById('causas__').style.display = 'none'
            document.getElementById('datospersonacontactada_').style.display = 'none'
            document.getElementById('nombre_').style.display = 'none'
            document.getElementById('puesto_').style.display = 'none'
            document.getElementById('telefono_').style.display = 'none'
            //            ocultar_mostrar('ObtieneInformacion');
        }
        else if (Valor == 'PESCA PROHIBIDA' || Valor == 'AREA NATURAL PROTEGIDA' || Valor == 'ZONA PROHIBIDA' || Valor == 'SEGUNDA ZONA PROHIBIDA') {

            document.getElementById('llamadasRNP').style.display = 'none';
            document.getElementById('llamadasRNP_').style.display = 'none';


            document.getElementById('fechaalerta_').style.display = ''
            document.getElementById('horaalerta_').style.display = ''
            document.getElementById('latitud_').style.display = ''
            document.getElementById('longitud_').style.display = ''
            document.getElementById('velocidad_').style.display = ''
            document.getElementById('estatus_').style.display = 'none'
            document.getElementById('ultimatx_').style.display = ''
            document.getElementById('profundidad_').style.display = ''
            document.getElementById('distanciadelacosta_').style.display = ''
            document.getElementById('zona_').style.display = ''
            document.getElementById('cuentaconllamadas_').style.display = 'none'
            document.getElementById('llamadas_').style.display = 'none'
            $('#lblLlamada').val('0');
            document.getElementById('ubicacionoreferencia_').style.display = ''
            document.getElementById('causas_').style.display = 'none'
            document.getElementById('causas__').style.display = 'none'
            document.getElementById('datospersonacontactada_').style.display = ''
            document.getElementById('nombre_').style.display = ''
            document.getElementById('puesto_').style.display = ''
            document.getElementById('telefono_').style.display = ''
            //            ocultar_mostrar('ObtieneInformacion');
        }
        else if (Valor == 'EMERGENCIA' || Valor == 'FALSA ALARMA') {
            document.getElementById('llamadasRNP').style.display = 'none';
            document.getElementById('llamadasRNP_').style.display = 'none';


            document.getElementById('fechaalerta_').style.display = ''
            document.getElementById('horaalerta_').style.display = ''
            document.getElementById('latitud_').style.display = ''
            document.getElementById('longitud_').style.display = ''
            document.getElementById('velocidad_').style.display = 'none'
            document.getElementById('estatus_').style.display = 'none'
            document.getElementById('ultimatx_').style.display = ''
            document.getElementById('profundidad_').style.display = 'none'
            document.getElementById('distanciadelacosta_').style.display = 'none'
            document.getElementById('zona_').style.display = 'none'
            document.getElementById('cuentaconllamadas_').style.display = 'none'
            document.getElementById('llamadas_').style.display = 'none'
            $('#lblLlamada').val('0');
            document.getElementById('ubicacionoreferencia_').style.display = 'none'
            document.getElementById('causas_').style.display = ''
            document.getElementById('causas__').style.display = ''
            document.getElementById('datospersonacontactada_').style.display = ''
            document.getElementById('nombre_').style.display = ''
            document.getElementById('puesto_').style.display = ''
            document.getElementById('telefono_').style.display = ''
            //            ocultar_mostrar('ObtieneInformacion');
        }
    }





    function InicioEditar() {
       
        //    var Fechhhhhhh = @Model.FechaFinal ;
        var alarma = document.getElementById('txttipoalerta').value; //TipoAlertaX
        //alert(alarma);
        ElementoSeleccionado(alarma);
      
    }

    window.onload = function () {


//        var COD_ORIGEN = document.getElementById('txttipoalerta').value;
//        //                alert(COD_ORIGEN);
//        var ORIGEN = document.getElementById('TipoAlertaX');
//        ORIGEN.value = COD_ORIGEN;

        InicioEditar();

    }
   


    //Inicio();
//    InicioEditar();

    </script>

