﻿@model MASCore.Models.InfoMensajesEmbarcacionesModel

@{
    ViewBag.Title = "Nueva Cédula";
}

<script src="~/Scripts/MAS/Cedulas.js" type="text/javascript"></script>

<div style="text-align:center; color:Red;font-size:medium">
    @ViewBag.NoValidoPor
</div>
<div style="text-align:center; color:Red;">
    @Html.Label(Model.NoValidoPor_)
    
</div>



<script type="text/javascript">
    $(document).ready(function () {
        setTimeout(function () {
            ElementoSeleccionado({ value: $("#tipoalerta").dxSelectBox("instance").option("value") });
        }, 500)
    })
</script>
