﻿@model MASCore.TMasCedula

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>TMasCedula</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NoCedula)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NoCedula)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TipoAlerta)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TipoAlerta)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FechaCedula)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FechaCedula)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Latitud)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Latitud)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Longitud)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Longitud)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Velocidad)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Velocidad)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Profundidad)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Profundidad)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DistanciaCosta)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DistanciaCosta)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Zona)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Zona)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Referencia)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Referencia)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Causas)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Causas)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Estatus)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Estatus)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UltimaTx)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UltimaTx)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FechaAlerta)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FechaAlerta)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HoraAlerta)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HoraAlerta)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MatriculaBarco)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MatriculaBarco)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NombreBarco)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NombreBarco)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RNP)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RNP)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TipoPermiso)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TipoPermiso)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PuertoBase)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PuertoBase)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RazonSocial)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RazonSocial)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Litoral)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Litoral)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Domicilio)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Domicilio)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Contacto)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Contacto)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Puesto)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Puesto)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Telefono)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Telefono)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Comentarios)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Comentarios)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Anexos)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Anexos)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OFP)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OFP)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Turno)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Turno)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NombreContactada)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NombreContactada)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PuestoContactada)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PuestoContactada)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TelefonoContactada)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TelefonoContactada)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Llamada)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Llamada)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Estado)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Estado)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Vigencias)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Vigencias)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Periodo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Periodo)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
