﻿@model MASCore.TMasCedula

@{
    ViewBag.Title = "Editar";
}

<h2>Editar la cedula</h2>
<div>
    @Html.ActionLink("Regresa a la búsqueda", "BuscaCedula")
</div>
        
            
     

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    @Html.HiddenFor(model => model.IdCedula)

    <div class="div-datosgenerales">
        <h4>Datos Generales</h4>
        <br />
        <div><b>Numero de Cedula :</b></div>  
        <div> @Html.EditorFor(model => model.NoCedula)     @Html.ValidationMessageFor(model => model.NoCedula) </div>

        <div><b>Responsable (OFP):</b></div>
        <div> 
            @Html.DropDownList("responsableofp", Model.OFP)
           @* @Html.EditorFor(model => model.OFP) *@    
            @Html.ValidationMessageFor(model => model.OFP)  
        </div>

        <div> <b>Turno:</b> </div>
        <div> 
            @Html.DropDownList("turnos", Model.Turno)  
           @* @Html.EditorFor(model => model.Turno)   *@  
            @Html.ValidationMessageFor(model => model.Turno) 
        </div>
        
        <div><b>Fecha de Cedula:</b></div>
        <div> @Html.EditorFor(model => model.FechaCedula)     @Html.ValidationMessageFor(model => model.FechaCedula) </div>

        <div> <b>Nombre del Barco:</b></div>
        <div> @Html.EditorFor(model => model.NombreBarco)     @Html.ValidationMessageFor(model => model.NombreBarco) </div>

        <div> <b>Matricula del Barco:</b> </div>
        <div> @Html.EditorFor(model => model.MatriculaBarco)     @Html.ValidationMessageFor(model => model.MatriculaBarco) </div>

        <div> <b>RNP:</b> </div>
        <div> @Html.EditorFor(model => model.RNP)     @Html.ValidationMessageFor(model => model.RNP) </div>

        <div> <b>Puerto Base:</b> </div>
        <div> @Html.EditorFor(model => model.PuertoBase)     @Html.ValidationMessageFor(model => model.PuertoBase) </div>

        <div> <b>Tipo de permiso:</b> </div>
        <div> @Html.EditorFor(model => model.TipoPermiso)     @Html.ValidationMessageFor(model => model.TipoPermiso) </div>

        <div> <b>Razón Social:</b> </div>
        <div> @Html.EditorFor(model => model.RazonSocial)     @Html.ValidationMessageFor(model => model.RazonSocial) </div>

        <div> <b>Domicilio:</b> </div>
        <div> @Html.EditorFor(model => model.Domicilio)     @Html.ValidationMessageFor(model => model.Domicilio) </div>

        <div> <b>Contacto:</b> </div>
        <div> @Html.EditorFor(model => model.Contacto)     @Html.ValidationMessageFor(model => model.Contacto) </div>

        <div> <b>Puesto:</b> </div>
        <div> @Html.EditorFor(model => model.Puesto)     @Html.ValidationMessageFor(model => model.Puesto) </div>

        <div> <b>Teléfono:</b> </div>
        <div> @Html.EditorFor(model => model.Telefono)     @Html.ValidationMessageFor(model => model.Telefono) </div>

    </div>
    
    
    <div class="div-datosalerta">
        <h4>Datos de la Alerta</h4> 
        <table class="table-editar">
            <tr>
                <td class="td-left" >  <b>Tipo de Alerta:</b>  </td>
                <td class="td-right" > 
                    @Html.DropDownList("alarmas", Model.TipoAlerta)   
                    @*  @Html.EditorFor(model => model.TipoAlerta)     *@
                    @Html.ValidationMessageFor(model => model.TipoAlerta)   
                </td>
               @* <b>Tipo de Alerta:</b>
                @Html.EditorFor(model => model.TipoAlerta)     @Html.ValidationMessageFor(model => model.TipoAlerta)*@
            </tr>
            <tr>
                <td class="td-left" ><b>Fecha de alerta:</b>    </td>
                <td class="td-right" >    @Html.EditorFor(model => model.FechaAlerta)     @Html.ValidationMessageFor(model => model.FechaAlerta) </td>
               @* <b>Fecha de alerta:</b>
                @Html.EditorFor(model => model.FechaAlerta)     @Html.ValidationMessageFor(model => model.FechaAlerta)*@
            </tr>
            <tr>
                <td class="td-left" > <b>Hora de alerta:</b>   </td>
                <td class="td-right" >  @Html.EditorFor(model => model.HoraAlerta)     @Html.ValidationMessageFor(model => model.HoraAlerta)  </td>
            </tr>
            <tr>
                <td class="td-left" > <b>Latitud:</b>   </td>
                <td class="td-right" >  @Html.EditorFor(model => model.Latitud)     @Html.ValidationMessageFor(model => model.Latitud)  </td>
            </tr>
            <tr>
                <td class="td-left" > <b>Longitud:</b>   </td>
                <td class="td-right" >  @Html.EditorFor(model => model.Longitud)     @Html.ValidationMessageFor(model => model.Longitud)  </td>
            </tr>
            <tr>
                <td class="td-left" > <b>Velocidad:</b>   </td>
                <td class="td-right" >  @Html.EditorFor(model => model.Velocidad)     @Html.ValidationMessageFor(model => model.Velocidad)  </td>
            </tr>
            <tr>
                <td class="td-left" > <b>Estatus:</b>   </td>
                <td class="td-right" >  @Html.EditorFor(model => model.Estatus)     @Html.ValidationMessageFor(model => model.Estatus)  </td>
            </tr>
            <tr>
                <td class="td-left" > <b>UltimaTx:</b>   </td>
                <td class="td-right" >  @Html.EditorFor(model => model.UltimaTx)     @Html.ValidationMessageFor(model => model.UltimaTx)  </td>
            </tr>
            <tr>
                <td class="td-left" > <b>Profundidad:</b>   </td>
                <td class="td-right" >  @Html.EditorFor(model => model.Profundidad)     @Html.ValidationMessageFor(model => model.Profundidad)  </td>
            </tr>
            <tr>
                <td class="td-left" > <b>Distancia de la Costa:</b>   </td>
                <td class="td-right" >  @Html.EditorFor(model => model.DistanciaCosta)     @Html.ValidationMessageFor(model => model.DistanciaCosta)  </td>
            </tr>
            <tr>
                <td class="td-left" > <b>Zona:</b>   </td>
                <td class="td-right" >  @Html.EditorFor(model => model.Zona)     @Html.ValidationMessageFor(model => model.Zona)  </td>
            </tr>
            <tr>
                <td colspan="2"> <b> ¿Cuenta con reporte de llamadas preventivas de no transmisión de equipo transreceptor?</b></td>
            </tr>
            <tr>
                <td class="td-left" >  </td>
                <td class="td-right" >  @Html.EditorFor(model => model.Llamada)     @Html.ValidationMessageFor(model => model.Llamada)  </td>
            </tr>
            <tr>
                <td class="td-left" > <b>Ubicacion o Referencia:</b>   </td>
                <td class="td-right" >  @Html.EditorFor(model => model.Referencia)     @Html.ValidationMessageFor(model => model.Referencia)  </td>
            </tr>
            <tr><td colspan="2">   <b>Causas de la alarma:</b>     </td></tr>
            <tr>
                <td colspan="2"> 
                    @Html.DropDownList("causas", Model.Causas.ToString())                  @* @Html.EditorFor(model => model.Causas)     *@
                    @Html.ValidationMessageFor(model => model.Causas)  
                </td>
            </tr>
            <tr>
                <td colspan="2"> <b> Datos de la persona contactada</b></td>
            </tr>
            <tr>
                <td class="td-left" > <b>Nombre:</b>   </td>
                <td class="td-right" >  @Html.EditorFor(model => model.NombreContactada)     @Html.ValidationMessageFor(model => model.NombreContactada)  </td>
            </tr>
            <tr>
                <td class="td-left" > <b>Puesto:</b>   </td>
                <td class="td-right" >  @Html.EditorFor(model => model.PuestoContactada)     @Html.ValidationMessageFor(model => model.PuestoContactada)  </td>
            </tr>
            <tr>
                <td class="td-left" > <b>Teléfono:</b>   </td>
                <td class="td-right" >  @Html.EditorFor(model => model.TelefonoContactada)     @Html.ValidationMessageFor(model => model.TelefonoContactada)  </td>
            </tr>
        </table>
    </div>
    
   
    <div class="div-comentarios">
        <div><h4>Comentarios</h4></div>
        <div> @Html.TextAreaFor(model => model.Comentarios, 10, 55, new { style = "width: 95%; height:10%; "  })     @Html.ValidationMessageFor(model => model.Comentarios) </div>
        <br />
        <div>  <h4>Anexos:</h4> </div>
        <div>  @Html.DropDownList("anexos",Model.Anexos)  </div>     
        <div>            
            @Html.TextAreaFor(x => x.Anexos, 5, 15, new {id="AnexosSel", style = "width: 95%; height:5%;" })                                                                       
            @Html.ValidationMessageFor(model => model.Anexos) 
        </div>
    </div>

    
    
    
 <input type="submit" value="Guardar" />   
   
}

<div>
    @Html.ActionLink("Regresa a la búsqueda", "BuscaCedula")
</div>
        
            
     

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
