﻿@model IEnumerable<MASCore.DataModel.ReporteCedulasExportarBusqueda_ResultController>

@{
    Layout = "~/Views/Shared/_PdfLayout.cshtml";

}

<table width="100%" cellpadding="1.0" cellspacing="1.0"   widths="1;4;1">
    <row>
        <cell>

            <img src="~/Images/Logo1.jpg" />
            @*<image url="@Context.Server.MapPath("~/Content/Logo1.jpg")" />*@
        </cell>
        <cell horizontalalign="Default" verticalalign="Default">
            <paragraph style="font-size: 13;font-weight:normal;" red="60" green="60" blue="60" align="Center">
                COMISION NACIONAL DE ACUACULTURA Y PESCA <br />
                DIRECCIÓN GENERAL DE INSPECCION Y VIGILANCIA <br />
            </paragraph>
            <chunk style="font-size: 13;font-weight:normal" red="60" green="60" blue="60" align="Center">  DIRECCIÓN DE MONITOREO Y COORDINACIÓN</chunk> 
        </cell>
        <cell>

            <img src="~/Images/Logo2.jpg" />
            @*<image url="@Context.Server.MapPath("~/Content/Logo2.jpg")"/>*@
        </cell>
    </row>
</table>

<paragraph style="font-family: Helvetica; font-size: 16; "  align="Center">
	<chunk style="font-weight:normal;" red="60" green="60" blue="60">REPORTE - CEDULAS </chunk>
</paragraph>
<table width="100%" cellpadding="1.0" cellspacing="1.0"   widths="3;3;2">
    <row>
        <cell colspan="2"> Impreso por: @Html.Encode(Context.Request.Cookies["userName"].ToString().ToUpper()) </cell>
        @*<cell></cell>*@
        <cell> Fecha: @DateTime.Now.Date.ToShortDateString()  </cell>
    </row>
</table>

@if (Model != null)
{
    foreach (var item in Model)
    {
    string NoCedula = item.NoCedula;
    string FechaCed = item.FechaCedula.Value.ToShortDateString();
    
    <table width="100%" cellpadding="1.0" cellspacing="1.0"  border="2" widths=".7;1;1;1;1;1" red="255" green="255" blue="255" align="left">
        <row>
            <cell colspan="3" borderwidth="0.5" left="true" right="true" top="true" bottom="true" header="true" leading="18.0">            	         
                <chunk style="font-family: Helvetica; font-size: 10;font-weight:bold;text-align:center">
                    CEDULA
                </chunk>             
            </cell>
            <cell colspan="3" borderwidth="0.5" left="false" right="false" top="false" bottom="false" header="true" leading="18.0">            	         
                <chunk style="font-family: Helvetica; font-size: 10;font-weight:bold;text-align:center">
                    
                </chunk>             
            </cell>
        </row>
        <row>
	        <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" header="true" leading="18.0">            	         
                <chunk style="font-family: Helvetica; font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                        Id Cedula
                </chunk>             
            </cell>	   
	        <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
                <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                        No. Cedula
                </chunk>
            </cell>
            <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
                <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                        Fecha
                </chunk>
            </cell>
            <cell colspan="3" borderwidth="0.5" left="false" right="false" top="false" bottom="false" >
                <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                       
                </chunk>
            </cell>                         
        </row>
        <row>
            <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;">                        
                        @item.idcedula
                </chunk>
            </cell>	        
            <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" >
                <chunk style="font-family:Helvetica;font-size: 10;">
                        @(NoCedula ?? string.Empty).Trim()@*@item.FechaCedula.Value.ToShortDateString()*@
                </chunk>
            </cell> 
            <cell borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 10;">
                        @item.FechaCedula.Value.ToShortDateString()
                </chunk>
            </cell> 
            <cell colspan="3" borderwidth="0.5" left="false" right="false" top="false" bottom="false">
                <chunk style="font-family:Helvetica;font-size: 10;">
                        
                </chunk>
            </cell>             
                                                                @*<cell borderwidth="0.5" left="true" right="true" top="true" bottom="true" horizontalalign="Default"> <chunk style="font-family:Helvetica;font-size: 10;" > @NoCedula.Trim()</chunk></cell>   *@                
        </row>
    </table>
    @* ------------------                                                        ------------------------*@
    @* ------------------                 DATOS GENERALES                        ------------------------*@
    @* ------------------                                                        ------------------------*@
    <table width="100%" cellpadding="1.0" cellspacing="1.0"  border="2" widths=".7;1;1;1;1;1" red="255" green="255" blue="255" align="left">
        <row>
            <cell colspan="3" borderwidth="0.5" left="true" right="true" top="true" bottom="true" header="true" leading="18.0">            	         
                <chunk style="font-family: Helvetica; font-size: 10;font-weight:bold;text-align:center">
                    DATOS GENERALES
                </chunk>             
            </cell>
            <cell colspan="3" borderwidth="0.5" left="false" right="false" top="false" bottom="false" header="true" leading="18.0">            	         
                <chunk style="font-family: Helvetica; font-size: 10;font-weight:bold;text-align:center">
                    
                </chunk>             
            </cell>
        </row>
        <row>
            <cell colspan="3" borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                       Responsable
                </chunk>
            </cell>
            <cell colspan="1" borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                       Turno
                </chunk>
            </cell>
            <cell colspan="2" borderwidth="0.5" >
                <chunk style="font-family:Helvetica;font-size: 10;">
                       
                </chunk>
            </cell>         
        </row>      
        <row>
            <cell colspan="3" borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 9;">
                       @item.OFP
                </chunk>
            </cell>
            <cell colspan="1" borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 8;">
                       @item.Turno
                </chunk>
            </cell>
            <cell colspan="2" borderwidth="0.5" >
                <chunk style="font-family:Helvetica;font-size: 9;">
                       
                </chunk>
            </cell>         
        </row>
        @* ------------------                 TERCER RENGLON                     ------------------------*@
        <row>
            <cell colspan="2" borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                       Barco
                </chunk>
            </cell>
            <cell colspan="1" borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                       Matricula
                </chunk>
            </cell>
            <cell colspan="1" borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                       RNP
                </chunk>
            </cell>
            <cell colspan="2" borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                       Puerto Base
                </chunk>
            </cell>         
        </row>
        <row>
            <cell colspan="2" borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 9;">
                       @item.NombreBarco
                </chunk>
            </cell>
            <cell colspan="1" borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 8;">
                       @item.MatriculaBarco
                </chunk>
            </cell>
            <cell colspan="1" borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 8;">
                       @item.RNP
                </chunk>
            </cell>  
            <cell colspan="2" borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 8;">
                       @item.PuertoBase
                </chunk>    
            </cell>      
        </row>
        @* ------------------                 CUARTO RENGLON                     ------------------------*@
        <row>
            <cell colspan="6" borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                       Tipo Permiso
                </chunk>
            </cell>                 
        </row>
        <row>
            <cell colspan="6" borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 8;">
                       @item.TipoPermiso
                </chunk>
            </cell>            
        </row>
        @* ------------------                 QUINTO RENGLON                     ------------------------*@
        <row>
            <cell colspan="3" borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;" red="10" green="100" blue="100">
                    Razón Social
                </chunk>
            </cell> 
            <cell colspan="3" borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                       Domicilio
                </chunk>    
            </cell>                 
        </row>
        <row>
            <cell colspan="3" borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 8;">
                       @item.RazonSocial
                </chunk>
            </cell> 
            <cell colspan="3" borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 8;">
                       @item.Domicilio
                </chunk>
            </cell>           
        </row>
        @* ------------------                 SEXTO RENGLON                     ------------------------*@
        <row>
            <cell colspan="3" borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                       Contacto
                </chunk>
            </cell> 
            <cell colspan="2" borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                       Puesto
                </chunk>    
            </cell>
            <cell colspan="1" borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;" red="10" green="100" blue="100">
                    Teléfono
                </chunk>    
            </cell>                 
        </row>
        <row>
            <cell colspan="3" borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 8;">
                       @item.Contacto
                </chunk>
            </cell> 
            <cell colspan="2" borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 8;">
                       @item.Puesto
                </chunk>
            </cell>
            <cell colspan="1" borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 8;">
                       @item.Telefono
                </chunk>
            </cell>          
        </row>
    </table>
    @* ------------------                                                        ------------------------*@
    @* ------------------                 DATOS DE LA ALERTA                     ------------------------*@
    @* ------------------                                                        ------------------------*@
    <table width="100%" cellpadding="1.0" cellspacing="1.0"  border="2" widths=".7;1;1;1;1;1" red="255" green="255" blue="255" align="left">
        <row>
            <cell colspan="3" borderwidth="0.5" left="true" right="true" top="true" bottom="true" header="true" leading="18.0">            	         
                <chunk style="font-family: Helvetica; font-size: 10;font-weight:bold;text-align:center">
                    DATOS DE LA ALERTA
                </chunk>
            </cell>
            <cell colspan="3" borderwidth="0.5" left="false" right="false" top="false" bottom="false" header="true" leading="18.0">            	         
                <chunk style="font-family: Helvetica; font-size: 10;font-weight:bold;text-align:center">
                    
                </chunk>             
            </cell>
        </row>
        @* ------------------                 SEGUNDO RENGLON                     ------------------------*@
        <row>
            <cell colspan="4" borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                       Tipo de alerta
                </chunk>
            </cell> 
            <cell colspan="1" borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                       Fecha de alerta
                </chunk>    
            </cell>
            <cell colspan="1" borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                       Hora de alerta
                </chunk>    
            </cell>                 
        </row>        
        <row>
            <cell colspan="4" borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 8;">
                       @item.TipoAlerta
                </chunk>
            </cell> 
            <cell colspan="1" borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 8;">
                       @item.FechaAlerta.Value.ToShortDateString()
                </chunk>
            </cell>
            <cell colspan="1" borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 8;">
                       @item.HoraAlerta
                </chunk>
            </cell>          
        </row>
        @* ------------------                 RENGLON CAUSA                     ------------------------*@
        <row>
            <cell colspan="6" borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;" red="10" green="100" blue="100">
                    Causa
                </chunk>
            </cell>
        </row>
        <row>
            <cell colspan="6" borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 8;">
                    @item.Causas
                </chunk>
            </cell>
        </row>

        @* ------------------                 TERCER RENGLON                     ------------------------*@
        <row>
            <cell colspan="2" borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                       Latitud
                </chunk>
            </cell> 
            <cell colspan="2" borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                       Longitud
                </chunk>    
            </cell>
            <cell colspan="1" borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                       Velocidad
                </chunk>    
            </cell>
            <cell colspan="1" borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                       Profundidad
                </chunk>    
            </cell>                    
        </row>        
        <row>
            <cell colspan="2" borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 8;">
                       @item.Latitud
                </chunk>
            </cell> 
            <cell colspan="2" borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 8;">
                       @item.Longitud
                </chunk>
            </cell>
            <cell colspan="1" borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 8;">
                       @item.Velocidad
                </chunk>
            </cell>
            <cell colspan="1" borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 8;">
                       @item.Profundidad
                </chunk>
            </cell>  
        </row>
        @* ------------------                 CUARTO RENGLON                     ------------------------*@
        <row>
            <cell colspan="2" borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                       Estatus
                </chunk>
            </cell> 
            <cell colspan="2" borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                       Ultima Tx
                </chunk>    
            </cell>            
            <cell colspan="1" borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                       Distancia Costa
                </chunk>    
            </cell>
            <cell colspan="1" borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                       Zona
                </chunk>    
            </cell>
        </row>        
        <row>
            <cell colspan="2" borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 8;">
                       @item.Estatus
                </chunk>
            </cell> 
            <cell colspan="2" borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 8;">
                       @item.UltimaTx
                </chunk>
            </cell>            
            <cell colspan="1" borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 8;">
                       @item.DistanciaCosta
                </chunk>
            </cell> 
            <cell colspan="1" borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 8;">
                       @item.Zona
                </chunk>
            </cell>             
        </row>       
        @* ------------------                 QUINTO RENGLON                     ------------------------*@
        <row>
            <cell colspan="1" borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                       Referencia
                </chunk>
            </cell> 
            <cell colspan="2" borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                       Nombre persona contactada
                </chunk>    
            </cell>            
            <cell colspan="2" borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                       Puesto
                </chunk>    
            </cell>
            <cell colspan="1" borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;" red="10" green="100" blue="100">
                    Teléfono
                </chunk>    
            </cell>
        </row>        
        <row>
            <cell colspan="1" borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 8;">
                       @item.Referencia
                </chunk>
            </cell> 
            <cell colspan="2" borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 8;">
                       @item.NombreContactada
                </chunk>
            </cell>            
            <cell colspan="2" borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 8;">
                       @item.PuestoContactada
                </chunk>
            </cell> 
            <cell colspan="1" borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 8;">
                       @item.TelefonoContactada
                </chunk>
            </cell>             
        </row>
        @* ------------------                 SEXTO RENGLON                     ------------------------*@
        <row>
            <cell colspan="1" borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                       Llamada
                </chunk>
            </cell> 
            <cell colspan="1" borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                       Fecha llamada
                </chunk>    
            </cell>            
            <cell colspan="2" borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                       Estado
                </chunk>    
            </cell>
            <cell colspan="2" borderwidth="0.5" >
                <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                       
                </chunk>    
            </cell>
        </row>        
        <row>
            <cell colspan="1" borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 8;">
                       @item.CedulaLlamada
                </chunk>
            </cell> 
            <cell colspan="1" borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 8;">
                       @item.FechaLlamada
                </chunk>
            </cell>            
            <cell colspan="2" borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 8;">
                       @item.Estado
                </chunk>
            </cell> 
            <cell colspan="2" borderwidth="0.5">
                <chunk style="font-family:Helvetica;font-size: 8;">
                       
                </chunk>
            </cell>             
        </row>
        @* ------------------                 SEXTO RENGLON                     ------------------------*@
        <row>
            <cell colspan="6" borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 10;font-weight:bold;"  red="10" green="100" blue="100">
                       Anexos
                </chunk>
            </cell>          
        </row>        
        <row>
            <cell colspan="6" borderwidth="0.5" left="true" right="true" top="true" bottom="true">
                <chunk style="font-family:Helvetica;font-size: 8;">
                       @item.Anexos
                </chunk>
            </cell>            
        </row>
    </table>
    <newline />
    
    @*<chapter  >
    <section  >        
        <paragraph leading="18.0" font="unknown" align="Default">
            blah blah
        </paragraph>
    </section>
    </chapter>*@

    }
}




@*
<!DOCTYPE html>
<html>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idcedula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoCedula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoAlerta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaCedula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Latitud)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Longitud)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Velocidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Profundidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DistanciaCosta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zona)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Referencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UltimaTx)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaAlerta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraAlerta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MatriculaBarco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreBarco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RNP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoPermiso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PuertoBase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RazonSocial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Litoral)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Domicilio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contacto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Puesto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anexos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OFP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Turno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreContactada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PuestoContactada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TelefonoContactada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CedulaLlamada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaLlamada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idcedula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoCedula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoAlerta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCedula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latitud)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Longitud)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Velocidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Profundidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DistanciaCosta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zona)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Referencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UltimaTx)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaAlerta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraAlerta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatriculaBarco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreBarco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RNP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoPermiso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PuertoBase)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RazonSocial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Litoral)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Domicilio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contacto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Puesto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Anexos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OFP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Turno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreContactada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PuestoContactada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelefonoContactada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CedulaLlamada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaLlamada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
*@