﻿@model MASCore.Models.CatalogoViewModel




@{
    ViewBag.Title = "PruebaRecuperaValores";
}
<script src="../../Scripts/jquery-ui-1.8.20.js" type="text/javascript"></script>

<script src="~/js/jquery.unobtrusive-ajax.js" type="text/javascript"></script>


@Html.DropDownListFor(x => x.listalitoral, new SelectList(Model.listalitoral, "Litoral", "Litoral"), "Seleccione algo")


<div align="center">
    @*NOTA: El codigo del script se puede poner incluso en el final de la pagina*@
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnCalc").click(function () {
                $.ajax(
                    {
                        url: '/Cedula/CalcEdades',
                        type: "POST",
                        data: { fechaNacimiento: document.getElementById("fechaNacimiento2").value },
                        success: function (data) {
                            $("#result2").html(data);
                        }
                    });
            });
        });

    </script>
    <label> Fecha de nacimiento:</label>
    <input type="text" name="fechaNacimiento2" id="fechaNacimiento2" />
    <input type="submit" id="btnCalc" value="Calcular Edad" />
    <hr />
    <div id="result2"></div>
</div>


@using (Html.BeginForm())
{

    <h2>PruebaRecuperaValores</h2>
    @Html.TextBox("textoejemplo")

    <input type="submit" value="Botonasooooo" />

}

<hr />
<div align="center">
    @*@using ((Ajax.BeginForm("CalcEdades",
     new AjaxOptions()
     {
         HttpMethod = "Post",
         UpdateTargetId = "result"
     })))*@
    {
        <label> Fecha de nacimiento:</label>
        <input type="text" name="fechaNacimiento" id="fechaNacimiento" />
        <input type="submit" value="Calcular Edad" />
    }
    <hr />
    <div id="result"></div>
</div>
