﻿
@{
    ViewBag.Title = "PruebaBusqueda";
}

<h4>Tipos de Cedula</h4>

<div>
    @Html.DropDownList("idtipoalarma", string.Empty)
</div>

<h4>Causas de la Emergencia</h4>
<div>
    @Html.DropDownList("selectedCity", ViewBag.Alarmas as IEnumerable<SelectListItem>)
    @*@Html.DropDownList("cbocausas", ViewData["idcausax"] as SelectList)*@
  @*  @Html.DropDownList("idcausa", string.Empty)*@
</div>

<h4>Causas de la Emergencia</h4>
<div>
    @Html.DropDownList("Alarmas")
  @* @Html.DropDownList("cbocausas", ViewData["Alarmas"] as SelectList)*@
  @*  @Html.DropDownList("idcausa", string.Empty)*@
</div>
<h3>viewbag :P</h3>
@Html.DropDownList("cbocausas")

<h4>Litoral</h4>
<div>
    @Html.DropDownList("Litoral", string.Empty)
</div>

@using (Html.BeginForm())
{
    <input type="submit" value= "BUSCAR" />
}