﻿

@using MASCore.Models

@{
    ViewBag.Title = "Busca Mantenimientos";

}



<div style="text-align:center; color:Red;font-size:medium">
    @ViewBag.NoValidoPor
</div>

<head>
 
    <script src="~/js/Mantenimiento/BuscaMtto.js"></script>
</head>

@Html.ValidationSummary(true)
<article>
    <h1>Buscar Mantenimiento</h1>
</article>

<div id="tabs">

    <div class="tabs-container"></div>
    <div class="content  dx-fieldset">
        <div id="consulta">
            <div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h4>Criterios de filtrado</h4>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="row">

                                <table style="width: 100%; margin-left: 15px; margin-right: 15px;">
                                    <tr style="height: 40px;">
                                        <td style="text-align: left;">
                                            <div id="DivSwitch" style="font-weight: normal; padding-left: 5px; vertical-align: middle;"></div>
                                            <div style="font-weight: normal; padding-left: 5px; vertical-align: middle;">Rango de Fechas</div>

                                        </td>
                                        <td style="width: 50px; text-align: center;">
                                            <label id="lblDel" style="font-weight: normal;">Del:</label>
                                        </td>
                                        <td>
                                            <div id="FechaInicial"></div>

                                        </td>
                                        <td style="width: 50px; text-align: center;">
                                            <label id="lblAl" style="font-weight: normal;">Al:</label>
                                        </td>
                                        <td>
                                            <div id="FechaFinal"></div>

                                        </td>
                                    </tr>
                                </table>
                                <table style="width: 100%; margin-left: 15px; margin-right: 15px; margin-top: 10px;">
                                    <tr style="height: 30px;">
                                        <td style="width: 100%; text-align: left; vertical-align: bottom;" colspan="2">
                                            <label id="lblDatosBarco" style="font-weight: normal;">Datos del barco:</label>
                                        </td>
                                    </tr>
                                    <tr style="height: 40px;">
                                        <td style="width: 50%; padding-right: 10px;">
                                            <div id="Barco"></div>


                                        </td>
                                        <td style="width: 50%; padding-left: 10px;">
                                            <div id="RazonSocial"></div>


                                        </td>
                                    </tr>
                                </table>
                                <table style="width: 100%; margin-left: 15px; margin-right: 15px; margin-top: 10px; margin-bottom: 10px;">
                                    <tr style="height: 30px;">
                                        <td style="width: 100%; text-align: left; vertical-align: bottom;" colspan="2">
                                            <label id="lblDatosMantenimiento" style="font-weight: normal;">Datos del mantenimiento:</label>
                                        </td>
                                    </tr>
                                    <tr style="height: 40px;">
                                        <td style="width: 50%; padding-right: 10px;">
                                            <div id="Servicio"></div>

                                        </td>
                                        <td style="width: 50%; padding-left: 10px;">
                                            <div id="NumeroFolio"></div>

                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <table style="width: calc(100% - 60px); margin-left: 35px;">
                <tr style="height: 40px;">
                    <td style="width: 100%; text-align: right; padding-top: 10px;">

                        <button type="submit" name="submitButton" class="btn-primary form-control" id="Buscar" value="Buscar" style="width:60px; margin-left:-15px;" data-toggle="tooltip" data-placement="top" title="Buscar Mantenimiento">
                            <i class="fas fa-search" style="width:24px"></i>
                        </button>
                    </td>
                </tr>
            </table>
            <br />
            <section>
                <div id="DivGrid"></div>
                @*@if (Model.ResultadoListaMantenimientos.Count() > 0)
                    {
                        <div id="grid" style="margin-top: 10px;">
                            @(Html.DevExtreme()
                                        .DataGrid<MASCore.BuscaMantenimientos_Result>()
                                        .ID("gridContainer")
                                        .DataSource(Model.ResultadoListaMantenimientos, new string[] { "Folio" })
                                        .ColumnHidingEnabled(true)
                                        .ShowColumnLines(true)
                                        .ShowRowLines(true)
                                        .RowAlternationEnabled(true)
                                        .ShowBorders(true)
                                        .Pager(p => p.AllowedPageSizes(new int[] { 5, 8, 15, 30 })
                                        .ShowInfo(true)
                                        .ShowNavigationButtons(true)
                                        .ShowPageSizeSelector(true)
                                        .Visible(true))
                                        .Paging(p => p.PageSize(5))
                                        .ShowColumnHeaders(true)
                                        .WordWrapEnabled(true)
                                        .ColumnAutoWidth(true)
                                        .Columns(columns =>
                                        {
                                            columns.AddFor(m => m.Folio).Caption("Folio").Width(100);
                                            columns.AddFor(m => m.Fecha_Mantto).Caption("Fecha Mantto").Format(Format.ShortDate);
                                            columns.AddFor(m => m.Servicio).Caption("Servicio").Width(250);
                                            columns.AddFor(m => m.NombreBarco).Caption("Nombre Barco").Width(250);
                                            columns.AddFor(m => m.Antena).Caption("Antena");
                                            columns.AddFor(m => m.Matricula).Caption("Matricula");
                                            columns.AddFor(m => m.RNP).Caption("RNP");
                                            columns.AddFor(m => m.PuertoBase).Caption("Puerto Base");
                                            columns.AddFor(m => m.RazonSocial).Caption("Razón Social");
                                            columns.AddFor(m => m.Zona).Caption("Zona");
                                            columns.AddFor(m => m.Supervisor).Caption("Supervisor");
                                            columns.AddFor(m => m.Recibe).Caption("Recibe");
                                        })
                            )
                        </div>
                        <br />
                    }*@
            </section>
        </div>
        <div id="resumen">
            <div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h4>Seleccione los campos y el total a mostrar</h4>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="row">
                                <table style="width: 100%;">
                                    <tr style="height: 40px;">
                                        <td style="width:60%;color:#000; vertical-align:middle; text-align: center;">
                                            <label id="lblCampos" style="font-weight: normal;">Campos</label>
                                        </td>
                                        <td style="width:40%; vertical-align:middle; text-align: center;">
                                            <label id="lblSumarizacion" style="font-weight: normal;">Sumarización</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width:60%;border-top-style: solid; border-top-color: black; border-top-width: thin;">
                                            <div class="row">
                                                <div class="col-6">
                                                    <div id="Switch1" class="col-5" style="font-weight: normal; padding-left: 5px; vertical-align: middle;"></div>
                                                    <label style="font-weight: normal; padding-left: 5px;">Servicio</label>


                                                </div>
                                                <div class="col-6">
                                                    <div id="Switch2" class="col-5" style="font-weight: normal; padding-left: 5px; vertical-align: middle;"></div>
                                                    <label style="font-weight: normal; padding-left: 5px;">Puerto Base</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-6">
                                                    <div id="Switch3" class="col-5" style="font-weight: normal; padding-left: 5px; vertical-align: middle;"></div>
                                                    <label style="font-weight: normal; padding-left: 5px;">Raz&oacute;n Social</label>
                                                </div>
                                                <div class="col-6">
                                                    <div id="Switch4" class="col-5" style="font-weight: normal; padding-left: 5px; vertical-align: middle;"></div>
                                                    <label style="font-weight: normal; padding-left: 5px;">Supervisor</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-6">
                                                    <div id="Switch5" class="col-5" style="font-weight: normal; padding-left: 5px; vertical-align: middle;"></div>
                                                    <label style="font-weight: normal; padding-left: 5px;">Zona</label>
                                                </div>
                                                <div class="col-6">
                                                    <div id="Switch6" class="col-5" style="font-weight: normal; padding-left: 5px; vertical-align: middle;"></div>
                                                    <label style="font-weight: normal; padding-left: 5px;">Barco</label>
                                                </div>
                                            </div>
                                        </td>
                                        <td style="width: 40%; border-left-style: solid; border-left-color: black; border-left-width: thin; border-top-style: solid; border-top-color: black; border-top-width: thin;">
                                            <div id="divTotal" style="margin-left: 20px; margin-top: 20px;">
                                                <div id="Switch7" class="col-5" style="font-weight: normal; padding-left: 5px; vertical-align: middle;"></div>
                                                <label style="font-weight: normal; padding-left: 5px;">Contar Barcos</label>
                                                <br />
                                                <div id="Switch8" class="col-5" style="font-weight: normal; padding-left: 5px; vertical-align: middle;"></div>
                                                <label style="font-weight: normal; padding-left: 5px;">Contar Servicios</label>
                                                <br />
                                                <div id="Switch9" class="col-5" style="font-weight: normal; padding-left: 5px; vertical-align: middle;"></div>
                                                <label style="font-weight: normal; padding-left: 5px;">Contar Ambos</label>
                                                <br />
                                                <br />
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <table style="width: calc(100% - 30px); margin-left: 15px;">
                <tr style="height: 40px;">
                    <td style="width: 100%; text-align: right; padding-top: 10px;">


                        <button type="submit" name="submitButton" class="btn-primary form-control" id="BuscarResumen" value="Buscar" style="width:60px; margin-left:-15px;" data-toggle="tooltip" data-placement="top" title="Buscar Resumen">
                            <i class="fas fa-search" style="width:24px"></i>
                        </button>
                    </td>
                </tr>
            </table>
            <br />
            <section></section>
        </div>


    </div>
    <div id="negacion">
        <div>
            <div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 20px;">
                <div class="x_panel">
                    <div class="x_title">
                        <div>Los datos aquí mostrados representan las embarcaciones que no cumplieron con los criterios de la consulta ejecutada.</div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            <section>
                                <div id="GridNegacion"></div>
                                @*@if (Model.ResultadoListaMantenimientosResumenNegacion.Count() > 0)
                                    {
                                        <div id="grid" style="margin-top: 10px;">
                                            @(Html.DevExtreme()
                                                                .DataGrid<MASCore.BuscaMantenimientosResumenNegacion_Result>()
                                                                .ID("gridContainerNegacion")
                                                                .DataSource(Model.ResultadoListaMantenimientosResumenNegacion, new string[] { "MatBarco" })
                                                                .ShowColumnLines(true)
                                                                .ShowRowLines(true)
                                                                .RowAlternationEnabled(true)
                                                                .ShowBorders(true)
                                                                .Pager(p => p.AllowedPageSizes(new int[] { 5, 8, 15, 30 })
                                                                .ShowInfo(true)
                                                                .ShowNavigationButtons(true)
                                                                .ShowPageSizeSelector(true)
                                                                .Visible(true))
                                                                .Paging(p => p.PageSize(5))
                                                                .ShowColumnHeaders(true)
                                                                .WordWrapEnabled(true)
                                                                .Columns(columns =>
                                                                {
                                                                    columns.AddFor(m => m.MatBarco).Caption("Matrícula").Width(100);
                                                                    columns.AddFor(m => m.NombreBarco).Caption("Nombre barco").Width(100);
                                                                    columns.AddFor(m => m.RNP).Caption("RNP").Width(100);
                                                                    columns.AddFor(m => m.Permiso).Caption("Permiso");
                                                                    columns.AddFor(m => m.TipoPermiso).Caption("Tipo permiso");
                                                                    columns.AddFor(m => m.RNPTitular).Caption("RNP Titular");
                                                                    columns.AddFor(m => m.PuertoBase).Caption("Puerto Base");
                                                                    columns.AddFor(m => m.SerieAntena).Caption("Serie Antena");
                                                                })
                                            )
                                        </div>
                                    }*@
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>





