﻿@{
    ViewBag.Title = "Mantenimientos";
}
<style>
    .panel {
        margin-bottom: 20px;
        background-color: #2A3F54;
        border: 1px solid transparent;
        border-radius: 4px;
        -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
        color: white;
    }

    a, a:hover {
        color: #CDA434;
    }
</style>
<div class="index">
    <article>
        <h1>Módulo Mantenimientos</h1>
    </article>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h4>Panel de Opciones</h4>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="panel">
                                <div class="panel-heading" style="min-height: 75px; max-height: 75px;">
                                    <div class="row">
                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                            <i class="fas fa-search fa-1x"></i>
                                        </div>
                                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 text-center">
                                            <div><h6>Buscar Mantenimientos </h6></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body" style="background-color:#f5f5f5;color:black">
                                    <p>Ingresando al módulo podrá ver los detalles, tablas y gráficas el documento encontrado.</p>
                                </div>
                                <a href='@Url.Action("BuscaMantenimiento","Mantenimiento")'>
                                    <div class="panel-footer" style="min-height: 40px; max-height: 40px;">
                                        <div class="text-right">
                                            <i id="ir2" class="fa fa-arrow-circle-right tamanoIconoEnGrid"></i>
                                           
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
</div>