﻿.combobox {
    width: 312px !important;
    height: 27px !important;
    color: #333 !important;
    border: solid 1px #dadada !important;
}


html {
    background-color: #e2e2e2;
    margin: 0;
    padding: 0;
    min-width: 60em;
}

body {
    background-color: #fff; /*fff*/
    border-top: solid 10px #0F2C48; /*000*/
    color: #333;
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
}

a {
    color: #333;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: underline;
}

    a:link, a:visited,
    a:active, a:hover {
        color: #333;
    }

    a:hover {
        background-color: #c7d1d6;
    }

header, footer, hgroup,
nav, section {
    display: block;
}

mark {
    background-color: #a6dbed;
    padding-left: 5px;
    padding-right: 5px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

h1, h2, h3,
h4, h5, h6 {
    color: #000;
    margin-bottom: 0;
    padding-bottom: 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

    h5 a:link, h5 a:visited, h5 a:active {
        padding: 0;
        text-decoration: none;
    }


/* main layout
----------------------------------------------------------*/
.content-wrapper {
    margin: 0 auto;
    max-width: 1000px; /*960px*/
}

#body {
    background-color: #efeeef;
    clear: both;
    padding-bottom: 35px;
}



.main-content {
    background: url("../Images/accent.png") no-repeat;
    background-position: 17px 0px; /*Para mover la imagen del medio circulo alineada con el logo de astrum*/
    padding-left: 30px;
    padding-top: 15px;
    /* padding: 30px 30px 15px 30px; /* padding: 30px 30px 15px 30px;*/
}

.featured + .main-content {
    background: url("../Images/heroAccent.png") no-repeat;
}

header .content-wrapper {
    padding-top: 6px;
}










#main {
}

.div-left {
    width: 50%;
    float: left;
    position: relative;
}

.div-rigth {
    width: 50%;
    float: right;
    position: relative;
}

.div-rigth2 {
    border: 1px #0F2C48 solid;
    /* border-bottom: 1px #0F2C48 solid;*/
    text-align: right;
    display: block;
    border-radius: 15px 15px 15px 15px;
    /*
 width:70%;
 padding: 0px 14% ;
-webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    */
}

.div-datosgenerales, .div-datosalerta, .div-comentarios {
    border-top: 0;
    border: 3px #FFF solid;
    /* border-bottom: 1px #0F2C48 solid;*/
    text-align: left;
    display: inline-table;
    text-indent: 20px;
    border-radius: 15px 15px 15px 15px;
    width: 45%;
    float: none;
    position: relative;
    min-height: 35em;
    max-width: 80em;
    /*  max-width:80em;   quitar esteeeeeeeeeee mario*/
}

.div-datosalerta {
    /*
    border:3px #FFF solid;  /* border-bottom: 1px #0F2C48 solid;
  
    text-align:left;
    display:inline-block;
    text-indent:20px;
    border-radius: 15px 15px 15px 15px;
    float:none;
    position:relative;
    */
    width: 49%;
}

.div-comentarios {
    display: block;
    float: left;
    position: static;
    width: 99%;
    min-height: 10em;
}

.div-extra, .div-obtieneinformacion {
    /* border-top:0;  border-bottom: 1px #0F2C48 solid;   display:inherit;  text-align:left; text-indent:2px; border:3px #FFF solid;*/
    border-radius: 15px 15px 15px 15px;
    float: left;
    position: relative;
    width: 110%;
    min-height: 10em;
    max-width: 80em;
}

    .div-datosgenerales h4, .div-datosalerta h4, .div-comentarios h4, .div-extra h4, .div-obtieneinformacion h4 {
        color: #DF9448;
    }


.table-top {
    /* float:right;  border: solid 1px #e8eef4;*/
    border: solid 1px #000;
    border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
}

.div-txt {
    border: solid 10px #fff;
    border-radius: 15px 15px 15px 15px;
    background-color: #e8eef4;
    font-size: medium;
}


.fechas-ocultas {
    display: none;
    font-weight: bold;
}

.negrita-derecha, .negrita-izquierda {
    text-align: right;
    font-weight: bold;
}

.negrita-centro {
    text-align: center;
    font-weight: bold;
}

.negrita-izquierda {
    text-align: left;
}

.fondoblanco-borde {
    background-color: White;
    border: 1px solid #848484;
}

footer {
    clear: both;
    background-color: #e2e2e2;
    font-size: .8em;
    height: 100px;
}


/* site title
----------------------------------------------------------*/
.site-title {
    color: #c8c8c8;
    font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
    font-size: 2.3em;
    margin: 0;
}

    .site-title a, .site-title a:hover, .site-title a:active {
        background: none;
        color: #c8c8c8;
        outline: none;
        text-decoration: none;
    }


/* login
----------------------------------------------------------*/
#login {
    display: block;
    font-size: .85em;
    margin: 0 0 10px;
    text-align: right;
}

    #login a {
        background-color: #d3dce0;
        margin-left: 10px;
        margin-right: 3px;
        padding: 2px 3px;
        text-decoration: none;
    }

        #login a.username {
            background: none;
            margin: 0;
            padding: 0;
            text-decoration: underline;
        }

    #login ul {
        margin: 0;
    }

    #login li {
        display: inline;
        list-style: none;
    }


/* TAB MENU   mvc 3
----------------------------------------------------------*/
ul#menu, ul#menu2 {
    border-bottom: 5px #0F2C48 solid; /*5C87B2*/
    padding: 0 0 2px;
    position: relative;
    margin: 0;
    text-align: right;
}

.borderdown {
    border-bottom: 2px #DF9448 solid;
}

ul#menu2 {
    border-bottom: 2px #DF9448 solid;
}

    ul#menu li, ul#menu2 li {
        display: inline;
        list-style: none;
    }

        ul#menu li#greeting, ul#menu2 li#greeting {
            padding: 10px 20px;
            font-weight: bold;
            text-decoration: none;
            line-height: 2.8em;
            color: #fff;
        }

        ul#menu li a, ul#menu2 li a {
            padding: 10px 20px;
            font-weight: bold;
            text-decoration: none;
            line-height: 2.8em;
            background-color: #e8eef4;
            color: #999; /*  color: #034af3;   color azul  de la letra usado en la plantilla de MVC3*/
            border-radius: 4px 4px 0 0;
            -webkit-border-radius: 4px 4px 0 0;
            -moz-border-radius: 4px 4px 0 0;
        }

        ul#menu2 li a {
            background-color: #ddd;
            color: #0F2C48; /*  color: #034af3; 0F2C48  color azul  de la letra usado en la plantilla de MVC3*/
        }

        ul#menu li a:hover {
            background-color: #fff; /* tenia color blanco al seleccionar  background-color: #fff;*/
            color: #333; /* aqui no cambiaba la letra*/
            text-decoration: none;
        }

        ul#menu2 li a:hover {
            background-color: #fff; /* tenia color blanco al seleccionar  background-color: #fff;*/
            color: #DF9448; /* aqui no cambiaba la letra*/
            text-decoration: none;
        }

        ul#menu li a:active {
            background-color: #0F2C48; /* tenia este color verde background-color: #a6e2a6;*/
            color: #fff;
            text-decoration: none;
        }

        ul#menu2 li a:active {
            background-color: #0F2C48; /* tenia este color verde background-color: #a6e2a6;*/
            color: #fff;
            text-decoration: none;
        }

        ul#menu li.selected a {
            background-color: #fff;
            color: #000;
        }


/* menu mvc 4
----------------------------------------------------------
ul#menu {
    font-size: 1.3em;
    font-weight: 600;
    margin: 0 0 5px;
    padding: 0;
    text-align: right;
}

    ul#menu li {
        display: inline;
        list-style: none;
        padding-left: 15px;
    }

        ul#menu li a {
            background: none;
            color: #999;
            text-decoration: none;
        }

        ul#menu li a:hover {
            color: #333;
            text-decoration: none;
        }
*/

/* page elements
----------------------------------------------------------*/
/* featured */
.featured {
    background-color: #fff;
}

    .featured .content-wrapper {
        background-color: #7ac0da;
        background-image: -ms-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: -o-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #7ac0da), color-stop(1, #a4d4e6));
        background-image: -webkit-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        color: #3e5667;
        padding: 5px 40px 10px 50px; /*padding: 20px 40px 30px 40px;*/
    }

    .featured hgroup.title h1, .featured hgroup.title h2 {
        color: #fff;
    }

    .featured p {
        font-size: 1.1em;
    }

/* page titles */
hgroup.title {
    margin-bottom: 10px;
}

    hgroup.title h1, hgroup.title h2 {
        display: inline;
    }

    hgroup.title h2 {
        font-weight: normal;
        margin-left: 3px;
    }

/* features */
section.feature {
    width: 300px;
    float: left;
    padding: 10px;
}

/* ordered list */
ol.round {
    list-style-type: none;
    padding-left: 0;
}

    ol.round li {
        margin: 25px 0;
        padding-left: 45px;
    }

        ol.round li.zero {
            background: url("../Images/orderedList0.png") no-repeat;
        }

        ol.round li.one {
            background: url("../Images/orderedList1.png") no-repeat;
        }

        ol.round li.two {
            background: url("../Images/orderedList2.png") no-repeat;
        }

        ol.round li.three {
            background: url("../Images/orderedList3.png") no-repeat;
        }

        ol.round li.four {
            background: url("../Images/orderedList4.png") no-repeat;
        }

        ol.round li.five {
            background: url("../Images/orderedList5.png") no-repeat;
        }

        ol.round li.six {
            background: url("../Images/orderedList6.png") no-repeat;
        }

        ol.round li.seven {
            background: url("../Images/orderedList7.png") no-repeat;
        }

        ol.round li.eight {
            background: url("../Images/orderedList8.png") no-repeat;
        }

        ol.round li.nine {
            background: url("../Images/orderedList9.png") no-repeat;
        }

        ol.round li.astrum {
            background: url("../Images/astrum.png") no-repeat;
            background-size: 23px 20px;
        }

/* content */
article {
    float: left;
    width: 70%;
}

aside {
    float: right;
    width: 25%;
}

    aside ul {
        list-style: none;
        padding: 0;
    }

        aside ul li {
            background: url("../Images/bullet.png") no-repeat 0 50%;
            padding: 2px 0 2px 20px;
        }

.label {
    font-weight: 700;
}

/* login page */
#loginForm {
    border-right: solid 2px #c8c8c8;
    float: left;
    width: 55%;
}

    #loginForm .validation-error {
        display: block;
        margin-left: 15px;
    }

    #loginForm .validation-summary-errors ul {
        margin: 0;
        padding: 0;
    }

    #loginForm .validation-summary-errors li {
        display: inline;
        list-style: none;
        margin: 0;
    }

    #loginForm input {
        width: 250px;
    }

        #loginForm input[type="checkbox"],
        #loginForm input[type="submit"],
        #loginForm input[type="button"],
        #loginForm button {
            width: auto;
        }

#socialLoginForm {
    margin-left: 40px;
    float: left;
    width: 40%;
}

    #socialLoginForm h2 {
        margin-bottom: 5px;
    }

#socialLoginList button {
    margin-bottom: 12px;
}

#logoutForm {
    display: inline;
}

/* contact */
.contact h3 {
    font-size: 1.2em;
}

.contact p {
    margin: 5px 0 0 10px;
}

.contact iframe {
    border: 1px solid #333;
    margin: 5px 0 0 10px;
}

/* forms */
fieldset {
    border: none; /*1px solid #333*/
    margin: 0;
    padding: 0;
}

    fieldset legend {
        display: none;
    }

    fieldset ol {
        padding: 0;
        list-style: none;
    }

        fieldset ol li {
            padding-bottom: 5px;
        }

label {
    display: block;
    font-size: 1.2em;
    font-weight: 600;
}

    label.checkbox {
        display: inline;
    }

input, textarea {
    border: 1px solid #e2e2e2;
    background: #fff;
    color: #333;
    font-size: 1em; /* font-size: 1.2em;*/
    margin: 5px 0 6px 0;
    padding: 5px;
    width: 300px;
}

textarea {
    font-family: inherit;
    width: 500px;
}

    input:focus, textarea:focus {
        border: 1px solid #7ac0da;
    }

input[type="checkbox"] {
    background: transparent;
    border: inherit;
    width: auto;
}

input[type="submit"],
input[type="button"],
button {
    background-color: #d3dce0;
    border: 1px solid #b6c1c5;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 600;
    padding: 7px;
    margin-right: 8px;
    width: auto;
}

td input[type="submit"],
td input[type="button"],
td button {
    font-size: 1em;
    padding: 4px;
    margin-right: 4px;
}

/* info and errors */
.message-info {
    border: 1px solid;
    clear: both;
    padding: 10px 20px;
}

.message-error {
    clear: both;
    color: #e80c4d;
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.message-success {
    color: #7ac0da;
    font-size: 1.3em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.error {
    color: #e80c4d;
}

/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}


/* tables
----------------------------------------------------------*/
/*table {
    border: solid 1px #e8eef4;
    border-collapse: collapse;
}

table td {
    padding: 5px;
    border: solid 1px #e8eef4;
}

table th {
    padding: 6px 5px;
    text-align: left;
    background-color: #e8eef4;
    border: solid 1px #e8eef4;
}
*/


table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 0.75em;
    border: 0 none;
}

th {
    font-size: 1.2em;
    text-align: left;
    border: none 0px;
    padding-left: 0;
}

    th a {
        display: block;
        position: relative;
    }

        th a:link, th a:visited, th a:active, th a:hover {
            color: #333;
            font-weight: 600;
            text-decoration: none;
            padding: 0;
        }

        th a:hover {
            color: #000;
        }

    th.asc a, th.desc a {
        margin-right: .75em;
    }

        th.asc a:after, th.desc a:after {
            display: block;
            position: absolute;
            right: 0em;
            top: 0;
            font-size: 0.75em;
        }

        th.asc a:after {
            content: '▲';
        }

        th.desc a:after {
            content: '▼';
        }

td {
    padding: 0.25em 2em 0.25em 0em;
    border: 0 none;
}

tr.pager td {
    padding: 0 0.25em 0 0;
}




.table-editar {
}

.td-left {
    text-align: right;
    /*
   display:table-cell;


    text-align:inherit;
    left:1;
    padding:0,0,0,0;
*/
}


/*
.td-right
{
background-color:Lime;

.td-right
{
    
     text-align:right;
  border-style:solid;
    max-width:20em;
    display:table-row;
    
}
*/



/*************************************************************
Usado para el webgrid MVC3
*************************************************************/

.a-la-derechaN {
    text-align: right;
    font-weight: bold;
}

.a-la-derecha {
    text-align: right;
}

tr.fila-alternativa {
    background-color: #f8f8f8;
}

tr.pie-grid td {
    padding-top: 10px;
    border-top: 1px solid black;
    background-color: #e0e0e0; /*#e0e0e0*/
    color: black;
    font-weight: bold;
    font-size: 1.1em;
}

tr.pie-grid a {
    color: #404040;
    font-weight: normal;
}

tr.encabezado-grid th {
    background-color: #e0e0e0; /*#e0e0e0*/
    color: #404040;
    width: auto;
    font-size: 0.9em;
    font-weight: bold;
}

tr.encabezado-grid a, tr.encabezado-grid td {
    color: #404040;
}

table.griddd {
    font-size: 0.9em;
    border: 1px solid #dad6da;
}

.header {
    background-color: #e0e0e0;
    font-weight: bold;
    color: #fff;
    font-size: 0.9em;
}

.letranegra {
    color: #000;
    font-size: 0.9em;
}

.letraroja {
    color: #DF0101;
}


/*USADO PARA EL GRIDVIEW DE CEDULA */
.letrachica {
    font-size: .7em;
    text-align: left;
    padding: 0 !important;
}

.letra_7 {
    font-size: .7em;
}

.letra_8 {
    font-size: .8em;
}

.letra_9 {
    font-size: .9em;
}

.letra1 {
    font-size: 1em;
}

.letra1_1 {
    font-size: 1.1em;
}

.letra1_2 {
    font-size: 1.2em;
}

.letra1_3 {
    font-size: 1.3em;
}

.folio {
    width: 50px;
    background-color: Maroon;
}

.w100 {
    width: 100px;
    font-size: 1em;
}

.w1001 {
    width: 100px;
    font-size: .7em;
    padding: 0 !important;
}

.w120 {
    width: 120px;
}

.w135 {
    width: 135px;
}

.w150 {
    width: 150px;
}

.w200 {
    width: 200px;
}



.name {
    width: 50px;
}

.matricula {
    font-size: .6em;
}





/* Usado para el dialog de JqueryUI*/
.no-close .ui-dialog-titlebar-close {
    display: none;
}



















/********************
*   Mobile Styles   *
*******************
@media only screen and (max-width: 850px) {

    /* header
    ----------------------------------------------------------*
    header .float-left,
    header .float-right {
        float: none;
    }

    /* logo *
    header .site-title {
        margin: 10px;
        text-align: center;
    }

    /* login *
    #login {
        font-size: .85em;
        margin: 0 0 12px;
        text-align: center;
    }

        #login ul {
            margin: 5px 0;
            padding: 0;
        }

        #login li {
            display: inline;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        #login a {
            background: none;
            color: #999;
            font-weight: 600;
            margin: 2px;
            padding: 0;
        }

        #login a:hover {
            color: #333;
        }

    /* menu *
    nav {
        margin-bottom: 5px;
    }

    ul#menu {
        margin: 0;
        padding: 0;
        text-align: center;
    }

        ul#menu li {
            margin: 0;
            padding: 0;
        }



    /* main layout
    ----------------------------------------------------------*
    .main-content,
    .featured + .main-content {
        background-position: 10px 0;
    }

    .content-wrapper {
        padding-right: 10px;
        padding-left: 10px;
    }

    .featured .content-wrapper {
        padding: 10px;
    }

    /* page content *
    article, aside {
        float: none;
        width: 100%;
    }

    /* ordered list *
    ol.round {
        list-style-type: none;
        padding-left: 0;
    }

        ol.round li {
            padding-left: 10px;
            margin: 25px 0;
        }

            ol.round li.zero,
            ol.round li.one,
            ol.round li.two,
            ol.round li.three,
            ol.round li.four,
            ol.round li.five,
            ol.round li.six,
            ol.round li.seven,
            ol.round li.eight,
            ol.round li.nine {
                background: none;
            }

     /* features *
     section.feature {
        float: none;
        padding: 10px;
        width: auto;
     }

        section.feature img {
            color: #999;
            content: attr(alt);
            font-size: 1.5em;
            font-weight: 600;
        }

    /* forms *
    input {
        width: 90%;
    }

    /* login page *
    #loginForm {
        border-right: none;
        float: none;
        width: auto;
    }

        #loginForm .validation-error {
            display: block;
            margin-left: 15px;
        }

    #socialLoginForm {
        margin-left: 0;
        float: none;
        width: auto;
    }


    /* footer
    ----------------------------------------------------------*
    footer .float-left,
    footer .float-right {
        float: none;
    }

    footer {
        text-align: center;
        height: auto;
        padding: 10px 0;
    }

        footer p {
            margin: 0;
        }
}
*/
.dvRadio {
    text-align: left;
}

    .dvRadio input[type=radio] {
        width: 20px;
    }

.invisible {
    display: none;
}

#FechaInicio {
    width: 226px;
}

#FechaFin {
    width: 226px;
}

.combo-horas {
    height: 25px;
    width: 70px;
    border: solid 1px #e2e2e2;
}

.dropdown {
    border: 1px solid #e2e2e2;
    background: #fff;
    color: #333;
    font-size: 1em;
    /* font-size: 1.2em; */
    margin: 5px 0 6px 0;
    padding: 5px;
    width: 310px;
}

#divErrorEmbarcaciones {
    text-align: center;
    color: red;
    font-size: smaller;
    width: 45%;
    margin: 0 auto;
}

.divErrorEmbarcacionesContent {
    border: 1px solid #d4d2d2;
    border-radius: 5px;
    padding-top: 15px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.error-embarcaciones-close {
    float: right;
    bottom: 10px;
    position: relative;
}

    .error-embarcaciones-close:hover {
        cursor: pointer;
    }

.nomargin {
    margin: 0 0 0 0 !important;
}

#gridEmbEdoPermiso {
    overflow: auto;
    overflow-y: hidden;
    width:100%;
    max-width:800px;
}
