﻿@model MASCore.Models.SolicitantesModel

@{
    ViewBag.Title = "Busca Solicitantes";
}

<div style="text-align:center; color:Red;font-size:medium">
    @ViewBag.NoValidoPor
</div>

@using (Html.BeginForm("BuscaSolicitantes", "Solicitantes", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h4>Solicitantes</h4>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div id="grid" style="margin-top: 10px;">
                        @(Html.DevExtreme().DataGrid<MASCore.TMasSolicitantes>().DataSource(Model.ResultadoListaSolicitantes)
                            .ColumnHidingEnabled(true).ShowColumnLines(true).ShowRowLines(true).RowAlternationEnabled(true).ShowBorders(true)
                            .Pager(p => p.AllowedPageSizes(new int[] { 5, 8, 15, 30 }).ShowInfo(true).ShowNavigationButtons(true).ShowPageSizeSelector(true).Visible(true))
                            .Paging(p => p.PageSize(5)).ShowColumnHeaders(true).WordWrapEnabled(true)
                            .FilterRow(filterRow => filterRow.Visible(true).ApplyFilter(GridApplyFilterMode.Auto)).Sorting(sorting => sorting.Mode(GridSortingMode.Multiple))
                            .Columns(columns => {
                                columns.AddFor(m => m.Nombre).Caption("Nombre");
                                columns.AddFor(m => m.Cargo).Caption("Cargo");
                                columns.AddFor(m => m.Telefono1).Caption("Teléfono");
                                columns.AddFor(m => m.Celular).Caption("Celular");
                                columns.AddFor(m => m.CorreoInstitucional).Caption("Correo");
                                columns.AddFor(m => m.Dependencia).Caption("Dependencia");
                                columns.AddFor(m => m.Ciudad).Caption("Ciudad");
                                columns.AddFor(m => m.Estado).Caption("Estado");
                                columns.AddFor(m => m.Id_Reg).FilterType(FilterType.Exclude).Caption("Acción").CellTemplate(@<text><a href='Details/<%= value %>'><i class="dx-icon far fa-folder tamanoIconoEnGrid"></i></a></text>);
                            })
                        )
                    </div>
                </div>
            </div>
        </div>
    </div>
}
