﻿@model MASCore.TMasSolicitantes

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>TMasSolicitantes</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Password)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Password)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PasswordFormat)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PasswordFormat)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PasswordSalt)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PasswordSalt)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Cargo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Cargo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Estado)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Estado)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Ciudad)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Ciudad)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Direccion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Direccion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Dependencia)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Dependencia)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Telefono1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Telefono1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Telefono2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Telefono2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Celular)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Celular)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Red1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Red1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Red2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Red2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CorreoInstitucional)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CorreoInstitucional)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CorreoAlterno)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CorreoAlterno)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Litoral)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Litoral)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Activo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Activo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AccesoWeb)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AccesoWeb)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
