﻿@model MASCore.TMasSolicitantes

@{
    ViewBag.Title = "Detalle Solicitante";
}

@using (Html.BeginForm("Details", "Solicitantes", FormMethod.Post, new { @class = "form-horizontal", @id = "miforma" }))
{
    <article>
        <div class="row">
            <div class="col-5">
                <h1>Detalle Solicitante</h1>
            </div>
            <div class="col-7 text-right">
                <script>
                    var idCedula = @Model.Id_Reg;
                    @*var urlComback = '@Url.Action("Index", "Solicitantes", null, Request.Url.Scheme)';
                    var urlEdit = '@Url.Action("Edit", "Solicitantes", null, Request.Url.Scheme)';*@
                </script>
                <div class="row">
                    <div class="col-10"></div>
                    <div class="col-1" style="padding:0">
                        @(Html.DevExtreme().Button().Icon("fas fa-edit").ElementAttr("class", "iconobotonedicion").ID("editarDetalle").UseSubmitBehavior(false).Type(ButtonType.Default).OnClick(@"function(args){edit(urlEdit,'?id='+idCedula)}"))
                        @(Html.DevExtreme().Tooltip().Target("#editarDetalle").ShowEvent("mouseenter").HideEvent("mouseleave").ContentTemplate("Editar"))
                    </div>
                    <div class="col-1" style="padding:0; text-align:center">
                        @(Html.DevExtreme().Button().Icon("fas fa-undo-alt").ID("regresar").UseSubmitBehavior(false).Type(ButtonType.Default).OnClick(@"function(args){comback(urlComback)}"))
                        @(Html.DevExtreme().Tooltip().Target("#regresar").ShowEvent("mouseenter").HideEvent("mouseleave").ContentTemplate("Regresar a la página anterior"))
                    </div>
                </div>
            </div>
        </div>
    </article>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h4>
                    <div class="row">
                        <div class="col-3" style="padding: 8px 0 0 0;margin: 0;text-align: center;">
                            <b>Id Usuario:</b>
                        </div>
                        <div class="col-9" style="padding: 0;margin: 0;">
                            @(Html.DevExtreme().TextBoxFor(model => model.Id_Reg).Disabled(true))
                        </div>
                    </div>
                </h4>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row col-12">
                    <div class="form" style="width:100%">
                        <div class="dx-fieldset">
                            @if (ViewBag.Valida7X24 == "1")
                            {
                                <div class="dx-field row">
                                    <label class="dx-field-label col-3">Nombre de usuario:</label>
                                    <div class="dx-field-value col-9" style="padding-right: 0;">
                                        @(Html.DevExtreme().TextBoxFor(model => model.UserName).Placeholder("Nombre de usuario").Width("100%").ElementAttr("class", "form-control").ShowClearButton(true).ReadOnly(true))
                                    </div>
                                </div>
                            }
                            <div class="dx-field row">
                                <label class="dx-field-label col-3">Nombre:</label>
                                <div class="dx-field-value col-9" style="padding-right: 0;">
                                    @(Html.DevExtreme().TextBoxFor(model => model.Nombre).Placeholder("Nombre").Width("100%").ElementAttr("class", "form-control").ShowClearButton(true).ReadOnly(true))
                                </div>
                            </div>
                            <div class="dx-field row">
                                <label class="dx-field-label col-3">Cargo:</label>
                                <div class="dx-field-value col-9" style="padding-right: 0;">
                                    @(Html.DevExtreme().TextBoxFor(model => model.Cargo).Placeholder("Cargo").Width("100%").ElementAttr("class", "form-control").ShowClearButton(true).ReadOnly(true))
                                </div>
                            </div>
                            <div class="dx-field row">
                                <label class="dx-field-label col-3">Estado:</label>
                                <div class="dx-field-value col-9" style="padding-right: 0;">
                                    @(Html.DevExtreme().TextBoxFor(model => model.Estado).Placeholder("Estado").Width("100%").ElementAttr("class", "form-control").ShowClearButton(true).ReadOnly(true))
                                </div>
                            </div>
                            <div class="dx-field row">
                                <label class="dx-field-label col-3">Ciudad:</label>
                                <div class="dx-field-value col-9" style="padding-right: 0;">
                                    @(Html.DevExtreme().TextBoxFor(model => model.Ciudad).Placeholder("Ciudad").Width("100%").ElementAttr("class", "form-control").ShowClearButton(true).ReadOnly(true))
                                </div>
                            </div>
                            <div class="dx-field row">
                                <label class="dx-field-label col-3">Dirección:</label>
                                <div class="dx-field-value col-9" style="padding-right: 0;">
                                    @(Html.DevExtreme().TextBoxFor(model => model.Direccion).Placeholder("Dirección").Width("100%").ElementAttr("class", "form-control").ShowClearButton(true).ReadOnly(true))
                                </div>
                            </div>
                            <div class="dx-field row">
                                <label class="dx-field-label col-3">Dependencia:</label>
                                <div class="dx-field-value col-9" style="padding-right: 0;">
                                    @(Html.DevExtreme().TextBoxFor(model => model.Dependencia).Placeholder("Dependencia").Width("100%").ElementAttr("class", "form-control").ShowClearButton(true).ReadOnly(true))
                                </div>
                            </div>
                            <div class="dx-field row">
                                <label class="dx-field-label col-3">Teléfono 1:</label>
                                <div class="dx-field-value col-9" style="padding-right: 0;">
                                    @(Html.DevExtreme().TextBoxFor(model => model.Telefono1).Placeholder("Teléfono 1").Width("100%").ElementAttr("class", "form-control").ShowClearButton(true).ReadOnly(true))
                                </div>
                            </div>
                            <div class="dx-field row">
                                <label class="dx-field-label col-3">Teléfono 2:</label>
                                <div class="dx-field-value col-9" style="padding-right: 0;">
                                    @(Html.DevExtreme().TextBoxFor(model => model.Telefono2).Placeholder("Teléfono 2").Width("100%").ElementAttr("class", "form-control").ShowClearButton(true).ReadOnly(true))
                                </div>
                            </div>
                            <div class="dx-field row">
                                <label class="dx-field-label col-3">Celular:</label>
                                <div class="dx-field-value col-9" style="padding-right: 0;">
                                    @(Html.DevExtreme().TextBoxFor(model => model.Celular).Placeholder("Celular").Width("100%").ElementAttr("class", "form-control").ShowClearButton(true).ReadOnly(true))
                                </div>
                            </div>
                            <div class="dx-field row">
                                <label class="dx-field-label col-3">Red 1:</label>
                                <div class="dx-field-value col-9" style="padding-right: 0;">
                                    @(Html.DevExtreme().TextBoxFor(model => model.Red1).Placeholder("Red 1").Width("100%").ElementAttr("class", "form-control").ShowClearButton(true).ReadOnly(true))
                                </div>
                            </div>
                            <div class="dx-field row">
                                <label class="dx-field-label col-3">Red 2:</label>
                                <div class="dx-field-value col-9" style="padding-right: 0;">
                                    @(Html.DevExtreme().TextBoxFor(model => model.Red2).Placeholder("Red 2").Width("100%").ElementAttr("class", "form-control").ShowClearButton(true).ReadOnly(true))
                                </div>
                            </div>
                            <div class="dx-field row">
                                <label class="dx-field-label col-3">Correo Institucional:</label>
                                <div class="dx-field-value col-9" style="padding-right: 0;">
                                    @(Html.DevExtreme().TextBoxFor(model => model.CorreoInstitucional).Placeholder("Correo Institucional").Width("100%").ElementAttr("class", "form-control").ShowClearButton(true).ReadOnly(true))
                                </div>
                            </div>
                            <div class="dx-field row">
                                <label class="dx-field-label col-3">Correo Alterno:</label>
                                <div class="dx-field-value col-9" style="padding-right: 0;">
                                    @(Html.DevExtreme().TextBoxFor(model => model.CorreoAlterno).Placeholder("Correo Alterno").Width("100%").ElementAttr("class", "form-control").ShowClearButton(true).ReadOnly(true))
                                </div>
                            </div>
                            <div class="dx-field row">
                                <label class="dx-field-label col-3">Litoral:</label>
                                <div class="dx-field-value col-9" style="padding-right: 0;">
                                    @(Html.DevExtreme().TextBoxFor(model => model.Litoral).Placeholder("Litoral").Width("100%").ElementAttr("class", "form-control").ShowClearButton(true).ReadOnly(true))
                                </div>
                            </div>
                            <div class="dx-field row">
                                <label class="dx-field-label col-3">Estatus:</label>
                                <div class="dx-field-label col-9">
                                    @(Html.DevExtreme().SwitchFor(m => m.Activo).Width("30%").SwitchedOffText("ELIMINADO").SwitchedOnText("VIGENTE").ElementAttr("class", "form-control").ReadOnly(true))
                                </div>
                            </div>
                            @if (ViewBag.Valida7X24 == "1")
                            {
                                <div class="dx-field row">
                                    <label class="dx-field-label col-3">Acceso Web:</label>
                                    <div class="dx-field-label col-9">
                                        @(Html.DevExtreme().SwitchFor(m => m.AccesoWeb).Width("30%").SwitchedOffText("ELIMINADO").SwitchedOnText("VIGENTE").ElementAttr("class", "form-control").ReadOnly(true))
                                    </div>
                                </div>
                            }
                            <p>Si el estatus es <b>ELIMINADO</b> el solicitante no aparecerá disponible para crear cedulas de solicitud de información.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
