﻿@model MASCore.Models.SolicitantesModel

@{
    ViewBag.Title = "Editar Solicitante";
}

<style>
    input[id="Solicitantes_UserName"], input[id="Solicitantes_Nombre"] {
        text-transform:uppercase;
    }
</style>

<script>
    function getCiudades(data) {
        $("#estado-indicator").dxLoadIndicator("option", "visible", true);
        $.ajax({
            url: '@Url.Action("CIUDADES", "SolicitudDeInformacion")',
            data: { idCiudad: data.value },
            dataType: "json",
            type: "POST",
            error: function () {
                $("#estado-indicator").dxLoadIndicator("option", "visible", false);
                alert("Ha ocurrido un error.");
            },
            success: function (data) {
                $("#estado-indicator").dxLoadIndicator("option", "visible", false);
                var items = [];
                $.each(data, function (i, item) {
                    items.push({ Resultado: item.Value });
                });

                $("#ciudad").dxSelectBox("instance").option({ "dataSource": items });
                $("#ciudad").dxSelectBox("instance").option({ "value": $("#ciudad2").val() });
            }
        });
    }

    function showpass(data) {
        $(".newpass").hide()
        if (data.value) {
            $(".newpass").show()
        }
    }

    setTimeout(function () { $(".newpass").hide(); }, 600)
</script>

@using (Html.BeginForm("Edit", "Solicitantes", FormMethod.Post, new { @class = "form-horizontal", @id = "miforma" }))
{
    <div id="errores" style="text-align:center; color:Red;font-size:medium">
        @ViewBag.NoValidoPor
        <script>
            $(document.body).ready(function () {
                var er = "@ViewBag.NoValidoPor"
                er = er.replace(/#-#/g, "<br/>")
                $("#errores").html(er)
            })
        </script>
        @Html.ValidationSummary(true)
    </div>

    <article>
        <div class="row">
            <div class="col-5">
                <h1>Editar Solicitante</h1>
            </div>
            <div class="col-7 text-right">
                <script>
                    @*var urlComback = '@Url.Action("Index", "Solicitantes", null, Request.Url.Scheme)';*@
                </script>
                <div class="row">
                    <div class="col-10"></div>
                    <div class="col-1" style="padding:0">
                        @(Html.DevExtreme().Button().Icon("fas fa-save").ElementAttr("class", "iconobotonedicion").ID("editarDetalle").UseSubmitBehavior(true).Type(ButtonType.Default))
                        @(Html.DevExtreme().Tooltip().Target("#editarDetalle").ShowEvent("mouseenter").HideEvent("mouseleave").ContentTemplate("Guardar"))
                    </div>
                    <div class="col-1" style="padding:0; text-align:center">
                        @(Html.DevExtreme().Button().Icon("fas fa-undo-alt").ID("regresar").UseSubmitBehavior(false).Type(ButtonType.Default).OnClick(@"function(args){comback(urlComback)}"))
                        @(Html.DevExtreme().Tooltip().Target("#regresar").ShowEvent("mouseenter").HideEvent("mouseleave").ContentTemplate("Regresar a la página anterior"))
                    </div>
                </div>
            </div>
        </div>
    </article>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h4>
                    <div class="row">
                        <div class="col-3" style="padding: 8px 0 0 0;margin: 0;text-align: center;">
                            <b>Id Usuario:</b>
                        </div>
                        <div class="col-9" style="padding: 0;margin: 0;">
                            @(Html.DevExtreme().TextBox().Value(Model.Solicitantes.Id_Reg.ToString()).Disabled(true))
                        </div>
                    </div>
                </h4>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row col-12">
                    <div class="form" style="width:100%">
                        <div class="dx-fieldset">
                            @if (ViewBag.Valida7X24 == "1")
                            {
                                <div class="dx-field row">
                                    <label class="dx-field-label col-3">Nombre de usuario:</label>
                                    <div class="dx-field-value col-9" style="padding-right: 0;">
                                        @(Html.DevExtreme().TextBoxFor(model => model.Solicitantes.UserName).Placeholder("Nombre de usuario").Width("100%").ElementAttr(new { @class = "form-control" }).ShowClearButton(true))
                                        @Html.ValidationMessageFor(model => model.Solicitantes.UserName)
                                    </div>
                                </div>
                            }
                            else
                            {
                                @Html.HiddenFor(m => m.Solicitantes.UserName)
                            }
                            @Html.HiddenFor(model => model.Solicitantes.Password)
                            @Html.HiddenFor(model => model.Solicitantes.Id_Reg)
                            <div class="dx-field row">
                                <label class="dx-field-label col-3">Nombre:</label>
                                <div class="dx-field-value col-9" style="padding-right: 0;">
                                    @(Html.DevExtreme().TextBoxFor(model => model.Solicitantes.Nombre).Placeholder("Nombre").Width("100%").ElementAttr("class", "form-control").ShowClearButton(true))
                                    @Html.ValidationMessageFor(model => model.Solicitantes.Nombre)
                                </div>
                            </div>
                            <div class="dx-field row">
                                <label class="dx-field-label col-3">Cargo:</label>
                                <div class="dx-field-value col-9" style="padding-right: 0;">
                                    @(Html.DevExtreme().TextBoxFor(model => model.Solicitantes.Cargo).Placeholder("Cargo").Width("100%").ElementAttr("class", "form-control").ShowClearButton(true))
                                    @Html.ValidationMessageFor(model => model.Solicitantes.Cargo)
                                </div>
                            </div>
                            <div class="dx-field row">
                                <label class="dx-field-label col-3">Estado:</label>
                                <div class="dx-field-value col-9" style="padding-right: 0;">
                                    @(Html.DevExtreme().SelectBoxFor(model => model.Solicitantes.Estado).OnValueChanged("getCiudades").Placeholder("-- Selecciona un Estado --").DataSource(ViewBag.estado).DisplayExpr("Resultado").ValueExpr("Resultado").Width("100%").ElementAttr("class", "form-control").ShowClearButton(true))
                                    @(Html.DevExtreme().LoadIndicator().ID("estado-indicator").Height(20).Width(20).Visible(false))
                                </div>
                            </div>
                            <div class="dx-field row">
                                <label class="dx-field-label col-3">Ciudad:</label>
                                <div class="dx-field-value col-9" style="padding-right: 0;">
                                    @(Html.DevExtreme().SelectBoxFor(model => model.Solicitantes.Ciudad).ID("ciudad").Placeholder("-- Selecciona una Ciudad --").DataSource(ViewBag.ciudad).DisplayExpr("Resultado").ValueExpr("Resultado").Width("100%").ElementAttr("class", "form-control").ShowClearButton(true))
                                    @Html.Hidden("ciudad2", Model.Solicitantes.Ciudad)
                                    <script>
                                        setTimeout(function () { getCiudades({ value: "@Model.Solicitantes.Estado" }); }, 600);
                                    </script>
                                </div>
                            </div>
                            <div class="dx-field row">
                                <label class="dx-field-label col-3">Dirección:</label>
                                <div class="dx-field-value col-9" style="padding-right: 0;">
                                    @(Html.DevExtreme().TextBoxFor(model => model.Solicitantes.Direccion).Placeholder("Dirección").Width("100%").ElementAttr("class", "form-control").ShowClearButton(true))
                                    @Html.ValidationMessageFor(model => model.Solicitantes.Direccion)
                                </div>
                            </div>
                            <div class="dx-field row">
                                <label class="dx-field-label col-3">Dependencia:</label>
                                <div class="dx-field-value col-9" style="padding-right: 0;">
                                    @(Html.DevExtreme().AutocompleteFor(model => model.Solicitantes.Dependencia).MinSearchLength(1).DataSource(d => d.Mvc().LoadAction("SearchResultadoGenerico_dependencia")).Placeholder("Dependencia").Width("100%").ElementAttr("class", "form-control").ShowClearButton(true))
                                    @Html.ValidationMessageFor(model => model.Solicitantes.Dependencia)
                                </div>
                            </div>
                            <div class="dx-field row">
                                <label class="dx-field-label col-3">Teléfono 1:</label>
                                <div class="dx-field-value col-9" style="padding-right: 0;">
                                    @(Html.DevExtreme().TextBoxFor(model => model.Solicitantes.Telefono1).Mode(TextBoxMode.Tel).Placeholder("Teléfono 1").Width("100%").ElementAttr("class", "form-control").ShowClearButton(true).Mask("(00) 0000-0000").MaskRules(new { X = new JS("/[02-9]/") }))
                                    @Html.ValidationMessageFor(model => model.Solicitantes.Telefono1)
                                </div>
                            </div>
                            <div class="dx-field row">
                                <label class="dx-field-label col-3">Teléfono 2:</label>
                                <div class="dx-field-value col-9" style="padding-right: 0;">
                                    @(Html.DevExtreme().TextBoxFor(model => model.Solicitantes.Telefono2).Mode(TextBoxMode.Tel).Placeholder("Teléfono 2").Width("100%").ElementAttr("class", "form-control").ShowClearButton(true).Mask("(00) 0000-0000").MaskRules(new { X = new JS("/[02-9]/") }))
                                    @Html.ValidationMessageFor(model => model.Solicitantes.Telefono2)
                                </div>
                            </div>
                            <div class="dx-field row">
                                <label class="dx-field-label col-3">Celular:</label>
                                <div class="dx-field-value col-9" style="padding-right: 0;">
                                    @(Html.DevExtreme().TextBoxFor(model => model.Solicitantes.Celular).Mode(TextBoxMode.Tel).Placeholder("Celular").Width("100%").ElementAttr("class", "form-control").ShowClearButton(true).Mask("(00) 0000-0000").MaskRules(new { X = new JS("/[02-9]/") }))
                                    @Html.ValidationMessageFor(model => model.Solicitantes.Celular)
                                </div>
                            </div>
                            <div class="dx-field row">
                                <label class="dx-field-label col-3">Red 1:</label>
                                <div class="dx-field-value col-9" style="padding-right: 0;">
                                    @(Html.DevExtreme().TextBoxFor(model => model.Solicitantes.Red1).Placeholder("Red 1").Width("100%").ElementAttr("class", "form-control").ShowClearButton(true))
                                    @Html.ValidationMessageFor(model => model.Solicitantes.Red1)
                                </div>
                            </div>
                            <div class="dx-field row">
                                <label class="dx-field-label col-3">Red 2:</label>
                                <div class="dx-field-value col-9" style="padding-right: 0;">
                                    @(Html.DevExtreme().TextBoxFor(model => model.Solicitantes.Red2).Placeholder("Red 2").Width("100%").ElementAttr("class", "form-control").ShowClearButton(true))
                                    @Html.ValidationMessageFor(model => model.Solicitantes.Red2)
                                </div>
                            </div>
                            <div class="dx-field row">
                                <label class="dx-field-label col-3">Correo Institucional:</label>
                                <div class="dx-field-value col-9" style="padding-right: 0;">
                                    @(Html.DevExtreme().TextBoxFor(model => model.Solicitantes.CorreoInstitucional).Mode(TextBoxMode.Email).Placeholder("Correo Institucional").Width("100%").ElementAttr("class", "form-control").ShowClearButton(true))
                                    @Html.ValidationMessageFor(model => model.Solicitantes.CorreoInstitucional)
                                </div>
                            </div>
                            <div class="dx-field row">
                                <label class="dx-field-label col-3">Correo Alterno:</label>
                                <div class="dx-field-value col-9" style="padding-right: 0;">
                                    @(Html.DevExtreme().TextBoxFor(model => model.Solicitantes.CorreoAlterno).Mode(TextBoxMode.Email).Placeholder("Correo Alterno").Width("100%").ElementAttr("class", "form-control").ShowClearButton(true))
                                    @Html.ValidationMessageFor(model => model.Solicitantes.CorreoAlterno)
                                </div>
                            </div>
                            <div class="dx-field row">
                                <label class="dx-field-label col-3">Litoral:</label>
                                <div class="dx-field-value col-9" style="padding-right: 0;">
                                    @(Html.DevExtreme().SelectBoxFor(model => model.Solicitantes.Litoral).Placeholder("-- Selecciona un Litoral --").DataSource(ViewBag.Litoral).DisplayExpr("Resultado").ValueExpr("Resultado").Width("100%").ElementAttr("class", "form-control").ShowClearButton(true))
                                </div>
                            </div>
                            <div class="dx-field row">
                                <label class="dx-field-label col-3">Estatus:</label>
                                <div class="dx-field-value col-9">
                                    @(Html.DevExtreme().SwitchFor(m => m.Solicitantes.Activo).Width("30%").SwitchedOffText("ELIMINADO").SwitchedOnText("VIGENTE").ElementAttr("class", "form-control"))
                                </div>
                            </div>
                            @if (ViewBag.Valida7X24 == "1")
                            {
                                <div class="dx-field row">
                                    <label class="dx-field-label col-3">Acceso Web:</label>
                                    <div class="dx-field-value col-9">
                                        @(Html.DevExtreme().SwitchFor(m => m.Solicitantes.AccesoWeb).Width("30%").SwitchedOffText("ELIMINADO").SwitchedOnText("VIGENTE").ElementAttr("class", "form-control"))
                                    </div>
                                </div>
                            }
                            <p>Si el estatus es <b>ELIMINADO</b> el solicitante no aparecerá disponible para crear cédulas de solicitud de información.</p>
                            @if (ViewBag.Valida7X24 == "1")
                            {
                                <div class="dx-field row">
                                    <div class="dx-field-label col-1">
                                        @(Html.DevExtreme().CheckBox().Name("CambiaPass").OnValueChanged("showpass").Width("100%"))
                                    </div>
                                    <div class="dx-field-label col-3">
                                        Nueva Contraseña
                                    </div>
                                    <div class="dx-field-value col-8 newpass">
                                        @(Html.DevExtreme().TextBoxFor(m => m.Clave).Mode(TextBoxMode.Password).Width("100%").ElementAttr("class", "form-control"))
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
