﻿@{
    ViewBag.Title = "Opciones Enlaces";
}
<article>

    <h2>Enlaces</h2>
    <h3>Panel de Opciones</h3>
    <div class="div-left">
        <ol class="round">
            <li class="one">
                <h5>@Html.ActionLink("Nueva Solicitud ", "NuevaSolicitud")</h5><br />
            </li>
                
            <li class="two">
                <h5>@Html.ActionLink("Buscar ", "BuscaSolicitud")</h5><br />
                @*Ingresando al módulo podra ver los detalles, editar,imprimir y/o exportar el documento encontrado.<br />*@
            </li>
        </ol>
    </div>
</article>
<aside>
    <h3>Notas de ayuda.</h3>
    <ul>
        <li>En espera a definir.</li>
        <li>En espera a definir.</li>
        <li>En espera a definir.</li>
        <li>En espera a definir.</li>
        <li>En espera a definir.</li>
        <li>En espera a definir.</li>
        <li>En espera a definir.</li>
    </ul>
</aside>
