﻿@model MASCore.Models.EnlacesModel

@{
    ViewBag.Title = "NuevaSolicitud";
}


<div id="titulo">
    <h3 style="color:#0F2C48;text-align:center"><u>-  Nueva Solicitud de Enlace  -</u></h3>
</div>
<div style="text-align:center; color:Red;font-size:medium">
    @ViewBag.NoValidoPor
</div>

<div id="body" display:none;padding-left:-100px">
    <table>
        <tr>
           Datos Generales
            <td>
               Fecha: @Html.EditorFor(Model => Model.Fecha, new { id = "fecha"})
            </td>
            <td>
               Hora: @Html.EditorFor(Model => Model.Hora, new {id = "hora"})
            </td>
        </tr>
        <tr>
            <td>
                Tipo de reporte: @Html.DropDownList("TipoReporte", null, new { id = "TipoReporte" })
            </td>
        </tr>
    </table>
</div>