﻿
ul.nav.child_menu li > a:hover, ul.nav.child_menu li > a:focus {
    text-decoration: none;
    background-color: #eee;
    color: #333;
}

.foot {
    background: #fff;
    bottom: 0;
    clear: both;
    display: block;
    margin-left: 10px;
    position: fixed;
    width: 65%;
    z-index: 999;
    text-align: right;
}

.sidebar-footer {
    bottom: 0;
    clear: both;
    display: block;
    position: fixed;
    width: 21.3%;
    background: #2A3F54;
    z-index: 999;
}
.sidebar-footer a {
    padding: 7px 0 3px;
    text-align: center;
    width: 25%;
    font-size: 17px;
    display: block;
    float: left;
    background: #172D44;
    cursor: pointer;
    color: #337ab7;
}

.activo {
    display: block !important;
    visibility: visible !important;
}

.dx-state-disabled.dx-widget, .dx-state-disabled .dx-widget {
    opacity: 1 !important;
    border: transparent !important;
}
.oculto {
    display: none;
    visibility: hidden;
}

.tabul {
    padding-right: 0;
    margin-right: 0;
    width: 100%;
}

.activeted {
    background: #2A3F54;
    opacity: .8;
    color: white;
}

.tabul > ul {
    display: flex;
    padding: 0;
    margin: 0;
    width: 100%;
    border-bottom: 1px solid #E6E9ED;
}

    .tabul > ul > li {
        list-style: none;
        padding-left: 1.2vw;
        padding-right: 1.2vw;
        border-left: 1px solid #E6E9ED;
        border-right: 1px solid #E6E9ED;
        border-radius: 4px 4px 0 0;
        height: 7vh;
        padding-top: 2vh;
        border-top: 1px solid #E6E9AD;
        border-top-style: groove;
        cursor: pointer;
    }
.tabul > ul > li:hover {
    border-bottom: 3px solid #1ABB9C;
    opacity: .6;
}

.flexible {
    flex: 0 0 3%;
}

.pie {
    width: 88%;
    margin-left: 0;
}

.agrandarEnCol1 {
    font-size: 25px !important;
    padding-left: 35px;
}

.abajoEnCol12 {
    text-align: center;
}

    .abajoEnCol12[aria-valor='OFP'],
    .abajoEnCol12[aria-valor='kardex'],
    .abajoEnCol12[aria-valor='cedula'] {
        padding-left: 23px;
    }

    .abajoEnCol12[aria-valor='mtto'] {
        padding-left: 2px;
    }

    .abajoEnCol12[aria-valor='info'],
    .abajoEnCol12[aria-valor='Docs'] {
        padding-left: 10px;
    }

.aunladosubmenu {
    position: absolute;
    margin-left: 90px !important;
    float: right;
    z-index: 1;
    background: #425668;
    width: 100px;
}

    .aunladosubmenu > li {
        padding-left: 10px !important;
    }

        .aunladosubmenu > li:before {
            content: none !important;
        }

        .aunladosubmenu > li:after {
            content: none !important;
        }

.tamanoIconoEnGrid {
    font-size: 25px !important;
}

.dx-tab {
    width: 100%;
}

.dx-field-label {
    white-space: unset !important;
}

div.dx-overlay-wrapper.dx-popup-wrapper.dx-overlay-modal.dx-overlay-shader > div.dx-overlay-content.dx-popup-normal.dx-resizable { /*> div.dx-popup-content {*/
    overflow: auto !important;
}


.iconobotonedicion > div.dx-button-content > i.dx-icon {
    font-size: 16px;
}

div.dx-switch[aria-label="APAGADO"] > div.dx-switch-wrapper > div.dx-switch-container > div.dx-switch-inner > div.dx-switch-handle:before {
    background-color: #98bad9 !important;
}

div.dx-tabs > div.dx-tabs-wrapper > div.dx-tab > div.dx-tab-content > i.dx-icon {
    font-size: 12px;
    margin-right: 1px;
}

div.dx-tabs > div.dx-tabs-wrapper > div.dx-tab {
    padding-left: 3px;
}

.colorlista {
    color: #e5b500;
}

.botonderechocarrusel {
    position: absolute;
    /*margin-top: 10px;*/
    font-size: 60px;
    cursor: pointer;
    float: right;
    text-align: right;
    right: 0;
    margin-right: -30px;
}

.botonizquierdocarrusel {
    position: absolute;
    /*margin-top: 10px;*/
    font-size: 60px;
    cursor: pointer;
}

.carrusel {
    margin-top: 90px;
}
